@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.DRRG.Models.DashboardUserDetails


<div class="grid">
    <div class="grid__row mb24 grid__row-tight_gutter">
        <div class="grid__column grid__column--6">
            <!-- m43-account-selector-start -->
            @*<div class="m43-accountsel" data-component="m43-account-selector">
                    <div class="m66-preloader small" style="display: none;">
                        <div class="loader-small"></div>
                    </div>
                    <div class="m43-accountsel-hidden" style="">
                        <button class="m43-accountsel__selected m43-accountsel__selected--dropdown1"
                                data-accountselector="acc-sel-1" data-preventsubmit="true" aria-haspopup="true" aria-expanded="false" type="button" id="_xp7xlywm5_trigger" aria-controls="_xp7xlywm5_content">
                            <span class="m43-accountsel__account" data-acc-detail="wrapper">
                                @if (!string.IsNullOrWhiteSpace(Model.Logofile))
                                {
                                    <img src='@("data:image;base64," + Model.Logofile)' class="m43-accountsel__image" alt="@Model.Firstname" role="presentation" data-acc-detail="acc_image">
                                }
                                <div class="m43-accountsel__header">
                                    <div class="m43-accountsel__secondarydetails m43-accountsel__nickname">
                                        <span class="inline-block" dir="ltr">
                                            <strong>@Model.Firstname</strong>
                                        </span>
                                    </div>
                                    <span class="m43-accountsel__name">
                                        <span class="inline-block" dir="ltr">@Model.Manufacturername</span>
                                    </span>
                                </div>
                            </span>
                        </button>
                    </div>
                </div>*@
            <div class="m43-accountsel" data-component="m43-account-selector">

                <div class="m43-accountsel-hidden" style="">

                    <button class="m43-accountsel__selected m43-accountsel__selected--dropdown" data-accountselector="acc-sel-1" data-preventsubmit="true" aria-haspopup="true" aria-expanded="false" type="button" id="_eqrf3dzl4_trigger" aria-controls="_eqrf3dzl4_content">
                        <span class="m43-accountsel__account" data-acc-detail="wrapper">

                            @if (!string.IsNullOrWhiteSpace(Model.Logofile))
                            {
                                <img src='@("data:image;base64," + Model.Logofile)' class="m43-accountsel__image" alt="@Model.Firstname" role="presentation" data-acc-detail="acc_image">
                            }

                            <div class="m43-accountsel__header">

                                <span class="m43-accountsel__name" data-acc-detail="acc_name">
                                    <span class="inline-block" dir="ltr">@(Model.Firstname + " " + Model.Lastname)</span>

                                </span>

                                <div class="m43-accountsel__secondarydetails">
                                    <span dir="ltr" data-acc-detail="address">
                                        @Model.Manufacturername
                                    </span>
                                </div>
                                <div class="m43-accountsel__details">
                                    <span dir="ltr" data-acc-detail="type"></span><span title="Account">Manufacturer Registration Number </span>
                                    <span dir="rtl" data-acc-detail="acc_number">(@Model.ManufacturerCode)</span>
                                </div>

                            </div>

                        </span>


                    </button>

                </div>
            </div>
            <!-- m42-account-selector-end -->
        </div>
    </div>
</div>
