@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
<div class="m79-dashboard-tools" data-component="m79-dashboard-tools">
    <div class="m79-dashboard-tools--wrapper">

        <div class="m79-dashboard-tools--greeting_wrapper" data-greeting='{"morning":"@(Translate.Text("Good morning"))", "afternoon":"@(Translate.Text("Good afternoon"))", "evening":"@(Translate.Text("Good evening"))"}'>
            <span class="m79-dashboard-tools--greeting"></span> <strong>@ViewBag.Name</strong>
        </div>
        <div class="m79-dashboard-tools--buttons_wrapper">
            <div class="m79-dashboard-tools--buttons_item">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DRRG_UPDATEPROFILE_WARNING)" class="button icon-Leave_Feedback">
                    @Translate.Text("Update Customer Information")
                </a>
            </div>
        </div>

    </div>
</div>
<!--usermodule-->
@Html.Sitecore().Placeholder("usermodule")
<div class="j02-drrg-dashboard">
    <div class="box--news">
        <div class="grid">
            @Html.Sitecore().Placeholder("pagetitle")
            @Html.Sitecore().Placeholder("m1teaser")
        </div>
    </div>
</div>