@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Feature.DRRG.Models
@using DEWAXP.Foundation.Content
@{
    var successmsg = string.Empty;
    var link = string.Empty;
    var linktext = string.Empty;
    var refId = ViewBag.Referenceid;
    if (ViewBag.Module == FileEntity.PVmodule)
    {
        successmsg = Translate.Text("DRRG.PVmodulesuccessmessage").Replace("{referenceid}", refId);
        link = @LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DRRG_PVMODULE);
        linktext = Translate.Text("Add More PV Module");
    }
    else if (ViewBag.Module == FileEntity.Interfacemodule)
    {
        successmsg = Translate.Text("DRRG.Interfacemodulesuccessmessage").Replace("{referenceid}", refId);
        link = @LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DRRG_INTERFACEMODULE);
        linktext = Translate.Text("Add More Interface Module");
    }
    else if (ViewBag.Module == FileEntity.Invertermodule)
    {
        successmsg = Translate.Text("DRRG.Invertermodulesuccessmessage").Replace("{referenceid}", refId);
        link = @LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DRRG_INVERTERMODULE);
        linktext = Translate.Text("Add More Inverter Module");
    }
}
<div class="j03-drrg-addnew">
    <div class="grid">
        @Html.Sitecore().Placeholder("pagetitle")
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <div class="m40v2-status-message m40v2-status-message--success  icon icon-new-success-message " data-component="m40v2-status-message">
                    <div class="m40v2-status-message__title">@Translate.Text("Submission Successful")</div>
                    <div class="m40v2-status-message__text">@Html.Raw(successmsg)</div>
                    <div class="m40v2-status-message__text">@Translate.Text("DRRG.modulemesssage2")<a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DRRG_VIEWAPPLICATION)"><span class="green">"@Translate.Text("DRRG.ViewApplicationStatus")"</span></a>@Translate.Text("DRRG.modulemesssage3")</div>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <h2 class="text__section-title">@Translate.Text("Other Details")</h2>
                <div class="m42-keyvalue">
                    <dl>
                        <dt class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">@Translate.Text("Request Reference Number")</dt>
                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd green">@((string)ViewBag.Referenceid)</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--centered grid__column--form">
                <h2 class="text__section-title">@Translate.Text("WhatNext")</h2>
                <div class="m14-richtext mb0">
                    <p class="text__content-copy">
                        @Translate.Text("DRRG.receiveemail")
                    </p>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--content grid__column--centered">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DRRG_DASHBOARD)" class="button button--outline button--back backbutton" role="button">@Translate.Text("Back to Home page")</a>
                <a href="@link" class="button button--primary button--next" role="button">@linktext</a>
            </div>
        </div>

    </div>
</div>