@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
<div class="grid">
    @Html.Sitecore().Placeholder("pagetitle")

    <div class="grid__row error-html">
        <div class="grid__column grid__column--12 grid__column--content">
            <div class="m40v2-status-message m40v2-status-message--error icon icon-caution" data-component="m40v2-status-message">
                <div class="m40v2-status-message__title icon--error">
                    @Sitecore.Globalization.Translate.Text("Warning")
                </div>
                <div class="m40v2-status-message__text">
                    @Html.Raw(Sitecore.Globalization.Translate.Text("Update Profile warning description"))
                </div>
            </div>
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--content grid__column--centered">
            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DRRG_DASHBOARD)" class="button button--outline button--back backbutton" role="button">@Translate.Text("Go Back")</a>
            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DRRG_UPDATEPROFILE)" class="button button--primary button--next" role="button">@Translate.Text("Proceed")</a>
        </div>
    </div>
</div>
