@using DEWAXP.Feature.CommonComponents.Models.RenderingParameters
@using Sitecore.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc.Presentation
@model DEWAXP.Feature.CommonComponents.Models.Renderings.M157ListContainer

@if (Model != null && Model.LstItems != null && Model.LstItems.Count() > 0)
{
<div class="box box--ipo" style="background-image: url('@(Model.Image != null ? Model.Image.Src : string.Empty)');">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                @foreach (var container in Model.LstItems)
                {
                    <div class="j157-ir-km-row">
                        <div class="j157-ir-km-title">
                            @container.Title
                        </div>
                        <div class="j157-ir-km-wrapper">
                            @foreach (var item in container.Items)
                            {
                                <div class="j157-ir-km-item">
                                    <div class="j157-ir-km-item--inner">
                                        <div class="j157-ir-km-value">
                                            @item.Value
                                        </div>
                                        <div class="j157-ir-km-key">
                                            @item.Title
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                <div class="j157-ir-km-footnote">
                    @Translate.Text("m157.footernote")
                </div>
            </div>
        </div>
    </div>
</div>
}

