@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Glass.Mapper.Sc.Web.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.SmartAppSection

@if (Model != null)
{
    <div class="box box--2">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">

                    <div class="m16-smart-app">
                        <div class="m16-smart-app--imgwrapper">
                            @Html.Glass().RenderImage(Model, x => x.MainImage, new { @class = "m16-smart-app--img" })
                        </div>
                        <div class="m16-smart-app--store_wrapper">
                            <div class="m16-smart-app--title">
                                @Html.Glass().Editable(Model, x => x.Header)
                            </div>
                            <div class="m16-smart-app--subtitle">
                                @Html.Glass().Editable(Model, x => x.SubHeader)
                            </div>
                            <div class="m16-smart-app--store_imgwrapper">
                                @foreach (var item in Model.AppLinkImage)
                                {
                                    using (@Html.Glass().BeginRenderLink(item, x => x.Link, new { @class = "m16-smart-app--store_link" }))
                                    {
                                        @Html.Glass().RenderImage(item, x => x.Image, new { @class = "m16-smart-app--store_img" })
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}