@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore
@using Sitecore.Mvc
@using System.Globalization
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M36VideoTeaserSet


<div class="grid__row">
    <div class="grid__column grid__column--12">
        <div class="m36-videoplayer-teaser" data-component="m36-video-player">
            <div class="m17-sectiontitle " data-component="m17-sectiontitle">
                <h3 class="m17-sectiontitle__title  text__section-title ">@Model.Header</h3>
            </div>
            <div class="m36-videoplayer-teaser--row">
                @if (Model.Children != null && Model.Children.Count() > 0)
                {
                    foreach (var item in Model.Children)
                    {
                        <div class="m36-videoplayer-teaser--column m36-videoplayer-teaser--3">
                            <div class="m36-videoplayer-teaser--img" style="background-image: url('@(item.MainImage!=null ? item.MainImage.Src :  "")');"></div>
                            <div class="m36-videoplayer-teaser--title">
                                @item.Title
                            </div>
                            @if (!string.IsNullOrWhiteSpace(item.VideoSource))
                            {
                                <div class="m36-videoplayer-teaser--video" data-iframe="@item.VideoSource" style="background-image: url('@(item.VideoBackgroundImage!= null ?item.VideoBackgroundImage.Src:"")');"></div>
                                <div class="m36-videoplayer-teaser--vidDetails">
                                    <span class="m36-videoplayer-teaser--vidName">@item.VideoName</span>
                                    @if (item.VideoDate != null && item.VideoDate.Ticks > 0)
                                    {
                                    <span class="m36-videoplayer-teaser--vidDate">@item.VideoDate.ToString("dd MMMM yyyy", Sitecore.Context.Culture)</span>
                                    }
                                </div>
                                <div class="m36-videoplayer-teaser--vidDesc">
                                    @Html.Raw(item.Description)
                                </div>
                                <a href="@(!string.IsNullOrWhiteSpace(item.RedirectURL) ? item.RedirectURL : "")" class="link">
                                    @Html.Raw(item.RedirectURLText)
                                </a>
                            }
                        </div>
                    }
                }
            </div>

            <div class="m39-modal m39-modal--new m39-modal--video" data-component="m39-modal" id="modal_true">
                <button data-trigger="true" class="m39-modal__trigger hidden" type="button" id="_2o7ocbf4d_trigger" aria-controls="_2o7ocbf4d_content">button</button>
                <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="false" id="_2o7ocbf4d_content" aria-labelledby="_2o7ocbf4d_trigger">
                    <div class="m39-modal__dialog">
                        <div class="m39-modal__header p0">
                            <div class="m39-modal__title"></div>
                            <a data-close="true" class="m39-modal__button--close" id="_2o7ocbf4d_close" aria-controls="_2o7ocbf4d_content"></a>
                        </div>
                        <div class="m39-modal__content p0" style="top: 24px;"></div>
                        <div class="m39-modal--video_alt"></div>
                    </div>
                </div>
                <div class="m39-modal__overlay" style="display: none;"> </div>
            </div>
        </div>
    </div>
</div>
