@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@model DEWAXP.Feature.CommonComponents.Models.Renderings.NewsCampaignServices

@if (Model != null)
{
    <div class="grid__row">
        @if (Model.articlesListing != null)
        {
            <div class="grid__column grid__column--6">
                <div class="grid__row">
                    <div class="grid__column grid__column--12">
                        <div class="m17-sectiontitle t1-newsCampaigns">
                            @if (!string.IsNullOrWhiteSpace(Model.NewsHeader))
                            {
                                <h2 class="m17-sectiontitle__title text__section-title">@Html.Glass().Editable(Model, x => x.NewsHeader)</h2>
                            }
                            @using (Html.Glass().BeginRenderLink(Model, x => x.NewsViewAllLink, attributes: new { @style = "z-index:99;", @class = "m17-sectiontitle__cta button button--text button--next" }))
                            {
                                @Translate.Text("View All")
                            }
                        </div>
                    </div>
                </div>
                <div class="grid__row">
                    <div class="grid__column grid__column--12">
                        <div class="m3v1-carousel" data-component="m3v1-carousel">
                            <div class="m3v1-carousel__container">
                                <div class="m3v1-carousel__carousel">
                                    @foreach (var slide in Model.articlesListing.Children)
                                    {
                                        <div class="m3v1-carousel__slide">
                                            <div class="m3v1-carousel__slide-inner">
                                                <div class="m3v1-carousel__image-container" style="background: url(@slide.TeaserImage.Src) no-repeat center center;">
                                                </div>
                                                <div class="m3v1-carousel__slide-panel">
                                                    <div class="m3v1-carousel__slide-panel--inner">
                                                        <div class="m3v1-carousel__slide-panel-text">
                                                            @Html.Glass().Editable(slide, x => x.PublishDate.ToString("dd MMM yyyy", global::Sitecore.Context.Language.CultureInfo).Replace("يوليه", "يوليو"))
                                                        </div>
                                                        <div class="m3v1-carousel__slide-panel-title dark">
                                                            @if (!string.IsNullOrWhiteSpace(slide.Header))
                                                            {
                                                                <h3>@Html.Glass().Editable(slide, x => x.Header)</h3>
                                                            }
                                                        </div>
                                                        <div class="m3v1-carousel__slide-panel-text">
                                                            <p>@Html.Glass().Editable(slide, x => x.Summary)</p>
                                                        </div>
                                                        <div class="m3v1-carousel__cta-button-container">
                                                            <div>
                                                                <form action="@slide.Url">
                                                                    <button aria-label="Read article" class="button button--primary button--next">
                                                                        Read article
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
        <div class="grid__column grid__column--6">
            @if (Model.LatestCampaign != null)
            {
                <div class="grid__row">
                    <div class="grid__column grid__column--12">
                        <div class="m17-sectiontitle t1-newsCampaigns">
                            @if (!string.IsNullOrWhiteSpace(Model.CampaignHeader))
                            {
                                <h2 class="m17-sectiontitle__title text__section-title">@Html.Glass().Editable(Model, x => x.CampaignHeader)</h2>
                            }
                            @using (Html.Glass().BeginRenderLink(Model, x => x.CampaignViewAllLink, attributes: new { @class = "m17-sectiontitle__cta button button--text button--next" }))
                            {
                                @Translate.Text("View All")
                            }
                        </div>
                    </div>
                </div>
                <div class="grid__row">
                    <div class="grid__column grid__column--12">

                        <div class="m7v1-teaser" data-component="m7v1-teaser">
                            <div class="m7v1-teaser__container">
                                <div class="m7v1-teaser__carousel if-desktop">
                                    @foreach (var campaign in Model.LatestCampaign)
                                    {
                                        if (campaign != null && campaign.Image != null && campaign.Image.Src != null)
                                        {
                                            <div class="m7v1-teaser__slide" style="background: url(@campaign.Image.Src) no-repeat center;">
                                                <form action="@campaign.Url">
                                                    <button>
                                                        <div class="m7v1-teaser__slide-inner">
                                                            <div class="m7v1-teaser__slide-panel">
                                                                <div class="m7v1-teaser__slide-panel--inner">
                                                                    <div class="m7v1-teaser__slide-panel-title">
                                                                        @if (string.IsNullOrWhiteSpace(campaign.Header))
                                                                        {
                                                                            <h3>@Html.Glass().Editable(campaign, x => x.Header)</h3>
                                                                        }
                                                                    </div>
                                                                    <div class="m7v1-teaser__slide-panel-text">
                                                                        @if (string.IsNullOrWhiteSpace(campaign.Subheader))
                                                                        {
                                                                            <p>@Html.Glass().Editable(campaign, x => x.Subheader)</p>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </button>
                                                </form>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="m7v1-teaser__carousel if-mobile">
                                    @foreach (var campaign in Model.LatestCampaign)
                                    {
                                        if (campaign != null && campaign.Image != null && campaign.Image.Src != null)
                                        {
                                            <form action="@campaign.Url">
                                                <button>
                                                    <div class="m7v1-teaser__slide" style="background: url(@campaign.Image.Src) no-repeat center;">
                                                    </div>
                                                    <div class="m7v1-teaser__slide-inner">
                                                        <div class="m7v1-teaser__slide-panel">
                                                            <div class="m7v1-teaser__slide-panel--inner">
                                                                <div class="m7v1-teaser__slide-panel-title">
                                                                    @if (!string.IsNullOrWhiteSpace(campaign.Header))
                                                                    {
                                                                        <h3>@Html.Glass().Editable(campaign, x => x.Header)</h3>
                                                                    }
                                                                </div>
                                                                <div class="m7v1-teaser__slide-panel-text">
                                                                    @if (!string.IsNullOrWhiteSpace(campaign.Subheader))
                                                                    {
                                                                        <p>@Html.Glass().Editable(campaign, x => x.Subheader)</p>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </button>
                                            </form>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
            @if (Model.LatestServices != null)
            {
                <div class="grid__row">
                    <div class="grid__column grid__column--12">
                        <div class="m17-sectiontitle t1-newsCampaigns">
                            <h2 class="m17-sectiontitle__title text__section-title">@Html.Glass().Editable(Model, x => x.ServiceHeader)</h2>
                            @using (Html.Glass().BeginRenderLink(Model, x => x.ServiceViewAllLink, attributes: new { @class = "m17-sectiontitle__cta button button--text button--next" }))
                            {
                                @Translate.Text("View All")
                            }
                        </div>
                    </div>
                </div>
                <div class="grid__row if-desktop">
                    <div class="grid__column grid__column--12">
                        <div class="m7v1-teaser " data-component="m7v1-teaser">
                            <div class="m7v1-teaser__container">
                                <div class="m7v1-teaser__carousel if-desktop">
                                    @foreach (var service in Model.LatestServices)
                                    {
                                        if (service != null && service.Image != null && service.Image.Src != null)
                                        {
                                            <div class="m7v1-teaser__slide" style="background: url(@service.Image.Src);">
                                                <form action="@service.Url">
                                                    <button>
                                                        <div class="m7v1-teaser__slide-inner">
                                                            <div class="m7v1-teaser__slide-panel">
                                                                <div class="m7v1-teaser__slide-panel--inner">
                                                                    <div class="m7v1-teaser__slide-panel-title">
                                                                        @if (!string.IsNullOrWhiteSpace(service.Header))
                                                                        {
                                                                            <h3>@Html.Glass().Editable(service, x => x.Header)</h3>
                                                                        }
                                                                    </div>
                                                                    <div class="m7v1-teaser__slide-panel-text">
                                                                        @Html.Glass().Editable(service, x => x.Subheader)
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </button>
                                                </form>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__row if-mobile">
                    <div class="m7v1-teaser" data-component="m7v1-teaser">
                        <div class="m7v1-teaser__container">
                            <div class="m7v1-teaser__carousel  if-mobile">
                                @foreach (var service in Model.LatestServices)
                                {
                                    if (service != null && service.Image != null && service.Image.Src != null)
                                    {
                                        <form action="@service.Url">
                                            <button>
                                                <div class="m7v1-teaser__slide" style="background: url(@service.Image.Src);">
                                                </div>

                                                <div class="m7v1-teaser__slide-inner">
                                                    <div class="m7v1-teaser__slide-panel">
                                                        <div class="m7v1-teaser__slide-panel--inner">
                                                            <div class="m7v1-teaser__slide-panel-title">
                                                                @if (!string.IsNullOrWhiteSpace(service.Header))
                                                                {
                                                                    <h3>@Html.Glass().Editable(service, x => x.Header)</h3>
                                                                }
                                                            </div>
                                                            <div class="m7v1-teaser__slide-panel-text">
                                                                @Html.Glass().Editable(service, x => x.Subheader)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </button>
                                        </form>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}