@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Data.Managers
@using DEWAXP.Foundation.Helpers.Extensions


@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.Teaser

@if (Model != null)
{
    if (Model.Link == null)
    {
        <div class="m6-teaser teaser__link">
            <div class="m6-teaser__content icon @Model.Icontext">
                @*@Html.Glass().RenderImage(Model, x => x.Image, new { role = "presentation", aria_hidden = "true", @class = "m6-teaser__image",Width=66,Height=48 }, true, false)*@
                <h2 class="m6-teaser__title">@Html.Glass().Editable(x => x.Header)</h2>
                <p class="m6-teaser__text teaser__copy">@Html.Glass().Editable(x => x.Subheader)</p>
            </div>
        </div>
    }
    else if (Model.IsHayakTeaser)
    {
        if (LanguageManager.GetLanguage("en") == Model.Language)
        {
            <a onclick="open_unyco_popup('ChatEnglish', 'https://webchat.dewa.gov.ae')" class="m6-teaser teaser__link js-hayak-popupy" href="#">
                <div class="m6-teaser__content icon @Model.Icontext">
                    @* @Html.Glass().RenderImage(Model, x => x.Image, new {title = Model.Header, alt = Model.Header, role = "presentation", aria_hidden = "true", @class = "m6-teaser__image", Width = 66, Height = 48 }, true, false)*@
                    <h2 class="m6-teaser__title">@Html.Glass().Editable(x => x.Header)</h2>
                    <p class="m6-teaser__text teaser__copy">@Html.Glass().Editable(x => x.Subheader)</p>
                </div>
            </a>

            <!-- English one -->
            <div id="unyco_containerss2lsihdt7">
                <script type="text/javascript" id="wcsScriptInclusion" src="https://webchat.dewa.gov.ae/StaticButton/static_button.js?code=ChatEnglish&rnd=ss2lsihdt7"></script>
            </div>
        }
        else
        {
            <a onclick="open_unyco_popup('ChatArabic', 'https://webchat.dewa.gov.ae')" class="m6-teaser teaser__link js-hayak-popupy" href="#">
                <div class="m6-teaser__content icon @Model.Icontext">
                    @* @Html.Glass().RenderImage(Model, x => x.Image, new { title = Model.Header, alt = Model.Header, role = "presentation", aria_hidden = "true", @class = "m6-teaser__image" }, true, false)*@
                    <h2 class="m6-teaser__title">@Html.Glass().Editable(x => x.Header)</h2>
                    <p class="m6-teaser__text teaser__copy">@Html.Glass().Editable(x => x.Subheader)</p>
                </div>
            </a>

            <!-- Arabic one-->
            <div id="unyco_containerss2lsihdt7">
                <script type="text/javascript" id="wcsScriptInclusion" src="https://webchat.dewa.gov.ae/StaticButton/static_button.js?code=ChatArabic&rnd=ss2lsihdt7"></script>
            </div>
        }
    }
    else if (Model.Image != null || Model.BackgroundImage != null)
    {
        string bgsrc = Model.BackgroundImage != null ? "background-image:url('" + Model.BackgroundImage.Src + "')" : "";
        <!-- m6-teaser-start -->
        <a href="@Model.Link.Url" @Model.Link.GetUrlAttributes() class="m6-teaser teaser__link m6-teaser--background" style="@bgsrc">
            <div class="m6-teaser__content ">

                @if (!string.IsNullOrWhiteSpace(Model.Icontext))
                {
                    @Html.Glass().RenderImage(Model, x => x.Image, new { role = "presentation", aria_hidden = "true", @class = "m6-teaser__title-img " + Model.Icontext }, true, false)
                }
                else
                {
                    @Html.Glass().RenderImage(Model, x => x.Image, new { role = "presentation", aria_hidden = "true", @class = "m6-teaser__title-img m6-teaser__title-img-large-2" }, true, false)
                }
                @if (!string.IsNullOrEmpty(Model.Header))
                {
                    <h2 class="m6-teaser__title">@Html.Glass().Editable(x => x.Header)</h2>
                }
                <p class="m6-teaser__text teaser__copy  m6-teaser__btext">@Html.Glass().Editable(x => x.Subheader)</p>
            </div>
        </a>
        <!-- m6-teaser-end -->
    }
    else
    {
        <a href="@Model.Link.Url" @Model.Link.GetUrlAttributes() class="m6-teaser teaser__link">
            <div class="m6-teaser__content icon @Model.Icontext">
                @*@Html.Glass().RenderImage(Model, x => x.Image, new { title = Model.Header, alt = Model.Header, role = "presentation", aria_hidden = "true", @class = "m6-teaser__image", Width = 66, Height = 48 }, true, false)*@
                <h2 class="m6-teaser__title">@Html.Glass().Editable(x => x.Header)</h2>
                <p class="m6-teaser__text teaser__copy">@Html.Glass().Editable(x => x.Subheader)</p>
            </div>
        </a>




    }
}
