@using Sitecore.Links
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M6TeaserSet

@if (!string.IsNullOrWhiteSpace(Model.Header))
{
    @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Generic/M17 Section Title.cshtml", Model)
}

@if (Model.Children.Any())
{
    foreach (var group in Model.Children.Batch(2))
    {
        <div class="grid__row">
            @foreach (var item in group)
            {
                <div class="grid__column grid__column--6">
                    @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Teasers/M6 Teaser.cshtml", item)
                </div>
            }
        </div>
    }

    if (!string.IsNullOrWhiteSpace(@Model.ButtonText) && Model.ButtonLink != null)
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--centered">
                <p>
                    <a href="@LinkManager.GetItemUrl(Model.ButtonLink)" class="button button--primary button--next">@Model.ButtonText</a>
                </p>
            </div>
        </div>
    }
}
