@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Links
@model DEWAXP.Feature.CommonComponents.Models.Renderings.M60Carousel

@if (Model != null && Model.Children != null)
{
<div class="grid__row m60-teaser-grid" data-component="m60-teaser">
    @foreach (var item in Model.Children)
    {
        string AltHtml = item.Image != null && !string.IsNullOrEmpty(item.Image.Alt) ? string.Format("data-alt=\"{0}\"", item.Image.Alt) : "";
        <div class="grid__column grid__column--3">
            <!-- start m60-teaser-->
            <div class="m60-teaser">
                <a href="@(item.ButtonLink != null ? @LinkManager.GetItemUrl(item.ButtonLink) : "#")" class="teaser__link m60-small">
                    <div class="m60-teaser-image" @Html.Raw(AltHtml) style="background-image: url('@(item.Image != null ? @item.Image.Src : "none")')"></div>
                    <div class="teaser__content">
                        <h2 class="teaser__title">@Html.Glass().Editable(item, x => x.Header)</h2>
                        <p class="teaser__copy">@Html.Glass().Editable(item, x => x.Subheader)</p>
                    </div>
                </a>
            </div>
            <!-- end m60-teaser-->
        </div>
    }
</div>
}
	
