@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M65GalleryTeaserSet
@using Sitecore.Globalization
@using Sitecore.Links
@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@using DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers;

<div class="grid__row">
    <div class="grid__column grid__column--12">
        @Html.Sitecore().Placeholder("m65/section")
        <!-- m65-gallery-start -->
        <div class="m65-gallery" data-component="m65-gallery">
            @if (Model.ImageChildren.Any())
            {
                foreach (var teaser in Model.ImageChildren)
                {
                    <a href="@(teaser.Url != null ? teaser.Url : "#")" class="m65-gallery__thumbnail" style="background-image:url('@(teaser.BackgroundImage != null ? teaser.BackgroundImage.Src : string.Empty)')">
                        <div class="m65-gallery__thumbnail--icon" style="background-image: url('/images/camera_icon.png')">
                        </div>
                        <div class="m65-gallery__date" style="display: none;">
                            @teaser.PublishDate.ToString("MMMM yyyy", global::Sitecore.Context.Language.CultureInfo)
                        </div>
                        <div class="m65-gallery__caption" style="display: none;">
                            @Html.Glass().Editable(teaser, x => x.GalleryHeader)
                        </div>
                    </a>
                }
            }
            @if (Model.VideoChildren.Any())
            {
                foreach (var teaser in Model.VideoChildren)
                {
                    <a href="@(teaser.Url != null ? teaser.Url : "#")" class="m65-gallery__thumbnail" style="background-image:url('@(teaser.BackgroundImage != null ? teaser.BackgroundImage.Src : string.Empty)')">
                        <div class="m65-gallery__thumbnail--icon" style="background-image: url('/images/play_icon.png')">
                        </div>
                        <div class="m65-gallery__date" style="display: none;">
                            @teaser.PublishDate.ToString("MMMM yyyy", global::Sitecore.Context.Language.CultureInfo)
                        </div>
                        <div class="m65-gallery__caption" style="display: none;">
                            @Html.Glass().Editable(teaser, x => x.GalleryHeader)
                        </div>
                    </a>
                }
            }
        </div>
        <!-- m65-gallery-end -->
    </div>
</div>