@using Glass.Mapper.Sc.Web.Mvc
@using DEWAXP.Foundation.Helpers.Extensions

@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M7Teaser
@{
    if (Model.Featured == "1")
    {
        Model.Featured = "m7-teaser__content--featured";
    }
}
<div class="m7-teaser">
	<div class="m7-teaser__image">
        @if (Model.Link != null)
{
    <a href="@Model.Link.Url" @Model.Link.GetUrlAttributes()>
        @Html.Glass().RenderImage(Model, x => x.Image, new { @class = "m7-teaser__image-item", Width = 234, Height = 234 }, true, false)
    </a>
}
else
{
        <div>
            @Html.Glass().RenderImage(Model, x => x.Image, new { @class = "m7-teaser__image-item", Width = 234, Height = 234 }, true, false)
	    </div>
        }
    </div>
	<div class="m7-teaser__content @(Model.Featured)">
		<h3 class="teaser__title">@Html.Glass().Editable(x => x.Header)</h3>
		<p class="m7-teaser__copy teaser__copy">@Html.Glass().Editable(x => x.Subheader)</p>
		@if (Model.Link != null)
		{
			<p>
                <a href="@Model.Link.Url" @Model.Link.GetUrlAttributes() class="button button--text button--next @(!string.IsNullOrEmpty(Model.Featured) ? "button--inverted" : "")">@Html.Glass().Editable(x => x.LinkText)</a>
			</p>
           
		}
	</div>
</div>

