@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M7TeaserDetailSet
@using Sitecore.Globalization
@using Sitecore.Links
@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc


<!--M7 Teaser Detail.cshtml-->
<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m17-sectiontitle " data-component="m17-sectiontitle">
                @if (!string.IsNullOrEmpty(Model.Header))
                {
                    <h3 class="m17-sectiontitle__title m17-sectiontitle__title--green text__section-title">@Html.Glass().Editable(x => x.Header)</h3>
                }

            </div>
        </div>

        @if (Model.Children.Any())
        {
            foreach (var eventDetail in Model.Children)
            {

                <div class="grid__column grid__column--4">
                    <!-- m7-teaser-start -->
                    <div class="m7-teaser">

                        <div class="m7-teaser__image">
                            <img class="m7-teaser__image-item" src="@(eventDetail.Image!= null ? eventDetail.Image.Src:string.Empty)" alt="@(eventDetail.Image!= null ? eventDetail.Image.Alt:string.Empty)" />
                        </div>

                        <div class="m7-teaser__details">
                            <div class="m7-teaser__date">
                                <div class="m7-teaser__date-day">
                                    @(eventDetail.Date.ToString("dd"))
                                </div>
                                <div class="m7-teaser__date-month">
                                    @(eventDetail.Date.ToString("MMM"))
                                </div>
                            </div>

                            <div class="m7-teaser__desc">
                                <div class="m7-teaser__desc-title">
                                    @eventDetail.Title
                                </div>
                                <div class="m7-teaser__desc-host">
                                    @eventDetail.HostDetail
                                </div>
                            </div>
                        </div>

                        <div class="m7-teaser__buttons">
                            <a href="#" class="button button--primary button--small">@Translate.Text("Participate")</a>
                            <a href="#" class="button button--text">@Translate.Text("Details")</a>
                        </div>

                    </div>
                    <!-- m7-teaser-end -->
                </div>

            }
        }

    </div>
</div>
<!--M7 Teaser Detail.cshtml-->