@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc.Presentation
@using Glass.Mapper.Sc
@using Sitecore.Globalization

@model DEWAXP.Feature.CommonComponents.Models.Renderings.M79DashboardTool


<div class="m79-dashboard-tools" data-component="m79-dashboard-tools">
    <div class="m79-dashboard-tools--wrapper flex-center">
        <div class="m79-dashboard-tools--greeting_wrapper" data-greeting='{"morning":"@(Translate.Text("Good morning"))", "afternoon":"@(Translate.Text("Good afternoon"))", "evening":"@(Translate.Text("Good evening"))"}'>
            <span class="m79-dashboard-tools--greeting"></span> <strong>@Model.FullName</strong>
        </div>
        <div class="m79-dashboard-tools--buttons_wrapper">
            <div class="m79-dashboard-tools--buttons_item">
                @if (Model.ButtonLink != null && !string.IsNullOrEmpty(Model.ButtonLink.Url))
                {
                    @Html.Glass().RenderLink(x => x.ButtonLink, new { @class = "button icon-Leave_Feedback" })
                }
                @*<button class="button icon-Leave_Feedback">
                        Update Customer Information
                    </button>*@
            </div>
            @*<div class="m79-dashboard-tools--buttons_item">
                    <ul class="m79-dashboard-tools--language_list">
                        <li class="m79-dashboard-tools--language_item">
                            <a href="">AR</a>
                        </li>
                        <li class="m79-dashboard-tools--language_item m79-dashboard-tools--language_itemactive">
                            <a href="">EN</a>
                        </li>
                        <li class="m79-dashboard-tools--language_item">
                            <a href="">ZH</a>
                        </li>
                        <li class="m79-dashboard-tools--language_item">
                            <a href="">UR</a>
                        </li>
                        <li class="m79-dashboard-tools--language_item">
                            <a href="">TL</a>
                        </li>
                    </ul>
                </div>*@
        </div>
    </div>
</div>


