@using Glass.Mapper.Sc.Web.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.IM8Teaser

@{
	var additionalContentCssClasses = Model.TeaserImage != null ? "m8-teaser__content--image" : string.Empty;
}

<div class="m8-teaser">
	<a href="@Model.Url">
		@Html.Glass().RenderImage(x => x.TeaserImage, new { @class = "m8-teaser__image" }, true)
	</a>
	<div class="m8-teaser__content @additionalContentCssClasses">
		<h2 class="teaser__title"><a href="@Model.Url" class="link">@Html.Glass().Editable(x => x.Header)</a></h2>
		@if (Model.PublishDate != DateTime.MinValue)
		{
			<p class="teaser__date">@Html.Glass().Editable(x => x.PublishDate, x => x.PublishDate.ToString("d MMMM yyyy", global::Sitecore.Context.Language.CultureInfo).Replace("يوليه", "يوليو"))</p>
		}
		<p class="teaser__copy">@Html.Glass().Editable(x => x.Summary)</p>
	</div>
</div>
