@using Glass.Mapper.Sc.Web.Mvc
@using DEWAXP.Foundation.Helpers.Extensions

@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M7Teaser


@if (Model.Link != null)
{
    <a class="m83-usefultips-teaser" @(Model.Link!= null ? Model.Link.GetUrlAttributes(): new HtmlString("")) style="background-image: url('@(Model.BackgroundImage != null && !string.IsNullOrWhiteSpace(Model.BackgroundImage.Src) ? Model.BackgroundImage.Src : string.Empty)');" href="@(Model.Link != null ? Model.Link.Url : "#")">
        @if (Model.Image != null && !string.IsNullOrWhiteSpace(Model.Image.Src))
        {
        @Html.Glass().RenderImage(Model, x => x.Image, new { @class = "m83-usefultips-teaser--img tooltipstered" }, true, false)
        }
        else if(!string.IsNullOrWhiteSpace(Model.Icontext))
        {
            <div class="m83-usefultips-teaser--icon @(Model.Icontext)"></div>
        }
	    <div class="m83-usefultips-teaser--title">@Html.Glass().Editable(x => x.Header)</div>
        <div class="m83-usefultips-teaser--desc">@Html.Glass().Editable(x => x.Subheader)</div>
    </a>
}