@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Data.Managers
@using DEWAXP.Foundation.Helpers.Extensions

@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.Teaser

@if (Model != null)
{
    <div class="m87-gauge-alerts--information">
        <div class="m87-gauge-alerts--infowrap">
            <div class="m87-gauge-alerts--infotitle">
                @Html.Glass().Editable(x => x.Header)
            </div>
            <div class="m87-gauge-alerts--infodesc">
                @Html.Glass().Editable(x => x.Subheader)
            </div>
            <a href="@(Model.Link != null ? Model.Link.Url : "#")" class="button button--text button--next green" @(Model.Link!= null ? Model.Link.GetUrlAttributes(): new HtmlString(""))>
            @(Model.Link != null ? Model.Link.Text : string.Empty) 
            </a>
        </div>
        <div class="m87-gauge-alerts--infoimg" style="background-image: url('@(Model.BackgroundImage != null && !string.IsNullOrWhiteSpace(Model.BackgroundImage.Src) ? Model.BackgroundImage.Src : string.Empty)');"></div>
    </div>
}
