@using DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Resources.Media
@model M9Teaser

<div class="m9-teaser" data-component="m9-teaser">
    <a href="@Model.Url" class="teaser__link">
        @if (Model.Image != null)
        {
            string AltHtml = !string.IsNullOrEmpty(Model.Image.Alt) ? string.Format("data-alt=\"{0}\"", Model.Image.Alt) : "";
            <div class="m9-teaser-image@(Model.ContainerBoardCssClass)" @Html.Raw(AltHtml) style="background-image: url('@Model.Image.Src')"></div>
        }
        <div class="teaser__content">
            @*@if (Model.PublishDate != null && Model.PublishDate > DateTime.MinValue)
                {
                    <h6 class="teaser__date">@Model.PublishDate.ToString("dd MMM yyyy",Sitecore.Context.Language.CultureInfo)</h6>
                }*@
            <h4 class="teaser__title">@Html.Glass().Editable(x => x.Header)</h4>
            <p class="teaser__copy">@Html.Glass().Editable(x => x.Summary)</p>
        </div>
    </a>
</div>