@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.CarouselSet

@if (Model != null && Model.Children != null)
{

    @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Generic/M17 Section Title.cshtml", Model)
    <div class="grid__row" data-component="m9-teaser">
        @foreach (var item in Model.Children)
        {
            <div class="grid__column grid__column--3">
                <div class="m9-teaser @Html.Sitecore().CurrentRendering.Parameters["classname"]">
                    <a href="@(item.ButtonLink != null ? item.ButtonLink.Url : "#")" class="teaser__link">
                        @if (item.Image != null)
                        {
                            string AltHtml = item.Image != null && !string.IsNullOrEmpty(item.Image.Alt) ? string.Format("data-alt=\"{0}\"", item.Image.Alt) : "";
                            <div class="m9-teaser-image" @Html.Raw(AltHtml) style="background-image: url('@item.Image.Src')"></div>
                        }
                        <div class="teaser__content">
                            <h3 class="teaser__title">@Html.Glass().Editable(item, x => x.Header)</h3>
                            <p class="teaser__copy">@Html.Glass().Editable(item, x => x.Subheader)</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
}

