@using Glass.Mapper.Sc.Web.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.IM8Teaser

@{
    var additionalContentCssClasses = Model.TeaserImage != null ? "m8-teaser__content--image" : string.Empty;
}

<!--Start M7 Teaser Detail.cshtml-->
@if (Model != null)
{
    <div class="grid__column grid__column--4">
        <div class="m9-teaser m9-teaser--news m9-teaser--news_all" data-component="m9-teaser">
            <a href="@(Model.Url)" class="teaser__link">
                @{
                    string background = "background-color:#f6f6f6";
                    string AltHtml = Model.TeaserImage != null && !string.IsNullOrEmpty(Model.TeaserImage.Alt) ? string.Format("data-alt=\"{0}\"", Model.TeaserImage.Alt) : Model.Header;
                    if (Model.TeaserImage!=null)
                    {
                        background = !string.IsNullOrEmpty(Model.TeaserImage.Src) ? string.Format("background-image: url('{0}')", Model.TeaserImage.Src) : background;
                        AltHtml = string.Format("data-alt=\"{0}\"", !string.IsNullOrEmpty(Model.TeaserImage.Alt) ? Model.TeaserImage.Alt : Model.Header);
                    }
                }
                <div class="m9-teaser-image tooltipstered" @Html.Raw(AltHtml) style="@Html.Raw(background)"></div>
                <div class="teaser__content">
                    <h4 class="teaser__title">@Html.Glass().Editable(x => x.Header)</h4>
                    <h6 class="teaser__date">@Html.Glass().Editable(x => x.PublishDate, x => x.PublishDate.ToString("d MMMM yyyy", global::Sitecore.Context.Language.CultureInfo).Replace("يوليه", "يوليو"))</h6>
                    <p class="teaser__copy">@Html.Glass().Editable(x => x.Summary)</p>
                </div>
            </a>
        </div>
    </div>
}
<!--End M7 Teaser Detail.cshtml-->