@using Glass.Mapper.Sc.Web.Mvc
@using System.Globalization
@using Sitecore.Data.Items
@using Sitecore.Globalization
@using Sitecore.Resources.Media
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M9TeasersetWithYearFilterModel

<div class="grid__row">
    <div class="grid__column grid__column--12">
        <div class="m35-filter m35-filter--left">
            <div class="m35-filter__column--left">
                <label for="form-field-year" class="form-field__label">
                    <span class="aria-only">@Translate.Text("year")</span>
                </label>
                <div class="form-field form-field--select form-field--select-single mt0">

                    <span class="form-field__input-wrapper form-field__input-wrapper--select">
                        <select class="form-field__input form-field__input--select form-field__input--select-full" onchange="FilterByText()" id="form-field-year" name="months">
                            <option value="">@Translate.Text("All")</option>
                            @foreach (var item in Model.FilterDataList)
                            {
                                <option value="@item" @Html.Raw(item == Model.SearchText ? "selected" : "")>@item</option>
                            }
                        </select>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="grid__row">
    <div class="j134-media-almasdar" data-datasrcid="@Model.DatasourceId">
        @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Teasers/M9TeaserSetLoadedSectionWithYearFilter.cshtml", Model)
    </div>
</div>


<script type="text/javascript">
    var apiUrl = '@Url.Action("M9TeasersetWithYearFilter", "Renderings")';
        function LoadMore() {
            var pageno = $(".loadmore-container").data("pageno");
            RenderAndFilterData(pageno, ".data-appender-container")

    }

    function FilterByText() {
        RenderAndFilterData(1, ".j134-media-almasdar");
        return false;
    }


    function RenderAndFilterData(pageno, container_element) {
        var datasrcid = $(".j134-media-almasdar").data("datasrcid");
        var searchTxt = $("#form-field-year").val();

        jQuery.ajax({
            type: "GET",
            url: apiUrl + '?i=' + datasrcid + "&s=" + searchTxt + "&p=" + pageno + "&m=true",
            beforeSend: function () {
                $(".m66-preloader-fullpage").show();
            },
            success: function (response) {
                $(".loadmore-container").remove();
                if (pageno == 1) {
                    $(container_element).html(response);
                } else {
                    $(container_element).append(response);
                }
            },
            complete: function () {
                $(".m66-preloader-fullpage").fadeOut();
                window.initComponents('rs_area');
                jQuery(window).trigger('reinit_tooltip');
            }

        });
    }

    docReady(function () {

        $('.actionElement').on('keypress', function (e) {
            if (e.keyCode == 13) {
                FilterByText();
            }
        });

    })

</script>
