@using System.Activities.Statements
@using DEWAXP.Foundation.Integration.Extensions
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@using Sitecore.Globalization
@using Sitecore.Mvc
@model DEWAXP.Feature.Bills.Models.Tayseer.TayseerDetail
@{
    var fileUploadURL = LinkHelper.GetItemUrl(SitecoreItemIdentifiers.TAYSEER_PAYMENT_FILE_UPLOAD);
}

<div class="j102-tayseer-service" data-journey="j102-tayseer-service">
    <div class="j105-drrg">
        <div class="m66-preloader j105-drrg--loader hidden">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column grid__column--12">
                        <h2 class="text__section-subtitle">@Translate.Text("J100.Pleasewait")</h2>
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box--1">
        <div class="grid">
            @Html.Sitecore().Placeholder("j87/m26-page-title")
            @*<div class="grid__row">
                    <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
                        <p class="intro-text">This feature enables you to make a payment for multiple accounts through a single Reference Number</p>
                    </div>
                </div>*@
        </div>
    </div>
    <div class="m39-modal confirm-delete" data-component="m39-modal" id="modal_true">
        <a role="button" data-trigger="true" class="button hidden lnkHiddenDelete" data-contractaccount="" id="_lcwyzq4m6_trigger" aria-controls="_lcwyzq4m6_content"></a>
        <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="false" id="_lcwyzq4m6_content" aria-labelledby="_lcwyzq4m6_trigger">
            <div class="m39-modal__dialog">
                <div class="m39-modal__header">
                    <div class="m39-modal__title">@Translate.Text("Tayseer")</div>
                    <button data-close="true" class="m39-modal__button--close"></button>
                </div>
                <div class="m39-modal__content">
                    <div class="grid__row">
                        @Translate.Text("Remove Confirmation")
                    </div>
                    <div class="grid__row">
                        <div class="button m39-m12-no confirm-delete-false" data-contractaccount=""> @Translate.Text("No") </div>
                        <a class="button button--primary confirm-delete-true lnkDeleteFU" data-contractaccount=""> @Translate.Text("Yes") </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div style="text-align: right;" class="highlight hidden" id="divTotal">
    </div>*@
@Html.Sitecore().Placeholder("j87/m41-tab-box")

<div class="grid mt56">
    @using (Html.BeginForm("TayseerFileUploadPost", "Tayseer", FormMethod.Post, new { @class = "form form--inline", @id = "projectdocument-details", @data_form = "true", @enctype = "multipart/form-data", @novalidate = string.Empty }))
    {
    @Html.AntiForgeryToken()
    <div id="accountupload" class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form j102-tayseer-service" data-journey="j102-tayseer-service" style="margin-top:-20px">
            @*<p>@ViewBag.ErrorMessage</p>*@
            @*<form method="get" class="form" data-form="true" action="#">*@
            @*<div class="form-field form-field--upload">
                    <div class="form-field__input-wrapper">
                        <div class="form-field__preview-wrapper">
                            <img src="/images/preview_pdf@2x.png"
                                 data-src="/images/preview_pdf@2x.png"
                                 data-success="/images/upload_success@2x.png"
                                 class="form-field__preview"
                                 aria-hidden="true"
                                 role="presentation"
                                 alt=""
                                 data-uploader-image="ijp35jkdb">
                        </div>
                        <div class="form-field__uploader-details">
                            <label for="Idfileupload" class="form-field__label">
                                @Translate.Text("File Select")
                                <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                            </label>
                            <div>
                                <label>

                                    <span class="button button--primary button--next button--small focus-enabled">@Translate.Text("Choose")</span>
                                </label>
                            </div>
                            <p class="form-field__input--upload-filename" data-uploader-filename="ijp35jkdb"></p>
                            <p><button class="button button--text button--remove hidden" data-uploader-remove="ijp35jkdb">@Translate.Text("Remove")</button></p>
                        </div>
                    </div>
                    <div id="description-for-ijp35jkdb" class="form-field__messages">
                        <p class="form-field__description">@Translate.Text("Allowed file types")</p>
                    </div>
                </div>*@
            @*</form>*@
            @*<a href="/upload/enbd_sample_file.xlsx" class="button button--text button--next" aria-describedby="download-">@Translate.Text("Download Sample File")</a>*@
            @*<div class="m39-modal language-switch" data-component="m39-modal" id="modal_true" style="margin:0;">
                    <a role="button" data-trigger="true" class="button button--text button--next">@Translate.Text("File Upload Instructions")</a>
                    <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="false">
                        <div class="m39-modal__dialog j102-tayseer-service--cheque-ins" style="height: 520px;max-height: none;">
                            <div class="m39-modal__header">
                                <div class="m39-modal__title">@Translate.Text("File Upload Instructions")</div>
                            </div>
                            <div class="m39-modal__content">
                                <div class="grid__row m14-richtext">
                                    @Html.Raw(Translate.Text("File Upload Instructions Note"))
                                </div>
                                <div class="grid__row">
                                    <div class="button m39-m12-no"> @Translate.Text("Close") </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__row">
                    <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
                        <a role="button" class="button button--primary button--next j102-tayseer-service--upload" id="btnUploadfile">@Translate.Text("Upload File")</a>
                    </div>
                </div>*@

            @*<div class="m39-modal language-switch" data-component="m39-modal" id="divvalidationmeg"></div>*@
        </div>
        <div class="grid__column grid__column--12 grid__column--form">
            @*<form method="get" class="form" data-form="true" action="j25-3.2-activation-of-services-pre-login.html" novalidate="">*@
            <fieldset class="fieldset ">
                <span class="m14-richtext"><h4 class="mb12">@Translate.Text("Excel File Upload")</h4></span>
                    <div class="form-field form-field--text form-field--textblock">
                        @Html.Raw(Translate.Text("Upload Account Notes"))
                    </div>
                    <div class="form-field">
                        <div class="form-field__input-wrapper">
                            <a href="/upload/enbd_sample_file.xlsx" class="" aria-describedby="download-"><span class="button button--download focus-enabled" style="width: 270px; text-align: center; max-width: 100%;" data-uploader-button="upload-choose"> @Translate.Text("Step 1 File Download")</span></a>
                        </div>
                    </div>
                    <div class="form-field form-field--upload form-field--upload_new">
                        <div class="form-field__input-wrapper">
                            <div class="form-field__uploader-details">
                                <label for="form-field-z07ba9pxj" class="form-field__label">
                                    <span class="aria-only">@Translate.Text("Step 2 File Upload")</span>
                                </label>
                                <div>
                                    <label>
                                        <input class="form-field__input form-field__input--upload"
                                               id="Idfileupload"
                                               name="upload"
                                               type="file"
                                               aria-describedby="description-for-ijp35jkdb"
                                               data-parsley-errors-container="#description-for-ijp35jkdb"
                                               required
                                               data-parsley-required-message="@Translate.Text("ValidFileUploadFile")"
                                               data-uploader-field="ijp35jkdb"
                                               data-accepts='"xls","xlsx"'
                                               data-size="2048000"
                                               accept="application/excel">
                                        <span class="button button--upload focus-enabled" style="width: 270px; text-align: center; max-width: 100%;" data-uploader-button="upload-choose">@Translate.Text("Step 2 File Upload")</span>
                                    </label>
                                </div>
                                <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("ValidUploadCorrect")</p>
                                <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">Upload file size is too high</p>
                                <p class="form-field__input--upload-filename" data-uploader-filename="ijp35jkdb"></p>
                                <p class="relative">
                                    <button class="button--upload_remove hidden" data-uploader-remove="ijp35jkdb"><span class="aria-only">@Translate.Text("Remove")</span></button>
                                </p>
                                <div class="form-field__input--upload-filesize hidden" data-uploader-filesize="ijp35jkdb">
                                    <span data-currentsize="ijp35jkdb">2.3</span>kB of <span data-totalsize="ijp35jkdb"></span>kB
                                    <div class="form-field__input--upload-filesize_bar">
                                        <div class="form-field__input--upload-filesize_green">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="m39-modal instrustions-modal mt12" data-component="m39-modal" id="modal_true">
                        <button data-trigger="true" class="m39-modal__trigger" type="button" id="_j0ymva3e3_trigger" aria-controls="_j0ymva3e3_content">@Translate.Text("File Upload Instructions")</button>
                        <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="false" id="_j0ymva3e3_content" aria-labelledby="_j0ymva3e3_trigger">
                            <div class="m39-modal__dialog " style="max-height:650px;">
                                <div class="m39-modal__header">
                                    <div class="m39-modal__title">@Translate.Text("File Upload Instructions")</div>
                                    <button data-close="true" class="m39-modal__button--close" id="_j0ymva3e3_close" aria-controls="_j0ymva3e3_content"></button>
                                </div>
                                <div class="m39-modal__content" style="top: 120.312px;bottom:0">                               
                                    <div class="grid__row m14-richtext">
                                        @Html.Raw(Translate.Text("File Upload Instructions Note"))
                                    </div>
                                    <div class="grid__row hidden">
                                        <div class="button m39-m12-no"> @Translate.Text("Close") </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m39-modal__overlay" style="display: none;"> </div>
                    </div>
            </fieldset>
            <div class="form-field__button">
                <a role="button" class="button button--primary button--next j102-tayseer-service--upload" disabled="" id="btnUploadfile">@Translate.Text("Continue")</a>
                @*<button type="submit" class="button button--primary button--next">Continue</button>*@
            </div>

            @*</form>*@
        </div>
    </div>
    <div id="divfileupload">
    </div>
    }
</div>
<script src="/scripts/jquery.ui.widget.js" type="text/javascript"></script>
<script src="/scripts/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="/scripts/jquery.fileupload.js" type="text/javascript"></script>
<script src="/scripts/jquery.fileupload-ui.js" type="text/javascript"></script>

<script type="text/javascript">
    var jqXHRData;
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE ");
    var ieVersion = parseInt(ua.substring(msie + 5, ua.indexOf(".", msie)));
    jQuery(".m41-tabs-box").addClass("m41-tabs-box--variant m41-tabs-box--variantcentered centered");

    if (ieVersion === 9) {
        window.onload = function () {
            setTimeout(function () { initSimpleFileUpload() }, 100);
        };
        function updatePreviewImage(input, $input) {
            var $container = $input.closest('.form-field--upload'),
                id = $input.data('uploader-field'),
                $remover = $container.find('[ data-uploader-remove="' + id + '" ]');
            $remover.hide();
            if (input.files && input.files[0]) {

                var reader,
                    isImage = false,
                    filename = input.files[0].name,
                    $previewer = $container.find('[ data-uploader-image="' + id + '" ]'),
                    $filename = $container.find('[ data-uploader-filename="' + id + '" ]');

                if (window.FileReader && window.Blob && /image/i.test(input.files[0].type)) {
                    reader = new FileReader();

                    reader.onload = function (e) {
                        $previewer.attr('src', e.target.result);
                    };

                    reader.readAsDataURL(input.files[0]);
                    isImage = true;
                }

                if (isImage === false) { // not an image - use the 'success' placeholder image
                    $previewer.attr('src', $previewer.data('success'));
                }

                $filename.text(filename).fadeIn();


            } else {


            }

        }

        function initSimpleFileUpload() {
            'use strict';
            var upload = $('#projectdocument-details').fileupload({
                forceIframeTransport: true,
                url: '/api/sitecore/Tayseer/TayseerFileUploadPost',
                dataType: 'html',
                cache: false,
                contentType: 'text/html;charset=utf-8',
                add: function (event, data) {
                    event.preventDefault();
                    jqXHRData = data;
                    var input = jqXHRData,
                        $input = $("#Idfileupload");

                    var ua = window.navigator.userAgent;
                    var msie = ua.indexOf("MSIE ");
                    var ieVersion = parseInt(ua.substring(msie + 5, ua.indexOf(".", msie)))

                    if (ieVersion === 9) {
                        var $container = $input.closest('.form-field--upload'),
                            id = $input.data('uploader-field'),
                            $previewer = $container.find('[ data-uploader-image="' + id + '" ]'),
                            $filename = $container.find('[ data-uploader-filename="' + id + '" ]');

                        $previewer.attr('src', $previewer.data('success'));
                    }

                    var size = input.files[0].size;
                    var extension = $input.val().replace(/^.*\./, '');
                    var contdd = $input.closest('.form-field--upload');
                    var errorFormat = contdd.find('.form-field__input--upload-format-error-message');
                    var errorSize = contdd.find('.form-field__input--upload-size-error-message');

                    errorSize.hide()
                    errorFormat.hide()


                    var formatList = $input.data("accepts")
                    if (formatList) {
                        var formats = JSON.parse('[' + formatList + ']');
                    }
                    var thisSize = $input.attr('data-size');




                    if (!formatList && !thisSize) {
                        updatePreviewImage(input, $input);

                    } else if ((!formatList && thisSize) || (formatList && !thisSize) || (formatList && thisSize)) {

                        if (!formatList && thisSize) {

                            if (thisSize >= size) {
                                updatePreviewImage(input, $input);
                            } else {
                                errorSize.show();
                            }
                        }
                        if (formatList && !thisSize) {

                            if (formats.indexOf(extension) > -1) {
                                updatePreviewImage(input, $input);
                            } else {
                                errorFormat.show();
                            }
                        }
                        if (formatList && thisSize) {

                            if (formats.indexOf(extension) > -1) {
                                if (thisSize >= size) {
                                    updatePreviewImage(input, $input);
                                } else {
                                    errorSize.show();
                                }
                            } else {
                                errorFormat.show();
                            }
                        }


                    } else {

                        updatePreviewImage(input, $input);
                    }

                },

                done: function (event, result) {
                    try {
                        $("#divfileupload").html(result._response.result);
                        $(".form-field__input--upload-filename").html('');
                        //$('img').attr('src', '/images/preview_pdf@2x.png');
                        $(".button--remove").hide();
                        $("#accountupload").hide();
                    } catch (e) { }
                },
                fail: function (event, jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    //console.log("Error:" + error);
                }
            });
        }
    }
</script>
<script type="text/javascript">
    $(function () {
        $(".idfilevalidation").trigger("click");
        $("#idfilevalidation").on('click', function () {
        });
        function loadjscssfile(filename, filetype) {

            if (filetype == "js") { //if filename is a external JavaScript file
                var fileref = document.createElement('script')
                fileref.setAttribute("type", "text/javascript")
                fileref.setAttribute("src", filename)
            }
            if (typeof fileref != "undefined")
                document.getElementsByTagName("head")[0].appendChild(fileref)
        }

        function reloadJs(src) {
            src = $('script[src$="' + src + '"]').attr("src");
            $('script[src$="' + src + '"]').remove();
            //$('<script/>').attr('src', src).append('body');
        }
        $("#Idfileupload").change(function (e) {
            setTimeout(function () {
                $("#btnUploadfile").removeAttr("disabled");
            }, 2200);

        });
        // Show Table of Error and File Upload
        $(document).on('click', '#btnUploadfile', function (e) {
            //var ShowErrortable = function () {
            e.preventDefault();
            try {
                if (ieVersion === 9) {
                    if (jqXHRData == undefined || jqXHRData == 'undefined' || jqXHRData.files.length < 1) {
                        $('#projectdocument-details').fileupload('add', { files: [{}] });
                    }
                    jqXHRData.submit();
                }
                else {
                    var form = $('#projectdocument-details');
                    var formData = new FormData(form.get(0));
                    var totalFiles = document.getElementById("Idfileupload").files.length;

                    var file = document.getElementById("Idfileupload").files[0];
                    formData.append("Idfileupload", file);

                    $.ajax({
                        type: "POST",
                        url: "/api/sitecore/Tayseer/TayseerFileUploadPost",
                        data: formData,
                        contentType: false,
                        cache: false,
                        processData: false,
                        beforeSend: function () {
                            //window.attachSpinner('#divfileupload', { zIndex: 1, bgColor: "#fff", bgPosition: "top center" });
                            jQuery('.j105-drrg--loader').show();
                            jQuery('.j105-drrg--loader').css('top', $(window).scrollTop());
                            $('body').removeClass('unscrollable').addClass('unscrollable');
                        },
                        complete: function () {
                            //window.detachSpinner('#divfileupload', { zIndex: 1, bgColor: "#fff", bgPosition: "top center" });
                            jQuery('.j105-drrg--loader').hide();
                            $('body').removeClass('unscrollable');
                        },
                        success: function (response) {
                            try {
                                $("#divfileupload").html(response);
                                jQuery(".m26-page-title__backlink").find('a').attr('href', '@fileUploadURL');
                                $(".form-field__input--upload-filename").html('');
                                //$('img').attr('src', '/images/preview_pdf@2x.png');
                                $(".button--remove").hide();
                                $("#accountupload").hide();
                                window.initComponents('divfileupload');
                            } catch (e) {
                            }
                        },
                        error: function (error) {
                            //console.log("Error:" + error);
                        }
                    });
                }
            } catch (e) {

            }
        });
    });
</script>
