@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@using Sitecore.Mvc

<div class="grid">
	<div class="grid__row">
		<div class="grid__column grid__column--12">
			@Html.Sitecore().Placeholder("j75/m26-page-title")
		</div>
	</div>
	<div class="grid__row">
		<div class="grid__column grid__column--12 grid__column--content">
			<div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
				<div class="m40-status-message__title">@Sitecore.Globalization.Translate.Text("Submission Successful")</div>
				<div class="m40-status-message__text">@Sitecore.Globalization.Translate.Text("Your reference is") <strong>@(ViewBag.Reference ?? "N/A")</strong>.<br />@Sitecore.Globalization.Translate.Text("This can be used to track your request").</div>
				<p><button class="button button--text button--printer noprint" data-print="page">@Sitecore.Globalization.Translate.Text("Print this page")</button></p>
			</div>
		</div>
	</div>
	<div class="grid__row">
		<div class="grid__column grid__column--12 grid__column--content">
			<div class="m17-sectiontitle">
				<h2 class="m17-sectiontitle__title text__section-title">@Sitecore.Globalization.Translate.Text("Whats Next")</h2>
			</div>
		</div>
	</div>
	<div class="grid__row">
		<div class="grid__column grid__column--12 grid__column--content">
			<p class="text__content-copy">
				@Sitecore.Globalization.Translate.Text("Once the amount has been calculated")	
			</p>
			<p class="text__content-copy">
				<a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J75_SEARCH_REQUEST)" class="link">@Sitecore.Globalization.Translate.Text("View my requests")</a>
			</p>
			<div class="form-field__button">
				<a href="/" class="button button--primary button--next">@Sitecore.Globalization.Translate.Text(DictionaryKeys.Global.Home)	</a>
			</div>
		</div>
	</div>
</div>