
<div class="grid">
	<div class="grid__row">
		<div class="grid__column grid__column--12">
			<div class="m26-page-title">
				<div class="m26-page-title__links">
				</div>
				<h2 class="text__page-title">@Sitecore.Globalization.Translate.Text("Request Temporary Connection")</h2>
			</div>
		</div>
	</div>
	<div class="grid__row">
		<div class="grid__column grid__column--12 grid__column--content">
			<div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
				<div class="m40-status-message__title">@Sitecore.Globalization.Translate.Text("Submission Failed")</div>
				<div class="m40-status-message__text"><strong>@Sitecore.Globalization.Translate.Text("Error")</strong>: @(Html.Raw(ViewBag.Message) ?? "The submission failed.")</div>
			</div>
		</div>
	</div>
	<div class="grid__row">
		<div class="grid__column grid__column--12 grid__column--content">
			<div class="form-field__button">
				<a class="button button--primary button--next" href="javascript:window.history.back();" role="button" aria-label="Go Back">@Sitecore.Globalization.Translate.Text("Go Back")</a>
			</div>
		</div>
	</div>
</div>