@using Sitecore.Globalization
@model System.Collections.Generic.List<DEWAXP.Feature.CommonComponents.Models.Breadcrumbs.BreadCrumbItemViewModel>
<div class="m12-bar__breadcrumbs clearfix" data-m12-breadcrumbs="true">
    <div class="m12-bar__breadcrumbs-wrapper">
        <nav aria-label="You are here:">
            <ul>
                @{ int i = 1;
                    foreach (var item in Model)
                    {
                        if (item.IsCurrent)
                        {
                            <li class="m12-bar__crumb" aria-level="@i">
                                <span class="button button--breadcrumb button--breadcrumbtext">@item.Text</span>
                            </li>
                        }
                        else
                        {
                            <li class="m12-bar__crumb" aria-level="@i"><a class="button button--breadcrumb button--next" href="@item.Url">@item.Text</a></li>
                        }
                    }
                    i++;
                }
            </ul>
            <!-- m30-share start -->
            <!-- start back to top link -->

            <p class="m13-back-to-top" role="presentation">
                <a href="#page" class="button button--text button--up m13-footer-back-to-top__link" data-m13-back-to-top="true">@Translate.Text("breadcrumb.backtotop")</a>
            </p>

            <div class="m12-lang-switch_mobile">
                <a href="#">@Translate.Text("LanguageSwitcherText")</a>
            </div>
            @*<div class="m30-share" data-component="m30-share">
            <a href="#" role="button" aria-haspopup="true" class="m30-share__button button button--text button--share">Share</a>
            <div class="m30-share__panel" aria-expanded="false">
                <ul>

                    <li class="m30-share__item"><a href="#" class="m30-share__link m30-share__link--twitter icon_twitter">Share on Twitter</a></li>

                    <li class="m30-share__item"><a href="#" class="m30-share__link m30-share__link--facebook icon_facebook">Share on Facebook</a></li>

                    <li class="m30-share__item"><a href="#" class="m30-share__link m30-share__link--linkedin icon_linkedin">Share on LinkedIn</a></li>

                    <li class="m30-share__item"><a href="#" class="m30-share__link m30-share__link--googleplus icon_googleplus">Share on Google+</a></li>

                </ul>
            </div>
        </div>*@
            @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Share/M30 Share.cshtml")
            <!-- m30-share end -->
            <ul class="m12-bar__breadcrumb--tools">
                <li class="m12-bar__breadcrumb--toolsPrint">
                    <a href=#>@Translate.Text("breadcrumb.print") </a>
                </li>
            </ul>

        </nav>
    </div>
</div>


@*<div class="m12-bar__breadcrumbs clearfix" data-m12-breadcrumbs="true">
        <div class="m12-bar__breadcrumbs-wrapper">
            <nav aria-label="You are here:">
                <ul>
                    @foreach (var item in Model)
                    {
                        if (item.IsCurrent)
                        {
                            <li class="m12-bar__crumb">
                                <span class="button button--breadcrumb button--breadcrumbtext">@item.Text</span>
                            </li>
                        }
                        else
                        {
                            <li class="m12-bar__crumb" aria-level="1"><a class="button button--breadcrumb button--next" href="@item.Url">@item.Text</a></li>
                        }
                    }
                </ul>
                <!-- m30-share start -->
                <!-- start back to top link -->
                <p class="m13-back-to-top" role="presentation">
                    <a href="#page" class="button button--text button--up m13-footer-back-to-top__link" data-m13-back-to-top="true">@Translate.Text("breadcrumb.backtotop")</a>
                </p>
                @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Share/M30 Share.cshtml")
                <!-- m30-share end -->
                <ul class="m12-bar__breadcrumb--tools">
                    <li>
                        @Translate.Text("breadcrumb.size") <input class="m12-bar__breadcrumb--tools__fontSizeRange" type="range" min="-0.5" max="0.5" step="0.125" value="0" title="breadcrumb">
                    </li>
                    <li class="m12-bar__breadcrumb--toolsPrint">
                        <a href=#>@Translate.Text("breadcrumb.print") </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>*@