@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using DEWAXP.Foundation.Content

@model IEnumerable<DEWAXP.Feature.GatePass.Models.ePass.SecurityPassActivityLogModel>

@*<p><strong>Pellentesque habitant morbi tristique</strong> senectus etor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
    <h2></h2>*@

@foreach (var item in Model)
{
    <p>
        <strong>@item.eventTime.ToString("MMM d, yyyy, hh:mm:ss") </strong> - @item.activity
    </p>
    if (!string.IsNullOrWhiteSpace(@item.Notes))
    {
        <p>
            @Translate.Text("Epass.Notes"):- @item.Notes
        </p>
    }
}

