@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GatePass.Models.ePass.ePassSubContractor

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @data_form = "true" }))
{
    @Html.Sitecore().FormHandler()
    @Html.AntiForgeryToken()

    var Nationalities = DEWAXP.Foundation.Helpers.Extensions.FormExtensions.GetSAPCountryList(Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "ar" : "en", HttpContext.Current.Request.Headers["User-Agent"]); ;

    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

    <div class="j113-epass" data-journey="j113-epass">
        <div class="grid">

            @Html.Sitecore().Placeholder("epass-page-title")

            <div class="grid__row">
                <div class="grid__column grid__column--12 grid__column--form">
                    <form method="get" class="form" data-form="true" action="j113-epass-2.html">
                        <div class="form-field form-field--text  ">
                            <label for="form-field-gvn1cb9tj" class="form-field__label">
                                @Translate.Text("Epass.IndName")
                                <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                            </label>
                            <span class="form-field__input-wrapper">
                                <input class="form-field__input form-field__input--text"
                                       id="form-field-gvn1cb9tj"
                                       name="Name"
                                       type="text"
                                       placeholder="@Translate.Text("Epass.EnterSubcontractorname")"
                                       aria-describedby="description-for-gvn1cb9tj"
                                       data-parsley-errors-container="#description-for-gvn1cb9tj"
                                       required
                                       data-parsley-required-message="@Translate.Text("Epass.Requiredfield")" />
                            </span>
                            <div id="description-for-gvn1cb9tj" class="form-field__messages">
                            </div>
                        </div>
                        @*<div class="form-field form-field--text  ">
                                   <label for="form-field-ta5fret91" class="form-field__label">
                                       Email Address
                                       <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                                   </label>
                                   <span class="form-field__input-wrapper
                            ">
                                       <input class="form-field__input form-field__input--text
                            "
                                              id="form-field-ta5fret91"
                                              name="Email_Address"
                                              type="email"
                                              placeholder="Please enter email address"
                                              aria-describedby="description-for-ta5fret91"
                                              data-parsley-errors-container="#description-for-ta5fret91"
                                              required
                                              data-parsley-required-message="@Translate.Text("Epass.Requiredfield")" />
                                   </span>
                                   <div id="description-for-ta5fret91" class="form-field__messages">
                                   </div>
                               </div>*@
                        @*<div class="form-field form-field--text  ">
                                <label for="form-field-q0m9jdbww" class="form-field__label">
                                    Telephone Number
                                    <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                                </label>
                                <span class="form-field__input-wrapper">
                                    <input class="form-field__input form-field__input--text"
                                           id="form-field-q0m9jdbww"
                                           name="Telephone_Number"
                                           type="number"
                                           placeholder="Please enter telephone number"
                                           aria-describedby="description-for-q0m9jdbww"
                                           data-parsley-errors-container="#description-for-q0m9jdbww"
                                           required
                                           data-parsley-required-message="@Translate.Text("Epass.Requiredfield")" />
                                </span>
                                <div id="description-for-q0m9jdbww" class="form-field__messages">
                                </div>
                            </div>*@
                        @*<div class="form-field form-field--text  ">
                                   <label for="form-field-vgmu2sj9u" class="form-field__label">
                                       Address
                                       <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                                   </label>
                                   <span class="form-field__input-wrapper
                            ">
                                       <input class="form-field__input form-field__input--text"
                                              id="form-field-vgmu2sj9u"
                                              name="Address"
                                              type="text"
                                              placeholder="Please enter address"
                                              aria-describedby="description-for-vgmu2sj9u"
                                              data-parsley-errors-container="#description-for-vgmu2sj9u"
                                              required
                                              data-parsley-required-message="@Translate.Text("Epass.Requiredfield")" />
                                   </span>
                                   <div id="description-for-vgmu2sj9u" class="form-field__messages">
                                   </div>
                               </div>*@
                        <div class="form-field form-field--select form-field--select-single">
                            <label for="form-field-vcdza81ve" class="form-field__label">
                                @Translate.Text("Epass.Country")
                                <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                            </label>
                            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                                <select class="form-field__input form-field__input--select form-field__input--select-full form-field__input--select2"
                                        id="form-field-vcdza81ve"
                                        name="Country"
                                        aria-describedby="description-for-vcdza81ve"
                                        data-parsley-errors-container="#description-for-vcdza81ve"
                                        required
                                        data-parsley-required-message="@Translate.Text("Epass.Requiredfield")">
                                    <option value="" selected>
                                        @Translate.Text("Epass.Selectcountry")
                                    </option>
                                    @{foreach (var item in Nationalities)
                                        {
                                            <option value="@item.Value"> @item.Text </option>
                                        }
                                    }
                                </select>
                            </span>
                            <div id="description-for-vcdza81ve" class="form-field__messages">
                            </div>
                        </div>
                        <div class="form-field form-field--text  ">
                            <label for="form-field-t3re6q5m9" class="form-field__label">
                                @Translate.Text("Epass.Tradelicense")
                                <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                            </label>
                            <span class="form-field__input-wrapper
                                                                                     ">
                                <input class="form-field__input form-field__input--text
                                                                                     "
                                       id="form-field-t3re6q5m9"
                                       name="Trade_License_Number"
                                       type="number"
                                       maxlength="30"
                                       placeholder="@Translate.Text("Epass.Entertradelicense")"
                                       aria-describedby="description-for-t3re6q5m9"
                                       data-parsley-errors-container="#description-for-t3re6q5m9"
                                       data-parsley-required-message="@Translate.Text("Epass.Requiredfield")" />
                            </span>
                            <div id="description-for-t3re6q5m9" class="form-field__messages">
                            </div>
                        </div>
                        <div id="datepicker-container-mtxo66ddy" class="form-field form-field--text  ">
                            <label for="form-field-mtxo66ddy" class="form-field__label">
                                @Translate.Text("Epass.Tradeissuedate")
                                <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                            </label>
                            <span class="form-field__input-wrapper
                             form-field__input-wrapper--datepicker
                                    ">
                                <input class="form-field__input form-field__input--text
                                    form-field__input--datepicker
                                    "
                                       id="form-field-mtxo66ddy"
                                       name="Trade_License_Issue_Date"
                                       type="text"
                                       placeholder="@Translate.Text("Epass.DateOfissuance")"
                                       aria-describedby="description-for-mtxo66ddy"
                                       data-parsley-errors-container="#description-for-mtxo66ddy"
                                       data-parsley-required-message="@Translate.Text("Epass.Requiredfield")"
                                       data-el="datepicker"
                                       data-picker-options='true' />
                            </span>
                            <div id="description-for-mtxo66ddy" class="form-field__messages">
                            </div>
                        </div>
                        <div id="datepicker-container-7aceoljai" class="form-field form-field--text  ">
                            <label for="form-field-7aceoljai" class="form-field__label">
                                @Translate.Text("Epass.Tradeexpirydate")
                                <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                            </label>
                            <span class="form-field__input-wrapper
                                    form-field__input-wrapper--datepicker
                                    ">
                                <input class="form-field__input form-field__input--text
                                    form-field__input--datepicker
                                    "
                                       id="form-field-7aceoljai"
                                       name="Trade_License_Expiry_Date"
                                       type="text"
                                       placeholder="@Translate.Text("Epass.DateOfexpiry")"
                                       aria-describedby="description-for-7aceoljai"
                                       data-parsley-errors-container="#description-for-7aceoljai"
                                       data-parsley-required-message="@Translate.Text("Epass.Requiredfield")"
                                       data-el="datepicker-future"
                                       data-picker-options='true' />
                            </span>
                            <div id="description-for-7aceoljai" class="form-field__messages">
                            </div>
                        </div>
                        @*<div class="form-field form-field--select form-field--select-single">
                                <label for="form-field-uwczb7v3n" class="form-field__label">
                                    Vendor Account Category
                                    <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                                </label>
                                <span class="form-field__input-wrapper form-field__input-wrapper--select">
                                    <select class="form-field__input form-field__input--select form-field__input--select-full"
                                            id="form-field-uwczb7v3n"
                                            name="Vendor_Account_Category"
                                            aria-describedby="description-for-uwczb7v3n"
                                            data-parsley-errors-container="#description-for-uwczb7v3n"
                                            required
                                            data-parsley-required-message="@Translate.Text("Epass.Requiredfield")">
                                        <option value="" selected>Select Category</option>
                                        <option value="1">Local Vendor</option>
                                        <option value="2">Foreign Vendor</option>
                                    </select>
                                </span>
                                <div id="description-for-uwczb7v3n" class="form-field__messages">
                                </div>
                            </div>*@

                        @*<div class="form-field form-field--text  ">
                                <label for="form-field-0d8fdr9fx" class="form-field__label">
                                    City
                                    <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                                </label>
                                <span class="form-field__input-wrapper">
                                    <input class="form-field__input form-field__input--text"
                                           id="form-field-0d8fdr9fx"
                                           name="City"
                                           type="text"
                                           placeholder="Please enter city"
                                           aria-describedby="description-for-0d8fdr9fx"
                                           data-parsley-errors-container="#description-for-0d8fdr9fx"
                                           required
                                           data-parsley-required-message="@Translate.Text("Epass.Requiredfield")" />
                                </span>
                                <div id="description-for-0d8fdr9fx" class="form-field__messages">
                                </div>
                            </div>*@

                        @*<div class="form-field form-field--text  ">
                                   <label for="form-field-iunlbd291" class="form-field__label">
                                       PO Box
                                       <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                                   </label>
                                   <span class="form-field__input-wrapper
                            ">
                                       <input class="form-field__input form-field__input--text"
                                              id="form-field-iunlbd291"
                                              name="PO_Box"
                                              type="number"
                                              placeholder="Please enter PO Box"
                                              aria-describedby="description-for-iunlbd291"
                                              data-parsley-errors-container="#description-for-iunlbd291"
                                              required
                                              data-parsley-required-message="@Translate.Text("Epass.Requiredfield")" />
                                   </span>
                                   <div id="description-for-iunlbd291" class="form-field__messages">
                                   </div>
                               </div>*@




                        <div class="form-field__button">
                            <button type="submit" class="button button--primary button--fullwidth-mobile button--next">@Translate.Text("Epass.Addsubcontractor")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}