@using Sitecore.Mvc
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GatePass.Models.ePass.VendorLoginModel

<div class="j113-epass">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                @Html.Sitecore().Placeholder("contenttitle")
                <div class="m40-status-message m40-status-message--success  icon icon-new-success-message" data-component="m40-status-message">
                    <div class="m40-status-message__title  ">
                        @Translate.Text("Epass.Emailsent")
                    </div>
                    <div class="m40-status-message__text ">
                        @Translate.Text("Epass.Verificationmailtovendor")
                    </div>
                    <div class="m42-keyvalue">
                        <dl class="centered">
                            <dt class="m42-keyvalue__key--stacked">@Translate.Text("Epass.Vendoridacc")</dt>
                            <dd class="m42-keyvalue__value--stacked">@Model.VendorId</dd>
                        </dl>
                        <dl class="centered">
                            <dt class="m42-keyvalue__key--stacked">@Translate.Text("Epass.Emailaddress")</dt>
                            <dd class="m42-keyvalue__value--stacked">@Model.Emailaddress</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>