@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GatePass.Models.ePass.VendorLoginModel


<div class="j113-epass">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                @Html.Sitecore().Placeholder("contenttitle")
                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_parsley_focus = "true", @data_form = "true", @class = "form", @data_submit_validate = "enabled", @novalidate = string.Empty, @autocomplete = "off" }))
                {
                    @Html.Sitecore().FormHandler()
                    @Html.AntiForgeryToken()
                    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

                    <fieldset class="fieldset">
                        <legend class="legend-color">.</legend>
                        <div class="form-field form-field--text">
                            <label for="form-field-vendorid" class="form-field__label">
                                @Translate.Text("Epass.Vendoridacc")

                            </label>
                            <span class="form-field__input-wrapper">
                                @Html.TextBoxFor(x => x.VendorId, new
                           {
                               @class = "form-field__input form-field__input--text",
                               @type = "text",
                               @id = "form-field-vendorid",
                               @placeholder = @Translate.Text("Epass.Entervendorid"),
                               @required = "required",
                               @maxlength = "20",
                                @data_parsley_error_message = @Translate.Text("Epass.Entervendorid"),
                               @data_parsley_errors_container = "#description-for-login-main-username",
                               @aria_describedby = "description-for-login-main-username"
                           })
                            </span>
                            <div id="description-for-login-main-username" class="form-field__messages">
                                @Html.ValidationMessageFor(x => x.VendorId, "", new { @class = "parsley-errors-list" })
                            </div>
                        </div>

                        <div class="form-field form-field--text ">
                            <label for="form-field-email" class="form-field__label">@Translate.Text("Email ID") <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span></label>
                            <label class="form-field__input-wrapper">
                                @Html.TextBoxFor(x => x.Emailaddress,
                        new
                        {
                            @class = "form-field-email",
                            @id = "form-field-email",
                            @placeholder = Translate.Text("Enter email ID"),
                            @required = "",
                            @data_parsley_error_message = Translate.Text("Epass.Entervalidemail"),
                            @data_parsley_errors_container = "#description-for-email",
                            @aria_describedby = "description-for-email",
                            @data_parsley_id = "14",
                            @step = "any",
                            @type = "email"
                        })
                            </label>
                            <div id="description-for-email" class="form-field__messages">
                                @Html.ValidationMessageFor(x => x.Emailaddress, "", new { @class = "parsley-errors-list" })
                            </div>
                        </div>


                    </fieldset>
                    <div class="form-field__button">
                        <button id="loginButton" type="submit" class="button button--primary" data-submission-text="@Translate.Text("Epass.Proceeding")...">@Translate.Text("Epass.Proceed")</button>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/External/nml/form-submit-validate.js"></script>
