@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GatePass.Models.ePass.SetNewPassword


<div class="j113-epass">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                @Html.Sitecore().Placeholder("contenttitle")
                @if (ViewBag.success != null && (bool)ViewBag.success)
                {
                    <div class="m40-status-message m40-status-message--success  icon icon-new-success-message" data-component="m40-status-message">
                        <div class="m40-status-message__title  ">
                            @Translate.Text("Epass.Success")
                        </div>
                        <div class="m40-status-message__text ">
                            @Translate.Text("Epass.Newpasswordchanged")
                        </div>
                    </div>
                }
                else
                {
                    using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_parsley_focus = "true", @data_form = "true", @class = "form", @data_submit_validate = "enabled", @novalidate = string.Empty, @autocomplete = "off" }))
                    {
                        @Html.Sitecore().FormHandler()
                        @Html.AntiForgeryToken()
                        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

                        <fieldset class="fieldset">
                            <legend class="legend-color">.</legend>
                            @Html.HiddenFor(x => x.key)
                            @Html.HiddenFor(x => x.userid)
                            <div class="form-field form-field--text">
                                <label for="form-field-password" class="form-field__label">
                                    @Translate.Text("password label")
                                </label>

                                <span class="form-field__input-wrapper">
                                    @Html.PasswordFor(x => x.Password, new
                               {
                                   @class = "form-field__input form-field__input--text form-field__input parsley",
                                   @id = "form-field-password",
                                   @placeholder = Translate.Text("Epass.Enterpassword"),
                                   @required = "",
                                   @type = "password",
                                   @data_parsley_error_message = Translate.Text("epass.login password validation message alphanumeric"),
                                   @data_parsley_errors_container = "#description-for-set-password",
                                   @data_parsley_password = "",
                                   @aria_describedby = "description-for-set-password",
                                   @autocomplete = "off",
                                   @data_parsley_id = "8",
                                   @minlength = "8",
                                   @maxlength = "30",
                               })
                                </span>

                                <div id="description-for-set-password" class="form-field__messages">
                                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "parsley-errors-list" })
                                </div>
                            </div>

                            <div class="form-field form-field--text">
                                <label for="form-field-confirm_password" class="form-field__label">
                                    @Translate.Text("Epass.Confimpassword")
                                </label>
                                <span class="form-field__input-wrapper">
                                    @Html.PasswordFor(x => x.ConfirmPassword, new
                               {
                                   @class = "form-field__input form-field__input--text",
                                   @id = "form-field-confirm_password",
                                   @placeholder = Translate.Text("Epass.Confimpassword"),
                                   @required = "required",
                                   @type = "password",
                                   @data_parsley_errors_container = "#description-for-confirm_password",
                                   @aria_describedby = "description-for-confirm_password",
                                   @data_parsley_error_message = Translate.Text("Epass.Passwordmismatch"),
                                   @data_parsley_equalto = "#form-field-password",
                                   @autocomplete = "off",
                                   @data_parsley_id = "8",
                                   @minlength = "8",
                                   @maxlength = "30",
                               })
                                </span>

                                <div id="description-for-confirm_password" class="form-field__messages">
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "parsley-errors-list" })
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-field__button">
                            <button class="button button--primary button--fullwidth" type="submit" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Submit")</button>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/External/nml/form-submit-validate.js"></script>
