@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GatePass.Models.ePass.VendorLoginModel

<div class="j113-epass">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                @Html.Sitecore().Placeholder("contenttitle")
                <div class="m40-status-message m40-status-message--success  icon icon-new-success-message" data-component="m40-status-message">
                    <div class="m40-status-message__title">@Translate.Text("Epass.Success")</div>
                    <div class="m40-status-message__text ">
                        @Translate.Text("Epass.Useractivated")
                    </div>
                </div>
                <div class="form-field__button">
                    <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EPASS_LOGIN)" class="button button--primary button--next">@Translate.Text("Epass.Login")</a>
                </div>
            </div>
        </div>
    </div>
</div>