@using DEWAXP.Foundation.Integration.Enums
@using DEWAXP.Foundation.Integration.Responses
@using DEWAXP.Foundation.Helpers
@using Sitecore.Data
@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Content.Models.Bills
@model DEWAXP.Foundation.Content.Models.Payment.ServiceActivationPaymentCompletionModel

@{
    string timeFix = "";
    if (@Language.Current.Name.ToLowerInvariant() == "ar-ae")
    {
        timeFix = "\u200F";
    }
}

<div class="grid">
    <div class="grid__row noprint">
        <div class="grid__column grid__column--12">
            @Html.Sitecore().Placeholder("payment-confirmation/page-title")
        </div>
    </div>

    @if (Model.Succeeded)
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">

                <div class="m40-status-message m40-status-message--success icon icon-new-success-message " data-component="m40-status-message">
                    <div class="m40-status-message__title icon--success">@Translate.Text("Payment completed")</div>

                    @*<div class="m40-status-message__referance">@Translate.Text("Reference_Number"): <strong>@Model.DewaTransactionId</strong></div>*@

                    <div class="m40-status-message__text">@Model.Message</div>
                    <p>
                        <button class="button button--text button--printer noprint" data-print="page">@Translate.Text("Print this page")</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <!-- m42-key-value--start -->
                <div class="m42-keyvalue success-page">
                    <dl>
                        <dt class="m42-keyvalue__key--stacked">@Translate.Text("payment date and time label")</dt>
                        @if (Language.Current.Name.ToLowerInvariant() == "ar-ae")
                        {
                            <dd class="m42-keyvalue__value--stacked tran-details">@Model.PaymentDate.ToString("dd MMM yyyy | " + timeFix + "ss:" + timeFix + "mm:" + timeFix + "HH", Sitecore.Context.Culture)</dd>
                        }
                        else
                        {
                            <dd class="m42-keyvalue__value--stacked tran-details">@Model.PaymentDate.ToString("dd MMM yyyy | " + timeFix + "HH:" + timeFix + "mm:" + timeFix + "ss", Sitecore.Context.Culture)</dd>
                        }

                        @*<dt class="m42-keyvalue__key--stacked">@Translate.Text("receipt id label")</dt>
                            <dd class="m42-keyvalue__value--stacked tran-details">@Model.ReceiptIdentifiers</dd>*@

                        <dt class="m42-keyvalue__key--stacked">@Translate.Text("deg transaction id label")</dt>
                        <dd class="m42-keyvalue__value--stacked tran-details">@Model.DegTransactionId</dd>

                        <dt class="m42-keyvalue__key--stacked">@Translate.Text("dewa transaction id label")</dt>
                        <dd class="m42-keyvalue__value--stacked tran-details">@Model.DewaTransactionId</dd>
                        @if (!string.IsNullOrWhiteSpace(Model.ContractAccountNumber))
                        {
                            <dt class="m42-keyvalue__key--stacked">@Translate.Text("Contract Account Number")</dt>
                            <dd class="m42-keyvalue__value--stacked tran-details">@Model.ContractAccountNumber</dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.BusinessPartners))
                        {
                            <dt class="m42-keyvalue__key--stacked">@Translate.Text("moveout.payment.businesspartnernumber")</dt>
                            <dd class="m42-keyvalue__value--stacked tran-details">@Model.BusinessPartners</dd>
                        }

                        <dt class="m42-keyvalue__key--stacked">@Translate.Text("Total amount")</dt>
                        <dd class="m42-keyvalue__value--stacked tran-details" data-numeric-format="0,0.00" data-currency="@Translate.Text("AED")">@(Model.Total+Model.SuqiaAmount)</dd>
                    </dl>
                </div>
                <!-- m42-key-value--end -->
            </div>
        </div>
    }
    else
    {
        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
    }
    <div class="grid__row">

        <div class="grid__column grid__column--12 grid__column--centered grid__column--form">
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SuqiaSuccessPayment.cshtml", Model.SuqiaAmount)
            @Html.Sitecore().Placeholder("content-transreciept-placeholder")
        </div>
        <div class="grid__column grid__column--12 grid__column--centered grid__column--form noprint mt12">
            <h2 class="text__section-title noprint">@Translate.Text("What's next?")</h2>
            <div class="text-block noprint noprint">
                @if (Model.Whatsnexttext != null && Model.Whatsnexttext.Length > 0)
                {
                    foreach (var txt in Model.Whatsnexttext)
                    {
                        <p class="text__content-copy">@txt</p>
                    }
                }
            </div>
            <a role="button" class="button button--primary button--next noprint" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)">@Translate.Text("Customer_Dashboard")</a>
        </div>
    </div>

</div>