@using DEWAXP.Foundation.Integration.APIHandler.Models.Response.SmartSurvey
@using Sitecore.Globalization
@model DEWAXP.Foundation.Integration.APIHandler.Models.Response.SmartSurvey.Questiontypeslist
@{
    string groupnumber = ViewData["group"].ToString();
    string status = ViewData["status"] != null ? ViewData["status"].ToString() : string.Empty;
    bool displayonly = ((!string.IsNullOrWhiteSpace(Model.Displayonly) && Model.Displayonly.Equals("X")) || (!string.IsNullOrWhiteSpace(status) && status.Equals("D")));

}

<fieldset class="fieldset @((!string.IsNullOrWhiteSpace(Model.Othermandatoryoptionno) && !Model.Othermandatoryoptionno.Equals("0"))?"form-field__radio--toggle":string.Empty)">
    @if (!string.IsNullOrWhiteSpace(Model.Asheading) && Model.Asheading.Equals("X")) { }
    else
    {
        <legend class="form-field__label">
            @Model.Question
        </legend>
    }
    @if (Model.Optionslist != null)
    {
        <div class="form-field form-field_radio-wrapper">
            @foreach (Optionslist optionitem in Model.Optionslist)
            {
                <div class="form-field__radio">
                    <label>
                        <input class="form-field__input form-field__input--radio"
                               id="form-field-radio_group@(groupnumber)_question@(Model.Questionnumber)_@(Model.Optionslist.IndexOf(optionitem))"
                               name="radio_group@(groupnumber)_question@(Model.Questionnumber)"
                               type="radio"
                               @(!string.IsNullOrWhiteSpace(optionitem.Selectedflag) && optionitem.Selectedflag.Equals("X") ? "checked" : string.Empty)
                               @(displayonly ? " disabled" : string.Empty)
                               value="@optionitem.Questionoption"
                               @(!string.IsNullOrWhiteSpace(Model.Mandatory) && Model.Mandatory.Equals("X") ? "required" : string.Empty)
                               aria-describedby="description-for-radio_group@(groupnumber)_question@(Model.Questionnumber)"
                               data-parsley-required-message="@Model.Questionplaceholder"
                               data-parsley-error-message="@Model.Questionplaceholder"
                               data-parsley-errors-container="#description-for-radio_group@(groupnumber)_question@(Model.Questionnumber)"
                               toggle-target="@((!string.IsNullOrWhiteSpace(Model.Othermandatoryoptionno) && !Model.Othermandatoryoptionno.Equals("0"))&&Model.Othermandatoryoptionno.Equals(optionitem.Questionoption)?string.Format(".textarea-group{0}_question_{1}_{2}",groupnumber,Model.Questionnumber,optionitem.Questionoption):string.Empty)"
                               data-parsley-id="45">
                        <span class="form-field__fakeradio focus-enabled">
                            @optionitem.Questionoptiondescription
                        </span>
                    </label>
                </div>
            }
        </div>
    }
    <div id="description-for-radio_group@(groupnumber)_question@(Model.Questionnumber)" class="form-field__messages">
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Othermandatoryoptionno) && !Model.Othermandatoryoptionno.Equals("0"))
    {
        <div class="form-field form-field--text form-field--textarea textarea-group@(groupnumber)_question_@(Model.Questionnumber)_@Model.Othermandatoryoptionno" style="display:none">
            <span class="form-field__input-wrapper">
                <textarea @(displayonly ? " disabled" : string.Empty) class="form-field__input form-field__input--text form-field__input--textarea @(displayonly ? " disabled" : string.Empty) @(displayonly?"form-field__input--readonly":string.Empty)"
                          maxlength="500"
                          data-textarea="group@(groupnumber)_question@(Model.Questionnumber)"
                          id="form-field-group@(groupnumber)_question@(Model.Questionnumber)"
                          name="form-field-group@(groupnumber)_question@(Model.Questionnumber)_textarea"
                          type="textarea"
                          placeholder="@Model.Otherplaceholder"
                          aria-describedby="description-for-group@(groupnumber)_question@(Model.Questionnumber)"
                          data-parsley-errors-container="#description-for-group@(groupnumber)_question@(Model.Questionnumber)"
                          required=""
                          data-parsley-required-message="@Model.Otherplaceholder"
                          data-parsley-id="32">@(displayonly || (!string.IsNullOrWhiteSpace(Model.Backendvalue) && Model.Backendvalue.Equals("X")) ? Model.Surveyfeedback : string.Empty)</textarea>
            </span>
            <div id="description-for-group@(groupnumber)_question@(Model.Questionnumber)" class="form-field__messages">
                <p class="form-field__charcount">
                    @Translate.Text("EV Max") <span data-charcount="group@(groupnumber)_question@(Model.Questionnumber)">0</span>/500
                    @Translate.Text("EV Characters")
                </p>
            </div>
        </div>
        <div id="description-for-group@(groupnumber)_question@(Model.Questionnumber)" class="form-field__messages">
        </div>
    }

</fieldset>