@using DEWAXP.Foundation.Integration.APIHandler.Models.Response.SmartSurvey
@model DEWAXP.Foundation.Integration.APIHandler.Models.Response.SmartSurvey.Questiontypeslist
@{
    string groupnumber = ViewData["group"].ToString();
    string status = ViewData["status"] != null ? ViewData["status"].ToString() : string.Empty;
    bool displayonly = ((!string.IsNullOrWhiteSpace(Model.Displayonly) && Model.Displayonly.Equals("X")) || (!string.IsNullOrWhiteSpace(status) && status.Equals("D")));
}

<fieldset class="fieldset">
    @if (!string.IsNullOrWhiteSpace(Model.Asheading) && Model.Asheading.Equals("X")) { }
    else
    {
        <legend class="form-field__label">
            @Model.Question
        </legend>
    }
    @if (Model.Optionslist != null&& Model.Optionslist.Count.Equals(2))
    {
        <div class="form-field__switch">
            <input type="checkbox" name="checkbox_group@(groupnumber)_question@(Model.Questionnumber)" class="form-field__switch-checkbox @(displayonly ? "disabled" : string.Empty)" 
                   id="checkbox_group@(groupnumber)_question@(Model.Questionnumber)"
                   @(displayonly ? "disabled" : string.Empty)
                   value="@Model.Optionslist.FirstOrDefault().Questionoption"
                    @(!string.IsNullOrWhiteSpace(Model.Optionslist.FirstOrDefault().Selectedflag) && Model.Optionslist.FirstOrDefault().Selectedflag.Equals("X") ? "checked" : string.Empty)
                   @(!string.IsNullOrWhiteSpace(Model.Mandatory) && Model.Mandatory.Equals("X") ? "required" : string.Empty)>
            <label class="form-field__switch-main" for="checkbox_group@(groupnumber)_question@(Model.Questionnumber)">
                <span class="form-field__switch-inner" data-before="@Model.Optionslist.FirstOrDefault().Questionoptiondescription" data-after="@Model.Optionslist.LastOrDefault().Questionoptiondescription"></span>
                <span class="form-field__switch-switch"></span>
            </label>
        </div>
    <div id="description-for-checkbox_group@(groupnumber)_question@(Model.Questionnumber)" class="form-field__messages">
    </div>
    }
</fieldset>
