@using DEWAXP.Foundation.Helpers.Extensions
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc.Configuration
@Html.Partial("~/Views/Feature/CommonComponents/Shared/_Loader.cshtml")
@model DEWAXP.Feature.HR.Models.Internship.SurveyOTPVerify

<div class="grid j167-internship">
    @Html.Sitecore().Placeholder("j87/m26-page-title")
    <div class="grid__row">
        <div class="grid__column grid__column--12  grid__column--form">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form form--inline", @id = "SurveyOTPSendForm", @data_form = "true", @novalidate = string.Empty }))
            {
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
                if (Model != null)
                {

                    <div class="form-field j141-tracking--radio">
                        <fieldset class="fieldset">
                            <legend class="legend-color">.</legend>
                            @if (!string.IsNullOrEmpty(Model.MaskedEmailAddress))
                            {
                                <div class="form-field__radio ">
                                    <label>
                                        <input class="form-field__input form-field__input--radio"
                                               id="SelectedOptions"
                                               aria-label="SelectedOptions"
                                               name="SelectedOptions"
                                               type="radio"
                                               value="email"
                                               aria-describedby="description-for-mwkcis1ps"
                                               data-parsley-errors-container="#description-for-mwkcis1ps"
                                               checked>
                                        <span class="form-field__fakeradio focus-enabled">
                                            <strong>@Model.MaskedEmailAddress</strong>
                                        </span>
                                    </label>
                                    <input type="hidden" value="@Model.EmailAddress" id="verify-mail" name="">
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(Model.MaskedMobileNumber))
                            {
                                <div class="form-field__radio">
                                    <label>
                                        <input class="form-field__input form-field__input--radio"
                                               id="SelectedOptions"
                                               aria-label="SelectedOptions"
                                               name="SelectedOptions"
                                               type="radio"
                                               value="mobile"
                                               aria-describedby="description-for-maskmobilenumber"
                                               data-parsley-errors-container="#description-for-maskmobilenumber"
                                               @(string.IsNullOrEmpty(Model.MaskedEmailAddress) ? "checked" : "")>
                                        <span class="form-field__fakeradio focus-enabled">
                                            <strong dir="ltr">@Model.MaskedMobileNumber</strong>
                                        </span>
                                    </label>
                                    <input type="hidden" value="@Model.MobileNumber" id="verify-contact" name="">
                                </div>
                            }

                        </fieldset>
                    </div>

                    <div class="form-field__button">
                        <button class="button button--primary" type="submit" id="btnSend">@Translate.Text("INT.LBL.SEND.OTP")</button>
                    </div>
                }
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    docReady(function () {
        jQuery('.m12-main').addClass('m12-main-survey');
    });
</script>
