@using DEWAXP.Foundation.Helpers.Extensions
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc.Configuration
@using System.Globalization
@Html.Partial("~/Views/Feature/CommonComponents/Shared/_Loader.cshtml")
@model DEWAXP.Feature.HR.Models.Internship.SurveyOTPVerify

@{
    int timerTime = 300;
    if (Model != null && !string.IsNullOrWhiteSpace(Model.TimerTime))
    {
        string[] timeformats = { @"m\:ss" };
        TimeSpan duration = TimeSpan.ParseExact(Model.TimerTime, timeformats, CultureInfo.InvariantCulture);
        int seconds = (int)duration.TotalSeconds;
        timerTime = seconds;
    }
}
<div class="grid j167-internship">
    @Html.Sitecore().Placeholder("j87/m26-page-title")
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            <div id="otpsection">
                <div class="grid__row grid__row--tight ">
                    <div class="grid__column grid__column--12">
                        <div class="m14-richtext centered">
                            @if (Model != null && !string.IsNullOrWhiteSpace(Model.SelectedOptions) && Model.SelectedOptions.Equals("mobile"))
                            {
                                <h3><strong>@Translate.Text("INT.DESC.OTP.MOB.VERIFICATION").Replace("{mobile}", Model.MaskedMobileNumber)</strong></h3>
                            }
                            else
                            {
                                <h3><strong>@Translate.Text("INT.DESC.OTP.EML.VERIFICATION").Replace("{email}", Model.MaskedEmailAddress)</strong></h3>
                            }
                            <h4 class="m78-timer-instructions" style="display: none;">@Translate.Text("INT.GENERATE.ONETIME.CODE.MSG")</h4>
                            <h4 class="m78-timer-verification hidden mb12" style="display: block;">@Translate.Text("INT.GENERATE.ONETIME.CODE.INST")</h4>
                        </div>
                    </div>
                </div>
                <div class="grid__row grid__row--tight">
                    <div class="grid__column grid__column--12  grid__column--form">
                        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form j152-ev-smart-charge-form", @id = "otpverifysurveyform", data_form = "true", encType = "multipart/form-data", @data_submit_validate = "enabled" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="text" style="display:none;" id="otpstring" name="otp" value="" />
                            <input type="text" style="display:none;" id="timertime" name="timertime" value="" />

                            <div class="form-field form-field--otp centered">
                                <span class="form-field__input-wrapper_otp">
                                    <input class="form-field__input form-field__input--otp"
                                           id="form-field-mobilenumber"
                                           name="text" type="number"
                                           aria-describedby="description-for-mobilenumber"
                                           data-parsley-maxnumber="1"
                                           data-parsley-errors-container="#description-for-mobilenumber"
                                           required=""
                                           autofocus=""
                                           data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                           data-parsley-trigger="focusout"
                                           data-parsley-id="6"
                                           aria-invalid="false">
                                </span>
                                <span class="form-field__input-wrapper_otp">
                                    <input class="form-field__input form-field__input--otp"
                                           id="form-field-mobilenumber"
                                           name="text" type="number"
                                           aria-describedby="description-for-mobilenumber"
                                           data-parsley-maxnumber="1"
                                           data-parsley-errors-container="#description-for-mobilenumber"
                                           required=""
                                           data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                           data-parsley-trigger="focusout"
                                           data-parsley-id="8"
                                           aria-invalid="false">
                                </span>
                                <span class="form-field__input-wrapper_otp">
                                    <input class="form-field__input form-field__input--otp"
                                           id="form-field-mobilenumber"
                                           name="text" type="number"
                                           aria-describedby="description-for-mobilenumber"
                                           data-parsley-maxnumber="1"
                                           data-parsley-errors-container="#description-for-mobilenumber"
                                           required=""
                                           data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                           data-parsley-trigger="focusout"
                                           data-parsley-id="10"
                                           aria-invalid="false">
                                </span>
                                <span class="form-field__input-wrapper_otp">
                                    <input class="form-field__input form-field__input--otp"
                                           id="form-field-mobilenumber"
                                           name="text" type="number"
                                           aria-describedby="description-for-mobilenumber"
                                           data-parsley-maxnumber="1"
                                           data-parsley-errors-container="#description-for-mobilenumber"
                                           required=""
                                           data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                           data-parsley-trigger="focusout"
                                           data-parsley-id="12"
                                           aria-invalid="false">
                                </span>
                                <span class="form-field__input-wrapper_otp">
                                    <input class="form-field__input form-field__input--otp"
                                           id="form-field-mobilenumber"
                                           name="text" type="number"
                                           aria-describedby="description-for-mobilenumber"
                                           data-parsley-maxnumber="1"
                                           data-parsley-errors-container="#description-for-mobilenumber"
                                           required=""
                                           data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                           data-parsley-trigger="focusout"
                                           data-parsley-id="14"
                                           aria-invalid="false">
                                </span>
                                <span class="form-field__input-wrapper_otp">
                                    <input class="form-field__input form-field__input--otp"
                                           id="form-field-mobilenumber"
                                           name="text" type="number"
                                           aria-describedby="description-for-mobilenumber"
                                           data-parsley-maxnumber="1"
                                           data-parsley-errors-container="#description-for-mobilenumber"
                                           required=""
                                           data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                           data-parsley-trigger="focusout"
                                           data-parsley-id="16"
                                           aria-invalid="false">
                                </span>
                                <input class="form-field__input form-field__input--otp_main"
                                       id="form-field-mobilenumbermain"
                                       name="text" type="number"
                                       aria-describedby="description-for-mobilenumbermain"
                                       data-parsley-maxnumber="6"
                                       data-parsley-errors-container="#description-for-mobilenumbermain"
                                       data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                       data-parsley-trigger="focusout"
                                       data-parsley-id="33">
                                <div id="description-for-mobilenumber" class="form-field__messages">
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="grid__row">
                    <div class="grid__column grid__column--12 grid__column--form centered">
                        <div class="button button--timer timer-button--outline"
                             data-component="m78-timer"
                             id="timerbutton"
                             timer-restart="true"
                             timer-labels="{&quot;before&quot;:&quot;@Translate.Text("INT.RESEND.BUTTON.TEXT")&quot;, &quot;after&quot;:&quot;@Translate.Text("INT.RESEND.BUTTON.TEXT") (&quot;}"
                             timer-time="{&quot;seconds&quot;:@timerTime}">
                            <span class="m78-timer--button_text">@Translate.Text("INT.RESEND.BUTTON.TEXT")</span>
                            <span class="m78-timer--button_time"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/nml/form-submit-validate.js"></script>
<script type="text/javascript">
    docReady(function () {
        setTimeout(function () {
            jQuery('.button--timer').trigger('start');
        }, 500);

        var _this = this,
            $field = $('.form-field--otp'),
            $input = $field.find('.form-field__input--otp'),
            i,
            $inputMain = $field.find('.form-field__input--otp_main');

        var submitting = false;
        $(".form-field__input--otp").off('keyup.verify  blur.verify').on('keyup.verify blur.verify', function () {
            setTimeout(function () {
                if (submitting === true) { return false; }
                if ($(".form-field__input--otp_main").val().length == 6) {
                    jQuery('#otpstring').val($(".form-field__input--otp_main").val());
                    jQuery('#timertime').val(jQuery(".m78-timer--button_time").html().replace(" )", ""));
                    submitting = true;
                    beforesendfnc();
                    jQuery('#otpverifysurveyform').submit();
                };
            }, 50)
        });

        jQuery("#timerbutton").on("click", (resendOTP));
    });
    function resendOTP() {
        if (!jQuery("#timerbutton").hasClass("timer-button--outline")) {
            var url = "/api/Sitecore/Internship/ResendOTP";
            jQuery.ajax({
                type: 'POST',
                url: url,
                traditional: true,
                data: AddForgeryToken({}, "otpverifysurveyform"),
                beforeSend: function () {
                    beforesendfnc();
                },
                complete: function () {
                    completefunc();
                },
                dataType: 'json',
                success: function (response) {
                    if (response != null && response != undefined) {
                        if (response == "Success") {
                            jQuery('.button--timer').attr('timer-time', '{"seconds":180}');
                            jQuery('.button--timer').attr('timer-restart', 'true');
                            setTimeout(function () {
                                jQuery('.button--timer').trigger('start');
                            }, 500);
                        }
                        else {
                            window.location.reload();
                        }
                    }
                },
                error: function () {
                }
            });
            return false;
        }
    }
    jQuery('.m12-main').addClass('m12-main-survey');
</script>