@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Globalization
@using _scPageItemId = DEWAXP.Foundation.Content.ScPageItemId
@model DEWAXP.Foundation.Content.Models.AccountModel.UpdateContactInfoSuccessModel
@{
    var indicatorClass = Model.IsAccountActive ? "active" : "inactive";
    var indicatorText = Model.IsAccountActive ? Translate.Text("Active") : Translate.Text("Inactive");
}
<div class="grid__row">
    <div class="grid__column grid__column--12">
        @Html.Sitecore().Placeholder("j21/m26-page-title")
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12">
        <div class="m40-status-message m40-status-message--success  icon icon-new-success-message  " data-component="m40-status-message">
            <div class="m40-status-message__title icon--success">@Translate.Text("Submission Successful")</div>
            <div class="m40-status-message__text">@Translate.Text("Update contact details success text")</div>
        </div>
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form" style="text-align:center;">
        <div class="text__content-copy--small-grey">@Translate.Text("Account updated")</div>
        <div class="text__content-copy--subtitle">@Model.SelectedAccountName</div>

        <div class="update_account_details">
            <div class="update_account_details__row">
                <div class="update_account_details__block">
                    <div class="update_account_details__item">@Translate.Text("Acc")</div>
                    <div class="update_account_details__item--divider">:</div>
                    <div class="update_account_details__item">@Model.AccountNumberSelected</div>
                    <div class="update_account_details__item update_account_details__item--@indicatorClass">@indicatorText</div>
                </div>
                @*<div class="update_account_details__block">
                        <div class="update_account_details__item">@Translate.Text("Type")</div>
                        <div class="update_account_details__item--divider">:</div>
                        <div class="update_account_details__item">@Model.SelectedCategory</div>
                    </div>*@
            </div>
            <div class="update_account_details__row">
                <div class="update_account_details__block">
                    <div class="update_account_details__item">@Translate.Text("Premise")</div>
                    <div class="update_account_details__item--divider">:</div>
                    <div class="update_account_details__item">@Model.SelectedPremiseNumber</div>
                </div>
                <div class="update_account_details__block">
                    <div class="update_account_details__item">@Translate.Text("Business Partner")</div>
                    <div class="update_account_details__item--divider">:</div>
                    <div class="update_account_details__item">@Model.SelectedBusinessPartnerNumber</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12">
        <!-- m42-key-value--start -->
        <div class="m42-keyvalue success-page">
            <dl>
                @if (!string.IsNullOrWhiteSpace(Model.NickName))
                {
                    <dt class="m42-keyvalue__key--stacked">@Translate.Text("Your nick name"):</dt>
                    <dd class="m42-keyvalue__value--stacked tran-details">@Model.NickName</dd>
                }

                @if (!string.IsNullOrWhiteSpace(Model.TelephoneNumber))
                {
                    <dt class="m42-keyvalue__key--stacked">@Translate.Text("Your telephone number"):</dt>
                    <dd class="m42-keyvalue__value--stacked tran-details">@Model.TelephoneNumber</dd>
                }

                <dt class="m42-keyvalue__key--stacked">@Translate.Text(DictionaryKeys.Global.MobileNumber):</dt>
                <dd class="m42-keyvalue__value--stacked tran-details">@Model.MobileNumber</dd>

                @if(!string.IsNullOrWhiteSpace(Model.FaxNumber))
                {
                    <dt class="m42-keyvalue__key--stacked">@Translate.Text("Your fax number"):</dt>
                    <dd class="m42-keyvalue__value--stacked tran-details">@Model.FaxNumber</dd>
                }

                <dt class="m42-keyvalue__key--stacked">@Translate.Text("Your email address"):</dt>
                <dd class="m42-keyvalue__value--stacked tran-details">@Model.EmailAddress</dd>

                @if(!string.IsNullOrWhiteSpace(Model.PoBox))
                {
                    <dt class="m42-keyvalue__key--stacked">@Translate.Text("PO Box"):</dt>
                    <dd class="m42-keyvalue__value--stacked tran-details">@Model.PoBox</dd>
                }

                @if(!string.IsNullOrWhiteSpace(Model.SelectedEmirateValue))
                {
                    <dt class="m42-keyvalue__key--stacked">@Translate.Text("Emirate"):</dt>
                    <dd class="m42-keyvalue__value--stacked tran-details">@Model.SelectedEmirateValue</dd>
                }

                @if (!string.IsNullOrWhiteSpace(Model.PreferredLanguage.ToString()))
                {
                    <dt class="m42-keyvalue__key--stacked">@Translate.Text("Preferred language"):</dt>
                    <dd class="m42-keyvalue__value--stacked tran-details">@Model.PreferredLanguage.ToString()</dd>
                }
            </dl>
        </div>
        <!-- m42-key-value--end -->
    </div>
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <div class="form-field__button">
            <a href="@LinkHelper.GetItemUrl(_scPageItemId.ConsumerProfilePage)" class="button button--primary">@Translate.Text("j60.UpdateAnotherAccountLinkText")</a>
            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)" class="button button--primary">@Translate.Text("j60.ViewAllAccountsLinkText")</a>
        </div>
    </div>
</div>

<script>
	docReady(function () {
		var hasNoNickName = '@string.IsNullOrWhiteSpace(Model.NickName)';

		if (hasNoNickName === 'False') {
			var nickName = '@Model.NickName';
			jQuery('.user-widget__name').text(nickName);
		}
	});
</script>