@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc.Configuration
@model DEWAXP.Foundation.Content.Models.AccountModel.UpdateContactInfoModel

@if (ViewBag.UCI == null)
{
    @*<div class="grid__row">
            <div class="grid__column grid__column--12">
                @Html.Sitecore().Placeholder("j21/m26-page-title")
            </div>
        </div>*@

    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                <h3 class="m17-sectiontitle__title m17-sectiontitle__title--green text__section-title">
                    @Translate.Text("UpdateAccountInfoTitle")
                </h3>
                <p class="m17-sectiontitle__text">
                    @Translate.Text("UpdateAccountInfoSubTitle")
                </p>

            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

    <div class="grid__row" style="padding-top:10px;">
        <div class="grid__column grid__column--12 grid__column--form">
            <form id="form-account-selector" action="#" method="POST" form-skipvalidation="true">
                @*data-form="true"*@
                @Html.Sitecore().Placeholder("j21/m43-account-selector")
            </form>
        </div>
    </div>

    using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form update-details-form", data_form = "true", data_parsley_focus = "none", encType = "multipart/form-data", @data_submit_validate = "enabled" }))
    {

        <div id="personal-details-placeholder" class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <fieldset class="fieldset">
                    <legend class="legend">
                        <strong> @Translate.Text("UpdateAccountInfoFormTitle")</strong>
                    </legend>
                </fieldset>
                <p class="iconfont_item_icon mb24 text__content-copy floatLeft">
                    @Translate.Text("UpdateAccountInfoNote")
                </p>
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.SelectedEmirateValue)
                @Html.HiddenFor(m => m.SelectedCategory)
                @Html.HiddenFor(m => m.SelectedPremiseNumber)
                @Html.HiddenFor(m => m.SelectedBusinessPartnerNumber)
                @Html.HiddenFor(m => m.AccountNumberSelected)
                @Html.HiddenFor(m => m.SelectedAccountName)
                @Html.HiddenFor(m => m.IsAccountActive)
                <input name="TabId" type="hidden" class="TabId" />
                <fieldset class="fieldset ajax-placeholder">
                    <legend class="legend-color">.</legend>
                    <div class="form-field form-field--text ">
                        <label for="form-field-nickname" class="form-field__label">@Translate.Text("Nickname")<span class="form-field__label-optional">(@Translate.Text("optional"))</span></label>
                        <span class="form-field__input-wrapper">
                            <input type="text" name="NickName" value="@Model.NickName"
                                   aria-describedby="description-for-nickname"
                                   class="form-field__input form-field__input--text"
                                   data-parsley-errors-container="#description-for-nickname"
                                   id="form-field-nickname" />
                        </span>
                        <div id="description-for-nickname" class="form-field__messages">
                            <p class="form-field__description" data-dtext="UCI_NickNameHelpText">@Translate.Text("UCI_NickNameHelpText")</p>
                        </div>
                    </div>

                    <div class="form-field form-field--text ">
                        <label for="form-field-telephonenumber" class="form-field__label">@Translate.Text("update contact Telephone number")<span class="form-field__label-optional">(@Translate.Text("optional"))</span></label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                            <input id="form-field-telephonenumber"
                                   type="tel"
                                   name="TelephoneNumber"
                                   value="@Model.TelephoneNumber"
                                   aria-describedby="description-for-telephonenumber"
                                   placeholder="@Translate.Text("Telephone number placeholder")"
                                   data-parsley-error-message="@Translate.Text("Please enter a valid UAE telephone number")"
                                   data-parsley-type="digits"
                                   data-parsley-trigger="focusout"
                                   data-parsley-telephone_number=""
                                   data-parsley-errors-container="#description-for-telephonenumber"
                                   class="form-field__input form-field__input--text form-field__input--prefixed" />
                        </span>
                        <div id="description-for-telephonenumber" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.TelephoneNumber, string.Empty, new { @class = "parsley-errors-list" })
                            <p class="form-field__description" data-dtext="UCI_TelephoneNumberHelpText">@Translate.Text("UCI_TelephoneNumberHelpText")</p>
                        </div>
                    </div>

                    <div class="form-field form-field--text ">
                        <label for="form-field-mobilenumber" class="form-field__label">
                            @Translate.Text("Mobile number")<span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                            <input id="form-field-mobilenumber"
                                   type="tel"
                                   name="MobileNumber"
                                   value="@Model.MobileNumber"
                                   @*aria-required="true"*@
                                   aria-describedby="description-for-mobilenumber"
                                   required="required"
                                   placeholder="@Translate.Text("Mobile number placeholder")"
                                   data-parsley-error-message="@Translate.Text("Please enter a valid UAE mobile number")"
                                   data-parsley-type="digits"
                                   data-parsley-trigger="focusout"
                                   data-parsley-mobile_number
                                   data-parsley-errors-container="#description-for-mobilenumber"
                                   class="form-field__input form-field__input--text form-field__input--prefixed" />
                        </span>
                        <div id="description-for-mobilenumber" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.MobileNumber, string.Empty, new { @class = "parsley-errors-list" })
                            <p class="form-field__description" data-dtext="UCI_MobileNumberHelptext">@Translate.Text("UCI_MobileNumberHelptext")</p>
                        </div>
                    </div>

                    <div class="form-field form-field--text ">
                        <label for="form-field-faxnumber" class="form-field__label">
                            @Translate.Text("Fax number")<span class="form-field__label-optional">(@Translate.Text("optional"))</span>
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                            <input id="form-field-faxnumber"
                                   type="tel"
                                   name="FaxNumber"
                                   value="@Model.FaxNumber"
                                   aria-describedby="description-for-faxnumber"
                                   placeholder="@Translate.Text("Fax number placeholder")"
                                   data-parsley-error-message="@Translate.Text("Please enter a valid UAE telephone number")"
                                   data-parsley-type="digits"
                                   data-parsley-trigger="focusout"
                                   data-parsley-telephone_number=""
                                   data-parsley-errors-container="#description-for-faxnumber"
                                   class="form-field__input form-field__input--text form-field__input--prefixed" />
                        </span>
                        <div id="description-for-faxnumber" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.FaxNumber, string.Empty, new { @class = "parsley-errors-list" })
                            <p class="form-field__description" data-dtext="UCI_FaxNumberHelptext">@Translate.Text("UCI_FaxNumberHelptext")</p>
                        </div>
                    </div>

                    <div class="form-field form-field--text ">
                        <label for="form-field-emailaddress" class="form-field__label">
                            @Translate.Text("Email address")<span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <input id="form-field-emailaddress"
                                   type="email"
                                   name="EmailAddress"
                                   value="@Model.EmailAddress"
                                   @*aria-required="true"*@
                                   required="required"
                                   placeholder="@Translate.Text("Email address placeholder")"
                                   aria-describedby="description-for-emailaddress"
                                   data-parsley-error-message="@Translate.Text("Please enter a valid email address")"
                                   data-parsley-trigger="focusout" data-parsley-errors-container="#description-for-emailaddress"
                                   class="form-field__input form-field__input--text" />
                        </span>
                        <div id="description-for-emailaddress" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.EmailAddress, string.Empty, new { @class = "parsley-errors-list" })
                            <p class="form-field__description" data-dtext="UCI_EmailAddressHelptext">@Translate.Text("UCI_EmailAddressHelptext")</p>
                        </div>
                    </div>

                    <div class="form-field form-field--text ">
                        <label for="form-field-address" class="form-field__label">
                            @Translate.Text("PO Box")<span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <input id="form-field-address"
                                   type="number" lang="en"
                                   name="PoBox"
                                   value="@Model.PoBox"
                                   @*aria-required="true"*@
                                   required="required"
                                   placeholder="@Translate.Text("Address placeholder")"
                                   aria-describedby="description-for-address"
                                   data-parsley-error-message="@Translate.Text("Please enter a value")"
                                   data-parsley-trigger="focusout"
                                   data-parsley-errors-container="#description-for-address"
                                   class="form-field__input form-field__input--text" />
                        </span>
                        <div id="description-for-address" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.PoBox, string.Empty, new { @class = "parsley-errors-list" })
                            <p class="form-field__description" data-dtext="UCI_PoBoxHelptext">@Translate.Text("UCI_PoBoxHelptext")</p>
                        </div>
                    </div>

                    <div class="form-field form-field--select form-field--select-single">
                        <label for="form-field-emirate" class="form-field__label">
                            @Translate.Text("Emirate")<span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            @Html.DropDownListFor(x => x.SelectedEmirateKey, new SelectList(ViewBag.Emirates, "Key", "Value", Translate.Text("Select Emirate")), new
                       {
                           @class = "form-field__input form-field__input--select form-field__input--select-full",
                           @aria_describedby = "description-for-emirate",
                           @data_parsley_id = "18",
                           @id = "form-field-emirate"
                       })
                        </span>
                        <div id="description-for-emirate" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.SelectedEmirateKey, string.Empty, new { @class = "parsley-errors-list" })
                            <p class="form-field__description" data-dtext="UCI_EmirateHelptext">@Translate.Text("UCI_EmirateHelptext")</p>
                        </div>
                    </div>

                    <div class="form-field form-field--select form-field--select-single">
                        <label for="form-field-preflang" class="form-field__label">
                            @Translate.Text("Preferred language")<span class="form-field__label-optional">(@Translate.Text("optional"))</span>
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select id="form-field-preflang" name="PreferredLanguage" id="PreferredLanguage" data-parsley-id="20"
                                    class="form-field__input form-field__input--select form-field__input--select-full"
                                    aria-describedby="description-for-preflang">
                                <option value="" selected>@Translate.Text("Preferred language placeholder")</option>
                                <option value="0">@Translate.Text("global.PreferredLanguage.English")</option>
                                <option value="1">@Translate.Text("global.PreferredLanguage.Arabic")</option>
                            </select>
                        </span>
                        <div id="description-for-preflang" class="form-field__messages">
                            @*<p class="form-field__description">@Translate.Text("UCI_language")</p>*@
                        </div>
                    </div>

                    @Html.Sitecore().Placeholder("j21/profile-photo-uploader")
                    <div class="form-field form-field--text ">
                        <p class="form-field__description" data-dtext="UCI_PicUplaoderHelptext">@Translate.Text("UCI_PicUplaoderHelptext")</p>
                    </div>
                    <div class="form-field__button">
                        <button class="button button--primary button--next" type="submit" data-submission-text="@Translate.Text("Updating")...">@Translate.Text("Update")</button>
                    </div>
                </fieldset>
            </div>
        </div>
    }

    <script type="text/javascript">
        docReady(function () {
            jQuery("select[name='SelectedEmirateKey']").on("change", function () {
                jQuery("input[name='SelectedEmirateValue']").val(jQuery("select[name='SelectedEmirateKey'] :selected").text());
            });

            jQuery('#form-account-selector').submit(handleAccountSelection);
            jQuery('#form-account-selector').submit();

            jQuery(".m41-tabs-box__tab-items").find("li[data-index='1'] > a").attr("class", "m41-tabs-box__tab-link m41-tabs-box__tab-link--active");
        });

        function handleAccountSelection(e) {
            var accountNumber = jQuery(e.target).find('input[name="SelectedAccountNumber"]:checked').val();
            if (accountNumber) {
                jQuery('#contact-details-placeholder').empty();

                var url = '/api/contactdetails/{id}'.replace("{id}", accountNumber);
                jQuery.ajax(url, {
                    beforeSend: function () {
                        window.attachSpinner('#personal-details-placeholder', { zIndex: 1, bgColor: "#fff", bgPosition: "top center" });
                    },
                    complete: function () {
                        window.detachSpinner('#personal-details-placeholder', { zIndex: 1, bgColor: "#fff", bgPosition: "top center" });
                    },
                    dataType: 'json',
                    method: 'GET',
                    success: function (response) {
                        console.log(response);
                        clearValidation();
                        update(response);
                    }
                });
            }
            return false;
        }

        function clearValidation() {
            jQuery(".update-details-form input").removeClass("form-field__input--error");
            jQuery(".update-details-form label").removeClass("form-field__input-wrapper--error");
        }

        function update(response) {
            if (response.Telephone.toLowerCase() === 'null') {
                response.Telephone = '';
            }
            jQuery('input[name="SelectedAccountName"]').val(response.AccountName);
            jQuery('input[name="AccountNumberSelected"]').val(response.AccountNumber);
            jQuery('input[name="SelectedBusinessPartnerNumber"]').val(response.BusinessPartnerNumber);
            jQuery('input[name="SelectedPremiseNumber"]').val(response.PremiseNumber);
            jQuery('input[name="SelectedCategory"]').val(response.BillingClass);
            jQuery('input[name="NickName"]').val(response.NickName);
            jQuery('input[name="EmailAddress"]').val(response.Email);
            jQuery('input[name="MobileNumber"]').val(response.Mobile);
            jQuery('input[name="TelephoneNumber"]').val(response.Telephone);
            jQuery('input[name="FaxNumber"]').val(response.Fax);
            jQuery('input[name="PoBox"]').val(response.PoBox);
            jQuery('select[name="SelectedEmirateKey"]').val(response.Emirate);
            jQuery('input[name="SelectedEmirateValue"]').val(jQuery('select[name="SelectedEmirateKey"] :selected').text());
            jQuery('input[name="IsAccountActive"]').val(response.IsAccountActive);
            //jQuery('#personal-details-placeholder img[data-src]').attr('src', '/profile_thumbs.ashx?id=' + response.AccountNumber);

            var $languages = jQuery('select[name="PreferredLanguage"] option');
            for (var i = 0; i < $languages.length; i++) {
                var $opt = $languages.eq(i);
                if ($opt.val() === response.PreferredLang.toString()) {
                    $opt.attr('selected', 'selected');
                    continue;
                }
                $opt.removeAttr('selected');
            }
        }
    </script>

    <script src="~/scripts/External/nml/form-submit-validate.js"></script>
}
else if (ViewBag.UCI == "success" && Model.UpdateContactInfoSuccessModel != null)
{
    var _data = Model.UpdateContactInfoSuccessModel;
    @Html.Partial("~/Views/Feature/Account/Account/_UpdateContactInfoSuccess.cshtml", _data)


    //url genertate
    //string HappinexUrl = "/api/sitecore/HappinessIndicator/PostData?type=Transaction&language=en&transactionId=b7cc6f6d-b399-4d47-ba97-50914f6610ce&serviceCode=772&islocal=True&ServiceDescription=UpdateContactInfo";

    string _happinexUrl = Url.Action("PostData", "HappinessIndicator", new
    {
        type = DEWAXP.Foundation.Content.Models.HappinessIndicator.IndicatorType.Transaction,
        language = Sitecore.Context.Language.Name,
        transactionId = Guid.NewGuid(),
        serviceCode = "3995",
        islocal = true,
        ServiceDescription = "UpdateContactInfo"
    });
    <input type="hidden" id="happinexUrl" value='@_happinexUrl'/>
    <script type="text/javascript">
        var _happinexUrl = '';
        docReady(function () {
            _happinexUrl = jQuery("#happinexUrl").val();
            if (_happinexUrl != null && _happinexUrl != "") {
                jQuery("#hitrigger").attr("href", _happinexUrl);
                setTimeout(function () {
                    jQuery("#hitrigger").trigger('click');
                }, 50);
            }
        });
    </script>
    //set url
    // Trigger:
}
