@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Globalization
@using _scPageItemId = DEWAXP.Foundation.Content.ScPageItemId
@model DEWAXP.Foundation.Content.Models.AccountModel.UpdateCustomerInfoSuccessModel

<div class="grid__row mt24">
    <div class="grid__column grid__column--12">
        <div class="m40-status-message m40-status-message--success  icon icon-new-success-message " data-component="m40-status-message">
            <div class="m40-status-message__title">@Translate.Text("cust.profile.success")</div>
            <div class="m40-status-message__text">
                @Translate.Text("cust.for.business.partner") @Model.BusinessPartnerNumber @if (Model.AccountNumberSelected != null)
                {@Translate.Text("cust.and.accounts") @Model.AccountNumberSelected}
                <div class="m42-keyvalue">
                    <dl>
                        <dt class="m42-keyvalue__key"><strong>@Translate.Text("cust.profile.name")</strong></dt>
                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.NickName</dd>
                        <dt class="m42-keyvalue__key"><strong>@Translate.Text("cust.profile.mobileno.label")</strong></dt>
                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.MobileNumber</dd>
                        <dt class="m42-keyvalue__key"><strong>@Translate.Text("cust.profile.email")</strong></dt>
                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.EmailAddress</dd>
                        @*<dt class="m42-keyvalue__key"><strong>Emirates ID Number</strong></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">784628235712</dd>*@
                        <dt class="m42-keyvalue__key"><strong>@Translate.Text("cust.profile.PO.box")</strong></dt>
                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.PoBox</dd>
                        @*<dt class="m42-keyvalue__key"><strong>Emirate</strong></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">Dubai</dd>*@
                        <dt class="m42-keyvalue__key"><strong>@Translate.Text("cust.profile.preferred.communication.language")</strong></dt>
                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.PreferredLanguage</dd>
                    </dl>
                </div>
                <!-- m42-key-value-end -->
            </div>

        </div>
    </div>
</div>
<div class="grid__row mb24">
    <div class="grid__column grid__column--12 centered">
        <a class="button button--primary" href="@LinkHelper.GetItemUrl(ScPageItemId.CustomerProfilePage)" data-close="true" id="_sezpd4dxr_close" aria-controls="_sezpd4dxr_content">@Translate.Text("cust.profile.backtoprofile")</a>
    </div>
</div>
@{
    string _happinexUrl = Url.Action("PostData", "HappinessIndicator", new
    {
        type = DEWAXP.Foundation.Content.Models.HappinessIndicator.IndicatorType.Transaction,
        language = Sitecore.Context.Language.Name,
        transactionId = Guid.NewGuid(),
        serviceCode = "3995",
        islocal = true,
        ServiceDescription = "UpdateContactInfo"
    });
}
<input type="hidden" id="happinexUrl" value='@_happinexUrl' />
<script type="text/javascript">
    var _happinexUrl = '';
    docReady(function () {
        _happinexUrl = jQuery("#happinexUrl").val();
        if (_happinexUrl != null && _happinexUrl != "") {
            jQuery("#hitrigger").attr("href", _happinexUrl);
            setTimeout(function () {
                jQuery("#hitrigger").trigger('click');
            }, 50);
        }
    });
</script>
