@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Foundation.Content.Models.BillSelector

<!-- m44-bill-selector--start -->
<div class="m44-bill-selector" data-component="m44-bill-selector" data-bill-total="@Model.Total" data-currency-suffix="@Translate.Text("AED")" data-payment-max="@PaymentConstants.MaximumAllowedPaymentAmount">
    @if (Model.AllowSelection)
    {
        <h3 class="text__section-subtitle">@Translate.Text("Select Accounts")</h3>
        <a class="link m44-bill-selector__deselect" href="#" data-state="1" data-select="@Translate.Text("Select all")" data-deselect="@Translate.Text("Deselect all")">@Translate.Text("Deselect all")</a>
        <div id="m44-bill-selector-list" class="ajax-placeholder m44-bill-selector-list-placeholder">
            @Html.Partial("~/Views/Feature/Account/Selector/M44 Bill Selection List.cshtml", Model)
        </div>
        <span class="pager_update" data-pager-update="true"></span>
    }
    else if (Model.Editable)
    {
        @Html.Partial("~/Views/Feature/Account/Selector/M44 Bill Review List.cshtml", Model)
    }
    else
    {
        @Html.Partial("~/Views/Feature/Account/Selector/M44 Bill Confirmation List.cshtml", Model)
    }
</div>
<!-- m44-bill-selector--end -->
