@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Foundation.Content.Models.BillSelector
@{
    var dir = Sitecore.Context.Culture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
    var lang = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "ar" : "en";
}

@foreach (var group in Model.Accounts.GroupBy(acc => acc.BusinessPartnerNumber).OrderByDescending(group => group.Any(acc => acc.Primary)))
{
    <div class="m44-bill-selector__partner">
        <div class="m44-bill-selector__partner-title">
            @Translate.Text("Business Partner"): @group.Key <strong>(@string.Format("{0} {1}", group.Count(), Translate.Text("Accounts").ToLowerInvariant()))</strong>
        </div>

        <div class="m44-bill-selector__accounts-list">
            @foreach (var account in group)
            {
                var index = Model.Accounts.IndexOf(account);
                var indicatorClass = account.Active ? "active" : "inactive";
                var displayName = string.IsNullOrWhiteSpace(Model.Accounts[index].NickName) ? Model.Accounts[index].Name : Model.Accounts[index].NickName;

                @Html.HiddenFor(m => m.Accounts[index].AccountNumber)
                @Html.HiddenFor(m => m.Accounts[index].Active)
                @Html.HiddenFor(m => m.Accounts[index].Balance)
                @Html.HiddenFor(m => m.Accounts[index].BusinessPartnerNumber)
                @Html.HiddenFor(m => m.Accounts[index].Selected)

                <span class="m44-bill-selector__account m44-bill-selector__account--review" data-acc-detail="wrapper" data-bill-amount="@account.ElectedPaymentAmount" data-bill-partial="@account.ElectedPaymentAmount">
                    @if (account.HasPhoto)
                    {
                        <img src="/images/ajax-loader_50x50.gif" data-src="/account_thumbs.ashx?id=@(account.AccountNumber)&aty=@((int)account.BillingClassification )" class="m44-bill-selector__image" alt="" role="presentation" data-acc-detail="acc_image">
                    }
                    <span class="m44-bill-selector__header">
                        <span class="m44-bill-selector__name" data-acc-detail="acc_name">
                            <span class="inline-block" dir="ltr">@displayName</span>
                            @if (account.AccountClass == DEWAXP.Foundation.Integration.Enums.AccountClassification.Active ||
                                                account.AccountClass == DEWAXP.Foundation.Integration.Enums.AccountClassification.Inactive)
                            {
                                <span dir="@dir" class="m44-bill-selector__status m44-bill-selector__status--@indicatorClass"></span>
                            }
                        </span>

                        <span class="m44-bill-selector__details">
                            <abbr title="@Translate.Text("Account")">@Translate.Text("Acc")</abbr>: <span dir="@dir" data-acc-detail="acc_number">@account.AccountNumber</span>
                            @if (!account.PartialPaymentPermitted)
                            {<span class="m44-bill-selector__review-details--final">(@Translate.Text("Final Bill"))</span>}
                            <span class="aria-only"> | </span>
                        </span>


                        <a href="#" role="button" aria-haspopup="true" aria-expanded="false" class="m44-bill-selector__review-details--edit">@Translate.Text("Edit amount")</a>

                    </span>

                    <span class="m44-bill-selector__review-details">
                        <div class="m37-expander" data-component="m37-expander">
                            <button data-toggle="true" class="m37-expander__trigger" data-numeric-format="0,0.00" data-currency="@Translate.Text("AED")">@account.Balance</button>

                            <div data-content="true" class="m37-expander__content" aria-expanded="false">
                                <div class="m42-keyvalue">
                                    <dl>
                                        <dt dir="@dir" class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">@Translate.Text("Electricity")</dt>
                                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd" data-acc-detail="">
                                            <span class="m42-keyvalue__value--currency--amount" data-numeric-format="0,0.00">@account.ElectricityBill</span>
                                            <span class="m42-keyvalue__value--currency--suffix">@Translate.Text("AED")</span>
                                        </dd>
                                        <dt dir="@dir" class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">@Translate.Text("Water")</dt>
                                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd" data-acc-detail="">
                                            <span class="m42-keyvalue__value--currency--amount" data-numeric-format="0,0.00">@account.WaterBill</span>
                                            <span class="m42-keyvalue__value--currency--suffix">@Translate.Text("AED")</span>
                                        </dd>

                                        <dt dir="@dir" class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">@Translate.Text(DictionaryKeys.FeesAndCharges.Labels.SewerageFee)</dt>
                                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd" data-acc-detail="">
                                            <span class="m42-keyvalue__value--currency--amount" data-numeric-format="0,0.00">@account.SewerageFees</span>
                                            <span class="m42-keyvalue__value--currency--suffix">@Translate.Text("AED")</span>
                                        </dd>

                                        <dt dir="@dir" class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">@Translate.Text(DictionaryKeys.FeesAndCharges.Labels.HousingCharges)</dt>
                                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd" data-acc-detail="">
                                            <span class="m42-keyvalue__value--currency--amount" data-numeric-format="0,0.00">@account.HousingFees</span>
                                            <span class="m42-keyvalue__value--currency--suffix">@Translate.Text("AED")</span>
                                        </dd>

                                        <dt dir="@dir" class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">@Translate.Text("SL.DMCharges")</dt>
                                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd" data-acc-detail="">
                                            <span class="m42-keyvalue__value--currency--amount" data-numeric-format="0,0.00">@account.DMCharges</span>
                                            <span class="m42-keyvalue__value--currency--suffix">@Translate.Text("AED")</span>
                                        </dd>

                                        <dt dir="@dir" class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">@Translate.Text(DictionaryKeys.FeesAndCharges.Labels.CoolingCharges)</dt>
                                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd" data-acc-detail="">
                                            <span class="m42-keyvalue__value--currency--amount" data-numeric-format="0,0.00">@account.CoolingCharges</span>
                                            <span class="m42-keyvalue__value--currency--suffix">@Translate.Text("AED")</span>
                                        </dd>

                                        <dt dir="@dir" class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">@Translate.Text(DictionaryKeys.FeesAndCharges.Labels.OtherCharges)</dt>
                                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd" data-acc-detail="">
                                            <span class="m42-keyvalue__value--currency--amount" data-numeric-format="0,0.00">@account.OtherCharges</span>
                                            <span class="m42-keyvalue__value--currency--suffix">@Translate.Text("AED")</span>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </span>

                    <div class="m44-bill-selector__review-form">
                        <fieldset class="fieldset">
                            <legend class="legend-color">.</legend>
                            <div class="m44-bill-selector__review-form--input">
                                <div class="form-field form-field--text">
                                    <label for="@string.Format("Accounts_{0}__ElectedPaymentAmount", index)" class="form-field__label">@Translate.Text("Make Partial Payment") <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span></label>

                                    <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--currency">
                                        <input id="@string.Format("Accounts_{0}__ElectedPaymentAmount", index)"
                                               name="@string.Format("Accounts[{0}].ElectedPaymentAmount", index)"
                                               type="number" lang="en"
                                               @*aria-required="true"*@
                                               required="required"
                                               class="form-field__input form-field__input--text form-field__input--prefixed edtPayment"
                                               value="@account.ElectedPaymentAmount"
                                               data-parsley-error-message="@Translate.Text("Maximum partial payment amount", PaymentConstants.MaximumAllowedPaymentAmount.ToString("0,0.00"))"
                                               data-parsley-errors-container="@string.Format("#description-for-edit_partial_field-{0}", account.AccountNumber)"
                                               data-parsley-currency=""
                                               min="0.00"
                                               max="@PaymentConstants.MaximumAllowedPaymentAmount"
                                               step="any"
                                               aria-describedby="@string.Format("#description-for-edit_partial_field-{0}", account.AccountNumber)"
                                               data-input-truncate="9" />
                                    </span>

                                    <div id="description-for-edit_partial_field-@account.AccountNumber" class="form-field__messages"></div>
                                </div>
                            </div>
                            <div class="m44-bill-selector__review-form-button--cancel">
                                <a class="button button--text button--cancel" href="#" role="button" aria-label="@Translate.Text("Cancel")">@Translate.Text("Cancel")</a>
                            </div>
                        </fieldset>
                    </div>
                </span>
            }
        </div>
    </div>
}

<div data-acc-detail="wrapper" class="centered" data-bill-amount>
    <a class="button button--primary button--next" id="pay-button-popup">
        @Translate.Text("Pay")
        <span class="amount_label">0.00</span>
    </a>
    <span class="form-field__input-wrapper form-field__input-wrapper--error-noicon">
        <input class="form-field__input form-field__input--text"
               id="form-field-billtotal"
               name="billtotal"
               type="hidden"
               aria-describedby="description-for-billtotal"
               data-parsley-errors-container="#description-for-billtotal"
               data-parsley-billtotalmax="@PaymentConstants.MaximumAllowedPaymentAmount"
               data-parsley-billtotalmax-message="@Translate.Text("Maximum aggregate payment amount", PaymentConstants.MaximumAllowedPaymentAmount.ToString("0,0.00"))"
               data-parsley-billtotalmin="0"
               data-parsley-billtotalmin-message="@Translate.Text("Payment amount invalid")">
    </span>
    @*<label>
            @Html.CheckBox("PayThroughNoqodi", Model.PayThroughNoqodi)
            <span>Pay Via Noqodi</span>
        </label>*@
    <div id="description-for-billtotal" class="form-field__messages"></div>
    @*<div class="form-field form-field--toggles">
            <fieldset class="fieldset">
                <div class="form-field__checkbox">
                    <label>
                        <input class="form-field__input form-field__input--checkbox"
                               id="form-field-PaybyNoqodi"
                               name="PayThroughNoqodi"
                               type="checkbox"
                               value="true" @(Model.PayThroughNoqodi ? "checked=\"checked\"" : "")
                               aria-describedby="description-for-PaybyNoqodi"
                               data-parsley-errors-container="#description-for-PaybyNoqodi"
                               data-parsley-multiple="checkbox_1_2"
                               data-parsley-id="48">
                        <span class="form-field__fakecheckbox focus-enabled">@Translate.Text("PaybyNoqodi")</span>
                    </label>
                </div>
                <div id="description-for-PaybyNoqodi" class="form-field__messages">
                </div>
            </fieldset>
        </div>*@
</div>


@* Payment Type Popup module *@
@Html.Partial("~/Views/Feature/CommonComponents/Shared/_PaymentPopupVariant.cshtml", string.Empty)

<script type="text/javascript">
    // Open Payment method popup.
    jQuery('#pay-button-popup').on('click', function () {
        var total = jQuery("#form-field-billtotal").val();
        var currency = '@Translate.Text("AED")';

        jQuery('#divPaymentAmountVal').attr('data-value', total);
        jQuery('#divPaymentAmountVal').data('value', total);

        if (numeral(total) > 0)
        {
            //Set payment method based on paid amount
            setPaymentMethod(total);

            jQuery("#continue-button").html(numeral(parseFloat(total)).format('0,0.00') + " " + currency);
            jQuery("#continue-button").attr("data-amount", numeral(parseFloat(total)).format('0,0.00'));
            jQuery('.btnmodaltrigger').trigger('click');
        }
    });

    docReady(function () {
        // Edit amount disabled enter key
        setTimeout(function () {
            jQuery('.edtPayment').each(function () {
                jQuery(this).off('keydown.submit').on('keydown.submit', function (event) {
                    if (event.keyCode == 13 || event.keyCode == 37 || event.keyCode == 38 || event.keyCode == 39 || event.keyCode == 40) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                })
            });
        }, 250)
    });
</script>