@using Sitecore.Mvc
@using Sitecore.Globalization
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model DEWAXP.Foundation.Content.Models.MoveOut.v3.MoveOutAnonymous

@Html.Sitecore().Placeholder("j18/m26-page-title")

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        @if (Model.IsSuccess)
        {
            <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title">@Sitecore.Globalization.Translate.Text("Submission Successful")</div>
                <div class="m40-status-message__text">
                    @Sitecore.Globalization.Translate.Text("Final bill successful")
                    @if (Model.SelectedRefundOption != "" && Model.SelectedRefundOption != "N")
                    {
                    <br>Sitecore.Globalization.Translate.Text("moveoutanonymous.successfultext");
                    }
                    <br>@Sitecore.Globalization.Translate.Text("Noticiation number"): @Model.Message
                </div>
                <p class="mt12">
                    <br>@Model.AdditionalInformation
                </p>
                <p>
                    <button class="button button--text button--printer noprint" data-print="page">@Sitecore.Globalization.Translate.Text("Print this page")</button>
                </p>
            </div>
        }
        else
        {
            <div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
                <div class="m40-status-message__title">@Sitecore.Globalization.Translate.Text(DictionaryKeys.Global.SubmissionError)</div>
                <div class="m40-status-message__text">@Model.ErrorMessage</div>
            </div>
        }
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <div id="selectedAccountFormate" class="fieldset">
            <p class="m43-accountsel__selected">
                <span data-acc-detail="wrapper" class="m43-accountsel__account1">
                    <span class="m43-accountsel__header">
                        <span data-acc-detail="acc_name" class="m43-accountsel__name">
                            <span class="inline-block">@Model.BusinessPartnerName</span><!--<span class="m43-accountsel__status m43-accountsel__status--active">-->@*@Translate.Text("Active")*@<!--</span>-->
                        </span>
                        <span class="m43-accountsel__details">
                            <span title="Account">@Translate.Text("Acc")</span>: <span data-acc-detail="acc_number">@Model.AccountNumber</span>

                        </span>

                    </span>
                </span>
            </p>
        </div>
    </div>
</div>

<div class="grid__row noprint">
    <div class="grid__column grid__column--12 grid__column--centered grid__column--form">
        <h2 class="text__section-title">@Translate.Text("WhatNext")</h2>
        @Html.Sitecore().Placeholder("whatsnextdescription")
        <div class="button-container--single">
            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)" class="button button--primary button--next" role="button">@Translate.Text("dashboard.label")</a>
        </div>
    </div>
</div>

@*<div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--content">
            @Html.Sitecore().Placeholder("j18/m17-sectiontitle")
        </div>
    </div>*@