@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers

@*@{
        string checkedfield = !Model.IsLoggedIn ? "checked" : string.Empty;
        string notloggedcheckedfield = Model.IsLoggedIn ? "checked" : string.Empty;
    }*@

<div class="grid">
    @Html.Sitecore().Placeholder("j26/m26-page-title")
</div>
@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_form = "true", @data_parsley_focus = "none", @class = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="form-field">
                <fieldset class="fieldset">
                    <legend class="legend-color">.</legend>
                    <div class="form-field">
                        <fieldset class="fieldset">
                            <legend class="legend-color">.</legend>
                            <p class="form-field__radio ">
                                <label>
                                    <input class="form-field__input form-field__input--radio" id="form-field-radio_1_1"
                                           aria-label="form-field-radio_1_1"
                                           name="radios_group1"
                                           type="radio"
                                           value="1"
                                           checked="checked"
                                           aria-describedby="description-for-qiwuv2ro1"
                                           data-parsley-errors-container="#description-for-qiwuv2ro1">

                                    <span class="form-field__fakeradio focus-enabled">
                                        @Translate.Text("Moveout.Anonymous.Apply.Online.Login")
                                    </span><br />
                                    <span class="form-field__description align-radio-desc">
                                        @Translate.Text("Moveout.Anonymous.Apply.Online.Login")
                                    </span>
                                </label>
                            </p>



                            <p class="form-field__radio ">
                                <label>
                                    <input class="form-field__input form-field__input--radio" id="form-field-radio_1_3"
                                           aria-label="form-field-radio_1_3"
                                           name="radios_group1"
                                           type="radio"
                                           value="2"
                                           aria-describedby="description-for-qiwuv2ro1"
                                           data-parsley-errors-container="#description-for-qiwuv2ro1">

                                    <span class="form-field__fakeradio focus-enabled">
                                        @Translate.Text("Moveout.Anonymous.Apply.Online.Anonymous")
                                    </span><br />
                                    <span class="form-field__description align-radio-desc">
                                        @Translate.Text("Moveout.Anonymous.Apply.Online.Anonymous.Desc")
                                    </span>
                                </label>
                            </p>
                            <div id="description-for-qiwuv2ro1" class="form-field__messages">
                            </div>


                        </fieldset>
                    </div>
                </fieldset>
                <div class="form-field__button">
                    <button type="submit" id="nonmoveinnext" class="button button--primary button--next">@Translate.Text("clearancecertificate.continue")</button>
                </div>
            </div>
        </div>
    </div>
}