@model DEWAXP.Foundation.Integration.Responses.VendorSvc.SRM_OpenInquiries
@using Sitecore.Globalization
@using DEWAXP.Foundation.Helpers.Extensions

<div class="grid__row">

    <div class="grid__column grid__column--12">

        <!-- m23-table-start -->
		<div class="m23-table" data-component="m23-table">

			<table class="m23-table__content-table">
				<thead class="m23-table__content-table-header">
					<tr class="m23-table__content-table-row">

						<th class="m23-table__content-table-cell--header ">@Translate.Text("RFx No")</th>

						<th class="m23-table__content-table-cell--header ">@Translate.Text("RfxDescription")</th>

						<th class="m23-table__content-table-cell--header ">@Translate.Text("RfxFloatDate")</th>

						<th class="m23-table__content-table-cell--header ">@Translate.Text("RfxCloseDate")</th>

					</tr>
				</thead>
				@if (Model.Item != null && Model.Item.Count() > 0)
				{
					<tbody class="m23-table__content-table-body">
						@foreach (var item in Model.Item)
						{

							<tr class="m23-table__content-table-row">
								<td class="m23-table__content-table-cell" data-label="@Translate.Text("RFx No")">@item.ObjectID<br><a target="_blank" class="link link--pdf" href="/api/RfxDownload/Get/@item.ObjectID">@Translate.Text("RfxViewPdf")</a></td>

								<td class="m23-table__content-table-cell" data-label="@Translate.Text("RfxDescription")">@item.ObjectDesc</td>

								<td class="m23-table__content-table-cell" data-label="@Translate.Text("RfxFloatDate")">@Html.GetFriendlyDate(item.FloatDate)</td>

								<td class="m23-table__content-table-cell" data-label="@Translate.Text("RfxCloseDate")">@Html.GetFriendlyDate(item.ClsDate)</td>
							</tr>
						}
					</tbody>
				}
			</table>

		</div>

        <!-- m23-table-end -->
    </div>
</div>