@using Sitecore.Mvc
@using Sitecore.Globalization
@using DEWAXP.Foundation.Helpers.Extensions
@*@model DEWAXP.Foundation.Integration.Responses.TenderSvc.TenderItemResultResponse*@
@model DEWAXP.Foundation.Integration.Responses.VendorSvc.GetTenderResultDisplayDataResponse
@{
    var cnt = 1;
}
<div class="grid__row">
    <div class="grid__column grid__column--12">
        @Html.Sitecore().Placeholder("j28/m26-page-title")


        @Html.Sitecore().Placeholder("j28/subnote")



    </div>
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        @*<p class="m26-page-title__backlink">
                <a class="button button--text button--back" href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(SitecoreItemIdentifiers.J28_OPEN_TENDER_LISTPAGE))">@Translate.Text("All Tenders")</a>
            </p>
            <br />
            <br />*@
        <div class="journey-intro">
            <h2 class="journey-intro__subtitle">@Translate.Text("TenderOpenResults")</h2>
        </div>

        <!-- intro -->
        <div class="tender-result">

            <dl class="tender-result__details">

                <dt class="tender-result__key">@Translate.Text("Tender No")</dt>
                <dd class="tender-result__value">@ViewBag.Tno</dd>

                <dt class="tender-result__key">@Translate.Text("Tender Description")</dt>
                <dd class="tender-result__value">@ViewBag.TDesc</dd>

                <dt class="tender-result__key">@Translate.Text("Floating Date")</dt>
                <dd class="tender-result__value">@ViewBag.FDate</dd>

                <dt class="tender-result__key">@Translate.Text("Closing Date")</dt>
                <dd class="tender-result__value">@ViewBag.CDate</dd>

                <dt class="tender-result__key">@Translate.Text("Tender Type")</dt>
                <dd class="tender-result__value">@ViewBag.TType</dd>

            </dl>

        </div>

        <!-- list -->
        @if (!(bool)ViewBag.HasResult)
        {
            <div class="tender-result">
                <h2 class="tender-result__title">@Translate.Text("NoExtraInfo")</h2>
            </div>
        }
        else
        {
            if (Model.OfferList.TenderOffer != null && Model.OfferList.TenderOffer.Any())
            {
                foreach (var tItem in Model.OfferList.TenderOffer)
                {
                    <div class="tender-result">

                        <h2 class="tender-result__title">@Translate.Text("Offer No") @tItem.OfferNumber</h2>

                        <dl class="tender-result__details">

                            <dt class="tender-result__key">@Translate.Text("Name of the Tenderer")</dt>
                            <dd class="tender-result__value">@tItem.TendererName</dd>

                        </dl>


                        <div>

                            <dl class="tender-result__details">

                                <dt class="tender-result__key">@Translate.Text("PriceLabel")</dt>

                                @if (tItem.AmountAED != "0" && !String.IsNullOrEmpty(tItem.AmountAED))
                                {
                                    <dd class="tender-result__value">@tItem.AmountAED AED</dd>
                                }
                                @if (tItem.Currency1 != "0" && !String.IsNullOrEmpty(tItem.Currency1))
                                {
                                    <dd class="tender-result__value">, @tItem.Currency1</dd>
                                }
                                @if (tItem.Currency2 != "0" && !String.IsNullOrEmpty(tItem.Currency2))
                                {
                                    <dd class="tender-result__value">, @tItem.Currency2</dd>
                                }
                                <dt class="tender-result__key">@Translate.Text("Delivery or Completion")</dt>
                                <dd class="tender-result__value">@tItem.DeliveryDays</dd>

                                <dt class="tender-result__key">@Translate.Text("Bank Guarante")</dt>
                                <dd class="tender-result__value">@tItem.BankGuarantee</dd>

                                <dt class="tender-result__key">@Translate.Text("Remarks")</dt>
                                <dd class="tender-result__value">@tItem.Remarks</dd>

                            </dl>
                        </div>

                    </div>
                    ++cnt;
                }
            }
            <div>
                @Html.Sitecore().Placeholder("j28/subfooternote")
            </div>
        }

    </div>
</div>
