@using Sitecore.Globalization
@using DEWAXP.Foundation.Helpers.Extensions
@using Sitecorex= Sitecore.Context
@using DEWAXP.Foundation.Content
@*@model DEWAXP.Foundation.Integration.Responses.TenderSvc.GetTenderOpeningListResponse*@
@model DEWAXP.Foundation.Integration.Responses.VendorSvc.GetTenderResultListDataResponse

<div class="grid__row">
    <div class="grid__column grid__column--12">
        <div class="m23-table" data-component="m23-table">
            <table class="m23-table__content-table">
                <thead class="m23-table__content-table-header">
                    <tr class="m23-table__content-table-row">
                        <th class="m23-table__content-table-cell--header nowrap">@Translate.Text("Tender Serial No")</th>
                        <th class="m23-table__content-table-cell--header nowrap">@Translate.Text("Tender No")</th>
                        <th class="m23-table__content-table-cell--header nowrap">@Translate.Text("Tender Description")</th>
                        <th class="m23-table__content-table-cell--header nowrap" style="width:135px">@Translate.Text("Floating Date")</th>
                        <th class="m23-table__content-table-cell--header nowrap" style="width:120px">@Translate.Text("Closing Date")</th>
                    </tr> 
                </thead>

                <tbody class="m23-table__content-table-body">
                    @foreach (var tItem in Model.TenderResultList.TenderResult)
                    {
                        <tr class="m23-table__content-table-row">

                            <td class="m23-table__content-table-cell" data-label="@Translate.Text("Tender Serial No")">
                                @tItem.LineNumber
                            </td>

                            <td class="m23-table__content-table-cell" data-label="@Translate.Text("Tender No")">

                                <a class="link" href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(SitecoreItemIdentifiers.J28_TENDER_RESULT_PAGE))?fid=&tno=@tItem.TenderNumber&fdate=@tItem.FloatDate&cdate=@tItem.ClosingDate&tdesc=@System.Web.HttpUtility.UrlEncode(tItem.TenderDescription)&ttype=@tItem.TenderType">@tItem.TenderNumber</a>

                                @*<a class="link" href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(SitecoreItemIdentifiers.J28_TENDER_RESULT_PAGE))?fid=@tItem.FID&tno=@tItem.TENDERNO&fdate=@tItem.FLOATINGDATE&cdate=@tItem.CLOSINGDATE&tdesc=@System.Web.HttpUtility.UrlEncode(tItem.DESCRIPTION)&ttype=@tItem.TENDERTYPE">@tItem.TenderNumber</a>*@

                                @*<a class="link" href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(SitecoreItemIdentifiers.J28_TENDER_RESULT_PAGE))?tno=@tItem.TenderNumber">@tItem.TenderNumber</a>*@
                            </td>

                            <td class="m23-table__content-table-cell" data-label="@Translate.Text("Tender Description")">
                                <p>@tItem.TenderDescription</p><p><strong>@tItem.TenderType</strong></p>
                            </td>

                            <td class="m23-table__content-table-cell" data-label="@Translate.Text("Floating Date")">
                                @*<span class="">@Convert.ToDateTime(tItem.FloatDate).ToString("dd.MM.yyyy", Sitecore.Context.Culture)</span>*@
                                <span class="">@DEWAXP.Foundation.Content.Helpers.DateHelper.GetFormatedDate(tItem.FloatDate)</span>
                            </td>
                           
                            <td class="m23-table__content-table-cell" data-label="@Translate.Text("Closing Date")">
                                @*<span class="">@Convert.ToDateTime(tItem.ClosingDate).ToString("dd MMM yyyy", Sitecore.Context.Culture)</span>*@
                                <span class="">@DEWAXP.Foundation.Content.Helpers.DateHelper.GetFormatedDate(tItem.ClosingDate)</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="grid__row">

</div>