@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers.Extensions
@using DEWAXP.Foundation.Content 
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <div class="journey-intro">
            <h2 class="journey-intro__subtitle">@Html.Sitecore().Field("Title")</h2>
            <p class="journey-intro__text">
                @Html.Sitecore().Field("Blurb")
            </p>
            <div class="journey-intro__buttons">
                <a href="@Html.GetLinkUrl(Model.Item, "Login Link")" class="button button--primary button--next button--fullwidth-mobile">@Translate.Text(DictionaryKeys.Global.Login.LoginLabel)</a>
                <a href="@Html.GetLinkUrl(Model.Item, "Register Link")" class="button button--text button--next button--text-centered--mobile">@Translate.Text("Register here")</a>
            </div>
        </div>
    </div>
</div>
