@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@using Sitecore.Globalization
@using Sitecore.Mvc


@model DEWAXP.Feature.EV.Models.EVCharger.EnquirySuccess

<div class="grid">
    @Html.Sitecore().Placeholder("j100/m26-page-title")

    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--content">
            <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title icon--success">@Translate.Text("EV Request Successful Title")</div>
                <div class="m40-status-message__text">
                    @Translate.Text("EV Request Successful Detail")<br>@Translate.Text("EV Enquiry No") @(Model.Reference ?? Translate.Text("EV NA"))
                </div>
                <p>
                    <button class="button button--text button--printer noprint" data-print="page">@Translate.Text("Print this page")</button>
                </p>
            </div>
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--centered">
            <a class="button button--primary button--next" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EV_CardStatusPage)" role="button" aria-label="Track your complaints">@Translate.Text("EV Enquiry Status button")</a>
        </div>
    </div>

   
</div>

