@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.EV.Models.EVCharger.EVEnquiry

<div class="grid">
    @Html.Sitecore().Placeholder("j100/m26-page-title")

    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="text-block">
                @Html.Glass().Editable(x => x.Intro)
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_Loader.cshtml")
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            <form id="form-account-selector" action="#" data-form="true" method="POST" form-skipvalidation="true">
                @Html.Sitecore().Placeholder("j89/m43-account-selector")
            </form>
            <div class="mt24" id="listofcard-placeholder"></div>
        </div>
    </div>


    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new
    {
        @class = "form",
        @data_form = "true",
        @data_parsley_focus = "none",
        @data_submit_validate = "enabled",
        @enctype = "multipart/form-data"
    }))
    {
        @Html.Sitecore().FormHandler()
        @Html.AntiForgeryToken()
        @*@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")*@

        @Html.HiddenFor(m => m.ContractAccountNo)
        @Html.HiddenFor(m => m.BusinessPartnerNo)
        @Html.HiddenFor(m => m.CardNumber)

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <fieldset class="fieldset ">
                    <legend class="legend-color">.</legend>
                    <div class="form-field form-field--select form-field--select-single">
                        <label for="form-field-querytype" class="form-field__label">
                            @Translate.Text("EV Query Type")
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            @Html.DropDownListFor(x => x.SelectedQueryType, Model.QueryTypes.ToList(),
                            Translate.Text("EV Select Query Type"),
                            new
                            {
                                @class = "form-field__input form-field__input--select form-field__input--select-full",
                                @id = "form-field-querytype",
                                @aria_describedby = "description-for-querytype",
                                @required = "required",
                                @data_parsley_required_message = Translate.Text("EV Query Type required"),
                                @data_parsley_errors_container = "#description-for-querytype",
                                @data_parsley_id = "22"
                            })
                        </span>
                        <div id="description-for-querytype" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.SelectedQueryType, "", new { @class = "parsley-errors-list" })
                        </div>
                    </div>

                    <div class="form-field form-field--text ">
                        <label for="form-field-mobile" class="form-field__label">
                            @Translate.Text("EV.Mobile Number")
                            <span class="form-field__label-required aria-only">(@Translate.Text("required")</span>
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                            <input class="form-field__input form-field__input--text form-field__input--prefixed"
                                   id="form-field-mobile"
                                   name="MobileNumber"
                                   type="number" lang="en"
                                   aria-describedby="description-for-mobile"
                                   required=""
                                   value="@Model.MobileNumber"
                                   data-parsley-required-message="@Translate.Text("EV Field Required")"
                                   data-parsley-error-message="@Translate.Text("uae mobile number validation message")"
                                   data-parsley-errors-container="#description-for-mobile"
                                   data-parsley-mobile_number=""
                                   data-parsley-trigger="focusout"
                                   data-parsley-id="8" />
                        </span>
                        <div id="description-for-mobile" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.MobileNumber, "", new { @class = "parsley-errors-list" })
                        </div>
                    </div>

                    <div class="form-field form-field--text form-field--textarea">
                        <label for="form-field-comments" class="form-field__label">
                            @Translate.Text("EV Further Comments")
                            <span class="form-field__label-optional">(@Translate.Text("EV Optional"))</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <textarea class="form-field__input form-field__input--text form-field__input--textarea"
                                      maxlength="500"
                                      data-textarea="comments"
                                      id="form-field-comments"
                                      name="Details"
                                      type="textarea"
                                      aria-describedby="description-for-comments"
                                      data-parsley-id="10">@Model.Details</textarea>
                        </span>
                        <div id="description-for-comments" class="form-field__messages">
                            <p class="form-field__charcount">@Translate.Text("EV Max") <span data-charcount="comments">0</span>/500 @Translate.Text("EV Characters")</p>
                            @Html.ValidationMessageFor(x => x.Details, "", new { @class = "parsley-errors-list" })
                        </div>
                    </div>
                    <div class="form-field form-field--upload">
                        <div class="form-field__input-wrapper">
                            <div class="form-field__preview-wrapper">
                                <img src="/images/preview_pdf@2x.png" data-src="/images/preview_pdf@2x.png"
                                     data-success="/images/upload_success@2x.png" class="form-field__preview"
                                     aria-hidden="true" role="presentation" alt="" data-uploader-image="attachment">
                            </div>
                            <div class="form-field__uploader-details">
                                <label for="form-field-attachment" class="form-field__label">
                                    <strong class="form-field__label-description inline-block">@Translate.Text("Upload attachment")</strong>
                                    <span class="form-field__label-optional">(@Translate.Text("EV Optional"))</span>
                                </label>
                                <div>
                                    <label>
                                        <input class="form-field__input form-field__input--upload"
                                               id="form-field-attachment"
                                               name="Attachment"
                                               type="file"
                                               aria-describedby="description-for-attachment"
                                               data-uploader-field="attachment"
                                               data-parsley-errors-container="#errors-for-attachment"
                                               data-size="@AttachmentValidation.maximumFileSize"
                                               accept="application/msword,application/vnd.ms-excel,image/*,application/pdf"
                                               data-accepts='"jpg", "bmp","gif","png","jpeg","pdf","doc","docx"'
                                               data-parsley-id="12" />

                                        <span class="button button--primary button--next button--small focus-enabled" data-uploader-button="upload-choose">@Translate.Text("Choose")</span>
                                    </label>
                                </div>
                                <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                                <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>
                                <p class="form-field__input--upload-filename" data-uploader-filename="attachment"></p>
                                <p>
                                    <button class="button button--text button--remove hidden" data-uploader-remove="attachment">@Translate.Text("Remove")</button>
                                </p>
                            </div>
                        </div>
                        <div id="description-for-attachment" class="form-field__messages">
                            <div id="errors-for-attachment">  @Html.ValidationMessageFor(x => x.Attachment, "", new { @class = "parsley-errors-list" })</div>
                            <p class="form-field__description">@Translate.Text(DictionaryKeys.MoveIn.MaxFileSize)</p>
                            @*<p class="form-field__description">
                                    @Html.Sitecore().Placeholder("j89/fileuploadmaxcopy")
                                </p>*@
                        </div>
                    </div>
                </fieldset>

                <div class="form-field__button">
                    <button type="submit" class="button button--primary button--next" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Submit")</button>
                </div>
            </div>
        </div>
    }
</div>
@Html.Partial("~/Views/Feature/EV/EVCharger/ListofEVCards.cshtml")
<script>
    docReady(function () {
        jQuery('#form-account-selector').off("submit").submit(handleAccountSelection);
        jQuery('#form-account-selector').submit();
    });
    function handleAccountSelection() {
        firstTime = true;
        _listofevcardsHandler();
        return false;
    }
    function fnAfterEVCardSelected() {
        var accountNumber = jQuery("input[name='SelectedAccountNumber']:checked").val();
        var cardno = jQuery(".evcardnumber_value").attr('data-cardnumber');
        var bpNumber = jQuery("input[name='SelectedAccountNumber']:checked").attr("data-legacy-bp-number");
        if (accountNumber) jQuery('input[name="ContractAccountNo"]').val(accountNumber);
        if (cardno) jQuery('input[name="CardNumber"]').val(cardno);
        if (bpNumber) jQuery('input[name="BusinessPartnerNo"]').val(bpNumber);
        return false;
    }
</script>

<script src="~/scripts/External/nml/form-submit-validate.js"></script>

