@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content 
@model DEWAXP.Feature.EV.Models.EVCharger.EVBPAccountSetup

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Sitecore().Placeholder("j18/m26-page-title")
        @Html.Sitecore().Placeholder("j18/m14-formatted-text")
        @Html.Sitecore().Placeholder("j18/m38-step-tracker")
        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
    </div>
</div>
<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form j104_1-move-out" id="evBPAccountSetup" data-journey="j104-ev-">

            @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form update-details-form", @id = "applyEVCardForm", data_form = "true", data_parsley_focus = "none", @data_submit_validate = "enabled", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.BusinessPartnerNumber)
                @Html.HiddenFor(m => m.MobileNumber)
                <div class="form-field form-field--text" id="divBPNumber">
                    <label for="form-field-BPnumber" class="form-field__label">
                        @Translate.Text("EV.BP Number")
                    </label>
                    <span class="form-field__input-wrapper">
                        <label for="form-field-BPNumber" id="lblBPNumber" class="form-field__label">
                            @Model.BusinessPartnerNumber
                        </label>
                    </span>
                </div>

                <div class="form-field form-field--text" id="divIdType">
                    <label for="form-field-EmailAddress" id="lblIdType" class="form-field__label">
                        @Translate.Text("Email Address")
                        <span class="form-field__label-required aria-only">(@Sitecore.Globalization.Translate.Text("optional"))</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.EmailAddress,
                         new
                         {
                             @class = "form-field__input form-field__input--text",
                             @name = "EmailAddress",
                             @id = "form-field-EmailAddress",
                             @placeholder = Translate.Text("EV.EmailAddress"),
                             @required = "",
                             @data_parsley_error_message = Translate.Text("EV.errorMessage_EmailAddress"),
                             @data_parsley_errors_container = "#description-for-EmailAddress",
                             @aria_describedby = "description-for-EmailAddress",
                         })
                    </span>
                    <div id="description-for-EmailAddress" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.EmailAddress, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>

                <div class="form-field form-field--text" id="divMobileNumber">
                    <label for="form-field-vatnumber" class="form-field__label">
                        @Translate.Text("EV.MobileNUmber")
                    </label>
                    <span class="form-field__input-wrapper">
                        <label for="form-field-vatnumber" id="lblMobileNumber" class="form-field__label">
                            @Model.MobileNumber
                        </label>
                    </span>
                </div>


                <div class="form-field form-field--text ">
                    <label for="form-field-setusername" class="form-field__label">
                        @Translate.Text("username label")
                        <span class="form-field__label-required aria-only">@Translate.Text("required")</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input type="text"
                               name="Username"
                               id="form-field-setusername"
                               class="form-field__input form-field__input--text"
                               aria-required="true"
                               aria-describedby="description-for-setusername"
                               required="required"
                               autocomplete="off"
                               data-parsley-dewausername = ""
                               maxlength="20"
                               placeholder="@Translate.Text("username label")"
                               data-parsley-error-message="@Translate.Text("register username validation message")"
                               data-parsley-errors-container="#description-for-setusername" />
                    </span>
                    <div id="description-for-setusername" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Username)
                    </div>
                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-password" class="form-field__label">
                        @Translate.Text("password label")
                        <span class="form-field__label-required aria-only">@Translate.Text("required")</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input type="password"
                               name="Password"
                               id="form-field-password"
                               class="form-field__input form-field__input--text"
                               @*aria-required="true"*@
                               aria-describedby="description-for-set-password"
                               autocomplete="off"
                               required="required"
                               placeholder="@Translate.Text("password label")"
                               data-parsley-password=""
                               data-parsley-error-message="@Translate.Text("login password validation message")"
                               data-parsley-password-message="@Translate.Text("login password validation message")"
                               data-parsley-errors-container="#description-for-set-password"
                               data-parsley-trigger="focusout" />
                    </span>
                    <div id="description-for-set-password" class="form-field__messages">
                        <p class="form-field__description">@Translate.Text("password description text")</p>
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-set-confirm-password" class="form-field__label">
                        @Translate.Text("confirm password label")
                        <span class="form-field__label-required aria-only">@Translate.Text("required")</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input type="password"
                               name="ConfirmPassword"
                               id="form-field-set-confirm-password"
                               class="form-field__input form-field__input--text"
                               aria-required="true"
                               aria-describedby="description-for-set-confirm-password"
                               autocomplete="off"
                               placeholder="@Translate.Text("confirm password label")"
                               data-parsley-equalto="#form-field-password"
                               data-parsley-error-message="@Translate.Text("Password mismatch error")"
                               data-parsley-errors-container="#description-for-set-confirm-password"
                               data-parsley-trigger="focusout" />
                    </span>
                    <div id="description-for-set-confirm-password" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.ConfirmPassword)
                    </div>
                </div>

                <div class="form-field form-field--toggles">
                    <div class="form-field__checkbox  last">
                        <label>
                            <input class="form-field__input form-field__input--checkbox" id="form-field-checkbox_1_1" name="AgreedToPayment" type="checkbox" value="true" aria-describedby="description-for-accept-terms" required="" data-parsley-error-message="@Translate.Text("Error Terms Agreement")" data-parsley-errors-container="#description-for-accept-terms" data-parsley-multiple="checkbox_1_1" data-parsley-id="23">
                            <span class="form-field__fakecheckbox focus-enabled">@Translate.Text("Terms Agreement")</span>
                        </label>
                    </div>
                    <fieldset class="fieldset "><legend class="legend-color">.</legend>
                        @Html.Sitecore().Placeholder("j26/m39-modal-overlay")
                    </fieldset>
                    <div id="description-for-accept-terms" class="form-field__messages"></div>
                    <input type="hidden" name="AgreedToPayment" value="false" />
                </div>

                <div class="form-field__button">
                    <button type="submit" class="button button--primary button--next" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Submit")</button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    docReady(function () {
        //jQuery('input[name="MobileNumber"]').val();
    });
</script>
<script src="~/scripts/External/nml/form-submit-validate.js"></script>