@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@model DEWAXP.Feature.EV.Models.EVCharger.EV_Success
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Sitecore().Placeholder("j18/m26-page-title")
        @Html.Sitecore().Placeholder("j18/m14-formatted-text")
        @Html.Sitecore().Placeholder("j18/m38-step-tracker")
    </div>
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
            <div class="m40-status-message__title icon--success">
                @Model.Header
            </div>
            <div class="m40-status-message__text">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</div>

