@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@model DEWAXP.Foundation.Content.Models.AccountModel.ForgotPasswordV1Model

<div class="grid">
    @Html.Sitecore().Placeholder("pagetitle")
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_form = "true", @id = "forgotpasswordform", @data_parsley_focus = "none", @class = "form", @data_submit_validate = "enabled" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionErrorV2.cshtml")

                <fieldset class="fieldset">
                    <legend class="legend-color">.</legend>
                    <div class="form-field form-field--text">
                        <label for="form-field-forgot-password-username" class="form-field__label">
                            @Translate.Text("DRRG.EmailAddress.Label")
                            <span class="form-field__label--tooltip icon-new-announcement "
                                  tooltip-text="@Translate.Text("DRRG.Forgotpassword.Tooltip")"></span>
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(x => x.Username, new
                       {
                           @class = "form-field__input form-field__input--text",
                           @id = "form-field-forgot-password-username",
                           @placeholder = Translate.Text("DRRG.EmailAddress.Placeholder"),
                           @required = "required",
                           @type = "email",
                           @data_parsley_error_message = Translate.Text("register username validation message"),
                           @data_parsley_errors_container = "#description-for-forgot-password-username",
                           @data_parsley_maxlength = "70",
                           @data_parsley_minlength = "6",
                           @minlength = "6",
                           @data_parsley_minlength_message = Translate.Text("DRRG.E-mailAddress.MinLength.Msg"),
                           @data_parsley_maxlength_message = Translate.Text("DRRG.EmailAddress.MaxLength.Msg"),
                           @aria_describedby = "description-for-forgot-password-username",
                           @maxlength = "50",
                           @autocomplete = "off"
                       })
                        </span>
                        <div id="description-for-login-main-username" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.Username, "", new { @class = "parsley-errors-list" })
                        </div>
                    </div>
                    @if (ViewBag.Recaptcha != null && (bool)ViewBag.Recaptcha)
                    {
                        <div class="mt12">
                            <div class="g-recaptcha" id="captcha" data-callback="recaptchaCallback" data-expired-callback="recaptchaCallback" data-sitekey="@ViewBag.SiteKey"></div>
                            <span id='errorContainer' class="parsley-errors-list"></span>
                        </div>
                    }
                </fieldset>
                <div class="form-field__button">
                    <a class="button button--quaternary button-2-fit" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DRRG_HOME)">@Translate.Text("Cancel")</a>
                    <button class="button button--primary button-2-fit" id="fgpwdbtn" type="submit" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Submit")</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    docReady(function () {
        require(['parsley'], function () {
            jQuery('#fgpwdbtn').off('click.submit').on('click.submit', function (e) {
                var captcha = true;//recaptchaCallback();
                if (!jQuery('#forgotpasswordform').parsley().validate() || !captcha) {
                    e.preventDefault();
                    return false;
                }
                else {
                    return true;
                }
            });
        });
    });
    function recaptchaCallback() {
        var v = grecaptcha.getResponse();
        if (v.length == 0) {
            jQuery('#errorContainer').text('@Translate.Text("FG_Capatcha_Valid")');
            return false;
        }
        else {
            jQuery('#errorContainer').text("");
            return true;
        }
    }
</script>
<script src="~/Scripts/External/nml/form-submit-validate.js"></script>
