@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.Bills.VerifyDocument.VerifyDocumentModel

<div class="grid">
    @Html.Sitecore().Placeholder("j18/m26-page-title")
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="m38-step-tracker" data-component="m38-step-tracker" data-total-steps="2" data-current-step="2">
                <div class="m38-step-tracker__progressbar" data-m38-progressbar="true" role="progressbar" aria-valuetext="Verify Document">
                </div>
            </div>
        </div>
    </div>

    <div class="rs_area">
        <div class="rs_preserve">
            <div class="grid">
                @if (ViewBag.Message != null && ViewBag.Message == "valid" && Model.QRCodeResponse != null && Model.QRCodeResponse.employeedata != null)
                {
                    <div class="grid__row">
                        <div class="grid__column grid__column--12 grid__column--form">
                            <div class="m67-confirmation-message m67-confirmation-message--success">
                                <div class="m67-confirmation-message__title">
                                    @Translate.Text("Document Verification Details")
                                </div>
                                <div class="m67-confirmation-message__content">
                                    @foreach (var employeedetail in Model.QRCodeResponse.employeedata.records)
                                    {
                                        <div class="m67-confirmation-message__detail--wrapper">
                                            <div class="m67-confirmation-message__detail--detail">
                                                @employeedetail.label
                                            </div>
                                            <div class="m67-confirmation-message__detail--value">
                                                @employeedetail.value
                                            </div>
                                        </div>
                                    }
                                    <div class="m67-confirmation-message__message">@Model.QRCodeResponse.message</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (ViewBag.Message != null && ViewBag.Message == "invalid")
                {
                    <div class="grid__row">
                        <div class="grid__column grid__column--12 grid__column--form">
                            <div class="m67-confirmation-message m67-confirmation-message--error">
                                <div class="m67-confirmation-message__title">
                                    @Translate.Text("Verification.documentreference")<span class="m67-confirmation-message__title-invalid">@Translate.Text("Verification.invalid")</span>
                                </div>
                                <div class="m67-confirmation-message__content">
                                    <div class="m67-confirmation-message__message">
                                        @Translate.Text("Verification.invalidmessage")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (ViewBag.Message != null && ViewBag.Message == "expired")
                {
                    <div class="grid__row">
                        <div class="grid__column grid__column--12 grid__column--form">
                            <div class="m67-confirmation-message m67-confirmation-message--expired">
                                <div class="m67-confirmation-message__title">
                                    @Translate.Text("Verification.documentreference")<span class="m67-confirmation-message__title-invalid">@Translate.Text("Verification.expired")</span>
                                </div>
                                <div class="m67-confirmation-message__content">
                                    <div class="m67-confirmation-message__message">
                                        @Translate.Text("Verification.expiredmessage")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (ViewBag.Message != null && ViewBag.Message == "locked" && Model.QRCodeResponse != null && Model.QRCodeResponse.message != null)
                {
                    <div class="grid__row">
                        <div class="grid__column grid__column--12 grid__column--form">
                            <div class="m67-confirmation-message m67-confirmation-message--expired">
                                <div class="m67-confirmation-message__title">
                                    @Translate.Text("Verification.documentreference")<span class="m67-confirmation-message__title-invalid">@Translate.Text("Verification.locked")</span>
                                </div>
                                <div class="m67-confirmation-message__content">
                                    <div class="m67-confirmation-message__message">
                                        @Model.QRCodeResponse.message
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="grid__row">
                    <div class="grid__column grid__column--12 grid__column--centered">
                        <a role="button" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.Verify_Document)" class="button button--primary">@Translate.Text("Check another document")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>