@using System.Configuration
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Web.Mvc
@using DEWAXP.Foundation.Helpers.Extensions
@using DEWAXP.Feature.CommonComponents.Models.Renderings
@model DEWAXP.Feature.CommonComponents.Models.Renderings.SocialMediaFeed

@if (Model.Type != null)
{
	if (Model.Type.Name == SocialMediaTypes.YouTube)
	{
		<div class="m15-social-media-feed youtube-frame ajax-placeholder" id="@Model.Id" data-component="m15-social-media-feed" data-api="@ConfigurationManager.AppSettings["YouTubeAPIKey"]" data-channel="@ConfigurationManager.AppSettings["YouTubeChannel"]">
			<div class="m15-social-media-feed__content">
				<a href="#" class="yt-link" target="_blank">
					<div class="m15-social-media-feed__image m15-social-media-feed__image--@Model.IconClass" role="presentation" data-src=""></div>
				</a>
				<p class="m15-social-media-feed__text m15-social-media-feed__text--@Model.IconClass"></p>
				<p class="m15-social-media-feed__timestamp"></p>
				<a class="m15-social-media-feed__icon m15-social-media-feed__icon--@Model.IconClass" href="@Model.Type.Link"></a>
			</div>
			<a class="m15-social-media-feed__clickthrough" href="@Model.Type.Link" target="_blank"><img src="/images/trans.png" alt=""></a>
		</div>
	}

	else
	{
		<div class="m15-social-media-feed" data-component="m15-social-media-feed">
			<div class="m15-social-media-feed__content">
				@if (Model.Image != null)
				{
					<div class="m15-social-media-feed__image m15-social-media-feed__image--@Model.IconClass" role="presentation" data-src="@Model.Image.Src"></div>
				}
				<p class="m15-social-media-feed__text m15-social-media-feed__text--@Model.IconClass">@Html.Glass().Editable(x => x.Text)</p>
				<p class="m15-social-media-feed__timestamp">@Html.Glass().Editable(x => x.Timestamp, x => DateHelper.Ago(x.Timestamp))</p>
				<a class="m15-social-media-feed__icon m15-social-media-feed__icon--@Model.IconClass" href="@Model.Type.Link" target="_blank"></a>
			</div>
			<a class="m15-social-media-feed__clickthrough" href="@Model.Type.Link" target="_blank"><img src="/images/trans.png" alt=""></a>
		</div>
	}

}
else
{
	<div class="m15-social-media-feed" data-component="m15-social-media-feed">
		<div class="m15-social-media-feed__content">
			@if (Model.Image != null)
			{
				<div class="m15-social-media-feed__image m15-social-media-feed__image--@Model.IconClass" role="presentation" data-src="@Model.Image.Src"></div>
			}
			<p class="m15-social-media-feed__text m15-social-media-feed__text--@Model.IconClass">@Html.Glass().Editable(x => x.Text)</p>
			<p class="m15-social-media-feed__timestamp">@Html.Glass().Editable(x => x.Timestamp, x => DateHelper.Ago(x.Timestamp))</p>
			<a class="m15-social-media-feed__icon m15-social-media-feed__icon--@Model.IconClass" href="#"></a>
		</div>
	</div>
}