@using DEWAXP.Feature.Builder.Models.LocalPurchase
@using Sitecore.Globalization
@using Sitecore.Mvc
@{
	var table = (Table)ViewBag.Table;
}

<div class="grid__row">
	<div class="grid__column grid__column--12">
		@Html.Sitecore().Placeholder("j57/m26-page-title")
	</div>
</div>
<div class="grid__row">
	<div class="grid__column grid__column--12">
		<div class="m23-table" data-component="m23-table">
			<table class="m23-table__content-table">
				<thead class="m23-table__content-table-header">
					<tr class="m23-table__content-table-row">
						<th class="m23-table__content-table-cell--header ">@Translate.Text("RFx No")</th>
						<th class="m23-table__content-table-cell--header ">@Translate.Text("Description")</th>
						<th class="m23-table__content-table-cell--header ">@Translate.Text("Floating Date")</th>
						<th class="m23-table__content-table-cell--header ">@Translate.Text("Closing Date")</th>
					</tr>
				</thead>
				<tbody class="m23-table__content-table-body">
					@if (table.Rows.Any())
					{
						foreach (var row in table.Rows)
						{
							<tr class="m23-table__content-table-row">
								<td data-label="@Translate.Text("RFx No")" class="m23-table__content-table-cell">@row.No<br><a href="@row.DownloadUrl" class="link link--pdf" target="_blank">View PDF</a></td>
								<td data-label="@Translate.Text("Description")" class="m23-table__content-table-cell">@row.Description</td>
								<td data-label="@Translate.Text("Floating Date")" class="m23-table__content-table-cell">@row.FloatingDate.ToString("dd-MM-yyyy")</td>
								<td data-label="@Translate.Text("Closing Date")" class="m23-table__content-table-cell">@row.ClosingDate.ToString("dd-MM-yyyy")</td>
							</tr>
						}
					}

					else
					{
						<tr>There is no data.</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>