@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model DEWAXP.Feature.Builder.Models.LocalPurchase.Table

<div class="m23-table" data-component="m23-table">
	<div class="m23-table__content">
		<table class="m23-table__content-table">
			<thead class="m23-table__content-table-header">
				<tr class="m23-table__content-table-row">
					<th class="m23-table__content-table-cell--header">@Translate.Text("Sl No")</th>
					<th class="m23-table__content-table-cell--header">@Translate.Text("Tender No")</th>
					<th class="m23-table__content-table-cell--header">@Translate.Text("Tender Description")</th>
					<th class="m23-table__content-table-cell--header">@Translate.Text("Floating Date")</th>
					<th class="m23-table__content-table-cell--header">@Translate.Text("Closing Date")</th>
				</tr>
			</thead>
			<tbody class="m23-table__content-table-body">
				@foreach (var row in Model.Rows)
				{
					<tr class="m23-table__content-table-row">
						<td data-label="@Translate.Text("Sl No")" class="m23-table__content-table-cell--center">@row.SlNo</td>
						<td data-label="@Translate.Text("Tender No")" class="m23-table__content-table-cell"><a href="#">@row.No</a></td>
						<td data-label="@Translate.Text("Tender Description")" class="m23-table__content-table-cell">@row.Description</td>
						<td data-label="@Translate.Text("Floating Date")" class="m23-table__content-table-cell">@row.FloatingDate.ToString("dd-MM-yyyy")</td>
						<td data-label="@Translate.Text("Closing Date")" class="m23-table__content-table-cell">@row.ClosingDate.ToString("dd-MM-yyyy")</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
