@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.Bills.Models.LandlordInformation.LandlordDetails

@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @data_form = "true", @data_parsley_focus = "none", encType = "multipart/form-data", @data_submit_validate = "enabled" }))
        {
            @Html.Sitecore().FormHandler()
            @Html.AntiForgeryToken()

            <fieldset class="fieldset">
                <legend class="legend">@Translate.Text("Landlord Details")</legend>

                <div class="form-field form-field--select form-field--select-single">
                    <label for="form-field-bpSelected" class="form-field__label">
                        @Translate.Text("Business partner selected")
                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--select">
                        @Html.DropDownListFor(x => x.SelectedBusinessPartnerNumber,
                            Model.BusinessPartnerNumberList,
                            new
                            {
                                @class = "form-field__input form-field__input--select form-field__input--select-full",
                                @id = "form-field-bpSelected",
                                aria_describedby = "description-for-bpSelected",
                                @required = "",
                                data_parsley_error_message = Translate.Text("generic validation message"),
                                data_parsley_errors_container = "#description-for-bpSelected"
                            })
                    </span>
                    <div id="description-for-bpSelected" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.SelectedBusinessPartnerNumber, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>

                <div class="form-field form-field--text ">
                    <label for="form-field-premisenumber" class="form-field__label">
                        @Translate.Text("Premise Number")
                        <span class="form-field__label-required aria-only">@Translate.Text("generic required label")</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-premisenumber"
                               type="number" lang="en"
                               name="PremiseNumber"
                               placeholder="@Translate.Text("premise number placeholder")"
                               value="@Model.PremiseNumber"
                               aria-describedby="description-for-premisenumber"
                               required="required"
                               data-parsley-error-message="@Translate.Text("premise number validation message")"
                               data-parsley-errors-container="#description-for-premisenumber"
                               data-parsley-premise_number="" />
                    </span>
                    <div id="description-for-premisenumber" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.PremiseNumber, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>

                <div class="form-field form-field--text ">
                    <label for="form-field-mobile-number" class="form-field__label">
                        @Translate.Text("mobile number label")
                        <span class="form-field__label-required aria-only">@Translate.Text("generic required label")</span>
                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                        <input class="form-field__input form-field__input--text form-field__input--prefixed"
                               type="number" lang="en"
                               placeholder="@Translate.Text("Enter UAE mobile number")"
                               name="Mobile"
                               value="@Model.Mobile"
                               id="form-field-mobile-number"
                               required="required"
                               @*aria-required="true"*@
                               aria-describedby="description-for-mobile"
                               data-parsley-error-message="@Translate.Text("uae mobile number validation message")"
                               data-parsley-errors-container="#description-for-mobile"
                               data-parsley-mobile_number="" />
                    </span>
                    <div id="description-for-mobile" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Mobile, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>

                <div class="form-field form-field--text form-field--textarea">
                    <label for="form-field-remarks" class="form-field__label">
                        @Translate.Text("Remarks")
                        <span class="form-field__label-required aria-only">@Translate.Text("generic required label")</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <textarea id="form-field-remarks"
                                  name="Remarks"
                                  class="form-field__input form-field__input--text form-field__input--textarea"
                                  required="required"
                                  placeholder="@Translate.Text(DictionaryKeys.Global.EnterYourMessage)"
                                  @*aria-required="true"*@
                                  aria-describedby="description-for-remarks"
                                  data-parsley-error-message="@Translate.Text(DictionaryKeys.Global.EnterDescription)"
                                  data-parsley-errors-container="#description-for-remarks"
                                  maxlength="500"
                                  data-textarea="description">@Model.Remarks</textarea>
                    </span>
                    <div id="description-for-remarks" class="form-field__messages">
                        <p class="form-field__charcount">@Translate.Text("Max") <span data-charcount="description">0</span>/500 @Translate.Text("Characters")</p>
                    </div>
                </div>
            </fieldset>

            <fieldset class="fieldset ">
                <legend class="legend">@Translate.Text("upload documentation label")</legend>

                @Html.Sitecore().Placeholder("j90/title-deed-uploader")

                <div class="form-field form-field--expander">
                    @Html.Sitecore().Placeholder("j90/title-deed-expander")
                </div>

                @Html.Sitecore().Placeholder("j90/official-letter-uploader")

                <div class="form-field form-field--expander">
                    @Html.Sitecore().Placeholder("j90/official-letter-expander")
                </div>
            </fieldset>

            <div class="form-field__button">
                <button type="submit" class="button button--primary button--next">@Translate.Text("Submit")</button>
            </div>
        }
    </div>
</div>