@using DEWAXP.Foundation.Helpers.Extensions
@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.Bills.Models.LandlordInformation.ChangeLandlordDetailsWorkflowState

<div class="grid__row">
    <div class="grid__column grid__column--12  grid__column--form">
        <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
            <div class="m40-status-message__title icon--success">@Translate.Text("submission successful text")</div>
            <div class="m40-status-message__text"><p>@Translate.Text("change landlord submission text")<p>@Translate.Text("reference number text") <strong>@Model.NotificationNumber</strong></p></div>
            <p><button class="button button--text button--printer noprint" data-print="page">@Translate.Text("Print this page")</button></p>
        </div>
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12  grid__column--form">
        <!-- m42-key-value-start -->
        <div class="m42-keyvalue success-page">
            <dl>
                <dt class="m42-keyvalue__key--stacked">@Translate.Text("business partner label")</dt>
                <dd class="m42-keyvalue__value--stacked tran-details">@Model.BusinessPartnerNumber</dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text("Premise Number")</dt>
                <dd class="m42-keyvalue__value--stacked tran-details">@Model.PremiseNumber</dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text(DictionaryKeys.Registration.MobileNumberLabel)</dt>
                <dd class="m42-keyvalue__value--stacked tran-details"> @Model.Mobile.AddMobileNumberZeroPrefix()</dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text("Remarks")</dt>
                <dd class="m42-keyvalue__value--stacked tran-details">@Model.Remarks</dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text("supporting documentation label")</dt>
                <dd class="m42-keyvalue__value--stacked tran-details">
                    @Model.TitleDeedFileName
                    <br />
                    @Model.OfficialLetterFileName
                </dd>
            </dl>
        </div>
        <!-- m42-key-value-end -->
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <h2 class="summary-footer__title">@Translate.Text("whats next link text")</h2>
        <ul class="summary-footer__buttons">
            <li class="summary-footer__button summary-footer__button--stacked"><a role="button" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)" class="button button--next button--primary button--fullwidth">@Translate.Text("Dashboard")</a></li>

        </ul>
    </div>
</div>

