@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@model DEWAXP.Feature.IdealHome.Models.IdealHome.IdealHomeCustomers

<div class="grid">
    @Html.Sitecore().Placeholder("j100/m26-page-title")

    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")


    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @data_form = "true", @data_parsley_focus = "none" }))
    {

        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">


                    @*Dubai Police*@
                    @if (ViewBag.EntityCode == "DP")
                    {
                    
                        <table class="m23-table__content-table">
                            <thead class="m23-table__content-table-header">
                                <tr class="m23-table__content-table-row" tabindex="0)">

                                    <th class="m23-table__content-table-cell--header no-wrap  ">أسماء المشاركين</th>

                                    <th class="m23-table__content-table-cell--header   ">أمن نوافذ المنزل</th>

                                    <th class="m23-table__content-table-cell--header   ">أمن أبواب المنزل</th>
                                    <th class="m23-table__content-table-cell--header   ">وجود كاميرات مراقبة</th>

                                    <th class="m23-table__content-table-cell--header   ">المجموع</th>

                                    <th class="m23-table__content-table-cell--header   ">الحالة</th>

                                </tr>
                            </thead>
                            <tbody class="m23-table__content-table-body">

                                @foreach (var item in Model.CustomerList)
                                {
                                    <tr class="m23-table__content-table-row" tabindex="0)">

                                        <td data-label="employee" class="m23-table__content-table-cell"><a class="link" href="#">@item.CustomerName_AR</a></td>
                                        <td data-label="Dubai Police" class="m23-table__content-table-cell">@item.DP_1_VALUE</td>
                                        <td data-label="Dubai Police" class="m23-table__content-table-cell">@item.DP_2_VALUE</td>
                                        <td data-label="Dubai Police" class="m23-table__content-table-cell">@item.DP_3_VALUE</td>
                                        <td data-label="Dubai Police" class="m23-table__content-table-cell">@item.DP_TOTAL</td>
                                        <td data-label="Dubai Police" class="m23-table__content-table-cell">
                                            @if (item.DP_COMP == 0)
                                            {
                                                <p class="m17-sectiontitle__strong-cta">
                                                    <a class="button button--primary button--next" href="../ideal-home/survey?folderid=@item.EfolderID">
                                                        تقييم
                                                    </a>
                                                </p>
                                            }
                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                    }
                     @*Dubai Municipality*@
                    else if (ViewBag.EntityCode == "DM")
                    {
                        
                    <table class="m23-table__content-table">
                        <thead class="m23-table__content-table-header">
                            <tr class="m23-table__content-table-row" tabindex="0)">

                                <th class="m23-table__content-table-cell--header no-wrap  ">أسماء المشاركين</th>

                                <th class="m23-table__content-table-cell--header   ">قياس ملوثات الهواء</th>

                                <th class="m23-table__content-table-cell--header   ">المجموع</th>

                                <th class="m23-table__content-table-cell--header   ">الحالة</th>

                            </tr>
                        </thead>
                        <tbody class="m23-table__content-table-body">

                            @foreach (var item in Model.CustomerList)
                            {
                            <tr class="m23-table__content-table-row" tabindex="0)">

                                <td data-label="employee" class="m23-table__content-table-cell"><a class="link" href="#">@item.CustomerName_AR</a></td>
                                <td data-label="DM" class="m23-table__content-table-cell">@item.DM_1_VALUE</td>
                                <td data-label="DM" class="m23-table__content-table-cell">@item.DM_TOTAL</td>
                                <td data-label="DM" class="m23-table__content-table-cell">
                                    @if(item.DM_COMP == 0)
                                        {
                                        <p class="m17-sectiontitle__strong-cta">
                                            <a class="button button--primary button--next" href="../ideal-home/survey?folderid=@item.EfolderID">
                                                تقييم
                                            </a>
                                        </p>
                                        }
                                </td>

                            </tr>
                            }


                        </tbody>
                    </table>

                    }

                    @*DEWA*@
                    else if (ViewBag.EntityCode == "DEWA")
                    {

                    <table class="m23-table__content-table">
                        <thead class="m23-table__content-table-header">
                            <tr class="m23-table__content-table-row" tabindex="0)">

                                <th class="m23-table__content-table-cell--header no-wrap  ">أسماء المشاركين</th>

                                <th class="m23-table__content-table-cell--header   ">توفير ما لا يقل عن 15% من استهلاك الكهرباء والمياه</th>

                                <th class="m23-table__content-table-cell--header   ">استخدام مصابيح ذات كفاءة عالية في استهلاك الطاقة</th>

                                <th class="m23-table__content-table-cell--header   ">استخدام أجهزة صديقة للبيئة</th>

                                <th class="m23-table__content-table-cell--header   ">ضبط التكييف على 24 درجة مؤية % 20</th>
                                
                                <th class="m23-table__content-table-cell--header   ">استخدام نظام ري ذكي % 20</th>

                                <th class="m23-table__content-table-cell--header   ">استخدام موفرات للمياه و تطبيق نظام ري ذكي (للفلل)</th>

                                <th class="m23-table__content-table-cell--header   ">المجموع</th>

                                <th class="m23-table__content-table-cell--header   ">الحالة</th>

                            </tr>
                        </thead>
                        <tbody class="m23-table__content-table-body">

                            @foreach (var item in Model.CustomerList)
                            {
                                <tr class="m23-table__content-table-row" tabindex="0)">

                                    <td data-label="employee" class="m23-table__content-table-cell"><a class="link" href="#">@item.CustomerName_AR</a></td>
                                    
                                    <td data-label="DEWA" class="m23-table__content-table-cell">@item.DEWA_1_VALUE</td>
                                    <td data-label="DEWA" class="m23-table__content-table-cell">@item.DEWA_2_VALUE</td>

                                    <td data-label="DEWA" class="m23-table__content-table-cell">@item.DEWA_3_VALUE</td>

                                    <td data-label="DEWA" class="m23-table__content-table-cell">@item.DEWA_4_VALUE</td>

                                    <td data-label="DEWA" class="m23-table__content-table-cell">@item.DEWA_5_VALUE</td>

                                    <td data-label="DEWA" class="m23-table__content-table-cell">@item.DEWA_6_VALUE</td>


                                    <td data-label="DEWA" class="m23-table__content-table-cell">@item.DEWA_TOTAL</td>
                                    <td data-label="DEWA" class="m23-table__content-table-cell">
                                        @if (item.DEWA_COMP == 0)
                                        {
                                            <p class="m17-sectiontitle__strong-cta">
                                                <a class="button button--primary button--next" href="../ideal-home/survey?folderid=@item.EfolderID">
                                                    تقييم
                                                </a>
                                            </p>
                                        }
                                    </td>

                                </tr>
                            }


                        </tbody>
                    </table>

                    }
                    @*Ambulance Service*@
                    else if (ViewBag.EntityCode == "AS")
                    {

                        <table class="m23-table__content-table">
                            <thead class="m23-table__content-table-header">
                                <tr class="m23-table__content-table-row" tabindex="0)">

                                    <th class="m23-table__content-table-cell--header no-wrap  ">أسماء المشاركين</th>

                                    <th class="m23-table__content-table-cell--header   ">وجود صندوق الإسعافات الأولية في المكان المناسب</th>

                                    <th class="m23-table__content-table-cell--header   ">معرفة أفراد المنزل باستخدام محتويات الصندوق</th>

                                    <th class="m23-table__content-table-cell--header   ">وجود المعدات الصحيحة في الصندوق</th>

                                    <th class="m23-table__content-table-cell--header   ">المجموع</th>

                                    <th class="m23-table__content-table-cell--header   ">الحالة</th>

                                </tr>
                            </thead>
                            <tbody class="m23-table__content-table-body">

                                @foreach (var item in Model.CustomerList)
                                {
                                    <tr class="m23-table__content-table-row" tabindex="0)">

                                        <td data-label="employee" class="m23-table__content-table-cell"><a class="link" href="#">@item.CustomerName_AR</a></td>

                                        <td data-label="AS" class="m23-table__content-table-cell">@item.AS_1_VALUE</td>
                                        <td data-label="AS" class="m23-table__content-table-cell">@item.AS_2_VALUE</td>

                                        <td data-label="AS" class="m23-table__content-table-cell">@item.AS_3_VALUE</td>

                                        <td data-label="AS" class="m23-table__content-table-cell">@item.AS_TOTAL</td>
                                        <td data-label="AS" class="m23-table__content-table-cell">
                                            @if (item.AS_COMP == 0)
                                            {
                                                <p class="m17-sectiontitle__strong-cta">
                                                    <a class="button button--primary button--next" href="../ideal-home/survey?folderid=@item.EfolderID">
                                                        تقييم
                                                    </a>
                                                </p>
                                            }
                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>

                    }
                    @* Civil Defence *@
                    else if (ViewBag.EntityCode == "CD")
                    {

                        <table class="m23-table__content-table">
                            <thead class="m23-table__content-table-header">
                                <tr class="m23-table__content-table-row" tabindex="0)">

                                    <th class="m23-table__content-table-cell--header no-wrap  ">أسماء المشاركين</th>

                                    <th class="m23-table__content-table-cell--header   ">وجود طفاية بودرة</th>

                                    <th class="m23-table__content-table-cell--header   ">وجود بطانية حريق</th>

                                    <th class="m23-table__content-table-cell--header   ">تركيب كاشف الدخان</th>

                                    <th class="m23-table__content-table-cell--header   ">المجموع</th>

                                    <th class="m23-table__content-table-cell--header   ">الحالة</th>

                                </tr>
                            </thead>
                            <tbody class="m23-table__content-table-body">

                                @foreach (var item in Model.CustomerList)
                                {
                                    <tr class="m23-table__content-table-row" tabindex="0)">

                                        <td data-label="employee" class="m23-table__content-table-cell"><a class="link" href="#">@item.CustomerName_AR</a></td>

                                        <td data-label="CD" class="m23-table__content-table-cell">@item.CD_1_VALUE</td>
                                        <td data-label="CD" class="m23-table__content-table-cell">@item.CD_2_VALUE</td>

                                        <td data-label="CD" class="m23-table__content-table-cell">@item.CD_3_VALUE</td>

                                        <td data-label="CD" class="m23-table__content-table-cell">@item.CD_TOTAL</td>
                                        <td data-label="CD" class="m23-table__content-table-cell">
                                            @if (item.CD_COMP == 0)
                                            {
                                                <p class="m17-sectiontitle__strong-cta">
                                                    <a class="button button--primary button--next" href="../ideal-home/survey?folderid=@item.EfolderID">
                                                        تقييم
                                                    </a>
                                                </p>
                                            }
                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>

                    }
                    @* Community Development Authority *@
                    else if (ViewBag.EntityCode == "CDA")
                    {

                        <table class="m23-table__content-table">
                            <thead class="m23-table__content-table-header">
                                <tr class="m23-table__content-table-row" tabindex="0)">

                                    <th class="m23-table__content-table-cell--header no-wrap  ">أسماء المشاركين</th>

                                    <th class="m23-table__content-table-cell--header   ">تشارك الاسرة في أنشطة داعمة لحقوق الأشخاص من ذوي الاعاقة  مثل: ) احتفال ، مارثون، يوم مفتوح، تطوع ، الخ(</th>

                                    <th class="m23-table__content-table-cell--header   ">يملك أفراد الأسرة معرفة/ مهارات التعامل مع الأشخاص من ذوي الاعاقة </th>

                                    <th class="m23-table__content-table-cell--header   ">المشاركة في الأعمال التطوعية</th>

                                    <th class="m23-table__content-table-cell--header   ">المجموع</th>

                                    <th class="m23-table__content-table-cell--header   ">الحالة</th>

                                </tr>
                            </thead>
                            <tbody class="m23-table__content-table-body">

                                @foreach (var item in Model.CustomerList)
                                {
                                    <tr class="m23-table__content-table-row" tabindex="0)">

                                        <td data-label="employee" class="m23-table__content-table-cell"><a class="link" href="#">@item.CustomerName_AR</a></td>

                                        <td data-label="CDA" class="m23-table__content-table-cell">@item.CDA_1_VALUE</td>
                                        <td data-label="CDA" class="m23-table__content-table-cell">@item.CDA_2_VALUE</td>
                                        <td data-label="CDA" class="m23-table__content-table-cell">@item.CDA_3_VALUE</td>

                                        <td data-label="CDA" class="m23-table__content-table-cell">@item.CDA_TOTAL</td>
                                        <td data-label="CDA" class="m23-table__content-table-cell">
                                            @if (item.CDA_COMP == 0)
                                            {
                                                <p class="m17-sectiontitle__strong-cta">
                                                    <a class="button button--primary button--next" href="../ideal-home/survey?folderid=@item.EfolderID">
                                                        تقييم
                                                    </a>
                                                </p>
                                            }
                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>

                    }
                    @* DHA *@
                    else if (ViewBag.EntityCode == "DHA")
                    {

                        <table class="m23-table__content-table">
                            <thead class="m23-table__content-table-header">
                                <tr class="m23-table__content-table-row" tabindex="0)">

                                    <th class="m23-table__content-table-cell--header no-wrap  ">أسماء المشاركين</th>

                                    <th class="m23-table__content-table-cell--header   ">التزام أحد افراد الاسرة بممارسة الرياضة 5 مرات في الاسبوع بما لا يقل عن 30 دقيقة في كل مرة</th>

                                    <th class="m23-table__content-table-cell--header   ">قياس المعرفة بأهمية ممارسة الرياضة والحد الأدنى المطلوب للممارسة، ومدى تشجيع الآخرين لممارسة الرياضة. </th>

                                    <th class="m23-table__content-table-cell--header   ">المجموع</th>

                                    <th class="m23-table__content-table-cell--header   ">الحالة</th>

                                </tr>
                            </thead>
                            <tbody class="m23-table__content-table-body">

                                @foreach (var item in Model.CustomerList)
                                {
                                    <tr class="m23-table__content-table-row" tabindex="0)">

                                        <td data-label="employee" class="m23-table__content-table-cell"><a class="link" href="#">@item.CustomerName_AR</a></td>

                                        <td data-label="CDA" class="m23-table__content-table-cell">@item.DHA_1_VALUE</td>
                                        <td data-label="CDA" class="m23-table__content-table-cell">@item.DHA_2_VALUE</td>
                                        <td data-label="CDA" class="m23-table__content-table-cell">@item.DHA_TOTAL</td>
                                        <td data-label="CDA" class="m23-table__content-table-cell">
                                            @if (item.CDA_COMP == 0)
                                            {
                                                <p class="m17-sectiontitle__strong-cta">
                                                    <a class="button button--primary button--next" href="../ideal-home/survey?folderid=@item.EfolderID">
                                                        تقييم
                                                    </a>
                                                </p>
                                            }
                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>

                    }
                    @* DSG *@
                    else if (ViewBag.EntityCode == "DSG")
                    {

                        <table class="m23-table__content-table">
                            <thead class="m23-table__content-table-header">
                                <tr class="m23-table__content-table-row" tabindex="0)">

                                    <th class="m23-table__content-table-cell--header no-wrap  ">أسماء المشاركين</th>

                                    <th class="m23-table__content-table-cell--header   ">التسجيل بخدمة "DubaiID"</th>

                                    <th class="m23-table__content-table-cell--header   ">المجموع</th>

                                    <th class="m23-table__content-table-cell--header   ">الحالة</th>

                                </tr>
                            </thead>
                            <tbody class="m23-table__content-table-body">

                                @foreach (var item in Model.CustomerList)
                                {
                                    <tr class="m23-table__content-table-row" tabindex="0)">

                                        <td data-label="employee" class="m23-table__content-table-cell"><a class="link" href="#">@item.CustomerName_AR</a></td>

                                        <td data-label="DSG" class="m23-table__content-table-cell">@item.DSG_1_VALUE</td>                                        
                                        <td data-label="DSG" class="m23-table__content-table-cell">@item.DSG_TOTAL</td>
                                        <td data-label="DSG" class="m23-table__content-table-cell">
                                            @if (item.DSG_COMP == 0)
                                            {
                                                <p class="m17-sectiontitle__strong-cta">
                                                    <a class="button button--primary button--next" href="../ideal-home/survey?folderid=@item.EfolderID">
                                                        تقييم
                                                    </a>
                                                </p>
                                            }
                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>

                    }
                    @* RTA *@
                    else if (ViewBag.EntityCode == "RTA")
                    {

                        <table class="m23-table__content-table">
                            <thead class="m23-table__content-table-header">
                                <tr class="m23-table__content-table-row" tabindex="0)">

                                    <th class="m23-table__content-table-cell--header no-wrap  ">أسماء المشاركين</th>

                                    <th class="m23-table__content-table-cell--header   ">الحصول على تصاريح العمل المطلوبة لأعمال الزراعة أمام البيوت</th>
                                    <th class="m23-table__content-table-cell--header   ">استخدام  عناصر تجميلية صديقة للبيئة (معاد تدويرها، ذكية، قليلة الاستهلاك للكهرباء..وغيرها)</th>

                                    <th class="m23-table__content-table-cell--header   ">المجموع</th>

                                    <th class="m23-table__content-table-cell--header   ">الحالة</th>

                                </tr>
                            </thead>
                            <tbody class="m23-table__content-table-body">

                                @foreach (var item in Model.CustomerList)
                                {
                                    <tr class="m23-table__content-table-row" tabindex="0)">

                                        <td data-label="employee" class="m23-table__content-table-cell"><a class="link" href="#">@item.CustomerName_AR</a></td>

                                        <td data-label="RTA" class="m23-table__content-table-cell">@item.RTA_1_VALUE</td>
                                        <td data-label="RTA" class="m23-table__content-table-cell">@item.RTA_2_VALUE</td>
                                        <td data-label="RTA" class="m23-table__content-table-cell">@item.RTA_TOTAL</td>
                                        <td data-label="RTA" class="m23-table__content-table-cell">
                                            @if (item.RTA_COMP == 0)
                                            {
                                                <p class="m17-sectiontitle__strong-cta">
                                                    <a class="button button--primary button--next" href="../ideal-home/survey?folderid=@item.EfolderID">
                                                        تقييم
                                                    </a>
                                                </p>
                                            }
                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>

                    }
                    @* FA *@
                    else if (ViewBag.EntityCode == "FA")
                    {

                        <table class="m23-table__content-table">
                            <thead class="m23-table__content-table-header">
                                <tr class="m23-table__content-table-row" tabindex="0)">

                                    <th class="m23-table__content-table-cell--header no-wrap  ">أسماء المشاركين</th>

                                    <th class="m23-table__content-table-cell--header   ">عدم وجود مخالفين على ملف الكفيل </th>
                                    <th class="m23-table__content-table-cell--header   ">عدم وجود وثائق سفر منتهية </th>

                                    <th class="m23-table__content-table-cell--header   ">المجموع</th>

                                    <th class="m23-table__content-table-cell--header   ">الحالة</th>

                                </tr>
                            </thead>
                            <tbody class="m23-table__content-table-body">

                                @foreach (var item in Model.CustomerList)
                                {
                                    <tr class="m23-table__content-table-row" tabindex="0)">

                                        <td data-label="employee" class="m23-table__content-table-cell"><a class="link" href="#">@item.CustomerName_AR</a></td>

                                        <td data-label="FA" class="m23-table__content-table-cell">@item.FA_1_VALUE</td>
                                        <td data-label="FA" class="m23-table__content-table-cell">@item.FA_2_VALUE</td>
                                        <td data-label="FA" class="m23-table__content-table-cell">@item.FA_TOTAL</td>
                                        <td data-label="FA" class="m23-table__content-table-cell">
                                            @if (item.FA_COMP == 0)
                                            {
                                                <p class="m17-sectiontitle__strong-cta">
                                                    <a class="button button--primary button--next" href="../ideal-home/survey?folderid=@item.EfolderID">
                                                        تقييم
                                                    </a>
                                                </p>
                                            }
                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>

                    }
                </div>
                <!-- m23-table-end -->
            </div>
        </div>

    }
</div>

