@model DEWAXP.Feature.IdealHome.Models.IdealHome.SurveyLogin
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
<div class="grid">

	<div class="grid__row">
		<div class="grid__column grid__column--12 grid__column--form">
			@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, new { returnUrl = "" }, FormMethod.Post, new { @data_parsley_focus = "true", @data_form = "true", @class = "form", @data_submit_validate = "enabled", @novalidate = true, @autocomplete = "off" }))
			{
				@Html.Sitecore().FormHandler()
				@Html.AntiForgeryToken()

				@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
				
				<fieldset class="fieldset">
                    <legend class="legend-color">.</legend>
					<div class="form-field form-field--text">
						<label for="form-field-login-main-username" class="form-field__label">
							@Translate.Text("username label")
							
						</label>
						<span class="form-field__input-wrapper">
							@Html.TextBoxFor(x => x.Username, new
							{
								@class = "form-field__input form-field__input--text",
								@type = "text",
								@id = "form-field-login-main-username",
								@placeholder = Translate.Text("username label"),
								@aria_required = "true",
								@required = "required",
                                @data_parsley_error_message = Translate.Text("register username validation message"),
								@data_parsley_errors_container = "#description-for-login-main-username",
								@aria_describedby = "description-for-login-main-username"
							})
						</span>
						<div id="description-for-login-main-username" class="form-field__messages">
							@Html.ValidationMessageFor(x => x.Username, "", new { @class = "parsley-errors-list" })
						</div>
					</div>
					<div class="form-field form-field--text">
						<label for="form-field-login-main-password" class="form-field__label">
							@Translate.Text("login password label")
							
						</label>
						<span class="form-field__input-wrapper">
							@Html.PasswordFor(x => x.Password, new
							{
								@class = "form-field__input form-field__input--text",
								@id = "form-field-login-main-password",
								@placeholder = Translate.Text("login password label"),
								@aria_required = "true",
								@type = "password",
								@required = "required",
								@data_parsley_errors_container = "#description-for-login-main-password",
								@aria_describedby = "description-for-login-main-password",
								@data_parsley_error_message = Translate.Text(DictionaryKeys.Global.Login.PleaseEnterPassword),
								
                                @autocomplete = "off"
							})
						</span>
						<div id="description-for-login-main-password" class="form-field__messages">
							
							@Html.ValidationMessageFor(x => x.Password, "", new {@class = "parsley-errors-list"})
						</div>
					</div>
				</fieldset>
				<div class="form-field__button">
					<button id="loginButton" type="submit" class="button button--primary" data-submission-text="@Translate.Text("Logging in")...">@Translate.Text("login button text")</button>

				</div>
			}
			
			
		</div>
	</div>
</div>

<script src="~/Scripts/External/nml/form-submit-validate.js"></script>