@using Sitecore.Mvc
@using Sitecore.Globalization
@model DEWAXP.Feature.Dashboard.Models.AwayMode.ConsumptionGraphSettingModel

<div class="box--news" style="min-height:100vh">
    @Html.Sitecore().Placeholder("graph-top-placehoder")
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            </div>
        </div>
    </div>

    @if (Model != null)
    {
	<div class="m43-accountsel__selected" style="display:none;">
		<span data-acc-detail="acc_number"></span>
	</div>
        if (Model.ElectricityDates != null && Model.ElectricityDates.Count > 0)
        {
            <div class="grid">
                <div class="grid__row mb32">
                    <div class="grid__column grid__column--12">

                        <div class="m29v3-chart" data-component="m29v3-chart" data-x-axis-categories="@(Model.ElectricityDates!=null?string.Join(",",Model.ElectricityDates):"")"
                             data-y-axis-title-text="@Translate.Text("kWh")"
                             data-series='@Html.Raw(Model.ElectricityConsumptionDetailJsonData)' data-tooltip-value-suffix=" @Translate.Text("kWh")" data-usagefor="@Translate.Text("ElectricityUsageMsg")" data-step="1"
                             data-y-axis-text="@Translate.Text("kWh")"
                             data-legend="Showing: " data-step-s="2"
                             data-x-axis-categories-rotate="true">
                            <ul class="m29v3-chart--tablist" style="display:none;">
                                <li class="m29v3-chart--listitem active m29v3-chart__container--nolegend" data-x-axis-title-text="Month" data-index="2" data-selected-series="0">Monthly</li>
                                <li class="m29v3-chart--listitem" data-x-axis-title-text="Day" data-index="1" data-selected-series="0">Daily</li>
                            </ul>
                            <div class="m29v3-chart--wrapper">

                                <div class="m29v3-chart--header">
                                    <div class="m29v3-chart--title electricity">@Translate.Text("ElectricityGraphTitle")</div>
                                    <div class="m29v3-chart--type">
                                        <div class="m29v3-chart--typeitem m29v3-chart--typeitemactive icon-column" data-type="column">
                                        </div>
                                        <div class="m29v3-chart--typeitem icon-line" data-type="line">
                                        </div>
                                    </div>
                                </div>
                                <div class="m29v3-chart__container mt48 m29v3-chart__container--nolegend" data-chart-container="true">
                                </div>
                                <div class="m29v3-chart--controls active" data-index="1">
                                    <h2 class="centered" style="color:#666666;font-weight:bold;font-size:16px;fill:#666666;margin-top: -29px; margin-bottom: 10px;">@Translate.Text("Day")</h2>
                                    <div class="text_copy" style="font-size: 13px;color: #8f908f;">@Translate.Text("GraphInfoText")</div>
                                </div>
                                <div class="m29v3-chart__nodata-container">
                                    <div class="m29v3-chart__nodata">
                                        @Translate.Text("NoRecordMsg")
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }

        if (Model.WaterDates != null && Model.WaterDates.Count > 0)
        {

            <div class="grid">
                <div class="grid__row mb24">
                    <div class="grid__column grid__column--12">
                        <div class="m29v3-chart" data-component="m29v3-chart" data-x-axis-categories="@(Model.WaterDates!=null?string.Join(",",Model.WaterDates):"")" data-y-axis-title-text="per 000 @Translate.Text("IG")"
                             data-series='@(Model.WaterConsumptionDetailJsonData)' data-tooltip-value-suffix=" @Translate.Text("IG")" data-usagefor="@Translate.Text("WaterUsageMsg")" data-step="1" data-y-axis-text="@Translate.Text("IG")" data-legend="Showing: " data-step-s="2"
                             data-x-axis-categories-rotate="true">
                            <ul class="m29v3-chart--tablist" style="display:none;">
                                <li class="m29v3-chart--listitem active m29v3-chart__container--nolegend" data-x-axis-title-text="Month" data-index="2" data-selected-series="0">Monthly</li>
                                <li class="m29v3-chart--listitem" data-x-axis-title-text="Day" data-index="1" data-selected-series="0">Daily</li>
                            </ul>
                            <div class="m29v3-chart--wrapper">
                                <input class="hidden m29v3-chart--downloadhtml" type="hidden" name="">

                                <div class="m29v3-chart--header water">
                                    <div class="m29v3-chart--title electricity">@Translate.Text("WaterGraphTitle")</div>
                                    <div class="m29v3-chart--type">
                                        <div class="m29v3-chart--typeitem m29v3-chart--typeitemactive icon-column" data-type="column">
                                        </div>
                                        <div class="m29v3-chart--typeitem icon-line" data-type="line">
                                        </div>
                                    </div>
                                </div>
                                <div class="m29v3-chart__container mt48 m29v3-chart__container--nolegend" data-chart-container="true">
                                </div>
                                <div class="m29v3-chart--controls active" data-index="1">
                                    <h2 class="centered" style="color:#666666;font-weight:bold;font-size:16px;fill:#666666;margin-top: -29px;margin-bottom: 10px;">@Translate.Text("Day")</h2>
                                    <div class="text_copy" style="font-size: 13px;color: #8f908f;">@Translate.Text("GraphInfoText")</div>
                                </div>
                                <div class="m29v3-chart__nodata-container">
                                    <div class="m29v3-chart__nodata">
                                        @Translate.Text("NoRecordMsg")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    @Html.Sitecore().Placeholder("graph-bottom-placehoder")
</div>
<div class="m66-preloader-fullpage mask mask-show">
    <h2 class="text__section-subtitle"> @Translate.Text("Please wait for a moment")</h2>
    <div class="loader"></div>
</div>
<script>

    function ReintGraph(element) {

        if (element != null) {
            jQuery(element).trigger('m29v3-chart-init');
        } else {
            jQuery(".m29v3-chart").trigger('m29v3-chart-init');
        }

        setTimeout(function () {
            $(".m66-preloader-fullpage").hide();
        }, 500)
    }



    docReady(function () {

        jQuery(".m29v3-chart--typeitem").on("click", function () {
            ReintGraph(jQuery(this).closest(".m29v3-chart"))
        });
        setTimeout(function () {
            ReintGraph();
        }, 1000);
    })
</script>