@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@using DEWAXP.Feature.Dashboard.Models.AwayMode
@model CreateModel
@{
    var now = DateHelper.DubaiNow().AddMonths(-1).AddDays(1);

    string Type = Model.IsLoggedIn ? "L" : "A";

    bool IsModelPopUp = Model.key == "AWMCreate" && Type == "A";
}

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @*@Html.Raw(Translate.Text("AMW_description" + Type))*@

        @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @id = "AwayModeCreateFrom", data_form = "true", data_parsley_focus = "none", @data_submit_validate = "enabled", enctype = "multipart/form-data" }))
        {

            @Html.AntiForgeryToken()
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

            if (!string.IsNullOrWhiteSpace(Model.RequestId))
            {

                @Html.HiddenFor(x => x.otp, new { @maxlength = "6", @data_parsley_type = "number", @data_parsley_trigger = "change" })
                @Html.HiddenFor(x => x.key)
                <p class="mb12 mt12 text-page__intro" style="padding:0px 0px !important">@Html.Raw(Translate.Text("AWM_MobileOTPNote"))</p>
                <div class="form-field form-field--otp centered">
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-mobilenumber"
                               name="text" type="number"
                               aria-describedby="description-for-mobilenumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-mobilenumber"
                               required=""
                               autofocus=""
                               data-parsley-required-message="@Translate.Text("AWM_OTP_Required")"
                               data-parsley-trigger="focusout"
                               data-parsley-id="6"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-mobilenumber"
                               name="text" type="number"
                               aria-describedby="description-for-mobilenumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-mobilenumber"
                               required=""
                               data-parsley-required-message="@Translate.Text("AWM_OTP_Required")"
                               data-parsley-trigger="focusout"
                               data-parsley-id="8"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-mobilenumber"
                               name="text" type="number"
                               aria-describedby="description-for-mobilenumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-mobilenumber"
                               required=""
                               data-parsley-required-message="@Translate.Text("AWM_OTP_Required")"
                               data-parsley-trigger="focusout"
                               data-parsley-id="10"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-mobilenumber"
                               name="text" type="number"
                               aria-describedby="description-for-mobilenumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-mobilenumber"
                               required=""
                               data-parsley-required-message="@Translate.Text("AWM_OTP_Required")"
                               data-parsley-trigger="focusout"
                               data-parsley-id="12"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-mobilenumber"
                               name="text" type="number"
                               aria-describedby="description-for-mobilenumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-mobilenumber"
                               required=""
                               data-parsley-required-message="@Translate.Text("AWM_OTP_Required")"
                               data-parsley-trigger="focusout"
                               data-parsley-id="14"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-mobilenumber"
                               name="text" type="number"
                               aria-describedby="description-for-mobilenumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-mobilenumber"
                               required=""
                               data-parsley-required-message="@Translate.Text("AWM_OTP_Required")"
                               data-parsley-trigger="focusout"
                               data-parsley-id="16"
                               aria-invalid="false">
                    </span>
                    <input class="form-field__input form-field__input--otp_main"
                           id="form-field-mobilenumbermain"
                           name="text" type="number"
                           aria-describedby="description-for-mobilenumbermain"
                           data-parsley-maxnumber="6"
                           data-parsley-errors-container="#description-for-mobilenumbermain"
                           data-parsley-required-message="@Translate.Text("AWM_OTP_Required")"
                           data-parsley-trigger="focusout"
                           data-parsley-id="33">
                    <div id="description-for-mobilenumber" class="form-field__messages">
                    </div>

                </div>

                

                <div class="form-field__button">
                    @if (IsModelPopUp)
                    {
                        <div class="m39-modal m39-modal--new away-mode-modal" data-component="m39-modal" id="modal_true">
                            <button data-trigger="true" class="m39-modal__trigger hidden view_modal__trigger confrimModal" id="_3f0pdyqee_trigger" type="button" aria-controls="_3f0pdyqee_content">MODAL TRIGGER FOR VIEW</button>
                            <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="true" id="_3f0pdyqee_content" aria-labelledby="_3f0pdyqee_trigger">
                                <div class="m39-modal__dialog">
                                    <div class="m39-modal__header">
                                        <button data-close="acc-sel-1" class="m39-modal__button--close" id="_3f0pdyqee_close" aria-controls="_3f0pdyqee_content" style="display:block;color:#fff">@Translate.Text("Close")</button>
                                        <div class="m39-modal__subtitle" style="text-align: center;">@Translate.Text("AWM_Disclaimer")</div>
                                    </div>
                                    <div class="m39-modal__content">
                                        @Html.Sitecore().Placeholder("AWM_DisclaimerDetail_placeholder")
                                    </div>
                                    <div class="m39-modal__footer">                                       
                                        <button type="submit" id="btnSubmit" data-ismodalpopup="@(IsModelPopUp)" name="ActionType" value="submit_otp"
                                                class="button button--primary" data-submission-text="@Translate.Text("Submitting")...">
                                            @Translate.Text("AWM_AcknowledgeText")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="m39-modal__overlay"></div>
                            </div>
                        }
                    <button type="submit" style="display:none" id="fromSubmitbtn" data-ismodalpopup="@(IsModelPopUp)" name="ActionType" value="submit_otp" class="button button--primary button--fullwidth-mobile" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Submit")</button>

                    <div class="button button--timer timer-button--outline"
                         data-component="m78-timer"
                         id="timerbutton"
                         timer-labels="{&quot;before&quot;:&quot;@Translate.Text("cust.resend.button.text")&quot;, &quot;after&quot;:&quot;@Translate.Text("cust.resend.button.text") (&quot;}"
                         timer-time="{&quot;seconds&quot;:180}">
                        <span class="m78-timer--button_text">@Translate.Text("cust.send.button.text")</span>
                        <span class="m78-timer--button_time"></span>

                    </div>
                </div>
                <div class="form-field centered">
                    <label id="ResendOtpMsg"></label>
                </div>
                <script src="~/scripts/External/nml/form-submit-validate.js"></script>
                <script>
                    var _succesMsg = '@Translate.Text("ResendOTPSuccessMsg")';
                    var isSubmitted = false;
                    docReady(function () {

                        setTimeout(function () {
                            //('.button--timer').trigger("click");
                            jQuery('.button--timer').trigger('start');
                        }, 1000);


                        var _this = this,
                            $field = $('.form-field--otp'),
                            $input = $field.find('.form-field__input--otp'),
                            i,
                            $inputMain = $field.find('.form-field__input--otp_main');

                        $input.each(function (index) {
                            var $i = $(this);

                            $i.off('keyup.otp').on('keyup.otp', function () {
                                if ($i.val().length > 0) {
                                    //$i.focusout();
                                    $i.closest('.form-field__input-wrapper_otp').next().find('.form-field__input--otp').focus();
                                    i = index
                                };
                            });
                        });

                        $(".form-field__input--otp").on('keyup blur', function () {
                            var OTPValue = '';
                            var currentIndex = $input.index(this);

                            $.each($(".form-field__input--otp"), function () {
                                OTPValue += $(this).val();
                            });

                            $(".form-field__input--otp_main").val(OTPValue);
                            if (currentIndex == $input.length - 1 && !isSubmitted && OTPValue != "" && OTPValue.length == 6) {
                                isSubmitted = true;
                                var isModalPopup = jQuery('#fromSubmitbtn').data("ismodalpopup");
                                if (isModalPopup == "True") {
                                    $('.confrimModal').click();
                                } else {
                                    $(".m66-preloader-fullpage").show();
                                    jQuery('#otp').val(OTPValue);
                                    jQuery('#fromSubmitbtn').submit();
                                }

                            } else {
                                isSubmitted = false;
                            };
                        });



                        /** Resend trigger**/
                        jQuery("#timerbutton").on("click", (resendOTP));
                        function resendOTP() {
                            if (!jQuery("#timerbutton").hasClass("timer-button--outline")) {
                            var r = { sn: jQuery("#key").val() };
                            var url = "/api/sitecore/AwayMode/ResendOTP";
                            jQuery.ajax({
                                url: url,
                                type: 'POST',
                                traditional: true,
                                data: AddCustomForgeryToken(r, "#AwayModeCreateFrom"),
                                beforeSend: function () {
                                    $(".m66-preloader-fullpage").show();
                                },
                                complete: function (cdata) {
                                    $(".m66-preloader-fullpage").fadeOut();
                                },
                            }).done(function (rdata) {
                                if (rdata.success) {
                                    jQuery("#ResendOtpMsg").text(_succesMsg);
                                } else {
                                    jQuery("#ResendOtpMsg").text(rdata.desc);
                                }
                            });
                        }
                    }

                    if (jQuery("#_3f0pdyqee_close").length > 0) {
                        jQuery("#_3f0pdyqee_close").on("click", function () {
                            //jQuery(".form-field__input--otp").val("");
                            jQuery(".form-field__input--otp")[0].focus();
                            isSubmitted = false;
                        })
                    }


                    var AddCustomForgeryToken = function (data, elementId) {
                        data.__RequestVerificationToken = $(elementId + ' input[name=__RequestVerificationToken]').val();
                        return data;
                    };
                });
                </script>
            }
            else
            {
                <div class="form-field__button">
                    <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)" role="button" data-m51-next="" aria-label="@Translate.Text("Cancel")" class="button button--primary previous">@Translate.Text("Cancel")</a>
                </div>
            }
        }
    </div>
</div>