@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Helpers
@model DEWAXP.Feature.Dashboard.Models.AwayMode.CreateModel


@{
    var direction = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "rtl" : "ltr";

    string SuccessMessage = Translate.Text("AWM_SuccessMessage" + Model.ActionType);



    if (!string.IsNullOrWhiteSpace(SuccessMessage))
    {
        SuccessMessage = SuccessMessage.Replace("{{fd}}", "<strong>" + Model.BeginDate + "</strong>")
                                                        .Replace("{{td}}", "<strong>" + Model.EndDate + "</strong>")
                                                        .Replace("{{ac}}", "<strong>" + Model.ContractAccount + "</strong>")
                                                        .Replace("{{nt}}", "<strong>" + Model.RequestId + "</strong>");
    }

}
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">

        <div class="m40-status-message m40-status-message--success @*icon icon-new-success-message*@" data-component="m40-status-message">
            @*<div class="m40-status-message__title">@Translate.Text("SS_SuccessMessage")</div>*@
            <div class="m40-status-message__text" dir="@direction">
                @Html.Raw(SuccessMessage)
            </div>
        </div>
        <div class="form-field__button">
            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)" role="button" data-m51-next="" aria-label="@Translate.Text("AWM_dashboard")" class="button button--primary previous">@Translate.Text("AWM_dashboard")</a>
        </div>

    </div>
</div>

