@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers.Extensions
@using System.Linq
@model DEWAXP.Feature.CommonComponents.Models.Renderings.LinksTabs

<div class="grid__row">
	<div class="grid__column grid__column--12">
		<div class="m25-tabs" data-component="m25-tabs" data-helper="toggle-menu" data-toggle-breakpoint="m">
			<div class="grid">
				<div class="grid__row">
					<div class="grid__column grid__column--4">
						<div class="m25-tabs__menu" data-m25-tabs-menu="true">
							<ul aria-role="tablist">
								@foreach (var tab in Model.Children)
								{
									var index = Model.Children.ToList().IndexOf(tab);
                                    var iconclass = tab.tabicon != null && !string.IsNullOrEmpty(tab.tabicon.IconClass) ? tab.tabicon.IconClass : tab.IconClass;
									<li>
										<a href="#m25-panel-@index"  aria-controls="m25-panel-@index" class="m25-tabs__tab @iconclass m25-tabs__tab--active" data-m25-tabs-tab="true" id="m25-tab-@index" aria-selected="true">@tab.Title</a>
									</li>
								}
							</ul>
						</div>
					</div>
					<div class="m25-tabs__body grid__column grid__column--8">
						@foreach (var tab in Model.Children)
						{
							var index = Model.Children.ToList().IndexOf(tab);
                            var iconclass = tab.tabicon != null && !string.IsNullOrEmpty(tab.tabicon.IconClass) ? tab.tabicon.IconClass : tab.IconClass;
							<div class="toggle-menu__item">
								<div class="toggle-menu__trigger" data-toggle-trigger="true">
									<h2 class="m25-tabs__title toggle-menu__title @iconclass">@tab.Title</h2>
								</div>
								<div aria-labelledby="m25-tab-@index" aria-role="tabpanel" id="m25-panel-@index" class="m25-tabs__content toggle-menu__content m25-tabs__content--active" data-m25-tabs-content="true" data-toggle-content="true">
									<nav class="inline-nav">
										<ul>
											@foreach (var link in tab.Links)
											{
												<li class="inline-nav__item">
													<a href="@link.Url" class="inline-nav__link">@link.MenuLabel</a>
													<p class="inline-nav__description">@(string.IsNullOrEmpty(link.Summary) ? "No summary provided." : link.Summary)</p>
												</li>
											}
										</ul>
									</nav>
								</div>
							</div>
						}
                        <div class="m15-tabs--mobile">
                            <div class="m25-tabs--title-mobile">
                            </div>
                            <div class="form-field form-field--select form-field--select-single">
                                <label for="form-field-1pwty1qmz" class="form-field__label"><span class="aria-only">select</span></label>
                                <span class="form-field__input-wrapper form-field__input-wrapper--select">
                                    <select id="form-field-1pwty1qmz" class="m25-tabs--select-mobile form-field__input form-field__input--select"></select>
                                </span>
                            </div>
                            <div class="m25-tabs--container-mobile">
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>