@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Links
@using Sitecore.Mvc

@model DEWAXP.Feature.CommonComponents.Models.Renderings.FormattedTabs

@{

    var TabId = Convert.ToString(TempData["TabId"]);
    var pageUrl = LinkManager.GetItemUrl(Sitecore.Context.Item);
}

@if (Model.Children != null && Model.Children.Count() > 0)
{
    <div class="m25-tabs m25-tabs--variant" data-component="m25-tabs" data-selected-tab-id="@(!string.IsNullOrEmpty(TabId)?TabId:"m25-tab-0")" data-helper="toggle-menu" data-toggle-breakpoint='m' m25islink="true">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--4">
                    @Html.Sitecore().Placeholder("main/content/tab-top")
                    <div class="m25-tabs__menu" data-m25-tabs-menu="true">
                        <ul aria-role="tablist">
                            @foreach (var tab in Model.Children)
                            {
                                var index = Model.Children.ToList().IndexOf(tab);

                                var tabTargetUrl = tab.Target != null ? LinkManager.GetItemUrl(tab.Target) : null;
                                var selected = tab.SelectableId;
                                //var tabSecondTargetUrl = tab.SecondTarget != null ? LinkManager.GetItemUrl(tab.SecondTarget) : null;
                                var active = Convert.ToBoolean(tab.ActivePageList != null && tab.ActivePageList.Where(x => x.Url.Equals(pageUrl)).Count() > 0) ? true : pageUrl.Equals(tabTargetUrl);
                                var additionalCssClasses = active ? "m25-tabs__tab--active" : string.Empty;
                                <li>
                                    <a href="@tabTargetUrl"  aria-controls="m25-panel-@index" class="m25-tabs__tab @additionalCssClasses" data-m25-tabs-tab="true" m25islink="true" id="m25-tab-@index">@tab.Title</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="m25-tabs__body grid__column grid__column--8">
                    <div class="m15-tabs--mobile">
                        <div class="m25-tabs--title-mobile">
                            About DEWA
                        </div>
                        <div class="form-field form-field--select form-field--select-single">
                            <label for="form-field-m25verformattedlinktab" class="form-field__label"><span class="aria-only">select</span></label>
                            <span class="form-field__input-wrapper form-field__input-wrapper--select m25-tabs--select-mobile--wrapper">
                                <select id="form-field-m25verformattedlinktab" class="m25-tabs--select-mobile form-field__input form-field__input--select"></select>
                            </span>
                        </div>
                    </div>
                    @foreach (var tab in Model.Children)
                    {
                        var index = Model.Children.ToList().IndexOf(tab);

                        var tabTargetUrl = tab.Target != null ? LinkManager.GetItemUrl(tab.Target) : null;
                        var selected = tab.SelectableId;
                        //var tabSecondTargetUrl = tab.SecondTarget != null ? LinkManager.GetItemUrl(tab.SecondTarget) : null;
                        var active = Convert.ToBoolean(tab.ActivePageList != null && tab.ActivePageList.Where(x => x.Url.Equals(pageUrl)).Count() > 0) ? true : pageUrl.Equals(tabTargetUrl);
                        var additionalCssClasses = active ? "toggle-menu__itemactive" : string.Empty;

                        <div class="toggle-menu__item @additionalCssClasses">
                            <div class="toggle-menu__trigger" data-toggle-trigger="true">
                                <h2 class="m25-tabs__title toggle-menu__title icon-share">@tab.Title</h2>
                            </div>
                            <div aria-labelledby="m25-tab-@index" aria-role="tabpanel" id="m25-panel-@index" class="m25-tabs__content--active m25-tabs__content toggle-menu__content" data-m25-tabs-content="true" data-toggle-content="true">
                                @{
                                    if (!string.IsNullOrWhiteSpace(tab.ModulePlaceholder))
                                    {
                                        string[] ModulePalceHolders = tab.ModulePlaceholder.Split(',');

                                        foreach (var modulePalceHolder in ModulePalceHolders)
                                        {
                                            <!--@modulePalceHolder-->
                                            @Html.Sitecore().Placeholder(modulePalceHolder)
                                            <!--@modulePalceHolder-->
                                        }

                                    }
                                }

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
