@using Glass.Mapper.Sc.Web.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.Tabs
<div id="m25-tabs-component" class="m25-tabs" data-component="m25-tabs" data-helper="toggle-menu" data-toggle-breakpoint='m' data-selected-tab-id="m25-tab-0">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--4">
                <div class="m25-tabs__menu" data-m25-tabs-menu="true">
                    <ul aria-role="tablist">
                        @foreach (var tab in Model.Children)
                        {
                            var index = Model.Children.ToList().IndexOf(tab);
                            var iconclass = tab.tabicon != null && !string.IsNullOrEmpty(tab.tabicon.IconClass) ? tab.tabicon.IconClass : tab.IconClass;
							<li>
								<a href="#m25-panel-@index" aria-controls="m25-panel-@index" class="m25-tabs__tab @iconclass" data-m25-tabs-tab="true" id="m25-tab-@index">@tab.Title</a>
							</li>
						}
					</ul>
				</div>
			</div>

            <div class="m25-tabs__body grid__column grid__column--8">
                <div class="m15-tabs--mobile">
                    <div class="m25-tabs--title-mobile">
                    </div>
                    <div class="form-field form-field--select form-field--select-single">
                        <label for="form-field-m25tab" class="form-field__label"><span class="aria-only">select</span></label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select id="form-field-m25tab" class="m25-tabs--select-mobile form-field__input form-field__input--select"></select>
                        </span>
                    </div>
                    <div class="m25-tabs--container-mobile">
                    </div>
                </div>
                @foreach (var tab in Model.Children)
                {
                    var index = Model.Children.ToList().IndexOf(tab);
                    var iconclass = tab.tabicon != null && !string.IsNullOrEmpty(tab.tabicon.IconClass) ? tab.tabicon.IconClass : tab.IconClass;
					<div class="toggle-menu__item">
						<div class="toggle-menu__trigger" data-toggle-trigger="true">
							<h2 class="m25-tabs__title toggle-menu__title @iconclass">@tab.Title</h2>
						</div>
                        <div aria-labelledby="m25-tab-@index" aria-role="tabpanel" id="m25-panel-@index" class="m25-tabs__content toggle-menu__content" data-m25-tabs-content="true" data-toggle-content="true">
                            @if (tab.InterlinkTab != null && tab.InterlinkTab.Count() > 0)
                            {
                                <div class="m14-richtext">
                                    @Html.Raw(tab.InterlinkTab.FirstOrDefault().Body)
                                </div>
                            }
                            else
                            {
                                <div class="m14-richtext">
                                    @Html.Raw(tab.Body)
                                </div>
                            }
                        </div>
					</div>
				}
                

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	var url = window.location.href;
	if (url.indexOf("#") > -1) {
		var hash = url.substring(url.indexOf("#") + 1);
		if (hash) {
			jQuery('.m25-tabs').attr('data-selected-tab-id', hash);
		}
	}
</script>