@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers
@model DEWAXP.Feature.Builder.Models.ProjectGeneration.ProjectDcumentSubmissionModel
@using DEWAXP.Foundation.Content
@Html.Sitecore().Placeholder("j86/m26-page-title")

@Html.Sitecore().Placeholder("j86/m14formatedtext")

<div class="grid__row">
	<div class="grid__column grid__column--12 grid__column--form">
		@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form form--inline", @id = "projectdocument-details", @data_form = "true", @enctype = "multipart/form-data", @novalidate = string.Empty }))
		{
			@Html.AntiForgeryToken()
			@Html.Sitecore().FormHandler()

			@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

		    <fieldset class="fieldset ">
                <legend class="legend-color">.</legend>
                <div class="form-field form-field--select form-field--select-single">
                    <label for="form-field-project" class="form-field__label">
                        Your projects
                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--select">
                        <select class="form-field__input form-field__input--select form-field__input--select-full"
                                id="form-field-project"
                                name="@Html.NameFor(m=>m.ProjectId)"
                                aria-describedby="description-for-project"
                                data-parsley-errors-container="#description-for-project"
                                required
                                data-parsley-required-message="@Translate.Text("Please select a project")">
                            @foreach (var project in Model.Projects)
                            {
                                <option value="@project.Id"
                                        data-contractnumber="@project.ContractNumber"
                                        @(@project.Id.ToString()==Model.ProjectId?" selected":"")
                                        >
                                    @project.ProjectName
                                </option>
                            }

                        </select>
                        
                    </span>
                    <div id="description-for-project" class="form-field__messages">
                    </div>
                </div>
                <div class="form-field form-field--text">
                    <label for="form-field-contractnumber" class="form-field__label form-field__label--readonly">
                        @Translate.Text(DictionaryKeys.Global.Account.ContractAccountNumber)
                    </label>

                    <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                        <input class="form-field__input form-field__input--readonly" readonly
                               id="form-field-contractnumber"
                               name="contract_number"
                               type="text"
                               value=""
                               aria-describedby="description-for-contractnumber"
                               data-parsley-errors-container="#description-for-contractnumber" />
                    </div>

                    <div id="description-for-contractnumber" class="form-field__messages">

                    </div>

                </div>

                <div class="form-field form-field--text ">
                    <label for="form-field-subject" class="form-field__label">
                        @Translate.Text(DictionaryKeys.ProjectGeneration.Subject)
                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-subject"
                               name="Subject"
                               type="text"
                               placeholder="@Translate.Text(DictionaryKeys.ProjectGeneration.SubjectPlaceHolder)"
                               aria-describedby="description-for-subject"
                               data-parsley-errors-container="#description-for-subject"
                               required
                               value ="@Model.Subject"
                               data-parsley-required-message="@Translate.Text(DictionaryKeys.ProjectGeneration.SubjectRequired)"
                               data-parsley-project_generation_subject=""
                               data-parsley-project_generation_subject-message="@Translate.Text(DictionaryKeys.ProjectGeneration.SubjectInvalidMessage)" />
                    </span>

                    <div id="description-for-subject" class="form-field__messages">

                    </div>

                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-unag5hlnj" class="form-field__label">
                        @Translate.Text(DictionaryKeys.ProjectGeneration.DocumentReference)
                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-unag5hlnj"
                               name="DocumentReference"
                               type="text"
                               placeholder="@Translate.Text(DictionaryKeys.ProjectGeneration.DocumentReferenceNumberPlaceholder)"
                               aria-describedby="description-for-unag5hlnj"
                               data-parsley-errors-container="#description-for-unag5hlnj"
                               required
                               value="@Model.DocumentReference"
                               data-parsley-required-message="@Translate.Text(DictionaryKeys.ProjectGeneration.DocumentReferenceNumberRequired)"
                               
                               data-parsley-doc_number-message="@Translate.Text(DictionaryKeys.ProjectGeneration.EnterValidDocumentReferenceNumber)" />
                    </span>

                    <div id="description-for-unag5hlnj" class="form-field__messages">

                    </div>
                </div>
                <div id="datepicker-container-ni5qtuawc" class="form-field form-field--text ">
                    <label for="form-field-ni5qtuawc" class="form-field__label">
                        @Translate.Text(DictionaryKeys.ProjectGeneration.ReferenceDate)
                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>

                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                        <input class="form-field__input form-field__input--text  form-field__input--datepicker"
                               id="form-field-ni5qtuawc"
                               name="StrReferenceDate"
                               type="text"
                               placeholder="@Translate.Text(DictionaryKeys.ProjectGeneration.ReferenceDatePlaceholder)"
                               aria-describedby="description-for-ni5qtuawc"
                               data-parsley-errors-container="#description-for-ni5qtuawc"
                               required
                               data-parsley-required-message="@Translate.Text(DictionaryKeys.ProjectGeneration.ReferenceDateRequired)"
                               data-el="datepicker"
                               data-picker-options='{}' />
                    </span>
                    <div id="description-for-ni5qtuawc" class="form-field__messages">

                    </div>

                </div>

		        <div class="form-field form-field--upload">

		            <div class="form-field__input-wrapper">
		                <div class="form-field__preview-wrapper">

		                    <img src="/images/preview@2x.png"
		                         data-src="/images/preview@2x.png"
		                         data-success="/images/preview@2x.png"
		                         class="form-field__preview"
		                         aria-hidden="true"
		                         role="presentation"
		                         alt=""
		                         data-uploader-image="aa4pplyjg">

		                </div>
		                <div class="form-field__uploader-details">

		                    <label for="form-field-aa4pplyjg" class="form-field__label">
		                        <strong class="form-field-aa4pplyjg">@Translate.Text("Attachment") </strong>

		                        @Translate.Text(DictionaryKeys.ProjectGeneration.UploadProject)
		                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>

		                    </label>

		                    <div>
		                        <label>
		                            <input class="form-field__input form-field__input--upload"
		                                   id="form-field-aa4pplyjg"
		                                   name="upload"
		                                   type="file"
		                                   aria-describedby="description-for-aa4pplyjg"
		                                   data-parsley-errors-container="#description-for-aa4pplyjg"
		                                   required
		                                   data-parsley-required-message="@Translate.Text(DictionaryKeys.ProjectGeneration.FileRequired)"
		                                   data-uploader-field="aa4pplyjg"
		                                   accept="image/png,image/jpeg,image/tiff,application/zip,application/excel,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf">

		                            <span class="button button--primary button--next button--small focus-enabled">@Translate.Text("Choose")</span>

		                        </label>
		                    </div>

		                    <p class="form-field__input--upload-filename" data-uploader-filename="aa4pplyjg"></p>
		                    <p><button class="button button--text button--remove hidden" data-uploader-remove="aa4pplyjg">@Translate.Text("Remove")</button></p>

		                </div>

		            </div>

		            <div id="description-for-aa4pplyjg" class="form-field__messages">

		                <p class="form-field__description" style="display:none">
		                    @Translate.Text(DictionaryKeys.MoveIn.MaxFileSize)
		                </p>

		            </div>

		        </div>
                
                
		        <div class="form-field form-field--upload">

		            <div class="form-field__input-wrapper">
		                <div class="form-field__preview-wrapper">

                            <img src="/images/preview@2x.png"
                                 data-src="/images/preview@2x.png"
                                 data-success="/images/preview@2x.png"
                                 class="form-field__preview"
                                 aria-hidden="true"
                                 role="presentation"
                                 alt=""
                                 data-uploader-image="attachment2">

		                </div>
		                <div class="form-field__uploader-details">

                            <label for="form-field-attachment2" class="form-field__label">
                                <strong class="form-field-attachment2">@Translate.Text("Attachment") </strong>

                                @Translate.Text(DictionaryKeys.ProjectGeneration.UploadProject)
                                <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>

                            </label>

		                    <div>
		                        <label>
		                            <input class="form-field__input form-field__input--upload"
		                                   id="form-field-attachment2"
		                                   name="upload2"
		                                   type="file"
		                                   aria-describedby="description-for-attachment2"
		                                   data-parsley-errors-container="#description-for-attachment2"
                                           
		                                   data-parsley-required-message="@Translate.Text(DictionaryKeys.ProjectGeneration.FileRequired)"
		                                   data-uploader-field="attachment2"
		                                   accept="image/png,image/jpeg,image/tiff,application/zip,application/excel,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf">

		                            <span class="button button--primary button--next button--small focus-enabled">@Translate.Text("Choose")</span>

		                        </label>
		                    </div>

		                    <p class="form-field__input--upload-filename" data-uploader-filename="attachment2"></p>
		                    <p><button class="button button--text button--remove hidden" data-uploader-remove="attachment2">@Translate.Text("Remove")</button></p>

		                </div>

		            </div>

		            <div id="description-for-attachment2" class="form-field__messages">

                        <p class="form-field__description" style="display:none">
                            @Translate.Text(DictionaryKeys.MoveIn.MaxFileSize)
                        </p>

		            </div>

		        </div>
		        <div class="form-field form-field--upload">

		            <div class="form-field__input-wrapper">
		                <div class="form-field__preview-wrapper">

		                    <img src="/images/preview@2x.png"
		                         data-src="/images/preview@2x.png"
		                         data-success="/images/preview@2x.png"
		                         class="form-field__preview"
		                         aria-hidden="true"
		                         role="presentation"
		                         alt=""
		                         data-uploader-image="attachment3">

		                </div>
		                <div class="form-field__uploader-details">

		                    <label for="form-field-attachment3" class="form-field__label">
		                        <strong class="form-field-attachment3">@Translate.Text("Attachment") </strong>

		                        @Translate.Text(DictionaryKeys.ProjectGeneration.UploadProject)
		                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>

		                    </label>

		                    <div>
		                        <label>
		                            <input class="form-field__input form-field__input--upload"
		                                   id="form-field-attachment3"
		                                   name="upload3"
		                                   type="file"
		                                   aria-describedby="description-for-attachment3"
		                                   data-parsley-errors-container="#description-for-attachment3"
		                                   data-parsley-required-message="@Translate.Text(DictionaryKeys.ProjectGeneration.FileRequired)"
		                                   data-uploader-field="attachment3"
		                                   accept="image/png,image/jpeg,image/tiff,application/zip,application/excel,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf">

		                            <span class="button button--primary button--next button--small focus-enabled">@Translate.Text("Choose")</span>

		                        </label>
		                    </div>

		                    <p class="form-field__input--upload-filename" data-uploader-filename="attachment3"></p>
		                    <p><button class="button button--text button--remove hidden" data-uploader-remove="attachment3">@Translate.Text("Remove")</button></p>

		                </div>

		            </div>

		            <div id="description-for-attachment3" class="form-field__messages">

                        <p class="form-field__description" style="display:none">
                            @Translate.Text(DictionaryKeys.MoveIn.MaxFileSize)
                        </p>

		            </div>

		        </div>
		        <div class="form-field form-field--upload">

		            <div class="form-field__input-wrapper">
		                <div class="form-field__preview-wrapper">

		                    <img src="/images/preview@2x.png"
		                         data-src="/images/preview@2x.png"
		                         data-success="/images/preview@2x.png"
		                         class="form-field__preview"
		                         aria-hidden="true"
		                         role="presentation"
		                         alt=""
		                         data-uploader-image="attachment4">

		                </div>
		                <div class="form-field__uploader-details">

		                    <label for="form-field-attachment4" class="form-field__label">
		                        <strong class="form-field-attachment4">@Translate.Text("Attachment") </strong>

		                        @Translate.Text(DictionaryKeys.ProjectGeneration.UploadProject)
		                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>

		                    </label>

		                    <div>
		                        <label>
		                            <input class="form-field__input form-field__input--upload"
		                                   id="form-field-attachment4"
		                                   name="upload4"
		                                   type="file"
		                                   aria-describedby="description-for-attachment4"
		                                   data-parsley-errors-container="#description-for-attachment4"
		                                   data-parsley-required-message="@Translate.Text(DictionaryKeys.ProjectGeneration.FileRequired)"
		                                   data-uploader-field="attachment4"
		                                   accept="image/png,image/jpeg,image/tiff,application/zip,application/excel,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf">

		                            <span class="button button--primary button--next button--small focus-enabled">@Translate.Text("Choose")</span>

		                        </label>
		                    </div>

		                    <p class="form-field__input--upload-filename" data-uploader-filename="attachment4"></p>
		                    <p><button class="button button--text button--remove hidden" data-uploader-remove="attachment4">@Translate.Text("Remove")</button></p>

		                </div>

		            </div>

		            <div id="description-for-attachment4" class="form-field__messages">

                        <p class="form-field__description" style="display:none">
                            @Translate.Text(DictionaryKeys.MoveIn.MaxFileSize)
                        </p>

		            </div>

		        </div>
                <div class="form-field form-field--upload">

                    <div class="form-field__input-wrapper">
                        <div class="form-field__preview-wrapper">

                            <img src="/images/preview@2x.png"
                                 data-src="/images/preview@2x.png"
                                 data-success="/images/preview@2x.png"
                                 class="form-field__preview"
                                 aria-hidden="true"
                                 role="presentation"
                                 alt=""
                                 data-uploader-image="attachment5">

                        </div>
                        <div class="form-field__uploader-details">

                            <label for="form-field-attachment5" class="form-field__label">
                                <strong class="form-field-attachment5">@Translate.Text("Attachment") </strong>

                                @Translate.Text(DictionaryKeys.ProjectGeneration.UploadProject)
                                <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>

                            </label>

                            <div>
                                <label>
                                    <input class="form-field__input form-field__input--upload"
                                           id="form-field-attachment5"
                                           name="upload4"
                                           type="file"
                                           aria-describedby="description-for-attachment5"
                                           data-parsley-errors-container="#description-for-attachment5"
                                           data-parsley-required-message="@Translate.Text(DictionaryKeys.ProjectGeneration.FileRequired)"
                                           data-uploader-field="attachment5"
                                           accept="image/png,image/jpeg,image/tiff,application/zip,application/excel,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf">

                                    <span class="button button--primary button--next button--small focus-enabled">@Translate.Text("Choose")</span>

                                </label>
                            </div>

                            <p class="form-field__input--upload-filename" data-uploader-filename="attachment5"></p>
                            <p><button class="button button--text button--remove hidden" data-uploader-remove="attachment5">@Translate.Text("Remove")</button></p>

                        </div>

                    </div>

                    <div id="description-for-attachment5" class="form-field__messages">

                        <p class="form-field__description">
                            @Translate.Text(DictionaryKeys.MoveIn.MaxFileSize)
                        </p>

                    </div>

                </div>

		        <div class="form-field__button">



                    <button type="submit" class="button button--primary button--next">@Translate.Text("save text")</button>


                </div>


			</fieldset>
			
		}
	</div>
</div>
<script language="javascript">
    docReady(function () {
        jQuery("#form-field-contractnumber").val(jQuery("#form-field-project option:selected").attr('data-contractnumber'));
        $(function () {
            $("#form-field-project").change(function () {
                jQuery("#form-field-contractnumber").val(jQuery(this).find(":selected").attr('data-contractnumber'));
                
            });
        });
    });
</script>
