@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.Builder.Models.ProjectGeneration.ProjectDcumentSubmissionSuccessModel
@Html.Sitecore().Placeholder("j86/m26-page-title")


<div class="grid__row">

    <div class="grid__column grid__column--12 grid__column--content">

        <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
            <div class="m40-status-message__title icon-success">@Translate.Text("Submission Successful")</div>
            <div class="m40-status-message__text">@Translate.Text(DictionaryKeys.ProjectGeneration.UploadSuccessful)</div>


        </div>

    </div>

</div>
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <!-- m42-key-value-start -->
        <div class="m42-keyvalue success-page">
            <dl>
                <dt class="m42-keyvalue__key--stacked">@Translate.Text(DictionaryKeys.ProjectGeneration.ProjectLabel) </dt>
                <dd class="m42-keyvalue__value--stacked tran-details">@Model.ProjectName </dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text(DictionaryKeys.ProjectGeneration.Subject)</dt>
                <dd class="m42-keyvalue__value--stacked tran-details">@Model.Subject </dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text(DictionaryKeys.ProjectGeneration.DocumentReference)</dt>
                <dd class="m42-keyvalue__value--stacked tran-details">@Model.DocumentReference </dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text(DictionaryKeys.ProjectGeneration.ReferenceDate) </dt>
                <dd class="m42-keyvalue__value--stacked tran-details">@Model.ReferenceDate.ToString("dd MM yyyy", Sitecore.Context.Culture)  </dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text(DictionaryKeys.ProjectGeneration.FileObjectID) </dt>
                <dd class="m42-keyvalue__value--stacked tran-details">@Model.FileObjectID </dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text(DictionaryKeys.ProjectGeneration.Documentation):</dt>
                <dd class="m42-keyvalue__value--stacked tran-details">
                    @foreach (var filename in Model.FileName)
                    {
                        @filename;<br />
                    }

                </dd>

            </dl>

        </div>
        <!-- m42-key-value-end -->

    </div>

</div>
<div class="grid__row noprint">
    <div class="grid__column grid__column--12 grid__column--content">
        <div class="m17-sectiontitle">
            <h2 class="m17-sectiontitle__title text__section-title">@Translate.Text("WhatNext")</h2>
        </div>

    </div>
</div>

<div class="grid__row noprint">
    <div class="grid__column grid__column--12 grid__column--centered">
        <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J86_DOCUMENTUPLOADPAGE)" role="button" aria-label="Back to Project list" class="button button--next button--primary">@Translate.Text(DictionaryKeys.ProjectGeneration.BackToProjects)</a>
    </div>

</div>
