@using Sitecore.Globalization
@model DEWAXP.Feature.Bills.Models.Estimates.EstimateHistoryData


@if (Model.EstimateDetails != null && Model.PagedEstimateDetails != null)
{
    <div class="grid__row j01-transaction-history" data-journey="j01-transaction-history">
        <div class="transaction-history--wrapper grid__column grid__column--12 grid__column--form" id="transaction-wapper">
            @*<form method="get" class="form" data-form="true" action="#" novalidate="">
                    <div class="form-field form-field--select form-field--select-single">
                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select class="form-field__input form-field__input--select form-field__input--select2 form-field__input--select-full select2-hidden-accessible">
                                <option value="" selected="" data-select2-id="2">Search By Estimate Number</option>
                                <option value="1" data-select2-id="3">0200047208</option>
                                <option value="2" data-select2-id="4">0200047207</option>
                            </select>
                        </span>

                    </div>
                </form>*@

            @if (Model.EstimateNoList != null && Model.EstimateNoList.Length > 4)
            {

                <div class="form-field form-field--select form-field--select-single">
                    <span class="form-field__input-wrapper form-field__input-wrapper--select">
                        <select class="form-field__input form-field__input--select form-field__input--select2 form-field__input--select-full estimateNoDdl"
                                id="form-field-wophxb0hj"
                                name="select"
                                aria-describedby="description-for-wophxb0hj"
                                data-parsley-errors-container="#description-for-wophxb0hj">


                            <option value="0" selected>@Translate.Text("DefaultEstimateNoDDL")</option>

                            @foreach (var estimatenumber in Model.EstimateNoList)
                            {
                                <option value="@estimatenumber" @(estimatenumber == Model.EstimateNo ? "selected" : "")>@estimatenumber</option>
                            }

                        </select>
                    </span>
                    <div id="description-for-wophxb0hj" class="form-field__messages">
                    </div>
                </div>
            }




            <div class="_EstimateDataList" id="_EstimateDataList">
                @Html.Partial("~/Views/Feature/Bills/Estimates/_EstimateDataList.cshtml", Model)
            </div>



        </div>
    </div>



    <script type="text/javascript">
        docReady(function () {

            var GetDataByEstimateNo = function (estimateNo) {
                var postData = GetDetails();
                var request = { Accountnumber: postData.accountNumber, EstimateNo: estimateNo, Type: 'subrender' };
                GetAsyncPartialView(postData.url, request, $("._EstimateDataList"), "GET");
            }

            //refer :https://select2.org/programmatic-control/retrieving-selections
            require(['select2'], function () {
                var estimateDdl = jQuery('.estimateNoDdl');
                if (estimateDdl != null && estimateDdl.length > 0) {
                    estimateDdl.select2({
                        // ...
                        templateSelection: function (data, container) {
                            var htmDir = $('html').attr('dir');
                            $(".select2-selection__arrow").remove();//remove caret.
                            $('.select2-selection').css('height', 'auto');
                            if (htmDir == 'ltr') {
                                $('.select2-selection__rendered').css({ 'padding': '5px 12px 8px', 'padding-left': '44px' });
                            }
                            else {
                                $('.select2-selection__rendered').css({ 'padding': '5px 12px 8px', 'padding-right': '44px' });
                            }
                            $(data.element).attr('data-custom-attribute', data.customValue);
                            var estimateNo = data.id == "0" ? null : data.id;
                            GetDataByEstimateNo(estimateNo);
                            return data.text;

                        }
                    });
                }
            });


        });
    </script>


}
else
{
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
            @Translate.Text("NoTransactions")
        </div>
    </div>
}


