@using Sitecore.Globalization
@using Sitecore.Mvc
@model DEWAXP.Foundation.Integration.APIHandler.Models.Response.Estimate.EstimateDetailitemResponse

<!--M5-estimate-selector-->
<div class="m45-estimate-selector__estimate m45-estimate-selector__active" data-bill-details="true" data-bill-amount="@Model.netvalue3">
    <div class="m45-estimate-selector__summary  m45-estimate-friend ">
        <p class="m45-estimate-selector__id">@Sitecore.Globalization.Translate.Text("estimate label") @Model.estimateno</p>
        <p class="m45-estimate-selector__amount">
            @Translate.Text("Total Estimate"):
            <span data-numeric-format="0,0.00" data-currency="@Translate.Text("AED")">@Model.netvalue1</span>
            (@Sitecore.Globalization.Translate.Text("Valid up to") @Convert.ToDateTime(Model.estimatevalidtodate).ToString("dd MMM yyyy", Sitecore.Context.Culture))
        </p>
    </div>
    <div class="m37-expander " data-component="m37-expander">
        <button data-toggle="true" class="m37-expander__trigger m37-expander__trigger--open" id="_0gr1xqp1p_trigger" aria-controls="_0gr1xqp1p_content">@Sitecore.Globalization.Translate.Text("Estimate details")</button>
        <div data-content="true" class="m37-expander__content m37-expander__content--open" role="region" aria-expanded="true" id="_0gr1xqp1p_content" aria-labelledby="_0gr1xqp1p_trigger">
            <dl class="m45-estimate-selector__keyvalues ">
                <dt class="m45-estimate-selector__key">@Sitecore.Globalization.Translate.Text("Application No"):</dt>
                <dd class="m45-estimate-selector__value ">@Model.customer_po_number</dd>
                <dt class="m45-estimate-selector__key">@Sitecore.Globalization.Translate.Text("Estimate Date"):</dt>
                <dd class="m45-estimate-selector__value ">@Convert.ToDateTime(Model.estimatevalidfromdate).ToString("dd MMM yyyy", Sitecore.Context.Culture)</dd>
                <dt class="m45-estimate-selector__key">@Sitecore.Globalization.Translate.Text("Plot Number"):</dt>
                <dd class="m45-estimate-selector__value ">@Model.plot</dd>
                <dt class="m45-estimate-selector__key">@Sitecore.Globalization.Translate.Text("Area Name"):</dt>
                <dd class="m45-estimate-selector__value ">@Model.area</dd>
                <dt class="m45-estimate-selector__key">@Sitecore.Globalization.Translate.Text("Owner Name"):</dt>
                <dd class="m45-estimate-selector__value ">@Model.ownername</dd>
                <dt class="m45-estimate-selector__key">@Sitecore.Globalization.Translate.Text("Consultant Contractor Name"):</dt>
                <dd class="m45-estimate-selector__value ">@Model.con_name</dd>
                <dt class="m45-estimate-selector__key">@Sitecore.Globalization.Translate.Text("Outstanding Amount"):</dt>
                <dd class="m45-estimate-selector__value" data-numeric-format="0,0.00" data-currency="@Translate.Text("AED")">@Model.netvalue3</dd>
            </dl>

            <p class="help-text">                
                <a href="javascript:void(0)" data-estno="@Model.estimateno" data-apiurl="/api/sitecore/Estimate/DisplayPDF" class="link DisplayPDF">@Sitecore.Globalization.Translate.Text("View PDF version of Estimate")</a>
                <script type="text/javascript">
                    docReady(function () {
                        $(".DisplayPDF").on("click", function () {

                            $('#DisplayPFDFrom').html("");
                            $('#DisplayPFDFrom').append('<input type="hidden" name="estimateNumber" value="' + $(this).data("estno") + '"/>');
                            $('#DisplayPFDFrom').append('<input name="__RequestVerificationToken" type="hidden" value="' + $('#findEstimateForm input[name=__RequestVerificationToken]').val() + '">');
                            $('#DisplayPFDFrom').submit();
                            $('#DisplayPFDFrom').html('<input type="hidden" name="test" />');
                            return false;
                        })
                    });
                </script>
            </p>
        </div>
    </div>
</div>