@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@{
    var isRtl = (bool)ViewBag.IsRTL;
    var lang = isRtl ? "ar" : "en";
    var voice = isRtl ? "Faris" : "en_gb_amy";


    string _PODRight = "{9D8587FA-3C97-4337-9D92-1460B7817CDA}";
    string _PODService = "{D34C7B2A-0D03-4C7B-8471-6BB689A51C4F}";
    string _PODEmployement = "{E35B52FE-2BEE-4A34-B669-34773D92F2B8}";
    string _PODEasyAccess = "{2AA1982B-DB70-4A38-B923-9F79295541D2}";
}
<div class="m27-accessibility-overlay" data-component="m27-accessibility-overlay" aria-expanded="false" role="region">
    <div class="m27-accessibility-overlay__mask"></div>
    <div class="m27-accessibility-overlay__content" data-accessibility-content="true">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--8">
                    <div class="m27-accessibility-overlay__header">
                        <h2 class="m27-accessibility-overlay__title">
                            @Translate.Text("Accessibility")
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--4 m27-accessibility-overlay__column">
                    <div class="m67-confirmation-message m67-confirmation-message--success">
                        <div class="m67-confirmation-message__title">@Translate.Text("Inclusive Organization")</div>
                        <div class="m67-confirmation-message__content">
                            <div class="m67-confirmation-message__message">@Translate.Text("To discover more, view the links below:")</div>
                            <div><a href="@LinkHelper.GetItemUrl(_PODService)" class="button button--text button--next">@Translate.Text("People of Determination")</a></div>
                            <div><a href="@LinkHelper.GetItemUrl(_PODRight)" class="button button--text button--next">@Translate.Text("Rights")</a></div>
                            <div><a href="@LinkHelper.GetItemUrl(_PODEmployement)" class="button button--text button--next">@Translate.Text("Inclusive Employment")</a></div>
                            <div><a href="@LinkHelper.GetItemUrl(_PODEasyAccess)" class="button button--text button--next">@Translate.Text("Easy Access")</a></div>
                        </div>
                    </div>
                </div>
                <div class="grid__column grid__column--8">
                    <div class="grid__column grid__column--4 m27-accessibility-overlay__column m27-accessibility-overlay__column--text-size">
                        <h3 class="submenu__title">@Translate.Text("Text resize"):</h3>
                        <div class="submenu__item m27-accessibility-overlay__subtitle">
                            <p>@Translate.Text("Use the buttons below to increase or decrease the text size"):</p>
                        </div>
                        <a href="#" class="button button--quaternary button__label--centered button__label--smaller m27-accessibility-overlay__text-smaller">A</a>
                        <a href="#" class="button button--quaternary button__label--centered button__label--larger m27-accessibility-overlay__text-larger">A</a>
                    </div>
                    <div class="grid__column grid__column--4 m27-accessibility-overlay__column m27-accessibility-overlay__column--contrast-switch">
                        <h3 class="submenu__title" id="description-for-contrast-switch">@Translate.Text("Contrast switch"):</h3>
                        <div class="submenu__item m27-accessibility-overlay__subtitle">
                            <p>
                                @Translate.Text("To switch the contrast use the toggle below")
                            </p>
                        </div>
                        <form method="get" class="form" data-form="true" action="#" novalidate="">
                            <div class="form-field">
                                <fieldset class="fieldset">
                                    <legend class="legend-color">.</legend>
                                    <p class="form-field__radio">
                                        <label for="form-field-contrast-switch_1">
                                            <input class="form-field__input form-field__input--radio" id="form-field-contrast-switch_1" aria-label="@Translate.Text("Full colour")" name="contrast-switch" type="radio" value="1"  checked="">
                                            <span class="form-field__fakeradio">@Translate.Text("Full colour")</span>
                                        </label>
                                    </p>
                                    <p class="form-field__radio">
                                        <label for="form-field-contrast-switch_2">
                                            <input class="form-field__input form-field__input--radio" id="form-field-contrast-switch_2" aria-label="@Translate.Text("Inverter colour")" name="contrast-switch" type="radio" value="2" >
                                            <span class="form-field__fakeradio">@Translate.Text("Inverter colour")</span>
                                        </label>
                                    </p>
                                    <p class="form-field__radio">
                                        <label for="form-field-contrast-switch_3">
                                            <input class="form-field__input form-field__input--radio" id="form-field-contrast-switch_3" aria-label="@Translate.Text("Green weakness")" name="contrast-switch" type="radio" value="3">
                                            <span class="form-field__fakeradio">@Translate.Text("Green weakness")</span>
                                        </label>
                                    </p>
                                    <p class="form-field__radio">
                                        <label for="form-field-contrast-switch_4">
                                            <input class="form-field__input form-field__input--radio" id="form-field-contrast-switch_4" aria-label="@Translate.Text("Red weakness")" name="contrast-switch" type="radio" value="4">
                                            <span class="form-field__fakeradio">@Translate.Text("Red weakness")</span>
                                        </label>
                                    </p>
                                </fieldset>
                            </div>
                            <div class="form-field__button"></div>
                        </form>
                    </div>
                    <div class="grid__column grid__column--4 m27-accessibility-overlay__column m27-accessibility-overlay__column--readspeaker">
                        <h3 class="submenu__title">@Translate.Text("Read Speaker"):</h3>
                        <div class="submenu__item m27-accessibility-overlay__subtitle">
                            <p>@Translate.Text("Let this webpage speak by clicking play on ReadSpeaker")</p>
                        </div>
                        @*<div class="rsplayer">
                                <div id="readspeaker_button" class="readspeaker__button">
                                    <a rel="nofollow" class="readspeaker-link" accesskey="L" title="@Translate.Text("Readspeaker.Listentothispage")" href="https://app.readspeaker.com/cgi-bin/rsent?customerid=7358&amp;lang=@lang&amp;voice=@voice&amp;readid=rs_area&amp;url=@HttpContext.Current.Request.Url" data-rsevent-id="rs_533086" role="button">
                                        <img alt="Listen to this page" src="/images/ReadSpeaker.png" style="border-style: none;" class="tooltipstered">
                                    </a>
                                </div>
                            </div>*@

                        @{
                            string _rlang = "ar_ar";
                            string _rVoice = "Faris";
                            if (!isRtl)
                            {
                                _rlang = "en_uk";
                                _rVoice = "en_gb_amy";
                            }
                        }
                        <div class="rsplayer">
                            <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve readspeaker__button">
                                <a class="rsbtn_play" accesskey="L" title="Listen to this page using ReadSpeaker" href="https://app-eu.readspeaker.com/cgi-bin/rsent?customerid=7358&lang=@(_rlang)&readid=rs_area&url=@(HttpContext.Current.Request.Url)">

                                    <span class="rsbtn_left rsimg rspart">
                                        <span class="rsbtn_text"><span>@Translate.Text("Readspeaker.Listentothispage")</span></span>
                                    </span>
                                    <span class="rsbtn_right rsimg rsplay rspart"></span>
                                </a>
                            </div>
                        </div>

                        <h3 class="submenu__title mt24">@Translate.Text("Learn more")</h3>
                        <div class="submenu__item m27-accessibility-overlay__subtitle mb0">
                            <p>
                                @Translate.Text("To discover more about accessibility view our")
                            </p>
                        </div><a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.ACCESSIBILITY_OPTIONS)" class="button button--text button--next">@Translate.Text("Accessibility options")</a>
                        @*<a href="#" class="m27-accessibility-overlay__button--print button--mobile button--text button--next">
                                @Translate.Text("Print this page")
                            </a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
