@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@model DEWAXP.Feature.GatePass.Models.ePass.ePassLogin

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @data_form = "true", @data_submit_validate = "enabled", @novalidate = string.Empty, @autocomplete = "off" }))
{
    @Html.Sitecore().FormHandler()
    @Html.AntiForgeryToken()

    <div class="j113-epass">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--6 m14-richtext">
                    @Html.Sitecore().Placeholder("epasslogin-intro")
                </div>
                <div class="grid__column grid__column--6">
                    <span class="m14-richtext">
                        <h2 class="green centered">@Translate.Text("Epass.Login")</h2>
                    </span>
                    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
                    <div class="form-field form-field--text  ">
                        <label for="form-field-rm7fcd86p" class="form-field__label">
                            @Translate.Text("Epass.Username")
                            <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <input class="form-field__input form-field__input--text"
                                   id="form-field-rm7fcd86p"
                                   name="UserName"
                                   type="text"
                                   placeholder="@Translate.Text("Epass.Enterusername")"
                                   aria-describedby="description-for-rm7fcd86p"
                                   data-parsley-errors-container="#description-for-rm7fcd86p"
                                   required
                                   @*minlength="6"*@
                                   maxlength="30"
                                   data-parsley-required-message="@Translate.Text("Epass.Enterusername")"
                                   data-parsley-username=""
                                   data-parsley-username-message="@Translate.Text("Epass.Enterusernamechar")" />
                        </span>
                        <div id="description-for-rm7fcd86p" class="form-field__messages">
                        </div>
                    </div>
                    <div class="form-field form-field--text  ">
                        <label for="form-field-qcl7g51y5" class="form-field__label">
                            @Translate.Text("Epass.Password")
                            <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <input class="form-field__input form-field__input--text"
                                   id="form-field-qcl7g51y5"
                                   name="UserPassword"
                                   type="password"
                                   autocomplete="off"
                                   placeholder=" @Translate.Text("Epass.Enterpassword")"
                                   aria-describedby="description-for-qcl7g51y5"
                                   data-parsley-errors-container="#description-for-qcl7g51y5"
                                   required
                                   data-parsley-required-message=" @Translate.Text("Epass.Enterpassword")" />
                        </span>
                        <div id="description-for-qcl7g51y5" class="form-field__messages">
                        </div>
                    </div>
                    <div class="form-field__button--left">
                        <button type="submit" class="button button--primary button--fullwidth-mobile button--next" data-submission-text="@Translate.Text("Epass.Loggingin")">@Translate.Text("Epass.Login")</button>
                    </div>
                </div>
            </div>
            <!--Quick Services-->
            @Html.Sitecore().Placeholder("epasslogin-quickservice")
        </div>
    </div>
}
<script src="~/Scripts/External/nml/form-submit-validate.js"></script>








