@using Sitecore.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GeneralServices.Models.GreenRibonPledge.PledgeForm


<div class="grid__row">
    <div class="grid__column grid__column--12">
        <!-- m26-page-title-start -->
        @Html.Sitecore().Placeholder("j40/m26-page-title")
        <!-- m26-page-title-end -->
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <div class="text-block">
            <p class="text__content-copy"><strong>@Html.Raw(string.Format(Translate.Text("greenpledge.congrates"), Model.name))</strong></p>

            @* <p class="text__content-copy"><strong>@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.YouArePledgeNumber) @Model.PledgeNumber</strong></p>*@

            <p class="text__content-copy">@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.YourPledgeNew)</p>

        </div>
    </div>
</div>
<div class="grid__row grid__row--tight grid__column--content mb24">
    <div class="grid__column grid__column--4">
        <!-- m6-teaser-start -->
        <a href="#" class="m6-teaser teaser__link">
            <div class="m6-teaser__content">

                <img class="m6-teaser__image" src="~/images/gp_elec_1.png" alt="770" role="presentation" aria-hidden="true">
                <p class="teaser__copy">
                    @Html.Raw(string.Format(Translate.Text("J40.kwhElectricity"), "<strong>" + Model.LblKilloWattOfElectricity + "</strong>"))
                </p>
            </div>
        </a>
        <!-- m6-teaser-end -->

    </div>
    <div class="grid__column grid__column--4">
        <!-- m6-teaser-start -->
        <a href="#" class="m6-teaser teaser__link">
            <div class="m6-teaser__content">

                <img class="m6-teaser__image" src="~/images/gp_water_1.png" alt="10,658" role="presentation" aria-hidden="true">
                <p class="teaser__copy">
                    @Html.Raw(string.Format(Translate.Text("J40.IGWater"), "<strong>" + Model.LblGallonsOfWater + "</strong>"))
                </p>

            </div>
        </a>
        <!-- m6-teaser-end -->

    </div>
    <div class="grid__column grid__column--4">
        <!-- m6-teaser-start -->
        <a href="#" class="m6-teaser teaser__link">
            <div class="m6-teaser__content">

                <img class="m6-teaser__image" src="~/images/gp_co2_1.png" alt="32,300" role="presentation" aria-hidden="true">
                <p class="teaser__copy">
                    @Html.Raw(string.Format(Translate.Text("J40.CO2Emission"), "<strong>" + Model.LblKGOfCarbonDioxide + "</strong>"))
                </p>

            </div>
        </a>
        <!-- m6-teaser-end -->

    </div>
    @*<div class="grid__column grid__column--4">
            <!-- m6-teaser-start -->
            <a href="#" class="m6-teaser teaser__link">
                <div class="m6-teaser__content">

                    <img class="m6-teaser__image" src="/images/kw_of_electricity.png" alt="1,222" role="presentation" aria-hidden="true">
                    <h2 class="m6-teaser__title">@Model.LblKilloWattOfElectricity</h2>
                    <p class="m6-teaser__text teaser__copy">@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.KWOfElectricity)</p>

                </div>
            </a>
            <!-- m6-teaser-end -->

        </div>*@
</div>
<div class="grid__column--content mb24 clearfix">
    <div class="grid__column grid__column--4">
        <!-- m6-teaser-start -->
        <a href="#" class="m6-teaser teaser__link">
            <div class="m6-teaser__content">

                <img class="m6-teaser__image" src="~/images/led_bulb_1.png" alt="2" role="presentation" aria-hidden="true">
                <p class="teaser__copy">
                    @Html.Raw(string.Format(Translate.Text("J40.LEDConsumption"), "<strong>" + Model.LblCflLamps + "</strong>"))
                </p>

            </div>
        </a>
        <!-- m6-teaser-end -->

    </div>
    <div class="grid__column grid__column--4">
        <!-- m6-teaser-start -->
        <a href="#" class="m6-teaser teaser__link">
            <div class="m6-teaser__content">

                <img class="m6-teaser__image" src="~/images/water_bottle_1.png" alt="68" role="presentation" aria-hidden="true">
                <p class="teaser__copy">
                    @Html.Raw(string.Format(Translate.Text("J40.MLwaterbottles"), "<strong>" + Model.LblWaterBottlesSaved + "</strong>"))
                </p>

            </div>
        </a>
        <!-- m6-teaser-end -->

    </div>
    <div class="grid__column grid__column--4">
        <!-- m6-teaser-start -->
        <a href="#" class="m6-teaser teaser__link">
            <div class="m6-teaser__content">

                <img class="m6-teaser__image" src="~/images/tree_preserve_1.png" alt="1" role="presentation" aria-hidden="true">
                <p class="teaser__copy">
                    @Html.Raw(string.Format(Translate.Text("J40.Treespreserving"), "<strong>" + Model.LblTreesOffset + "</strong>"))
                </p>

            </div>
        </a>
        <!-- m6-teaser-end -->

    </div>
    @*<div class="grid__column grid__column--3 grid__column--spacer">
            <!-- m6-teaser-start -->
            <div class="m6-teaser m6-teaser--spacer"></div>
            <!-- m6-teaser-end -->

        </div>*@
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <div class="text-block">
            <p class="text__content-copy"><strong>@Translate.Text("J40.CalculationNotes")</strong></p>
        </div>
    </div>
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
        <div class="text-block">
            <a role="button" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J40_GreenPledgeHome)" class="button button--primary">@Translate.Text("Close")</a>
            @* <p class="text__content-copy"><strong>@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.Note) </strong>  @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.EstimatedCalculations)</p>*@

        </div>
    </div>
</div>
@*<div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="text-block">

                <p class="text__content-copy">
                    @Html.Raw(@Model.formdata)
                </p>

            </div>
        </div>
    </div>*@



