@using DEWAXP.Foundation.Helpers.Extensions
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GeneralServices.Models.GreenRibonPledge.PledgeForm

<div class="grid__row">
    <div class="grid__column grid__column--12">
        <!-- m26-page-title-start -->
        @Html.Sitecore().Placeholder("j40/m26-page-title")
        <!-- m26-page-title-end -->
    </div>
</div>

<div class="grid" data-journey="j40-pledge">
    <div class="grid__row">
        <div class="grid__column grid__column--form">
            @* @Html.ValidationSummary(true)*@
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @data_form = "true", @novalidate = "" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-field form-field--text form-field--textblock">

                    <p class="text__content-copy--small">@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.PageTitle)</p>

                </div>

                <div class="form-field form-field--toggles">
                    <fieldset class="fieldset">
                        <legend class="legend-color">.</legend>
                        <div class="form-field__checkbox  last  first">
                            <label for="form-field-j40_checkbox_1_1">
                                <input data-parsley-id="9"
                                       data-parsley-multiple="j40_checkbox_1_1"
                                       class="form-field__input form-field__input--checkbox"
                                       id="form-field-j40_checkbox_1_1"
                                       name="ChkReplaceBulbs"
                                       data-j40-pledge="j40_checkbox_1_1"
                                       value="1"
                                       aria-describedby="description-for-iw5wlivvg"
                                       data-parsley-errors-container="#description-for-iw5wlivvg"
                                       type="checkbox">

                                <span class="form-field__fakecheckbox focus-enabled">
                                    @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.CheckboxPledgeText)
                                </span>
                            </label>
                        </div>

                        <div id="description-for-iw5wlivvg" class="form-field__messages">

                        </div>

                    </fieldset>
                </div>

                <div class="form-field form-field--text ">

                    <label for="form-field-2t97qbcuh" class="form-field__label">

                        @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.NumberOfBulbs)

                        @*<span class="form-field__label-optional">(@Translate.Text("optional"))</span>*@

                    </label>

                    <span class="form-field__input-wrapper">

                        <input data-parsley-id="11"
                               data-parsley-trigger="focusout"
                               class="form-field__input form-field__input--text"
                               id="form-field-2t97qbcuh"
                               name="NumberOfBulbs"
                               data-j40-pledge="j40_textfield_1_1"
                               placeholder="@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.EnterNumberPlaceholder) "
                               aria-describedby="description-for-2t97qbcuh"
                               data-parsley-error-message="@Translate.Text("greenpledge.numberofbulbserror")"
                               data-parsley-errors-container="#description-for-2t97qbcuh"
                               type="number" value=""
                               disabled="disabled">
                    </span>

                    <div id="description-for-2t97qbcuh" class="form-field__messages">

                    </div>

                </div>

                <div class="form-field form-field--toggles">
                    <fieldset class="fieldset">
                        <legend class="legend-color">.</legend>
                        <div class="form-field__checkbox  last  first">
                            <label for="form-field-j40_checkbox_1_2">
                                <input data-parsley-id="14"
                                       data-parsley-multiple="j40_checkbox_1_2"
                                       class="form-field__input form-field__input--checkbox"
                                       id="form-field-j40_checkbox_1_2"
                                       name="ChkTempTo24"
                                       data-j40-pledge="j40_checkbox_1_2"
                                       value="1260"
                                       aria-describedby="description-for-tgimlgr5y"
                                       data-parsley-errors-container="#description-for-tgimlgr5y"
                                       type="checkbox">
                                <span class="form-field__fakecheckbox focus-enabled">
                                    @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.AirConditionerSetTemparture)
                                </span>
                            </label>

                        </div>

                        <div id="description-for-tgimlgr5y" class="form-field__messages">

                        </div>

                    </fieldset>
                </div>

                <div class="form-field form-field--text ">

                    <label for="form-field-ACTemperature" class="form-field__label">

                        @Translate.Text("J40.ACTemperature")

                        @*<span class="form-field__label-optional">(@Translate.Text("optional"))</span>*@

                    </label>

                    <span class="form-field__input-wrapper">

                        <input data-parsley-id="11"
                               data-parsley-trigger="focusout"
                               class="form-field__input form-field__input--text"
                               id="form-field-ACTemperature"
                               name="ACTemperature"
                               data-j40-pledge="j40_textfield_1_2"
                               placeholder="@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.EnterNumberPlaceholder) "
                               aria-describedby="description-for-ACTemperature"
                               data-parsley-error-message="@Translate.Text("greenpledge.actemperror")"
                               data-parsley-errors-container="#description-for-ACTemperature"
                               type="number" value=""
                               disabled="disabled">
                    </span>

                    <div id="description-for-ACTemperature" class="form-field__messages">

                    </div>

                </div>

                <div class="form-field form-field--toggles">
                    <fieldset class="fieldset">
                        <legend class="legend-color">.</legend>
                        <div class="form-field__checkbox  last  first">
                            <label for="form-field-j40_checkbox_1_3">
                                <input data-parsley-id="17"
                                       data-parsley-multiple="j40_checkbox_1_3"
                                       class="form-field__input form-field__input--checkbox"
                                       id="form-field-j40_checkbox_1_3"
                                       name="ChkMaintenanceTwice"
                                       data-j40-pledge="j40_checkbox_1_3"
                                       value="1050"
                                       aria-describedby="description-for-js11yjfxo"
                                       data-parsley-errors-container="#description-for-js11yjfxo"
                                       type="checkbox">
                                <span class="form-field__fakecheckbox focus-enabled">
                                    @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.AirConditionerMaintenance)
                                </span>
                            </label>

                        </div>

                        <div id="description-for-js11yjfxo" class="form-field__messages">

                        </div>

                    </fieldset>
                </div>

                <div class="form-field form-field--text ">

                    <label for="form-field-Periodicmaintenance" class="form-field__label">

                        @Translate.Text("j40.Periodicmaintenance")

                        @*<span class="form-field__label-optional">(@Translate.Text("optional"))</span>*@

                    </label>

                    <span class="form-field__input-wrapper">

                        <input data-parsley-id="11"
                               data-parsley-trigger="focusout"
                               class="form-field__input form-field__input--text"
                               id="form-field-Periodicmaintenance"
                               name="Periodicmaintenance"
                               data-j40-pledge="j40_textfield_1_3"
                               placeholder="@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.EnterNumberPlaceholder) "
                               aria-describedby="description-for-Periodicmaintenance"
                               data-parsley-error-message="@Translate.Text("greenpledge.periodicmaintainanceerror")"
                               data-parsley-errors-container="#description-for-Periodicmaintenance"
                               type="number" value=""
                               disabled="disabled">
                    </span>

                    <div id="description-for-Periodicmaintenance" class="form-field__messages">

                    </div>

                </div>

                <div class="form-field form-field--toggles">
                    <fieldset class="fieldset">
                        <legend class="legend-color">.</legend>
                        <div class="form-field__checkbox  last  first">
                            <label for="form-field-j40_checkbox_1_4">
                                <input data-parsley-id="20"
                                       data-parsley-multiple="j40_checkbox_1_4"
                                       class="form-field__input form-field__input--checkbox"
                                       id="form-field-j40_checkbox_1_4"
                                       name="ChkDryingClothes"
                                       data-j40-pledge="j40_checkbox_1_4"
                                       value="365"
                                       aria-describedby="description-for-kl5qo5r48"
                                       data-parsley-errors-container="#description-for-kl5qo5r48"
                                       type="checkbox">
                                <span class="form-field__fakecheckbox focus-enabled">
                                    @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.OpenAirDryingClothes)
                                </span>
                            </label>

                        </div>

                        <div id="description-for-kl5qo5r48" class="form-field__messages">

                        </div>

                    </fieldset>
                </div>
                <div class="form-field form-field--toggles">
                    <fieldset class="fieldset">
                        <legend class="legend-color">.</legend>
                        <div class="form-field__checkbox  last  first">
                            <label>
                                <input data-parsley-id="31"
                                       data-parsley-multiple="j40_checkbox_1_7"
                                       class="form-field__input form-field__input--checkbox"
                                       id="form-field-j40_checkbox_1_7"
                                       name="ChkReduceMinutesInShower"
                                       data-j40-pledge="j40_checkbox_1_7"
                                       value="1"
                                       aria-describedby="description-for-zq8ebxngf"
                                       data-parsley-errors-container="#description-for-zq8ebxngf"
                                       type="checkbox">
                                <span class="form-field__fakecheckbox focus-enabled">
                                    @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.ReduceMinutesInShower)
                                </span>
                            </label>

                        </div>

                        <div id="description-for-zq8ebxngf" class="form-field__messages">

                        </div>

                    </fieldset>
                </div>

                <div class="form-field form-field--select form-field--select-single">

                    <label for="form-field-vyb2wbfxm" class="form-field__label">
                        @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.EnterNumberOfMinutes)
                        @*<span class="form-field__label-optional">(@Translate.Text("optional"))</span>*@
                    </label>

                    <span class="form-field__input-wrapper form-field__input-wrapper--select">
                        <select data-parsley-id="33"
                                data-parsley-trigger="change"
                                class="form-field__input form-field__input--select form-field__input--select-full"
                                id="form-field-vyb2wbfxm"
                                name="EnterNumberOfMinutes"
                                data-j40-pledge="j40_select_1_7"
                                data-parsley-error-message="@Translate.Text("greenpledge.numberofminuteserror")"
                                aria-describedby="description-for-vyb2wbfxm"
                                data-parsley-errors-container="#description-for-vyb2wbfxm" disabled="disabled">


                            <option value="" selected="selected">@Translate.Text("j40.selecttext")</option>
                            @if (ViewBag.NumberOfMinutesAppt != null && (List<SelectListItem>)ViewBag.NumberOfMinutesAppt != null)
                            {
                                foreach (var item in (List<SelectListItem>)ViewBag.NumberOfMinutesAppt)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                            @*<option value="1">1</option>

                                <option value="2">2</option>

                                <option value="3">3</option>

                                <option value="4">4</option>

                                <option value="5">5</option>

                                <option value="6">6</option>

                                <option value="7">7</option>

                                <option value="8">8</option>

                                <option value="9">9</option>

                                <option value="10">10</option>*@
                        </select>
                    </span>
                    <div id="description-for-vyb2wbfxm" class="form-field__messages">

                    </div>

                </div>
                <div class="form-field form-field--toggles">
                    <fieldset class="fieldset">
                        <legend class="legend-color">.</legend>
                        <div class="form-field__checkbox  last  first">
                            <label for="form-field-j40_checkbox_1_8">
                                <input data-parsley-id="36"
                                       data-parsley-multiple="j40_checkbox_1_8"
                                       class="form-field__input form-field__input--checkbox"
                                       id="form-field-j40_checkbox_1_8"
                                       name="ChkFixWaterFlowReducer"
                                       data-j40-pledge="j40_checkbox_1_8"
                                       value="1"
                                       aria-describedby="description-for-iwq5nsfdv"
                                       data-parsley-errors-container="#description-for-iwq5nsfdv"
                                       type="checkbox">
                                <span class="form-field__fakecheckbox focus-enabled">
                                    @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.FixWaterFlowReducer)
                                </span>
                            </label>
                        </div>

                        <div id="description-for-iwq5nsfdv" class="form-field__messages">

                        </div>

                    </fieldset>
                </div>

                <div class="form-field form-field--text ">

                    <label for="form-field-q3r5pcclt" class="form-field__label">

                        @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.EnterNumberOfKits)

                        @*<span class="form-field__label-optional">(@Translate.Text("optional"))</span>*@

                    </label>

                    <span class="form-field__input-wrapper">
                        <input data-parsley-id="38"
                               data-parsley-trigger="focusout"
                               class="form-field__input form-field__input--text"
                               id="form-field-q3r5pcclt"
                               name="NumberOfKits"
                               data-j40-pledge="j40_textfield_1_8"
                               placeholder="@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.EnterNumberPlaceholder)"
                               aria-describedby="description-for-q3r5pcclt"
                               data-parsley-error-message="@Translate.Text("greenpledge.numberofkitserror")"
                               data-parsley-errors-container="#description-for-q3r5pcclt"
                               type="number" value=""
                               disabled="disabled">
                    </span>

                    <div id="description-for-q3r5pcclt" class="form-field__messages">

                    </div>
                </div>
                @*<div class="form-field form-field--toggles">
                        <fieldset class="fieldset">
                            <legend class="legend-color">.</legend>
                            <div class="form-field__checkbox  last  first">
                                <label>
                                    <input data-parsley-id="41"
                                           data-parsley-multiple="j40_checkbox_1_9"
                                           class="form-field__input form-field__input--checkbox"
                                           id="form-field-j40_checkbox_1_9"
                                           name="ChkReduceAmountOfWater"
                                           data-j40-pledge="j40_checkbox_1_9"
                                           value="547.5"
                                           aria-describedby="description-for-l7jkwz92q"
                                           data-parsley-errors-container="#description-for-l7jkwz92q"
                                           type="checkbox">
                                    <span class="form-field__fakecheckbox focus-enabled">
                                        @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.ReduceAmountOfWater)
                                    </span>
                                </label>

                            </div>

                            <div id="description-for-l7jkwz92q" class="form-field__messages">

                            </div>

                        </fieldset>
                    </div>*@

                <div class="form-field form-field--toggles">
                    <fieldset class="fieldset">
                        <legend class="legend-color">.</legend>
                        <div class="form-field__checkbox  last  first">
                            <label>
                                <input data-parsley-id="44"
                                       data-parsley-multiple="j40_checkbox_1_10"
                                       class="form-field__input form-field__input--checkbox"
                                       id="form-field-j40_checkbox_1_10"
                                       name="ChkWaterTapWhileBrushing"
                                       data-j40-pledge="j40_checkbox_1_10"
                                       value="7300"
                                       aria-describedby="description-for-0rt6vz701"
                                       data-parsley-errors-container="#description-for-0rt6vz701"
                                       type="checkbox">
                                <span class="form-field__fakecheckbox focus-enabled">
                                    @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.WaterTapWhileBrushing)
                                </span>
                            </label>

                        </div>

                        <div id="description-for-0rt6vz701" class="form-field__messages">

                        </div>

                    </fieldset>
                </div>
                <div class="form-field form-field--text ">

                    <label for="form-field-numberofperson" class="form-field__label">

                        @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.EnterNumberOfPersons)

                        @*<span class="form-field__label-optional">(@Translate.Text("optional"))</span>*@

                    </label>

                    <span class="form-field__input-wrapper">
                        <input data-parsley-id="41"
                               data-parsley-trigger="focusout"
                               class="form-field__input form-field__input--text"
                               id="form-field-numberofperson"
                               name="NumberOfPersons"
                               data-j40-pledge="j40_textfield_1_10"
                               placeholder="@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.EnterNumberPlaceholder)"
                               aria-describedby="description-for-numberofperson"
                               data-parsley-error-message="@Translate.Text("greenpledge.numberofpersonserror")"
                               data-parsley-errors-container="#description-for-numberofperson"
                               type="number" value=""
                               disabled="disabled">
                    </span>

                    <div id="description-for-numberofperson" class="form-field__messages">
                    </div>
                </div>
                <fieldset class="fieldset" style="display:none">
                    <legend class="legend">
                        @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.PreservePlanetEarth)
                    </legend>
                    <p class="mt0 mb24">
                        <strong>@Translate.Text("J40.congratstext")</strong>
                    </p>
                    <div class="form-field form-field--text">
                        <label for="form-field-t8qwrku2n" class="form-field__label form-field__label--readonly">
                            @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.KilloWattOfElectricity)
                        </label>

                        <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                            <input data-parsley-trigger="focusout"
                                   class="form-field__input form-field__input--readonly"
                                   readonly=""
                                   id="form-field-t8qwrku2n"
                                   name="LblKilloWattOfElectricity"
                                   data-j40-pledge="j40_textfield_kwe"
                                   value="0"
                                   aria-describedby="description-for-t8qwrku2n"
                                   data-parsley-errors-container="#description-for-t8qwrku2n"
                                   type="number">
                        </div>

                        <div id="description-for-t8qwrku2n" class="form-field__messages">

                        </div>
                    </div>
                    <div class="form-field form-field--text">
                        <label for="form-field-ryd5j8lqe" class="form-field__label form-field__label--readonly">
                            @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.GallonsOfWater)
                        </label>

                        <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                            <input data-parsley-trigger="focusout"
                                   class="form-field__input form-field__input--readonly"
                                   readonly=""
                                   id="form-field-ryd5j8lqe"
                                   name="LblGallonsOfWater"
                                   data-j40-pledge="j40_textfield_gw"
                                   value="0"
                                   aria-describedby="description-for-ryd5j8lqe"
                                   data-parsley-errors-container="#description-for-ryd5j8lqe"
                                   type="number">
                        </div>
                        <div id="description-for-ryd5j8lqe" class="form-field__messages"></div>
                    </div>
                    <div class="form-field form-field--text">
                        <label for="form-field-vm39t84db" class="form-field__label form-field__label--readonly">
                            @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.KGOfCarbonDioxide)
                        </label>

                        <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                            <input data-parsley-trigger="focusout"
                                   class="form-field__input form-field__input--readonly"
                                   readonly=""
                                   id="form-field-vm39t84db"
                                   name="LblKGOfCarbonDioxide"
                                   data-j40-pledge="j40_textfield_kgco2"
                                   value="0"
                                   aria-describedby="description-for-vm39t84db"
                                   data-parsley-errors-container="#description-for-vm39t84db"
                                   type="number">
                        </div>
                        <div id="description-for-vm39t84db" class="form-field__messages">

                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset">
                    <legend class="legend">@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.PersonalInformation)</legend>

                    <div class="form-field form-field--text ">

                        <label for="form-field-kfp8mldvn" class="form-field__label">
                            @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.YourName)
                            @*<span class="form-field__label-optional">(@Translate.Text("optional"))</span>*@
                        </label>

                        <span class="form-field__input-wrapper">
                            <input data-parsley-id="49"
                                   data-parsley-trigger="focusout"
                                   class="form-field__input form-field__input--text"
                                   id="form-field-kfp8mldvn"
                                   name="name"
                                   required=""
                                   data-j40-pledge="name"
                                   maxlength="50"
                                   placeholder="@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.EnterNamePlaceholder)"
                                   data-parsley-error-message="@Translate.Text("greenpledge.nameerror")"
                                   aria-describedby="description-for-kfp8mldvn"
                                   data-parsley-errors-container="#description-for-kfp8mldvn"
                                   data-parsley-fullname
                                   type="text">
                        </span>

                        <div id="description-for-kfp8mldvn" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.name, string.Empty, new { @class = "parsley-errors-list" })
                        </div>
                    </div>

                    <div class="form-field form-field--text ">

                        <label for="form-field-r63vnss02" class="form-field__label">

                            @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.YourAccountNumber)

                            @*<span class="form-field__label-optional">(@Translate.Text("optional"))</span>*@

                        </label>

                        <span class="form-field__input-wrapper">
                            <input data-parsley-id="51"
                                   data-parsley-trigger="focusout"
                                   class="form-field__input form-field__input--text"
                                   id="form-field-r63vnss02"
                                   name="account_number"
                                   data-j40-pledge="account_number"
                                   placeholder="@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.EnterAccountNumberPlaceholder)"
                                   aria-describedby="description-for-r63vnss02"
                                   data-parsley-errors-container="#description-for-r63vnss02"
                                   data-parsley-account_number=""
                                   data-parsley-account_number-message="Please enter a valid 10 digit account number or 9 digit premise number"
                                   type="number">
                        </span>

                        <div id="description-for-r63vnss02" class="form-field__messages">

                        </div>
                    </div>

                    <div class="form-field form-field--text ">

                        <label for="form-field-r9cqorbbg" class="form-field__label">
                            @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.ContactNumber)
                            @*<span class="form-field__label-optional">(@Translate.Text("optional"))</span>*@

                        </label>

                        <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                            <input data-parsley-id="53"
                                   data-parsley-trigger="focusout"
                                   class="form-field__input form-field__input--text form-field__input--prefixed"
                                   id="form-field-r9cqorbbg"
                                   name="contact_number"
                                   required=""
                                   data-j40-pledge="contact_number"
                                    placeholder="@Translate.Text("mobile number label")"
                                   data-parsley-error-message="@Translate.Text("greenpledge.contacterror")"
                                   aria-describedby="description-for-r9cqorbbg"
                                   data-parsley-errors-container="#description-for-r9cqorbbg"
                                   type="tel" data-parsley-mobile_number>
                        </span>

                        <div id="description-for-r9cqorbbg" class="form-field__messages">

                        </div>

                    </div>


                    <div class="form-field form-field--text ">

                        <label for="form-field-ealkpqm55" class="form-field__label">

                            @Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.YourEmail)

                            <span class="form-field__label-optional"></span>

                        </label>

                        <span class="form-field__input-wrapper">
                            <input data-parsley-id="55"
                                   data-parsley-trigger="focusout"
                                   class="form-field__input form-field__input--text"
                                   id="form-field-ealkpqm55"
                                   name="email"
                                   data-j40-pledge="email"
                                   placeholder="@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.EnterEmailAddressPlaceHolder)"
                                   data-parsley-error-message="@Translate.Text("email validation message")"
                                   aria-describedby="description-for-ealkpqm55"
                                   data-parsley-errors-container="#description-for-ealkpqm55"
                                   type="email">
                        </span>

                        <div id="description-for-ealkpqm55" class="form-field__messages">

                        </div>

                    </div>
                    <div id="description-for-mandatory" class="form-field__messages mt24">
                        <p class="form-field__description">@Translate.Text("greenpledge.mandatorynote")</p>
                    </div>
                    @if ((bool)ViewBag.Recaptcha)
                    {
                        <br />
                        <div class="g-recaptcha" id="captcha" data-sitekey="@(ViewBag.SiteKey)"></div>
                        <span id='errorContainer' class="parsley-errors-list"></span>
                    }
                </fieldset>

                <div class="form-field__button">

                    <button type="submit" class="button button--primary button--next button--fullwidth">@Translate.Text(DictionaryKeys.GreenRibonPledge.Labels.PledgeButton)</button>

                </div>
            }

        </div>
    </div>
</div>
<script type="text/javascript">
    docReady(function () {
        var validate = function () {
            var counter = 0,
                $button = jQuery('.form-field__button').find('.button');

            jQuery('.form').find('.form-field__input--checkbox').each(function () {
                if (jQuery(this).prop('checked')) {
                    counter++
                };
            });

            if (counter > 0) {
                $button.attr('disabled', false);
                $button.removeClass('disabled');
            } else {
                $button.attr('disabled', true);
                if (!$button.hasClass('disabled')) {
                    $button.addClass('disabled');
                }
            }
        };

        validate();

        jQuery('.form').find('.form-field__fakecheckbox').each(function () {
            jQuery(this).off('click.validate').on('click.validate', function () {
                setTimeout(function () {
                    validate();
                }, 50)
            });
        });
    });

</script>