@using Newtonsoft.Json
@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content 

<div id="evbill-placeholder" class="ajax-placeholder evbill-placeholder">

</div>

<!--Handlerbar Section-->
<script id="evtotalamount-component-template" type="text/x-handlebars-template">
    <div class="m81-total-amount m81-total-amount--EV">
        <div class="m81-total-amount--graph_wrapper">
            <div class="m81-total-amount--graph_text">
                <div class="m81-total-amount--graph_header">@Translate.Text("EV_Dashboard_Total_Amount_Due")</div>
                <div class="m81-total-amount--graph_suffix">(@Translate.Text("AED"))</div>
                <div class="m81-total-amount--graph_amount green">
                    <span dir="ltr">{{converttoamountformat total}}</span></div>
                {{#evtotalflag total}}
                {{#removezeroamount electricity}}
                <div class="m81-total-amount--graph_breakdown">
                    <span class="m81-total-amount--graph_breakdown-key">@Translate.Text("EV_Dashboard_EV_Current_Consumption")</span>
                    <span class="m81-total-amount--graph_breakdown-value">{{converttoamountformat electricity}} @Translate.Text("AED")</span>
                </div>
                {{/removezeroamount}}
                {{#removezeroamount others}}
                <div class="m81-total-amount--graph_breakdown">
                    <span class="m81-total-amount--graph_breakdown-key">@Translate.Text("EV_Dashboard_Others")</span>
                    <span class="m81-total-amount--graph_breakdown-value">{{converttoamountformat others}} @Translate.Text("AED")</span>
                </div>
                {{/removezeroamount}}
                {{/evtotalflag}}
            </div>
            {{#if ischargingdate}}
            <div class="m81-total-amount--graph_note">
                {{chargingdate}}
            </div>
            {{/if}}
            <a class="button button--primary button--fullwidth" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EASYPAY)?ac={{account}}">
                @Translate.Text("SL.Pay_Now")
            </a>
            <a class="button button--primary button--fullwidth" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.TRANSACTION_HISTORY_PAGE)?ac={{account}}">
                @Translate.Text("SL.Payments_History")
            </a>
        </div>
    </div>
</script>
@Scripts.Render("~/bundles/evtotalbillamount")
