
@using Sitecore.Globalization
@using Sitecore.Mvc
@model DEWAXP.Feature.Events.Models.Events.RegistrationModel

@{
    /**/

    var Nationalities = DEWAXP.Foundation.Helpers.Extensions.FormExtensions.GetNationalities(null, false);
}

<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @id = "event_registration", data_form = "true", data_parsley_focus = "none", @data_submit_validate = "enabled", enctype = "multipart/form-data" }))
            {
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()

            <fieldset class="fieldset form-section">
                <legend class="legend-color">.</legend>
                <div class="form-field form-field--text ">
                    <label for="form-field-full_name" class="form-field__label">
                        @Translate.Text("Event_FullName")
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.FullName,
                    new
                    {
                        @class = "form-field__input form-field__input--text review",
                        @name = "FullName",
                        @id = "form-field-fullname",
                        @placeholder = @Translate.Text("Event_FullNamePlaceholder"),
                        @required = "",
                        @maxlength = "70",
                        @data_parsley_pattern = "/^[a-zA-Z ]*$/",
                        @data_parsley_error_message = Translate.Text("Event_ErrorMsgFullName"),
                        @data_parsley_errors_container = "#description-for-fullname",
                        @aria_describedby = "description-for-fullname",
                    })

                    </span>
                    <div id="description-for-fullname" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.FullName, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-designation" class="form-field__label">
                        @Translate.Text("Event_Designation")
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.Designation,
                    new
                    {
                        @class = "form-field__input form-field__input--text review",
                        @name = "Designation",
                        @id = "form-field-designation",
                        @placeholder = @Translate.Text("Event_DesignationPlaceholder"),
                        @required = "",
                        @data_parsley_error_message = Translate.Text("Event_ErrorMsgDesignation"),
                        @data_parsley_errors_container = "#description-for-designation",
                        @aria_describedby = "description-for-designation",
                        @maxlength = "70",
                        @data_parsley_pattern = "/^[a-zA-Z ]*$/"
                    })

                    </span>
                    <div id="description-for-designation" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Designation, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-company" class="form-field__label">
                        @Translate.Text("Event_CompanyName")
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.CompanyName,
                    new
                    {
                        @class = "form-field__input form-field__input--text review",
                        @name = "CompanyName",
                        @id = "form-field-company",
                        @placeholder = @Translate.Text("Event_CompanyPlaceholder"),
                        @required = "",
                        @data_parsley_error_message = Translate.Text("Event_ErrorMsgcompany"),
                        @data_parsley_errors_container = "#description-for-company",
                        @aria_describedby = "description-for-company",
                        @maxlength = "70",
                    })

                    </span>
                    <div id="description-for-company" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.CompanyName, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--select form-field--select-single">
                    <label for="Country" class="form-field__label">
                        @Translate.Text("Event_Country")
                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--select">
                        <select class="review form-field__input form-field__input--select form-field__input--select-full"
                                id="Country"
                                required=""
                                name="Country"
                                aria-describedby="description-for-country"
                                data-parsley-errors-container="#description-for-country"
                                data-parsley-required-message="@Translate.Text("Event_Select") @Translate.Text("Event_Country")"
                                data-parsley-trigger="change"
                                data-parsley-id="16">
                            <option value="" selected="selected">@Translate.Text("Event_Select") @Translate.Text("Event_Country")</option>
                            @{
                                foreach (var item in Nationalities)
                                {
                                    if ((item.Value == "Utd.Arab Emir.") || (item.Value == "الإمارات العربية المتحدة"))
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                }
                            }
                        </select>
                    </span>
                    <div id="description-for-country" class="form-field__messages">
                    </div>

                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-email" class="form-field__label">
                        @Translate.Text("Event_Email")
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-email"
                               name="Email"
                               type="email"
                               placeholder="@Translate.Text("Event_EmailPlaceholder")"
                               aria-describedby="description-for-email"
                               data-parsley-errors-container="#description-for-email"
                               required=""
                               maxlength="40"
                               data-parsley-error-message="@Translate.Text("Event_ErrorMsgEmail")"
                               data-parsley-required-message="@Translate.Text("Event_ErrorMsgEmail")"
                               data-parsley-trigger="focusout">
                    </span>
                    <div id="description-for-email" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-MobileNumber" class="form-field__label">
                        @Translate.Text("Event_MobileNo")
                    </label>
                    <span class="form-field__input-wrapper">
                        <input type="tel"
                               name="Mobile"
                               id="form-field-MobileNumber"
                               aria-describedby="description-for-MobileNumber"
                               required=""
                               placeholder="@Translate.Text("Event_MobileNumberPlaceholder")"
                               data-parsley-required-message="@Translate.Text("Event_MobileNumberrequired")"
                               maxlength="20"
                               class="form-field__input mob">
                    </span>
                    <div id="description-for-MobileNumber" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Mobile, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--text ">
                    <div class="form-field__checkbox">
                        <label>
                            <input class="form-field__input form-field__input--checkbox"
                                   id="form-field-checkbox_Institution"
                                   name="chkInstitution"
                                   type="checkbox"
                                   aria-describedby="description-for-chk-disability"
                                   data-parsley-id="45"
                                   aria-label="form-field-checkbox_Institution">
                            <span class="form-field__fakecheckbox focus-enabled">
                                @Translate.Text("Event_CPE_Description")
                            </span>
                        </label>
                    </div>
                </div>
                <div id="txtInstitution" class="form-field form-field--text hidden">
                    @*<label for="form-field-cpe" class="form-field__label">
                @Translate.Text("Event_CPE")
            </label>*@
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.Institution,
                    new
                    {
                        @class = "form-field__input form-field__input--text review",
                        @name = "Institution",
                        @id = "form-field-cpe",
                        @placeholder = @Translate.Text("Event_InstitutionPlaceholder"),
                        @required = "",
                        @data_parsley_error_message = Translate.Text("Event_ErrorMsgInstitution"),
                        @data_parsley_errors_container = "#description-for-cpe",
                        @aria_describedby = "description-for-cpe",
                        @maxlength = "70"
                    })

                    </span>
                    <div id="description-for-cpe" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Institution, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--toggles">
                    <label for="form-field-session" class="form-field__label">
                        @Translate.Text("Event_SessionName")
                    </label>
                    @foreach (var sesssionItem in Model.SessionList)
                    {
                        <div class="form-field__checkbox first">
                            <label>
                                <input class="form-field__input form-field__input--checkbox"
                                       id="form-field-checkbox_b_@sesssionItem.Value"
                                       name="MultipleSessionName"
                                       data-parsley-multiple="chk_sessiongroup"
                                       type="checkbox"
                                       value="@sesssionItem.Value"
                                       required=""
                                       aria-describedby="description-for-chk-disability"
                                       data-parsley-errors-container="#description-for-chk-disability"
                                       data-parsley-error-message="@Translate.Text("Event_ErrorMsgSession")"
                                       data-parsley-id="45"
                                       aria-label="form-field-checkbox_b_@sesssionItem.Value">
                                <span class="form-field__fakecheckbox focus-enabled">
                                    @sesssionItem.Text
                                </span>
                            </label>
                        </div>
                    }
                    <div id="description-for-chk-disability" class="form-field__messages">
                    </div>
                </div>

                <div class="form-field form-field--text ">
                    <p class="mb12">
                        <label for="form-field-session" class="form-field__label">
                            <strong>@Translate.Text("Event_Desclaimer")</strong>
                        </label>
                    </p>
                    <p class="text-info">@Translate.Text("Event_DesclaimerText")</p>
                </div>
                @if ((bool)ViewBag.Recaptcha)
                {
                    <br />
                    <div class="g-recaptcha" id="captcha" data-sitekey="@(ViewBag.SiteKey)"></div>
                    <span id='errorContainer' class="parsley-errors-list"></span>
                }


            </fieldset>
                <div class="form-field__button">
                    <button id="btnSubmit" type="submit" class="button button--primary button--next" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Submit")</button>
                </div>

            }
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery('#btnSubmit').off('click.submit').on('click.submit', function (e) {
        require(['parsley'], function () {
            if (!recaptchaCallback()) {
                e.preventDefault();
                return false;
            }
        });
    });
    jQuery(function () {
        jQuery("#form-field-checkbox_Institution").click(function () {
            if (jQuery(this).is(":checked")) {
                jQuery("#txtInstitution").show();
            } else {
                jQuery("#txtInstitution").hide();
            } jQuery
        });

    });
	jQuery(document).ready(function () {
        jQuery('.mob').keyup(function () {
            var $th = jQuery(this);
            $th.val($th.val().replace(/[^0-9 +]/g, function (str) { ; return ''; }));
        })
    });
    // Validate google captcha
    function recaptchaCallback() {
        var v = grecaptcha.getResponse();
        if (v.length == 0) {
            jQuery('#errorContainer').show();
            jQuery('#errorContainer').html('@Translate.Text("Event_UnsubscribeCaptchaNotValid")');
            return false;
        }
        else {
            jQuery('#errorContainer').hide();
            jQuery('#errorContainer').html('');
            return true;
        }
    }
</script>
<script src="~/Scripts/External/nml/form-submit-validate.js"></script>