@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Helpers
@model DEWAXP.Foundation.Content.Models.AccountModel.SetNewPasswordV1Model

<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h2 class="text__page-title">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title icon--success">
                    @ViewBag.SuccessTitle
                </div>
                <div class="m40-status-message__text">
                    @Html.Raw(ViewBag.Subtitle)
                </div>
            </div>
        </div>
    </div>
    <div class="grid__row noprint">
        <div class="grid__column grid__column--12 grid__column--centered grid__column--form">
            <h2 class="text__section-title">@Translate.Text("WhatNext")</h2>
            @Html.Sitecore().Placeholder("whatsnextdescription")
            <div class="button-container--single">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J7_LOGIN_PAGE)#m1" class="button button--primary button--next" role="button">@Translate.Text(DictionaryKeys.Global.Login.LoginLabel)</a>
            </div>
        </div>
    </div>
    <script src="~/scripts/External/nml/form-submit-validate.js"></script>
</div>