@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc.Presentation
@using Glass.Mapper.Sc
@using Sitecore.Globalization
@using DEWAXP.Feature.Dashboard.Models.DewaStore

@model DewaStoreOfferViewModel

@if (Model != null)
{
    <div class="m85-dstore-carousel" style="background-image: url('@(Model.BackgroundImage)');">
        <div class="grid">
            <div class="grid__row mb24">
                <div class="m17-sectiontitle mt24 mb0" data-component="m17-sectiontitle">
                    <h3 class="m17-sectiontitle__title text__section-title dashboard__section white">@Model.ModuleTitle</h3>
                    @*<a class="m17-sectiontitle__cta button button--text white" href="@Model.ModuleLinkUrl">@Model.ModuleLinkdesc</a>*@
                </div>
            </div>
        </div>

        <div class="m85-dstore-carousel_container">
            <div class="m85-dstore-carousel_carousel">
                @foreach (OfferDataViewModel offer in Model.offerDataViewModels)
                {
                    <div class="m85-dstore-carousel_slide">
                        <div class="m60-teaser m60-teaser--dstore" data-component="m60-teaser">
                            <div class="teaser__link">
                                <div class="m60-teaser-image" data-alt="@offer.OfferName" style="background-image:url('@offer.Imagevalue')"></div>
                                <div class="teaser__content">

                                    @if (offer.DiscountPercentage > 0)
                                    {

                                        <div class=teaser__discount>@string.Format(Translate.Text("dewastore.offer"), offer.DiscountPercentage)</div>
                                    }
                                    else
                                    {
                                        <div class=teaser__discount>@(offer.OfferDetails)</div>
                                    }
                                    <h2 class="teaser__title">@offer.OfferName</h2>
                                    <p class="teaser__copy hidden">@offer.OfferBenefits</p>
                                    <div class="teaser__storelogo">
                                        <img alt="" src="@offer.LogoUrl">
                                        @offer.CompanyName
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @*<div role="button" class="m85-dstore-carousel_carousel-nav-arrow--left"></div>
                <div role="button" class="m85-dstore-carousel_carousel-nav-arrow--right"></div>*@
        </div>
        <div class="m39-modal m39-modal--dstore" data-component="m39-modal" id="dewastoremodal">
            <button data-trigger="true" class="m39-modal__trigger"></button>
            <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="false">
                <div class="m39-modal__dialog ">
                    <div class="m39-modal__header">
                        <div class="m39-modal__discount"></div>
                        <div class="m39-modal__title"></div>
                        <div class="m39-modal__store"></div>
                        <button data-close="true" class="m39-modal__button--close"></button>
                    </div>
                    <div class="m39-modal__content">
                        <div class="m39-modal__dstore-img">
                        </div>
                        <p class="m39-modal__dstore-txt">
                        </p>
                        <a href="@Model.ModuleLinkUrl" class="button button--text"><strong>@Translate.Text("Download DEWA App to redeem this offer")</strong></a>
                    </div>
                </div>
            </div>
            <div class="m39-modal__overlay"> </div>
        </div>
    </div>

}
