@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc.Presentation
@using Glass.Mapper.Sc
@using Sitecore.Globalization
@using DEWAXP.Feature.Dashboard.Models.DewaStore

@model DewaStoreOfferViewModel

@if (Model != null)
{
    <div class="m86-dstore-teaser">
        <div class="m86-dstore-teaser_title">
            @Model.ModuleTitle
        </div>

        <div class="m86-dstore-teaser_list">

            @foreach (OfferDataViewModel offer in Model.offerDataViewModels)
            {

                <div class="m86-dstore-teaser_item">
                    <img class="m86-dstore-teaser_img" src="@offer.Imagevalue">
                    <div class="m86-dstore-teaser_text">
                        @if (offer.DiscountPercentage > 0)
                        {
                            <div class="m86-dstore-teaser_rate">@string.Format(Translate.Text("dewastore.offer"), offer.DiscountPercentage)</div>
                        }
                        <div class="m86-dstore-teaser_desc">@offer.OfferDetails</div>
                        <div class="m86-dstore-teaser_logo">
                            <img alt="" src="@offer.LogoUrl">
                            @offer.CompanyName
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}
