@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.Bills.CollectiveStatement.ConfirmModel

<div class="grid">
    @Html.Sitecore().Placeholder("j100/m26-page-title")
    <div class="grid__row">
        <div class="grid__column grid__column--12">

            <div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
                <div class="m40-status-message__title icon--error">@Sitecore.Globalization.Translate.Text(DictionaryKeys.Global.SubmissionError)</div>
                <div class="m40-status-message__text">@Model.ErrorMessage</div>
            </div>
        </div>

        <div class="grid__column grid__column--12 grid__column--content grid__column--centered">
            <div class="form-field__button">
                <a href="@Model.ButtonUrl" class="button button--primary button--small">@Translate.Text("Go Back")</a>
            </div>
        </div>
    </div>



</div>