@model DEWAXP.Feature.GeneralServices.Models.Conservation.FormLectureModel
@using Sitecore.Globalization;
@using DEWAXP.Foundation.Content
<!--~/Conservation/FormLecture.cshtml-->
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new
        {
            @class = "scfForm",
            @id = "FormEI",
            data_form = "true",
            data_parsley_focus = "none",
            @data_submit_validate = "enabled",
            enctype = "multipart/form-data",
            @autocomplete = "off"
        }))
        {
            @Html.AntiForgeryToken()
            <div class="form-field">


                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
                <div class="form-introduction"><p style="text-align: justify;">@Translate.Text("FL_SubTitle")</p></div>
                <fieldset class="display-section-fieldset">
                    <legend class="display-section-legend">@Translate.Text("FL_Section1Heading")</legend>
                    <div class="form-field form-field--select form-field--select-single">
                        <label for="form-field-lecturetypelist" class="form-field__label">
                            @Translate.Text("FL_LectureTypeDDlLabel")
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            @Html.DropDownListFor(m => m.LectureTypeDetails, Model.FromHelpers.LectureTypeList, new
                       {
                                @class = "form-field__input form-field__input--select form-field__input--select-full",
                           @id = "form-field-lecturetypelist",
                           @disabled = "",
                           @aria_describedby = "description-for-lecturetypedetails",
                           @data_parsley_errors_container = "#description-for-lecturetypedetails",
                           @required = "",
                           @data_parsley_required_message = Translate.Text("FG_LectureTypeRequired")
                       })
                        </span>
                        <div id="description-for-lecturetypedetails" class="form-field__messages"> </div>
                    </div>
                    <div class="form-field form-field--select form-field--select-single">
                        <label for="LectureDetails" class="form-field__label">
                            @Translate.Text("FL_Academylabel")
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            @Html.DropDownListFor(m => m.LectureDetails, Model.FromHelpers.LecturList, new
                           {
                                @class = "form-field__input form-field__input--select form-field__input--select-full",
                               @aria_describedby = "description-for-lecturedetails",
                               @data_parsley_errors_container = "#description-for-lecturedetails",
                               @required = "",
                               @maxlength = "50",
                               @data_parsley_required_message = Translate.Text("FG_LectureRequired")
                           })
                        </span>


                        <div id="description-for-lecturedetails" class="form-field__messages"> </div>
                    </div>
                    <div class="form-field form-field--select form-field--select-single">
                        <label for="AcademiLevel" class="form-field__label">
                            @Translate.Text("FG_AcademyDDlLabel")
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            @Html.DropDownListFor(m => m.AcademiLevel, Model.FromHelpers.AcademicList, new
                           {
                                @class = "form-field__input form-field__input--select form-field__input--select-full",
                               @aria_describedby = "description-for-lecturedetails",
                               @data_parsley_errors_container = "#description-for-academilevel",
                               @required = "",
                               @data_parsley_required_message = Translate.Text("FG_AcademyRequired")
                           })
                        </span>
                        <div id="description-for-academilevel" class="form-field__messages"> </div>
                    </div>
                    <div class="form-field form-field--text">
                        <label for="NumberOfAttendees" class="form-field__label">
                            @Translate.Text("FG_NoAttandanee_Label")
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(m => m.NumberOfAttendees,
                           new
                                {
                                    @class = "form-field__input form-field__input--text",
                               @placeholder = Translate.Text("FG_NoAttandaneePlaceholder"),
                               //@required = "",
                               @maxlength = "4",
                               //@data_parsley_required_message = Translate.Text("FG_NoAttandaneeRequired"),
                               @data_parsley_type = "digits",
                               @data_parsley_error_message = Translate.Text("FG_NoAttandaneeInvalid"),
                               @data_parsley_errors_container = "#description-for-NumberOfAttendees"
                           })
                        </span>
                        <div id="description-for-NumberOfAttendeess" class="form-field__messages">
                        </div>
                    </div>


                    <div class="form-field form-field--text">
                        <label for="DateOfLecture" class="form-field__label">
                            @Translate.Text("FG_DateOfLecture")
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                            <input class="form-field__input form-field__input--text form-field__input--datepicker"
                                   id="DateOfLecture"
                                   name="DateOfLecture"
                                   type="text"
                                   placeholder="@Translate.Text("FG_SelectDate")"
                                   aria-describedby="description-for-DateOfLecture"
                                   data-parsley-errors-container="#description-for-DateOfLecture"
                                   data-el="datepicker"
                                   data-parsley-required-message="@Translate.Text("FG_DateOfLectureRequired")"
                                   required
                                   value="@(!string.IsNullOrEmpty(Model.DateOfLecture) ?Convert.ToDateTime( Model.DateOfLecture).ToString("dd MMMM yyyy"):"")"
                                   data-picker-options="{}" />
                        </span>
                        <div id="description-for-DateOfLecture" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field form-field--text">
                        <label for="SuitableTime" class="form-field__label">
                            @Translate.Text("FG_SuitabletimeLbl")
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(m => m.SuitableTime,
                            new
                                 {
                            @class = "form-field__input form-field__input--text",
                            @placeholder = Translate.Text("FG_SutableTimePlaceHolder"),
                            @aria_describedby = "description-for-SuitableTime",
                            @data_parsley_errors_container = "#description-for-SuitableTime",
                            @required = "",
                            @maxlength = "5",
                            @data_parsley_required_message = Translate.Text("FG_SutableTimeRequired")
                            })
                        </span>
                        <div id="description-for-SuitableTime" class="form-field__messages">
                        </div>
                    </div>
                </fieldset>


                <!--Coordinator Contact Details-->
                <fieldset class="display-section-fieldset">
                    <legend class="display-section-legend">@Translate.Text("FL_Section2Heading")</legend>
                    <div class="form-field form-field--text">
                        <label for="CoordinateDetails_Name" class="form-field__label">
                            @Translate.Text("FG_CoordinatorNameLbl")
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(m => m.CoordinateDetails.Name,
                            new
                                 {
                                     @class = "form-field__input form-field__input--text",
                                @data_parsley_required_message = Translate.Text("FG_CoordinatorNameRequired"),
                                @required = "",
                               // @data_parsley_name = "",
                                @data_parsley_name_message = Translate.Text("FG_NameInvalid"),
                                @data_parsley_errors_container = "#description-for-coordinatedetails_name",
                                @placeholder = Translate.Text("FG_CoordinatorNamePlaceHolder")
                            })
                        </span>
                        <div id="description-for-coordinatedetails_name" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field form-field--text">
                        <label for="CoordinateDetails_Organization" class="form-field__label">
                            @Translate.Text("FG_OrganisationNameLbl")
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(m => m.CoordinateDetails.Organization,
                           new
                                {
                                    @class = "form-field__input form-field__input--text",
                               @data_parsley_required_message = Translate.Text("FG_OrganisationNameRequired"),
                               @required = "",
                               @placeholder = Translate.Text("FG_OrganisationNamePlaceholder"),
                               @data_parsley_errors_container = "#description-for-coordinatedetails.organization"
                           })
                        </span>
                        <div id="description-for-coordinatedetails.organization" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field form-field--text">
                        <label for="CoordinateDetails_TelePhone" class="form-field__label">
                            @Translate.Text("FG_TelephoneNumberLbl")
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                            <input class="form-field__input form-field__input--text form-field__input--prefixed"
                                   id="CoordinateDetails_TelePhone"
                                   name="CoordinateDetails.TelePhone"
                                   placeholder="@Translate.Text("FG_TelephoneNumberPlaceholder")"
                                   type="tel"
                                   aria-describedby="description-for-coordinatedetails_telephone"
                                   data-parsley-errors-container="#description-for-coordinatedetails_telephone"
                                   required
                                   @*data-parsley-error-message="@Translate.Text("FG_LandLineInvalid")"*@
                                   data-parsley-required-message="@Translate.Text("FG_LandLineRequired")"
                                   data-parsley-telephone_number=""
                                   value="@(!string.IsNullOrWhiteSpace(Model.CoordinateDetails.TelePhone)?Model.CoordinateDetails.TelePhone:"")"
                                   data-parsley-telephone_number-message="@Translate.Text("FG_LandLineInvalid")" />
                        </span>

                        <div id="description-for-coordinatedetails_telephone" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field form-field--text">
                        <label for="CoordinateDetails_ContactNo" class="form-field__label">
                            @Translate.Text("FG_MobileLbl")
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                            <input class="form-field__input form-field__input--text form-field__input--prefixed"
                                   id="CoordinateDetails_ContactNo"
                                   name="CoordinateDetails.ContactNo"
                                   placeholder="@Translate.Text("FG_MobileNoPlaceholder")"
                                   type="tel"
                                   aria-describedby="description-for-CoordinateDetails_ContactNo"
                                   data-parsley-errors-container="#description-for-CoordinateDetails_ContactNo"
                                   required
                                   data-parsley-required-message="@Translate.Text("FG_MobileNoRequired")"
                                   data-parsley-mobile_number=""
                                   value="@(!string.IsNullOrWhiteSpace(Model.CoordinateDetails.ContactNo)?Model.CoordinateDetails.ContactNo:"")"
                                   data-parsley-mobile_number-message="@Translate.Text("FG_MobileNoInvalids")" />
                        </span>
                        <div id="description-for-CoordinateDetails_ContactNo" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field form-field--text">
                        <label for="CoordinateDetails_EmailAddress" class="form-field__label">
                            @Translate.Text("FG_EmailAddressLbl")
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(m => m.CoordinateDetails.EmailAddress,
                           new
                                {
                               @class = "form-field__input form-field__input--text",
                               @data_parsley_required_message = Translate.Text("FG_EmailAddressRequired"),
                               @required = "",
                               @data_parsley_trigger = "focusout",
                               @type = "email",
                               @data_parsley_type_message = Translate.Text("FG_EmailAddressInvalids"),
                               @data_parsley_type = "email",
                               @placeholder = @Translate.Text("FG_EmailAddressPlaceholder"),
                               @data_parsley_errors_container = "#description-for-coordinatedetails_emailaddress"
                           })
                        </span>
                        <div id="description-for-coordinatedetails_emailaddress" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field form-field--text">
                        <label for="CoordinateDetails_Address" class="form-field__label">
                            @Translate.Text("FG_Address")
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(m => m.CoordinateDetails.Address,
                           new
                                {
                                    @class = "form-field__input form-field__input--text",
                               @data_parsley_required_message = Translate.Text("FG_AddressRequired"),
                               @required = "",
                               @placeholder = Translate.Text("FG_AddressPlaceholder"),
                               @aria_describedby = "description-for-coordinatedetails_address",
                               @data_parsley_errors_container = "#description-for-coordinatedetails_address"
                           })
                        </span>
                        <div id="description-for-coordinatedetails_address" class="form-field__messages">
                        </div>
                    </div>
                    @if ((bool)ViewBag.Recaptcha)
                    {
                        <br />
                        <div class="g-recaptcha" id="captcha" data-sitekey="@(ViewBag.SiteKey)"></div>
                        <span id='errorContainer' class="parsley-errors-list"></span>
                    }
                </fieldset>


                <div class="form-field__button">
                    <button class="button button--primary">@Translate.Text("Submit")</button>
                </div>
            </div>
        }
    </div>
</div>
<!--~/Conservation/FormLecture.cshtml-->

<script>
    docReady(function () {

        $("#form-field-lecturetypelist option[value='01']").prop("selected", true);

        jQuery(".button--primary").on("click", function () {

            setTimeout(function () {
                var id = GetErrorMessageId();
                if (id != "") {
                    var _url = window.location.href;
                    window.location.href = "#" + id;
                    history.pushState({}, '', _url);
                };
            }, 100);

        });


        function GetErrorMessageId() {
            var _Id = "";
            $.each($(".parsley-errors-list"), function (i, obj) {
                if (_Id == "" && $(obj).find("li").length > 0) {
                    if (_Id == "") {
                        _Id = jQuery(obj).prop("id");
                    }
                }
            })
            return _Id;
        }
        jQuery('#FormEI').submit(recaptchaCallback);
    })
    function recaptchaCallback() {
        var v = grecaptcha.getResponse();
        if (v.length == 0) {
            jQuery('#errorContainer').text('@Translate.Text("You cant leave Captcha Code empty")');
            return false;
        }
        else {
            jQuery('#errorContainer').text("");
            jQuery('input [name="LectureTypeDetails"]').val("01");
            jQuery('#form-field-lecturetypelist').attr('disabled', false);
            return true;
        }
    }
</script>;