
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization;
@using Sitecore.Globalization
@using Sitecore.Mvc
@using System.Linq
@using DEWAXP.Foundation.Helpers;
@using DEWAXP.Foundation.Content;


@{
    var direction = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "rtl" : "ltr";
    List<SelectListItem> MonthString = DEWAXP.Foundation.Content.Helpers.DateHelper.GetStaticMonthList().ToList();
}

<div class="m87-gauge-alerts" data-component="m87-gauge-alerts">
    <div class="icon-bell_clone hidden">
        <div class="icon-bell_wrapper"><div class="icon-bell"></div></div>
    </div>
    <div class="grid">
        <div class="grid__row mb32">
            <div class="grid__column grid__column--12">
                <div class="m87-gauge-alerts--outerwrapper relative">
                    <div class="gauge-component" id="gauge-component"></div>
                    <div class="m87-gauge-alerts--disclaimer">@Translate.Text("m29 Disclaimer")</div>
                </div>
            </div>
        </div>
    </div>


</div>
<script id="dashboard-gaugegraph-item-template" type="text/x-handlebars-template">
    <div class="m87-gauge-alerts--header">
        <div class="m87-gauge-alerts--header_title">
            @Translate.Text("SM.My Consumption Details title")
        </div>
        <div class="m87-gauge-alerts--header_download">
            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.TARIFFPAGE)" class="button button--text button--next green">
                @Translate.Text("Learn aboout Tariff Slab")
            </a>
        </div>
    </div>
    <form class="form" data-form="true">
        <div class="form-field form-field--select form-field--select-single">
            <label for="form-field-th05olqll" class="form-field__label">
                @Translate.Text("SM.Select Month")
            </label>
            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                <select class="form-field__input form-field__input--select form-field__input--select-full m87-gauge-alerts-select"
                        id="form-field-th05olqll"
                        name="select"
                        aria-describedby="description-for-th05olqll"
                        data-parsley-errors-container="#description-for-th05olqll"
                        data-parsley-trigger="change"
                        data-parsley-id="28">
                    {{#each this}}
                    <option value="{{monthValue}}"
                            data-electricityconsumption="{{electricityconsumption}}"
                            data-electricityslab="{{electricitySlabs}}"
                            data-waterslab="{{waterSlabs}}"
                            data-carbonslab="{{carbonSlabs}}"
                            data-waterconsumption="{{waterconsumption}}"
                            data-carbonconsumption="{{carbonconsumption}}"
                            data-iselectricityconsumed="{{iselectricityconsumed}}"
                            data-iswaterconsumed="{{iswaterconsumed}}">
                        {{monthText}}
                    </option>
                    {{/each}}
                </select>
            </span>
            <div id="description-for-th05olqll" class="form-field__messages">
            </div>
        </div>
    </form>
    <div class="m87-gauge-alerts--wrapperdata">
        <div class="m87-gauge-alerts--wrapper">
            <div class="m87-gauge-alerts--card">
                <div class="m87-gauge-alerts--container m87-gauge-alerts--container--4 m87-gauge-alerts--container--electricity-r">
                    <svg version="1.1" id="chart2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                    <defs>
                    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%" spreadMethod="pad">
                    <stop offset="0%" stop-color="#5b1ba1" stop-opacity="1"></stop>
                    <stop offset="100%" stop-color="#b478da" stop-opacity="1"></stop>
                                            </linearGradient>
                                        </defs>
                    <g class="m87-gauge-alerts--bar1">
                    <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none" stroke="#eef0f0"></path>
                    <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none">
                                            </path>
                                        </g>
                    <g class="m87-gauge-alerts--bar2">
                    <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none" stroke="#eef0f0"></path>
                    <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none">
                                            </path>
                                        </g>
                    <g class="m87-gauge-alerts--bar3">
                    <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none" stroke="#eef0f0"></path>
                    <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none">
                                            </path>
                                        </g>
                    <g class="m87-gauge-alerts--bar4">
                    <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none" stroke="#eef0f0"></path>
                    <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none">
                                            </path>
                                        </g>
                                    </svg>
                    <div class="m87-gauge-alerts--details icon-Lighting">
                        <div class="m87-gauge-alerts--details-value"></div>
                        <div class="m87-gauge-alerts--details-unit">@Html.Raw(Translate.Text("SM.Your_Consumption_Electricity"))</div>
                        <div class="m87-gauge-alerts--card_title--head">@Translate.Text("SM.Electricity")</div>
                    </div>
                </div>
                <div class="m87-gauge-alerts--container m87-gauge-alerts--container--2 m87-gauge-alerts--container--electricity-i" style="display: none;">
                    <svg version="1.1" id="chart2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                    <defs>
                    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%" spreadMethod="pad">
                    <stop offset="0%" stop-color="#5b1ba1" stop-opacity="1"></stop>
                    <stop offset="100%" stop-color="#b478da" stop-opacity="1"></stop>
                                            </linearGradient>
                                        </defs>
                    <g class="m87-gauge-alerts--bar1">
                    <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none" stroke="#eef0f0"></path>
                    <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none">
                                            </path>
                                        </g>
                    <g class="m87-gauge-alerts--bar2">
                    <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none" stroke="#eef0f0"></path>
                    <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none">
                                            </path>
                                        </g>
                                    </svg>
                    <div class="m87-gauge-alerts--details icon-Lighting">
                        <div class="m87-gauge-alerts--details-value"></div>
                        <div class="m87-gauge-alerts--details-unit">@Html.Raw(@Translate.Text("SM.Your_Consumption_Electricity"))</div>
                        <div class="m87-gauge-alerts--card_title--head">@Translate.Text("SM.Electricity")</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m87-gauge-alerts--wrapper">
            <div class="m87-gauge-alerts--card">
                <div class="m87-gauge-alerts--container m87-gauge-alerts--container--3 m87-gauge-alerts--container--water">
                    <svg version="1.1" id="chart2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                    <defs>
                    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%" spreadMethod="pad">
                    <stop offset="0%" stop-color="#5b1ba1" stop-opacity="1"></stop>
                    <stop offset="100%" stop-color="#b478da" stop-opacity="1"></stop>
                                            </linearGradient>
                                        </defs>
                    <g class="m87-gauge-alerts--bar1">
                    <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none" stroke="#eef0f0"></path>
                    <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none">
                                            </path>
                                        </g>
                    <g class="m87-gauge-alerts--bar2">
                    <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none" stroke="#eef0f0"></path>
                    <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none">
                                            </path>
                                        </g>
                    <g class="m87-gauge-alerts--bar3">
                    <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none" stroke="#eef0f0"></path>
                    <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none">
                                            </path>
                                        </g>
                                    </svg>
                    <div class="m87-gauge-alerts--details icon-Water">
                        <div class="m87-gauge-alerts--details-value"></div>
                        <div class="m87-gauge-alerts--details-unit">@Html.Raw(@Translate.Text("SM.Your_Consumption_Water"))</div>
                        <div class="m87-gauge-alerts--card_title--head">@Translate.Text("SM.Water")</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m87-gauge-alerts--wrapper">
            <div class="m87-gauge-alerts--card">
                <div class="m87-gauge-alerts--container m87-gauge-alerts--container--4 m87-gauge-alerts--container--carbonfootprint">
                    <svg version="1.1" id="chart2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                    <defs>
                    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%" spreadMethod="pad">
                    <stop offset="0%" stop-color="#5b1ba1" stop-opacity="1"></stop>
                    <stop offset="100%" stop-color="#b478da" stop-opacity="1"></stop>
                                            </linearGradient>
                                        </defs>
                    <g class="m87-gauge-alerts--bar1">
                    <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none" stroke="#eef0f0"></path>
                    <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none">
                                            </path>
                                        </g>
                    <g class="m87-gauge-alerts--bar2">
                    <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none" stroke="#eef0f0"></path>
                    <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none">
                                            </path>
                                        </g>
                    <g class="m87-gauge-alerts--bar3">
                    <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none" stroke="#eef0f0"></path>
                    <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none">
                                            </path>
                                        </g>
                    <g class="m87-gauge-alerts--bar4">
                    <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none" stroke="#eef0f0"></path>
                    <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="6px" fill="none">
                                            </path>
                                        </g>
                                    </svg>
                    <div class="m87-gauge-alerts--details icon-Carbon_Footprint">
                        <div class="m87-gauge-alerts--details-value"></div>
                        <div class="m87-gauge-alerts--details-unit">@Html.Raw(@Translate.Text("SM.Your_Consumption_Carbon"))</div>
                        <div class="m87-gauge-alerts--card_title--head">@Translate.Text("SM.Carbon")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

@Scripts.Render("~/bundles/m87gaugealert")
