@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers;
@using DEWAXP.Foundation.Content;
@{ var direction = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "rtl" : "ltr"; }
<link rel="stylesheet" type="text/css" href="~/styles/External/jquery.modal.min.css">
<script src="~/scripts/External/jquery.modal.min.js"></script>
<!-- .dashboard header -->
<div class="grid">
    <div class="grid_row mb24 grid_row-tight_gutter">
        <div class="grid_column grid_column--6">

            @*@Html.Action("UserWidget", "Dashboard")*@

            @Html.Sitecore().Placeholder("j69/form")
            <input type="hidden" name="bes-accountid" class="bes-accountid">
        </div>
    </div>
    <!-- .Bes -->
    <div class="grid__row">
        @Html.Sitecore().Placeholder("j69/bes")
        <div class="m40-status-message m40-status-message--success icon icon-new-success-message nodataavailable " data-component="m40-status-message" style="display:none;">
            <div class="m40-status-message__title icon--success">@Translate.Text("No data available")</div>
        </div>
    </div>
    <!-- ./Bes -->
</div>
<!-- ./dashboard header -->
<!-- .green pledge -->
<div class="grid">
    @Html.Sitecore().Placeholder("j69/pledge")
</div>
<!-- ./green pledge -->
<!-- .templates -->
<!-- ./templates -->

<script type="text/javascript">

    var xhrPool = []; // no need to use **var**
    var gaguageLoadSettting =
        [
            { name: "_homebesHandler", evapplicable: "1", enabled: false, isComplete: null, functionname: "_homebesHandler" }
        ];
    var accountNumber = '';
    var bpNumber = '';
    var cat = '';
    var flag = '';
    var isvisited = '';
    var _graphInitiate = false
    //variavles --- end


    docReady(function () {
        jQuery('#form-account-selector').off("submit").submit(function (e) {
            handleAccountSelection(e, gaguageLoadSettting);
            e.preventDefault();
            return false;
        });
        jQuery('.ajax-placeholder').empty();
        AbortAllAjaxCall();
        fnInitializeDashBoardComponent(gaguageLoadSettting);

    });
</script>
@Scripts.Render("~/bundles/bes")
    @Scripts.Render("~/bundles/dashboard")
