@model DEWAXP.Feature.Dashboard.Models.UserModel
@using Sitecore.Globalization
@using DEWAXP.Foundation.Helpers;
@using DEWAXP.Foundation.Content;
<div class="dashboard__user-widget">
    <div class="user-widget">
        @if (Model.UserHasProfilePhoto)
        {
            <img src="data:image;base64,@Convert.ToBase64String(Model.UserProfilePhoto)" class="user-widget__image" width="54" height="54" alt="@Model.Name">
        }
        <p>
            <strong class="user-widget__name">@Model.Name</strong>
        </p>
        <ul class="user-widget__links">
            <li class="user-widget__link-item">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.ALL_DEWA_SERVICES)" class="user-widget__link user-widget__link--profile">@Translate.Text("My profile")</a>
            </li>
            @*<li class="user-widget__link-item">
                    <a href="/account/change-password/" class="user-widget__link user-widget__link--profile">@Translate.Text("Change Password")</a>
                </li>*@
            <li class="user-widget__link-item">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J7_LOGOUT)" class="user-widget__link">@Translate.Text("Log out")</a>
            </li>
        </ul>
    </div>
</div>