@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization;
@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers;
@using DEWAXP.Foundation.Content;


@*<link rel="stylesheet" type="text/css" href="~/styles/External/jquery.modal.min.css">
    <script src="~/scripts/External/jquery.modal.min.js"></script>*@
<div class="j69-dashboard2">
    @Html.Sitecore().Placeholder("greetings")

    <div class="grid">
        <div class="grid__row mb24 grid__row-tight_gutter">
            <div class="grid__column grid__column--6">
                <!-- m43-account-selector-start -->
                <form id="form-account-selector" method="GET" form-skipvalidation="true">
                    @Html.AntiForgeryToken()
                    @Html.Sitecore().Placeholder("j69/account-selector")
                </form>
                <input type="hidden" name="bes-accountid" class="bes-accountid">
                <!-- m42-account-selector-end -->
            </div>
            <div class="grid__column grid__column--6">
                <div class="m80-my-consumption nonevcomponentsdiv" data-component="m80-my-consumption" data-rate="70" style="display: none;">
                    @Html.Sitecore().Placeholder("dashboard-thumbnail-placeholder")
                    <a class="m80-my-consumption--incidents" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.CommonComplaint)">
                        <div class="m80-my-consumption--incidents_inner">
                            <img src="/images/smartresponse.png" class="tooltipstered" alt="">
                            <div class="m80-my-consumption--incidentstext">
                                @Translate.Text("SL.Report_Track_Technical_Incidents")
                            </div>
                        </div>
                    </a>
                </div>
                <div class="m80-my-consumption evcomponentsdiv" style="display: none;">
                    <a class="m80-my-consumption--incidents" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EV_CardStatusPage)">
                        <div class="m80-my-consumption--incidents_inner">
                            <img src="/images/trackrequest.png" class="tooltipstered" alt="">
                            <div class="m80-my-consumption--incidentstext">
                                @Translate.Text("Track Requests")
                            </div>
                        </div>
                    </a>
                    <a class="m80-my-consumption--incidents" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EV_EnquiryPage)">
                        <div class="m80-my-consumption--incidents_inner">
                            <img src="/images/smartresponse.png" class="tooltipstered" alt="">
                            <div class="m80-my-consumption--incidentstext">
                                @Translate.Text("EV Support")
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    @Html.Sitecore().Placeholder("tabs")
</div>
<div class="box--news j69-dashboard2">

    @Html.Sitecore().Placeholder("component")
    <div class="grid component-tigger">
        <div class="grid__column grid__column--12">
            <div class="cpage_variant_name"></div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m66-preloader small ">
                    <div class="loader-small "></div>
                </div>
            </div>
        </div>
    </div>
    @Html.Sitecore().Placeholder("bescomponent")
    @Html.Sitecore().Placeholder("offers")
    <div class="grid">
        @Html.Sitecore().Placeholder("bottomcomponent")
    </div>
</div>
