@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization;
@using Sitecore.Globalization
@using Sitecore.Mvc
@using System.Linq
@using DEWAXP.Foundation.Helpers;
@using DEWAXP.Foundation.Content;


@{
    var direction = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "rtl" : "ltr";
    List<SelectListItem> MonthString = DEWAXP.Foundation.Content.Helpers.DateHelper.GetStaticMonthList().ToList();
}
<div class="j105-drrg">
    <div class="m66-preloader j105-drrg--loader hidden">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    <h2 class="text__section-subtitle">@Translate.Text("J100.Pleasewait")</h2>
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m87-gauge-alerts" data-component="m87-gauge-alerts">
    <div class="icon-bell_clone hidden">
        <div class="icon-bell_wrapper"><div class="icon-bell"></div></div>
    </div>
    <div class="grid">
        <div class="grid__row xscroll mb32">
            <div class="grid__scroll m87-dashboard-component-gauge-placeholder" id="m87-dashboard-component-gauge-placeholder">

            </div>
        </div>
        <div class="grid__row mb32">
            <div class="grid__column grid__column--8">
                <div class="slab-tarriff" id="slab-tarriff">

                </div>
                @Html.Sitecore().Placeholder("teaser")
            </div>
            <div class="grid__column grid__column--4">
                @Html.Sitecore().Placeholder("offersteaser")
            </div>
        </div>
    </div>
    <script id="dashboard-gaugegraph-item-template" type="text/x-handlebars-template">

        <div class="m87-gauge-alerts--wrapperdata"
             data-electricityconsumption="{{electricityconsumption}}"
             data-accounttype="{{accounttype}}"
             data-waterconsumption="{{waterconsumption}}"
             data-carbonconsumption="{{carbonconsumption}}"
             data-electricity-max="8000"
             data-water-max="18000"
             data-electricityslab="{{electricityslabs}}"
             data-waterslab="{{waterslabs}}"
             data-electricityalerts="{{electricityalerts}}"
             data-wateralerts="{{wateralerts}}"
             data-carbonslab="500,750,750,750"
             data-carbonfootprint-max="2750">
            <div class="m87-gauge-alerts--wrapper">
                <div class="m87-gauge-alerts--card">
                    <div class="m87-gauge-alerts--card_title icon-Lighting">
                        <div class="m87-gauge-alerts--card_title--head">@Translate.Text("SM.Title_Electricity")</div>
                        <div class="m87-gauge-alerts--card_title--date">{{electricitybillingmonth}}</div>
                    </div>
                    <div class="m87-gauge-alerts--container m87-gauge-alerts--container--4 m87-gauge-alerts--container--electricity">
                        <svg version="1.1" id="chart2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                        <defs>
                        <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%" spreadMethod="pad">
                        <stop offset="0%" stop-color="#5b1ba1" stop-opacity="1"></stop>
                        <stop offset="100%" stop-color="#b478da" stop-opacity="1"></stop>
                                </linearGradient>
                            </defs>
                        <g class="m87-gauge-alerts--bar1">
                        <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none" stroke="#eef0f0"></path>
                        <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none">
                                </path>
                            </g>
                        <g class="m87-gauge-alerts--bar2">
                        <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none" stroke="#eef0f0"></path>
                        <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none">
                                </path>
                            </g>
                        <g class="m87-gauge-alerts--bar3">
                        <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none" stroke="#eef0f0"></path>
                        <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none">
                                </path>
                            </g>
                        <g class="m87-gauge-alerts--bar4">
                        <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none" stroke="#eef0f0"></path>
                        <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none">
                                </path>
                            </g>
                        </svg>
                        <div class="m87-gauge-alerts--details">
                            <div class="m87-gauge-alerts--details-unit">@Translate.Text("SM.Your_Consumption_Electricity")</div>
                            <div class="m87-gauge-alerts--details-value">{{electricityconsumption}}</div>
                            <button data-type="electricity" class="m87-gauge-alerts--details-button button button--very_small button--senary">@Translate.Text("SM.Set_smart_alerts")</button>
                            {{#if iselectricityalert}}
                            <div class="m87-gauge-alerts--details-alert">{{electricityalertscount}} active alerts</div>
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>
            <div class="m87-gauge-alerts--wrapper">
                <div class="m87-gauge-alerts--card">
                    <div class="m87-gauge-alerts--card_title icon-Water">
                        <div class="m87-gauge-alerts--card_title--head">@Translate.Text("SM.Title_Water")</div>
                        <div class="m87-gauge-alerts--card_title--date">{{waterbillingmonth}}</div>
                    </div>
                    <div class="m87-gauge-alerts--container m87-gauge-alerts--container--3 m87-gauge-alerts--container--water">

                        <svg version="1.1" id="chart2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                        <defs>
                        <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%" spreadMethod="pad">
                        <stop offset="0%" stop-color="#5b1ba1" stop-opacity="1"></stop>
                        <stop offset="100%" stop-color="#b478da" stop-opacity="1"></stop>
                                </linearGradient>
                            </defs>
                        <g class="m87-gauge-alerts--bar1">
                        <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none" stroke="#eef0f0"></path>
                        <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none">
                                </path>
                            </g>
                        <g class="m87-gauge-alerts--bar2">
                        <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none" stroke="#eef0f0"></path>
                        <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none">
                                </path>
                            </g>
                        <g class="m87-gauge-alerts--bar3">
                        <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none" stroke="#eef0f0"></path>
                        <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none">
                                </path>
                            </g>
                        </svg>
                        <div class="m87-gauge-alerts--details">
                            <div class="m87-gauge-alerts--details-unit">@Translate.Text("SM.Your_Consumption_Water")</div>
                            <div class="m87-gauge-alerts--details-value">{{waterconsumption}}</div>
                            <button data-type="water" class="m87-gauge-alerts--details-button button button--very_small button--senary">@Translate.Text("SM.Set_smart_alerts")</button>
                            {{#if iswateralert}}
                            <div class="m87-gauge-alerts--details-alert">{{wateralertscount}} active alerts</div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="m87-gauge-alerts--wrapper">
                <div class="m87-gauge-alerts--card">
                    <div class="m87-gauge-alerts--card_title icon-Carbon_Footprint">
                        <div class="m87-gauge-alerts--card_title--head">@Translate.Text("SM.Title_Carbon_Footprint")</div>
                        <div class="m87-gauge-alerts--card_title--date">{{electricitybillingmonth}}</div>
                    </div>
                    <div class="m87-gauge-alerts--container m87-gauge-alerts--container--4 m87-gauge-alerts--container--carbonfootprint">
                        <svg version="1.1" id="chart2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                        <defs>
                        <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%" spreadMethod="pad">
                        <stop offset="0%" stop-color="#5b1ba1" stop-opacity="1"></stop>
                        <stop offset="100%" stop-color="#b478da" stop-opacity="1"></stop>
                                </linearGradient>
                            </defs>
                        <g class="m87-gauge-alerts--bar1">
                        <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none" stroke="#eef0f0"></path>
                        <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none">
                                </path>
                            </g>
                        <g class="m87-gauge-alerts--bar2">
                        <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none" stroke="#eef0f0"></path>
                        <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none">
                                </path>
                            </g>
                        <g class="m87-gauge-alerts--bar3">
                        <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none" stroke="#eef0f0"></path>
                        <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none">
                                </path>
                            </g>
                        <g class="m87-gauge-alerts--bar4">
                        <path class="m87-gauge-alerts--bar_bg" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none" stroke="#eef0f0"></path>
                        <path id="m87-gauge-alerts--bar_fill" class="m87-gauge-alerts--bar_fill" d="M 150, 150 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0 Z" stroke-linecap="round" stroke-width="10px" fill="none">
                                </path>
                            </g>
                        </svg>
                        <div class="m87-gauge-alerts--details">
                            <div class="m87-gauge-alerts--details-unit">@Translate.Text("SM.Your_Consumption_Carbon")</div>
                            <div class="m87-gauge-alerts--details-value">{{carbonconsumption}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </script>
    <script id="slabcelling-item-template" type="text/x-handlebars-template">
        <div class="m17-sectiontitle" data-component="m17-sectiontitle">
            <h3 class="m17-sectiontitle__title text__section-title dashboard__section">Slab Tariff Alerts</h3>
            <a class="m17-sectiontitle__cta button button--text">Tariff Calculator</a>
        </div>
        <div class="m87-gauge-alerts--card_desc">
            You will receive a notification through email when you consume <strong>75%</strong> of the Slab Tariff limit.
        </div>
        <div class="m87-gauge-alerts--switchcard">
            <div class="m87-gauge-alerts--switch">
                <div class="form-field__label--tooltip icon-new-announcement tooltipstered" tooltip-text="Please verify your email address yadda yadda yadda."></div>
                <div class="form-field__switch-container">
                    <div class="form-field__switch-label">
                        Electricity
                    </div>
                    <div class="form-field__switch">
                        <input type="checkbox" name="form-field__switch"
                               class="form-field__switch-checkbox "
                               data-slaborcelling="slab"
                               data-division="01"
                               id="electricity-switch" {{#if electricityflag}} checked {{/if}}>
                        <label class="form-field__switch-main" for="electricity-switch">
                            <div class="form-field__switch-inner"></div>
                            <div class="form-field__switch-switch"></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="m87-gauge-alerts--switch">
                <div class="form-field__label--tooltip icon-new-announcement tooltipstered" tooltip-text="Please verify your email address yadda yadda yadda."></div>
                <div class="form-field__switch-container">
                    <div class="form-field__switch-label">
                        Water
                    </div>
                    <div class="form-field__switch">
                        <input type="checkbox"
                               name="form-field__switch"
                               class="form-field__switch-checkbox"
                               data-slaborcelling="slab"
                               data-division="02"
                               id="water-switch" {{#if waterflag}} checked {{/if}}>
                        <label class="form-field__switch-main" for="water-switch">
                            <div class="form-field__switch-inner"></div>
                            <div class="form-field__switch-switch"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="m17-sectiontitle mt48" data-component="m17-sectiontitle">
            <h3 class="m17-sectiontitle__title text__section-title dashboard__section">Ceiling Alerts</h3>
        </div>
        <div class="m87-gauge-alerts--card_head" id="cellingalertmodal">
            <div class="m87-gauge-alerts--card_desc">
                Set monthly usage limit for your consumption. You will receive a notification through email when you reach the limit. You can select up to 3 alerts for each of electricity and water.
            </div>
            <div class="m39-modal m39-modal--new m87-gauge-alerts-modal m39-modal--nofocus" data-component="m39-modal" id="modal_true">
                <div data-trigger="true" class="m39-modal__trigger button button--senary button--small">+ Add Ceiling Alert</div>
                <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="false">
                    <div class="m39-modal__dialog ">
                        <div class="m39-modal__header">
                            <div class="m39-modal__title">Add Ceiling Alert</div>
                            <button data-close="true" class="m39-modal__button--close"></button>
                        </div>
                        <div class="m39-modal__content">
                            <form class="form" id="cellingalertform" data-form="true" novalidate>
                                @Html.AntiForgeryToken()
                                <div class="form-field form-field__radio--toggle">
                                    <fieldset class="fieldset">
                                        <legend class="form-field__label mb12">
                                            Select Alert Type
                                        </legend>
                                        <p class="form-field__radio form-field--6 mt0 p0">
                                            <label>
                                                <input class="form-field__input form-field__input--radio"
                                                       id="form-field-radio_1_1"
                                                       name="radios_group1"
                                                       type="radio"
                                                       value="electricity"
                                                       aria-describedby="description-for-3pb8fzmy8"
                                                       data-parsley-errors-container="#description-for-3pb8fzmy8"
                                                       data-parsley-multiple="radios_group1"
                                                       required=""
                                                       data-parsley-id="35"
                                                       data-type="electricity">
                                                <span class="form-field__fakeradio focus-enabled">Electricity</span>
                                            </label>
                                        </p>
                                        <p class="form-field__radio form-field--6 mt0 p0">
                                            <label>
                                                <input class="form-field__input form-field__input--radio"
                                                       id="form-field-radio_1_2"
                                                       name="radios_group1"
                                                       required=""
                                                       type="radio"
                                                       value="water"
                                                       aria-describedby="description-for-3pb8fzmy8"
                                                       data-parsley-errors-container="#description-for-3pb8fzmy8"
                                                       data-parsley-multiple="radios_group1"
                                                       data-type="water">
                                                <span class="form-field__fakeradio focus-enabled">Water</span>
                                            </label>
                                        </p>
                                        <div id="description-for-3pb8fzmy8" class="form-field__messages">
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="form-field ">
                                    <div class="form-field form-field__radio--toggle radio-electricity hidden">
                                        <fieldset class="fieldset">
                                            <legend class="form-field__label mb12">
                                                Select Alert Unit
                                            </legend>
                                            <p class="form-field__radio form-field--6 mt0 p0">
                                                <label>
                                                    <input class="form-field__input form-field__input--radio"
                                                           id="form-field-radio_electricity_2_1"
                                                           name="radios_group2"
                                                           type="radio"
                                                           value="1"
                                                           required=""
                                                           aria-describedby="description-for-3pb8374g3"
                                                           data-parsley-errors-container="#description-for-3pb8374g3"
                                                           data-parsley-multiple="radios_group2"
                                                           data-parsley-id="35">
                                                    <span class="form-field__fakeradio focus-enabled">Consumption (kWh)</span>
                                                </label>
                                            </p>
                                            <p class="form-field__radio form-field--6 mt0 p0">
                                                <label>
                                                    <input class="form-field__input form-field__input--radio"
                                                           id="form-field-radio_electricity_2_2"
                                                           name="radios_group2"
                                                           type="radio"
                                                           value="2"
                                                           required=""
                                                           aria-describedby="description-for-3pb8374g3"
                                                           data-parsley-errors-container="#description-for-3pb8374g3"
                                                           data-parsley-multiple="radios_group2">
                                                    <span class="form-field__fakeradio focus-enabled">Cost (AED)</span>
                                                </label>
                                            </p>
                                            <div id="description-for-3pb8374g3" class="form-field__messages">
                                            </div>
                                        </fieldset>
                                    </div>


                                    <div class="form-field radio-unit hidden">
                                        <div class="form-field form-field--text">
                                            <label for="form-field-usage" class="form-field__label unitlabel">
                                                Electricity usage
                                            </label>
                                            <span class="form-field__input-wrapper">
                                                <input class="form-field__input form-field__input--text unitinput"
                                                       id="form-field-usage"
                                                       name="text"
                                                       type="text"
                                                       required=""
                                                       placeholder="Consumption (kWh)"
                                                       aria-describedby="description-for-usage"
                                                       data-parsley-errors-container="#description-for-usage"
                                                       data-parsley-required-message="This field is required"
                                                       data-parsley-trigger="focusout"
                                                       data-parsley-id="4">
                                            </span>
                                            <div id="description-for-usage" class="form-field__messages">
                                            </div>
                                        </div>
                                        <div id="slabpercentagediv"></div>
                                    </div>

                                    @*<div class="form-field radio-aed hidden">
                                            <div class="form-field form-field--text">
                                                <label for="form-field-cost" class="form-field__label aedlabel">
                                                    Electricity Cost
                                                </label>
                                                <span class="form-field__input-wrapper">
                                                    <input class="form-field__input form-field__input--text aedinput"
                                                           id="form-field-cost"
                                                           name="text"
                                                           type="text"
                                                           required=""
                                                           data-parsley-currency
                                                           data-parsley-currency-message="Format is invalid"
                                                           placeholder="Cost (AED)"
                                                           aria-describedby="description-for-cost"
                                                           data-parsley-errors-container="#description-for-cost"
                                                           data-parsley-required-message="This field is required"
                                                           data-parsley-trigger="focusout"
                                                           data-parsley-id="4">
                                                </span>
                                                <div id="description-for-cost" class="form-field__messages">
                                                </div>
                                            </div>

                                        </div>*@


                                    <div class="form-field form-field--select form-field--select-single billingdiv hidden">
                                        <label for="form-field-billingcycle" class="form-field__label">
                                            Select Billing Cycle
                                        </label>
                                        <span class="form-field__input-wrapper form-field__input-wrapper--select form-field__input-wrapper--select2">
                                            <select class="form-field__input form-field__input--select form-field__input--select2 form-field__input--select-full"
                                                    multiple=""
                                                    id="form-field-billingcycle"
                                                    name="select"
                                                    required=""
                                                    aria-describedby="description-for-billingcycle"
                                                    data-parsley-errors-container="#description-for-billingcycle"
                                                    data-parsley-trigger="change"
                                                    data-parsley-id="28"
                                                    data-placeholder="Choose an option">
                                                <option value="">Choose an option</option>
                                                @foreach (var i in MonthString)
                                                {
                                                    <option value="@i.Value">@i.Text</option>
                                                }

                                            </select>
                                        </span>
                                        <div id="description-for-billingcycle" class="form-field__messages">
                                        </div>
                                    </div>

                                </div>

                                <div id="errormodaldiv" class="form-field__messages mt24 hidden">
                                    <ul class="parsley-errors-list filled" id="parsley-id-multiple-select">
                                        <li id="errormodalli" class="parsley-required"></li>
                                    </ul>
                                </div>

                                <div class="form-field__button align_left mb24">
                                    <button data-close="true" id="cellingbuttonclose" class="button--text button cellingbuttonclose">Cancel</button>
                                    <button id="cellingalertsubmit" class="button button--primary floatRight">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="m39-modal__overlay"> </div>
            </div>
        </div>
        <div class="m87-gauge-alerts--switchcard">
            <form class="form" data-form="true" novalidate="">
                {{#each cellingalerts}}
                <div class="m87-gauge-alerts--switch m87-gauge-alerts--ceiling">
                    <div class="m87-gauge-alerts--remove" data-slaborcelling="remove">-</div>
                    <div class="form-field__switch-container">
                        <div class="form-field__switch-label">
                            <div class="m87-gauge-alerts--switch_unit {{#ifCondelectricity division}} icon-Lighting {{else}} icon-Water {{/ifCondelectricity}}">
                                {{quantity}} {{unit}}
                            </div>
                            <div class="m87-gauge-alerts--switch_tl">
                                {{#if janflag}}jan{{/if}}
                                {{#if febflag}}feb{{/if}}
                                {{#if marflag}}mar{{/if}}
                                {{#if aprflag}}apr{{/if}}
                                {{#if mayflag}}may{{/if}}
                                {{#if junflag}}jun{{/if}}
                                {{#if julflag}}jul{{/if}}
                                {{#if augflag}}aug{{/if}}
                                {{#if sptflag}}sep{{/if}}
                                {{#if octflag}}oct{{/if}}
                                {{#if novflag}}nov{{/if}}
                                {{#if decflag}}dec{{/if}}
                            </div>
                        </div>
                        <div class="form-field__switch">
                            <input type="checkbox"
                                   name="form-field__switch"
                                   class="form-field__switch-checkbox form-field__switch-checkbox_celling"
                                   id="{{@@index}}electricity-switch"
                                   data-slaborcelling="celling"
                                   data-division="{{division}}"
                                   data-janflag="{{janflag}}"
                                   data-febflag="{{febflag}}"
                                   data-marflag="{{marflag}}"
                                   data-aprflag="{{aprflag}}"
                                   data-mayflag="{{mayflag}}"
                                   data-junflag="{{junflag}}"
                                   data-julflag="{{julflag}}"
                                   data-augflag="{{augflag}}"
                                   data-sptflag="{{sptflag}}"
                                   data-octflag="{{octflag}}"
                                   data-novflag="{{novflag}}"
                                   data-decflag="{{decflag}}"
                                   data-quantity="{{quantity}}"
                                   data-unit="{{unit}}"
                                   {{#if subscribed}} checked {{/if}}>
                            <label class="form-field__switch-main" for="{{@@index}}electricity-switch">
                                <div class="form-field__switch-inner"></div>
                                <div class="form-field__switch-switch"></div>
                            </label>
                        </div>
                    </div>
                </div>
                {{/each}}
            </form>
        </div>

    </script>


    <script type="text/javascript">
        var xhrPool = []; // no need to use **var**
        var gaguageLoadSettting =
            [
                { name: "_smartAlertReadGraph", enabled: false, isComplete: null },
                { name: "_smartAlertSlabreader", enabled: false, isComplete: null },
                { name: "_besHandler", enabled: false, isComplete: null },
                { name: "_dewaoffers", enabled: false, isComplete: null },
            ];

        var accountNumber = '';
        var bpNumber = '';
        var cat = '';
        var flag = '';
        var isvisited = '';
        var _graphInitiate = false

        docReady(function () {
            fnsubmit();
            jQuery('.ajax-placeholder').empty();
            AbortAllAjaxCall();
            fnInitializeDashBoardComponent(gaguageLoadSettting);
            Handlebars.registerHelper('ifCondelectricity', function (v1, options) {
                if (v1 == "01") {
                    return options.fn(this);
                }
                return options.inverse(this);
            });



        });
        function fnsubmit() {
             jQuery('#form-account-selector').off("submit").submit(function (e) {
                handleAccountSelection(e, gaguageLoadSettting);
                e.preventDefault();
                return false;
            });
        }

        function slabsubmit() {
            jQuery(".form-field__switch-checkbox, .m87-gauge-alerts--remove").on('click', function () {
                var data = {};
                var $slaborcelling = jQuery(this).attr('data-slaborcelling');
                if ($slaborcelling == "slab") {
                    data = {
                        accountNumber: accountNumber,
                        division: jQuery(this).attr('data-division'),
                        subscriptiontype: "S",
                        unsubscribecompletly :$(this).prop('checked')?"":"U"
                    };
                }
                if ($slaborcelling == "celling") {

                    data = {
                        accountNumber: accountNumber,
                        division: jQuery(this).attr('data-division'),
                        janflag: (jQuery(this).attr('data-janflag') == 'true'),
                        febflag: (jQuery(this).attr('data-febflag')== 'true'),
                        marflag: (jQuery(this).attr('data-marflag')== 'true'),
                        aprflag: (jQuery(this).attr('data-aprflag')== 'true'),
                        mayflag: (jQuery(this).attr('data-mayflag')== 'true'),
                        junflag: (jQuery(this).attr('data-junflag')== 'true'),
                        julflag: (jQuery(this).attr('data-julflag')== 'true'),
                        augflag: (jQuery(this).attr('data-augflag')== 'true'),
                        sptflag: (jQuery(this).attr('data-sptflag')== 'true'),
                        octflag: (jQuery(this).attr('data-octflag')== 'true'),
                        novflag: (jQuery(this).attr('data-novflag')== 'true'),
                        decflag: (jQuery(this).attr('data-decflag')== 'true'),
                        quantity: jQuery(this).attr('data-quantity'),
                        unit: jQuery(this).attr('data-unit'),
                        subscriptiontype: "U",
                        unsubscribecompletly :$(this).prop('checked')?"":"U"
                    };
                }
                if ($slaborcelling == "remove") {
                    var $inputelement = jQuery(this).next().find('input');
                    data = {
                        accountNumber: accountNumber,
                        division: $inputelement.attr('data-division'),
                        janflag: ($inputelement.attr('data-janflag') == 'true'),
                        febflag: ($inputelement.attr('data-febflag')== 'true'),
                        marflag: ($inputelement.attr('data-marflag')== 'true'),
                        aprflag: ($inputelement.attr('data-aprflag')== 'true'),
                        mayflag: ($inputelement.attr('data-mayflag')== 'true'),
                        junflag: ($inputelement.attr('data-junflag')== 'true'),
                        julflag: ($inputelement.attr('data-julflag')== 'true'),
                        augflag: ($inputelement.attr('data-augflag')== 'true'),
                        sptflag: ($inputelement.attr('data-sptflag')== 'true'),
                        octflag: ($inputelement.attr('data-octflag')== 'true'),
                        novflag: ($inputelement.attr('data-novflag')== 'true'),
                        decflag: ($inputelement.attr('data-decflag')== 'true'),
                        quantity: $inputelement.attr('data-quantity'),
                        unit: $inputelement.attr('data-unit'),
                        subscriptiontype: "U",
                        unsubscribecompletly :"D"
                    };
                }
                //(console.log($(this).prop('checked')))
                fnssetSubscribe(data);
            });
        }
        function fnssetSubscribe(data, modalpopup) {
            if (typeof (modalpopup) === 'undefined')
                modalpopup = false;
            var url = "/api/sitecore/Graph/SmartAlertSetSubscribe";
                jQuery.ajax({
                    url: url,
                    traditional: true,
                    data:
                        AddForgeryToken(data, "cellingalertform"),
                    beforeSend: function () {
                        //jQuery('.j105-drrg--loader').show();
                        //jQuery('.j105-drrg--loader').css('top', $(window).scrollTop());
                        //jQuery('body').removeClass('unscrollable').addClass('unscrollable');
                    },
                    complete: function () {
                        //jQuery('.j105-drrg--loader').hide();
                        //jQuery('body').removeClass('unscrollable');
                    },
                    dataType: 'json',
                    type: 'POST',
                }).done(function (response) {
                    var resp = response;
                    if (modalpopup) {
                        if (!response.status) {
                            jQuery('#errormodaldiv').show();
                            jQuery('#errormodalli').html(response.Message);
                        }
                        else {
                            jQuery('.cellingbuttonclose').trigger('click');
                            Loadagain();
                        }
                    }
                    else {
                        Loadagain();
                    }
                });
        }

        function Loadagain() {
            getGaguageLoadSettting("_smartAlertSlabreader").isComplete = null;
                    getGaguageLoadSettting("_smartAlertSlabreader").enabled = false;
                    getGaguageLoadSettting("_smartAlertReadGraph").isComplete = null;
                    getGaguageLoadSettting("_smartAlertReadGraph").enabled = false;
                    fnInitializeDashBoardComponent(gaguageLoadSettting);
        }
        function getslabdetails(data) {

            var url = "/api/sitecore/Graph/SlabWisePercentage";
                jQuery.ajax({
                    url: url,
                    traditional: true,
                    data:
                        AddForgeryToken(data, "cellingalertform"),
                    beforeSend: function () {
                        jQuery('#slabpercentagediv').html('');
                        jQuery('.j105-drrg--loader').show();
                        jQuery('.j105-drrg--loader').css('top', $(window).scrollTop());
                        jQuery('body').removeClass('unscrollable').addClass('unscrollable');
                    },
                    complete: function () {
                        jQuery('.j105-drrg--loader').hide();
                        jQuery('body').removeClass('unscrollable');
                    },
                    dataType: 'json',
                    type: 'POST',
                }).done(function (response) {
                    var resp = response;
                    if (!response.status) {
                        jQuery('#errormodaldiv').show();
                        jQuery('#errormodalli').html(response.Message);
                    }
                    else {
                        jQuery('#slabpercentagediv').html(response.result.percentageValue);
                    }
                });
        }

        function modalsubmit() {
            jQuery('#errormodaldiv').hide();
            jQuery('#errormodalli').html('');
            jQuery('#slabpercentagediv').html('');
            var alerttype = document.querySelectorAll('input[type=radio][name="radios_group1"]');
            var consumptiontype = document.querySelectorAll('input[type=radio][name="radios_group2"]');

            Array.prototype.forEach.call(alerttype, function (radio) {
                radio.addEventListener('change', alerttypeHandler);
            });
            Array.prototype.forEach.call(consumptiontype, function (radio) {
                radio.addEventListener('change', consumptiontypeHandler);
            });
            jQuery('.unitinput').on('focusout', function () {
                var data = {};
                    var $division = "";
                    var $unit = "";
                    if (jQuery("#cellingalertform").find('input[name="radios_group1"]:checked').val() == "water") {
                        $division = "02";
                        if (jQuery("#cellingalertform").find('input[name="radios_group2"]:checked').val() == "1") {
                            $unit = "IG";
                        }
                        else if (jQuery("#cellingalertform").find('input[name="radios_group2"]:checked').val() == "2") {
                            $unit = "AED";
                        }
                    }else if (jQuery("#cellingalertform").find('input[name="radios_group1"]:checked').val() == "electricity") {
                        $division = "01";
                        if (jQuery("#cellingalertform").find('input[name="radios_group2"]:checked').val() == "1") {
                            $unit = "kWh";
                        }
                        else if (jQuery("#cellingalertform").find('input[name="radios_group2"]:checked').val() == "2") {
                            $unit = "AED";
                        }
                    }
                data = {
                    accountNumber: accountNumber,
                    division: $division,
                    consumption: jQuery(this).val(),
                    unit: $unit,
                    };
            getslabdetails(data);
        });

            jQuery("#cellingalertform").on('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();
                if (jQuery("#cellingalertform").parsley().isValid()) {
                    var data = {};
                    var $division = "";
                    var $unit = "";
                    if (jQuery(this).find('input[name="radios_group1"]:checked').val() == "water") {
                        $division = "02";
                        if (jQuery(this).find('input[name="radios_group2"]:checked').val() == "1") {
                            $unit = "IG";
                        }
                        else if (jQuery(this).find('input[name="radios_group2"]:checked').val() == "2") {
                            $unit = "AED";
                        }
                    }else if (jQuery(this).find('input[name="radios_group1"]:checked').val() == "electricity") {
                        $division = "01";
                        if (jQuery(this).find('input[name="radios_group2"]:checked').val() == "1") {
                            $unit = "kWh";
                        }
                        else if (jQuery(this).find('input[name="radios_group2"]:checked').val() == "2") {
                            $unit = "AED";
                        }
                    }
                    var $janflag = false;
                    var $febflag = false;
                    var $marflag = false;
                    var $aprflag = false;
                    var $mayflag = false;
                    var $junflag = false;
                    var $julflag = false;
                    var $augflag = false;
                    var $sptflag = false;
                    var $octflag = false;
                    var $novflag = false;
                    var $decflag = false;
                    jQuery(this).find('#form-field-billingcycle').val().forEach(function (item, index) {
                        if (item == "1") { $janflag = true;}
                        if (item == "2") { $febflag = true;}
                        if (item == "3") { $marflag = true;}
                        if (item == "4") { $aprflag = true;}
                        if (item == "5") { $mayflag = true;}
                        if (item == "6") { $junflag = true;}
                        if (item == "7") { $julflag = true;}
                        if (item == "8") { $augflag = true;}
                        if (item == "9") { $sptflag = true;}
                        if (item == "10") { $octflag = true;}
                        if (item == "11") { $novflag = true;}
                        if (item == "12") { $decflag = true;}
                    });
                data = {
                    accountNumber: accountNumber,
                    division: $division,
                    janflag: $janflag,
                    febflag: $febflag,
                    marflag: $marflag,
                    aprflag: $aprflag,
                    mayflag: $mayflag,
                    junflag: $junflag,
                    julflag: $julflag,
                    augflag: $augflag,
                    sptflag: $sptflag,
                    octflag: $octflag,
                    novflag: $novflag,
                    decflag: $decflag,
                    quantity: jQuery(this).find('.unitinput').val(),
                    unit: $unit,
                    subscriptiontype: "U",
                    unsubscribecompletly :""
                    };
                fnssetSubscribe(data,true);
            }
        });
        }
        function alerttypeHandler() {
            jQuery(".radio-electricity").show();
            jQuery('.radio-unit').hide();
                //jQuery('.radio-aed').hide();
            jQuery('.billingdiv').hide();
            $('input[type=radio][name="radios_group2"]:checked').each(function(){
                    $(this).prop('checked', false);
                    });
            if (this.value === 'electricity') {
                jQuery('input[type=radio][name="radios_group2"]:first').next().html('consumption kwh');;
            }
            else if (this.value == 'water') {
                jQuery('input[type=radio][name="radios_group2"]:first').next().html('consumption ig');
            }
        }
        function consumptiontypeHandler() {
            jQuery('.billingdiv').show();
            jQuery('.radio-unit').show();
            //jQuery("#form-field-billingcycle").select2().val(null);;
            if (this.value === '1') {
                //jQuery('.radio-unit').show();
                //jQuery('.radio-aed').hide();
                if (jQuery('input[type=radio][name="radios_group1"]:checked').val() == "water") {
                    jQuery('.unitlabel').html('water Consumption');
                    jQuery('.unitinput').attr('placeholder', 'consumption unit ig');
                    jQuery('.unitinput').val('');
                }
                else if (jQuery('input[type=radio][name="radios_group1"]:checked').val() == "electricity") {
                    jQuery('.unitlabel').html('Electricity Consumption');
                    jQuery('.unitinput').attr('placeholder', 'consumption unit kwh');
                    jQuery('.unitinput').val('');
                }
            }
            else if (this.value == '2') {

                //jQuery('.radio-aed').show();
                if (jQuery('input[type=radio][name="radios_group1"]:checked').val() == "water") {
                    jQuery('.unitlabel').html('water cost');
                    jQuery('.unitinput').attr('placeholder', 'consumption aed');
                    jQuery('.unitinput').val('');
                }
                else if (jQuery('input[type=radio][name="radios_group1"]:checked').val() == "electricity") {
                    jQuery('.unitlabel').html('Electricity cost');
                    jQuery('.unitinput').attr('placeholder', 'consumption aed');
                    jQuery('.unitinput').val('');
                }
            }
        }

        var _smartAlertReadGraphHandler = function (accountNumber) {
            var d = [];
            jQuery.ajax("/api/GetSmartConsumptionAlert/" + accountNumber, {
                beforeSend: function (jqXHR) {
                    xhrPool.push(jqXHR);
                    window.attachSpinner('#m87-dashboard-component-gauge-placeholder-loader', { bgColor: '#fff', opacity: 0.6, minHeight: 250 });
                },
                dataType: 'json',
                method: 'GET',
                async: true,
                success: function (response) {
                    if (response.emetering != undefined && response.wmetering != undefined) {
                        if (!response.emetering && !response.wmetering) {
                            window.location.href = '@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)';
                        }
                    }
                    renderReadGraph(response);
                    jQuery(window).trigger('reinit_m87');
                }, complete: function (response) {
                    getGaguageLoadSettting("_smartAlertReadGraph").isComplete = 1;
                    //window.initComponents('cellingalertmodal');

                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                }
            });
        }
        var _smartAlertSlabreaderHandler = function (accountNumber) {
            var d = [];
            jQuery.ajax("/api/GetSlabCellingSmartAlert/" + accountNumber, {
                beforeSend: function (jqXHR) {
                    xhrPool.push(jqXHR);
                    jQuery('.slab-tarriff').empty().html("");
                    window.attachSpinner('#slab-tarriff', { bgColor: '#fff', opacity: 0.6, minHeight: 250 });
                },
                dataType: 'json',
                method: 'GET',
                async: true,
                success: function (response) {
                    renderSlabCelling(response);
                }, complete: function (response) {
                    getGaguageLoadSettting("_smartAlertSlabreader").isComplete = 1;

                    jQuery("#cellingalertform").parsley()
                    slabsubmit();
                    modalsubmit();
                    window.initComponents('cellingalertmodal');
                    jQuery(window).trigger('form_reinit');
                }, error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                }
            });
        }

        function renderSlabCelling(item) {
            var markup = jQuery('#slabcelling-item-template').html();
            var template = Handlebars.compile(markup);

            var context = {
                electricityflag: item.response.slabTariff.electricityflag,
                waterflag: item.response.slabTariff.waterflag,
                cellingalerts: _.chain(item.response.lstcellingTariff).value()
            };

            var rendering = template(context);
            jQuery('.slab-tarriff').empty().html(rendering);
        }

        function renderReadGraph(item) {
            var markup = jQuery('#dashboard-gaugegraph-item-template').html();
            var template = Handlebars.compile(markup);

            var context = {
                electricityconsumption: item.response.electricityconsumption,
                carbonconsumption: item.response.carbonconsumption,
                waterconsumption: item.response.waterconsumption,
                accounttype: item.response.accountype,
                electricityalerts: item.response.electricityalerts,
                wateralerts: item.response.wateralerts,
                iselectricityalert: item.response.iselectricityalert,
                iswateralert: item.response.iswateralert,
                electricityalertscount: item.response.electricityalertscount,
                wateralertscount: item.response.wateralertscount,
                electricitybillingmonth: item.response.electricitybillingmonth,
                waterbillingmonth: item.response.waterbillingmonth,
                electricityslabs: item.response.electricityslabs,
                waterslabs: item.response.waterslabs,
            };

            var rendering = template(context);
            jQuery('.m87-dashboard-component-gauge-placeholder').empty().html(rendering);
        }

    </script>
</div>
@Scripts.Render("~/bundles/bes")
    @Scripts.Render("~/bundles/dashboard")
