@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Integration.Enums
@using DEWAXP.Foundation.Helpers.Extensions
@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@model  DEWAXP.Feature.Bills.Models.EasyPay.BeneficiaryDetail
<div class="grid">
    @Html.Sitecore().Placeholder("j82/m26-page-title")
</div>

@Html.Sitecore().Placeholder("j82/m41-tab-box")


<div class="grid j121-beneficiary-easy-pay" data-journey="j121-beneficiary-easy-pay">
    <div class="grid__row">

        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName,
            FormMethod.Post,
            new
            {
                @class = "fromNormalRegistration form",
                @data_form = "true",
                @novalidate = "",
                @autocomplete = "off"
            }))
        {
            <div class="grid__column grid__column--12 grid__column--form">
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()
                <div class="form-field form-field--text">
                    <label for="ContractAccount" class="form-field__label">
                        @Translate.Text("MBAccountNumber")
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(m => m.ContractAccount, new
                        {
                            @class = "form-field__input form-field__input--text",
                       @placeholder = Translate.Text("MBAccountNumberPalceHolder"),
                       @aria_describedby = "description-for-ContractAccount",
                       @data_parsley_errors_container = "#description-for-ContractAccount",
                       @required = "",
                       @data_parsley_required_message = Translate.Text("MBAccountNumberErrorMsg"),
                       @data_parsley_pattern_message = Translate.Text("MBAccountNumberErrorMsg"),
                       @data_parsley_trigger = "focusout",
                       @data_parsley_id = "47",
                       @data_parsley_account_premise_number = "",
                       @data_parsley_account_number = "",
                       @maxlength = 10,
                       @data_parsley_maxnumber = 10,
                       @data_parsley_pattern = "^((2|3)[0-9]{9})$",
                       @lang = "en",
                       @autocomplete = "off"

                   })
                    </span>
                    <div id="description-for-ContractAccount" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.ContractAccount, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--text">
                    <label for="Name" class="form-field__label">
                        @Translate.Text("MBNickName")
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(m => m.Name, new
                        {
                            @class = "form-field__input form-field__input--text",
                       @placeholder = Translate.Text("MBNickNamePalceholder"),
                       @aria_describedby = "description-for-Name",
                       @data_parsley_errors_container = "#description-for-Name",
                       @required = "",
                       @data_parsley_required_message = Translate.Text("MBNickNameErrorMsg"),
                       @data_parsley_trigger = "focusout",
                       @data_parsley_id = "46",
                       @autocomplete = "off"


                   })
                    </span>
                    <div id="description-for-Name" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field__button form-field__button_legend">
                    @*<button type="submit" class="button  button--text button--save_legend">@Translate.Text("MBSave")</button>
                        <button type="button" class="button  button--text button--cancel_legand" onclick="ClearFlied()">@Translate.Text("MBCancel")</button>*@

                    @if (!string.IsNullOrWhiteSpace(ViewBag.BeneficiaryName))
                    {
                        <div class="m39-modal m39-modal--new" style="display:inline" data-component="m39-modal" id="modal_true">
                            <div type="button" class="button  button--text button--save_legend m39-modal__trigger" data-trigger="true" style="display:none;">Save</div>
                            <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="false" id="_ucrticrem_content" aria-labelledby="_ucrticrem_trigger">
                                <div class="m39-modal__dialog">
                                    <div class="m39-modal__content">
                                        <div class="grid__row">
                                            <div class="grid__column grid__column--12 grid__column--centered">
                                                @string.Format(Translate.Text("AddBeneficiarySuccessMsg"), Convert.ToString(ViewBag.BeneficiaryName))
                                            </div>
                                        </div>
                                        <div class="grid__row">
                                            <div class="grid__column grid__column--12 grid__column--centered">
                                                <button class="button button--primary" data-accountupdate="true" data-close="true">@Translate.Text("MBDone") </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m39-modal__overlay" style="display: none;"> </div>
                        </div>

                        <script>
                            docReady(function () {
                                setTimeout(function () {
                                    jQuery(".m39-modal__trigger").click();
                                    ClearFlied();
                                }, 100)
                            });



                        </script>
                    }

                    <script>
                        function ClearFlied() {
                            $("#ContractAccount,#Name").val('');
                        }
                    </script>

                </div>

            </div>
            <div class="grid__column grid__column--12 grid__column--content">
                <div class="form-field__button">
                    @*<a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EasyPay_Enquire)" class="button button--primary">@Translate.Text("Done")</a>*@
                    <button type="submit" class="button button--primary">@Translate.Text("MBAdd")</button>
                </div>
            </div>
        }



    </div>
    <div class="grid__row">

    </div>
</div>