@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content 
@using Sitecore.Globalization
@using Sitecore.Mvc

<div class="grid">
    @Html.Sitecore().Placeholder("j26/m26-page-title")
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title">
                    @Translate.Text("Submission Successful")
                </div>
                <div class="m40-status-message__text">
                    <p>@Translate.Text("Update contact details success text")
                </div>
            </div>
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--content grid__column--centered">
            <h2 class="text__section-title">@Translate.Text("What's next?")</h2>
            <div class="form-field__button">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)" class="button button--primary button--next">@Translate.Text("Dashboard")</a>
            </div>
        </div>
    </div>
</div>

