@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.ImageCarouselList
<!--m19-ql-carousel.cshtml-->
@if (Model != null && Model.linkedImage != null && Model.linkedImage.Any())
{
    <div class="grid">
        <div class="grid__row mb24">
            <div class="grid__column grid__column--12">
                <div class="m19-ql-carousel" data-component="m19-ql-carousel">
                    <div class="m19-ql-carousel__container">
                        <div class="m19-ql-carousel__carousel">

                            @foreach (var linkedImage in Model.linkedImage)
                            {
                                if (linkedImage.Link != null && linkedImage.Image != null)
                                {
                                    <div class="m19-ql-carousel__slide" data-sc="@linkedImage.Id">
                                        <div class="m19-ql-carousel__slide--inner">
                                            @using (@Html.Glass().BeginRenderLink(linkedImage, x => x.Link))
                                            {
                                                @*<img class="m19-ql-carousel__slide--img" src="@linkedImage.Image.Src" alt="@linkedImage.Image.Alt" title="@linkedImage.Image.Title">*@
                                                @Html.Glass().RenderImage(linkedImage, x => x.Image, new { @class = "m19-ql-carousel__slide--img" })
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        @*<div role="button" class="m19-ql-carousel__carousel-nav-arrow--left"></div>
                        <div role="button" class="m19-ql-carousel__carousel-nav-arrow--right"></div>*@
                    </div>
                </div>

            </div>
        </div>
    </div>

}
