@using Glass.Mapper.Sc.Web.Mvc
@model DEWAXP.Feature.CommonComponents.Models.Renderings.CarouselSet

@if (Model != null && Model.Children != null)
{

    @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Generic/M17 Section Title.cshtml", Model)

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m3-carousel" data-component="m3-carousel">
                <div class="m3-carousel__container">
                    <div class="m3-carousel__carousel">
                        @foreach (var slide in Model.Children)
                        {
                            <div class="m3-carousel__slide">
                                <div class="m3-carousel__slide-inner">
                                    <div class="m3-carousel__slide-panel">
                                        <div class="m3-carousel__slide-panel--inner">
                                            <div class="m3-carousel__slide-panel-title dark">
                                                <h2>@Html.Glass().Editable(slide, x => x.Header)</h2>
                                            </div>
                                            <div class="m3-carousel__slide-panel-text">@Html.Glass().Editable(slide, x => x.Subheader)</div>
                                            @if (slide.ButtonLink != null)
                                            {
                                                <div class="m3-carousel__cta-button-container">
                                                    <div>
                                                        <form action="@slide.ButtonLink.Url">
                                                            <button aria-label="Enter now" class="button button--secondary">@Html.Glass().Editable(slide, x => x.ButtonText)</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="m3-carousel__image-container">
                                        @Html.Glass().RenderImage(slide, x => x.Image, new { @class = "m3-carousel__image", Width = 386, Height = 289 }, true)
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @if (Model.Children.Count() > 1)
                    {
                        <div role="button" class="m3-carousel__carousel-nav-arrow--left"></div>
                        <div role="button" class="m3-carousel__carousel-nav-arrow--right"></div>
                    }
                </div>
            </div>
        </div>
    </div>

}

