@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.CommonComponents.Models.Renderings.ArticleListing

@if (Model != null && Model.Children != null)
{ 

<div class="grid__row">
	<div class="grid__column grid__column--12">
        <div class="grid__row">
            <div class="m17-sectiontitle">
                @if (!string.IsNullOrWhiteSpace(Model.Header))
                {
                    <h2 class="m17-sectiontitle__title text__section-title">@Html.Glass().Editable(x => x.Header)</h2>
                }
                <a class="m17-sectiontitle__cta button button--text button--next"
                   href="@Model.Url">@Translate.Text(DictionaryKeys.Global.SeeAll)</a>

            </div>
        </div>
	</div>
</div>

<div class="grid__row">
	<div class="grid__column grid__column--12">
		<div class="m3-carousel" data-component="m3-carousel">
			<div class="m3-carousel__container">
				<div class="m3-carousel__carousel">
					@foreach (var slide in Model.Children)
					{
						<div class="m3-carousel__slide">
							<div class="m3-carousel__slide-inner">
								<div class="m3-carousel__slide-panel">
									<div class="m3-carousel__slide-panel--inner">
                                        <div class="m3-carousel__slide-panel-title dark">
                                            @if (!string.IsNullOrWhiteSpace(slide.Header))
                                            {
                                                <h2>@Html.Glass().Editable(slide, x => x.Header)</h2>
                                            }
                                        </div>
										<div class="m3-carousel__slide-panel-text">@Html.Glass().Editable(slide, x => x.Summary)</div>
										@if (slide != null)
										{
											<div class="m3-carousel__cta-button-container">
												<div>
													<form action="@slide.Url">
														<button aria-label="Enter now" class="button button--secondary">@Translate.Text(DictionaryKeys.Global.ReadMore) </button>
													</form>
												</div>
											</div>
										}
									</div>
								</div>
								<div class="m3-carousel__image-container">
									@Html.Glass().RenderImage(slide, x => x.Image, new { @class = "m3-carousel__image" }, true)
								</div>
							</div>
						</div>
					}
				</div>
				@if (Model.Children.Count() > 1)
				{
					<div role="button" class="m3-carousel__carousel-nav-arrow--left"></div>
					<div role="button" class="m3-carousel__carousel-nav-arrow--right"></div>
				}
			</div>
		</div>
	</div>
</div>
    
}

