@using System.Linq
@using Sitecore.Globalization
@model DEWAXP.Feature.CommonComponents.Models.Renderings.ArticleListing

@if (Model.Children.Any())
{

    if (Model.Pagination.CurrentPage == 1)
    {

<div class="grid__row grid__row--tight">
    <div class="j143_media--mscroll">
        @foreach (var child in Model.Children)
        {
            @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Teasers/m9-teaser--news.cshtml", child)
        }
        <div id="listing-children"></div>
    </div>
</div>
<script type="text/javascript">
    docReady(function () {
        jQuery(".parent-container").prop("id", "");
    });
</script>

    }
    else
    {
        foreach (var child in Model.Children)
        {
            @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Teasers/m9-teaser--news.cshtml", child)
        }
    }


    if (Model.Pagination.CanLoadMore)
    {
<div class="grid__row load-contianer">
    <div class="grid__column grid__column--12 grid__column--centered">
        <button type="submit" class="button button--fullwidth" data-submission-text="@Translate.Text(" Loading")" id="loadmore">@Translate.Text("Older stories")</button>
    </div>

    <input type="hidden" name="page" value="@Model.Pagination.CurrentPage" id="page-value" />
</div>
    }
}

else
{
<p class="centered">@Translate.Text("There are no articles.")</p>
}
