@using DEWAXP.Feature.CommonComponents.Models.Header
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@model Masthead
@{ var yozlink = "https://www.zayed.ae/en/";
    if (@Language.Current.Name.ToLowerInvariant() == "ar-ae")
    {
        yozlink = "https://www.zayed.ae/";
    }
}
@if (Model.Header != null)
{
    <header class="m12-masthead theme--a" data-component="m12-masthead" data-theme="a" data-labels='{"menu":"@Translate.Text("masthead.menulabel")","close":"@Translate.Text("masthead.closelabel")"}'>
        <div class="m12-main" data-m12-main="true">
            <div class="m12-main__content">
                <div class="m12-main__logos">
                    <!-- start logos -->
                    <div class="m12-logo m12-logo--government">
                        @using (Html.Glass().BeginRenderLink(Model, x => x.Header.GovernmentLink))
                        {
                            @Html.Glass().RenderImage(Model, x => x.Header.GovernmentImage, new { @class = "m12-logo-image--government" }, true, false)
                        }
                    </div>
                    @*<div class="m12-logo m12-logo--expo m12-logo--expo-ar">
                            <a href="https://www.expo2020dubai.com/ar/" target="_blank"><img class="m12-logo-image--expo" src="~/images/expo2020-ar.jpg" alt="Expo 2020" title="Expo 2020" /></a>
                        </div>*@
                    @*<div class="m12-logo m12-logo--yoz">
                            <a href="@yozlink" target="_blank">
                                <img class="m12-logo-image--yoz" src="~/images/YOZ Logo.png" alt="Year of Zayed" title="Year of Zayed" />
                            </a>
                        </div>*@
                    <div class="m12-logo m12-logo--dewa">
                        @using (Html.Glass().BeginRenderLink(Model, x => x.Header.DewaLink))
                        {
                            @Html.Glass().RenderImage(Model, x => x.Header.DewaImage, new { @class = "m12-logo-image--dewa" }, true, false)
                        }
                    </div>
                    <!-- end logos -->
                </div>
            </div>
        </div>
        @*<div class="m12-main__navs">
                <div class="m12-main__navs--inner">
                    <ul class="m12-tools">

                        <li class="m12-tools__item">
                            @Html.Action("Languages", "Renderings", new { tabindex = 3 })
                        </li>
                    </ul>
                </div>
            </div>*@
    </header>
}