@using DEWAXP.Feature.CommonComponents.Models.Header
@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@model Masthead
@{
    var tabindexcounter = 0;
}
@if (Model.Header != null)
{
    <header class="m12-masthead theme--c" data-component="m12-masthead" data-theme="a" data-labels='{"menu":"@Translate.Text("masthead.menulabel")","close":"@Translate.Text("masthead.closelabel")"}'>
        <div class="m12-main" data-m12-main="true">
            <div class="m12-main__content">
                <div class="m12-main__logos">
                    <!-- start logos -->
                    <div class="m12-logo m12-logo--government">
                        @using (Html.Glass().BeginRenderLink(Model, x => x.Header.GovernmentLink))
                        {
                            @Html.Glass().RenderImage(Model, x => x.Header.GovernmentImage, new { @class = "m12-logo-image--government", @tabindex = "1" }, true, false)
                        }
                    </div>

                    @if (Model.Header.YearofImage != null && !string.IsNullOrWhiteSpace(Model.Header.YearofImage.Src))
                    {
                        <div class="m12-logo m12-logo--yoi">
                            @using (Html.Glass().BeginRenderLink(Model, x => x.Header.YearofLink))
                            {
                                @Html.Glass().RenderImage(Model, x => x.Header.YearofImage, new { @alt = Model.Header.YearofImage.Alt, title = Model.Header.YearofImage.Title, @class = "m12-logo-image--yoi" }, true, false)
                            }
                        </div>
                    }
                    <div class="m12-logo m12-logo--dewa">
                        @using (Html.Glass().BeginRenderLink(Model, x => x.Header.DewaLink))
                        {
                            @Html.Glass().RenderImage(Model, x => x.Header.DewaImage, new { @class = "m12-logo-image--dewa", @tabindex = "2" }, true, false)
                        }
                    </div>
                    <!-- end logos -->
                </div>
                <div class="m12-main__navs">
                    <nav data-segment-nav="true">
                        @{ tabindexcounter = 4;}

                    </nav>
                    <!-- start tools menu -->
                    <ul class="m12-tools">
                        <li class="m12-tools__item">

                            @using (Html.Glass().BeginRenderLink(Model, x => x.Header.DubaiLink, attributes: new { @class = "m12-tools__link", @tabindex = (++tabindexcounter) }))
                            {
                                @Html.Glass().RenderImage(Model, x => x.Header.DubaiImage, new { height = "15" }, true, true)
                            }
                        </li>
                        <li class="m12-tools__item">
                            <button tabindex="@(++tabindexcounter)" class="m12-tools__link m12-tools__link--accessibility  m27-accessibility-overlay__cta" aria-haspopup="true">@Translate.Text("Accessibility")</button>
                        </li>
                        <li class="m12-tools__item">
                            @Html.Action("Languages", "Renderings", new { tabindex = (++tabindexcounter) })
                        </li>
                    </ul>
                    <!-- end tools menu -->
                </div>
            </div>
            @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Accessibility/M27 Accessibility Overlay.cshtml")
        </div>

        <div class="m12-bar" data-m12-bar="true">
            <div class="m12-bar__wrapper">
                <div class="m12-bar__content" data-m12-bar-content="true">
                    <div class="m12-section-navs">
                        <nav aria-label="Home" data-section-nav="true" class="m12-section-nav--active">
                            <ul>

                                <li data-section="true" class="m12-section-nav__item">
                                    <a tabindex="15" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.OUTAGEHOMEPAGE)" aria-haspopup="true" aria-expanded="false" data-section-link="true" data-label="Test" class="m12-section-nav__link ">@Model.Home.MenuLabel</a>
                                    <button aria-label="Toggle menu" class="m12-section__toggle">
                                        <span class="aria-only">Toggle Menu</span>
                                    </button>


                                </li>
                                <li data-section="true" class="m12-section-nav__item">
                                    <a tabindex="15" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.LATESTUPDATESPAGE)" aria-haspopup="true" aria-expanded="false" data-section-link="true" data-label="Services" class="m12-section-nav__link ">Latest News</a>
                                    <button aria-label="Toggle menu" class="m12-section__toggle">
                                        <span class="aria-only">Toggle Menu</span>
                                    </button>


                                </li>

                            </ul>
                        </nav>


                    </div>

                </div>
            </div>

        </div>
    </header>
}


