@using DEWAXP.Foundation.Integration.Enums
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content.Models.Bills
@using DEWAXP.Foundation.Content
@using Sitecore.Globalization
@using Sitecore.Mvc

@model DEWAXP.Feature.EV.Models.EVSmartCharger.EVPaymentModel

@{
    string timeFix = "";
    if (@Language.Current.Name.ToLowerInvariant() == "ar-ae")
    {
        timeFix = "\u200F";
    }
    var direction = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "rtl" : "ltr";
}
@Html.Partial("~/Views/Feature/CommonComponents/Shared/_Loader.cshtml")
<div class="grid j152-ev-smart-charge" data-journey="j152-ev-smart-charge" style="height: auto;">
    <div class="j152-ev-smart-charge-wrapper">

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
                <div class="icon icon-new-announcement red">
                </div>
                <h3 class="text__page-title">@Translate.Text("EVSmart_Expired Request")</h3>
                <p class="text__content-copy--small align-center">@Translate.Text("EVSmart_chargingfinished_subtitle")</p>
                <div class="timer large red" data-timer-ev="00:00">00:00</div>
                <div id="timerclick" class="hidden"></div>
            </div>
        </div>


        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <div class="charge-box charge-completed">
                    <div class="m42-keyvalue">
                        <dl>
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">@Translate.Text("Date")</dt>
                            @if (Language.Current.Name.ToLowerInvariant() == "ar-ae")
                            {
                                <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd font-regular">@Model.PaymentDate.ToString("dd MMM yyyy | " + timeFix + "mm:" + timeFix + "HH", Sitecore.Context.Culture)</dd>
                            }
                            else
                            {
                                <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd font-regular">@Model.PaymentDate.ToString("dd MMM yyyy | " + timeFix + "HH:" + timeFix + "mm", Sitecore.Context.Culture)</dd>
                            }
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">@Translate.Text("EVSmart_transactionID")</dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd font-regular">@Model.DegTransactionId</dd>
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">@Translate.Text("EVSmart_duration")</dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd font-regular">@Model.Duration</dd>
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">@Translate.Text("Cost")</dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd font-regular" data-numeric-format="0,0.00" data-currency="@Translate.Text("AED")">@Model.Amount</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <div class="form-field__button m14-richtext">@Html.Raw(@Translate.Text("EV_ExpiredHelpText"))</div>
            </div>
        </div>
    </div>
</div>
