@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Links
@using Sitecore.Mvc
@model DEWAXP.Foundation.ORM.Models.PageBase
@{
    string WapperExtracssClass = Html.Sitecore().CurrentRendering.Parameters["WapperExtracssClass"] != null ? Html.Sitecore().CurrentRendering.Parameters["WapperExtracssClass"] : string.Empty;

}
<div class="grid__row @(WapperExtracssClass)">
    <div class="grid__column grid__column--12" id="main-skip">
        <div class="m26-page-title title_message">
            @if (!string.IsNullOrEmpty(Model.RedirectText) || Model.ShowShareLink)
            {
                <div class="m26-page-title__links">
                    @if (!string.IsNullOrEmpty(Model.RedirectText))
                    {
                        <p class="m26-page-title__backlink">
                            <a class="button button--text button--back" href="@LinkManager.GetItemUrl(Model.RedirectLink)">@Html.Glass().Editable(x => x.RedirectText)</a>
                        </p>
                    }

                    @if (Model.ShowShareLink)
                    {
                        @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Share/M30 Share.cshtml")

                    }
                </div>

            }

            @if (Model.PublishDate != DateTime.MinValue)
            {
                <div class="text__content-subcopy">@Html.Glass().Editable(x => x.PublishDate, x => x.PublishDate.ToString("d MMMM yyyy", global::Sitecore.Context.Language.CultureInfo).Replace("يوليه", "يوليو"))</div>
            }
            <h2 class="text__page-title">@Html.Glass().Editable(x => x.Header)</h2>
            @if (!string.IsNullOrEmpty(Model.Subheader))
            {
                <p class="text-page__intro">@Html.Glass().Editable(x => x.Subheader)</p>
            }
        </div>
    </div>
</div>


