@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Links

@model DEWAXP.Foundation.ORM.Models.PageBase
           
@if (Model != null)
{
<div class="grid__row">
	<div class="grid__column grid__column--12">
		<div class="m26-page-title">
				@if (!string.IsNullOrEmpty(Model.RedirectText) || Model.ShowShareLink)
                {
                    <div class="m26-page-title__links">
                        @if (!string.IsNullOrEmpty(Model.RedirectText))
                        {
                            <p class="m26-page-title__backlink">
                                <a class="button button--text button--back" href="@LinkManager.GetItemUrl(Model.RedirectLink)">@Html.Glass().Editable(x => x.RedirectText)</a>
                            </p>
                        }

                        @if (Model.ShowShareLink)
                        {
                            @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Share/M30 Share.cshtml")
                        }
                    </div>
                }
			<h2 class="text__page-title">@Html.Glass().Editable(x => Sitecore.Globalization.Translate.Text(x.Header))</h2>
		</div>
	</div>
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Partial("~/Views/Feature/CommonComponents/Renderings/PageTitle/M99 Intro Text.cshtml")
    </div>
</div>
}