@using Sitecore.Mvc
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Foundation.Content.Models.ClearanceCertificate.ClearanceCertificatePropertySeller
@{
    var lang = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "ar" : "en";
}
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Sitecore().Placeholder("j26/m26-page-title")
        @Html.Sitecore().Placeholder("j18/m38-step-tracker")
    </div>
</div>

@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <p class="intro-text">
            @Html.Sitecore().Placeholder("j26/m14-formatted-text-intro")
        </p>
        <div id="clearance-certificate-placeholder">
            <input type="hidden" id="hdnContractAccountNumber" value="@ViewBag.ContractAccountNumber" />
            @if (ViewBag.ContractAccountNumber != null && !string.IsNullOrEmpty(ViewBag.ContractAccountNumber))
            {
                <div class="form-field form-field--text">
                    <label class="form-field__label form-field__label--readonly form-field__label--account-details" for="form-field-contractAccountNumber">
                        @Translate.Text("Contract Account")
                    </label>
                    <div class="form-field__input-wrapper form-field__input-wrapper--readonly form-field__input-wrapper--account-details">
                        <input class="form-field__input form-field__input--readonly form-field__input--account-details keep-ltr"
                               readonly=""
                               id="form-field-contractAccountNumber"
                               name="ContractAccountNumber"
                               type="text"
                               value="@ViewBag.ContractAccountNumber"
                               aria-describedby="description-for-contractAccountNumber"
                               data-parsley-trigger="focusout" />
                    </div>
                    <div class="form-field__messages" id="description-for-contractAccountNumber"></div>
                </div>}
            else
            {
                <div class="form-field form-field--account-details">
                    <!-- m43-account-selector-start -->
                    <fieldset class="fieldset ">
                        <legend class="legend-color">.</legend>
                        <div class="form-field form-field--account-details">
                            <form id="form-account-selector" data-form="true" action="#" method="POST" form-skipvalidation="true">
                                @Html.Sitecore().Placeholder("j26/m43-account-selector")
                            </form>

                        </div>
                    </fieldset>
                    <!-- m42-account-selector-end -->
                </div>}
            <div id="clearancecertificate-error" class="form-field__messages hidden" style="color:#ff0000;cursor:pointer;">
            </div>

            @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { @id = "clearancecertificateform", @class = "post-login-clear-cert-form form form--inline", enctype = "multipart/form-data", @data_form = "true" }))
            {
                //@Html.Sitecore().FormHandler("ClearanceCertificate", "RequestPropertySeller")
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.BusinessPartnerNumber)
                @Html.HiddenFor(m => m.ContractAccountNumber)
                @Html.HiddenFor(m => m.ReceivedContractAccountNumber)
                @Html.HiddenFor(m => m.OutstandingBill)
                @Html.HiddenFor(m => m.Amounts)
                <fieldset class="fieldset" id="clearance-cert-placeholder">
                    <legend class="legend">@Translate.Text("Customer details")</legend>

                    @*<div class="form-field form-field--account-details">
                            @Html.Sitecore().Placeholder("j26/m43-account-selector")
                        </div>*@

                    <div class="form-field form-field--text">
                        <label class="form-field__label form-field__label--readonly form-field__label--account-details" for="form-field-firstname">
                            <span id="firstname"> @Translate.Text("First name")</span>
                            <span id="organization"> @Translate.Text("CC.Organzation")</span>
                        </label>
                        <div class="form-field__input-wrapper form-field__input-wrapper--readonly form-field__input-wrapper--account-details">
                            <input class="form-field__input form-field__input--readonly form-field__input--account-details keep-ltr"
                                   readonly=""
                                   id="form-field-firstname"
                                   name="FirstName"
                                   type="text"
                                   value="@Model.FirstName"
                                   aria-describedby="description-for-firstname"
                                   data-parsley-trigger="focusout" />
                        </div>
                        <div class="form-field__messages" id="description-for-firstname"></div>
                    </div>

                    <div class="form-field form-field--text" id="lastname">
                        <label class="form-field__label form-field__label--readonly form-field__label--account-details" for="form-field-lastname">
                            @Translate.Text("Last name")
                        </label>
                        <div class="form-field__input-wrapper form-field__input-wrapper--readonly form-field__input-wrapper--account-details">
                            <input class="form-field__input form-field__input--readonly form-field__input--account-details"
                                   readonly=""
                                   id="form-field-lastname"
                                   name="LastName"
                                   type="text"
                                   value="@Model.LastName"
                                   aria-describedby="description-for-lastname"
                                   data-parsley-trigger="focusout" />
                        </div>
                        <div class="form-field__messages" id="description-for-lastname"></div>
                    </div>

                    <div class="form-field">
                        <fieldset class="fieldset">
                            <legend class="form-field__label">
                                @Translate.Text("CC_LangLabel")
                                <span class="form-field__label-optional"></span>
                            </legend>
                            <p class="form-field__radio form-field--6 form-field--6-mobile_full p0 mt12">
                                <label>
                                    <input class="form-field__input form-field__input--radio" id="form-field-radio_languague_1"
                                           name="Languague"
                                           type="radio"
                                           value="EN"
                                           aria-describedby="description-for-languague"
                                           data-parsley-errors-container="#description-for-languague"
                                           aria-label="form-field-radio_languague_1"
                                           checked>
                                    <span class="form-field__fakeradio focus-enabled">
                                        @Translate.Text("CC_eng")
                                    </span>
                                </label>
                            </p>
                            <p class="form-field__radio form-field--6 form-field--6-mobile_full p0 mt12">
                                <label>
                                    <input class="form-field__input form-field__input--radio" id="form-field-radio_languague_2"
                                           name="Languague"
                                           type="radio"
                                           value="AR"
                                           aria-describedby="description-for-languague"
                                           aria-label="form-field-radio_languague_2"
                                           data-parsley-errors-container="#description-for-languague">
                                    <span class="form-field__fakeradio focus-enabled">
                                        @Translate.Text("CC_Ar")
                                    </span>
                                </label>
                            </p>
                            <div id="description-for-languague" class="form-field__messages">
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-field form-field--text">
                        <label for="form-field-emailID" class="form-field__label">
                            @Translate.Text("Email address")<span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <input type="email"
                                   name="EmailAddress"
                                   @*aria-required="true"*@
                                   id="form-field-emailID"
                                   required="required"
                                   value="@Model.EmailAddress"
                                   placeholder="@Translate.Text("CC.Email.Placeholder")"
                                   aria-describedby="description-for-email"
                                   data-parsley-error-message="@Translate.Text("CC.Email.Validation")"
                                   data-parsley-trigger="focusout"
                                   data-parsley-errors-container="#description-for-email"
                                   class="form-field__input form-field__input--text ajax-input" />
                        </span>
                        <div id="description-for-email" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.EmailAddress, string.Empty, new { @class = "parsley-errors-list" })
                        </div>
                    </div>

                    <div class="form-field form-field--text">
                        <label for="form-field-mobileno" class="form-field__label">
                            @Translate.Text("Mobile number")<span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                            <input type="tel"
                                   name="MobileNumber"
                                   @*aria-required="true"*@
                                   aria-describedby="description-for-mobile"
                                   required="required"
                                   id="form-field-mobileno"
                                   value="@Model.MobileNumber"
                                   placeholder="@Translate.Text("Mobile number placeholder")"
                                   data-parsley-error-message="@Translate.Text("Please enter a valid UAE mobile number")"
                                   data-parsley-type="digits"
                                   data-parsley-trigger="focusout"
                                   data-parsley-mobile_number=""
                                   data-parsley-errors-container="#description-for-mobile"
                                   class="form-field__input form-field__input--text form-field__input--prefixed ajax-input" />
                        </span>
                        <div id="description-for-mobile" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.MobileNumber, string.Empty, new { @class = "parsley-errors-list" })
                        </div>
                    </div>

                    <div class="form-field form-field--text form-field--textarea">
                        <label class="form-field__label" for="form-field-remarks">
                            @Translate.Text("Reason for the request")
                            <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <textarea class="form-field__input form-field__input--text form-field__input--textarea"
                                      maxlength="250"
                                      data-textarea="remarks"
                                      id="form-field-remarks"
                                      name="Remarks"
                                      type="textarea"
                                      placeholder="@Translate.Text("Enter reason for the request")"
                                      aria-describedby="description-for-remarks"
                                      required=""
                                      data-parsley-error-message="@Translate.Text("Enter reason for the request")"
                                      data-parsley-errors-container="#description-for-remarks"
                                      data-parsley-id="15">@Model.Remarks</textarea>
                        </span>
                        <div class="form-field__messages" id="description-for-remarks">
                            <p class="form-field__charcount">@Translate.Text("Max") <span data-charcount="remarks">0</span>/250 @Translate.Text("Characters")</p>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fieldset" id="charges-placeholder">
                    <legend class="legend">@Translate.Text("Payment details")</legend>
                    <div class="form-field form-field--text" id="divoutstandingBill">
                        <label class="form-field__label form-field__label--readonly form-field__label--amount" for="form-field-outstanding">
                            @Translate.Text("Outstanding account bill")
                        </label>
                        <div class="form-field__input-wrapper form-field__input-wrapper--readonly form-field__input-wrapper--amount">
                            <input class="form-field__input form-field__input--readonly form-field__input--amount"
                                   readonly=""
                                   id="form-field-outstanding"
                                   name="OutstandingBilldisplay"
                                   type="text"
                                   value="@Model.OutstandingBill.ToString("N") @Translate.Text("AED")"
                                   aria-describedby="description-for-outstanding"
                                   data-parsley-trigger="focusout" />
                        </div>
                        <div class="form-field__messages" id="description-for-outstanding"></div>
                    </div>
                </fieldset>

                <fieldset class="fieldset " id="upload-document-placeholder">
                    <legend class="legend">@Translate.Text("clearancecertificate.documentuploads")</legend>
                    <div class="form-field form-field--upload">
                        <div class="form-field__input-wrapper">
                            <div class="form-field__preview-wrapper">
                                <img data-uploader-image="letter" alt="" role="presentation" aria-hidden="true" class="form-field__preview" src="/images/preview_pdf@2x.png" data-src="/images/preview_pdf@2x.png" data-success="/images/upload_success@2x.png" />
                            </div>
                            <div class="form-field__uploader-details">
                                <label class="form-field__label" for="form-field-letter">
                                    <strong class="form-field__label-description">@Translate.Text("clearancecertificate.titledeed")</strong>
                                    <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                                </label>
                                <div>
                                    <label>
                                        <input class="form-field__input form-field__input--upload"
                                               id="form-field-deed"
                                               name="AttachedDocument"
                                               type="file"
                                               aria-label="form-field-deed"
                                               aria-describedby="description-for-letter"
                                               required=""
                                               data-parsley-error-message="@Translate.Text(DictionaryKeys.Global.Forms.DocumentUploadValidationMessage)"
                                               data-parsley-errors-container="#errors-for-letter"
                                               data-uploader-field="letter"
                                               data-accepts='@AttachmentValidation.acceptedFileTypesClientSide'
                                               data-size="@AttachmentValidation.maximumFileSize"
                                               accept="image/png,image/x-png,image/jpeg,image/jpg,image/bmp,image/gif,application/pdf,text/csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                               data-parsley-id="24" />

                                        <span class="button button--primary button--next button--small focus-enabled">@Translate.Text("Choose")</span>
                                    </label>
                                </div>
                                <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                                <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>
                                <p class="form-field__input--upload-filename" data-uploader-filename="letter"></p>
                                <p>
                                    <button data-uploader-remove="letter" class="button button--text button--remove hidden">@Translate.Text("Remove")</button>
                                </p>
                            </div>
                        </div>
                        <div class="form-field__messages" id="description-for-letter">
                            <div id="errors-for-letter"></div>
                            <p class="form-field__description">
                                @Html.Sitecore().Placeholder("j26/m14-formatted-text-max-file-size")
                            </p>
                        </div>
                    </div>
                </fieldset>
                <br />
                <div class="form-field form-field--toggles inline-terms" id="divTermsConditions">
                    <div class="form-field__checkbox  last">
                        <label>
                            <input class="form-field__input form-field__input--checkbox" id="form-field-checkbox_1_1" aria-label="form-field-checkbox_1_1" name="AgreedToPayment" type="checkbox" value="true" aria-describedby="description-for-accept-terms" required="" data-parsley-error-message="@Translate.Text("Error Terms Agreement")" data-parsley-errors-container="#description-for-accept-terms" data-parsley-multiple="checkbox_1_1" data-parsley-id="23">
                            <span class="form-field__fakecheckbox focus-enabled">@Translate.Text("updateiban.Iagree")</span>
                            @Html.Sitecore().Placeholder("j26/m39-modal-overlay")
                        </label>
                    </div>
                    <div id="description-for-accept-terms" class="form-field__messages" style="padding-top:15px;"></div>
                    <input type="hidden" name="AgreedToPayment" value="false" />
                </div>


                <div class="form-field__button">
                    <button id="continue-button-popup" name="continue-button" class="button button--primary" data-submission-text="@Translate.Text("Submitting")...">@(Model.OutstandingBill <= 0 ? @Translate.Text("J87 Submit") : @Translate.Text("J87 Submit") + Model.OutstandingBill.ToString("N") + Translate.Text("AED"))</button>
                </div>

                @* Payment Type Popup module *@
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_PaymentPopup.cshtml", string.Empty)

            }
        </div>
    </div>
</div>

<script type="text/javascript">

    docReady(function () {
        if($("#hdnContractAccountNumber").val() != "")
        {
            getData($("#hdnContractAccountNumber").val(),"");
        }
        else
        {
            jQuery('#form-account-selector').submit(handleAccountSelection);
            jQuery('#form-account-selector').submit();
        }
        jQuery(".accountselector-ownertype").removeClass("hidden");
        function pager() {
            $('.pagination').find('a').each(function () {
                $(this).on('click', function () {
                    setTimeout(function () {
                        pager();
                    }, 500)
                    setTimeout(function () {
                        jQuery(".accountselector-ownertype").removeClass("hidden");
                    }, 100)
                })
            });
            jQuery('#clear-link').on('click', function (e) {
                setTimeout(function () {
                    check_click(false)
                    pager();
                }, 500);
                jQuery(".accountselector-ownertype").removeClass("hidden");
            });
        };
        pager();

        jQuery('.accountselector-moveoutreference').each(function () {
            jQuery(this).closest('label').find('.form-field__input--radio').attr('disabled', true).addClass('disabled');
            jQuery(this).closest('label').find('.form-field__fakeradio').off('click');
        });

        //  jQuery(".m39-modal__footer button").unbind("click").click(handleAccountSelection);
        if (@Model.OutstandingBill == 0) {
            $('#charges-placeholder').css('display', 'none');
        }
        else {
            $('#charges-placeholder').css('display', 'block');
        }

        function handleAccountSelection(e) {
            var accountNumber = jQuery('input[name="SelectedAccountNumber"]:checked').val();
            var bpNumber = jQuery(e.target).find('input[name="SelectedAccountNumber"]:checked').attr("data-legacy-bp-number");
            var accountcattype = jQuery(e.target).find('input[name="SelectedAccountNumber"]:checked').attr("data-account-category-type");

            if (accountcattype == "02") {
                $("#lastname").hide();
                $("#firstname").hide();
                $("#organization").show();
            }
            else {
                $("#lastname").show();
                $("#firstname").show();
                $("#organization").hide();
            }

            if (accountNumber) {
                var api = "/api/ClearanceCertificateV2/GetAcccount/?contractaccount=" + accountNumber + "&param=3";
                var url = api;
                jQuery.ajax(url, {
                    beforeSend: function () {
                        window.attachSpinner('#clearance-cert-placeholder', { zIndex: 10, bgColor: "#fff", minHeight: 300 });
                        window.attachSpinner('#charges-placeholder', { zIndex: 9, bgColor: "#fff", minHeight: 400 });
                        jQuery('.m43-accountsel__selected').hide();
                    },
                    complete: function () {
                        window.detachSpinner('#clearance-cert-placeholder', { zIndex: 1, bgColor: "#fff", minHeight: 300 });
                        window.detachSpinner('#charges-placeholder', { zIndex: 1, bgColor: "#fff", minHeight: 300 });
                        jQuery('.m43-accountsel__selected').show();
                    },
                    dataType: 'json',
                    method: 'GET',
                    success:function(response) {
                        clearValidation();
                        update(response, bpNumber);
                        jQuery("#clearancecertificate-error").hide();
                        jQuery("#clearancecertificateform").show();
                    },error:function (response) {
                        jQuery("#clearancecertificateform").hide();
                        jQuery("#clearancecertificate-error").html(response.responseJSON.Message);
                        jQuery("#clearancecertificate-error").show();
                    }
                });
            }
            return false;
        }

        function getData(accountNumber,bpNumber)
        {
            if (accountNumber) {
                var api = "/api/ClearanceCertificateV2/GetAcccount/?contractaccount=" + accountNumber + "&param=3";
                var url = api;
                jQuery.ajax(url, {
                    beforeSend: function () {
                        window.attachSpinner('#clearance-cert-placeholder', { zIndex: 10, bgColor: "#fff", minHeight: 300 });
                        window.attachSpinner('#charges-placeholder', { zIndex: 9, bgColor: "#fff", minHeight: 400 });
                        jQuery('.m43-accountsel__selected').hide();
                    },
                    complete: function () {
                        window.detachSpinner('#clearance-cert-placeholder', { zIndex: 1, bgColor: "#fff", minHeight: 300 });
                        window.detachSpinner('#charges-placeholder', { zIndex: 1, bgColor: "#fff", minHeight: 300 });
                        jQuery('.m43-accountsel__selected').show();
                    },
                    dataType: 'json',
                    method: 'GET',
                    success:function(response) {
                        clearValidation();
                        update(response, bpNumber);
                        jQuery("#clearancecertificate-error").hide();
                        jQuery("#clearancecertificateform").show();
                    },error:function (response) {
                        jQuery("#clearancecertificateform").hide();
                        jQuery("#clearancecertificate-error").html(response.responseJSON.Message);
                        jQuery("#clearancecertificate-error").show();
                    }
                });
            }
            return false;
        }



        function clearValidation() {
            jQuery(".post-login-clear-cert-form input").removeClass("form-field__input--error");
            jQuery(".post-login-clear-cert-form label").removeClass("form-field__input-wrapper--error");

            jQuery('#credit-balance-error').hide();
            jQuery('#continue-button').removeAttr('disabled');
            jQuery('#continue-button-popup').removeAttr('disabled');
        }

        function update(response,bpNumber) {
            var currency = '@Translate.Text("AED")';
            var bal = parseFloat(response.Amount);
            if (bal < 0) {
                bal = 0;
            }
            if (bal == 0) {
                $('#charges-placeholder').css('display', 'none');
            }
            else {
                $('#charges-placeholder').css('display', 'block');
            }

            if(bal > 0){
                $('#charges-placeholder').css('display', 'block');
                $('#terms-model-placeholder').css('display', 'none');
                $('#upload-document-placeholder').css('display', 'none');
                $('#clearance-cert-placeholder').css('display', 'none');
            }
            else
            {
                $('#charges-placeholder').css('display', 'none');
                $('#terms-model-placeholder').css('display', 'block');
                $('#upload-document-placeholder').css('display', 'block');
                $('#clearance-cert-placeholder').css('display', 'block');

            }

            var total = bal;
            //console.log(total);

            jQuery("input[name='ContractAccountNumber']").val(response.ContractAccountNumber);
            jQuery("input[name='ReceivedContractAccountNumber']").val(response.ReceivedContractAccountNumber);
            jQuery("input[name='BusinessPartnerNumber']").val(bpNumber);
            jQuery("input[name='FirstName']").val(response.FirstName);
            jQuery("input[name='LastName']").val(response.LastName);
            jQuery("input[name='EmailAddress']").val(response.EmailAddress);
            jQuery("input[name='Amounts']").val(response.Amounts);
            jQuery("input[name='MobileNumber']").val(response.MobileNumber[0] === '0' ? response.MobileNumber.substring(1) : response.MobileNumber);
            jQuery("input[name='OutstandingBilldisplay']").val(numeral(bal).format('0,0.00') + " " + currency);
            jQuery("input[name='OutstandingBill']").val(bal);
            jQuery("#continue-button").text('@Translate.Text("moveout.pay")' + numeral(total).format('0,0.00') + " " + currency);
            jQuery("#continue-button-popup").text('@Translate.Text("moveout.pay"):' + numeral(total).format('0,0.00') + " " + currency);
             $("#lastname").show();
            if (response.LastName != null && (response.LastName == "." || response.LastName == ""))
            {
                $("#lastname").hide();
            }
            if (total <= 0) {
                jQuery('#credit-balance-error').show();
                //jQuery('#continue-button').attr('disabled', 'disabled');
                jQuery('#continue-button').text('@Translate.Text("J87 Submit")');
                jQuery('#continue-button-popup').text('@Translate.Text("J87 Submit")');
            }
        }

        // Open Payment Method popup
        jQuery('#continue-button-popup').on('click', function () {
            var total = parseFloat(jQuery("input[name='OutstandingBill']").val());
            var currency = '@Translate.Text("AED")';

            jQuery('#divPaymentAmountVal').attr('data-value', total);
            jQuery('#divPaymentAmountVal').data('value', total);

            if (total> 0) {
                event.preventDefault();
                event.stopImmediatePropagation();

                //Set payment method based on paid amount
                setPaymentMethod(total);

                jQuery("#continue-button").html(numeral(parseFloat(total)).format('0,0.00') + " " + currency);
                jQuery("#continue-button").attr("data-amount", numeral(parseFloat(total)).format('0,0.00'));
                jQuery('.btnmodaltrigger').trigger('click');
            }
            else {
                jQuery("#continue-button").submit();
            }
            });
    });
</script>
