@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.Bills.ClearanceCertificate.AnonymousClearanceCertificateSuccessModel

<div class="grid">
    @Html.Sitecore().Placeholder("j26/m26-page-title")

    <div class="grid__row">

        <div class="grid__column grid__column--12 grid__column--form">
            <div class="m38-step-tracker" data-component="m38-step-tracker" data-total-steps="2" data-current-step="2">
                <div class="m38-step-tracker__progressbar" data-m38-progressbar="true" role="progressbar" aria-valuetext="Customer Details">

                </div>
            </div>
        </div>

    </div>

    <div class="grid__row">

        <div class="grid__column grid__column--12 grid__column--form">

            <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title icon--success">@Translate.Text("CC.Request.Received")</div>

                <div class="m40-status-message__text"><p>@Html.Raw(Translate.Text("CC.Success.Message.DEWA.Customer").Replace("$num", Model.NotificationNumber))</p></div>



            </div>

        </div>

    </div>

    <div class="grid__row">

        <div class="grid__column grid__column--12 grid__column--form grid__column--centered">

            <a role="button" aria-label="Track" class="button button--primary" href="@LinkHelper.GetItemUrl("{E96FA79D-D288-426C-AFE1-B0B85A9016B9}")">@Translate.Text("CC.Track.Request")</a>

        </div>

    </div>

</div>

@{
    string _happinexUrl = Url.Action("PostData", "HappinessIndicator", new
    {
        type = DEWAXP.Foundation.Content.Models.HappinessIndicator.IndicatorType.Transaction,
        language = Sitecore.Context.Language.Name,
        transactionId = Guid.NewGuid(),
        serviceCode = "774",
        islocal = true,
        ServiceDescription = "AnonymousClearance"
    });
}
<input type="hidden" id="happinexUrl" value='@_happinexUrl' />
<script type="text/javascript">
    var _happinexUrl = '';
    docReady(function () {
        _happinexUrl = jQuery("#happinexUrl").val();
        if (_happinexUrl != null && _happinexUrl != "") {
            jQuery("#hitrigger").attr("href", _happinexUrl);
            setTimeout(function () {
                jQuery("#hitrigger").trigger('click');
            }, 50);
        }
    });
</script>
