@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@model DEWAXP.Feature.Bills.ClearanceCertificate.VerifyCertificateModel


<div class="grid">
    @Html.Sitecore().Placeholder("j26/m26-page-title")
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="m38-step-tracker" data-component="m38-step-tracker" data-total-steps="2" data-current-step="1">
                <div class="m38-step-tracker__progressbar" data-m38-progressbar="true" role="progressbar" aria-valuetext="Verify Document">
                </div>
            </div>
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form update-details-form", @id = "VerifyDocumentIdform", data_form = "true", data_parsley_focus = "none", enctype = "multipart/form-data" }))
            {
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
                @*<div class="form-field form-field--select form-field--select-single">
                        <label for="form-field-emirate" class="form-field__label">@Translate.Text("Verification.DocumentType") <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span></label>
                        <label class="form-field__input-wrapper form-field__input-wrapper--select">
                            @Html.DropDownListFor(x => x.DocumentType,
                           (IEnumerable<SelectListItem>)ViewBag.DocumentTypeList,
                              @Translate.Text("Verification.SelectDocumentType"),
                              new
                              {
                                  @class = "form-field__input form-field__input--select form-field__input--select-full",
                                  @id = "form-field-documenttype",
                                  @aria_describedby = "description-for-documenttype",
                                  @aria_required = "true",
                                  @required = "",
                                  @data_parsley_error_message = @Translate.Text("Verification.errorMessage_DocumentType"),
                                  @data_parsley_errors_container = "#description-for-documenttype",
                                  @data_parsley_id = "15"
                              })
                        </label>
                        <div id="description-for-documenttype" class="form-field__messages">
                        </div>
                    </div>*@
                <div class="form-field form-field--text" id="divreferencenumber">
                    <label for="form-field-referencenumber" id="lblreferencenumber" class="form-field__label">
                        @Translate.Text("CC.Verification.ReferenceNumber")
                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.ReferenceNumber,
              new
              {
                  @class = "form-field__input form-field__input--text",
                  @name = "referencenumber",
                  @id = "form-field-referencenumber",
                  @placeholder = Translate.Text("CC.Verification.errorMessage_ReferenceNumber"),
                  @required = "",
                  @data_parsley_error_message = Translate.Text("CC.Verification.errorMessage_ReferenceNumber"),
                  @data_parsley_errors_container = "#description-for-referencenumber",
                  @aria_describedby = "description-for-referencenumber",
              })
                    </span>
                    <div id="description-for-referencenumber" class="form-field__messages">
                    </div>
                    <p class="form-field__helplink">
                        <a href='/~/media/Certificates/Reference.ashx' class='link'>@Translate.Text("clearancecertificate.wheretogetreference")</a>
                    </p>
                </div>
                <div class="form-field form-field--text" id="divPIN">
                    <label for="form-field-pin" id="lblpin" class="form-field__label">
                        @Translate.Text("CC.Verification.PINNumber")
                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.PinNumber,
              new
              {
                  @class = "form-field__input form-field__input--text",
                  @name = "pin",
                  @type = "number",
                  @id = "form-field-pin",
                  @placeholder = Translate.Text("CC.Verification.Enter.Pin"),
                  @required = "",
                  @maxlength = "4",
                  @data_parsley_minlength = "4",
                  @data_parsley_maxlength = "4",
                  @data_parsley_minlength_message = Translate.Text("Verification.errorminMessage_PINNumber"),
                  @data_parsley_maxlength_message = Translate.Text("Verification.errorminMessage_PINNumber"),
                  @data_parsley_required_message = Translate.Text("Verification.errorMessage_PINNumber"),
                  @data_parsley_errors_container = "#description-for-pin",
                  @aria_describedby = "description-for-pin",
              })
                    </span>
                    <div id="description-for-pin" class="form-field__messages">
                    </div>
                    <p class="form-field__helplink">
                        <a href='/~/media/Certificates/PIN.ashx' class='link'>@Translate.Text("clearancecertificate.wheretogetpin")</a>
                    </p>
                    <p class="form-field__helplink">
                        <a id="resendpin" class='link'>@Translate.Text("CC.Resend.PIN")</a>
                    </p>
                </div>

                <div id="divtxtresendpin" style="display:none;color:red" class="button button--text link j108-np"></div>
                if ((bool)ViewBag.Recaptcha)
                    {
                        <br />
                        <div class="g-recaptcha" id="captcha" data-sitekey="@(ViewBag.SiteKey)"></div>
                        <span id='errorContainer' class="parsley-errors-list"></span>
                    }
                <div class="grid__column grid__column--12 grid__column--centered">
                    <div class="form-field__button">
                        <button type="submit" class="button button--primary button--next" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("CC.Verfication.Search_Validate")</button>
                    </div>
                    <p>
                        @Translate.Text("CC.Verfication.Question_Service")
                        <a href="@LinkHelper.GetItemUrl("{C72E79F0-541A-4CC6-96C1-FB449402FAEF}")" class="button button--text link j108-np">@Translate.Text("CC.Verfication.FAQs")</a>
                    </p>
                </div>}
        </div>
    </div>
</div>

<script type="text/javascript">
    docReady(function () {
        jQuery('#VerifyDocumentIdform').submit(recaptchaCallback);
    });
    function recaptchaCallback() {
        var v = grecaptcha.getResponse();
        if (v.length == 0) {
            jQuery('#errorContainer').text('@Translate.Text("cc.googlerecaptchamsg")');
            return false;
        }
        else {
            jQuery('#errorContainer').text("");
            return true;
        }
    }

    var CallApi = function () {
        var _txtRefNumber = $("#form-field-referencenumber").val();
        var url = "/api/ClearanceCertificateV2/Get/?id=" + _txtRefNumber;


        jQuery.ajax(url, {
            dataType: 'json',
            method: 'GET',
            success: function (data) {
                if (data.message == "Success") {
                    //console.log(data.message);
                    $('#divtxtresendpin').text(data.description);
                    $('#divtxtresendpin').show();
                }
                else {
                    $('#divtxtresendpin').text(data.description);
                    $('#divtxtresendpin').show();
                }
            }
        })
    };


    $("#resendpin").click(function () {

        if($("#form-field-referencenumber").val() == '')
        {
            $('#divtxtresendpin').text('@Translate.Text("CC.Verification.errorMessage_ReferenceNumber")');
            $('#divtxtresendpin').show();
        }
    else
    {
            $('#divtxtresendpin').hide();
        CallApi()

    }


    });
    //});

    function truncateVal(target, len) {
        if (target.val().length >= len) {
            window.setTimeout(function () {
                target.val(target.val().substring(0, (len)));
            }, 5);
        }
    }

    $('#form-field-pin').on('keypress', function () {
        var _this = this;
        setTimeout(function () {
            truncateVal($(_this), 4)
        }, 100);
    });

</script>

