@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@model DEWAXP.Feature.HR.Models.Internship.Internship
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@{
    var _program = "";
    var _programtype = Request.QueryString["p"].ToUpper();


    if (_programtype == "INT")
    {
        _program = @Translate.Text("INT.LBL.INTERNSHIP");
    }
    else if (_programtype == "PRJ")
    {
        _program = Translate.Text("INT.LBL.PROJECT.RESEARCH");
    }
    else if (_programtype == "SUM")
    {
        _program = Translate.Text("INT.LBL.SUMMER.TRAINING");
    }
    else
    {
        _program = "";
    }

}
<div class="grid__row">
    <div class="grid__column grid__column--12">
        <div class="m26-page-title title_message">

            <h2 class="text__page-title">@_program</h2>
        </div>
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <div id="tracker">

            <div class="m38-step-tracker" data-component="m38-step-tracker" data-total-steps="4" data-current-step="4" data-hasInfo="true" data-labels='{"conjunction":"@Translate.Text("of")"}'>
                <div class="m38-step-tracker__progressbar" data-m38-progressbar="true" role="progressbar" aria-valuetext="@Translate.Text("INT.LBL.COMPLETED")">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="j113-epass" data-journey="j113-epass">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m40-status-message m40-status-message--success  icon icon-new-success-message " data-component="m40-status-message">
                    <div class="m40-status-message__title">@Translate.Text("INT.LBL.INTERNSHIP.SUCCESS")   </div>
                    <div class="m40-status-message__text">@Translate.Text("INT.LBL.INTERNSHIP.SUCCESS.DESC")</div>
                </div>
            </div>
        </div>



        <div class="grid__row">

            <div class="grid__column grid__column--12 grid__column--centered">



                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.INTERNSHIP_LANDING)" class="button button--primary" role="button">@Translate.Text("INT.LBL.COMPLETED")</a>


            </div>
        </div>

    </div>
</div>




