@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
<div class="grid">
	@Html.Sitecore().Placeholder("j91/m26-page-title")
	<div class="grid__row">
		<div class="grid__column grid__column--12 grid__column--form">
			<div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
				<div class="m40-status-message__title icon--success">@Translate.Text("Submission Successful")</div>
				<div class="m40-status-message__text">@Translate.Text("Your reference is") @(ViewBag.Reference ?? "N/A").<br>@Translate.Text("This can be used to track your request")</div>
			</div>
			<div class="grid__row">
				<div class="grid__column grid__column--12">
					<ul class="summary-footer__buttons">
						<li class="summary-footer__button">
							<a role="button" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.HOME)" class="button button--primary button--next">@Translate.Text("Home button text")</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


