@using Sitecore.Mvc

@Html.Sitecore().Placeholder("j18/m26-page-title")
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Sitecore().Placeholder("j18/m14-formatted-text")
    </div>
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @if (@ViewData.ModelState["SelectedAccount"] != null && @ViewData.ModelState["SelectedAccount"].Errors.Any())
        {
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml", @ViewData.ModelState["SelectedAccount"].Errors[0].ErrorMessage)
        }
        @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form form--inline", @data_form = "true" }))
        {
            @Html.Sitecore().FormHandler("SolarCalc", "SelectAccount")
            @Html.AntiForgeryToken()
            <fieldset class="fieldset ">
                <legend class="legend-color">.</legend>
                <div class="form-field form-field--account-details">
                    @Html.Sitecore().Placeholder("j18/m43-account-selector")
                </div>
            </fieldset>
            <div class="form-field__button">
                <button class="button button--primary button--next">@Sitecore.Globalization.Translate.Text("Continue")</button>
            </div>
        }
    </div>
</div>