@model DEWAXP.Feature.HR.Models.CareerPortal.CandidateProfile
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Feature.HR.Models.CareerPortal
@using _scPageItemId = DEWAXP.Foundation.Content.ScPageItemId
@using DEWAXP.Foundation.Content
@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, new { Action = "CandidateProfile", Controller = "CareerPortal" }, FormMethod.Post, new { @id = "candidateprofile" + Model.Section, @name = "j126-career-portal-profile", @data_parsley_focus = "true", @data_form = "true", @data_submit_validate = "enabled", @novalidate = string.Empty, @autocomplete = "off" }))
{
    @Html.Sitecore().FormHandler("CareerPortal", "ContactAddress")
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Section)
    @Html.HiddenFor(x => x.FirstName)
    @Html.HiddenFor(x => x.LastName)
    @Html.HiddenFor(x => x.Gender)
    @Html.HiddenFor(x => x.Religion)
    @Html.HiddenFor(x => x.MaritalStatus)
    @Html.HiddenFor(x => x.DOB)
    @Html.HiddenFor(x => x.Nationality)
    @Html.HiddenFor(x => x.PassportNo)
    @Html.HiddenFor(x => x.IsUAEResident)
    @Html.HiddenFor(x => x.EmiratesID)
    @Html.HiddenFor(x => x.DisabilityId)
    @Html.HiddenFor(x => x.YearsOfExperience)
    @Html.HiddenFor(x => x.HighestQualificationLevel)
    @Html.HiddenFor(x => x.JobId)
    @Html.HiddenFor(x => x.ExperienceType)
    <p>@Translate.Text("contact address intro text")</p>
    <div class="form-field form-field--select form-field--select-single    ">
        <label for="form-field-Country" class="form-field__label">
            @Translate.Text("country residence label")
        </label>
        <span class="form-field__input-wrapper form-field__input-wrapper--select">
            @*<select class="form-field__input form-field__input--select form-field__input--select-full "
                        id="form-field-mn05xegqh"
                        name="select"
                        aria-describedby="description-for-mn05xegqh"
                        data-parsley-errors-container="#description-for-mn05xegqh">
                    <option value="" selected>Select country</option>
                    <option value="1">No</option>
                </select>*@
            @if (Model.CountryList != null && Model.CountryList.Count > 0)
            {
                @Html.DropDownListFor(x => x.Country, new SelectList(Model.CountryList, "Value", "Text"), Translate.Text("select country"), new
               {
                   @class = "form-field__input form-field__input--select form-field__input--select-full",
                   @data_parsley_id = "1",
                   @id = "form-field-Country",
                   @required = "required",
                   @aria_describedby = "description-for-Country",
                   @data_parsley_errors_container = "#description-for-Country",
                   @data_parsley_error_message = Translate.Text("country validation message"),
               })
            }
        </span>
        <div id="description-for-Country" class="form-field__messages">
        </div>
    </div>
    if (Model.EmiratesList != null && Model.EmiratesList.Count > 0)
    {
        <div class="form-field form-field--select form-field--select-single">
            <label for="form-field-Emirates" class="form-field__label">
                @Translate.Text("emirate label")
            </label>
            <span class="form-field__input-wrapper form-field__input-wrapper--select">

                @Html.DropDownListFor(x => x.Emirates, new SelectList(Model.EmiratesList, "Value", "Text"), Translate.Text("select emirate"), new
                     {
                         @class = "form-field__input form-field__input--select form-field__input--select-full",
                         @data_parsley_id = "1",
                         @id = "form-field-Emirates",
                         @required = "required",
                         @aria_describedby = "description-for-Emirates",
                         @data_parsley_errors_container = "#description-for-Emirates",
                         @data_parsley_error_message = Translate.Text("emirates validation message"),
                     })
            </span>
            <div id="description-for-Emirates" class="form-field__messages">
            </div>
        </div>
    }

    <div class="form-field form-field--text">
        <label for="form-field-city" class="form-field__label">
            @Translate.Text("city label")
            <span class="form-field__label-required aria-only">((@Translate.Text("required text")))</span>
        </label>
        <span class="form-field__input-wrapper">
            @*<input class="form-field__input form-field__input--text"
                id="form-field-ppttz9kud"
                name="city"
                type="text"
                placeholder="Enter City"
                aria-describedby="description-for-ppttz9kud"
                data-parsley-errors-container="#description-for-ppttz9kud"
                required
                data-parsley-required-message="This field is required" />*@
            @Html.TextBoxFor(x => x.City, new
          {
              @class = "form-field__input form-field__input--text",
              @type = "text",
              @id = "form-field-city",
              @placeholder = @Translate.Text("city label"),
              @required = "required",
              @data_parsley_error_message = Translate.Text("city validation message"),
              @data_parsley_errors_container = "#description-for-city",
              @aria_describedby = "description-for-city",
          })
        </span>
        <div id="description-for-city" class="form-field__messages">
        </div>
    </div>
    <div class="form-field form-field--text">
        <label for="form-field-permantAddress" class="form-field__label">
            @Translate.Text("permanent address label")
            <span class="form-field__label-required aria-only">((@Translate.Text("required text")))</span>
        </label>
        <span class="form-field__input-wrapper">
            @*<input class="form-field__input form-field__input--text"
                id="form-field-7b8mcmwt5"
                name="address"
                type="text"
                placeholder="Enter Permanent Address"
                aria-describedby="description-for-7b8mcmwt5"
                data-parsley-errors-container="#description-for-7b8mcmwt5"
                required
                data-parsley-required-message="This field is required" />*@
            @Html.TextAreaFor(x => x.permantAddress, new
       {
           @class = "form-field__input form-field__input--text",
           @type = "text",
           @id = "form-field-permantAddress",
           @placeholder = @Translate.Text("permanent address label"),
           @required = "required",
           @data_parsley_error_message = Translate.Text("permantAddress validation message"),
           @data_parsley_errors_container = "#description-for-permantAddress",
           @aria_describedby = "description-for-permantAddress",
           @style = "resize: none;"
       })
        </span>
        <div id="description-for-permantAddress" class="form-field__messages">
        </div>
    </div>
    <div class="form-field form-field--text">
        <label for="form-field-postalcode" class="form-field__label">
            @Translate.Text("postalcode label")
            <span class="form-field__label-required aria-only">((@Translate.Text("required text")))</span>
        </label>
        <span class="form-field__input-wrapper">
            @*<input class="form-field__input form-field__input--text"
                id="form-field-7b8mcmwt5"
                name="address"
                type="text"
                placeholder="Enter Permanent Address"
                aria-describedby="description-for-7b8mcmwt5"
                data-parsley-errors-container="#description-for-7b8mcmwt5"
                required
                data-parsley-required-message="This field is required" />*@
            @Html.TextBoxFor(x => x.PostalCode, new
       {
           @class = "form-field__input form-field__input--text",
           @type = "text",
           @id = "form-field-postalcode",
           @placeholder = @Translate.Text("postalcode label"),
           @required = "required",
           @data_parsley_error_message = Translate.Text("postalcode validation message"),
           @data_parsley_errors_container = "#description-for-postalcode",
           @aria_describedby = "description-for-postalcode",
       })
        </span>
        <div id="description-for-postalcode" class="form-field__messages">
        </div>
    </div>
    <div class="form-field form-field--text">
        <label for="form-field-MobileNo" class="form-field__label">
            @Translate.Text("mobile number label")
            <span class="form-field__label-required aria-only">((@Translate.Text("required text")))</span>
        </label>
        <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
            @*<input class="form-field__input form-field__input--text form-field__input--prefixed"
        id="form-field-sbzowp410"
        name="mobile"
        type="tel"
        placeholder="Enter mobile number"
        aria-describedby="description-for-sbzowp410"
        data-parsley-errors-container="#description-for-sbzowp410"
        required
        data-parsley-required-message="This field is required"
        data-parsley-mobile_number=""
        data-parsley-mobile_number-message="Please enter a valid UAE mobile number" />*@
            @*@Html.TextBoxFor(x => x.MobileNo, new
        {
            @class = "form-field__input form-field__input--text form-field__input--prefixed",
            @type = "text",
            @id = "form-field-MobileNo",
            @placeholder = @Translate.Text("mobile number label"),
            @required = "required",
            @data_parsley_error_message = Translate.Text("mobile validation message"),
            @data_parsley_errors_container = "#description-for-MobileNo",
            @aria_describedby = "description-for-MobileNo",
            @data_parsley_mobile_number = "",
            @data_parsley_type = "digits",
            @data_parsley_trigger = "focusout"
        })*@
            <input class="form-field__input form-field__input--text form-field__input--prefixed"
                   id="form-field-MobileNo"
                   name="MobileNo"
                   type="tel"
                   placeholder="@Translate.Text("mobile number label")"
                   aria-describedby="description-for-MobileNo"
                   required=""
                   value="@Model.MobileNo"
                   data-parsley-error-message="@Translate.Text("Please enter a valid UAE mobile number")"
                   data-parsley-errors-container="#description-for-MobileNo"
                   data-parsley-mobile_number=""
                   data-parsley-trigger="focusout"
                   data-parsley-pattern="/^(?:50|51|52|53|54|55|56|57|58|59|52|54|55|56)\d{7}$/"
                   data-parsley-pattern-message="@Translate.Text("Please enter a valid UAE mobile number")" />
        </span>
        <div id="description-for-MobileNo" class="form-field__messages">
        </div>
    </div>
    <div class="form-field__button save-continue-btns form-field--12">
        @Html.HiddenFor(x => x.SaveandContinueButtonClicked, new { id = "saveandcontinuebuttonclicked" })
        <button id="btnAddressContactContinue" data-text="False" type="submit" class="button button--quaternary">@Translate.Text("save button text")</button>
        <button id="btnAddressContactSave" data-text="True" type="submit" class="button button--primary">@Translate.Text("continue text")</button>
 </div>

}
<script type="text/javascript">
    $('.m21-avatar__name').html('@ViewBag.FullName');
    checkSession();
    setTimeout(function () {
        jQuery(window).trigger('proprogress', [@Model.ProfileProgress]);
    }, 500);
    function checkSession() {
        if (@ViewBag.IsSessionTimeOut == true) {
            jQuery('.j105-drrg--loader').show();
            window.location.href = '@(LinkHelper.GetItemUrl(SitecoreItemIdentifiers.CAREER_POTAL_LOGIN))';
        }
    }
    var $saveandcontinuebuttonclicked = jQuery('#saveandcontinuebuttonclicked');
    $("form button[type=submit]").click(function (e) {
        if ($(this).attr("data-text") == "True") {
            $saveandcontinuebuttonclicked[0].value = true;
        }
        else {
            $saveandcontinuebuttonclicked[0].value = false;
        }
    });
</script>

