@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.HR.Models.CareerPortal.CandidateProfile
@{
    var lastRowClass = "";
}
@if (Model.CandidateCertification != null && Model.CandidateCertification.Count > 0)
{
    var cnt = 1;
    var totalCnt = Model.CandidateCertification.Count;
    foreach (var certificate in Model.CandidateCertification)
    {
        if (totalCnt == cnt)
        {
            lastRowClass = "last-row";
        }
        <div class="form--data-table-row  @lastRowClass" data-component="m73-form-expand-tab" data-seq-no="@certificate.sequenceNo#@certificate.objectid#@certificate.objectversion#@certificate.planversion" data-row-of="@certificate.QualificationGrp">
            <span data-toggle="true" aria-controls="1_xu6ptl5ev_content" class="form--data-table-tab form--data-table-title tab-large m73-form-trigger-expand" id="1_xu6ptl5ev_trigger">
                <div class="tab-title tab-expand">@certificate.QualificationGrp</div>
            </span>
            <div data-content="true" aria-labelledby="1_xu6ptl5ev_trigger" aria-expanded="false" class="m73-form-content-expand" id="1_xu6ptl5ev_content">
                <div class="form--data-table-buttons">
                    <div class="form-field--add_button edit-cert">@Translate.Text("edit button text")</div>
                    <div class="form-field--add_button remove remove-cert">@Translate.Text("remove button text")</div>
                </div>
                <div class="form--data-table-content">
                    <div class="form--data-table-wrapper" data-table-wrapper-id="form-field-qualificationlist">
                        <label class="form-data-table__label">Issuing Organization </label>
                        <span data-select="true" data-val="@certificate.IssuingOrganization" class="form-data-table__value">@certificate.IssuingOrganization</span>
                    </div>
                    <div class="form--data-table-wrapper" data-table-wrapper-id="form-field-qualificationlist">
                        <label class="form-data-table__label">Certification </label>
                        <span data-select="true" data-val="@certificate.QualificationId" class="form-data-table__value">@certificate.QualificationName</span>
                    </div>
                    @*<div class="form--data-table-wrapper" data-table-wrapper-id="form-field-qualificationlist">
                            <label class="form-data-table__label">Proficiency </label>
                            <span data-select="true" data-val="@certificate.ProficiencyId" class="form-data-table__value">@certificate.ProficiencyName</span>
                        </div>*@
                </div>
            </div>
        </div>
        cnt++;
    }
}
<script type="text/javascript">
    setTimeout(function () {
        jQuery(window).trigger('proprogress', [@Model.ProfileProgress]);
    }, 500);
    $('.remove-cert').bind('click', function () {
        //console.log($(this).closest('.form--data-table-row').attr('data-seq-no'));
        var thisTarget = $('#' + $(this).closest('[data-table-form]').attr('id').replace('_table', '_target') + '');
        var thisTargetBtn = $('#' + $(this).closest('[data-table-form]').attr('id').replace('_table', '_button') + '');
        var postedCertificateslist = jQuery('#postedCertificatesjson');
        var certificateslist = [];
        var obj = {};
        if ($(this).closest('.form--data-table-row').attr('data-seq-no') != undefined) {
            var objData = $(this).closest('.form--data-table-row').attr('data-seq-no').split('#');
            if (objData.length > 0) {
                obj.sequenceNo = objData[0];
                obj.objectid = objData[1];
                obj.objectversion = objData[2];
                obj.planversion = objData[3];
            }
            certificateslist.push(obj);
            postedCertificateslist[0].value = JSON.stringify(certificateslist);
            var url = "/api/sitecore/CareerPortal/AjaxSaveQualification";
            var formId = "candidateprofile" + @Model.Section;
            jQuery.ajax({
                url: url,
                type: 'POST',
                traditional: true,
                data: AddForgeryToken({ qualificationData: $("#postedCertificatesjson").val(), IsDelete: "true", IsCert: "true" }, formId),
                beforeSend: function () {
                    jQuery('.j105-drrg--loader').show();
                    jQuery('.j105-drrg--loader').css('top', $(window).scrollTop());
                    jQuery('body').removeClass('unscrollable').addClass('unscrollable');
                },
                complete: function () {
                    jQuery('.j105-drrg--loader').hide();
                    jQuery('body').removeClass('unscrollable');
                },
            }).done(function (response) {
                jQuery("#certificateList").html('');
                jQuery("#certificateList").html(response);
                thisTarget.addClass('fieldset--hidden');
                thisTargetBtn.removeClass('form_button_disable');
                @*if (response.Success) {
                    jQuery("#certificateList").html('');
                    jQuery("#certificateList").html(response);
                    thisTarget.addClass('fieldset--hidden');
                    thisTargetBtn.removeClass('form_button_disable');
                } else {
                    $("#educationError").html('');
                    $("#educationError").html(response.strMessage);
                    if (response.errorCode == "10510") {
                        window.location.href = '@(LinkHelper.GetItemUrl(SitecoreItemIdentifiers.CAREER_POTAL_LOGIN))';
                    }
                }*@
            });
        }
    });

    $('.edit-cert').bind('click', function () {
        //var $this = editBtn,
        jQuery('#educationError').html('');
        var $this = $(this),
            _this = this,
            thisRow = $this.closest('.form--data-table-row'),
            tableId = $this.closest('[data-table-form]').attr('id').replace('_table', ''),
            thisButton = $('#' + tableId + '_button'),
            thisGroup = $this.closest('.form-field--group'),
            thisId = $('#' + tableId + '_target'),
            thisRowData = thisRow.attr('data-row-of'),
            thisSeqNo = thisRow.attr('data-seq-no'),
            $formField = thisId.find('.form-field'),
            time = 0,
            $thisRowContent = thisRow.find('.form--data-table-content .form--data-table-wrapper');
        thisRow.addClass('on-edit');
        thisButton.addClass('form_button_disable');
        $thisRowContent.each(function (index) {
            var __this = this;
            setTimeout(function () {
                var num = index + 1;
                var inputLabel = $(__this).find('.form-data-table__label').text(),
                    inputVal = $(__this).find('.form-data-table__value').text(),
                    selectVal = $(__this).find('.form-data-table__value').data('val'),
                    $formField = thisId.find('.form-field'); thisId.find('.form-field:nth-child(' + num + ') .form-field__label').text(inputLabel)
                thisId.find('.form-field:nth-child(' + num + ') .form-field__input').val(inputVal)
                if ($(__this).find('.form-data-table__value').data('select')) {
                    thisId.find('.form-field:nth-child(' + num + ') .form-field__input').val(selectVal)
                    thisId.find('.form-field:nth-child(' + num + ') .form-field__input').trigger('change')
                }

            }, time);
            time = time + 500;
        });
        if (thisId.hasClass('fieldset--hidden')) {
            thisId.removeClass('fieldset--hidden');
            thisId.attr('data-area-valid', true);
        }
        thisId.attr('data-form-of', thisRowData);
        thisId.attr('data-seq-no', thisSeqNo);
    });
</script>
