@model DEWAXP.Feature.HR.Models.CareerPortal.CandidateProfile
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Feature.HR.Models.CareerPortal
@using _scPageItemId = DEWAXP.Foundation.Content.ScPageItemId
@using DEWAXP.Foundation.Content
@using DEWAXP.Feature.HR.Helpers.CareerPortal
@{
    /**/


    var genderList = CareerPortalHelper.GetGender();
    var MaritalStatusList = CareerPortalHelper.GetMaritalStatus();

}

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, new { }, FormMethod.Post, new { @id = "candidateprofile" + Model.Section, @name = "j126-career-portal-profile", @data_parsley_focus = "true", @data_form = "true", @data_submit_validate = "enabled", @novalidate = string.Empty, @autocomplete = "off" }))
{
    @Html.Sitecore().FormHandler("CareerPortal", "Preferences")
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Section)
    @Html.HiddenFor(x => x.sequenceNo)
    @Html.HiddenFor(x => x.objectid)
    @Html.HiddenFor(x => x.objecttype)
    @Html.HiddenFor(x => x.planversion)
    @Html.HiddenFor(x => x.JobId)
    @Html.HiddenFor(x => x.ExperienceType)
    <p>
        <strong>@Translate.Text("preferences short text")</strong><br />
        @Translate.Text("preferences long text")
    </p>
    <div class="form-field form-field--select form-field--select-single form-field--12   ">
        <label for="form-field-interestgroups" class="form-field__label">
            @Translate.Text("interest group label")
        </label>
        <span class="form-field__input-wrapper form-field__input-wrapper--select">
            <select class="form-field__input form-field__input--select form-field__input--select-full "
                    id="form-field-interestgroups"
                    name="InterestGroup"
                    aria-describedby="description-for-interestgroups"
                    data-parsley-errors-container="#description-for-interestgroups">
                <option value="" selected>@Translate.Text("select interest group text")</option>
                @foreach (var item in Model.InterestGroupsList)
                {
                    if (!string.IsNullOrWhiteSpace(Model.InterestGroup) && item.Value == Model.InterestGroup)
                    {
                        <option value="@item.Value" data-option-value="@item.Value" selected>@item.Text</option>
                    }
                    else
                    {
                        <option value="@item.Value" data-option-value="@item.Value">@item.Text</option>
                    }
                }
            </select>
        </span>
        <div id="description-for-interestgroups" class="form-field__messages">
        </div>
    </div>

    @*<div class="form-field form-field--select form-field--select-single  form-field--6 ">
            <label for="form-field-wp9jxxnnf" class="form-field__label">
                Salary Expect
            </label>
            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                <select class="form-field__input form-field__input--select form-field__input--select-full "
                        id="form-field-wp9jxxnnf"
                        name="select"
                        aria-describedby="description-for-wp9jxxnnf"
                        data-parsley-errors-container="#description-for-wp9jxxnnf">
                    <option value="" selected>UAE Dirhams</option>
                    <option value="1">Doller</option>
                    <option value="2">INR</option>
                </select>
            </span>
            <div id="description-for-wp9jxxnnf" class="form-field__messages">
            </div>
        </div>*@
    @*<div class="form-field form-field--select form-field--select-single  form-field--6  nopadding">
            <label for="form-field-wp9jxxnnf" class="form-field__label">
                Area
            </label>
            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                <select class="form-field__input form-field__input--select form-field__input--select-full "
                        id="form-field-wp9jxxnnf"
                        name="select"
                        aria-describedby="description-for-wp9jxxnnf"
                        data-parsley-errors-container="#description-for-wp9jxxnnf">
                    <option value="" selected>10000+</option>
                    <option value="1">12000+</option>
                    <option value="2">15000+</option>
                </select>
            </span>
            <div id="description-for-wp9jxxnnf" class="form-field__messages">
            </div>
        </div>*@
    @*<div class="form-field form-field--select form-field--select-single  form-field--6 ">
            <label for="form-field-wp9jxxnnf" class="form-field__label">
                Contract Type
            </label>
            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                <select class="form-field__input form-field__input--select form-field__input--select-full "
                        id="form-field-wp9jxxnnf"
                        name="select"
                        aria-describedby="description-for-wp9jxxnnf"
                        data-parsley-errors-container="#description-for-wp9jxxnnf">
                    <option value="" selected>Permanent</option>
                    <option value="1">Permanent</option>
                    <option value="2">Permanent</option>
                </select>
            </span>
            <div id="description-for-wp9jxxnnf" class="form-field__messages">
            </div>
        </div>
        <div class="form-field form-field--select form-field--select-single  form-field--6 nopadding">
            <label for="form-field-wp9jxxnnf" class="form-field__label">
                Employee raction
            </label>
            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                <select class="form-field__input form-field__input--select form-field__input--select-full "
                        id="form-field-wp9jxxnnf"
                        name="select"
                        aria-describedby="description-for-wp9jxxnnf"
                        data-parsley-errors-container="#description-for-wp9jxxnnf">
                    <option value="" selected>Full time</option>
                    <option value="1">Full time</option>
                    <option value="2">Full time</option>
                </select>
            </span>
            <div id="description-for-wp9jxxnnf" class="form-field__messages">
            </div>
        </div>*@
    <div class="form-field form-field--select form-field--select-single  form-field--6 ">
        <label for="form-field-functionalareas" class="form-field__label">
            @Translate.Text("functional areas label")
        </label>
        <span class="form-field__input-wrapper form-field__input-wrapper--select">
            <select class="form-field__input form-field__input--select form-field__input--select-full "
                    id="form-field-functionalareas"
                    name="FunctionalAreas"
                    aria-describedby="description-for-functionalareas"
                    data-parsley-errors-container="#description-for-functionalareas">
                <option value="" selected>@Translate.Text("select text") @Translate.Text("functional areas label")</option>
                @foreach (var item in Model.DesignationList)
                {
                    if (!string.IsNullOrWhiteSpace(Model.FunctionalAreas) && item.Value == Model.FunctionalAreas)
                    {
                        <option value="@item.Value" data-option-value="@item.Value" selected>@item.Text</option>
                    }
                    else
                    {
                        <option value="@item.Value" data-option-value="@item.Value">@item.Text</option>
                    }
                }
            </select>
        </span>
        <div id="description-for-functionalareas" class="form-field__messages">
        </div>
    </div>
    <div class="form-field form-field--select form-field--select-single  form-field--6 nopadding">
        <label for="form-field-hierarachylevel" class="form-field__label">
            @Translate.Text("hierarchy level label")
        </label>
        <span class="form-field__input-wrapper form-field__input-wrapper--select">
            <select class="form-field__input form-field__input--select form-field__input--select-full "
                    id="form-field-hierarachylevel"
                    name="HierarachyLevel"
                    aria-describedby="description-for-hierarachylevel"
                    data-parsley-errors-container="#description-for-hierarachylevel">
                <option value="" selected>@Translate.Text("select text") @Translate.Text("hierarchy level label")</option>
                @foreach (var item in Model.HierarachyLevelList)
                {
                    if (!string.IsNullOrWhiteSpace(Model.HierarachyLevel) && item.Value == Model.HierarachyLevel)
                    {
                        <option value="@item.Value" data-option-value="@item.Value" selected>@item.Text</option>
                    }
                    else
                    {
                        <option value="@item.Value" data-option-value="@item.Value">@item.Text</option>
                    }
                }
            </select>
        </span>
        <div id="description-for-hierarachylevel" class="form-field__messages">
        </div>
    </div>
    <div class="form-field__button save-continue-btns form-field--12">
        @Html.HiddenFor(x => x.SaveandContinueButtonClicked, new { id = "saveandcontinuebuttonclicked" })
        <button id="btnPreferenceSave" data-text="True" type="submit" class="button button--primary">@Translate.Text("save continue text")</button>
        <button id="btnPreferenceContinue" data-text="False" type="submit" class="button button--quaternary">@Translate.Text("save exit text")</button>
    </div>
}
<script type="text/javascript">
     $('.m21-avatar__name').html('@ViewBag.FullName');
    var $saveandcontinuebuttonclicked = jQuery('#saveandcontinuebuttonclicked');
    $("form button[type=submit]").click(function (e) {
        if ($(this).attr("data-text") == "True") {
            $saveandcontinuebuttonclicked[0].value = true;
        }
        else {
            $saveandcontinuebuttonclicked[0].value = false;
        }
    });
</script> 