@model DEWAXP.Feature.HR.Models.CareerPortal.CandidateProfile
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Feature.HR.Models.CareerPortal
@using _scPageItemId = DEWAXP.Foundation.Content.ScPageItemId
@using DEWAXP.Foundation.Content
@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, new { }, FormMethod.Post, new { @id = "candidateprofile" + Model.Section, @name = "j126-career-portal-profile", @data_parsley_focus = "true", @data_form = "true", @data_submit_validate = "enabled", @novalidate = string.Empty, @autocomplete = "off" }))
{
    @Html.Sitecore().FormHandler("CareerPortal", "ReivewSubmit")
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Section)
    @Html.HiddenFor(x => x.ExperienceType)
    @*<p>
            @Translate.Text("review submit intro")
        </p>*@
    <div class="form-field__checkbox   first">
        <label for="form-field-privacyaccepted">
            <input class="form-field__input form-field__input--checkbox"
                   id="form-field-privacyaccepted"
                   name="PrivacyAccepted"
                   type="checkbox"
                   value="X"
                   required="required"
                   aria-describedby="description-for-privacyaccepted"
                   data-parsley-errors-container="#description-for-privacyaccepted"
                   data-parsley-multiple="checkbox_1_1"
                   data-parsley-id="45">
            <span class="form-field__fakecheckbox focus-enabled">@Translate.Text("review submit note") <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DEWA_TERMS_CONDITIONS)" target="_blank" class="link" id="_q39br6swv_trigger11">@Translate.Text("terms and conditions")</a> &amp; <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DEWA_SECURITY_POLICY)" target="_blank" class="link nowrap" id="_q39br6swv_trigger11">@Translate.Text("privacy statement text")</a></span>
        </label>
    </div>
    <p>
        @Translate.Text("review submit intro")
    </p>
    @*<div class="form-field__checkbox last">
            <label>
                <input class="form-field__input form-field__input--checkbox"
                       id="form-field-termscondition"
                       name="TermsCondition"
                       type="checkbox"
                       value="X"
                       required="required"
                       aria-describedby="description-for-termscondition"
                       data-parsley-errors-container="#description-for-termscondition"
                       data-parsley-multiple="checkbox_1_2"
                       data-parsley-id="45">
                <span class="form-field__fakecheckbox focus-enabled"></span>
            </label>
        </div>
        <p>
            @Translate.Text("review submit note")
        </p>*@
    <div class="form-field__button save-continue-btns form-field--12">
        <button id="btnReviewSubmitSave" type="submit" class="button button--primary">@Translate.Text("submit button text")</button>
    </div>
}
<script type="text/javascript">
        $('.m21-avatar__name').html('@ViewBag.FullName');
        if ('@Model.IsSubmit' == 'True')
        {
            jQuery("#form-field-privacyaccepted").prop('checked', true);
        }
        setTimeout(function () {
            jQuery(window).trigger('proprogress', [@Model.ProfileProgress]);
        }, 500);
</script> 