@model DEWAXP.Feature.Account.Models.UAEPass.LinkBusinessPartnerToMyIdModel
@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
@Html.Sitecore().Placeholder("my-id-link/page-title")

<div class="grid__row">
	<div class="grid__column grid__column--12 grid__column--form">
		@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

		@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new {@class = "form form--inline", @id = "findAccountForm", @data_form = "true", @novalidate = string.Empty }))
		{
			@Html.Sitecore().FormHandler()
			@Html.AntiForgeryToken()

			<fieldset class="fieldset ">
                <legend class="legend-color">.</legend>
                @Html.HiddenFor(x=>x.MyId)
				@*<div class="form-field form-field--text ">
					@Html.LabelFor(m => m.MyId, Translate.Text("MyID label text"), new { @class = "form-field__label form-field__label--readonly" })

					<div class="form-field__input-wrapper form-field__input-wrapper--readonly">
						@Html.TextBoxFor(m => m.MyId, new { @readonly = string.Empty, @aria_readonly = true, @class = "form-field__input form-field__input--readonly" })
					</div>
				</div>*@

				<div class="form-field form-field--text ">
					@Html.LabelFor(m => m.EmiratesIdentifier, Translate.Text(DictionaryKeys.Global.Forms.EmiratesIdLabel), new {@class = "form-field__label form-field__label--readonly"})

					<div class="form-field__input-wrapper form-field__input-wrapper--readonly">
						@Html.TextBoxFor(m => m.EmiratesIdentifier, new {@readonly = string.Empty, @aria_readonly = true, @class = "form-field__input form-field__input--readonly"})
					</div>
				</div>
                <div class="form-field form-field--text ">
                    <label for="EmailAddress" class="form-field__label">
                        @Translate.Text("Email address")
                        <span class="form-field__label-required aria-only">(@Translate.Text("Required"))</span>
                    </label>

                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(m => m.EmailAddress, new
                   {
                       @type = "email",
                       @class = "form-field__input form-field__input--text",
                       @placeholder = Translate.Text("email placeholder text"),
                       @aria_describedby = "description-for-email",
                       @required = "required",
                       @data_parsley_error_message = Translate.Text("email validation message"),
                       @data_parsley_errors_container = "#description-for-email",
                       @data_parsley_trigger = "focusout",
                       @readonly = "readonly",
                       @data_parsley_id = "14"
                   })
                    </span>

                    <div id="description-for-email" class="form-field__messages">
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                    </div>
                </div>
                <div class="form-field form-field--text ">
                    <label for="MobileNumber" class="form-field__label">
                        @Translate.Text("Mobile number")
                        <span class="form-field__label-required aria-only">(@Translate.Text("Required"))</span>
                    </label>

                    <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                        <input type="number" lang="en" id="MobileNumber" name="MobileNumber" value="@Model.MobileNumber" @*aria-required="true"*@ aria-describedby="description-for-mobilenumber" required="required" placeholder="@Translate.Text("Mobile number placeholder")" data-parsley-error-message="@Translate.Text("Please enter a valid UAE mobile number")" data-parsley-type="digits" data-parsley-trigger="focusout" data-parsley-mobile_number data-parsley-errors-container="#description-for-mobilenumber" class="form-field__input form-field__input--text form-field__input--prefixed" readonly="readonly" />
                    </span>

                    <div id="description-for-mobilenumber" class="form-field__messages">
                        @Html.ValidationMessageFor(m => m.MobileNumber)
                    </div>
                </div>
				
			</fieldset>

            <fieldset class="fieldset ">
                <legend class="legend-color">.</legend>
                @*<legend class="legend">@Translate.Text("MyID detail validation blurb")</legend>*@
                <div class="form-field form-field--text">
                    <label for="BusinessPartnerNumber" class="form-field__label">
                        @Translate.Text("uaepass.business partner label")
                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                    </label>

                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(m => m.BusinessPartnerNumber, new
                   {
                       @class = "form-field__input form-field__input--text",
                       @placeholder = Translate.Text("uaepass.business partner number placeholder"),
                       @aria_describedby = "description-for-bpnumber",
                       @required = "required",
                       @data_parsley_error_message = Translate.Text("uaepass.Business partner number error"),
                       @data_parsley_errors_container = "#description-for-bpnumber",
                       @data_parsley_bpn = "",
                       @data_parsley_trigger = "focusout",
                       @data_parsley_id = "8"
                   })
                    </span>

                    <div id="description-for-bpnumber" class="form-field__messages">
                        @*<p class="form-field__description">
                    <a href="#" class="link">@Translate.Text("MyID where to find business partner number link text")</a>
                </p>*@
                        @Html.ValidationMessageFor(m => m.BusinessPartnerNumber)
                    </div>
                </div>


                <div class="form-field form-field--text ">
                    <label for="PoBox" class="form-field__label">
                        @Translate.Text("PO Box")
                        <span class="form-field__label-required aria-only">(@Translate.Text("Required"))</span>
                    </label>

                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(m => m.PoBox, new
                        {
                            @class = "form-field__input form-field__input--text",
                            @placeholder = Sitecore.Globalization.Translate.Text("Enter PO box number"),
                            @aria_describedby = "description-for-pobox",
                            @required = "required",
                            @data_parsley_error_message = Translate.Text("Please enter a value"),
                            @data_parsley_errors_container = "#description-for-pobox",
                            @data_parsley_trigger = "focusout",
                            @data_parsley_id = "12"
                        })
                    </span>
                    <div id="description-for-pobox" class="form-field__messages">
                        @Html.ValidationMessageFor(m => m.PoBox)
                    </div>
                </div>


            </fieldset>

			<div class="form-field__button">
				<button type="submit" class="button button--primary">@Translate.Text("Submit")</button>
			</div>
		}
	</div>
</div>
