@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Resources.Media
@using Sitecore.Mvc.Configuration
@using _commonHelper = DEWAXP.Feature.SupplyManagement.Helpers.SmartResponse.SmartResponseHelper;
@model IEnumerable<DEWAXP.Feature.SupplyManagement.Models.ComplaintSurvey.Questions>


@*<fieldset class="display-section-fieldset">
        <legend class="display-section-legend">DM Customer Satisfaction Survey</legend>
    </fieldset>*@


<div class="grid">
    <div class="grid__row">


        <div class="grid__column grid__column--12 grid__column--form">

            @Html.AntiForgeryToken()

            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @data_form = "true", @data_parsley_focus = "none" }))
            {

                <div class="form-field">
                    <fieldset class="fieldset">
                        <legend class="legend-color">.</legend>

                        @foreach (var item in Model)
                        {
                            <div class="form-field form-field--text">
                                <br />
                                <strong>@item.QuestionGroup</strong>
                                <br />
                                <br />
                            </div>
                            <fieldset class="display-section-fieldset">
                                <legend class="legend-color">.</legend>
                                <fieldset class="display-section-fieldset">
                                    <legend class="legend-color">.</legend>
                                    <div class="display-section-content">
                                        <div class=" field-border">
                                            <span class=" field-title">
                                                <label for="RdbGrp_@item.QuestionNo">@item.QuestionNo) @item.Question</label>
                                            </span>
                                            <div class=" field-panel">
                                                <label class="field-content field-content--radio">
                                                    <input name="RdbGrp_@item.QuestionNo" type="radio" id="RdbGrp_@item.QuestionNo" value="5" data-id="1"
                                                           required
                                                           data-parsley-required-message="@_commonHelper.GetSMTranslation("Please Select")"
                                                           aria-describedby="#RdbGrpError_@item.QuestionNo"
                                                           data-parsley-errors-container="#RdbGrpError_@item.QuestionNo" />
                                                    <span class="form-field__fakeradio focus-enabled">@_commonHelper.GetSMTranslation("Strongly agree")</span>
                                                </label>
                                                <label class="field-content field-content--radio">
                                                    <input name="RdbGrp_@item.QuestionNo" type="radio" id="RdbGrp_@item.QuestionNo" value="4" data-id="2" />
                                                    <span class="form-field__fakeradio focus-enabled">@_commonHelper.GetSMTranslation("Agree")</span>
                                                </label>
                                                <label class="field-content field-content--radio">
                                                    <input name="RdbGrp_@item.QuestionNo" type="radio" id="RdbGrp_@item.QuestionNo" value="3" data-id="3" />
                                                    <span class="form-field__fakeradio focus-enabled">@_commonHelper.GetSMTranslation("Average")</span>
                                                </label>

                                                <label class="field-content field-content--radio">
                                                    <input name="RdbGrp_@item.QuestionNo" type="radio"
                                                           id="RdbGrp_@item.QuestionNo"
                                                           value="1"
                                                           data-id="4" />

                                                    <span class="form-field__fakeradio focus-enabled">@_commonHelper.GetSMTranslation("Strongly Disagree")</span>
                                                </label>
                                                <label class="field-content field-content--radio">
                                                    <input name="RdbGrp_@item.QuestionNo" id="RdbGrp_@item.QuestionNo" type="radio" value="2" data-id="5" />
                                                    <span class="form-field__fakeradio focus-enabled">@_commonHelper.GetSMTranslation("Disagree")</span>
                                                </label>
                                                <label class="field-content field-content--radio">
                                                    <input name="RdbGrp_@item.QuestionNo" type="radio" id="RdbGrp_@item.QuestionNo" value="9" data-id="9" />
                                                    <span class="form-field__fakeradio focus-enabled">@_commonHelper.GetSMTranslation("NA")</span>
                                                </label>
                                                <input type="hidden" value="@item.QuestionNo" id="hdd_@item.QuestionNo" />
                                            </div>
                                            <div id="RdbGrpError_@item.QuestionNo" class="form-field__messages">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </fieldset>

                        }

                        @Html.Hidden("notif", Request.QueryString["notif"])
                        <br />


                        @if (ViewBag.BtnVisible == "true")
                        {
                            <div class="form-field">
                                <fieldset class="fieldset">
                                    <legend class="legend-color">.</legend>
                                    <div class="form-field form-field--text">
                                        <label for="form-field-comments" class="form-field__label">@_commonHelper.GetSMTranslation("Comments")<span class="form-field__label-optional">(@_commonHelper.GetSMTranslation("optional"))</span></label>
                                        <span class="form-field__input-wrapper">
                                            <textarea name="Comment" title="@_commonHelper.GetSMTranslation("Comments")" maxlength="255" class="form-field__input form-field__input--text" id="form-field-comments"></textarea>
                                        </span>
                                        <div id="description-for-nickname" class="form-field__messages"></div>
                                    </div>
                                </fieldset>
                            </div>
                        }
                    </fieldset>
                </div>

                if (ViewBag.BtnVisible == "true")
                {
                    <div class="form-field__button">
                        <button type="submit" class="button button--primary button--next" data-submission-text="@_commonHelper.GetSMTranslation("Submitting")...">@_commonHelper.GetSMTranslation("Submit")</button>
                    </div>
                }
            }

        </div>
    </div>
</div>
