@using DEWAXP.Foundation.Helpers.Extensions
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc.Configuration
@model DEWAXP.Foundation.Content.Models.AccountModel.ManageAccountInfo

@if (!(bool)ViewBag.success)
{
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                <h3 class="m17-sectiontitle__title m17-sectiontitle__title--green text__section-title">
                    @Translate.Text("UpdateAccountInfoTitle")
                </h3>
                <p class="m17-sectiontitle__text">
                    @Translate.Text("UpdateAccountInfoSubTitle")
                </p>

            </div>
        </div>
    </div>

    <div class="j105-drrg">
        <div class="m66-preloader j105-drrg--loader hidden">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column grid__column--12">
                        <h2 class="text__section-subtitle">@Translate.Text("J100.Pleasewait")</h2>
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid__row" style="padding-top:10px;">
        <div class="grid__column grid__column--12 grid__column--form">
            <form id="form-account-selector" action="#" method="POST" form-skipvalidation="true">
                @Html.AntiForgeryToken()
                <div class="errordiv">@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")</div>
                @Html.Sitecore().Placeholder("j69/account-selector")
            </form>
        </div>
    </div>
    <div class="grid__row" style="padding-top:10px;">
        <div class="grid__column grid__column--12 grid__column--form" id="accountprofiledetail">
        </div>
    </div>

    <script type="text/javascript">
        docReady(function () {
            jQuery('#form-account-selector').submit(handleAccountSelection);
            jQuery('#form-account-selector').submit();
        });

        function handleAccountSelection(e) {
            var accountNumber = jQuery(e.target).find('input[name="SelectedAccountNumber"]:checked').val();
            _manageaccountinfoHandler(accountNumber);
            return false;
        }

    </script>
    @Scripts.Render("~/bundles/manageaccountinfo")
}
else
{
    @Html.Partial("~/Views/Feature/Account/Account/v1/_UpdateContactInfoSuccess.cshtml", Model.successModel)
}
