@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc.Configuration


<div class="grid mt24">
    @if (!(bool)ViewBag.success)
    {
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form centered">
    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
        </div>
        </div>
    }
    else
    {
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form centered">
            <div class="m40-status-message m40-status-message--success  icon icon-new-success-message " data-component="m40-status-message">
                @*<div class="m40-status-message__title">@Translate.Text("cust.email.success.msg")</div>*@
                <div class="m40-status-message__title">@ViewBag.message</div>
                @*<div class="m40-status-message__text"></div>*@
            </div>
            <a class="button button--primary" data-close="true" href="@LinkHelper.GetItemUrl(ScPageItemId.CustomerProfilePage)">@Translate.Text("cust.profile.backtoprofile")</a>
        </div>
    </div>
    
    }
</div>
