@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc.Configuration
@model DEWAXP.Foundation.Content.Models.AccountModel.VerifyMobileNumber

<div class="grid">
    <div class="j105-drrg">
        <div class="m66-preloader j105-drrg--loader hidden">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column grid__column--12">
                        <h2 class="text__section-subtitle">@Translate.Text("J100.Pleasewait")</h2>
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <!-- m26-page-title-start -->
            <div class="m26-page-title ">
                <div class="m26-page-title__links ">
                    <p class="m26-page-title__backlink ">
                        <a href="@ViewBag.URL" class="button button--text button--back ">@Translate.Text("cust.back.text")</a>
                    </p>
                </div>
            </div>
            <!-- m26-page-title-end -->
        </div>
    </div>
    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
    <div class="hidden j69-dashboard--customer_labels" data-labels="{&quot;famemname&quot;:&quot;Name of Family Member&quot;, &quot;famemres&quot;:&quot;Select the account that you reside in&quot;, &quot;reside_label&quot;:&quot;Select the account that you reside in&quot;, &quot;mem_namelabel&quot;:&quot;Name of the family member&quot;,&quot;mem_namepholder&quot;:&quot;Enter family member name&quot;, &quot;req_label&quot;:&quot;This field is required.&quot;, &quot;rela_label&quot;:&quot;Select your relationship with this family member&quot;, &quot;cat_label&quot;:&quot;What category do they fall in?&quot;, &quot;hasPOD_label&quot;:&quot;From People of Determination&quot;, &quot;hasPMI_label&quot;:&quot;Has Permanent Medical Issue&quot;,  &quot;medeq_label&quot;: &quot;Is there any special medical equipment such as oxygen concentrator, pulse oximeter, ventilator, etc?&quot;, &quot;yes&quot;:&quot;Yes&quot;, &quot;no&quot;:&quot;No&quot;, &quot;podcard_label&quot;:&quot;Enter the People of Determination ID card number&quot;, &quot;podcard_pholder&quot;:&quot;Enter POD ID card number&quot;, &quot;preview_path&quot;:&quot;../../images/preview@2x.png&quot;, &quot;eidfile_label&quot;:&quot;Emirates ID for DEWA Account Holders&quot;, &quot;choose_label&quot;:&quot;Choose&quot;, &quot;uploadformat_msg&quot;:&quot;Upload format is not correct.&quot;, &quot;uploadfile_msg&quot;:&quot;Upload file size is too high&quot;, &quot;remove_label&quot;:&quot;Remove&quot;, &quot;upload_note&quot;:&quot;Note that the maximum size allowed for each attachment is 2MB. Formats allowed: jpg, bmp, gif, png, jpeg.&quot;}">
    </div>
    <div class="grid__row grid__row--tight">
        <div class="grid__column grid__column--12">
            <div class="m14-richtext centered" dir="rtl">
                @if (!string.IsNullOrEmpty(Model.RequestType) && Model.RequestType.Equals("email"))
                {
                    <h3><strong><span dir="rtl">@Translate.Text("cust.verify.emailaddress")</span></strong></h3>
                    <p class="font-regular"><span dir="rtl">@Html.Raw(Translate.Text("cust.new.email.otp.screen.msg").Replace("{0}", @Model.EmailAddress))</span></p>
                    <p class="mt0 mb48">@Translate.Text("cust.wrong.email.message")</p>
                }
                else
                {
                    <h3><strong><span dir="rtl">@Translate.Text("cust.verify.mobile")</span></strong></h3>
                    <p class="font-regular"><span dir="rtl">@Html.Raw(Translate.Text("cust.new.mobile.otp.screen.msg").Replace("{0}", @Model.MobileNumber))</span></p>
                    <p class="mt0 mb48">@Translate.Text("cust.wrong.mobilenumber.message")</p>
                }
                <h4 class="m78-timer-instructions" style="display: none;">@Translate.Text("cust.generate.onetime.code.message")</h4>
                <h4 class="m78-timer-verification hidden" style="display: block;">@Translate.Text("cust.otp.instruction")</h4>
            </div>
        </div>
    </div>
    <div class="grid__row grid__row--tight">
        <div class="grid__column grid__column--12  grid__column--form">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form update-details-form", @id = "verifymobilenumberform", data_form = "true", encType = "multipart/form-data", @data_submit_validate = "enabled" }))
            {
                <input type="text" style="display:none;" id="otpstring" name="otp" value="" />
                <div class="form-field form-field--otp centered">
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-mobilenumber"
                               name="text" type="number"
                               aria-describedby="description-for-mobilenumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-mobilenumber"
                               required=""
                               autofocus=""
                               data-parsley-required-message="@Translate.Text("cust.required.field")"
                               data-parsley-trigger="focusout"
                               data-parsley-id="6"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-mobilenumber"
                               name="text" type="number"
                               aria-describedby="description-for-mobilenumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-mobilenumber"
                               required=""
                               data-parsley-required-message="@Translate.Text("cust.required.field")"
                               data-parsley-trigger="focusout"
                               data-parsley-id="8"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-mobilenumber"
                               name="text" type="number"
                               aria-describedby="description-for-mobilenumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-mobilenumber"
                               required=""
                               data-parsley-required-message="@Translate.Text("cust.required.field")"
                               data-parsley-trigger="focusout"
                               data-parsley-id="10"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-mobilenumber"
                               name="text" type="number"
                               aria-describedby="description-for-mobilenumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-mobilenumber"
                               required=""
                               data-parsley-required-message="@Translate.Text("cust.required.field")"
                               data-parsley-trigger="focusout"
                               data-parsley-id="12"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-mobilenumber"
                               name="text" type="number"
                               aria-describedby="description-for-mobilenumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-mobilenumber"
                               required=""
                               data-parsley-required-message="@Translate.Text("cust.required.field")"
                               data-parsley-trigger="focusout"
                               data-parsley-id="14"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-mobilenumber"
                               name="text" type="number"
                               aria-describedby="description-for-mobilenumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-mobilenumber"
                               required=""
                               data-parsley-required-message="@Translate.Text("cust.required.field")"
                               data-parsley-trigger="focusout"
                               data-parsley-id="16"
                               aria-invalid="false">
                    </span>
                    <input class="form-field__input form-field__input--otp_main"
                           id="form-field-mobilenumbermain"
                           name="text" type="number"
                           aria-describedby="description-for-mobilenumbermain"
                           data-parsley-maxnumber="6"
                           data-parsley-errors-container="#description-for-mobilenumbermain"
                           data-parsley-required-message="@Translate.Text("cust.required.field")"
                           data-parsley-trigger="focusout"
                           data-parsley-id="33">
                    <div id="description-for-mobilenumber" class="form-field__messages">
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form centered">
            <div class="button button--timer timer-button--outline"
                 data-component="m78-timer"
                 id="timerbutton"
                 timer-labels="{&quot;before&quot;:&quot;@Translate.Text("cust.resend.button.text")&quot;, &quot;after&quot;:&quot;@Translate.Text("cust.resend.button.text") (&quot;}"
                 timer-time="{&quot;seconds&quot;:300}">
                <span class="m78-timer--button_text">@Translate.Text("cust.send.button.text")</span>
                <span class="m78-timer--button_time"></span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    docReady(function () {
        setTimeout(function () {
            //('.button--timer').trigger("click");
            jQuery('.button--timer').trigger('start');
        }, 100);

        var _this = this,
            $field = $('.form-field--otp'),
            $input = $field.find('.form-field__input--otp'),
            i,
            $inputMain = $field.find('.form-field__input--otp_main');

        $input.each(function (index) {
            var $i = $(this);

            $i.off('keyup.otp').on('keyup.otp', function () {
                if ($i.val().length > 0) {
                    $i.focusout();
                    $i.closest('.form-field__input-wrapper_otp').next().find('.form-field__input--otp').focus();
                    i = index
                };
            });
        });
        var submitting = false;
        $(".form-field__input--otp").on('keyup blur', function () {
            if (submitting === true) { return false; }
            var OTPValue = '';

            $.each($(".form-field__input--otp"), function () {
                OTPValue += $(this).val();
            });

            $(".form-field__input--otp_main").val(OTPValue);
            if ($(".form-field__input--otp_main").val().length == 6) {
                jQuery('#otpstring').val(OTPValue);
                submitting = true;
                jQuery('#verifymobilenumberform').submit();
            };
        });

        jQuery("#timerbutton").on("click", (resendOTP));
        function resendOTP() {
            if (!jQuery("#timerbutton").hasClass("timer-button--outline")) {
                var url = "/api/sitecore/Account/ResendOTP";
                jQuery.ajax({
                    url: url,
                    type: 'GET',
                    traditional: true,
                    beforeSend: function () {
                        jQuery('.j105-drrg--loader').show();
                        jQuery('.j105-drrg--loader').css('top', $(window).scrollTop());
                        jQuery('body').removeClass('unscrollable').addClass('unscrollable');
                    },
                    complete: function () {
                        jQuery('.j105-drrg--loader').hide();
                        jQuery('body').removeClass('unscrollable');
                    },
                }).done(function (response) {
                    if (response != null && response == "Success") {
                        jQuery('.j105-drrg--loader').hide();
                        jQuery('.button--timer').trigger('start');
                    }
                    else {

                    }
                });
            }
        }



    });
</script>