@using Sitecore.Globalization
@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model RenderingModel
@{
    var lang = Model.Item.Language.CultureInfo.TextInfo.IsRightToLeft ? "ar" : "en";
}

<div class="grid">
    <div class="grid__row mb24">
        <a class="link floatRight" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.FAQ)#m25-tab-5">@Translate.Text("EasyPay.FAQ")</a>
    </div>
    <div class="grid__row">
        <div class="m41-tabs-box m41-tabs-box--scripted" data-component="m41-tabs-box">
            <div class="m41-tabs-box__tabs m41-tabs-box--desktop">
                <ul class="m41-tabs-box__tab-items">
                    <li class="m41-tabs-box__tab-item" data-index="0">
                        <a href="#" class="m41-tabs-box__tab-link m41-tabs-box__tab-link--active">@Translate.Text("Easypay.Greenbill")</a>
                    </li>
                    <li class="m41-tabs-box__tab-item" data-index="1">
                        <a href="#" class="m41-tabs-box__tab-link">@Translate.Text("Easypay.Green Charger")</a>
                    </li>
                    <li class="m41-tabs-box__tab-item" data-index="2">
                        <a href="#" class="m41-tabs-box__tab-link">@Translate.Text("Easypay.Portsale")</a>
                    </li>
                    <li class="m41-tabs-box__tab-item" data-index="3">
                        <a href="#" class="m41-tabs-box__tab-link">@Translate.Text("Easypay.Estimate")</a>
                    </li>
                    <li class="m41-tabs-box__tab-item" data-index="4">
                        <a href="#" class="m41-tabs-box__tab-link">@Translate.Text("Easypay.Al Namoos")</a>
                    </li>
                    <li class="m41-tabs-box__tab-item" data-index="5">
                        <a href="#" class="m41-tabs-box__tab-link">@Translate.Text("Easypay.General Services")</a>
                    </li>
                    <li class="m41-tabs-box__tab-item" data-index="6">
                        <a href="#" class="m41-tabs-box__tab-link">@Translate.Text("Easypay.Debit Advice")</a>
                    </li>
                </ul>
                <div class="m41-tabs-box__tab-panels">
                    <div class="m41-tabs-box__tab-panel" data-index="0">
                        @*<div class="m14-richtext centered" style="padding-top :12px; background-color:white;padding-bottom: 6px;">
                                <h4>@Translate.Text("Easypay.Imgtitle")</h4>
                            </div>*@
                        <img class="bill-img" alt="" src='/images/EasyPay/greenbill-@(lang).jpg?v=1' width='968'>
                    </div>

                    <div class="m41-tabs-box__tab-panel" data-index="1">
                        @*<div class="m14-richtext centered" style="padding-top :12px; background-color:white;padding-bottom: 6px;">
                                <h4>@Translate.Text("Easypay.Imgtitle")</h4>
                            </div>*@
                        <img class="bill-img" alt="" src='/images/EasyPay/greencharger-@(lang).jpg' width='968'>
                    </div>

                    <div class="m41-tabs-box__tab-panel" data-index="2">
                        @*<div class="m14-richtext centered" style="padding-top :12px; background-color:white;padding-bottom: 6px;">
                                <h4>@Translate.Text("Easypay.Imgtitle")</h4>
                            </div>*@
                        <img class="bill-img" alt="" src='/images/EasyPay/portsale-@(lang).jpg' width='968'>
                    </div>

                    <div class="m41-tabs-box__tab-panel" data-index="3">
                        @*<div class="m14-richtext centered" style="padding-top :12px; background-color:white;padding-bottom: 6px;">
                                <h4>@Translate.Text("Easypay.Imgtitle")</h4>
                            </div>*@
                        <img class="bill-img" alt="" src='/images/EasyPay/estimate-@(lang).jpg' width='968'>
                    </div>

                    <div class="m41-tabs-box__tab-panel" data-index="4">
                        @*<div class="m14-richtext centered" style="padding-top :12px; background-color:white;padding-bottom: 6px;">
                                <h4>@Translate.Text("Easypay.Imgtitle")</h4>
                            </div>*@
                        <img class="bill-img" alt="" src='/images/EasyPay/alnamoos-@(lang).jpg' width='968'>
                    </div>
                    <div class="m41-tabs-box__tab-panel" data-index="5">
                        <img class="bill-img" alt="" src='/images/EasyPay/jointer_certification-@(lang).jpg' width='968'>
                    </div>
                    <div class="m41-tabs-box__tab-panel" data-index="6">
                        <img class="bill-img" alt="" src='/images/EasyPay/debit_advice-@(lang).jpg' width='968'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


