@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.Bills.Models.EasyPay.EasyPayModel
@{
    bool IsPartailPayment = Model.PartialPayFlage == "X" && ViewBag.IsLoggedIn;
    var lang = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "ar" : "en";
}
@Html.Sitecore().Placeholder("j15/m26-page-title")


<div class="grid__row" data-journey="j102-tayseer-service">
    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_parsley_focus = "true", @data_form = "true", @class = "form" }))
    {
        @Html.Sitecore().FormHandler()
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.TotalAmount)
        <div class="grid__column grid__column--12 grid__column--form">
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

            @Html.Sitecore().Placeholder("j15/m38-step-tracker")

            @if (!string.IsNullOrEmpty(Model.Name))
            {
                <div class="item" id="item0">
                    <div class="form-field form-field--text">
                        <label for="form-field-EasyPayname" class="form-field__label form-field__label--readonly">
                            @Translate.Text("easypay.name")
                        </label>
                        <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                            <input class="form-field__input form-field__input--readonly"
                                   readonly=""
                                   id="form-field-EasyPayname"
                                   name="EasyPayname"
                                   type="text"
                                   value="@Model.Name"
                                   aria-describedby="description-for-EasyPayname"
                                   data-parsley-errors-container="#description-for-EasyPayname"
                                   data-parsley-trigger="focusout">
                        </div>
                        <div id="description-for-EasyPayname" class="form-field__messages">
                        </div>
                    </div>
                </div>
            }
            <div class="item" id="item0">
                <div class="form-field form-field--text">
                    <label for="form-field-ServiceType" class="form-field__label form-field__label--readonly">
                        @Translate.Text("easypay.servicetype")
                    </label>
                    <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                        <input class="form-field__input form-field__input--readonly"
                               readonly=""
                               id="form-field-ServiceType"
                               name="ServiceType"
                               type="text"
                               value="@Model.ServiceType"
                               aria-describedby="description-for-ServiceType"
                               data-parsley-errors-container="#description-for-ServiceType"
                               data-parsley-trigger="focusout">
                    </div>
                    <div id="description-for-ServiceType" class="form-field__messages">
                    </div>
                </div>
            </div>
            <div class="item" id="item0">
                <div class="form-field form-field--text">
                    <label for="form-field-EasyPayNumber" class="form-field__label form-field__label--readonly">
                        @Translate.Text("easypay.number")
                    </label>
                    <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                        <input class="form-field__input form-field__input--readonly"
                               readonly=""
                               id="form-field-EasyPayNumber"
                               name="EasyPayNumber"
                               type="text"
                               value="@Model.EasyPayNumber"
                               aria-describedby="description-for-EasyPayNumber"
                               data-parsley-errors-container="#description-for-EasyPayNumber"
                               data-parsley-trigger="focusout">
                    </div>
                    <div id="description-for-EasyPayNumber" class="form-field__messages">
                    </div>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated && ViewBag.IsLoggedIn)
            {
                if (!string.IsNullOrEmpty(Model.Email))
                {
                    <div class="item" id="item0">
                        <div class="form-field form-field--text">
                            <label for="form-field-EmailID" class="form-field__label form-field__label--readonly">
                                @Translate.Text("easypay.emailid")
                            </label>
                            <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                                <input class="form-field__input form-field__input--readonly"
                                       readonly=""
                                       id="form-field-EmailID"
                                       name="EmailID"
                                       type="text"
                                       value="@Model.Email"
                                       aria-describedby="description-for-EmailID"
                                       data-parsley-errors-container="#description-for-EmailID"
                                       data-parsley-trigger="focusout">
                            </div>
                            <div id="description-for-EmailID" class="form-field__messages">
                            </div>
                        </div>
                    </div>
                }
                if (!string.IsNullOrEmpty(Model.Mobile))
                {
                    <div class="item" id="item0">
                        <div class="form-field form-field--text">
                            <label for="form-field-Mobile" class="form-field__label form-field__label--readonly">
                                @Translate.Text("easypay.mobile")
                            </label>
                            <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                                <input class="form-field__input form-field__input--readonly"
                                       readonly=""
                                       id="form-field-Mobile"
                                       name="Mobile"
                                       type="text"
                                       value="@Model.Mobile"
                                       aria-describedby="description-for-Mobile"
                                       data-parsley-errors-container="#description-for-Mobile"
                                       data-parsley-trigger="focusout">
                            </div>
                            <div id="description-for-Mobile" class="form-field__messages">
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="item j102-tayseer-service" id="item0">
                <div class="form-field form-field--text">
                    <label for="form-field-TotalAmount" class="form-field__label form-field__label--readonly">
                        @Translate.Text("easypay.totalamount")
                    </label>
                    <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                        <input class="form-field__input form-field__input--readonly hidden"
                               readonly=""
                               id="form-field-TotalAmountdummy"
                               name="TotalAmountdummy"
                               type="text"
                               value="@Model.TotalAmount"
                               aria-describedby="description-for-TotalAmountdummy"
                               data-parsley-errors-container="#description-for-TotalAmountdummy"
                               data-parsley-trigger="focusout">
                        <input class="form-field__input form-field__input--readonly"
                               style="display:none;"
                               readonly=""
                               id="form-field-TotalAmount"
                               name="TotalAmount"
                               type="text"
                               value="@Model.TotalAmount"
                               aria-describedby="description-for-TotalAmount"
                               data-parsley-errors-container="#description-for-TotalAmount"
                               data-parsley-trigger="focusout">
                    </div>
                    @if (IsPartailPayment)
                    {
                        <a class="button button--text j102-tayseer-service--edit-amount">@Translate.Text("easypay.editamount")</a>
                    }
                    <div id="description-for-TotalAmount" class="form-field__messages">
                    </div>
                </div>
                @if (IsPartailPayment)
                {
                    <div class="j102-tayseer-service--amount-pay-form" id="divexistingeditamount_@Model.EasyPayNumber">
                        <fieldset class="fieldset">
                            <legend class="legend-color">.</legend>
                            @*<div id="divSetAmount" style="display:none">*@
                            <div class="j102-tayseer-service--amount-pay-form-input">
                                <form method="get" class="form" data-form="true" action="#">
                                    <div class="form-field form-field--text ">
                                        <label for="form-field-@Model.EasyPayNumber" class="form-field__label">
                                            @Translate.Text("Make Partial Payment")
                                            <span class="form-field__label-optional">(@(Translate.Text("optional")))</span>
                                        </label>
                                        <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--currency">
                                            <input class="form-field__input form-field__input--text form-field__input--prefixed txtAmountPay"
                                                   id="form-field-@Model.EasyPayNumber"
                                                   type="number"
                                                   @*aria-required="true"*@
                                                   aria-describedby="description-for-@Model.EasyPayNumber"
                                                   required="required"
                                                   value="@(Model.TotalAmount > 0 ? Model.TotalAmount : 0)"
                                                   min="0.00"
                                                   max="@PaymentConstants.MaximumAllowedPaymentAmount"
                                                   step="any"
                                                   data-parsley-max-message="@Translate.Text("Easy.payment amount", PaymentConstants.EasyMaximumAllowedPaymentAmount.ToString("0,0.00"))"
                                                   data-parsley-errors-container="#description-for-@Model.EasyPayNumber"
                                                   data-parsley-currency=""
                                                   data-input-truncate="9"
                                                   data-parsley-min="0"
                                                   data-parsley-max="@PaymentConstants.MaximumAllowedPaymentAmount"
                                                   data-parsley-trigger="focusout"
                                                   data-parsley-required-message="@Translate.Text(DictionaryKeys.Global.InvalidCurrencyValue)"
                                                   data-parsley-currency-message="@Translate.Text(DictionaryKeys.Global.InvalidCurrencyValue)"
                                                   data-parsley-min-message="@Translate.Text(DictionaryKeys.Global.InvalidCurrencyValue)"
                                                   data-parsley-range-message
                                                   lang="en" />
                                        </span>
                                        <div id="description-for-@Model.EasyPayNumber" class="form-field__messages">
                                            @Html.ValidationMessageFor(m => m.TotalAmount)
                                        </div>
                                    </div>
                                    <div class="form-field__button">
                                    </div>
                                </form>
                            </div>
                            <div class="j102-tayseer-service--amount-pay-form-button--cancel">
                                <a class="button button--text button--cancel idCancelaccount" role="button" data-contractaccount="@Model.EasyPayNumber" aria-label="Cancel">@Translate.Text("Cancel")</a>
                            </div>
                            <div class="j102-tayseer-service--amount-pay-form-button--set">
                                <a class="button button--text lnkSaveFU" data-contractaccount="@Model.EasyPayNumber" role="button">@Translate.Text("Set")</a>
                            </div>
                            @*  </div>*@
                        </fieldset>
                    </div>
                }
            </div>


            @if (User.Identity.IsAuthenticated && ViewBag.IsLoggedIn)
            {
                <p class="form-field__button">
                    <a class="button button--primary">
                        @Translate.Text("easypay.pay"):
                        <span id="continue-button-popup" name="continue-button" data-numeric-format="0,0.00" data-currency="@Translate.Text("AED")">@Model.TotalAmount</span>
                    </a>
                </p>
                @*if (!string.IsNullOrWhiteSpace(Model.Transactiontype))
                    {
                        <div class="form-field form-field--toggles">
                            <fieldset class="fieldset">
                                <div class="form-field__checkbox">
                                    <label>
                                        <input class="form-field__input form-field__input--checkbox"
                                               id="form-field-PaybyNoqodi"
                                               name="PayThroughNoqodi"
                                               type="checkbox"
                                               value="true" @(Model.PayThroughNoqodi ? "checked=\"checked\"" : "")
                                               aria-describedby="description-for-PaybyNoqodi"
                                               data-parsley-errors-container="#description-for-PaybyNoqodi"
                                               data-parsley-multiple="checkbox_1_2"
                                               data-parsley-id="48">
                                        <span class="form-field__fakecheckbox focus-enabled">@Translate.Text("PaybyNoqodi")</span>
                                    </label>
                                </div>
                                <div id="description-for-PaybyNoqodi" class="form-field__messages">
                                </div>
                            </fieldset>
                        </div>
                    }*@
            }
            else
            {
                <p class="form-field__button">
                    <a href="@ViewBag.LoginRedirect" class="button button--primary">@Translate.Text("easypay.logintopay")</a>
                </p>
                @Html.Sitecore().Placeholder("j15/m37-expander")
            }
            @Html.Sitecore().Placeholder("j14/expander")

            @* Payment Type Popup module *@
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_PaymentPopup.cshtml", IsPartailPayment ? string.Empty : Model.TotalAmount.ToString())

        </div>
    }
</div>
<script type="text/javascript">
        @*setTimeout(function () {
        if (("@(Model.PayThroughNoqodi)").toLowerCase() == "false") {
            jQuery("#form-field-PaybyNoqodi").prop('checked', false);
            }
    }, 500)*@
    jQuery('#continue-button-popup').on('click', function () {
        if (!jQuery('#continue-button-popup').parent().hasClass('disabled')) {
            var total = numeral(jQuery("input[name='TotalAmount']").val());

            jQuery('#divPaymentAmountVal').attr('data-value', total);
            jQuery('#divPaymentAmountVal').data('value', total);

            if (numeral(total) > 0) {
                //Set payment method based on paid amount
                setPaymentMethod(total);
                jQuery("#continue-button").html(numeral(parseFloat(total._value)).format('0,0.00') + " " + currency);
                jQuery('.btnmodaltrigger').trigger('click');
            }
          }
        });
</script>
@if (IsPartailPayment)
{
    <script type="text/javascript">
    docReady(function () {
        jQuery('.j102-tayseer-service--amount-pay-form-button--set').on('click', function () {
            var _this = this;
            var currency = '@Translate.Text("AED")';
            var value = jQuery(_this).parent().find('input').val();
            if (parseFloat(value) <= 0) {
                if (!jQuery('#continue-button-popup').parent().hasClass('disabled')) {
                    jQuery('#continue-button').parent().addClass('disabled');

                    jQuery('#continue-button-popup').parent().addClass('disabled');
                }
                jQuery('#continue-button').parent().attr('disabled', true);

                jQuery('#continue-button-popup').parent().attr('disabled', true);
            } else {
                jQuery('#continue-button').parent().removeClass('disabled');
                jQuery('#continue-button').parent().attr('disabled', false);

                jQuery('#continue-button-popup').parent().removeClass('disabled');
                jQuery('#continue-button-popup').parent().attr('disabled', false);
            }
            if (value != "" && parseFloat(value) > 0) {
                //jQuery("input[name='TotalAmountdummy']").val(numeral(parseFloat(value)).format('0,0.00') + " " + currency);
                jQuery("input[name='TotalAmount']").val(parseFloat(value));
                jQuery("#continue-button").html(numeral(parseFloat(value)).format('0,0.00') + " " + currency);
                jQuery("#continue-button").attr("data-amount",numeral(parseFloat(value)));
                jQuery("#continue-button-popup").html(numeral(parseFloat(value)).format('0,0.00') + " " + currency);
            }
            else
            {
                jQuery("input[name='TotalAmount']").val(parseFloat(0));
                jQuery("#continue-button").html(numeral(parseFloat(0)).format('0,0.00') + " " + currency);
                jQuery("#continue-button-popup").html(numeral(parseFloat(0)).format('0,0.00') + " " + currency);
            }
        });

        jQuery('.txtAmountPay').on('focusout', function () {
            jQuery('.j102-tayseer-service--amount-pay-form-button--set').trigger('click');
        });

        //jQuery('.txtAmountPay').off('keydown.submit');
        setTimeout(function () {
            jQuery('.txtAmountPay').off('keydown.submit');
            jQuery('.txtAmountPay').off('keypress.submit');
            jQuery('.txtAmountPay').off('keyup.submit');
        }, 250);


        setTimeout(function () {

            $('#frmEzPay').on('keyup keypress keydown', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();


                    if (jQuery(this).parsley().isValid() && parseFloat($('.txtAmountPay').val()) > 0)
                    {
                        jQuery('#continue-button').parent().removeClass('disabled');
                        jQuery('#continue-button').parent().attr('disabled', false);

                        jQuery('#continue-button-popup').parent().removeClass('disabled');
                        jQuery('#continue-button-popup').parent().attr('disabled', false);

                        jQuery('.btnmodaltrigger').trigger('click');


                    }
                    else
                    {

                        jQuery('#continue-button').parent().addClass('disabled');
                        jQuery('#continue-button-popup').parent().addClass('disabled');
                        jQuery('#continue-button').parent().attr('disabled', true);
                        jQuery('#continue-button-popup').parent().attr('disabled', true);
                    }





                    return false;
                }
            });
        }, 400);



        var currency = '@Translate.Text("AED")';
        setTimeout(function () {
            jQuery('.j102-tayseer-service--amount-pay-form-button--set').trigger('click');
        }, 50);

        jQuery("input[name='TotalAmountdummy']").val(numeral(parseFloat('@Model.TotalAmount')).format('0,0.00') + " " + currency);

        jQuery('.j102-tayseer-service--amount-pay-form-button--cancel').on('click', function () {
            var _this = this;
            var currency = '@Translate.Text("AED")';
            var value = '@(Model.TotalAmount > 0 ? Model.TotalAmount : 0)';

            jQuery("input[name='TotalAmount']").val(parseFloat(value));
            jQuery(".txtAmountPay").val(parseFloat(value));
            jQuery(".txtAmountPay").parsley().validate();
            jQuery("#continue-button").html(numeral(parseFloat(value)).format('0,0.00') + " " + currency);
            jQuery("#continue-button").attr("data-amount", numeral(parseFloat(value)).format('0,0.00'));
            jQuery("#continue-button-popup").html(numeral(parseFloat(value)).format('0,0.00') + " " + currency);
        });
    });
    </script>
}



