@model DEWAXP.Feature.IdealHome.Models.IdealHomeConsumer.User
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
<style>
    .j106-ideal-home__stat-step {
        font-size: 20px;
    }
</style>


<div class="grid">

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            @Html.Sitecore().Placeholder("ideal-home-score")
        </div>
    </div>

</div>

<div class="box box--6">
    <div class="grid">
        <div class="grid__row">


            @Html.Sitecore().Placeholder("ideal-home-firstassessment")

            @Html.Sitecore().Placeholder("ideal-home-video")

            @Html.Sitecore().Placeholder("ideal-home-finalassessment")

            @Html.Sitecore().Placeholder("ideal-home-certificate")


        </div>
    </div>
</div>
<script>
    $('.disabled.button').on('click', function (event) {
        event.preventDefault();
    });
</script>

<script src="~/Scripts/External/nml/form-submit-validate.js"></script>