@model DEWAXP.Feature.IdealHome.Models.IdealHomeConsumer.User
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content

<div class="grid j07-customer-login">
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">

            <div class="m12-myaccount__login-form">
                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @data_parsley_focus = "true", @data_form = "true", @class = "form", @data_submit_validate = "enabled", @novalidate = true, @autocomplete = "off" }))
                {
                    @Html.Sitecore().FormHandler()
                    @Html.AntiForgeryToken()

                    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

                    <div class="form-field form-field--text ">

                        <label for="EmailAddress" class="form-field__label">
                            @Translate.Text("J106.EmailLabel")
                            <span class="form-field__label-required aria-only">(required)</span>

                        </label>
                        <span class="form-field__input-wrapper">
                            <input class="form-field__input form-field__input--text"
                                   id="EmailAddress"
                                   name="EmailAddress"
                                   type="email"
                                   placeholder="@Translate.Text("J106.EmailLabel")"
                                   aria-describedby="description-for-8kmzs9xfm"
                                   data-parsley-errors-container="#description-for-8kmzs9xfm"
                                   required
                                   data-parsley-required-message="@Translate.Text("J106.FieldRequired")"
                                   data-parsley-error-message="@Translate.Text("J106.ValidEmailUsername")" />
                        </span>


                        <div id="description-for-8kmzs9xfm" class="form-field__messages">
                        </div>
                    </div>
                    <div class="form-field form-field--text ">
                        <label for="form-field-whjmkg2un" class="form-field__label">
                            @Translate.Text("J106.PasswordLabel")
                            <span class="form-field__label-required aria-only">(required)</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <input class="form-field__input form-field__input--text	"
                                   id="form-field-whjmkg2un"
                                   name="password"
                                   type="password"
                                   autocomplete="off"
                                   placeholder="@Translate.Text("J106.PasswordLabel")"
                                   aria-describedby="description-for-whjmkg2un"
                                   data-parsley-errors-container="#description-for-whjmkg2un"
                                   required
                                   data-parsley-required-message="@Translate.Text("J106.PleaseEnterPassword")" />
                        </span>


                        <div id="description-for-whjmkg2un" class="form-field__messages">

                        </div>

                    </div>
                    <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.IDEALHOMECONSUMER_FORGOTPASSWORD)" class="form-links__link j106-ideal-home-ra">
                        @Translate.Text("forgot password link text")
                    </a>

                    @*<div class="form-field form-field--toggles">

                <fieldset class="fieldset">


                    <legend class="form-field__label aria-only">
                        Remember Me

                        <span class="form-field__label-optional">(optional)</span>

                    </legend>

                    <div class="form-field__checkbox  last  first">
                        <label>
                            <input class="form-field__input form-field__input--checkbox"
                                   id="form-field-checkbox_rememberme1"
                                   name="checkbox_rememberme1"
                                   type="checkbox"
                                   value="1"
                                   aria-describedby="description-for-qzvxfvz6k"
                                   data-parsley-errors-container="#description-for-qzvxfvz6k">

                            <span class="form-field__fakecheckbox focus-enabled">
                                Remember me
                            </span>
                        </label>

                    </div>


                    <div id="description-for-qzvxfvz6k" class="form-field__messages">


                    </div>



                </fieldset>

            </div>*@


                    <div class="form-field__button">
                        <button id="loginButton" type="submit" class="button button--primary" data-submission-text="@Translate.Text("Logging in")...">@Translate.Text("login button text")</button>
                    </div>
                }
                </div>
                <span class="create form-links">
                    @Translate.Text("or") <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.IDEALHOMECONSUMER_USER_REGISTRATION)" class="form-links__link"> @Translate.Text("J106.RegisterLabel")</a>
                </span>
                @*<p>
            @Translate.Text("J106.NotRegisterLabel")<br />
            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.IDEALHOMECONSUMER_USER_REGISTRATION)" style="color:#2B8729">
                @Translate.Text("J106.RegisterLabel")
            </a>

        </p>*@

            </div>
    </div>

</div>

<script src="~/Scripts/External/nml/form-submit-validate.js"></script>