@model DEWAXP.Feature.IdealHome.Models.IdealHomeConsumer.User
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
<div class="j105-drrg">
    <div class="m66-preloader j105-drrg--loader hidden preload-fix">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    <h2 class="text__section-subtitle">@Translate.Text("J100.Pleasewait")</h2>
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid" data-journey="j106-ideal-home">
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">

            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

            @{
                var Nationalities = DEWAXP.Foundation.Helpers.Extensions.FormExtensions.GetNationalities(null, false);
                var isDEWAchecked = "";
                var isNonDEWAchecked = "";

                if (Model.IsDEWACustomer)
                {
                    isDEWAchecked = "checked";
                }
                else
                {
                    isNonDEWAchecked = "checked";
                }
            }

            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_parsley_focus = "none", @data_form = "true", @class = "form", @id = "idealhomeuserreg", @data_submit_validate = "enabled", enctype = "multipart/form-data", @autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-field">
                    <fieldset class="fieldset">
                        <legend class="form-field__label">
                            @Translate.Text("J106.RegisterasLabel")
                            <span class="form-field__label-required aria-only">(required)</span>
                        </legend>
                        <p class="form-field__radio ">
                            <label>
                                <input class="form-field__input form-field__input--radio" id="form-field-registration_type--customer"
                                       aria-label="form-field-registration_type--customer"
                                       name="IsDEWACustomer"
                                       type="radio"
                                       value=true
                                       aria-describedby="description-for-dy4thpja3"
                                       data-parsley-errors-container="#description-for-dy4thpja3"
                                       checked="@isDEWAchecked">

                                <span class="form-field__fakeradio focus-enabled">
                                    @Translate.Text("J106.DEWACustomerLabel")
                                </span>
                            </label>
                        </p>
                        <p class="form-field__radio ">
                            <label>
                                <input class="form-field__input form-field__input--radio" id="form-field-registration_type--new"
                                       aria-label="form-field-registration_type--new"
                                       name="IsDEWACustomer"
                                       type="radio"
                                       value=false
                                       checked="@isNonDEWAchecked"
                                       aria-describedby="description-for-dy4thpja3"
                                       data-parsley-errors-container="#description-for-dy4thpja3">

                                <span class="form-field__fakeradio focus-enabled">
                                    @Translate.Text("J106.NewCustomerLabel")
                                </span>
                            </label>
                        </p>
                        <div id="description-for-dy4thpja3" class="form-field__messages">
                        </div>
                    </fieldset>
                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-l88nbadxq" class="form-field__label">
                        @Translate.Text("Friends account number")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-l88nbadxq"
                               name="account_number"
                               value="@Model.account_number"
                               type="number"
                               placeholder="@Translate.Text("Friends account number")"
                               aria-describedby="description-for-l88nbadxq"
                               data-parsley-errors-container="#description-for-l88nbadxq"
                               required
                               @*data-parsley-account_number=""
                               data-parsley-account_number-message='@Translate.Text("Please enter a valid 10 digit account number")'*@
                               data-parsley-trigger="focusout"
                               data-parsley-pattern="/^[0-9]{9,10}$/"
                               data-parsley-pattern-message='@Translate.Text("Please enter a valid 10 digit account number")'
                               data-parsley-error-message="@Translate.Text("Please enter an account or premise number")"
                               data-parsley-required-message="@Translate.Text("Please enter") @Translate.Text("J106.DEWAccountLabel")" />
                    </span>
                    <div id="description-for-l88nbadxq" class="form-field__messages">
                        <p class="form-field__description"><a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.UNDERSTAND_YOUR_BILL)" class="link"> @Translate.Text("Where do I find my friends account number")</a></p>
                    </div>
                </div>
                <div class="form-field">
                    <fieldset class="fieldset">
                        <legend class="form-field__label">
                            @Translate.Text("J106.TypeofResidenceLabel")
                            <span class="form-field__label-optional"></span>
                        </legend>
                        <p class="form-field__radio ">
                            <label>
                                <input class="form-field__input form-field__input--radio" id="form-field-radio_1_1"
                                       aria-label="form-field-radio_1_1"
                                       name="TypeofResidence"
                                       type="radio"
                                       value="Villa"
                                       aria-describedby="description-for-e056mkooi"
                                       data-parsley-errors-container="#description-for-e056mkooi"
                                       checked>
                                <span class="form-field__fakeradio focus-enabled">
                                    @Translate.Text("J106.VillaLabel")
                                </span>
                            </label>
                        </p>
                        <p class="form-field__radio ">
                            <label>
                                <input class="form-field__input form-field__input--radio" id="form-field-radio_1_2"
                                       aria-label="form-field-radio_1_2"
                                       name="TypeofResidence"
                                       type="radio"
                                       value="Apartment"
                                       aria-describedby="description-for-e056mkooi"
                                       data-parsley-errors-container="#description-for-e056mkooi">
                                <span class="form-field__fakeradio focus-enabled">
                                    @Translate.Text("J106.ApartmentLabel")
                                </span>
                            </label>
                        </p>
                        <div id="description-for-e056mkooi" class="form-field__messages">
                        </div>
                    </fieldset>
                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-74t3qx8p2" class="form-field__label">
                        @Translate.Text("J106.EmailLabel")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-74t3qx8p2"
                               name="EmailAddress"
                               type="email"
                               value="@Model.EmailAddress"
                               placeholder="@Translate.Text("J106.EnterEmailAddress")"
                               aria-describedby="description-for-74t3qx8p2"
                               data-parsley-errors-container="#description-for-74t3qx8p2"
                               required
                               data-parsley-required-message="@Translate.Text("Please enter") @Translate.Text("J106.EmailLabel")"
                               data-parsley-type-message="@Translate.Text("J106.ValidEmailUsername")" />
                    </span>
                    <div id="description-for-74t3qx8p2" class="form-field__messages">
                    </div>
                </div>
                @*<input type="hidden" name="Password" />*@
                <div class="form-field form-field--text ">
                    <label for="form-field-password" class="form-field__label">
                        @Translate.Text("J106.PasswordLabel")

                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               maxlength="12"
                               id="form-field-password"
                               name="Password"
                               type="password"
                               autocomplete="off"
                               data-parsley-minlength="8"
                               placeholder="@Translate.Text("J106.PasswordLabel")"
                               aria-describedby="description-for-password"
                               data-parsley-errors-container="#description-for-password"
                               required
                               data-parsley-equalto-message="@Translate.Text("J106.MatchPassword")"
                               data-parsley-required-message="@Translate.Text("Please enter") @Translate.Text("J106.PasswordLabel")"
                               data-parsley-minlength-message="@Translate.Text("J106.MinPassword")" />
                    </span>
                    <div id="description-for-password" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Password, string.Empty, new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-rfdru9z8c" class="form-field__label">
                        @Translate.Text("J106.ConfirmPasswordLabel")

                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               maxlength="12"
                               data-parsley-minlength="8"
                               id="form-field-rfdru9z8c"
                               name="ConfirmPassword"
                               type="password"
                               autocomplete="off"
                               placeholder="@Translate.Text("J106.ConfirmPasswordLabel")"
                               aria-describedby="description-for-rfdru9z8c"
                               data-parsley-errors-container="#description-for-rfdru9z8c"
                               required
                               data-parsley-required-message="@Translate.Text("Please enter") @Translate.Text("J106.ConfirmPasswordLabel")"
                               data-parsley-equalto="#form-field-password"
                               data-parsley-equalto-message="@Translate.Text("J106.MatchPassword")"
                               data-parsley-minlength-message="@Translate.Text("J106.MinPassword")" />
                    </span>
                    <div id="description-for-rfdru9z8c" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.ConfirmPassword, string.Empty, new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-cpb9ghtqi" class="form-field__label">
                        @Translate.Text("J106.AccountOwnerNameLabel")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-cpb9ghtqi"
                               value="@Model.owner_name"
                               name="owner_name"
                               type="text"
                               maxlength="70"
                               data-parsley-maxlength="70"
                               placeholder="@Translate.Text("J106.EnterAccountOwner")"
                               aria-describedby="description-for-cpb9ghtqi"
                               data-parsley-errors-container="#description-for-cpb9ghtqi"
                               required
                               data-parsley-required-message="@Translate.Text("Please enter") @Translate.Text("J106.AccountOwnerNameLabel")" />

                    </span>
                    <div id="description-for-cpb9ghtqi" class="form-field__messages">
                    </div>
                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-eygw0p8ns" class="form-field__label">
                        @Translate.Text("J106.MobileNumberLabel")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper
               form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                        <input class="form-field__input form-field__input--text form-field__input--prefixed"
                               id="form-field-eygw0p8ns"
                               maxlength="9"
                               name="Mobile"
                               type="tel"
                               value="@Model.Mobile"
                               placeholder="@Translate.Text("J106.MobileNumberLabel")"
                               aria-describedby="description-for-eygw0p8ns"
                               data-parsley-errors-container="#description-for-eygw0p8ns"
                               required
                               data-parsley-required-message="@Translate.Text("Please enter") @Translate.Text("J106.MobileNumberLabel")"
                               data-parsley-mobile_number=""
                               data-parsley-mobile_number-message="@Translate.Text("Please enter a valid UAE mobile number")" />
                    </span>
                    <div id="description-for-eygw0p8ns" class="form-field__messages">
                    </div>
                </div>
                @*<div class="form-field form-field--select form-field--select-single" style="display:none">
                        <label for="form-field-sxlsmzc1f" class="form-field__label">
                            @Translate.Text("J106.TitleLabel")
                            <span class="form-field__label-required aria-only">(required)</span>
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select class="form-field__input form-field__input--select form-field__input--select-full"
                                    id="form-field-sxlsmzc1f"
                                    name="Title"
                                    aria-describedby="description-for-sxlsmzc1f"
                                    data-parsley-errors-container="#description-for-sxlsmzc1f"
                                    required
                                    data-parsley-required-message="@Translate.Text("Please enter") @Translate.Text("J106.TitleLabel")">
                                <option value="" selected>@Translate.Text("J106.SelectTitleLabel")</option>
                                @foreach (var item in Model.TitleList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </span>
                        <div id="description-for-sxlsmzc1f" class="form-field__messages">
                        </div>
                    </div>*@
                <div class="form-field form-field--text ">
                    <label for="form-field-e2k586vvu" class="form-field__label">
                        @Translate.Text("J106.FullnameLabel")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-e2k586vvu"
                               name="FullName"
                               value="@Model.FullName"
                               type="text"
                               placeholder="@Translate.Text("J106.EnterFullName")"
                               aria-describedby="description-for-e2k586vvu"
                               data-parsley-errors-container="#description-for-e2k586vvu"
                               required
                               data-parsley-required-message="@Translate.Text("Please enter") @Translate.Text("J106.FullnameLabel")" />
                    </span>
                    <div id="description-for-e2k586vvu" class="form-field__messages">
                    </div>
                </div>
                <div class="form-field form-field--select form-field--select-single">
                    <label for="form-field-xjmtd9339" class="form-field__label">
                        @Translate.Text("J106.NationalityLabel")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--select">
                        <select class="form-field__input form-field__input--select form-field__input--select-full"
                                id="form-field-xjmtd9339"
                                name="Nationality"
                                aria-describedby="description-for-xjmtd9339"
                                data-parsley-errors-container="#description-for-xjmtd9339"
                                required
                                data-parsley-required-message="@Translate.Text("Please select") @Translate.Text("J106.NationalityLabel")">
                            <option value="" selected>@Translate.Text("J106.SelectNationality")</option>

                            @foreach (var item in Nationalities)
                            {

                                <option value="@item.Value">@item.Text</option>
                            }

                        </select>
                    </span>
                    <div id="description-for-xjmtd9339" class="form-field__messages">
                    </div>
                </div>

                <div class="form-field form-field--select form-field--select-single">
                    <label for="form-field-sclf04qh4" class="form-field__label">
                        @Translate.Text("J106.NumberOfResidentsLabel")
                        <span class="form-field__label-optional"></span>
                    </label>

                    <input class="form-field__input form-field__input--text"
                           id="form-field-sclf04qh4"
                           maxlength="2"
                           type="text"
                           pattern="\d*"
                           placeholder="@Translate.Text("J106.EnterNumberOfResidentsLabel")"
                           name="NumberofResidence"
                           aria-describedby="description-for-sclf04qh4"
                           data-parsley-errors-container="#description-for-sclf04qh4"
                           data-parsley-required-message="@Translate.Text("J106.NumberOfResidentsLabel")" />

                    <div id="description-for-sclf04qh4" class="form-field__messages">
                    </div>
                </div>
                <div class="form-field form-field--toggles">
                    <fieldset class="fieldset">
                        <legend class="legend-color">.</legend>
                        <div class="form-field__checkbox  last  first">
                            <label>
                                <input class="form-field__input form-field__input--checkbox" id="form-field-checkbox_1_1_terms" name="AgreedToPayment" type="checkbox" value="true" aria-describedby="description-for-accept-terms" required="" data-parsley-error-message="@Translate.Text("Error Terms Agreement")" data-parsley-errors-container="#description-for-accept-terms" data-parsley-multiple="form-field-checkbox_1_1_terms" data-parsley-id="23">

                                <span class="form-field__fakecheckbox focus-enabled">
                                    <span class="text"></span> @Html.Sitecore().Placeholder("j26/m39-modal-overlay")
                                </span>
                            </label>
                        </div>
                        <div id="description-for-9t75qhpyk" class="form-field__messages">
                        </div>
                    </fieldset>
                </div>
                if ((bool)ViewBag.Recaptcha)
                {
                    <div class="g-recaptcha" id="captchaac_form" data-callback="recaptchaCallback" data-sitekey="@(ViewBag.SiteKey)"></div>
                    <span id='errorContainer' class="parsley-errors-list"></span>
                }
                <div class="form-field__button">
                    <button type="submit" class="button button--primary button--submit" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("J106.RegisterLabel")</button>
                </div>
            }
        </div>
    </div>
</div>


<style>
    .preload-fix {
        top: 0px;
        bottom: 0px;
        position: fixed !important;
    }
</style>


@*<script>

        $('#form-field-eygw0p8ns[maxlength]').on('keydown', function (event) {
            var $this = $(this);
            if ($this.val().length > parseInt($this.attr('maxlength'), 10)) {
                event.preventDefault();
            }
        });


    </script>*@
<script src="~/Scripts/External/nml/form-submit-validate.js"></script>
<script type="text/javascript">
    //jQuery('.preload').on('click', function () {
    //    if (jQuery('#idealhomeuserreg').parsley().validate()) {
    //        jQuery('.m66-preloader').removeClass('hidden')
    //    }
    //}
    //)
    docReady(function () {
        require(['parsley'], function () {
            // submit button click event
            jQuery('#idealhomeuserreg').submit(function (e) {

                //initail setup
                jQuery('.j105-drrg--loader').hide();
                $('body').removeClass('unscrollable');

                try {
                    ///validation
                    if (!jQuery('#idealhomeuserreg').parsley().validate() || !recaptchaCallback()) {
                        e.preventDefault();
                        return false;
                    }
                    else {
                        jQuery('.j105-drrg--loader').show();
                        jQuery('.j105-drrg--loader').css('top', $(window).scrollTop());
                        $('body').removeClass('unscrollable').addClass('unscrollable');
                        return true;
                    }
                } catch (e) {
                    console.log(e);
                    jQuery('.j105-drrg--loader').hide();
                    $('body').removeClass('unscrollable');
                }
                return false;
            });
        });

        //recaptcha callback function
            function recaptchaCallback() {
                if (jQuery("#captchaac_form").length > 0) {

                    var v = grecaptcha.getResponse();
                    if (v.length == 0) {
                        jQuery('#errorContainer').text('@Translate.Text("FG_Capatcha_Valid")');
                        return false;
                    }
                    else {
                        jQuery('#errorContainer').text("");
                        return true;
                    }
                }
                return true;
        }
    });


</script>