@model DEWAXP.Feature.IdealHome.Models.IdealHomeConsumer.UserViewModel
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Web.Common;
@using X.PagedList.Web
@using DEWAXP.Foundation.Content
@using DEWAXP.Feature.IdealHome.Models.IdealHomeConsumer;




<div class="grid userlistgrid">
    <ul class="user-widget__links float_right">
        <li class="user-widget__link-item">
            <a class="user-widget__link user-widget__link--profile">@Session["FullName"].ToString()</a> |
            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.IDEALHOMECONSUMER_LOGOFF)" class="user-widget__link">@Translate.Text("P106.LogOff")</a>

        </li>
    </ul>
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div>Total Number of Registrations : <strong>@Model.Total</strong></div>
            <div id="userlistcontent">
                @Html.Partial("~/Views/Feature/IdealHome/IdealHomeConsumer/_UsersList.cshtml", Model)
            </div>
            <span class="pager_update" data-pager-update="true"></span>
            <span class="reset_update" data-reset-update="true"></span>
        </div>
    </div>

</div>

<script type="text/javascript">
    function GetRecords(_url) {
        if (_url != '' && _url != null) {
            jQuery.ajax({
                url: _url,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $("#userlistcontent").html('');
                    $("#userlistcontent").html(result);
                    $('.pager_update').click();
                    $('#userlistcontent').animate({
                        scrollTop: 0
                    }, 600);
                }
            });
        }
    }
</script>

