@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Helpers 
@using Sitecore.Globalization
@model DEWAXP.Feature.Events.Models.Events.PODRegistrationModel

@if (Model != null)
{
    <div class="box box--pod">
        <div class="m97-pod" data-component="m97-pod">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column grid__column--6">
                        <h2 class="m97-pod-title">
                            @Translate.Text("POD_Event_Title")
                        </h2>
                        <img class="pod-sketch" src="~/images/pod-sketch.png" alt="pod sketch">
                    </div>
                    <div class="grid__column grid__column--6">
                        <div class="m97-pod-form-wrapper">
                            <div class="m97-pod-form">
                                <div class="m40-status-message m40-status-message--success  icon icon-new-success-message " data-component="m40-status-message">
                                    <div class="m40-status-message__title">@Model.Message</div>
                                    <div class="m40-status-message__text">
                                        @Translate.Text("POD_Event_Successtext")
                                    </div>
                                </div>
                                <div class="form-field__button">
                                    <a class="button button--primary" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.PODEventRegistration)" data-close="true" id="_sezpd4dxr_close">@Translate.Text("POD_Event_Registration")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
