@using DEWAXP.Foundation.Integration.CorporatePortal
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form static-form", @id = "form-submitissues", data_form = "true", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="m39-modal__header">
        <div class="m39-modal__title">@Translate.Text("cpportal.Submit Issues")</div>
        <a data-close="true" class="m39-modal__button--close" id="submit_issues_close" aria-controls="submit_issues_content"></a>
    </div>
    <div class="m39-modal__content" id="submit_issues_content">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <fieldset class="fieldset">
                    <legend class="legend-color">.</legend>
                    @*<div class="form-field form-field--select form-field--select-single">
                            <label for="form-field-tolist" class="form-field__label">
                                To
                            </label>
                            <span class="form-field__input-wrapper form-field__input-wrapper--select removePseudo">
                                <select class="m5-quick-services--mail_select form-field__input form-field__input--select form-field__input--select-full form-field__input--select2 select2-hidden-accessible"
                                        id="form-field-tolist" select2-isemail="true" name="division_linkage" multiple="" aria-describedby="description-for-tolist" data-parsley-errors-container="#description-for-tolist" placeholder="Send to" required="" data-parsley-required-message="This field is required" data-select2-id="form-field-tolist" tabindex="-1" aria-hidden="true" data-parsley-trigger="change"></select>
                            </span>
                            <div id="description-for-tolist" class="form-field__messages">
                            </div>
                        </div>*@

                    <div class="form-field form-field--text  ">
                        <label for="form-field-requestername_issues" class="form-field__label">
                            @Translate.Text("cpportal.requestername")
                        </label>
                        <span class="form-field__input-wrapper">
                            <input class="form-field__input form-field__input--text"
                                   id="form-field-requestername_issues"
                                   name="requestername_issues"
                                   type="text"
                                   maxlength="100"
                                   placeholder="@Translate.Text("cpportal.requesternameph")"
                                   aria-describedby="description-for-requestername_issues"
                                   data-parsley-errors-container="#description-for-requestername_issues"
                                   required=""
                                   data-parsley-required-message="@Translate.Text("cpportal.requesternamemsg")"
                                   data-parsley-trigger="focusout"
                                   data-parsley-id="14">
                        </span>
                        <div id="description-for-requestername_issues" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field form-field--text ">
                        <label for="form-field-EmailAddress_issues" class="form-field__label">
                            @Translate.Text("cpportal.Emailaddress")
                        </label>
                        <label class="form-field__input-wrapper">
                            <input class="form-field__input form-field__input--text"
                                   id="form-field-emailaddress_issues"
                                   name="Emailaddress_issues"
                                   type="email"
                                   maxlength="50"
                                   placeholder="@Translate.Text("cpportal.Emailaddressph")"
                                   aria-describedby="description-for-EmailAddress_issues"
                                   data-parsley-errors-container="#description-for-EmailAddress_issues"
                                   required=""
                                   data-parsley-required-message="@Translate.Text("cpportal.Emailaddressmsg")"
                                   data-parsley-error-message="@Translate.Text("cpportal_EmailaddressValidationMsg")"
                                   data-parsley-trigger="focusout"
                                   data-parsley-id="14">
                        </label>
                        <div id="description-for-EmailAddress_issues" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field form-field--text  ">
                        <label for="form-field-subject_issues" class="form-field__label">
                            @Translate.Text("cpportal.Subject")
                        </label>
                        <span class="form-field__input-wrapper">
                            <input class="form-field__input form-field__input--text"
                                   id="form-field-subject_issues"
                                   name="subject_issues"
                                   type="text"
                                   maxlength="100"
                                   aria-describedby="description-for-subject_issues"
                                   data-parsley-errors-container="#description-for-subject_issues"
                                   required=""
                                   placeholder="@Translate.Text("cpportal.Subjectph")"
                                   data-parsley-required-message="@Translate.Text("cpportal.Subjectmsg")"
                                   data-parsley-trigger="focusout"
                                   data-parsley-id="14">
                        </span>
                        <div id="description-for-subject_issues" class="form-field__messages">
                        </div>
                    </div>
                    <div class="form-field form-field--text form-field--textarea">
                        <label for="form-field-message_issues" class="form-field__label">
                            @Translate.Text("cpportal.Issues")
                        </label>
                        <span class="form-field__input-wrapper">
                            <textarea class="form-field__input form-field__input--text form-field__input--textarea"
                                      data-textarea="message_issues"
                                      id="form-field-message_issues"
                                      name="message"
                                      type="textarea"
                                      maxlength="500"
                                      placeholder="@Translate.Text("cpportal.issuesph")"
                                      aria-describedby="description-for-message_issues"
                                      data-parsley-errors-container="#description-for-message_issues"
                                      required=""
                                      data-parsley-required-message="@Translate.Text("cpportal.issuesmsg")"
                                      data-parsley-id="22"></textarea>
                        </span>
                        <div id="description-for-message_issues" class="form-field__messages">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="m39-modal__footer">
        <div id="sendbuttonissues" class="button button--primary button--next" data-accountupdate="true" data-modal-confirm="true">@Translate.Text("cpportal.send")</div>
        <div class="button m5-quick-services--issues_cancel" id="submitissuescancel">@Translate.Text("cpportal.cancel")</div>
    </div>
}
<script>
    docReady(function () {
        jQuery("#sendbuttonissues").off('click.send').on('click.send', function (event) {
            //event.preventDefault();
            //event.stopPropagation();
            if (jQuery("#form-submitissues").parsley().validate()) {
                //var tolisttext = [];
                //$('#form-field-tolist option:selected').each(function () {
                //    tolisttext.push($(this).val());
                //});
                //var $tolist = tolisttext.join("; ");
                var url = "/api/sitecore/CorporatePartnership/ReportIssues";
                jQuery.ajax({
                    url: url,
                    traditional: true,
                    data:
                        AddForgeryToken({
                            requestername: jQuery('#form-submitissues').find('#form-field-requestername_issues').val(),
                            requesteremail: jQuery('#form-submitissues').find('#form-field-emailaddress_issues').val(),
                            subject: jQuery('#form-submitissues').find('#form-field-subject_issues').val(),
                            message: jQuery('#form-submitissues').find('#form-field-message_issues').val()
                        }, "form-submitissues"),
                    beforeSend: function () {
                        jQuery('.j1-CP--loader').show();
                        jQuery('.j1-CP--loader').css('top', $(window).scrollTop());
                    },
                    complete: function () {
                        jQuery('.j1-CP--loader').hide();
                    },
                    dataType: 'json',
                    type: 'POST',
                }).done(function (response) {

                    if (response.status) {
                        jQuery('#successtitlemessage').html('@Translate.Text("cpportal.success title")');
                        jQuery('#successtextmessage').html('@Translate.Text("cpportal.success text")');
                        jQuery('#form-submitissues').find('#submitissuescancel').trigger('click');
                        jQuery('#successmodal').find('.m39-modal__trigger').trigger('click');
                        $('#submittedissuescount').html(parseInt($('#submittedissuescount').html()) + 1);
                    }
                    else {
                        if (response.islogin == undefined) {
                            jQuery('#successtitlemessage').html('@Translate.Text("cpportal.failure title")');
                            jQuery('#successtextmessage').html('@Translate.Text("cpportal.failure text")');
                            jQuery('#form-submitissues').find('#submitissuescancel').trigger('click');
                            jQuery('#successmodal').find('.m39-modal__trigger').trigger('click');
                        }
                        else {
                            window.location.reload();
                        }
                    }
                });
            }
        });
        var $success_modal = jQuery('.m5-quick-services--mail_success');

        $success_modal.find('.m5-quick-services--mail_success-close').on('click', function () {
            $success_modal.find('.m39-modal__button--close').click();
        });
    });
</script>
