@using DEWAXP.Foundation.Integration.CorporatePortal
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form static-form", @id = "form-issuerequest", data_form = "true", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <style type="text/css">
        .picker {
            width: 330px !important;
        }

        @@media screen and (max-width: 1024px) {
            .picker {
                width: 100% !important;
            }
        }
    </style>
    <div class="m39-modal__header">
        <div class="m39-modal__title">@Translate.Text("cpportal.Request")</div>
        <a data-close="true" class="m39-modal__button--close" id="_qnz27sx8u_close" aria-controls="_qnz27sx8u_content"></a>
    </div>
    <div class="m39-modal__content" id="_qnz27sx8u_content">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <fieldset class="fieldset">
                    <legend class="legend-color">.</legend>

                    <div class="form-field form-field--text  ">
                        <label for="form-field-requestername_issues" class="form-field__label form-field__label--readonly">
                            @Translate.Text("cpportal.requestername")
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--readonly">
                            <input class="form-field__input form-field__input--readonly"
                                   id="form-field-requestername_issues"
                                   name="requestername_issues"
                                   type="text"
                                   maxlength="100"
                                   placeholder="@Translate.Text("cpportal.requesternameph")"
                                   aria-describedby="description-for-requestername_issues"
                                   data-parsley-errors-container="#description-for-requestername_issues"
                                   data-parsley-required-message="@Translate.Text("cpportal.requesternamemsg")"
                                   data-parsley-trigger="focusout"
                                   data-parsley-id="14">
                        </span>
                        <div id="description-for-requestername_issues" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field form-field--text ">
                        <label for="form-field-EmailAddress_issues" class="form-field__label form-field__label--readonly">
                            @Translate.Text("cpportal.Emailaddress")
                        </label>
                        <label class="form-field__input-wrapper form-field__input-wrapper--readonly">
                            <input class="form-field__input form-field__input--readonly"
                                   id="form-field-emailaddress_issues"
                                   name="Emailaddress_issues"
                                   type="email"
                                   maxlength="50"
                                   placeholder="@Translate.Text("cpportal.Emailaddressph")"
                                   aria-describedby="description-for-EmailAddress_issues"
                                   data-parsley-errors-container="#description-for-EmailAddress_issues"
                                   data-parsley-required-message="@Translate.Text("cpportal.Emailaddressmsg")"
                                   data-parsley-error-message="@Translate.Text("cpportal_EmailaddressValidationMsg")"
                                   data-parsley-trigger="focusout"
                                   data-parsley-id="14">
                        </label>
                        <div id="description-for-EmailAddress_issues" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field form-field--text  ">
                        <label for="form-field-subject_issues" class="form-field__label form-field__label--readonly">
                            @Translate.Text("cpportal.Subject")
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--readonly">
                            <input class="form-field__input form-field__input--readonly"
                                   id="form-field-subject_issues"
                                   name="subject_issues"
                                   type="text"
                                   maxlength="100"
                                   readonly=""
                                   aria-describedby="description-for-subject_issues"
                                   data-parsley-errors-container="#description-for-subject_issues"
                                   placeholder="@Translate.Text("cpportal.Subjectph")"
                                   data-parsley-required-message="@Translate.Text("cpportal.Subjectmsg")"
                                   data-parsley-trigger="focusout"
                                   data-parsley-id="14">
                        </span>
                        <div id="description-for-subject_issues" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field form-field--text form-field--textarea">
                        <label for="form-field-message_issues" class="form-field__label form-field__label--readonly">
                            @Translate.Text("cpportal.issues")
                        </label>
                        <p><strong id="form-field-message_issues"></strong></p>
                        <div id="description-for-message_issues" class="form-field__messages">
                        </div>
                    </div>
                    <div id="message_issues_updates_div" class="mt24 mb24">

                    </div>
                    <div class="form-field form-field--text form-field--textarea cancalleddiv">
                        <label for="form-field-message_issues_update" class="form-field__label">
                            @Translate.Text("cpportal.Updateissues")
                        </label>
                        <span class="form-field__input-wrapper">
                            <textarea class="form-field__input  form-field__input--text form-field__input--textarea"
                                      data-textarea="message_issues_update"
                                      id="form-field-message_issues_update"
                                      name="message_issues_update"
                                      type="textarea"
                                      maxlength="500"
                                      required=""
                                      placeholder="@Translate.Text("cpportal.issuesph")"
                                      aria-describedby="description-for-message_issues_update"
                                      data-parsley-errors-container="#description-for-message_issues_update"
                                      data-parsley-required-message="@Translate.Text("cpportal.issuesmsg")"
                                      data-parsley-id="22"></textarea>
                        </span>
                        <div id="description-for-message_issues_update" class="form-field__messages">
                        </div>
                    </div>
                    <input type="hidden" name="requestid" id="requestid" value="" />
                </fieldset>

            </div>
        </div>
    </div>
    <div class="m39-modal__footer">
        <div id="Updateissuesbutton" class="button button--primary button--next cancalleddiv" data-accountupdate="true" data-modal-confirm="true">@Translate.Text("cpportal.Update")</div>
        <div class="button m5-quick-services--issues_cancel" id="issuerequestcancel">@Translate.Text("cpportal.cancel")</div>
    </div>
}
<script>
    docReady(function () {
        jQuery("#Updateissuesbutton").off('click.send').on('click.send', function (event) {
            //event.preventDefault();
            //event.stopPropagation();
            //debugger;

            if (jQuery("#form-issuerequest").parsley().validate()) {
                //debugger;
                var url = "/api/sitecore/CorporatePartnership/Updateissues";
                jQuery.ajax({
                    url: url,
                    traditional: true,
                    data:
                        AddForgeryToken({
                            requestid: $('#requestid').val(),
                            updatedmessage: $('#form-field-message_issues_update').val()
                        }, "form-issuerequest"),
                    beforeSend: function () {
                        jQuery('.j1-CP--loader').show();
                        jQuery('.j1-CP--loader').css('top', $(window).scrollTop());
                    },
                    complete: function () {
                        jQuery('.j1-CP--loader').hide();
                    },
                    dataType: 'json',
                    type: 'POST',
                }).done(function (response) {
                    //jQuery('#form-issuerequest').find('#issuerequestcancel').trigger('click');
                    //jQuery('#successmodal').find('.m39-modal__trigger').trigger('click');

                    //$('#submittedrequestcount').html(parseInt($('#submittedrequestcount').html()) + 1);

                    if (response.status) {
                        jQuery('#successtitlemessage').html('@Translate.Text("cpportal.success title")');
                        jQuery('#successtextmessage').html('@Translate.Text("cpportal.success text")');
                        jQuery('#form-issuerequest').find('#issuerequestcancel').trigger('click');
                        jQuery('#successmodal').find('.m39-modal__trigger').trigger('click');
                    }
                    else {
                        if (response.islogin == undefined) {
                            jQuery('#successtitlemessage').html('@Translate.Text("cpportal.failure title")');
                            jQuery('#successtextmessage').html('@Translate.Text("cpportal.failure text")');
                            jQuery('#form-issuerequest').find('#issuerequestcancel').trigger('click');
                            jQuery('#successmodal').find('.m39-modal__trigger').trigger('click');
                        }
                        else {
                            window.location.reload();
                        }
                    }
                    //window.location.reload();

                });
            }
        });
        var $success_modal = jQuery('.m5-quick-services--mail_success');

        $success_modal.find('.m5-quick-services--mail_success-close').on('click', function () {
            $success_modal.find('.m39-modal__button--close').click();
            window.location.reload();
        });

    });
</script>