@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc;
@using DEWAXP.Foundation.Integration.CorporatePortal
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@using CommonContantHelper = DEWAXP.Foundation.Content.RegexConstant;
@model DEWAXP.Feature.Partner.Models.CorporatePartnership.SetNewPassword


<div class="grid__row">
    <div class="grid__column grid__column--12">
        <div class="m17-sectiontitle " data-component="m17-sectiontitle">
            <h3 class="m17-sectiontitle__title  text__section-title">@Translate.Text("cpportal.ChangePassword")</h3>
            <h5 class="m17-sectiontitle__subtitle text__section-subtitle">@Translate.Text("cpportal.Changepasswordsubhead")</h5>
        </div>
    </div>
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12  grid__column--form">
        @if (ViewBag.success != null && (bool)ViewBag.success)
        {
            <div class="m40-status-message m40-status-message--success  icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title">
                    @Translate.Text("cpportal.success title")
                </div>
                <div class="m40-status-message__text">
                    @Translate.Text("cpportal.Passwordchanged")
                </div>
            </div>
        }

        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_parsley_focus = "true", @data_form = "true", @class = "form", @data_submit_validate = "enabled", @novalidate = string.Empty, @autocomplete = "off" }))
        {
            @*@Html.Sitecore().FormHandler("ePass", "ChangePassword")*@
            @Html.AntiForgeryToken()
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

            <fieldset class="fieldset">
                <legend class="legend-color">.</legend>

                <div class="form-field form-field--text">
                    <label for="form-field-password" class="form-field__label">
                        @Translate.Text("cpportal.Oldpassword")
                    </label>

                    <span class="form-field__input-wrapper">
                        @Html.PasswordFor(x => x.OldPassword, new
                {
                    @class = "form-field__input form-field__input--text",
                    @id = "form-field-oldpassword",
                    @placeholder = Translate.Text("cpportal.Oldpassword"),
                    @required = "required",
                    @type = "password",
                    @data_parsley_error_message = Translate.Text("login password validation message alphanumeric"),
                    @data_parsley_errors_container = "#description-for-oldpassword",
                    @data_parsley_password = "",
                    @aria_describedby = "description-for-oldpassword",
                    @autocomplete = "off"
                })
                    </span>

                    <div id="description-for-oldpassword" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Password, string.Empty, new { @class = "parsley-errors-list" })
                    </div>
                </div>

                <div class="form-field form-field--text">
                    <label for="form-field-password" class="form-field__label">
                        @Translate.Text("cpportal.Newpassword")
                    </label>

                    <span class="form-field__input-wrapper">
                        @Html.PasswordFor(x => x.Password, new
                   {
                       @class = "form-field__input form-field__input--text",
                       @id = "form-field-newpassword",
                       @placeholder = Translate.Text("cpportal.Newpassword"),
                       @required = "required",
                       @type = "password",
                       @data_parsley_pattern = CommonContantHelper.PasswordRegexWithSmallLetterSymbolAndNumber,
                       @data_parsley_pattern_message = Translate.Text("Password Policy Mismatch Message"),
                        @data_parsley_error_message = Translate.Text("login password validation message alphanumeric"),
                       @data_parsley_errors_container = "#description-for-set-password",
                       @data_parsley_password = "",
                       @aria_describedby = "description-for-set-password",
                       @autocomplete = "off"
                   })
                    </span>

                    <div id="description-for-set-password" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Password, string.Empty, new { @class = "parsley-errors-list" })
                    </div>
                </div>

                <div class="form-field form-field--text">
                    <label for="form-field-confirm_password" class="form-field__label">
                        @Translate.Text("cpportal.Confirmpassword")
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.PasswordFor(x => x.ConfirmPassword, new
                   {
                       @class = "form-field__input form-field__input--text",
                       @id = "form-field-confirm_password",
                       @placeholder = Translate.Text("cpportal.Confirmpassword"),
                       @required = "required",
                       @type = "password",
                       @data_parsley_errors_container = "#description-for-confirm_password",
                       @data_parsley_pattern = CommonContantHelper.PasswordRegexWithSmallLetterSymbolAndNumber,
                       @data_parsley_pattern_message = Translate.Text("Password Policy Mismatch Message"),
                       @aria_describedby = "description-for-confirm_password",
                       @data_parsley_error_message = Translate.Text("Password mismatch error"),
                       @data_parsley_equalto = "#form-field-newpassword",
                       @autocomplete = "off"
                   })
                    </span>

                    <div id="description-for-confirm_password" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.ConfirmPassword, string.Empty, new { @class = "parsley-errors-list" })
                    </div>
                </div>
            </fieldset>

            <div class="form-field__button">
                <button class="button button--primary button--centered" focus-enabled" type="submit" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Submit")</button>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/External/nml/form-submit-validate.js"></script>

@if ((ViewBag.success != null && (bool)ViewBag.success) || (ViewBag.fail != null && (bool)ViewBag.fail))
{
    <script>
        setTimeout(
            function () {
                jQuery('#m25-tab-2').trigger('click');
            }, 250
        )
    </script>
}
