@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc;
@using DEWAXP.Foundation.Integration.CorporatePortal
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model externalUserEntity


<div class="grid__row">
    <div class="grid__column grid__column--12">
        <div class="m17-sectiontitle " data-component="m17-sectiontitle">
            <h3 class="m17-sectiontitle__title  text__section-title">@Translate.Text("cpportal.Partner Contact Info")</h3>
            <h5 class="m17-sectiontitle__subtitle text__section-subtitle">@Translate.Text("cpportal.This service enables you to edit your Contact Info")</h5>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="grid__row">
        <div class="grid__column grid__column--12  grid__column--form">
            <form method="get" class="form" data-form="true" action="#">
                <fieldset class="fieldset">
                    <legend class="legend">@Translate.Text("cpportal.Contact Information")</legend>

                    <div class="form-field form-field--text  ">
                        <label for="form-field-landline" class="form-field__label form-field__input--readonly">
                            @Translate.Text("cpportal.Landline")
                            <span class="form-field__label-required aria-only">(required)</span>
                        </label>
                        <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                            <input class="form-field__input form-field__input--readonly"
                                   id="form-field-landline"
                                   name="landline"
                                   type="number"
                                   aria-describedby="description-for-landline"
                                   data-parsley-errors-container="#description-for-landline"
                                   required
                                   readonly
                                   value="@(!string.IsNullOrWhiteSpace(Model.landlineNo)?Model.landlineNo:"-")" />
                        </div>
                        <div id="description-for-landline" class="form-field__messages">
                        </div>
                    </div>
                    <div class="form-field form-field--text  ">
                        <label for="form-field-mobilenumber" class="form-field__label form-field__input--readonly">
                            @Translate.Text("cpportal.Mobile Number")
                            <span class="form-field__label-required aria-only">(required)</span>
                        </label>
                        <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                            <input class="form-field__input form-field__input--readonly"
                                   id="form-field-mobilenumber"
                                   name="mobilenumber"
                                   type="text"
                                   aria-describedby="description-for-mobilenumber"
                                   data-parsley-errors-container="#description-for-mobilenumber"
                                   required
                                   readonly
                                   value="@(!string.IsNullOrWhiteSpace(Model.mobileNo)?Model.mobileNo:"-")" />
                        </div>
                        <div id="description-for-mobilenumber" class="form-field__messages">
                        </div>
                    </div>
                    <div class="form-field form-field--text  ">
                        <label for="form-field-email" class="form-field__label form-field__input--readonly">
                            @Translate.Text("cpportal.Emailaddress")<span class="form-field__label-required aria-only">(required)</span>
                        </label>
                        <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                            <input class="form-field__input form-field__input--readonly"
                                   id="form-field-email"
                                   name="email"
                                   type="email"
                                   aria-describedby="description-for-email"
                                   data-parsley-errors-container="#description-for-email"
                                   required
                                   readonly
                                   value="@(!string.IsNullOrWhiteSpace(Model.userAddress)?Model.userAddress:"-")" />
                        </div>
                        <div id="description-for-email" class="form-field__messages">
                        </div>
                    </div>
                    <div class="form-field form-field--text">
                        <label for="form-field-designation" class="form-field__label form-field__input--readonly">
                            @Translate.Text("cpportal.Designation")
                            <span class="form-field__label-required aria-only">(required)</span>
                        </label>
                        <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                            <input class="form-field__input form-field__input--readonly"
                                   id="form-field-designation"
                                   name="designation"
                                   type="text"
                                   aria-describedby="description-for-designation"
                                   data-parsley-errors-container="#description-for-designation"
                                   required
                                   readonly
                                   value="@(!string.IsNullOrWhiteSpace(Model.designation)?Model.designation:"-")" />
                        </div>
                        <div id="description-for-designation" class="form-field__messages">
                        </div>
                    </div>


                    <div class="form-field form-field--text">
                        <label for="form-field-address" class="form-field__label form-field__input--readonly">
                            @Translate.Text("cpportal.Partner Address")
                            <span class="form-field__label-required aria-only">(required)</span>
                        </label>
                        <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                            <input class="form-field__input form-field__input--readonly"
                                   id="form-field-address"
                                   name="address"
                                   type="text"
                                   aria-describedby="description-for-address"
                                   data-parsley-errors-container="#description-for-address"
                                   required
                                   readonly
                                   value="@(!string.IsNullOrWhiteSpace(Model.partnerAddress)?Model.partnerAddress:"-")" />
                        </div>
                        <div id="description-for-address" class="form-field__messages">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}
else
{
    <div class="m64-inbox--title">@Translate.Text("cpportal.No Information Available")</div>
}