@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc;
@using Sitecore.Globalization
@using DEWAXP.Foundation.Integration.CorporatePortal
@using DEWAXP.Foundation.Content
@model externalUserEntity


<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m17-sectiontitle " data-component="m17-sectiontitle">
                <h3 class="m17-sectiontitle__title  text__section-title">@Translate.Text("cpportal.Partner Profile Info")</h3>
                <h5 class="m17-sectiontitle__subtitle text__section-subtitle">@Translate.Text("cpportal.This service enables you to edit your Profile Info")</h5>
            </div>
        </div>
    </div>
    @if (Model != null)
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12  grid__column--form">
                <form method="get" class="form" data-form="true" action="j09_2.1-choose-verification-method.html" novalidate="">
                    <fieldset class="fieldset">
                        <legend class="legend">@Translate.Text("cpportal.Partner Information")</legend>
                        <div class="form-field form-field--text" style="display:none">
                            <label for="form-field-patnertype" class="form-field__label form-field__label--readonly">
                                @Translate.Text("cpportal.Partner Type")
                            </label>
                            <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                                <input class="form-field__input form-field__input--readonly"
                                       readonly=""
                                       id="form-field-patnertype"
                                       name="partner_type"
                                       type="text"
                                       value="@(!string.IsNullOrWhiteSpace(Model.partnerType)?Model.partnerType:"-")"
                                       aria-describedby="description-for-patnertype"
                                       data-parsley-errors-container="#description-for-patnertype"
                                       data-parsley-trigger="focusout">
                            </div>
                            <div id="description-for-patnertype" class="form-field__messages">
                            </div>
                        </div>
                        <div class="form-field form-field--text" style="display:none">
                            <label for="form-field-segment" class="form-field__label form-field__label--readonly">
                                @Translate.Text("cpportal.Segment")
                            </label>
                            <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                                <input class="form-field__input form-field__input--readonly"
                                       readonly=""
                                       id="form-field-segment"
                                       name="segment"
                                       type="text"
                                       value="@(!string.IsNullOrWhiteSpace(Model.segment)?Model.segment:"-")"
                                       aria-describedby="description-for-segment"
                                       data-parsley-errors-container="#description-for-segment"
                                       data-parsley-trigger="focusout">
                            </div>
                            <div id="description-for-segment" class="form-field__messages">
                            </div>
                        </div>
                        <div class="form-field form-field--text">
                            <label for="form-field-name" class="form-field__label form-field__input--readonly">
                                @Translate.Text("cpportal.Partner Name")
                                <span class="form-field__label-required aria-only">(required)</span>
                            </label>
                            <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                                <input class="form-field__input form-field__input--readonly"
                                       id="form-field-name"
                                       name="userName"
                                       type="text"
                                       aria-describedby="description-for-name"
                                       data-parsley-errors-container="#description-for-name"
                                       required
                                       readonly
                                       data-parsley-required-message="This field is required"
                                       value="@(!string.IsNullOrWhiteSpace(Model.partnerName)?Model.partnerName:"-")" />
                            </div>
                            <div id="description-for-name" class="form-field__messages">
                            </div>
                        </div>

                        <div class="form-field form-field--text">
                            <label for="form-field-sector" class="form-field__label form-field__input--readonly">
                                @Translate.Text("cpportal.Sector")
                                <span class="form-field__label-required aria-only">(required)</span>
                            </label>
                            <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                                <input class="form-field__input form-field__input--readonly"
                                       id="form-field-sector"
                                       name="sector"
                                       type="text"
                                       aria-describedby="description-for-sector"
                                       data-parsley-errors-container="#description-for-sector"
                                       required
                                       readonly
                                       data-parsley-required-message="This field is required"
                                       value="@(!string.IsNullOrWhiteSpace(Model.sector)?Model.sector:"-")" />
                            </div>
                            <div id="description-for-sector" class="form-field__messages">
                            </div>
                        </div>


                        <div class="form-field form-field--text">
                            <label for="form-field-region" class="form-field__label form-field__input--readonly">
                                @Translate.Text("cpportal.Region")
                                <span class="form-field__label-required aria-only">(required)</span>
                            </label>
                            <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                                <input class="form-field__input form-field__input--readonly"
                                       id="form-field-region"
                                       name="region"
                                       type="text"
                                       aria-describedby="description-for-region"
                                       data-parsley-errors-container="#description-for-region"
                                       required
                                       readonly
                                       data-parsley-required-message="This field is required"
                                       value="@(!string.IsNullOrWhiteSpace(Model.region)?Model.region:"-")" />
                            </div>
                            <div id="description-for-region" class="form-field__messages">
                            </div>
                        </div>

                        <div class="form-field form-field--text" style="display:none">
                            <label for="form-field-divisionlinkage" class="form-field__label form-field__input--readonly">
                                @Translate.Text("cpportal.Division Linkage")
                                <span class="form-field__label-required aria-only">(required)</span>
                            </label>
                            <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                                <input class="form-field__input form-field__input--readonly"
                                       id="form-field-divisionlinkage"
                                       name="divisionlinkage"
                                       type="text"
                                       aria-describedby="description-for-divisionlinkage"
                                       data-parsley-errors-container="#description-for-divisionlinkage"
                                       required
                                       readonly
                                       data-parsley-required-message="This field is required"
                                       value="@(!string.IsNullOrWhiteSpace(Model.divisionLinkage)?Model.divisionLinkage:"-")" />
                            </div>
                            <div id="description-for-divisionlinkage" class="form-field__messages">
                            </div>
                        </div>

                        <div class="form-field form-field--text">
                            <label for="form-field-userstatus" class="form-field__label form-field__input--readonly">
                                @Translate.Text("cpportal.User Status")
                                <span class="form-field__label-required aria-only">(required)</span>
                            </label>
                            <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                                <input class="form-field__input form-field__input--readonly"
                                       id="form-field-userstatus"
                                       name="userStatus"
                                       type="text"
                                       aria-describedby="description-for-userstatus"
                                       data-parsley-errors-container="#description-for-userstatus"
                                       required
                                       readonly
                                       data-parsley-required-message="This field is required"
                                       value="@(!string.IsNullOrWhiteSpace(Model.userStatus)?Model.userStatus:"-")" />
                            </div>
                            <div id="description-for-userstatus" class="form-field__messages">
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="m64-inbox--title">@Translate.Text("cpportal.No Information Available")</div>
    }
</div>