@using Sitecore.Mvc
@using DEWAXP.Feature.Partner.Models.CorporatePartnership
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model CP_MSG_IDS_ISS

<div class="m66-preloader j1-CP--loader hidden">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <h2 class="text__section-subtitle">@Translate.Text("J100.Pleasewait")</h2>
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <a class="button button--text button--back" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.CorporatePortalmyInbox)">
                @Translate.Text("cpportal.back to inbox")
            </a>
        </div>
    </div>

    @if (Model != null)
    {
        <div class="grid__row">

            <div class="grid__column grid__column--12">

                <div class="m68-message-item" data-component="m68-message-item">
                    <div class="m68-message-item--subject">
                        @Model.Subject
                    </div>

                    <div class="m68-message-item--sender">

                        <div class="m68-message-item--sender_details" style="margin: 0;padding:0;">
                            <div class="m68-message-item--sender_name">@Model.RequesterName</div>
                            <div class="m68-message-item--sender_time">
                                @DEWAXP.Foundation.Content.Helpers.DateHelper.ConvertLocalDateFormate(Model.CreatedDate, "dd MMM yyyy", "dd MMM yyyy")
                            </div>
                        </div>
                    </div>

                    <div class="m68-message-item--body">


                        <h2 class="mb12" style="display:inline-block;margin-right:24px;">
                            @Translate.Text("cpportal.SentMessage") @Model.Message
                        </h2>
                        @*<a class="button button--small button--primary" href="/api/sitecore/CorporatePartnership/DownloadAttachment?objectid=@task.objectID" >View</a>*@
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

