@using Sitecore.Globalization

<div class="m2-card-form-card-body">
    <div class="m2-card-form-card-header">
        <div class="m2-card-form-card-close icon-cancel" data-closeCard="true"></div>
    </div>

    <div class="m2-card-form-card-content">
        <div class="m2-card-form-card-successIcon icon-new-success-message">
        </div>
        <div class="m2-card-form-card-successHeading">
           @Translate.Text("sc.inquirysucess.thankyou")
        </div>
        <div class="m2-card-form-card-successSubHeading">
            @Translate.Text("sc.inquirysucess.wereceived")
        </div>
        <div class="button button--fullwidth m2-card-form--trigger" id="submitanotherinquiry" data-cardTarget="#inquiry">
            @Translate.Text("sc.inquirysucess.submitanotherinquiry")
        </div>
        <div class="button button--fullwidth button--primary" id="submitbacktohome" data-closeCard="true">
            @Translate.Text("sc.inquirysucess.backtohome")
        </div>
    </div>
</div>
@*<div class="m2-card-form-card-footer">
    <div class="m2-card-form-card-footertext">
        @Translate.Text("sc.inquirysucess.popup")<span class="m2-card-form-card-cd" data-timer="10"></span>@Translate.Text("sc.inquirysucess.popup2")
    </div>
</div>*@