@using Sitecore.Globalization

<div class="m2-card-form-card m2-card-form-countdown level-2" id="ScheduleCallFrom-placeholder">
    <div class="m2-card-form-card-body">
        <div class="m2-card-form-card-header">
            <div class="m2-card-form--trigger m2-card-form-card-back icon-new-arrow-right" data-cardtarget="#consumer1"></div>
            <div class="m2-card-form-card-title green">
				@Translate.Text("scomSCHeader")
            </div>
            <div class="m2-card-form-card-close icon-cancel" data-closecard="true"></div>
        </div>

        <div class="m2-card-form-card-content inquiry-form" style="margin-top: 0px; height: 573.926px;">
            <form id="scheduleForm" method="get" action="#" class="form" data-form="true" novalidate="">
                @Html.AntiForgeryToken()
                <div class="form-field form-field--text    ">
                    <label for="form-field-ShCallName" class="form-field__label">
                        @Translate.Text("scomSCName")
                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--validated">
                        <input class="form-field__input form-field__input--text parsley-success" id="form-field-ShCallName" name="ShCallName" type="text" placeholder="@Translate.Text("scomSCNamePlaceholder")" aria-describedby="description-for-ShCallName" data-parsley-errors-container="#description-for-ShCallName" required="" data-parsley-required-message="@Translate.Text("scomSCNameRequired")" data-parsley-trigger="focusout" data-parsley-id="67" aria-invalid="false">
                    </span>
                    <div id="description-for-ShCallName" class="form-field__messages">
                        <ul class="parsley-errors-list" id="parsley-id-67"></ul>
                    </div>
                </div>

                <div id="datepicker-container-atvcr9hio" class="form-field form-field--text    ">
                    <label for="form-field-ShCallDate" class="form-field__label">
                        @Translate.Text("scomSCDateLbl")
                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--datepicker form-field__input-wrapper--validated">
                        <input class="form-field__input form-field__input--text form-field__input--datepicker picker__input parsley-success" id="form-field-ShCallDate" name="ShCallDate" type="text" required="" placeholder="@Translate.Text("scomSCDatePlaceholder")"   data-parsley-required-message="@Translate.Text("scomSCDateRequired")"aria-describedby="description-for-ShCallDate" data-parsley-errors-container="#description-for-ShCallDate" data-el="datepicker-future" data-picker-options="{&quot;disable&quot;: [6, 7]}" data-parsley-trigger="focusout" data-parsley-id="69" readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-invalid="false"><span data-clicker="#datepicker-container-ShCallDate" class="form-field__datepicker-icon-clicker"></span>
                        <input type="hidden" name="text-date_submit" data-parsley-id="79" aria-invalid="false" value="9 December 2020">
                    </span>
                    <div id="description-for-ShCallDate" class="form-field__messages">
                        <ul class="parsley-errors-list" id="parsley-id-69"></ul>
                    </div>
                    
                </div>

                <div class="form-field form-field--select form-field--select-single">
                    <label for="form-field-ShCallTime" class="form-field__label">
                        @Translate.Text("scomSCTimeLbl")
                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--select form-field__input-wrapper--validated">
                        <select name="ShCallTime" class="form-field__input form-field__input--select form-field__input--select-full parsley-success" id="form-field-ShCallTime" name="select" aria-describedby="description-for-ShCallTime" data-parsley-errors-container="#description-for-ShCallTime" required="" data-parsley-trigger="change" data-parsley-id="71" aria-invalid="false">
                            @for (int i = 8; i <= 12; i++)
                            {
                                string time = string.Format("{0}:00 {1}", i, (i > 11 ? Translate.Text("scomVTpm") : Translate.Text("scomVTam")));
                                <option value="@time" @(i == 8 ? "selected=''" : "")> @(time)</option>
                            }
                            @for (int i = 1; i < 4; i++)
                            {
                                string time = string.Format("{0}:00 {1}", i, Translate.Text("scomVTpm"));
                                <option value="@time" @(i == 8 ? "selected=''" : "")> @(time)</option>
                            }
                        </select>
                    </span>
                    <div id="description-for-ShCallTime" class="form-field__messages">
                    </div>
                </div>

                <div class="form-field form-field--text">
                    <label for="form-field-ShCallMobileNO" class="form-field__label">
                        @Translate.Text("scomSCMobileLbl")
                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number form-field__input-wrapper--validated">
                        <input class="form-field__input form-field__input--text form-field__input--prefixed parsley-success" id="form-field-ShCallMobileNO" name="ShCallMobileNO" type="tel" placeholder="@Translate.Text("scomSCMoblePlaceholder")" aria-describedby="description-for-ShCallMobileNO" data-parsley-errors-container="#description-for-ShCallMobileNO" required="" data-parsley-required-message="@Translate.Text("scomSCMobileRequire")" data-parsley-mobile_number="" data-parsley-mobile_number-message="@Translate.Text("scomSCMobileRequireinvalid")" data-parsley-trigger="focusout" data-parsley-id="73" aria-invalid="false">
                    </span>
                    <div id="description-for-ShCallMobileNO" class="form-field__messages">
                        <ul class="parsley-errors-list" id="parsley-id-73"></ul>
                    </div>
                </div>

                <div class="form-field form-field--text">
                    <label for="form-field-ShCallEmailAddress" class="form-field__label">
                        @Translate.Text("scomSCEmaillbl")
                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--validated">
                        <input class="form-field__input form-field__input--text parsley-success" id="form-field-ShCallEmailAddress"
                               name="ShCallEmailAddress" type="email"
                               placeholder="@Translate.Text("scomSCEmailPlaceholder")" 
                               aria-describedby="description-for-ShCallEmailAddress" data-parsley-errors-container="#description-for-ShCallEmailAddress"
                               required="" data-parsley-error-message="@Translate.Text("scomSCEmailRequired")" 
                               data-parsley-trigger="focusout" data-parsley-id="75" aria-invalid="false">
                    </span>
                    <div id="description-for-ShCallEmailAddress" class="form-field__messages">
                        <ul class="parsley-errors-list" id="parsley-id-75"></ul>
                    </div>
                </div>

                <div class="form-field form-field--text form-field--textarea">
                    <label for="form-field-ShCallDescription" class="form-field__label">
                        @Translate.Text("scomSCDescription")
                    </label>
                    <span class="form-field__input-wrapper">
                        <textarea class="form-field__input form-field__input--text form-field__input--textarea" maxlength="500" data-textarea="ShCallDescription" id="form-field-ShCallDescription" name="ShCallDescription" type="textarea" placeholder="@Translate.Text("scomSCDescriptionPlaceholder")" aria-describedby="description-for-ShCallDescription" data-parsley-errors-container="#description-for-ShCallDescription" data-parsley-required-message="This field is required" data-parsley-id="77" aria-invalid="false"></textarea>
                    </span>
                    <div id="description-for-ShCallDescription" class="form-field__messages">
                        <p class="form-field__charcount">@Translate.Text("scomSCMax") <span data-charcount="ShCallDescription">0</span>/500 @Translate.Text("scomSCChar")</p>
                    </div>
                </div>

                <div class="form-field__button">
                    <button id="scheduleBtn" type="submit" class="button button--primary button--fullwidth">@Translate.Text("Submit")</button>
                    <div id="SuccessBtn" class="button button--primary m2-card-form--trigger-form m2-card-form--trigger button--fullwidth hidden" data-cardtarget="#scheduleSuccess">Submit</div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="m2-card-form-card m2-card-form-countdown level-2" id="scheduleSuccess">
    <div class="m2-card-form-card-body">
        <div class="m2-card-form-card-header">
            <div class="m2-card-form-card-close icon-cancel" data-closecard="true"></div>
        </div>

        <div class="m2-card-form-card-content" style="margin-top: 104.618px; height: 556.158px;">
            <div class="m2-card-form-card-successIcon icon-new-success-message">
            </div>
            <div class="m2-card-form-card-successHeading">
                @Translate.Text("scomSCSuccessHeader")
            </div>
            <div class="m2-card-form-card-successSubHeading">
                @Translate.Text("scomSCSuccessSubHeader")
            </div>
            <div class="button button--fullwidth button--primary" data-closecard="true">
               @Translate.Text("scomVTBackbtn")
            </div>
        </div>
    </div>
    @*<div class="m2-card-form-card-footer">
        <div class="m2-card-form-card-footertext">
            @Translate.Text("scomVTFooterInfomsg") <span class="m2-card-form-card-cd" data-timer="10">0</span>s
        </div>
    </div>*@
</div>

<script type="text/javascript">
    var _ScfromId = "#scheduleForm";
    jQuery(document).ready(function () {
        require(['parsley'], function () {

                $("#scheduleBtn").on("click", function () {

                    event.preventDefault();
                    event.stopImmediatePropagation();
                    jQuery(_ScfromId).parsley().validate();
                    if (jQuery(_ScfromId).parsley().isValid()) {
                        var _submitData = {
                            ShCallName: $("#form-field-ShCallName").val(),
                            ShCallDate: $("#form-field-ShCallDate").val(),
                            ShCallTime: $("#form-field-ShCallTime").val(),
                            ShCallMobileNO: $("#form-field-ShCallMobileNO").val(),
                            ShCallEmailAddress: $("#form-field-ShCallEmailAddress").val(),
                            ShCallDescription: $("#form-field-ShCallDescription").val()
                        }
                        jQuery(this).prop('disabled', true);
                        submitScheduleCall('@Url.Action("ScheduleCallSubmit")', _ScfromId, _submitData)
                    }
                });

        });

        function submitScheduleCall(url, form, data) {
            jQuery.ajax({
                url: url,
                type: 'POST',
                datatype: 'application/json',
                data: AddForgeryTokenByElement(data, form),
                beforeSend: function () {
                },
                complete: function () {
                    jQuery("#scheduleBtn").prop('disabled', true);
                },
                success: function (response) {
                    if (response != null && response.Success) {
                        jQuery("#SuccessBtn").click();
                    } else {
                        console.log(response)
                    }
                }
            });
        }
    });
</script>