@using DEWAXP.Foundation.Helpers.Extensions
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@{
    var shareurl = Html.GetShareURL();
    string browserTitle = Convert.ToString(Sitecore.Context.Item["Browser Title"]);

}

<div class="m30-share" data-component="m30-share" data-title="@Html.Sitecore().Field("Browser Title")">
    <a href="#" role="button" aria-haspopup="true" class="m30-share__button button button--text button--share">@Translate.Text("Share")</a>
    <div class="m30-share__panel" aria-expanded="false">
        <ul>
            <li class="m30-share__item"><a href="https://twitter.com/intent/tweet?url=@shareurl&text=" class="m30-share__link m30-share__link--twitter icon_twitter" target="_blank">@Translate.Text("Share on Twitter")</a></li>
            <li class="m30-share__item"><a href="https://www.facebook.com/sharer/sharer.php?u=@shareurl" class=" m30-share__link m30-share__link--facebook icon_facebook" target="_blank">@Translate.Text("Share on Facebook")</a></li>
            <li class="m30-share__item"><a href="https://www.linkedin.com/shareArticle?mini=true&url=@shareurl" class="m30-share__link m30-share__link--linkedin icon_linkedin" target="_blank">@Translate.Text("Share on LinkedIn")</a></li>
            <li class="m30-share__item"><a href="mailto:?subject=@(Uri.EscapeDataString(HttpUtility.HtmlDecode(browserTitle)))&body=@(Uri.EscapeDataString(shareurl))" class="m30-share__link m30-share__link--email icon_email">@Translate.Text("Share via Email")</a></li>

        </ul>
    </div>
</div>
