@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Glass.Mapper
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.HR.Models.Scholarship.AcademicDetail

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new
{
    @class = "form",
    @data_form = "true",
    @data_parsley_focus = "none",
    @data_submit_validate = "enabled",
    @enctype = "multipart/form-data",
    @id="academicinformationform"
}))
{
    @Html.Sitecore().FormHandler()
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")


    <div class="form-field form-field--select form-field--select-single">
        <label for="form-field-ounwd4ywy" class="form-field__label">
            @Translate.Text("Scholarship Program")<span class="form-field__label-required aria-only">(required)</span>
        </label>
        <span class="form-field__input-wrapper form-field__input-wrapper--select">
            @Html.DropDownListFor(model => model.Program, Model.Programs, Translate.Text("Scholarship Select Program"), new
       {
           @class = "form-field__input form-field__input--select form-field__input--select-full",
           @id = "form-field-ounwd4ywy",
           @required = "required",
           @data_parsley_error_message = Translate.Text("Scholarship Please Select Program"),
           @data_parsley_required_message = Translate.Text("Scholarship Field Required"),
           @data_parsley_errors_container = "#description-for-ounwd4ywy",
           @aria_describedby = "description-for-ounwd4ywy",
       })

        </span>
        <div id="description-for-ounwd4ywy" class="form-field__messages">
            @Html.ValidationMessageFor(x => x.Program, "", new { @class = "parsley-errors-list" })
        </div>
    </div>
    <div class="form-field form-field--select form-field--select-single">
        <label for="form-field-ngb8cxxso" class="form-field__label">
            @Translate.Text("Scholarship University")
            <span class="form-field__label-required aria-only">(required)</span>

        </label>

        <span class="form-field__input-wrapper form-field__input-wrapper--select">
            @Html.DropDownListFor(model => model.University, Model.Universities, Translate.Text("Scholarship Select University"), new
       {
           @class = "form-field__input form-field__input--select form-field__input--select-full",
           @id = "form-field-ngb8cxxso",
           @required = "required",
           @data_parsley_required_message = Translate.Text("Scholarship Field Required"),
           @data_parsley_errors_container = "#description-for-ngb8cxxso",
           @aria_describedby = "description-for-ngb8cxxso",
       })

        </span>

        <div id="description-for-ngb8cxxso" class="form-field__messages">
            @Html.ValidationMessageFor(x => x.University, "", new { @class = "parsley-errors-list" })
        </div>

    </div>

    <div class="form-field form-field--text">

        <label for="form-field-3mv95s1q0" class="form-field__label">
            @Translate.Text("Scholarship please specify in case of others")
            <span class="form-field__label-required aria-only">(required)</span>
        </label>
        <span class="form-field__input-wrapper">
            <input class="form-field__input form-field__input--text"
                   id="form-field-3mv95s1q0"
                   name="OtherUniversity"
                   type="text" value="@Model.OtherUniversity"
                   aria-describedby="description-for-3mv95s1q0"
                   data-parsley-errors-container="#description-for-3mv95s1q0"
                   data-parsley-required-message="@Translate.Text("Scholarship Field Required")" />
        </span>
        <div id="description-for-3mv95s1q0" class="form-field__messages">
            @Html.ValidationMessageFor(x => x.OtherUniversity, "", new { @class = "parsley-errors-list" })

        </div>
    </div>
    <div class="form-field form-field--select form-field--select-single">
        <label for="form-field-5q5k7697e" class="form-field__label">
            @Translate.Text("Scholarship Major")
            <span class="form-field__label-required aria-only">(required)</span>
        </label>
        <span class="form-field__input-wrapper form-field__input-wrapper--select">
            @Html.DropDownListFor(model => model.Major, Model.Majors, Translate.Text("Scholarship Select Majors"), new
       {
           @class = "form-field__input form-field__input--select form-field__input--select-full",
           @id = "form-field-5q5k7697e",
           @required = "required",
           @data_parsley_required_message = Translate.Text("Scholarship Field Required"),
           @data_parsley_errors_container = "#description-for-5q5k7697e",
           @aria_describedby = "description-for-5q5k7697e",
       })

        </span>

        <div id="description-for-5q5k7697e" class="form-field__messages">
            @Html.ValidationMessageFor(x => x.Major, "", new { @class = "parsley-errors-list" })
        </div>

    </div>
    <div class="form-field form-field--text">

        <label for="form-field-ml5pk06o7" class="form-field__label">
            @Translate.Text("Scholarship please specify in case of others")
            <span class="form-field__label-required aria-only">(required)</span>

        </label>
        <span class="form-field__input-wrapper">
            <input class="form-field__input form-field__input--text"
                   id="form-field-ml5pk06o7"
                   name="OtherMajor"
                   type="text" value="@Model.OtherMajor"
                   aria-describedby="description-for-ml5pk06o7"
                   data-parsley-errors-container="#description-for-ml5pk06o7"
                   data-parsley-required-message="@Translate.Text("Scholarship Field Required")" />
        </span>
        <div id="description-for-ml5pk06o7" class="form-field__messages">
            @Html.ValidationMessageFor(x => x.OtherMajor, "", new { @class = "parsley-errors-list" })
        </div>
    </div>
    <div class="form-field form-field--select form-field--select-single">
        <label for="select_312hic7wr" class="form-field__label">
            @Translate.Text("Scholarship Grades Header")
            <span class="form-field__label-required aria-only">(required)</span>
        </label>
        <span class="form-field__input-wrapper form-field__input-wrapper--select form-field--add_wrapper">

            <select class="form-field__input form-field__input--select form-field__input--select-full"
                    data-select-toggle="true" aria-controls="university_grades"
                    id="select_312hic7wr"
                    name="select_312hic7wr"
                    data-required-options
                    aria-describedby="description-for-312hic7wr"
                    data-parsley-errors-container="#description-for-312hic7wr"
                    data-parsley-required-message="@Translate.Text("Scholarship Field Required")">

                <option value="" selected="selected">@Translate.Text("Scholarship Select grade university")</option>
                @foreach (var i in Model.Grades)
                {
                    if (Model.Eduction != null && Model.Eduction.Any(x => x.Level.Equals(i.Text)))
                    {
                        <option value="@i.Value" data-option-value="@i.Text" disabled="disabled"> @i.Text </option>
                    }
                    else
                    {
                        <option value="@i.Value" data-option-value="@i.Text"> @i.Text </option>
                    }
                }

            </select>
        </span>

        <div class="form-field--add_button" data-toggle-button="true"><span>+</span> Add</div>

        <div id="description-for-312hic7wr" class="form-field__messages">                    </div>
    </div>

    <input type="hidden" id="EducationJson" name="EducationJson" value='@Html.Raw(Model.EducationJson)' />

    <div data-toggle-target="true" data-table-post="university_grades-data-table" class="form-field  fieldset--hidden" id="university_grades" aria-expanded="false">
        <div class="form-field form-field--text    ">

            <label for="form-field-wuqpoy24b" class="form-field__label">
                @Translate.Text("Scholarship School University")
                <span class="form-field__label-required aria-only">(required)</span>
            </label>
            <span class="form-field__input-wrapper">
                <input class="form-field__input form-field__input--text"
                       id="form-field-wuqpoy24b"
                       name="schooluni"
                       type="text"
                       placeholder="@Translate.Text("Scholarship Enter school or university")"
                       aria-describedby="description-for-wuqpoy24b"
                       data-parsley-errors-container="#description-for-wuqpoy24b"
                       required
                       data-parsley-required-message="@Translate.Text("Scholarship Field Required")" />
            </span>
            <div id="description-for-wuqpoy24b" class="form-field__messages">
            </div>
        </div>
        <div class="form-field form-field--select form-field--select-single">
            <label for="form-field-64xtealql" class="form-field__label">
                @Translate.Text("Scholarship Major")
            </label>
            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                @Html.DropDownList("slsubMajor", Model.Majors1, Translate.Text("Scholarship Select Majors"), new
           {
               @class = "form-field__input form-field__input--select form-field__input--select-full form_select_textVal",
               @id = "form-field-64xtealql",
               @data_parsley_required_message = Translate.Text("Scholarship Field Required"),
               @data_parsley_errors_container = "#description-for-64xtealql",
               @aria_describedby = "description-for-64xtealql",
           })

            </span>

            <div id="description-for-64xtealql" class="form-field__messages">
            </div>
        </div>

        <div id="datepicker-container-s7iqe2dzl" class="form-field form-field--text   form-field--6 ">
            <label for="form-field-s7iqe2dzl" class="form-field__label">
                @Translate.Text("Scholarship Start Date")
            </label>
            <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                <input class="form-field__input form-field__input--text form-field__input--datepicker"
                       id="form-field-s7iqe2dzl"
                       name="edu_start_date"
                       type="text"
                       placeholder="DD/MM/YY"
                       aria-describedby="description-for-s7iqe2dzl"
                       data-parsley-errors-container="#description-for-s7iqe2dzl"
                       data-el="datepicker"
                       data-picker-options="{&quot;selectYears&quot;: true , &quot;selectMonths&quot;: true }" />
            </span>

            <div id="description-for-s7iqe2dzl" class="form-field__messages">
            </div>
        </div>
        <div id="datepicker-container-tv2qlqa53" class="form-field form-field--text   form-field--6 ">
            <label for="form-field-tv2qlqa53" class="form-field__label">
                @Translate.Text("Scholarship End Date")
                <span class="form-field__label-required aria-only">(required)</span>
            </label>
            <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                <input class="form-field__input form-field__input--text form-field__input--datepicker"
                       id="form-field-tv2qlqa53"
                       name="edu_end_date"
                       type="text"
                       placeholder="DD/MM/YY"
                       aria-describedby="description-for-tv2qlqa53"
                       data-parsley-errors-container="#description-for-tv2qlqa53"
                       required
                       data-parsley-required-message="@Translate.Text("Scholarship Field Required")"
                       data-el="datepicker"
                       data-picker-options="{&quot;selectYears&quot;: true , &quot;selectMonths&quot;: true }" />
            </span>
            <div id="description-for-tv2qlqa53" class="form-field__messages">
            </div>
        </div>
        <div class="form-field form-field--select form-field--select-single">
            <label for="form-field-3lgmy6h5f" class="form-field__label">
                @Translate.Text("Scholarship Country")
                <span class="form-field__label-required aria-only">(required)</span>
            </label>
            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                @Html.DropDownList("slsubCountry", Model.Countries, Translate.Text("Scholarship Select Country"), new
           {
               @class = "form-field__input form-field__input--select form-field__input--select-full form_select_textVal",
               @id = "form-field-3lgmy6h5f",
               @required = "required",
               @data_parsley_required_message = Translate.Text("Scholarship Field Required"),
               @data_parsley_errors_container = "#description-for-3lgmy6h5f",
               @aria_describedby = "description-for-3lgmy6h5f"
           })

            </span>
            <div id="description-for-3lgmy6h5f" class="form-field__messages">
            </div>
        </div>
        <div class="form-field form-field--select form-field--select-single">
            <label for="form-field-pqux0fgie" class="form-field__label">
                @Translate.Text("Scholarship Region")
                <span class="form-field__label-required aria-only">(required)</span>
            </label>
            <span class="form-field__input-wrapper form-field__input-wrapper--select">

                @Html.DropDownList("edu_region", Model.Regions, Translate.Text("Scholarship Select Region"), new
           {
               @class = "form-field__input form-field__input--select form-field__input--select-full form_select_textVal",
               @id = "form-field-pqux0fgie",
               @required = "required",
               @data_parsley_required_message = Translate.Text("Scholarship Field Required"),
               @data_parsley_errors_container = "#description-for-pqux0fgie",
               @aria_describedby = "description-for-pqux0fgie"
           })
            </span>

            <div id="description-for-pqux0fgie" class="form-field__messages">
            </div>
        </div>
        <div class="form-field form-field--text    ">
            <label for="form-field-sjbzcl04d" class="form-field__label">
                @Translate.Text("Scholarship Grade Percentage")
                <span class="form-field__label-required aria-only">(required)</span>
            </label>
            <span class="form-field__input-wrapper">
                <input class="form-field__input form-field__input--text"
                       id="form-field-sjbzcl04d"
                       name="edu_percentage"
                       type="text"
                       aria-describedby="description-for-sjbzcl04d"
                       data-parsley-errors-container="#description-for-sjbzcl04d"
                       required=""
                       data-parsley-required-message="@Translate.Text("Scholarship Field Required")" />
            </span>
            <div id="description-for-sjbzcl04d" class="form-field__messages">
            </div>
        </div>
        <div class="form-field__button">
            <div type="button" class="button  button--text button--save_legend university_grades_save">Save</div>
            <div type="button" class="button  button--text button--cancel_legand">Cancel</div>
        </div>
    </div>
    <div data-table-form="true" class="form-field " id="university_grades-data-table">

        <div class="form--data-table-row template-row hidden" data-component="m73-form-expand-tab">
            <span data-toggle="true" aria-controls="" class="form--data-table-tab form--data-table-title tab-large m73-form-trigger-expand">
                <div class="tab-title tab-expand">Grade 10x</div>
            </span>
            <div data-content="true" aria-labelledby="" aria-expanded="false" class="m73-form-content-expand">
                <div class="form--data-table-buttons">
                    <div class="form-field--add_button edit edit_record">@Translate.Text("Scholarship Edit")</div>
                    <div class="form-field--add_button remove remove_record">@Translate.Text("Scholarship Remove")</div>
                </div>
                <div class="form--data-table-content">
                    <div class="form--data-table-wrapper">
                        <label class="form-data-table__label">@Translate.Text("Scholarship School University")</label>
                        <span class="form-data-table__value">sdfsdfsdf</span>
                    </div>
                    <div class="form--data-table-wrapper">
                        <label class="form-data-table__label">@Translate.Text("Scholarship Major") </label>
                        <span class="form-data-table__value"></span>
                    </div>
                    <div class="form--data-table-wrapper column-2">
                        <label class="form-data-table__label">@Translate.Text("Scholarship Start Date") </label>
                        <span class="form-data-table__value">14 March 2019</span>
                    </div><div class="form--data-table-wrapper column-2">
                        <label class="form-data-table__label">@Translate.Text("Scholarship End Date") </label>
                        <span class="form-data-table__value">22 March 2019</span>
                    </div><div class="form--data-table-wrapper">
                        <label class="form-data-table__label">@Translate.Text("Scholarship Country") </label>
                        <span class="form-data-table__value">United Arab Emirates</span>
                    </div><div class="form--data-table-wrapper">
                        <label class="form-data-table__label">@Translate.Text("Scholarship Region") </label>
                        <span class="form-data-table__value">Dubai</span>
                    </div><div class="form--data-table-wrapper">
                        <label class="form-data-table__label">@Translate.Text("Scholarship Grade Percentage") </label>
                        <span class="form-data-table__value">sdfsdf</span>
                    </div>
                </div>
            </div>
        </div>

        <!--Existing records starts-->
        @if (Model.Eduction != null && Model.Eduction.Count > 0)
        {
            bool lastRow = false; int counter = 1;
            foreach (var e in Model.Eduction)
            {
                lastRow = counter == (Model.Eduction.Count() - 1) ? true : false;
                <div class='form--data-table-row @(lastRow) ? "last-row" : ""' data-component="m73-form-expand-tab" data-row-of="@e.Level">
                    <span data-toggle="true" aria-controls="" class="form--data-table-tab form--data-table-title tab-large m73-form-trigger-expand">
                        <div class="tab-title tab-expand">@e.Level</div>
                    </span>
                    <div data-content="true" aria-labelledby="_njztkt0ds_trigger" aria-expanded="false" class="m73-form-content-expand">
                        <div class="form--data-table-buttons">
                            <div class="form-field--add_button edit edit_record">@Translate.Text("Scholarship Edit")</div>
                            <div class="form-field--add_button remove remove_record">@Translate.Text("Scholarship Remove")</div>
                        </div>
                        <div class="form--data-table-content">
                            <div class="form--data-table-wrapper" data-table-wrapper-id="form-field-wuqpoy24b">
                                <label class="form-data-table__label">@Translate.Text("Scholarship School University") </label><span class="form-data-table__value">@e.School</span>
                            </div>
                            <div class="form--data-table-wrapper" data-table-wrapper-id="form-field-64xtealql">
                                <label class="form-data-table__label">@Translate.Text("Scholarship Major") </label><span class="form-data-table__value">@e.Major</span>
                            </div>
                            <div class="form--data-table-wrapper column-2" data-table-wrapper-id="form-field-s7iqe2dzl">
                                <label class="form-data-table__label">@Translate.Text("Scholarship Start Date") </label><span class="form-data-table__value">@e.StartDate</span>
                            </div>
                            <div class="form--data-table-wrapper column-2" data-table-wrapper-id="form-field-tv2qlqa53">
                                <label class="form-data-table__label">@Translate.Text("Scholarship End Date") </label>
                                <span class="form-data-table__value">@e.EndDate</span>
                            </div><div class="form--data-table-wrapper" data-table-wrapper-id="form-field-3lgmy6h5f">
                                <label class="form-data-table__label">@Translate.Text("Scholarship Country") </label><span class="form-data-table__value">@e.Country</span>
                            </div>
                            <div class="form--data-table-wrapper" data-table-wrapper-id="form-field-pqux0fgie">
                                <label class="form-data-table__label">@Translate.Text("Scholarship Region") </label><span class="form-data-table__value">@e.Region</span>
                            </div>
                            <div class="form--data-table-wrapper" data-table-wrapper-id="form-field-sjbzcl04d">
                                <label class="form-data-table__label">@Translate.Text("Scholarship Grade Percentage") </label><span class="form-data-table__value">@e.GradeOrPercentage</span>
                            </div>
                        </div>
                    </div>
                </div>
                counter++;
            }
        }
        <!-- existing records ends -->
    </div>
    <fieldset class="fieldset">
        <legend class="legend">@Translate.Text("Scholarship Document Uploads")</legend>
        <div class="form-field form-field--upload">
            <div class="form-field__input-wrapper">
                <div class="form-field__preview-wrapper">

                    <img src="../../images/preview_pdf@2x.png" data-src="../../images/preview_pdf@2x.png" data-success="../images/upload_success@2x.png" class="form-field__preview" aria-hidden="true" role="presentation" alt="@Translate.Text("Scholarship Academic Certificates Uploads")" data-uploader-image="rjbpn485a">

                </div>
                <div class="form-field__uploader-details">

                    <label for="form-field-rjbpn485a" class="form-field__label">

                        @Translate.Text("Scholarship Academic Certificates Uploads")

                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <div>
                        <label>
                            <input class="form-field__input form-field__input--upload"
                                   id="form-field-rjbpn485a"
                                   name="AcademicCertificates"
                                   type="file"
                                   aria-describedby="description-for-rjbpn485a"
                                   data-parsley-errors-container="#description-for-rjbpn485a"
                                   data-parsley-required-message="@Translate.Text("Scholarship Field Required")"
                                   data-uploader-field="rjbpn485a"
                                   accept="application/msword,application/vnd.ms-excel,image/*,application/pdf"
                                   data-accepts='"jpg", "bmp","gif","png","jpeg","pdf","doc","docx"' data-size="2048000">

                            <span class="button button--primary button--next button--small focus-enabled"
                                  data-uploader-button="upload-choose">@Translate.Text("Choose")</span>


                            </label>
                        </div>
                        <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                        <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                        <p class="form-field__input--upload-filename" data-uploader-filename="rjbpn485a"></p>
                        <p><button class="button button--text button--remove hidden" data-uploader-remove="rjbpn485a">@Translate.Text("Remove")</button></p>

                    </div>

                </div>

                <div id="description-for-rjbpn485a" class="form-field__messages">

                    @if (Model.ExistingAcademicCertificate != null && !string.IsNullOrEmpty(Model.ExistingAcademicCertificate.DownloadUrl))
                    {
                        <a class="link" url="@Model.ExistingAcademicCertificate.DownloadUrl">@Translate.Text("Scholarship Existing File")</a>
                    }
                    <p class="form-field__description">@Translate.Text("Scholarship File Upload Format Message")</p>
                    @Html.ValidationMessageFor(x => x.AcademicCertificates, "", new { @class = "parsley-errors-list" })

                </div>
            </div>
            <div class="form-field form-field--upload">

                <div class="form-field__input-wrapper">
                    <div class="form-field__preview-wrapper">

                        <img src="../../images/preview_pdf@2x.png"
                             data-src="../../images/preview_pdf@2x.png"
                             data-success="../images/upload_success@2x.png"
                             class="form-field__preview"
                             aria-hidden="true"
                             role="presentation"
                             alt="@Translate.Text("Scholarship Grade 12 Final Certificate")"
                             data-uploader-image="h274xkxnf">

                    </div>
                    <div class="form-field__uploader-details">

                        <label for="form-field-h274xkxnf" class="form-field__label">
                            @Translate.Text("Scholarship Grade 12 Final Certificate")


                            <span class="form-field__label-required aria-only">(required)</span>
                        </label>
                        <div>
                            <label>
                                <input class="form-field__input form-field__input--upload"
                                       id="form-field-h274xkxnf"
                                       name="Grade12FinalCertificate"
                                       type="file"
                                       aria-describedby="description-for-h274xkxnf"
                                       data-parsley-errors-container="#description-for-h274xkxnf"
                                       data-parsley-required-message="@Translate.Text("Scholarship Field Required")"
                                       data-uploader-field="h274xkxnf"
                                       accept="application/msword,application/vnd.ms-excel,image/*,application/pdf"
                                       data-accepts='"jpg", "bmp","gif","png","jpeg","pdf","doc","docx"' data-size="2048000">

                                <span class="button button--primary button--next button--small focus-enabled"
                                      data-uploader-button="upload-choose">@Translate.Text("Choose")</span>


                                </label>
                            </div>
                            <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                            <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                            <p class="form-field__input--upload-filename" data-uploader-filename="h274xkxnf"></p>
                            <p><button class="button button--text button--remove hidden" data-uploader-remove="h274xkxnf">@Translate.Text("Remove")</button></p>

                        </div>

                    </div>

                    <div id="description-for-h274xkxnf" class="form-field__messages">
                        @if (Model.ExistingGrade12FinalCertificate != null && !string.IsNullOrEmpty(Model.ExistingGrade12FinalCertificate.DownloadUrl))
                        {
                            <a class="link" url="@Model.ExistingGrade12FinalCertificate.DownloadUrl">@Translate.Text("Scholarship Existing File")</a>
                        }
                        <p class="form-field__description">@Translate.Text("Scholarship File Upload Format Message")</p>
                        @Html.ValidationMessageFor(x => x.ExistingGrade12FinalCertificate, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--upload">
                    <div class="form-field__input-wrapper">
                        <div class="form-field__preview-wrapper">

                            <img src="../../images/preview_pdf@2x.png"
                                 data-src="../../images/preview_pdf@2x.png"
                                 data-success="../images/upload_success@2x.png"
                                 class="form-field__preview"
                                 aria-hidden="true"
                                 role="presentation"
                                 alt="@Translate.Text("Scholarship Certificate of Good Conduct")"
                                 data-uploader-image="983y223kb">

                        </div>
                        <div class="form-field__uploader-details">

                            <label for="form-field-983y223kb" class="form-field__label">
                                @Translate.Text("Scholarship Certificate of Good Conduct")
                                <span class="form-field__label-required aria-only">(required)</span>
                            </label>
                            <div>
                                <label>
                                    <input class="form-field__input form-field__input--upload"
                                           id="form-field-983y223kb"
                                           name="CertificateOfGoodConduct"
                                           type="file"
                                           aria-describedby="description-for-983y223kb"
                                           data-parsley-errors-container="#description-for-983y223kb"
                                           data-parsley-required-message="@Translate.Text("Scholarship Field Required")"
                                           data-uploader-field="983y223kb"
                                           accept="application/msword,application/vnd.ms-excel,image/*,application/pdf"
                                           data-accepts='"jpg", "bmp","gif","png","jpeg","pdf","doc","docx"' data-size="2048000">

                                    <span class="button button--primary button--next button--small focus-enabled"
                                          data-uploader-button="upload-choose">@Translate.Text("Choose")</span>


                                    </label>
                                </div>
                                <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                                <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                                <p class="form-field__input--upload-filename" data-uploader-filename="983y223kb"></p>
                                <p><button class="button button--text button--remove hidden" data-uploader-remove="983y223kb">@Translate.Text("Remove")</button></p>

                            </div>

                        </div>

                        <div id="description-for-983y223kb" class="form-field__messages">
                            @if (Model.ExistingCertificateOfGoodConduct != null && !string.IsNullOrEmpty(Model.ExistingCertificateOfGoodConduct.DownloadUrl))
                            {
                                <a class="link" url="@Model.ExistingCertificateOfGoodConduct.DownloadUrl">@Translate.Text("Scholarship Existing File")</a>
                            }
                            <p class="form-field__description">@Translate.Text("Scholarship File Upload Format Message")</p>
                            @Html.ValidationMessageFor(x => x.ExistingCertificateOfGoodConduct, "", new { @class = "parsley-errors-list" })
                        </div>
                    </div>
                    <div class="form-field form-field--upload">

                        <div class="form-field__input-wrapper">
                            <div class="form-field__preview-wrapper">

                                <img src="../../images/preview_pdf@2x.png"
                                     data-src="../../images/preview_pdf@2x.png"
                                     data-success="../images/upload_success@2x.png"
                                     class="form-field__preview"
                                     aria-hidden="true"
                                     role="presentation"
                                     alt="@Translate.Text("Scholarship Police Clearance")"
                                     data-uploader-image="ymrdaeyfs">

                            </div>
                            <div class="form-field__uploader-details">

                                <label for="form-field-ymrdaeyfs" class="form-field__label">
                                    @Translate.Text("Scholarship Police Clearance")
                                    <span class="form-field__label-required aria-only">(required)</span>
                                </label>
                                <div>
                                    <label>
                                        <input class="form-field__input form-field__input--upload"
                                               id="form-field-ymrdaeyfs"
                                               name="PoliceCertificate"
                                               type="file"
                                               aria-describedby="description-for-ymrdaeyfs"
                                               data-parsley-errors-container="#description-for-ymrdaeyfs"
                                               data-parsley-required-message="@Translate.Text("Scholarship Field Required")"
                                               data-uploader-field="ymrdaeyfs"
                                               accept="application/msword,application/vnd.ms-excel,image/*,application/pdf"
                                               data-accepts='"jpg", "bmp","gif","png","jpeg","pdf","doc","docx"' data-size="2048000">

                                        <span class="button button--primary button--next button--small focus-enabled"
                                              data-uploader-button="upload-choose">@Translate.Text("Choose")</span>
                                        </label>
                                    </div>
                                    <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                                    <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                                    <p class="form-field__input--upload-filename" data-uploader-filename="ymrdaeyfs"></p>
                                    <p><button class="button button--text button--remove hidden" data-uploader-remove="ymrdaeyfs">@Translate.Text("Remove")</button></p>

                                </div>

                            </div>

                            <div id="description-for-ymrdaeyfs" class="form-field__messages">
                                @if (Model.ExistingPoliceCertificate != null && !string.IsNullOrEmpty(Model.ExistingPoliceCertificate.DownloadUrl))
                                {
                                    <a class="link" url="@Model.ExistingPoliceCertificate.DownloadUrl">@Translate.Text("Scholarship Existing File")</a>
                                }
                                <p class="form-field__description">@Translate.Text("Scholarship File Upload Format Message")</p>
                                @Html.ValidationMessageFor(x => x.PoliceCertificate, "", new { @class = "parsley-errors-list" })
                            </div>
                        </div>
                        <div class="form-field form-field--upload">

                            <div class="form-field__input-wrapper">
                                <div class="form-field__preview-wrapper">

                                    <img src="../../images/preview_pdf@2x.png"
                                         data-src="../../images/preview_pdf@2x.png"
                                         data-success="../images/upload_success@2x.png"
                                         class="form-field__preview"
                                         aria-hidden="true"
                                         role="presentation"
                                         alt="@Translate.Text("Scholarship People Of Determination Card")"
                                         data-uploader-image="cphh5eu9i">

                                </div>
                                <div class="form-field__uploader-details">

                                    <label for="form-field-cphh5eu9i" class="form-field__label">
                                        @Translate.Text("Scholarship People Of Determination Card")
                                        <span class="form-field__label-required aria-only">(required)</span>
                                    </label>
                                    <div>
                                        <label>
                                            <input class="form-field__input form-field__input--upload"
                                                   id="form-field-cphh5eu9i"
                                                   name="PeopleOfDeterminationCard"
                                                   type="file"
                                                   aria-describedby="description-for-cphh5eu9i"
                                                   data-parsley-errors-container="#description-for-cphh5eu9i"
                                                   data-parsley-required-message="@Translate.Text("Scholarship Field Required")"
                                                   data-uploader-field="cphh5eu9i"
                                                   accept="application/msword,application/vnd.ms-excel,image/*,application/pdf"
                                                   data-accepts='"jpg", "bmp","gif","png","jpeg","pdf","doc","docx"' data-size="2048000">

                                            <span class="button button--primary button--next button--small focus-enabled"
                                                  data-uploader-button="upload-choose">@Translate.Text("Choose")</span>


                                            </label>
                                        </div>
                                        <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                                        <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                                        <p class="form-field__input--upload-filename" data-uploader-filename="cphh5eu9i"></p>
                                        <p><button class="button button--text button--remove hidden" data-uploader-remove="cphh5eu9i">@Translate.Text("Remove")</button></p>

                                    </div>

                                </div>

                                <div id="description-for-cphh5eu9i" class="form-field__messages">
                                    @if (Model.ExistingPODCard != null && !string.IsNullOrEmpty(Model.ExistingPODCard.DownloadUrl))
                                    {
                                        <a class="link" url="@Model.ExistingPODCard.DownloadUrl">@Translate.Text("Scholarship Existing File")</a>
                                    }
                                    <p class="form-field__description">@Translate.Text("Scholarship File Upload Format Message")</p>
                                    @Html.ValidationMessageFor(x => x.PeopleOfDeterminationCard, "", new { @class = "parsley-errors-list" })
                                </div>
                            </div>
                            <div class="form-field form-field--upload">

                                <div class="form-field__input-wrapper">
                                    <div class="form-field__preview-wrapper">

                                        <img src="../../images/preview_pdf@2x.png"
                                             data-src="../../images/preview_pdf@2x.png"
                                             data-success="../images/upload_success@2x.png"
                                             class="form-field__preview"
                                             aria-hidden="true"
                                             role="presentation"
                                             alt="@Translate.Text("Scholarship University Transcript")"
                                             data-uploader-image="zb09txotz">

                                    </div>
                                    <div class="form-field__uploader-details">

                                        <label for="form-field-zb09txotz" class="form-field__label">
                                            @Translate.Text("Scholarship University Transcript")
                                            <span class="form-field__label-required aria-only">(required)</span>
                                        </label>
                                        <div>
                                            <label>
                                                <input class="form-field__input form-field__input--upload"
                                                       id="form-field-zb09txotz"
                                                       name="UniversityTranscript"
                                                       type="file"
                                                       aria-describedby="description-for-zb09txotz"
                                                       data-parsley-errors-container="#description-for-zb09txotz"
                                                       data-parsley-required-message="@Translate.Text("Scholarship Field Required")"
                                                       data-uploader-field="zb09txotz"
                                                       accept="application/msword,application/vnd.ms-excel,image/*,application/pdf"
                                                       data-accepts='"jpg", "bmp","gif","png","jpeg","pdf","doc","docx"' data-size="2048000">

                                                <span class="button button--primary button--next button--small focus-enabled"
                                                      data-uploader-button="upload-choose">@Translate.Text("Choose")</span>


                                                </label>
                                            </div>
                                            <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                                            <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                                            <p class="form-field__input--upload-filename" data-uploader-filename="zb09txotz"></p>
                                            <p><button class="button button--text button--remove hidden" data-uploader-remove="zb09txotz">@Translate.Text("Remove")</button></p>

                                        </div>

                                    </div>

                                    <div id="description-for-zb09txotz" class="form-field__messages">
                                        @if (Model.ExistingUniversityTranscript != null && !string.IsNullOrEmpty(Model.ExistingUniversityTranscript.DownloadUrl))
                                        {
                                            <a class="link" url="@Model.ExistingUniversityTranscript.DownloadUrl">@Translate.Text("Scholarship Existing File")</a>
                                        }
                                        <p class="form-field__description">@Translate.Text("Scholarship File Upload Format Message")</p>
                                        @Html.ValidationMessageFor(x => x.ExistingUniversityTranscript, "", new { @class = "parsley-errors-list" })
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-field__button">
                                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCHOLARSHIP_CONTACT_DETAIL_PAGE)" role="button" class="button button--primary">@Translate.Text("Scholarship Back")</a>
                                <button type="submit" class="button button--primary" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Scholarship Save Continue")</button>
                            </div>

                        }




<script type="text/javascript">
    function ResetJson() {
        var $educationJson = jQuery('#EducationJson');
        var referencelist = [];

        jQuery('#university_grades-data-table .form--data-table-row').each(function () {
            if (!$(this).hasClass('template-row')) {
                var obj = {};
                obj.Level = jQuery(this).attr('data-row-of');
                obj.School = jQuery(this).find("[data-table-wrapper-id='form-field-wuqpoy24b']").find('.form-data-table__value').html();
                obj.Major = jQuery(this).find("[data-table-wrapper-id='form-field-64xtealql']").find('.form-data-table__value').html();
                //obj.Level = jQuery(this).find("[data-table-wrapper-id='form-field-5qg2gwomt']").find('.form-data-table__value').html();
                obj.StartDate = jQuery(this).find("[data-table-wrapper-id='form-field-s7iqe2dzl']").find('.form-data-table__value').html();
                obj.EndDate = jQuery(this).find("[data-table-wrapper-id='form-field-tv2qlqa53']").find('.form-data-table__value').html();
                obj.Country = jQuery(this).find("[data-table-wrapper-id='form-field-3lgmy6h5f']").find('.form-data-table__value').html();
                obj.Region = jQuery(this).find("[data-table-wrapper-id='form-field-pqux0fgie']").find('.form-data-table__value').html();
                obj.GradeOrPercentage = jQuery(this).find("[data-table-wrapper-id='form-field-sjbzcl04d']").find('.form-data-table__value').html();

                referencelist.push(obj);
            }

        });
        $educationJson.val(JSON.stringify(referencelist));
        var i;
        var select_id = "#select_312hic7wr option";
        $(select_id).each(function () {
            $(this).prop('disabled', false);
        });

        for (i = 0; i < referencelist.length; ++i) {
            $(select_id).each(function () {

                if ($(this).attr("data-option-value") === referencelist[i].Level) {
                    $(this).prop('disabled', true);
                }
            });
        }
    }

    jQuery(function ($) {

        var country_select = 'select[id*="3lgmy6h5f"] option';


        jQuery(document).on('click','.edit_record', function () {
            var selected_country = $(this).parent().parent().find("[data-table-wrapper-id='form-field-3lgmy6h5f']").find('.form-data-table__value').html();

            if (selected_country) {
                $(country_select).each(function () {

                    if ($(this).text() === selected_country) {

                        $(this).prop('selected', true);
                        populateChild($(this).val(), $('#form-field-pqux0fgie'), '@Url.Action("GetRegions")');
                        return;
                    }
                });
                var el=$(this);
                setTimeout(function () {
                    var selected_region = $(el).parent().parent().find("[data-table-wrapper-id='form-field-pqux0fgie']").find('.form-data-table__value').html();
                    if(selected_region)
                    {
                        $('select[id*="pqux0fgie"] option').each(function () {
                            if ($(this).text() === selected_region) {
                                $(this).prop('selected', true);
                                return;
                            }
                        });
                    }
                }, 2000);
            }
        });

        jQuery('.remove_record').on('click', function () {
            setTimeout(function () {
                ResetJson();
            }, 1000);
        });

        jQuery('.university_grades_save').on('click', function () {
            setTimeout(function () {
                ResetJson();
            }, 1000);
        });

        $('#form-field-ounwd4ywy').change(function () {
            var selectedVal = $(this).val();

            var childSelect = $('#form-field-ngb8cxxso');
            if (selectedVal.trim() === '') return;
            populateChild(selectedVal, childSelect, '@Url.Action("GetUniversities")');

        });

        $('#form-field-ngb8cxxso').change(function () {
            var selectedVal = $(this).val();

            var childSelect = $('#form-field-5q5k7697e');
            if (selectedVal.trim() === '') return;
            populateChild(selectedVal, childSelect, '@Url.Action("GetMajors")');

        });



        $('#form-field-3lgmy6h5f').change(function () {
            var selectedVal = $(this).val();
            var childSelect = $('#form-field-pqux0fgie');
            if (selectedVal.trim() === '') return;
            populateChild(selectedVal, childSelect, '@Url.Action("GetRegions")');

        });

    });

    function populateChild(selectedVal, childSelect, url) {
        childSelect.empty();
        if (selectedVal != null && selectedVal != '') {

            jQuery.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                cache: false,
                data: AddForgeryToken({
                    emid: selectedVal
                }, "academicinformationform"),
                success: function (retList) {
                    if (retList != null && !jQuery.isEmptyObject(retList)) {
                        childSelect.append($('<option/>', {
                            value: null,
                            text: ""
                        }));
                        $.each(retList, function (index, itm) {
                            childSelect.append($('<option/>', {
                                value: itm.Value,
                                text: itm.Text
                            }));
                        });
                    };
                }, error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                }
            });
            //$.getJSON(url, { emid: selectedVal }, function (retList) {
            //    if (retList != null && !jQuery.isEmptyObject(retList)) {
            //        childSelect.append($('<option/>', {
            //            value: null,
            //            text: ""
            //        }));
            //        $.each(retList, function (index, itm) {
            //            childSelect.append($('<option/>', {
            //                value: itm.Value,
            //                text: itm.Text
            //            }));
            //        });
            //    };
            //});
        }
    }

</script>
