@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Glass.Mapper
@using DEWAXP.Foundation.Content
@using CNST = DEWAXP.Feature.HR.Models.Scholarship.Constants;
@model DEWAXP.Feature.HR.Models.Scholarship.PersonalDetail

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new
{
    @class = "form",
    @data_form = "true",
    @data_parsley_focus = "none",
    @data_submit_validate = "enabled",
    @enctype = "multipart/form-data"
}))
{
    @Html.Sitecore().FormHandler()
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

    <div class="form-field form-field--text    ">

        <label for="form-field-r0iy1ne2e" class="form-field__label">
            @Translate.Text("Scholarship First Name")
            <span class="form-field__label-required aria-only">(required)</span>
        </label>
        <span class="form-field__input-wrapper">
            @Html.TextBoxFor(x => x.FirstName, new
       {
           @class = "form-field__input form-field__input--text",
           @id = "form-field-r0iy1ne2e",
           @placeholder = Translate.Text("Scholarship First Name"),
           @required = "required",
           @data_parsley_maxlength = "25",
           @maxlength = "25",
           @data_parsley_required_message = Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED),
           @data_parsley_errors_container = "#description-for-r0iy1ne2e",
           @aria_describedby = "description-for-r0iy1ne2e",

           @autocomplete = "off"
       })
        </span>

        <div id="description-for-r0iy1ne2e" class="form-field__messages">
            @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "parsley-errors-list" })
        </div>
    </div>
    <div class="form-field form-field--text   form-field--6 ">
        <label for="form-field-f0fqla3om" class="form-field__label">
            @Translate.Text("Scholarship Middle Name")
            <span class="form-field__label-required aria-only">(required)</span>
        </label>
        <span class="form-field__input-wrapper">
            @Html.TextBoxFor(x => x.MiddleName, new
       {
           @class = "form-field__input form-field__input--text",
           @id = "form-field-f0fqla3om",
           @placeholder = Translate.Text("Scholarship Middle Name"),
           @data_parsley_errors_container = "#description-for-f0fqla3om",
           @aria_describedby = "description-for-f0fqla3om",
           @data_parsley_maxlength = "25",
           @maxlength = "25",
           @autocomplete = "off"
       })

        </span>

        <div id="description-for-f0fqla3om" class="form-field__messages">

            <p class="form-field__description">@Translate.Text("Scholarship.Name.as.per.passport")</p>
            @Html.ValidationMessageFor(x => x.MiddleName, "", new { @class = "parsley-errors-list" })

        </div>
    </div>

    <div class="form-field form-field--text form-field--6">

        <label for="form-field-ykqfnkq1l" class="form-field__label">
            @Translate.Text("Scholarship Last Name")

            <span class="form-field__label-required aria-only">(required)</span>

        </label>

        <span class="form-field__input-wrapper">
            @Html.TextBoxFor(x => x.LastName, new
                   {
                       @class = "form-field__input form-field__input--text",
                       @id = "form-field-ykqfnkq1l",
                       @placeholder = Translate.Text("Scholarship Last Name"),
                       @required = "required",
                       @data_parsley_required_message = Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED),
                       @data_parsley_errors_container = "#description-for-ykqfnkq1l",
                       @aria_describedby = "description-for-ykqfnkq1l",
                       @data_parsley_maxlength = "25",
                       @maxlength = "25",
                       @autocomplete = "off"
                   })

        </span>

        <div id="description-for-ykqfnkq1l" class="form-field__messages">
            @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "parsley-errors-list" })
        </div>
    </div>

    <div class="form-field form-field--text  clear_both  ">

        <label for="form-field-7ae4jfjgu" class="form-field__label">

            @Translate.Text("Scholarship Full Name")

            <span class="form-field__label-required aria-only">(required)</span>

        </label>

        <span class="form-field__input-wrapper">
            <input class="form-field__input form-field__input--text"
                   id="form-field-7ae4jfjgu"
                   name="FullNameInArabic"
                   type="text" value="@Model.FullNameInArabic"
                   placeholder="@Translate.Text("Scholarship Full Name Arabic Placeholder")"
                   aria-describedby="description-for-7ae4jfjgu"
                   data-parsley-errors-container="#description-for-7ae4jfjgu"
                   required
                   data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)" />
        </span>

        <div id="description-for-7ae4jfjgu" class="form-field__messages">
            <p class="form-field__description">@Translate.Text("Scholarship.Name.as.per.passport")</p>
            @Html.ValidationMessageFor(x => x.FullNameInArabic, "", new { @class = "parsley-errors-list" })
        </div>

    </div>

    <div class="form-field form-field--select form-field--select-single">

        <label for="form-field-wl4uw6s1i" class="form-field__label">

            @Translate.Text("Scholarship Nationality")

            <span class="form-field__label-required aria-only">(required)</span>

        </label>

        <span class="form-field__input-wrapper form-field__input-wrapper--select">
            @Html.DropDownListFor(model => model.Nationality, Model.Nationalities, Translate.Text("Scholarship Select Nationality"), new
                   {
                       @class = "form-field__input form-field__input--select form-field__input--select-full",
                       @id = "form-field-wl4uw6s1i",
                       @required = "required",
                       @data_parsley_required_message = @Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED),
                       @data_parsley_errors_container = "#description-for-wl4uw6s1i",
                       @aria_describedby = "description-for-wl4uw6s1i",
                   })

        </span>

        <div id="description-for-wl4uw6s1i" class="form-field__messages">
            @Html.ValidationMessageFor(x => x.Nationality, "", new { @class = "parsley-errors-list" })

        </div>

    </div>

    <div id="datepicker-container-p0t42bpt9" class="form-field form-field--text    ">

        <label for="form-field-p0t42bpt9" class="form-field__label">

            @Translate.Text("Scholarship Date Of Birth")

            <span class="form-field__label-required aria-only">(required)</span>

        </label>

        <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
            <input class="form-field__input form-field__input--text form-field__input--datepicker"
                   id="form-field-p0t42bpt9"
                   name="DateOfBirth"
                   type="text" value="@Model.DateOfBirth"
                   placeholder="DD/MM/YY"
                   aria-describedby="description-for-p0t42bpt9"
                   data-parsley-errors-container="#description-for-p0t42bpt9"
                   required
                   data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)"
                   data-el="datepicker" data-picker-options="{&quot;selectYears&quot;: true , &quot;selectMonths&quot;: true,&quot;min&quot;:[1960,1,1],&quot;max&quot;:[2010,1,1] }" />
        </span>

        <div id="description-for-p0t42bpt9" class="form-field__messages">
            @Html.ValidationMessageFor(x => x.DateOfBirth, "", new { @class = "parsley-errors-list" })
        </div>

    </div>

        <div class="form-field">

            <fieldset class="fieldset">

                <legend class="form-field__label">
                    @Translate.Text("Scholarship Gender")

                    <span class="form-field__label-required aria-only">(required)</span>

                </legend>

                <p class="form-field__radio ">
                    <label>
                        <input class="form-field__input form-field__input--radio" id="form-field-scored_male" aria-label="form-field-scored_male" name="Gender" type="radio" value="Male" aria-describedby="description-for-md552j8wz" data-parsley-errors-container="#description-for-md552j8wz" @(Model.Gender=="Male" ? "checked" : "")>

                        <span class="form-field__fakeradio focus-enabled">

                            @Translate.Text("Scholarship Gender Male")

                        </span>
                    </label>
                </p>

                <p class="form-field__radio ">
                    <label>
                        <input class="form-field__input form-field__input--radio" id="form-field-scored_female" aria-label="form-field-scored_female"  name="Gender" type="radio" value="Female" aria-describedby="description-for-md552j8wz" data-parsley-errors-container="#description-for-md552j8wz" @(Model.Gender=="Female" ? "checked" : "")>

                        <span class="form-field__fakeradio focus-enabled">

                            @Translate.Text("Scholarship Gender Female")

                        </span>
                    </label>
                </p>

                <div id="description-for-md552j8wz" class="form-field__messages">
                    @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "parsley-errors-list" })
                </div>

            </fieldset>

        </div>

        <div class="form-field form-field--text">

            <label for="form-field-3mnlcicpa" class="form-field__label">

                @Translate.Text("Scholarship Place Of Birth")

                <span class="form-field__label-required aria-only">(required)</span>

            </label>

            <span class="form-field__input-wrapper">
                <input class="form-field__input form-field__input--text"
                       id="form-field-3mnlcicpa"
                       name="PlaceOfBirth"
                       type="text" value="@Model.PlaceOfBirth"
                       placeholder="@Translate.Text("Scholarship Place Of Birth Placeholder")"
                       aria-describedby="description-for-3mnlcicpa"
                       data-parsley-errors-container="#description-for-3mnlcicpa"
                       required
                       data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)" />
            </span>

            <div id="description-for-3mnlcicpa" class="form-field__messages">
                @Html.ValidationMessageFor(x => x.PlaceOfBirth, "", new { @class = "parsley-errors-list" })
            </div>

        </div>

        <div class="form-field form-field--text  clear_both  ">

            <label for="form-field-belhl9u3j" class="form-field__label">

                @Translate.Text("Scholarship Passport Label")

                <span class="form-field__label-required aria-only">(required)</span>

            </label>

            <span class="form-field__input-wrapper">
                <input class="form-field__input form-field__input--text"
                       id="form-field-belhl9u3j"
                       name="PassportNumber"
                       type="text" value="@Model.PassportNumber"
                       placeholder="@Translate.Text("Scholarship Enter Passport Number")"
                       aria-describedby="description-for-belhl9u3j"
                       data-parsley-errors-container="#description-for-belhl9u3j"
                       required
                       data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)"
                       data-parsley-type="alphanum"
                       minlength="9"
                       maxlength="9" />
            </span>

            <div id="description-for-belhl9u3j" class="form-field__messages">
                @Html.ValidationMessageFor(x => x.PassportNumber, "", new { @class = "parsley-errors-list" })
            </div>

        </div>

                <div id="datepicker-container-xespbsdif" class="form-field form-field--text   form-field--6 ">

                    <label for="form-field-xespbsdif" class="form-field__label">

                        @Translate.Text("Scholarship Issue Date")

                    </label>

                    <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                        <input class="form-field__input form-field__input--text form-field__input--datepicker"
                               id="form-field-xespbsdif"
                               name="PassportIssueDate"
                               required=""
                               type="text" value="@Model.PassportIssueDate"
                               data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)"
                               aria-describedby="description-for-xespbsdif"
                               data-parsley-errors-container="#description-for-xespbsdif"
                               data-el="datepicker" data-picker-options="{&quot;selectYears&quot;: true , &quot;selectMonths&quot;: true }" />
                    </span>

                    <div id="description-for-xespbsdif" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.PassportIssueDate, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div id="datepicker-container-c2nvkx48r" class="form-field form-field--text   form-field--6 ">

                    <label for="form-field-c2nvkx48r" class="form-field__label">

                        @Translate.Text("Scholarship Expiry Date")

                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                        <input class="form-field__input form-field__input--text form-field__input--datepicker"
                               id="form-field-c2nvkx48r"
                               name="PassportExpiryDate"
                               type="text" value="@Model.PassportExpiryDate"
                               placeholder="DD/MM/YY"
                               aria-describedby="description-for-c2nvkx48r"
                               data-parsley-errors-container="#description-for-c2nvkx48r"
                               required
                               data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)"
                               data-el="datepicker" data-picker-options="{&quot;selectYears&quot;: true , &quot;selectMonths&quot;: true }" />
                    </span>

                    <div id="description-for-c2nvkx48r" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.PassportExpiryDate, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div class="form-field form-field--select form-field--select-single">

                    <label for="form-field-fwjs33gp4" class="form-field__label">

                        @Translate.Text("Scholarship Place Of Issue")

                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-fwjs33gp4"
                               name="PassportPlaceOfIssue"
                               type="text" value="@Model.PassportPlaceOfIssue"
                               placeholder="@Translate.Text("Scholarship Place Of Issue Placeholder")"
                               aria-describedby="description-for-fwjs33gp4"
                               data-parsley-errors-container="#description-for-fwjs33gp4"
                               required
                               data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)"
                               maxlength="30" />

                    </span>

                    <div id="description-for-fwjs33gp4" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.PassportPlaceOfIssue, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div class="form-field form-field--text">

                    <label for="form-field-q2qesv2at" class="form-field__label">

                        @Translate.Text("Scholarship EmiratesID Label")

                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-q2qesv2at"
                               name="EmiratesID"
                               value="@Model.EmiratesID"
                               type="number"
                               aria-describedby="description-for-q2qesv2at"
                               data-parsley-errors-container="#description-for-q2qesv2at"
                               readonly="readonly"
                               data-parsley-emiratesid="" />
                    </span>

                    <div id="description-for-q2qesv2at" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.EmiratesID, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div id="datepicker-container-41zkrby3g" class="form-field form-field--text   form-field--6 ">

                    <label for="form-field-41zkrby3g" class="form-field__label">

                        @Translate.Text("Scholarship Issue Date")

                    </label>

                    <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                        <input class="form-field__input form-field__input--text form-field__input--datepicker"
                               id="form-field-41zkrby3g"
                               name="EIDIssueDate"
                               type="text" value="@Model.EIDIssueDate"
                               placeholder="DD/MM/YY"
                               aria-describedby="description-for-41zkrby3g"
                               data-parsley-errors-container="#description-for-41zkrby3g"
                               data-el="datepicker" data-picker-options="{&quot;selectYears&quot;: true , &quot;selectMonths&quot;: true }" />
                    </span>

                    <div id="description-for-41zkrby3g" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.EIDIssueDate, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div id="datepicker-container-zp8qwifmk" class="form-field form-field--text   form-field--6 ">

                    <label for="form-field-zp8qwifmk" class="form-field__label">

                        @Translate.Text("Scholarship Expiry Date")

                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                        <input class="form-field__input form-field__input--text form-field__input--datepicker"
                               id="form-field-zp8qwifmk"
                               name="EIDExpiryDate"
                               type="text" value="@Model.EIDExpiryDate"
                               placeholder="DD/MM/YY"
                               aria-describedby="description-for-zp8qwifmk"
                               data-parsley-errors-container="#description-for-zp8qwifmk"
                               required
                               data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)"
                               data-el="datepicker"
                               data-picker-options="{&quot;selectYears&quot;: true , &quot;selectMonths&quot;: true }" />
                    </span>

                    <div id="description-for-zp8qwifmk" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.EIDExpiryDate, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div class="form-field form-field--text    ">

                    <label for="form-field-j4vlebebg" class="form-field__label">

                        @Translate.Text("Scholarship Father First Name")

                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-j4vlebebg"
                               name="FatherFirstName"
                               type="text" value="@Model.FatherFirstName"
                               placeholder="@Translate.Text("Scholarship Father First Name")"
                               aria-describedby="description-for-j4vlebebg"
                               data-parsley-errors-container="#description-for-j4vlebebg"
                               required
                               data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)" />
                    </span>

                    <div id="description-for-j4vlebebg" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.FatherFirstName, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div class="form-field form-field--text   form-field--6 ">

                    <label for="form-field-z7kmmvxzs" class="form-field__label">

                        @Translate.Text("Scholarship Father Middle Name")

                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-z7kmmvxzs"
                               name="FatherMiddleName" value="@Model.FatherMiddleName"
                               type="text"
                               placeholder="@Translate.Text("Scholarship Father Middle Name")"
                               aria-describedby="description-for-z7kmmvxzs"
                               data-parsley-errors-container="#description-for-z7kmmvxzs" />
                    </span>

                    <div id="description-for-z7kmmvxzs" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.FatherMiddleName, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div class="form-field form-field--text   form-field--6 ">

                    <label for="form-field-b5vv0l4zw" class="form-field__label">

                        @Translate.Text("Scholarship Father Last Name")

                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-b5vv0l4zw"
                               name="FatherLastName"
                               type="text" value="@Model.FatherLastName"
                               placeholder="@Translate.Text("Scholarship Father Last Name")"
                               aria-describedby="description-for-b5vv0l4zw"
                               data-parsley-errors-container="#description-for-b5vv0l4zw"
                               required
                               data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)" />
                    </span>

                    <div id="description-for-b5vv0l4zw" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.FatherLastName, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div class="form-field form-field--text  clear_both ">

                    <label for="form-field-02w7yizdi" class="form-field__label">

                        @Translate.Text("Scholarship Mother First Name")

                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-02w7yizdi"
                               name="MotherFirstName"
                               type="text" value="@Model.MotherFirstName"
                               placeholder="@Translate.Text("Scholarship Mother First Name")"
                               aria-describedby="description-for-02w7yizdi"
                               data-parsley-errors-container="#description-for-02w7yizdi"
                               required
                               data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)" />
                    </span>

                    <div id="description-for-02w7yizdi" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.MotherFirstName, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div class="form-field form-field--text   form-field--6 ">

                    <label for="form-field-g2bg3p851" class="form-field__label">

                        @Translate.Text("Scholarship Mother Middle Name")

                    </label>

                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-g2bg3p851"
                               name="MotherMiddleName"
                               type="text" value="@Model.MotherMiddleName"
                               placeholder="@Translate.Text("Scholarship Mother Middle Name")"
                               aria-describedby="description-for-g2bg3p851"
                               data-parsley-errors-container="#description-for-g2bg3p851" />
                    </span>

                    <div id="description-for-g2bg3p851" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.MotherMiddleName, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div class="form-field form-field--text   form-field--6 ">

                    <label for="form-field-e9z53lbyn" class="form-field__label">

                        @Translate.Text("Scholarship Mother Last Name")

                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-e9z53lbyn"
                               name="MotherLastName"
                               type="text" value="@Model.MotherLastName"
                               placeholder="@Translate.Text("Scholarship Mother Last Name")"
                               aria-describedby="description-for-e9z53lbyn"
                               data-parsley-errors-container="#description-for-e9z53lbyn"
                               required
                               data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)" />
                    </span>

                    <div id="description-for-e9z53lbyn" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.MotherLastName, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div class="form-field form-field--text  clear_both  ">

                    <label for="form-field-o487hgk93" class="form-field__label">

                        @Translate.Text("Scholarship Family Book Number")

                    </label>

                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text	"
                               id="form-field-o487hgk93"
                               name="FamilyBookNumber"
                               type="text"
                               value="@Model.FamilyBookNumber"
                               placeholder="@Translate.Text("Scholarship Family Book Number")"
                               aria-describedby="description-for-o487hgk93"
                               maxlength="15"
                               data-parsley-maxlength="15"
                               data-parsley-errors-container="#description-for-o487hgk93" />
                    </span>

                    <div id="description-for-o487hgk93" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.FamilyBookNumber, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div class="form-field form-field--select form-field--select-single">

                    <label for="form-field-1pfrn8kx1" class="form-field__label">

                        @Translate.Text("Scholarship Source of application")

                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <span class="form-field__input-wrapper form-field__input-wrapper--select">
                        @Html.DropDownListFor(model => model.SourceOfApplication, Model.ApplicationSources,
                       Translate.Text("Scholarship Select Source"), new
                       {
                           @class = "form-field__input form-field__input--select form-field__input--select-full",
                           @id = "form-field-1pfrn8kx1",
                           @required = "required",
                           @data_parsley_required_message = @Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED),
                           @data_parsley_errors_container = "#description-for-1pfrn8kx1",
                           @aria_describedby = "description-for-1pfrn8kx1",
                       })


                    </span>

                    <div id="description-for-1pfrn8kx1" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.SourceOfApplication, "", new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <fieldset class="fieldset">

                    <legend class="legend">@Translate.Text("Scholarship Document Uploads")</legend>

                    <div class="form-field form-field--upload">

                        <div class="form-field__input-wrapper">
                            <div class="form-field__preview-wrapper">

                                <img src="/images/preview_pdf@2x.png" data-src="/images/preview_pdf@2x.png" data-success="/images/upload_success@2x.png" class="form-field__preview" aria-hidden="true" role="presentation" alt="@Translate.Text("Scholarship Candidate Photo")" data-uploader-image="2o8u8phug">

                            </div>
                            <div class="form-field__uploader-details">

                                <label for="form-field-2o8u8phug" class="form-field__label">

                                    @Translate.Text("Scholarship Candidate Photo")

                                    <span class="form-field__label-required aria-only">(required)</span>

                                </label>

                                <div>
                                    <label>
                                        <input class="form-field__input form-field__input--upload"
                                               id="form-field-2o8u8phug" name="Photo" type="file"
                                               aria-describedby="description-for-2o8u8phug"
                                               data-parsley-errors-container="#description-for-2o8u8phug"
                                               data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)"
                                               data-uploader-field="2o8u8phug" accept="application/msword,image/*,application/pdf"
                                               data-accepts='"jpg", "bmp","gif","png","jpeg","pdf","doc","docx"'
                                               data-size="2048000">

                                        <span class="button button--primary button--next button--small focus-enabled"
                                              data-uploader-button="upload-choose">@Translate.Text("Choose")</span>

                                        </label>
                                    </div>
                                    <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                                    <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                                    <p class="form-field__input--upload-filename" data-uploader-filename="2o8u8phug"></p>
                                    <p>
                                        <button class="button button--text button--remove hidden" data-uploader-remove="2o8u8phug">@Translate.Text("Remove")</button>
                                    </p>

                                </div>

                            </div>

                            <div id="description-for-2o8u8phug" class="form-field__messages">
                                @if (Model.ExistingPhoto != null && !string.IsNullOrEmpty(Model.ExistingPhoto.DownloadUrl))
                                {
                                <a class="link" url="@Model.ExistingPhoto.DownloadUrl">@Translate.Text("Scholarship Existing File")</a>
                                }
                                <p class="form-field__description">
                                    @Translate.Text("Scholarship File Upload Format Message")
                                </p>
                                @Html.ValidationMessageFor(x => x.Photo, "", new { @class = "parsley-errors-list" })
                            </div>

                        </div>

                        <div class="form-field form-field--upload">

                            <div class="form-field__input-wrapper">
                                <div class="form-field__preview-wrapper">

                                    <img src="../../images/preview_pdf@2x.png" data-src="../../images/preview_pdf@2x.png" data-success="../images/upload_success@2x.png" class="form-field__preview" aria-hidden="true" role="presentation" alt="@Translate.Text("Scholarship EmiratesID Label")" data-uploader-image="rq1gyxbcu">

                                </div>
                                <div class="form-field__uploader-details">

                                    <label for="form-field-rq1gyxbcu" class="form-field__label">

                                        @Translate.Text("Scholarship EmiratesID Label")

                                        <span class="form-field__label-required aria-only">(required)</span>

                                    </label>

                                    <div>
                                        <label>
                                            <input class="form-field__input form-field__input--upload" id="form-field-rq1gyxbcu" name="EmirateIDUpload" type="file"
                                                   aria-describedby="description-for-rq1gyxbcu" data-parsley-errors-container="#description-for-rq1gyxbcu"
                                                   data-parsley-required-error-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)"
                                                   data-uploader-field="rq1gyxbcu" accept="application/msword,image/*,application/pdf"
                                                   data-accepts='"jpg", "bmp","gif","png","jpeg","pdf","doc","docx"'
                                                   data-size="2048000">

                                            <span class="button button--primary button--next button--small focus-enabled"
                                                  data-uploader-button="upload-choose">@Translate.Text("Choose")</span>

                                            </label>
                                        </div>
                                        <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                                        <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                                        <p class="form-field__input--upload-filename" data-uploader-filename="rq1gyxbcu"></p>
                                        <p>
                                            <button class="button button--text button--remove hidden" data-uploader-remove="rq1gyxbcu">@Translate.Text("Remove")</button>
                                        </p>

                                    </div>

                                </div>

                                <div id="description-for-rq1gyxbcu" class="form-field__messages">
                                    @if (Model.ExistingEmiratesID != null && !string.IsNullOrEmpty(Model.ExistingEmiratesID.DownloadUrl))
                                    {
                                        <a class="link" url="@Model.ExistingEmiratesID.DownloadUrl">@Translate.Text("Scholarship Existing File")</a>
                                    }
                                    <p class="form-field__description">@Translate.Text("Scholarship File Upload Format Message")</p>
                                    @Html.ValidationMessageFor(x => x.EmirateIDUpload, "", new { @class = "parsley-errors-list" })
                                </div>

                            </div>

                            <div class="form-field form-field--upload">

                                <div class="form-field__input-wrapper">
                                    <div class="form-field__preview-wrapper">

                                        <img src="../../images/preview_pdf@2x.png" data-src="../../images/preview_pdf@2x.png" data-success="../images/upload_success@2x.png" class="form-field__preview" aria-hidden="true" role="presentation" alt="@Translate.Text("Scholarship Passport Upload")" data-uploader-image="yb0u991ft">

                                    </div>
                                    <div class="form-field__uploader-details">

                                        <label for="form-field-yb0u991ft" class="form-field__label">

                                            @Translate.Text("Scholarship Passport Upload")

                                            <span class="form-field__label-required aria-only">(required)</span>

                                        </label>

                                        <div>
                                            <label>
                                                <input class="form-field__input form-field__input--upload" id="form-field-yb0u991ft" name="PassportUpload" type="file"
                                                       aria-describedby="description-for-yb0u991ft" data-parsley-errors-container="#description-for-yb0u991ft"
                                                       data-parsley-required-error-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)" data-uploader-field="yb0u991ft"
                                                       accept="application/msword,image/*,application/pdf"
                                                       data-accepts='"jpg", "bmp","gif","png","jpeg","pdf","doc","docx"'
                                                       data-size="2048000">

                                                <span class="button button--primary button--next button--small focus-enabled"
                                                      data-uploader-button="upload-choose">@Translate.Text("Choose")</span>

                                                </label>
                                            </div>

                                            <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                                            <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                                            <p class="form-field__input--upload-filename" data-uploader-filename="yb0u991ft"></p>
                                            <p>
                                                <button class="button button--text button--remove hidden" data-uploader-remove="yb0u991ft">@Translate.Text("Remove")</button>
                                            </p>

                                        </div>

                                    </div>

                                    <div id="description-for-yb0u991ft" class="form-field__messages">
                                        @if (Model.ExistingPassport != null && !string.IsNullOrEmpty(Model.ExistingPassport.DownloadUrl))
                                        {
                                        <a class="link" url="@Model.ExistingPassport.DownloadUrl">@Translate.Text("Scholarship Existing File")</a>
                                        }
                                        <p class="form-field__description">@Translate.Text("Scholarship File Upload Format Message")</p>
                                        @Html.ValidationMessageFor(x => x.PassportUpload, "", new { @class = "parsley-errors-list" })

                                    </div>

                                </div>

                                <div class="form-field form-field--upload">

                                    <div class="form-field__input-wrapper">
                                        <div class="form-field__preview-wrapper">

                                            <img src="../../images/preview_pdf@2x.png" data-src="../../images/preview_pdf@2x.png" data-success="../images/upload_success@2x.png" class="form-field__preview" aria-hidden="true" role="presentation" alt="@Translate.Text("Scholarship Family Book")" data-uploader-image="gfvijribb">

                                        </div>
                                        <div class="form-field__uploader-details">

                                            <label for="form-field-gfvijribb" class="form-field__label">

                                                @Translate.Text("Scholarship Family Book")

                                                <span class="form-field__label-required aria-only">(required)</span>

                                            </label>

                                            <div>
                                                <label>
                                                    <input class="form-field__input form-field__input--upload" id="form-field-gfvijribb" name="FamilyBookUpload" type="file"
                                                           aria-describedby="description-for-gfvijribb" data-parsley-errors-container="#description-for-gfvijribb"
                                                           data-parsley-required-error-message="This field is required" data-uploader-field="gfvijribb"
                                                           accept="application/msword,image/*,application/pdf"
                                                           data-accepts='"jpg", "bmp","gif","png","jpeg","pdf","doc","docx"' data-size="2048000">

                                                    <span class="button button--primary button--next button--small focus-enabled" data-uploader-button="upload-choose">@Translate.Text("Choose")</span>

                                                </label>
                                            </div>
                                            <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                                            <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                                            <p class="form-field__input--upload-filename" data-uploader-filename="gfvijribb"></p>
                                            <p>
                                                <button class="button button--text button--remove hidden" data-uploader-remove="gfvijribb">@Translate.Text("Remove")</button>
                                            </p>

                                        </div>

                                    </div>

                                    <div id="description-for-gfvijribb" class="form-field__messages">
                                        @if (Model.ExistingFamilyBook != null && !string.IsNullOrEmpty(Model.ExistingFamilyBook.DownloadUrl))
                                        {
                                        <a class="link" url="@Model.ExistingFamilyBook.DownloadUrl">@Translate.Text("Scholarship Existing File")</a>
                                        }
                                        <p class="form-field__description">@Translate.Text("Scholarship File Upload Format Message")</p>
                                        @Html.ValidationMessageFor(x => x.FamilyBookUpload, "", new { @class = "parsley-errors-list" })

                                    </div>

                                </div>

                            </fieldset>

                            <div class="form-field__button">

                                <button type="submit" class="button button--primary" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Scholarship Save Continue")</button>

                            </div>

}
