@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using CNST = DEWAXP.Feature.HR.Models.Scholarship.Constants;
@using DEWAXP.Foundation.Helpers;
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.HR.Models.Scholarship.Questionnaire

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new
{
    @class = "form",
    @data_form = "true",
    @data_parsley_focus = "none",
    @data_submit_validate = "enabled",
    @enctype = "multipart/form-data"
}))
{
    @Html.Sitecore().FormHandler()
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

    <div class="form-field form-field--select form-field--select-single">
        <label for="form-field-x1dkri0rn" class="form-field__label">
            @Translate.Text("Scholarship Military Status")
            <span class="form-field__label-required aria-only">(required)</span>
        </label>        <span class="form-field__input-wrapper form-field__input-wrapper--select">
            <select class="form-field__input form-field__input--select form-field__input--select-full"
                    id="form-field-x1dkri0rn" name="MilitaryStatus" aria-describedby="description-for-x1dkri0rn"
                    data-parsley-errors-container="#description-for-x1dkri0rn" required="required"
                    data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)" data-parsley-trigger="change"
                    data-parsley-id="8">
                <option value="">@Translate.Text("Scholarship Select Military Status")</option>
                @if (Model.MilitaryStatus != null)
                {
                    <option value="0" @( Model.MilitaryStatus.Equals("0") ? "selected" : "")>@Translate.Text("Scholarship Completed")</option>
                    <option value="2" @( Model.MilitaryStatus.Equals("2") ? "selected" : "")>@Translate.Text("Scholarship Exemption")</option>
                    <option value="3" @( Model.MilitaryStatus.Equals("3") ? "selected" : "")>@Translate.Text("Scholarship Not Applicable")</option>
                    <option value="1" @( Model.MilitaryStatus.Equals("1") ? "selected" : "")>@Translate.Text("Scholarship Not Completed")</option>
                }
                else
                {
                    <option value="0">@Translate.Text("Scholarship Completed")</option>
                    <option value="2">@Translate.Text("Scholarship Exemption")</option>
                    <option value="3">@Translate.Text("Scholarship Not Applicable")</option>
                    <option value="1">@Translate.Text("Scholarship Not Completed")</option>
                }
            </select>
        </span>
        <div id="description-for-x1dkri0rn" class="form-field__messages">
            @Html.ValidationMessageFor(x => x.MilitaryStatus, "", new { @class = "parsley-errors-list" })

        </div>
    </div>
    <div class="form-field">
        <fieldset class="fieldset">
            <legend class="form-field__label">
                @Translate.Text("Scholarship Do you have any medical condition")
                <span class="form-field__label-required aria-only">(required)</span>
            </legend>
            <p class="form-field__radio ">
                <label>
                    <input class="form-field__input form-field__input--radio"
                           id="form-field-scored_yes" aria-label="form-field-scored_yes" name="AnyMedicalCondition" type="radio"
                           value="yes" aria-describedby="description-for-651bqlz47" required="required"
                           data-parsley-errors-container="#description-for-651bqlz47"
                           data-parsley-required-message="@Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED)"
                           data-parsley-multiple="scored" data-parsley-id="11">

                    <span class="form-field__fakeradio focus-enabled">

                        @Translate.Text("Scholarship Yes")

                    </span>
                </label>
            </p>

            <p class="form-field__radio ">
                <label>
                    <input class="form-field__input form-field__input--radio" id="form-field-scored_no"
                           aria-label="form-field-scored_no"
                           name="AnyMedicalCondition" type="radio" value="no" aria-describedby="description-for-651bqlz47"
                           data-parsley-errors-container="#description-for-651bqlz47" data-parsley-multiple="scored" checked>

                    <span class="form-field__fakeradio focus-enabled">

                        @Translate.Text("Scholarship No")

                    </span>
                </label>
            </p>
            <div id="description-for-651bqlz47" class="form-field__messages">
            </div>
        </fieldset>
    </div>
    <div class="form-field form-field--text form-field--textarea">
        <label for="form-field-z137cp8ug" class="form-field__label">
            @Translate.Text("Scholarship Please specify")
        </label>
        <span class="form-field__input-wrapper">
            <textarea class="form-field__input form-field__input--text form-field__input--textarea"
                      id="form-field-z137cp8ug" name="MedicalConditionDetail"
                      aria-describedby="description-for-z137cp8ug"
                      data-parsley-errors-container="#description-for-z137cp8ug" data-parsley-id="15">@Model.MedicalConditionDetail</textarea>
        </span>

        <div id="description-for-z137cp8ug" class="form-field__messages">
            @Html.ValidationMessageFor(x => x.MedicalConditionDetail, "", new { @class = "parsley-errors-list" })

        </div>
    </div>
    <fieldset class="fieldset ">
        <legend class="legend">@Translate.Text("Scholarship Document Uploads")</legend>

        <div class="form-field form-field--upload">

            <div class="form-field__input-wrapper">
                <div class="form-field__preview-wrapper">

                    <img src="../../images/preview_pdf@2x.png" data-src="../../images/preview_pdf@2x.png" data-success="../images/upload_success@2x.png" class="form-field__preview" aria-hidden="true" role="presentation" alt="@Translate.Text("Scholarship Military service status")" data-uploader-image="rq1gyxbcu">

                </div>
                <div class="form-field__uploader-details">

                    <label for="form-field-rq1gyxbcu" class="form-field__label">

                        @Translate.Text("Scholarship Military service status")

                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <div>
                        <label>
                            <input class="form-field__input form-field__input--upload" id="form-field-rq1gyxbcu" name="MilitaryServiceUpload" type="file"
                                   aria-describedby="description-for-rq1gyxbcu" data-parsley-errors-container="#description-for-rq1gyxbcu"
                                   data-uploader-field="rq1gyxbcu" accept="application/msword,application/vnd.ms-excel,image/*,application/pdf"
                                   data-accepts='"jpg", "bmp","gif","png","jpeg","pdf","doc","docx","xls","csv", "xlsx"'
                                   data-size="2048000">

                            <span class="button button--primary button--next button--small focus-enabled"
                                  data-uploader-button="upload-choose">@Translate.Text("Choose")</span>

                            </label>
                        </div>
                        <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                        <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                        <p class="form-field__input--upload-filename" data-uploader-filename="rq1gyxbcu"></p>
                        <p>
                            <button class="button button--text button--remove hidden" data-uploader-remove="rq1gyxbcu">@Translate.Text("Remove")</button>
                        </p>

                    </div>

                </div>

                <div id="description-for-rq1gyxbcu" class="form-field__messages">

                    @if (Model.ExistingMilitaryServiceUpload != null && !string.IsNullOrEmpty(Model.ExistingMilitaryServiceUpload.DownloadUrl))
                    {
                        <a class="link" url="@Model.ExistingMilitaryServiceUpload.DownloadUrl">@Translate.Text("Scholarship Existing File")</a>
                    }
                    <p class="form-field__description">@Translate.Text("Scholarship File Upload Format Message")</p>
                    @Html.ValidationMessageFor(x => x.MilitaryServiceUpload, "", new { @class = "parsley-errors-list" })
                </div>

            </div>
        </fieldset>
        <div class="form-field__button">
            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCHOLARSHIP_ACADEMIC_INFORMATION_PAGE)" role="button" class="button button--primary">@Translate.Text("Scholarship Back")</a>
            <button type="submit" class="button button--primary" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Scholarship Save Continue")</button>
        </div>

    }