@using DEWAXP.Foundation.Content
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using CNST = DEWAXP.Feature.HR.Models.Scholarship.Constants;
@model DEWAXP.Feature.HR.Models.Scholarship.ForgotPassword

<div class="grid">

    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_form = "true", @data_parsley_focus = "none", @class = "form", @data_submit_validate = "enabled" }))
            {
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()

                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

                <fieldset class="fieldset">
                    <legend class="legend-color">.</legend>
                    <div class="form-field form-field--text">
                        <label for="form-field-forgot-password-username" class="form-field__label">
                            @Translate.Text(CNST.DictionaryKeys.USERNAME_LABEL)
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(x => x.UserName, new
                       {
                           @class = "form-field__input form-field__input--text",
                           @id = "form-field-forgot-password-username",
                           @placeholder = Translate.Text(CNST.DictionaryKeys.USERNAME_LABEL),
                           @required = "required",
                           @data_parsley_error_message = Translate.Text(CNST.DictionaryKeys.USERNAME_FORMAT_VALIDATION),
                           @data_parsley_required_message = Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED),
                           @data_parsley_errors_container = "#description-for-forgot-password-username",
                           @aria_describedby = "description-for-forgot-password-username",
                           @autocomplete = "off"

                       })
                        </span>
                        <div id="description-for-forgot-password-username" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "parsley-errors-list" })
                        </div>
                    </div>
                    <div class="form-field form-field--text">
                        <label for="form-field-email" class="form-field__label">
                            @Translate.Text("email label")
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(x => x.EmailAddress, new
                       {
                           @class = "form-field__input form-field__input--text",
                           @id = "form-field-email",
                           @placeholder = Translate.Text("J106.EnterEmailAddress"),
                           @required = "required",
                           @type = "email",
                           @data_parsley_error_message = Translate.Text("email validation message"),
                           @data_parsley_required_message = Translate.Text(CNST.DictionaryKeys.FIELD_REQUIRED),
                           @data_parsley_errors_container = "#description-for-email",
                           @aria_describedby = "description-for-email"
                       })
                        </span>
                        <div id="description-for-email" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.EmailAddress, "", new { @class = "parsley-errors-list" })
                        </div>
                    </div>
                </fieldset>
                <div class="form-field__button">
                    <button class="button button--primary button--fullwidth" type="submit" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Scholarship Send Recovery Email")</button>
                </div>}
        </div>
    </div>
</div>

<script type="text/javascript">

    jQuery(function ($) {

        $(".m12-myaccount").hide();
    });

</script>
