@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.HR.Models.Scholarship.Registration
<div class="grid">
    <div class="grid__row">

        <div class="grid__column grid__column--12 grid__column--form">

            <p class="text__content-copy">@Translate.Text("Scholarship Form Header")</p>

            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new
            {
                @class = "form",
                @data_form = "true",
                @data_parsley_focus = "none",
                @data_submit_validate = "enabled"
            }))
            {
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

                <div class="form-field form-field--select form-field--select-single">
                    <label for="form-field-3mu9n7ir0" class="form-field__label">
                        @Translate.Text("Scholarship Program")
                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--select">
                        @Html.DropDownListFor(model => model.Program, Model.Programs, Translate.Text("Scholarship Select Program"), new
                   {
                       @class = "form-field__input form-field__input--select form-field__input--select-full",
                       @id = "form-field-3mu9n7ir0",
                       @required = "required",
                       @data_parsley_rquired_message = Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.FIELD_REQUIRED),
                       @data_parsley_error_message = Translate.Text("Scholarship Select Program"),
                       @data_parsley_errors_container = "#description-for-3mu9n7ir0",
                       @aria_describedby = "description-for-3mu9n7ir0",
                   })

                    </span>

                    <div id="description-for-3mu9n7ir0" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Program, string.Empty, new { @class = "parsley-errors-list" })
                    </div>

                </div>

                <div class="form-field form-field--text    ">

                    <label for="form-field-r0iy1ne2e" class="form-field__label">
                        @Translate.Text("Scholarship First Name")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.FirstName, new
                   {
                       @class = "form-field__input form-field__input--text",
                       @id = "form-field-r0iy1ne2e",
                       @required = "required",
                       @data_parsley_maxlength = "25",
                       @maxlength = "25",
                       @data_parsley_required_message = Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.FIELD_REQUIRED),
                       @data_parsley_errors_container = "#description-for-r0iy1ne2e",
                       @aria_describedby = "description-for-r0iy1ne2e",

                       @autocomplete = "off"
                   })
                    </span>

                    <div id="description-for-r0iy1ne2e" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.FirstName, string.Empty, new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--text   form-field--6 ">
                    <label for="form-field-f0fqla3om" class="form-field__label">
                        @Translate.Text("Scholarship Middle Name")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.MiddleName, new
                   {
                       @class = "form-field__input form-field__input--text",
                       @id = "form-field-f0fqla3om",
                       @data_parsley_required_message = Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.FIELD_REQUIRED),
                       @data_parsley_errors_container = "#description-for-f0fqla3om",
                       @aria_describedby = "description-for-f0fqla3om",
                       @data_parsley_maxlength = "25",
                       @maxlength = "25",
                       @autocomplete = "off"
                   })

                    </span>

                    <div id="description-for-f0fqla3om" class="form-field__messages">

                        <p class="form-field__description">@Translate.Text("Scholarship.Name.as.per.passport")</p>
                        @Html.ValidationMessageFor(x => x.MiddleName, string.Empty, new { @class = "parsley-errors-list" })
                    </div>
                </div>

                <div class="form-field form-field--text form-field--6">

                    <label for="form-field-ykqfnkq1l" class="form-field__label">
                        @Translate.Text("Scholarship Last Name")

                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.LastName, new
                   {
                       @class = "form-field__input form-field__input--text",
                       @id = "form-field-ykqfnkq1l",
                       @required = "required",
                       @data_parsley_required_message = Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.FIELD_REQUIRED),
                       @data_parsley_errors_container = "#description-for-ykqfnkq1l",
                       @aria_describedby = "description-for-ykqfnkq1l",
                       @data_parsley_maxlength = "25",
                       @maxlength = "25",
                       @autocomplete = "off"
                   })

                    </span>

                    <div id="description-for-ykqfnkq1l" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.LastName, string.Empty, new { @class = "parsley-errors-list" })
                    </div>
                </div>


                <div class="form-field form-field--text clear_both">

                    <label for="form-field-xcwrir022" class="form-field__label">
                        @Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.EMIRATES_ID_LABEL)
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.EmiratesID, new
                   {
                       @class = "form-field__input form-field__input--text",
                       @id = "form-field-xcwrir022",
                       @required = "required",
                       @type = "number",
                       @placeholder=Translate.Text("emiratesId placeholder text"),
                       @data_parsley_required_message = Translate.Text("Scholarship Please enter a valid Emirates ID"),
                       @data_parsley_error_message = Translate.Text("Scholarship Please enter a valid Emirates ID"),
                       @data_parsley_errors_container = "#description-for-xcwrir022",
                       @aria_describedby = "description-for-xcwrir022",
                       @data_parsley_emiratesid = "",
                       @autocomplete = "off"
                   })


                    </span>

                    <div id="description-for-xcwrir022" class="form-field__messages">
                    </div>
                </div>
                <div class="form-field form-field--text    ">
                    <label for="form-field-v7kkwx52c" class="form-field__label">
                        @Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.USERNAME_LABEL)
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.UserName, new
                   {
                       @class = "form-field__input form-field__input--text",
                       @id = "form-field-v7kkwx52c",
                       @required = "required",
                       @data_parsley_required_message = Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.FIELD_REQUIRED),
                       @data_parsley_error_message = Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.USERNAME_FORMAT_VALIDATION),
                       @data_parsley_errors_container = "#description-for-v7kkwx52c",
                       @aria_describedby = "description-for-v7kkwx52c",
                       @data_parsley_minlength = "6",
                       @data_parsley_maxlength = "25",
                       @maxlength = "25",
                       @autocomplete = "off"
                   })

                    </span>
                    <div id="description-for-v7kkwx52c" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.UserName, string.Empty, new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--text    ">
                    <label for="form-field-password" class="form-field__label">
                        @Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.PASSWORD_LABEL)
                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-password"
                               name="Password"
                               type="password"
                               autocomplete="off"
                               placeholder="@Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.PASSWORD_PLACEHOLDER)"
                               aria-describedby="description-for-password"
                               data-parsley-errors-container="#description-for-password"
                               required
                               data-parsley-maxlength="25"
                               maxlength="25" ,
                               data-parsley-required-message="@Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.FIELD_REQUIRED)"
                               data-parsley-trigger="focusout" />

                    </span>

                    <div id="description-for-password" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Password, string.Empty, new { @class = "parsley-errors-list" })
                        <p class="form-field__description">
                            @Translate.Text("Scholarship Password Hint")
                        </p>
                    </div>
                </div>

                <div class="form-field form-field--text">

                    <label for="form-field-vvpyb90ee" class="form-field__label">
                        @Translate.Text("Scholarship Repeat Password Label")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-vvpyb90ee"
                               name="Password1"
                               type="password"
                               data-parsley-maxlength="25"
                               maxlength="25"
                               autocomplete="off"
                               placeholder="@Translate.Text("Scholarship Repeat Password Placeholder")"
                               aria-describedby="description-for-vvpyb90ee"
                               data-parsley-errors-container="#description-for-vvpyb90ee"
                               required
                               data-parsley-required-message="@Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.FIELD_REQUIRED)"
                               data-parsley-equalto="#form-field-password"
                               data-parsley-equalto-message="@Translate.Text( "Scholarship Password Not Match Error")"
                               data-parsley-trigger="focusout" />

                    </span>
                    <div id="description-for-vvpyb90ee" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Password1, string.Empty, new { @class = "parsley-errors-list" })
                    </div>
                </div>


                <div class="form-field form-field--text">
                    <label for="Email" class="form-field__label">
                        @Translate.Text("Scholarship Email Label")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">

                        <input class="form-field__input form-field__input--text"
                               id="Email"
                               name="Email"
                               type="email"
                               data-parsley-maxlength="50"
                               data-parsley-type="email"
                               maxlength="50"
                               aria-describedby="description-for-email"
                               data-parsley-errors-container="#description-for-email"
                               required
                               placeholder="@Translate.Text("email placeholder text")"
                               data-parsley-required-message="@Translate.Text("Scholarship Please Enter Valid Email Address")"
                               data-parsley-error-message="@Translate.Text("Scholarship Please Enter Valid Email Address")"
                               data-parsley-trigger="focusout"
                               value="@Model.Email" />
                    </span>

                    <div id="description-for-email" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Email, string.Empty, new { @class = "parsley-errors-list" })
                    </div>

                </div>
                <div class="form-field form-field--text    ">
                    <label for="Email1" class="form-field__label">
                        @Translate.Text("Scholarship Email Repeat Label")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--tex"
                               id="Email1"
                               name="Email1"
                               type="email"
                               data-parsley-maxlength="50"
                               data-parsley-type="email"
                               maxlength="50"
                               placeholder="@Translate.Text("email placeholder text")"
                               aria-describedby="description-for-ooe7vhfuo"
                               data-parsley-errors-container="#description-for-ooe7vhfuo"
                               required
                               data-parsley-required-message="@Translate.Text("Scholarship Please Enter Valid Email Address")"
                               data-parsley-equalto="#Email"
                               data-parsley-trigger="focusout"
                               data-parsley-equalto-message="@Translate.Text("Scholarship Email Do Not Match")"
                               data-parsley-type-message="@Translate.Text("Scholarship Please Enter Valid Email Address")"
                               value="@Model.Email1" />

                    </span>
                    <div id="description-for-ooe7vhfuo" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.Email1, string.Empty, new { @class = "parsley-errors-list" })
                    </div>
                </div>

                <div class="form-field form-field--text">
                    <label for="form-field-mobilenumber" class="form-field__label">
                        @Translate.Text("Scholarship Mobile Number")
                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                        <input id="form-field-mobilenumber"
                               type="tel"
                               name="MobileNumber"
                               value="@Model.MobileNumber"
                               @*aria-required="true"*@
                               aria-describedby="description-for-vyze3b1uf"
                               required="required"
                               data-parsley-required-message="@Translate.Text("mobile validation message")"
                               data-parsley-error-message="@Translate.Text("mobile validation message")"
                               placeholder="@Translate.Text("DA.MobileNumber Placeholder")"
                               data-parsley-type="digits"
                               data-parsley-trigger="focusout"
                               data-parsley-mobile_number
                               data-parsley-errors-container="#description-for-vyze3b1uf"
                               class="form-field__input form-field__input--text form-field__input--prefixed" />

                    </span>

                    <div id="description-for-vyze3b1uf" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.MobileNumber, string.Empty, new { @class = "parsley-errors-list" })
                    </div>
                </div>

                <div class="form-field">
                    <fieldset class="fieldset">
                        <legend class="form-field__label">
                            @Translate.Text("Scholarship Have You Scored Label")

                            <span class="form-field__label-required aria-only">(required)</span>
                        </legend>
                        <p class="form-field__radio ">
                            <label>

                                <input class="form-field__input form-field__input--radio" id="form-field-scored_yes"
                                       aria-label="form-field-scored_yes"
                                       name="HaveScored80Plus"
                                       type="radio"
                                       value="1"
                                       required
                                       aria-describedby="description-for-7m0pohc52"
                                       data-parsley-errors-container="#description-for-7m0pohc52"
                                       data-parsley-required-message="@Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.FIELD_REQUIRED)"
                                       @(Model.HaveScored80Plus == "1" ? "checked" : "")>

                                <span class="form-field__fakeradio focus-enabled">

                                    @Translate.Text("Scholarship Yes")

                                </span>
                            </label>
                            &nbsp;&nbsp;&nbsp;&nbsp;

                            <label>
                                <input class="form-field__input form-field__input--radio" id="form-field-scored_no"
                                       aria-label="form-field-scored_no"
                                       name="HaveScored80Plus"
                                       type="radio"
                                       value="2"
                                       aria-describedby="description-for-7m0pohc52"
                                       data-parsley-errors-container="#description-for-7m0pohc52"
                                       @(Model.HaveScored80Plus == "2" ? "checked" : "")>

                                <span class="form-field__fakeradio focus-enabled" style="position:relative">
                                    @Translate.Text("Scholarship No")

                                </span>
                            </label>
                        </p>

                        <div id="description-for-7m0pohc52" class="form-field__messages">
                        </div>
                    </fieldset>
                    @if ((bool)ViewBag.Recaptcha)
                    {
                        <div class="mt12">
                            <div class="g-recaptcha" id="captcha" data-callback="recaptchaCallback" data-expired-callback="recaptchaCallback" data-sitekey="@ViewBag.SiteKey"></div>
                            <span id='errorContainer' class="parsley-errors-list"></span>
                        </div>
                    }
                </div>

                <div class="form-field__button">
                    <button type="submit" class="button button--primary" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Scholarship Register Button Text")</button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    jQuery(function ($) {

        $(".m12-myaccount").hide();
    });

</script>
