@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.HR.Models.Scholarship.Login

<div class="grid">
    @if (Model.IsValidationError)
    {
        var direction = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "rtl" : "ltr";
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m40-status-message m40-status-message--error" data-component="m40-status-message">
                    <div class="m40-status-message__text" dir="@direction">@Html.ValidationSummary(true)</div>
                </div>
            </div>
        </div>
    }
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">

            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @data_form = "true" }))
            {
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()

                <div class="form-field form-field--text  ">

                    <label class="form-field__label" for="form-field-0h22nx4s8">
                        @Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.USERNAME_LABEL)
                        <span class="form-field__label-required aria-only">(required)</span>

                    </label>

                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.UserName, new
                   {
                       @class = "form-field__input form-field__input--text",
                       @id = "form-field-0h22nx4s8",
                       @placeholder = Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.USERNAME_LABEL),
                       @required = "required",
                       @data_parsley_error_message = Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.USERNAME_FORMAT_VALIDATION),
                       @data_parsley_required_message = Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.FIELD_REQUIRED),
                       @data_parsley_errors_container = "#description-for-0h22nx4s8",
                       @aria_describedby = "description-for-0h22nx4s8"
                   })


                    </span>
                    <div class="form-field__messages" id="description-for-0h22nx4s8">
                        @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "parsley-errors-list" })

                    </div>

                </div>

                <div class="form-field form-field--text  ">

                    <label class="form-field__label" for="form-field-7gggsboyi">
                        @Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.PASSWORD_LABEL)
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>

                    <span class="form-field__input-wrapper">
                        @Html.PasswordFor(x => x.UserPassword, new
                   {
                       @class = "form-field__input form-field__input--text",
                       @id = "form-field-7gggsboyi",
                       @placeholder = Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.PASSWORD_LABEL),
                       @required = "required",
                       @data_parsley_error_message = @Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.PASSWORD_FORMAT_VALIDATION),
                       @data_parsley_required_message = @Translate.Text(DEWAXP.Feature.HR.Models.Scholarship.Constants.DictionaryKeys.FIELD_REQUIRED),
                       @data_parsley_errors_container = "#description-for-password",
                       @aria_describedby = "description-for-password",

                       @autocomplete = "off"
                   })


                    </span>

                    <div class="form-field__messages" id="description-for-password">
                        @Html.ValidationMessageFor(x => x.UserPassword, "", new { @class = "parsley-errors-list" })

                    </div>

                </div>

                <div class="form-field__button">

                    <button class="button button--primary button--fullwidth-mobile" type="submit" data-submission-text="@Translate.Text("Logging in")...">@Translate.Text("login button text")</button>

                </div>


            }
            <div class="seperator-btn" role="separator">
                <p class="seperator__text">@Translate.Text("Scholarship Or")</p>
                <a class="form-links__link new_register_link" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCHOLARSHIP_REGISTRATION_PAGE)">
                    @Translate.Text("Scholarship New Registration")
                </a>
            </div>

            <ul class="form-links">
                <li class="form-links__item">
                    <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCHOLARSHIP_FORGOT_PASSWORD)" class="form-links__link">
                        @Translate.Text("forgot password link text")
                    </a>
                </li>

                <li class="form-links__item">
                    <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCHOLARSHIP_FORGOT_USERNAME)" class="form-links__link">
                        @Translate.Text("forgot username link text")
                    </a>
                </li>
            </ul>

        </div>
    </div>

</div>
<script type="text/javascript">

    jQuery(function ($) {

        $(".m12-myaccount").hide();
    });

</script>
