@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.HR.Models.Scholarship.SetNewPasswordModel

<div class="grid">

    @if (Model.PasswordResetSuccessful)
    {
        var direction = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "rtl" : "ltr";
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <div class="m40-status-message m40-status-message--success icon icon-new-success-message " data-component="m40-status-message">

                    <div class="m40-status-message__text" dir="@direction">@Translate.Text("Scholarship Password Reset Successful.")</div>

                </div>

                <div class="seperator-btn" role="separator">
                    <a class="button button--primary button--fullwidth-mobile" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCHOLARSHIP_SIGNIN_PAGE)">
                        @Translate.Text("Scholarship Login Button Label")
                    </a>
                </div>

            </div>
        </div>
    }
    else
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_form = "true", @data_parsley_focus = "none", @class = "form", @data_submit_validate = "enabled" }))
                {
                    @Html.Sitecore().FormHandler()
                    @Html.AntiForgeryToken()

                    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
                    @Html.HiddenFor(x => x.Username)
                    <fieldset class="fieldset">
                        <legend class="legend-color">.</legend>
                        <div class="form-field form-field--text    ">
                            <label for="form-field-current-password" class="form-field__label">
                                @Translate.Text("Scholarship Current Password Label")
                                <span class="form-field__label-required aria-only">(required)</span>

                            </label>
                            <span class="form-field__input-wrapper">
                                <input class="form-field__input form-field__input--text"
                                       id="form-field-current-password"
                                       name="CurrentPassword"
                                       type="password"
                                       autocomplete="off"
                                       placeholder="@Translate.Text("Scholarship Enter Current Password placeholder")"
                                       aria-describedby="description-for--current-password"
                                       data-parsley-errors-container="#description-for-password"
                                       required
                                       data-parsley-maxlength="25"
                                       maxlength="25" ,
                                       data-parsley-required-message="@Translate.Text("Scholarship Field Required")" />

                            </span>

                            <div id="description-for-current-password" class="form-field__messages">
                                @Html.ValidationMessageFor(x => x.CurrentPassword, string.Empty, new { @class = "parsley-errors-list" })
                            </div>
                        </div>

                        <div class="form-field form-field--text    ">
                            <label for="form-field-password" class="form-field__label">
                                @Translate.Text("Scholarship Password Label")
                                <span class="form-field__label-required aria-only">(required)</span>

                            </label>
                            <span class="form-field__input-wrapper">
                                <input class="form-field__input form-field__input--text"
                                       id="form-field-password"
                                       name="Password"
                                       type="password"
                                       autocomplete="off"
                                       placeholder="@Translate.Text("Scholarship Enter Password placeholder")"
                                       aria-describedby="description-for-password"
                                       data-parsley-errors-container="#description-for-password"
                                       required
                                       data-parsley-maxlength="25"
                                       maxlength="25"
                                       data-parsley-required-message="@Translate.Text("Scholarship Field Required")"
                                       data-parsley-trigger="focusout" />

                            </span>

                            <div id="description-for-password" class="form-field__messages">
                                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "parsley-errors-list" })
                                <p class="form-field__description">
                                    @Translate.Text("Scholarship Password Hint")
                                </p>
                            </div>
                        </div>

                        <div class="form-field form-field--text">

                            <label for="form-field-vvpyb90ee" class="form-field__label">
                                @Translate.Text("Scholarship Repeat Password Label")
                                <span class="form-field__label-required aria-only">(required)</span>
                            </label>
                            <span class="form-field__input-wrapper">
                                <input class="form-field__input form-field__input--text"
                                       id="form-field-vvpyb90ee"
                                       name="ConfirmPassword"
                                       type="password"
                                       data-parsley-maxlength="25"
                                       maxlength="25"
                                       autocomplete="off"
                                       placeholder="@Translate.Text("Scholarship Repeat Password Placeholder")"
                                       aria-describedby="description-for-vvpyb90ee"
                                       data-parsley-errors-container="#description-for-vvpyb90ee"
                                       required
                                       data-parsley-required-message="@Translate.Text("Scholarship Field Required")"
                                       data-parsley-equalto="#form-field-password"
                                       data-parsley-equalto-message="@Translate.Text( "Scholarship Password Not Match Error")"
                                       data-parsley-trigger="focusout" />

                            </span>
                            <div id="description-for-vvpyb90ee" class="form-field__messages">
                                @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "parsley-errors-list" })
                            </div>
                        </div>

                    </fieldset>
                    <div class="form-field__button">
                        <button class="button button--primary button--fullwidth" type="submit" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Scholarship Save New Password")</button>
                    </div>}
            </div>
        </div>
        <script src="~/scripts/External/nml/form-submit-validate.js"></script>

    }
</div>


<script type="text/javascript">

    jQuery(function ($) {

        $(".m12-myaccount").hide();
    });

</script>



