@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@model DEWAXP.Feature.GeneralServices.TermsAndConditions.Terms

<div class="grid__row">
    @Html.Sitecore().Placeholder("j100/m26-page-title")

    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

    <div class="grid__column grid__column--6">
        <div class="grid__column grid__column--12">
            <div class="text-block">
                @Html.Sitecore().Placeholder("j87/m14-formattedtext")
            </div>
        </div>
    </div>

    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_form = "true", @data_parsley_focus = "none", @class = "form", @data_submit_validate = "enabled", @novalidate = "true", encType = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.Sitecore().FormHandler()
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <div class="form-field__button">
                    <button type="submit" class="button button--primary button--fullwidth">@Translate.Text("Agree")</button>
                </div>
                @*<p class="form-field__description">
                    <a href="mailto:?Subject=@Model.MailSubject&body=@Model.MailBody)" role="link" class="link link--icon icon-email">@Translate.Text("global.SendByEmail")</a>
                </p>*@
            </div>
        </div>
    }
</div>