@using System.Linq
@using DEWAXP.Feature.GeneralServices.Models.SelfEnergyAssessmentSurvey
@model DEWAXP.Feature.GeneralServices.Models.SelfEnergyAssessmentSurvey.SurveyQuestionViewModel

<div class="form-field form-field--buttonradio @(Model.GetDynamicSectionId())">
    <div class="form-dynamic-section_title">
        @Html.Raw(Model.Description)
    </div>
    <fieldset class="fieldset">
        <legend class="form-field__label">
            <span class="aria-only">@Html.Raw(Model.Description)</span>
        </legend>
        @foreach (SurveyAnswerViewModel vm in Model.Answers)
        {
            string check = vm.Selected ? "checked=\"checked\"" : "";
            <p class="form-field__radio ">
                <label>
                    <input class="form-field__input form-field__input--radio" id="ff_@vm.Number" name="@Model.GetKey()" type="radio" value="@vm.Number" aria-describedby="des_@Model.Number" data-parsley-errors-container="#des_da@(Model.Number)" data-parsley-multiple="radios_groupfinal" required="" @Html.Raw(check) data-parsley-required-message="@Sitecore.Globalization.Translate.Text("j154_FR")" is-clear="true" >
                    <span class="form-field__fakeradio focus-enabled">
                        @vm.Description
                    </span>
                </label>
            </p>
        }

        <div id="des_da@(Model.Number.ToString())" class="form-field__messages">
        </div>

    </fieldset>
</div>