@using System.Collections.Generic;
@using System.Linq;
@using DEWAXP.Feature.GeneralServices.Models.SelfEnergyAssessmentSurvey
@model DEWAXP.Feature.GeneralServices.Models.SelfEnergyAssessmentSurvey.SurveyQuestionViewModel
@{ 
    string displayQuestion = Model.IsDynamic ? Model.DQDisplayNumber : Model.Number.ToString();

}
<div class="form-field form-field--ratingstar @Model.GetDynamicSectionId()">
    <div class="form-dynamic-section_title">
        @Html.Raw(Model.Description)
    </div>
    <label for="ff_@Model.GetKey()" class="form-field__label aria-only">
        @Html.Raw(Model.Description)
    </label>
    <span class="form-field__input-wrapper">
        <span class="form-field--ratingstar_icon" data-answer="0001"></span>
        <span class="form-field--ratingstar_icon" data-answer="0002"></span>
        <span class="form-field--ratingstar_icon" data-answer="0003"></span>
        <span class="form-field--ratingstar_icon" data-answer="0004"></span>
        <span class="form-field--ratingstar_icon" data-answer="0005"></span>
        <input class="form-field__input form-field__input--ratingstar" id="ff_@Model.GetKey()" name="ff_@Model.GetKey()" type="number" aria-describedby="des_@Model.GetKey()" data-parsley-errors-container="#des_@Model.GetKey()" required="required" data-parsley-required-message="@Sitecore.Globalization.Translate.Text("j154_FR")" data-parsley-trigger="focusout" value="@Model.SelectedAnswerDisplay">
        <input type="hidden" name="@Model.GetKey()" class="rating" value="@Html.Raw(Model.SelectedAnswer)" is-clear="true"/>
    </span>
    <div id="des_@Model.GetKey()" class="form-field__messages">
    </div>
</div>
