@using System.Linq
@using DEWAXP.Feature.GeneralServices.Models.SelfEnergyAssessmentSurvey
@model DEWAXP.Feature.GeneralServices.Models.SelfEnergyAssessmentSurvey.SurveyQuestionViewModel
@{ string selectedVal = Model.Answers.Count>0 ? (string.IsNullOrWhiteSpace(Model.Answers[0].AnswerInputText) ? "24" : Model.Answers[0].AnswerInputText) : "24";}
<div class="form-dynamic-section active">
    <div class="form-dynamic-section_screen"></div>
    <div class="form-dynamic-section_title">
        @Html.Raw(Model.Description)
    </div>
    <div class="form-field form-field--text">
        <div class="m76-range-slider m76-range-slider--temp" data-component="m76-range-slider">
            <div class="range-container">
                <div class="range-container-bg">
                    <input id="ff_@Model.Number" data-range-slider="" name="@Model.GetKey()" title="@Sitecore.Globalization.Translate.Text("j154_Slider_Tip")" class="range blue slider" type="range" data-snap='0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16' min="@Model.Min" value="@selectedVal" max="@Model.Max" step="1" required="required" data-parsley-required-message="@Sitecore.Globalization.Translate.Text("j154_FR")" parsley-errors-container="#des_@Model.Number">
                    <div class="m76-range-quant">
                        <span>@selectedVal</span>°
                    </div>
                </div>
                <div id="des_@Model.Number" class="form-field__messages">
                </div>
            </div>
        </div>
    </div>
</div>