@using DEWAXP.Foundation.Helpers.Extensions
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using DEWAXP.Feature.GeneralServices.Models.SelfEnergyAssessmentSurvey
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using System.Linq
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GeneralServices.Models.SelfEnergyAssessmentSurvey.ReportPageViewModel

<div class="grid__row">
    <div class="grid__column grid__column--6">
        <div class="m17-sectiontitle " data-component="m17-sectiontitle">
            <h3 class="m17-sectiontitle__title  text__section-title green">@Translate.Text("j154_SEA")</h3>
        </div>
    </div>
    <div class="grid__column grid__column--6">
        <div class="j154-sea-assessment_buttons">
            <a href="@Url.Action("Download", new {key=Model.ContentKey })" class="button button--quaternary button--fullwidth-mobile button--icon icon-b-new-pdf" target="_blank">
                @Translate.Text("j154_DPDFR")
            </a>
            <button class="button button--quaternary button--fullwidth-mobile button--icon icon-email" type="button" data-url="@Model.ContentKey" id="btEmailReport">@Translate.Text("j154_EPDF")</button>
        </div>
    </div>
</div>

<div class="grid__row mb32" data-journey="j154-self-energy-assessment">
    <div class="grid__column grid__column--12">
        <div class="j69-dashboard--card">
            <div class="j154-sea-assessment--grid">
                <div class="j154-sea-assessment--sectionTitle">
                    @Translate.Text("j154_IAEW")
                </div>
            </div>

            <div class="j154-sea-assessment--grid">
                <div class="j154-sea-assessment--6">
                    <div class="j154-sea-assessment--graph_wrapper">
                        <div class="j154-sea-assessment--graph_title electricity">
                            @Translate.Text("j154_EUB")
                        </div>

                        <div class="j154-sea-assessment--graph_content">
                            <div class="j154-sea-assessment--graph" data-chart154-container data-series='[@Html.Raw(Model.ElectricityDataSeriesJson)]'>
                            </div>

                            <div class="j154-sea-assessment--graph_legend">
                                <div class="j154-sea-assessment--graph_legenditem">
                                    <div class="j154-sea-assessment--graph_legendmark" style="background-color:#69AE84;"></div>@Translate.Text("j154_HVAC")
                                </div>
                                <div class="j154-sea-assessment--graph_legenditem">
                                    <div class="j154-sea-assessment--graph_legendmark" style="background-color:#65ADD8;"></div>@Translate.Text("j154_Lighting")
                                </div>
                                <div class="j154-sea-assessment--graph_legenditem">
                                    <div class="j154-sea-assessment--graph_legendmark" style="background-color:#5C687E;"></div>@Translate.Text("j154_Others")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="j154-sea-assessment--6">
                    <div class="j154-sea-assessment--graph_wrapper">
                        <div class="j154-sea-assessment--graph_title water">
                            @Translate.Text("j154_WUB")
                        </div>
                        <div class="j154-sea-assessment--graph_content">
                            <div class="j154-sea-assessment--graph" data-chart154-container data-series='[@Html.Raw(Model.WaterDataSeriesJson)]'>
                            </div>

                            <div class="j154-sea-assessment--graph_legend">
                                <div class="j154-sea-assessment--graph_legenditem">
                                    <div class="j154-sea-assessment--graph_legendmark" style="background-color:#69AE84;"></div>@Translate.Text("j154_WOU")
                                </div>
                                <div class="j154-sea-assessment--graph_legenditem">
                                    <div class="j154-sea-assessment--graph_legendmark" style="background-color:#65ADD8;"></div>@Translate.Text("j154_WBSS")
                                </div>
                                <div class="j154-sea-assessment--graph_legenditem">
                                    <div class="j154-sea-assessment--graph_legendmark" style="background-color:#5C687E;"></div>@Translate.Text("j154_TF")
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="j154-sea-assessment--grid">
                <div class="j154-sea-assessment--sectionTitle">
                    @Translate.Text("j154_TTH")
                </div>
            </div>

            <div class="j154-sea-assessment--grid">
                @foreach (var t in Model.Tips)
                {
                    <div class="j154-sea-assessment--tip">
                        <div class="j154-sea-assessment--tip_header">
                            @t.Header
                        </div>
                        <div class="j154-sea-assessment--tip_content hidden-text">
                            <div class="j154-sea-assessment--tip_img" style="background-image:url('@t.ImgUrl');"></div>
                            <div class="j154-sea-assessment--tip_inner">
                                <div class="j154-sea-assessment--tip_title">
                                    @t.Title
                                </div>
                                <div class="j154-sea-assessment--tip_desc">
                                    @t.Body
                                </div>
                            </div>
                            <div class="j154-sea-assessment--tip_link"> <span class="link show-btn"> @Translate.Text("j154_ShowMore")</span> <span class="link hide-btn"> @Translate.Text("j154_ShowLess")</span> </div>
                        </div>
                    </div>
                }
            </div>
                      
        </div>
    </div>
</div>

<div class="grid__row mb32">
    <div class="grid__column grid__column--12">
        <div class="centered">
            <a href="@DEWAXP.Foundation.Helpers.LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)" class="button button--primary">@Translate.Text("j154_BTSL")</a>
        </div>
    </div>
</div>