@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.HR.Models.DewaAcademy.User
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Sitecore().Placeholder("j18/m26-page-title")

    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <div class="m67-confirmation-message m67-confirmation-message--success">
            <div class="m67-confirmation-message__title">
                @Translate.Text("DA.Status")
            </div>
            <div class="m67-confirmation-message__content">
                <div class="m67-confirmation-message__message">@Model.Status</div>
            </div>
        </div>
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <h2 class="summary-footer__title">@Translate.Text("whats next link text")</h2>
        <ul class="summary-footer__buttons">
            <li class="summary-footer__button summary-footer__button--stacked"><a role="button" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J7_LOGOUT)" class="button button--next button--primary button--fullwidth">@Translate.Text("Log out")</a></li>
        </ul>
    </div>
</div>

