@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.HR.Models.DewaAcademy.User
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Sitecore().Placeholder("j18/m26-page-title")
        @Html.Sitecore().Placeholder("j18/m14-formatted-text")
        @Html.Sitecore().Placeholder("j18/m38-step-tracker")
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
            <div class="m40-status-message__title icon--success">@Translate.Text("submission successful text")</div>
            <div class="m40-status-message__text"><p>@Model.SuccessMessage</p></div>
            @*<p><button class="button button--text button--printer noprint" data-print="page">@Translate.Text("Print this page")</button></p>*@
        </div>
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <h2 class="summary-footer__title">@Translate.Text("whats next link text")</h2>
        <ul class="summary-footer__buttons">
            <li class="summary-footer__button summary-footer__button--stacked"><a role="button" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DEWAACADEMY_LOGIN)" class="button button--next button--primary button--fullwidth">@Translate.Text("Dashboard")</a></li>
        </ul>
    </div>
</div>

