@using Sitecore.ExperienceForms.Mvc.Html
@model Sitecore.ExperienceForms.Mvc.Models.Fields.EmailConfirmationViewModel
<div class="form-field form-field--text">
    <label for="@Html.IdFor(m => Model.Value)" class="form-field__label @Model.LabelCssClassSettings.CssClass">@Model.Title</label>
    <span class="form-field__input-wrapper">
        <input id="@Html.IdFor(m => Model.Value)" name="@Html.NameFor(m => Model.Value)" class="@Model.CssClassSettings.CssClass" type="email" value="@Model.Value" @if (Model.MaxLength > 0) { <text> maxlength="@Model.MaxLength" </text> } placeholder="@Model.PlaceholderText" data-sc-tracking="@Model.IsTrackingEnabled" data-sc-field-name="@Model.Name" data-sc-field-key="@Model.ConditionSettings.FieldKey" @Html.GenerateUnobtrusiveValidationAttributes(m => Model.Value) />
    </span>
    <div id="description-for-@Html.IdFor(m => Model.Value)" class="form-field__messages">
        @Html.ValidationMessageFor(m => Model.Value, "", new { @class = "parsley-errors-list" }, "span")
        <p class="form-field__description"></p>
    </div>
</div>
<div class="form-field form-field--text">
    <label for="@Html.IdFor(m => Model.ConfirmEmail)" class="form-field__label @Model.LabelCssClassSettings.CssClass">@Model.ConfirmEmailLabel</label>
    <span class="form-field__input-wrapper">
        <input id="@Html.IdFor(m => Model.ConfirmEmail)" name="@Html.NameFor(m => Model.ConfirmEmail)" class="@Model.CssClassSettings.CssClass" type="email" placeholder="@Model.ConfirmEmailPlaceholder" data-sc-tracking="@Model.IsTrackingEnabled" data-sc-field-name="@Model.Name" data-sc-field-key="@Model.ConditionSettings.FieldKey" @Html.GenerateUnobtrusiveValidationAttributes(m => Model.ConfirmEmail) />
    </span>
    <div id="description-for-@Html.IdFor(m => Model.ConfirmEmail)" class="form-field__messages">
        @Html.ValidationMessageFor(m => Model.ConfirmEmail, "", new { @class = "parsley-errors-list" }, "span")
        <p class="form-field__description"></p>
    </div>
</div>