@using Sitecore.ExperienceForms.Mvc.Html
@model Sitecore.ExperienceForms.Mvc.Models.Fields.PasswordConfirmationViewModel
<div class="form-field form-field--text">
    <label for="@Html.IdFor(m => Model.Value)" class="form-field__label @Model.LabelCssClassSettings.CssClass">@Model.Title</label>
    <span class="form-field__input-wrapper">
        <input id="@Html.IdFor(m => Model.Value)" name="@Html.NameFor(m => Model.Value)" class="@Model.CssClassSettings.CssClass" type="password" value="@Model.Value" placeholder="@Model.PlaceholderText" data-sc-tracking="@Model.IsTrackingEnabled" data-sc-field-name="@Model.Name" data-sc-field-key="@Model.ConditionSettings.FieldKey" @Html.GenerateUnobtrusiveValidationAttributes(m => Model.Value) />
        </span>
    <div id="description-for-@Html.IdFor(m => Model.Value)" class="form-field__messages">
        @Html.ValidationMessageFor(m => Model.Value, "", new { @class = "parsley-errors-list" }, "span")
    </div>
</div>
<div class="form-field form-field--text">
    <label for="@Html.IdFor(m => Model.ConfirmPassword)" class="form-field__label @Model.LabelCssClassSettings.CssClass">@Model.ConfirmPasswordLabel</label>
    <span class="form-field__input-wrapper">
        <input id="@Html.IdFor(m => Model.ConfirmPassword)" name="@Html.NameFor(m => Model.ConfirmPassword)" class="@Model.CssClassSettings.CssClass" type="password" placeholder="@Model.ConfirmPasswordPlaceholder" data-sc-tracking="@Model.IsTrackingEnabled" data-sc-field-name="@Model.Name" data-sc-field-key="@Model.ConditionSettings.FieldKey" @Html.GenerateUnobtrusiveValidationAttributes(m => Model.ConfirmPassword) />
        </span>
    <div id="description-for-@Html.IdFor(m => Model.ConfirmPassword)" class="form-field__messages">
        @Html.ValidationMessageFor(m => Model.ConfirmPassword, "", new { @class = "parsley-errors-list" }, "span")
    </div>
</div>