@using Sitecore.Globalization;
@using DEWAXP.Foundation.Helpers
@using Sitecore.Resources.Media
@using DEWAXP.Foundation.Content
@using DEWAXP.Feature.ShamsDubai.Models.ShamsDubaiTraining
@model ApplicationTrackingModel

@*@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")*@
<table class="m23-table__content-table m23-table-position-list">
    @if (Model != null && Model.AppTrackResultList != null && Model.AppTrackResultList.Count > 0)
    {
        var i = 0;
        foreach (var tracking in Model.AppTrackResultList)
        {
            if (i == 0)
            {
                <thead class="m23-table__content-table-header">
                    <tr class="m23-table__content-table-row">
                        <th class="m23-table__content-table-cell--header center-text m23-table__content-table-cell--center">@Translate.Text("PVCC_Trainingname")</th>
                        <th class="m23-table__content-table-cell--header center-text m23-table__content-table-cell--center">@Translate.Text("pvcc.date")</th>
                        <th class="m23-table__content-table-cell--header center-text m23-table__content-table-cell--center">@Translate.Text("PVCC_Status")</th>
                        @if (tracking.Applicationstatus == Translate.Text("Booking Confirmed"))
                        {
                            <th class="m23-table__content-table-cell--header center-text m23-table__content-table-cell--center">@Translate.Text("PVCC_Training_materials")</th>
                        }
                    </tr>
                </thead>
            }
            <tbody class="m23-table__content-table-body">

                <tr class="m23-table__content-table-row toggleoption-@tracking.Trainingname">
                    <td data-label="@Translate.Text("PVCC_Trainingname")" class="m23-table__content-table-cell m23-table__content-table-cell--center">
                        @tracking.Trainingname
                    </td>
                    <td data-label="@Translate.Text("pvcc.date")" class="m23-table__content-table-cell m23-table__content-table-cell--center">
                        @tracking.Startdate @*- @tracking.Enddate*@
                    </td>
                    <td data-label="@Translate.Text("PVCC_Status")" class="m23-table__content-table-cell m23-table__content-table-cell--center">
                        @tracking.Applicationstatus
                    </td>
                    @if (tracking.Applicationstatus == Translate.Text("Booking Confirmed"))
                    {
                        <td data-label="@Translate.Text("PVCC_Certificate")" class="m23-table__content-table-cell m23-table__content-table-cell--center">
                            <a class="button button--primary" href="@MediaManager.GetMediaUrl(Sitecore.Context.Database.GetItem(SitecoreItemIdentifiers.SHAMS_MEDIA_ITEM))" aria-describedby="download-">@Translate.Text("Download")</a>
                        </td>
                    }
                </tr>
            </tbody>
            i++;
        }
    }
    else
    {
        <thead class="m23-table__content-table-header">
            <tr class="m23-table__content-table-row">
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("PVCC_Trainingname")</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("pvcc.date")</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("PVCC_Status")</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("PVCC_Certificate")</th>
            </tr>
        </thead>
    }

</table>
@if (Model.AppTrackResultList != null && Model.AppTrackResultList.Count > 0)
{
    @*<div class="centered mt24">
            <button class="button button--primary m23-table--load" data-increment="10">
                @Translate.Text("OTS_loadmore")
            </button>
        </div>*@
}
else
{
    <div class="centered mt24">
        <span class="">
            @Translate.Text("OTS_nofound")
        </span>
    </div>

}