@using Sitecore.Globalization
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.ShamsDubai.Models.ShamsDubaiTraining.BookTrainingModel

<div class="grid" data-journey="j131-scrap-sale">
    @*@Html.Sitecore().Placeholder("j100/m26-page-title")*@

    @if (Model.IsSuccess)
    {
        <div class="grid__row mt48">
            <div class="grid__column grid__column--12 grid__column--content">
                <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                    <div class="m40-status-message__title icon--success">@Translate.Text("PVCC_Requestheader")</div>
                    <div class="m40-status-message__text">
                        @Translate.Text("Request number"): @(Model.RequestNumber ?? Translate.Text("NA"))
                    </div>
                    <p>
                        <button class="button button--text button--printer noprint" data-print="page">@Translate.Text("Print this page")</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__row grid__column--centered">
            <div class="grid__column grid__column--12 grid__column--form">
                <h2 class="text__section-title success-subtitle__h2">@Translate.Text("PVCC_Details")</h2>
                <div class="m42-keyvalue success-page">
                    <dl>
                        <dt class="m42-keyvalue__key--stacked"><strong>@Translate.Text("PVCC_Trainingname")</strong></dt>
                        <dd class="m42-keyvalue__value--stacked tran-details">@Model.TrainingName</dd>

                        <dt class="m42-keyvalue__key--stacked"><strong>@Translate.Text("PVCC_Date")</strong></dt>
                        <dd class="m42-keyvalue__value--stacked tran-details">
                            @Model.TraningStartDate.Value.ToString("dd MMM yyyy", Sitecore.Context.Culture) -
                            @Model.TraningEndDate.Value.ToString("dd MMM yyyy", Sitecore.Context.Culture)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
    }
    <div class="grid__row noprint">
        <div class="grid__column grid__column--12 grid__column--centered grid__column--form">
            <h2 class="summary-footer__title">@Translate.Text("What's next?")</h2>
            <div class="m14-richtext mb0">
                <p class="text__content-copy">
                    @Html.Raw(@Translate.Text("PVCC_Whatsnextdescri"))
                </p>
                <a role="button" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SHAMS_SOLAR_PV_DISPLAYING)#m25-tab-10" class="button button--primary button--next">@Translate.Text("PVCC_BookAgain")</a>
                <br />
                <br />
                <a role="button" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SHAMS_SOLAR_PV_DISPLAYING)#m25-tab-3" class="button button--primary button--next">@Translate.Text("PVCC_TrackApplication")</a>
            </div>
        </div>
    </div>
</div>


