@using Sitecore.Globalization;
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Feature.ShamsDubai.Models.ShamsDubaiTraining
@model CertificateVerifyingModel

@*@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")*@
<table class="m23-table__content-table m23-table-position-list">
    <thead class="m23-table__content-table-header">
        <tr class="m23-table__content-table-row">
            <th class="m23-table__content-table-cell--header center-text m23-table__content-table-cell--center">@Translate.Text("PVCC_Engineer_Name")</th>
            <th class="m23-table__content-table-cell--header center-text m23-table__content-table-cell--center">@Translate.Text("PVCC_Company")</th>
            <th class="m23-table__content-table-cell--header center-text m23-table__content-table-cell--center">@Translate.Text("PVCC_PVExpert")</th>
            @*<th class="m23-table__content-table-cell--header center-text">@Translate.Text("PVCC_Issuedate")</th>*@
            <th class="m23-table__content-table-cell--header center-text m23-table__content-table-cell--center">@Translate.Text("PVCC_Expdate")</th>
            <th class="m23-table__content-table-cell--header center-text m23-table__content-table-cell--center">@Translate.Text("PVCC_Status")</th>
        </tr>
    </thead>
    <tbody class="m23-table__content-table-body">
        @if (Model != null && Model.CertiVerifyResultList != null && Model.CertiVerifyResultList.Count > 0)
        {
            foreach (var tracking in Model.CertiVerifyResultList)
            {

                <tr class="m23-table__content-table-row toggleoption-@tracking.Trainingid">
                    <td data-label="@Translate.Text("PVCC_Engineer_Name")" class="m23-table__content-table-cell m23-table__content-table-cell--center">
                        @tracking.Applicantname
                    </td>
                    <td data-label="@Translate.Text("PVCC_Company")" class="m23-table__content-table-cell  m23-table__content-table-cell--center">
                        @tracking.Companyname
                    </td>
                    <td data-label="@Translate.Text("PVCC_PVExpert")" class="m23-table__content-table-cell m23-table__content-table-cell--center">
                        @tracking.Certificatecategory
                    </td>
                    @*<td data-label="@Translate.Text("PVCC_Issuedate")" class="m23-table__content-table-cell  m23-table__content-table-cell--center">
                        @tracking.Startdate
                    </td>*@
                    <td data-label="@Translate.Text("PVCC_Expdate")" class="m23-table__content-table-cell  m23-table__content-table-cell--center">
                        @tracking.Certificateexpirydate
                    </td>
                    <td data-label="@Translate.Text("PVCC_Status")" class="m23-table__content-table-cell  m23-table__content-table-cell--center">
                        @tracking.Certificatestatus
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.CertiVerifyResultList != null && Model.CertiVerifyResultList.Count > 0)
{
    @*<div class="centered mt24">
            <button class="button button--primary m23-table--load" data-increment="10">
                @Translate.Text("OTS_loadmore")
            </button>
        </div>*@
}
else
{
    <div class="centered mt24">
        <span class="">
            @Translate.Text("OTS_nofound")
        </span>
    </div>

}