@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@Html.Sitecore().Placeholder("j18/m26-page-title")
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Sitecore().Placeholder("j18/m38-step-tracker")
        @Html.Sitecore().Placeholder("j18/m14-formatted-text")
    </div>
</div>



<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--content">
            <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title icon--success">@Translate.Text("Miscellaneous Request Submitted")</div>
                <div class="m40-status-message__text">
                    @Translate.Text("Miscellaneous Request Submitted successfully")<br>
                    @Translate.Text("Miscellaneous reference number"): @((string)ViewBag.notificationnumber)
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="grid__row noprint">
    <div class="grid__column grid__column--12 grid__column--centered grid__column--form">
        <div class="button-container--single">
            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J22_TRACK_COMPLAINTS)" class="button button--primary" role="button">@Translate.Text("Track Request")</a>
        </div>
    </div>
</div>*@
<div class="box box--8 mb24">
    <div class="grid">
        @Html.Sitecore().Placeholder("box8/richtext")
        @*<div class="grid__column grid__column--12  grid__column--content m14-richtext">
            <p><strong>@Translate.Text("miscellaneous whats next")</strong></p>
            <p>@Translate.Text("miscellaneous whats next description")
            <a class="link" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EASYPAY)">@Translate.Text("miscellaneous whats next link")</a>)</p>
            <p>
                @Translate.Text("miscellaneous whats next track")
                <br><strong>@Translate.Text("miscellaneous whats next number")</strong>
            </p>
        </div>*@
    </div>
</div>
