@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GeneralServices.Models.Miscellaneous.MeterTestingProject

@{
    string fileType = "pdf";
    string fileTypeAccept = "application/pdf";
}
@Html.Sitecore().Placeholder("j18/m26-page-title")

<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @Html.Sitecore().Placeholder("j18/m38-step-tracker")
            @Html.Sitecore().Placeholder("j18/m14-formatted-text")
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

            @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form update-details-form miscellaneousform", @id = "metertestingprojects", data_form = "true", data_parsley_focus = "none", @data_submit_validate = "enabled", encType = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.BusinessPartner)
                <div class="form-field form-field--text ">
                    <label for="form-field-BusinessPartner" class="form-field__label"> @Sitecore.Globalization.Translate.Text(DictionaryKeys.Global.Account.BusinessPartnerLabel) <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span></label>
                    <label class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.BusinessPartnerDisplay,
                        new
                        {
                            @class = "form-field__input form-field__input--text",
                            @name = "BusinessPartner",
                            @id = "form-field-BusinessPartner",
                            @placeholder = Sitecore.Globalization.Translate.Text(DictionaryKeys.Global.Account.BusinessPartnerLabel),
                            @required = "",
                            @readonly = "readonly",
                            @data_parsley_error_message = Translate.Text("movein.accountregister.resbusinesserrormessage"),
                            @data_parsley_errors_container = "#description-for-BusinessPartner",
                            @aria_describedby = "description-for-BusinessPartner",
                            @data_parsley_id = "30",
                            @step = "any"
                        })
                    </label>
                    <div id="description-for-BusinessPartner" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.BusinessPartner, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>

                <div class="m72-add-form" data-remove="@Translate.Text("MeterTestingproject.remove")" data-component="m72-add-form">
                    <div class="m72-add-form--main_control">
                        <div class="form-field form-field--select form-field--select-single">
                            <label for="form-field-Materials" class="form-field__label">
                                @Translate.Text("MeterTestingproject.Material")
                            </label>
                            <span class="form-field__input-wrapper form-field__input-wrapper--select m72-add-form--select_wrapper">
                                <select class="form-field__input form-field__input--select form-field__input--select-full m72-add-form--select_input"
                                        id="form-field-Materials"
                                        dir="ltr"
                                        name="selectedMaterial"
                                        aria-describedby="description-for-Materials"
                                        data-parsley-errors-container="#description-for-Materials"
                                        data-parsley-trigger="change"
                                        data-parsley-id="28">
                                    @foreach (var material in Model.Materials)
                                    {
                                        <option data-min="1" data-max="99" footnote="@Translate.Text("MeterTestingproject.Unit")" value="@material.code" price="">@material.codeshorttext</option>
                                    }
                                </select>
                            </span>
                            <button type="button" class="m72-add-form--add_item"><span>+</span>@Translate.Text("MeterTestingproject.Add")</button>
                            <div id="description-for-bdm7jbx28" class="form-field__messages">
                            </div>
                        </div>
                        <div class="m72-add-form--data_container">
                            <div class="m72-add-form--subtract">-</div>
                            <div class="m72-add-form--add">+</div>
                            <div class="m72-add-form--quantity_wrapper">
                                <input class="m72-add-form--quantity_input" type="number" value="0">
                            </div>
                            <div class="m72-add-form--footnote"></div>
                        </div>
                        <div class="form-field__messages hidden">
                            <p class="form-field__error">@Translate.Text("MeterTestingproject.Error")</p>
                        </div>

                    </div>

                </div>

                <div class="form-field form-field--text ">
                    <label for="form-field-SubstationNumber" class="form-field__label">@Translate.Text("MeterTestingproject.substation number") <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span></label>
                    <label class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.SubstationNumber,
                        new
                        {
                            @class = "form-field__input form-field__input--text",
                            @name = "first-name",
                            @id = "form-field-SubstationNumber",
                            @placeholder = Translate.Text("MeterTestingproject.Enter substation number"),
                            @required = "",
                            @data_parsley_error_message = Translate.Text("MeterTestingproject..substationerrormessage"),
                            @data_parsley_errors_container = "#description-for-SubstationNumber",
                            @aria_describedby = "description-for-SubstationNumber",
                            @data_parsley_id = "8",
                            @step = "any"
                        })
                    </label>
                    <div id="description-for-SubstationNumber" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.SubstationNumber, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-PurchaseOrderNumber" class="form-field__label">@Translate.Text("MeterTestingproject.Purchase Order Number") <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span></label>
                    <label class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.PurchaseOrderNumber,
                        new
                        {
                            @class = "form-field__input form-field__input--text",
                            @name = "first-name",
                            @id = "form-field-PurchaseOrderNumber",
                            @placeholder = Translate.Text("MeterTestingproject.Enter Purchase Order Number"),
                            @data_parsley_error_message = Translate.Text("MeterTestingproject.purchaseerror"),
                            @data_parsley_errors_container = "#description-for-PurchaseOrderNumber",
                            @aria_describedby = "description-for-PurchaseOrderNumber",
                            @data_parsley_id = "8",
                            @step = "any"
                        })
                    </label>
                    <div id="description-for-PurchaseOrderNumber" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.PurchaseOrderNumber, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>

                @Html.Partial("~/Views/Feature/GeneralServices/Miscellaneous/Partials/_Remark.cshtml", Model.Remarks, new ViewDataDictionary { { "field", "Remarks" } })
                <fieldset class="fieldset">
                    <legend class="legend">@Translate.Text("MeterTestingproject.Document Uploads")</legend>
                    @Html.Partial("~/Views/Feature/GeneralServices/Miscellaneous/Partials/_Document.cshtml", Model.Attachment1, new ViewDataDictionary { { "Filename", "Attachment1" }, { "isrequired", "true" }, { "name", "MeterTesting.Document Uploads" } ,
                       { "fileType", fileType },
                       { "fileTypeAccept", fileTypeAccept },
                       { "fileDescription", Translate.Text("FileUploaderPDFOnly") } })
                </fieldset>
                <div class="form-field form-field--toggles inline-terms mt24" id="TermsConditions">
                    <div class="form-field__checkbox  last">
                        <label>
                            <input class="form-field__input form-field__input--checkbox" id="form-field-checkbox_1_1_terms" aria-label="form-field-checkbox_1_1_terms" name="AgreedToPayment" type="checkbox" value="true" aria-describedby="description-for-accept-terms" required="" data-parsley-error-message="@Translate.Text("Error Terms Agreement")" data-parsley-errors-container="#description-for-accept-terms" data-parsley-multiple="form-field-checkbox_1_1_terms" data-parsley-id="23">
                            <span class="form-field__fakecheckbox focus-enabled tnc_cbox">&nbsp;</span>
                        </label>
                    </div>
                    <fieldset class="fieldset m39-modal__tnc">
                        <legend class="legend-color">.</legend>
                        @Html.Sitecore().Placeholder("j26/m39-modal-overlay")
                    </fieldset>
                    <div id="description-for-accept-terms" class="form-field__messages"></div>
                    <input type="hidden" name="AgreedToPayment" value="false" />
                </div>
                @Html.HiddenFor(m => m.selectedMaterialJSON, new { id = "selectedmaterialjson", @value = "" })
                <div class="form-field__button">
                    <button type="submit" id="miscellaneousbutton" class="button button--primary" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("misc.submit")</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    docReady(function () {
        jQuery('#metertestingprojects').off("submit").submit(handleMiscellaneousSelection);
    });
    function handleMiscellaneousSelection(e) {
        var $selectedmateriallist = jQuery('#selectedmaterialjson');
        var referencelist = [];
        if (jQuery('.m72-add-form').find('.m72-add-form--new_selection').length == 0) {
        }
        jQuery('.m72-add-form .m72-add-form--new_selection').each(function () {
            var obj = {};
            obj.activitycode = $(this).find('.m72-add-form--select_input').attr("value");
            obj.activitytext = $(this).find('.m72-add-form--quantity_input').val();
            //obj.activitycodegroup = "MISC-MTP";
            //obj.activitysortnumber = obj.activitycode;
            //obj.itemsortnumber = obj.activitycode;
            referencelist.push(obj);
        });
        $selectedmateriallist[0].value = JSON.stringify(referencelist);
        return true;
    }
</script>
<script src="~/scripts/External/nml/form-submit-validate.js"></script>