@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers
@model DEWAXP.Feature.GeneralServices.Models.ManageAlerts.Unsubscribe

<div class="grid__row">
    <div class="grid__column grid__column--12">
        <div class="m26-page-title title_message">
            <h2 class="text__page-title">@Model.Title</h2>
            <p class="text-page__intro">@Model.description
            </p>
            @if (Model.verifysuccess)
            {
                <br />
                <a href="@Model.subscribelink" id="subcribe-again" class="button button--primary button--next ">@Translate.Text("subscribe click")</a>
                @*<p><strong>@Translate.Text("subscribe greeenbill")</strong></p>*@
            }
        </div>
    </div>
</div>