@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using _scPageItemId = DEWAXP.Foundation.Content.ScPageItemId
@using DEWAXP.Foundation.Content
@{
    var loginUrl = LinkHelper.GetItemUrl(SitecoreItemIdentifiers.CAREER_POTAL_LOGIN);
    string redirectUrl = string.Format(loginUrl + "?returnUrl={0}", HttpUtility.UrlEncode(LinkHelper.GetItemUrl(SitecoreItemIdentifiers.CAREER_PORTAL_APPLICATION_WIZARD) + "?q=" + ViewBag.jobId));
}
<div class="grid__row">
    <div class="grid__column grid__column--12">
        <!-- m26-page-title-start -->
        <div class="m26-page-title ">
            <div class="m26-page-title__links">
            </div>
            <h2 class="text__page-title">
                @Translate.Text("application wizard title")
            </h2>
            <p class="text-page__intro">
                @ViewBag.JobDescription
            </p>
        </div>
        <!-- m26-page-title-end -->
    </div>
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <p class="text__content-copy form-field__label">
            @Translate.Text("already registered text")
        </p>
        <p class="text__content-copy">
            @Translate.Text("registered notes")
        </p>
        <p class="text__content-copy">
            <a href="@redirectUrl" class="tile_link form-links__link">@Translate.Text("application wizard title")</a>
        </p>
        <p class="text__content-copy form-field__label">
            @Translate.Text("visit career page text")
        </p>
        <p class="text__content-copy">
            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.CAREER_POTAL_CANDIDATEREGISTRATION)" class="tile_link form-links__link">@Translate.Text("click here text")</a>
        </p>
    </div>
    <div class="form-field__button">
        <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.CAREER_POTAL_JOBSEARCH)" class="button button--primary">@Translate.Text("return to the search page")</a>
    </div>
</div>
