@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@model DEWAXP.Foundation.Content.Models.AccountModel.ForgotUsernameV1Model
@using DEWAXP.Foundation.Content
<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            @Html.Sitecore().Placeholder("j7/m26-page-title")
        </div>
    </div>

    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_form = "true", @data_parsley_focus = "none", @class = "form", @data_submit_validate = "enabled" }))
            {
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
                <fieldset class="fieldset">
                    <legend class="legend-color">.</legend>
                    <div class="form-field form-field--text">
                        <p class="form-field--6 form-field__radio p0 mt12 mb0">
                            <label for="form-field-radio_1_1">
                                <input class="form-field__input form-field__input--radio" id="form-field-radio_1_1" name="radios_group1" type="radio" value="1" aria-describedby="description-for-r8gvuzxmh" data-parsley-errors-container="#description-for-r8gvuzxmh" checked="" data-parsley-multiple="radios_group1" data-parsley-id="35">
                                <span class="form-field__fakeradio focus-enabled form-field__label">@Translate.Text("registration passport label")</span>
                            </label>
                        </p>
                        <p class="form-field--6 form-field__radio p0 mt12 mb0">
                            <label for="form-field-radio_1_2">
                                <input class="form-field__input form-field__input--radio" id="form-field-radio_1_2" name="radios_group1" type="radio" value="2" aria-describedby="description-for-r8gvuzxmh" data-parsley-errors-container="#description-for-r8gvuzxmh" data-parsley-multiple="radios_group1">
                                <span class="form-field__fakeradio focus-enabled form-field__label">@Translate.Text("cust.profile.EmiratesID.No")</span>
                            </label>
                        </p>
                        @Html.HiddenFor(x => x.SelectedOption)
                        <div id="description-for-r8gvuzxmh" class="form-field__messages">
                        </div>
                    </div>
                    <div class="form-field form-field--text">
                        <label for="form-field-PassportNo">
                            <span class="aria-only">PassportNo</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(x => x.PassportNo, new
                               {
                                   @class = "form-field__input form-field__input--text",
                                   @type = "text",
                                   @maxlength = "15",
                                   @data_parsley_maxlength = "15",
                                   @id = "form-field-PassportNo",
                                   @placeholder = Translate.Text("registration passport label"),
                                   //@required = "",
                                   @data_parsley_error_message = Translate.Text(DictionaryKeys.Global.Forms.PassportValidationMessage),
                                   @data_parsley_errors_container = "#description-for-PassportNo",
                                   @aria_describedby = "description-for-PassportNo",
                                   @data_parsley_trigger = "focusout",
                                   @autocomplete = "off"
                               })
                        </span>
                        <div id="description-for-2ohdm5q1y" class="form-field__messages">
                            <p class="form-field__description">@Translate.Text("cust.passport.desc")</p>
                        </div>
                        <div id="description-for-PassportNo" class="form-field__messages">
                        </div>
                    </div>
                    <div class="form-field form-field--text">
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(x => x.EmiratesID, new
                            {
                                @class = "form-field__input form-field__input--text",
                                @type = "text",
                                @maxlength = "15",
                                @data_parsley_maxlength = "15",
                                @id = "form-field-EmiratesID",
                                @placeholder = Translate.Text("emiratesId placeholder text"),
                                //@required = "",
                                @data_parsley_emiratesid = "true",
                                @data_parsley_error_message = Translate.Text("emiratesid validation message"),
                                @data_parsley_errors_container = "#description-for-EmiratesID",
                                @aria_describedby = "description-for-EmiratesID",
                                @data_parsley_trigger = "focusout",
                            })
                        </span>
                        <div id="description-for-EmiratesID" class="form-field__messages">
                            @*@Html.ValidationMessageFor(x => x.EmiratesID, "", new { @class = "parsley-errors-list" })*@
                        </div>
                    </div>
                    <div class="form-field form-field--text">
                        <label for="form-field-email" class="form-field__label">
                            @Translate.Text("email label")

                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(x => x.Email, new
                            {
                                @class = "form-field__input form-field__input--text",
                                @id = "form-field-email",
                                @placeholder = Translate.Text("J106.EnterEmailAddress"),
                                @required = "required",
                                @type = "email",
                                @data_parsley_error_message = Translate.Text("email validation message"),
                                @data_parsley_errors_container = "#description-for-email",
                                @aria_describedby = "description-for-email"
                            })
                        </span>
                        <div id="description-for-email" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "parsley-errors-list" })
                        </div>
                    </div>
                </fieldset>
                <div class="form-field__button">
                    <button class="button button--primary button--fullwidth" type="submit" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("send recovery email button text")</button>
                </div>
            }
            <p class="help-text">
                @Translate.Text("help text") <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.CUSTOMER_SERVICES_FAQ)?id=m25-tab-13" class="link">@Translate.Text("help section text")</a>
            </p>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    docReady(function () {
        if (jQuery("input[type='hidden'][name=SelectedOption]").val() == '2') {
            jQuery("input[name='radios_group1'][value=2]").prop('checked', true);
            toggleId("2");
        }
        else {
            toggleId("1");
        }
        //if (jQuery("input[name='radios_group1']:checked").val() == '1') {
        //    jQuery("#form-field-PassportNo").attr("required", "required");
        //    jQuery("#form-field-PassportNo").closest(".form-field--text").removeClass("hidden");
        //    jQuery("input[type='hidden'][name=SelectedOption]").val("1");
        //    jQuery("#form-field-EmiratesID").removeAttr("required");
        //    jQuery("#form-field-EmiratesID").closest(".form-field--text").addClass("hidden");
        //}
        //else {
        //    jQuery("#form-field-EmiratesID").attr("required", "required");
        //    jQuery("#form-field-EmiratesID").closest(".form-field--text").removeClass("hidden");
        //    jQuery("input[type='hidden'][name=SelectedOption]").val("2");
        //    jQuery("#form-field-PassportNo").removeAttr("required");
        //    jQuery("#form-field-PassportNo").closest('.form-field--text').addClass('hidden');
        //}
    });

    function toggleId(id) {
        if (id == "1") {
            jQuery("#form-field-PassportNo").attr("required", "required");
            jQuery("#form-field-PassportNo").closest(".form-field--text").removeClass("hidden");
            jQuery("input[type='hidden'][name=SelectedOption]").val("1");
            jQuery("#form-field-EmiratesID").removeAttr("required");
            jQuery("#form-field-EmiratesID").closest(".form-field--text").addClass("hidden");
        }
        else {
            jQuery("#form-field-EmiratesID").attr("required", "required");
            jQuery("#form-field-EmiratesID").closest(".form-field--text").removeClass("hidden");
            jQuery("input[type='hidden'][name=SelectedOption]").val("2");
            jQuery("#form-field-PassportNo").removeAttr("required");
            jQuery("#form-field-PassportNo").closest('.form-field--text').addClass('hidden');
        }

        jQuery('#form-field-PassportNo').parsley().reset();
        jQuery('#form-field-EmiratesID').parsley().reset();
    }

    jQuery('input[type=radio][name=radios_group1]').change(function () {
        toggleId(this.value);
    });
</script>
<script src="~/scripts/External/nml/form-submit-validate.js"></script>
