@using DEWAXP.Foundation.Helpers.Extensions
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@Html.Partial("~/Views/Feature/CommonComponents/Shared/_Loader.cshtml")
<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <div class="m26-page-title__links">
                    <p class="m26-page-title__backlink">
                        <a class="button button--text button--back"
                           href="@ViewBag.BackLink">@Translate.Text("Back")</a>
                    </p>
                </div>
                <h2 class="text__page-title">@ViewBag.Title</h2>
            </div>
        </div>
    </div>

    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            <div class="grid__row grid__row--tight">
                <div class="grid__column grid__column--12">
                    <div class="m14-richtext centered">
                        <h3><strong>@Translate.Text("Verifyemail.title")</strong></h3>
                        <p class="font-regular">
                            @Html.Raw(ViewBag.subtitleText)
                        </p>
                        <h4 class="m78-timer-instructions" style="display: none;">@Translate.Text("cust.generate.onetime.code.message")</h4>
                        <h4 class="m78-timer-verification hidden mb12" style="display: block;">@Html.Raw(string.Format(Sitecore.Globalization.Translate.Text("career.otp.instruction"), ViewBag.ValidityMinutes))</h4>
                    </div>
                </div>
            </div>
            <div class="grid__row grid__row--tight">
                <div class="grid__column grid__column--12  grid__column--form">
                    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form j152-ev-smart-charge-form", @id = "verifyemailform", data_form = "true", encType = "multipart/form-data", @data_submit_validate = "enabled" }))
                    {
                        if (ViewBag.accountunlock != null && (bool)ViewBag.accountunlock)
                        {
                            @Html.Sitecore().FormHandler("CareerPortal", "AccountUnlockSubmitOTP")
                        }
                        else
                        {
                            @Html.Sitecore().FormHandler("CareerPortal", "ForgotPasswordSubmitOTP")
                        }
                        @Html.AntiForgeryToken()
                        <input type="text" style="display:none;" id="otpstring" name="otp" value="" />
                        <div class="form-field form-field--otp centered">
                            <span class="form-field__input-wrapper_otp">
                                <input class="form-field__input form-field__input--otp"
                                       id="form-field-mobilenumber"
                                       name="text" type="number"
                                       aria-describedby="description-for-mobilenumber"
                                       data-parsley-maxnumber="1"
                                       data-parsley-errors-container="#description-for-mobilenumber"
                                       required=""
                                       autofocus=""
                                       data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                       data-parsley-trigger="focusout"
                                       data-parsley-id="6"
                                       aria-invalid="false">
                            </span>
                            <span class="form-field__input-wrapper_otp">
                                <input class="form-field__input form-field__input--otp"
                                       id="form-field-mobilenumber"
                                       name="text" type="number"
                                       aria-describedby="description-for-mobilenumber"
                                       data-parsley-maxnumber="1"
                                       data-parsley-errors-container="#description-for-mobilenumber"
                                       required=""
                                       data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                       data-parsley-trigger="focusout"
                                       data-parsley-id="8"
                                       aria-invalid="false">
                            </span>
                            <span class="form-field__input-wrapper_otp">
                                <input class="form-field__input form-field__input--otp"
                                       id="form-field-mobilenumber"
                                       name="text" type="number"
                                       aria-describedby="description-for-mobilenumber"
                                       data-parsley-maxnumber="1"
                                       data-parsley-errors-container="#description-for-mobilenumber"
                                       required=""
                                       data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                       data-parsley-trigger="focusout"
                                       data-parsley-id="10"
                                       aria-invalid="false">
                            </span>
                            <span class="form-field__input-wrapper_otp">
                                <input class="form-field__input form-field__input--otp"
                                       id="form-field-mobilenumber"
                                       name="text" type="number"
                                       aria-describedby="description-for-mobilenumber"
                                       data-parsley-maxnumber="1"
                                       data-parsley-errors-container="#description-for-mobilenumber"
                                       required=""
                                       data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                       data-parsley-trigger="focusout"
                                       data-parsley-id="12"
                                       aria-invalid="false">
                            </span>
                            <span class="form-field__input-wrapper_otp">
                                <input class="form-field__input form-field__input--otp"
                                       id="form-field-mobilenumber"
                                       name="text" type="number"
                                       aria-describedby="description-for-mobilenumber"
                                       data-parsley-maxnumber="1"
                                       data-parsley-errors-container="#description-for-mobilenumber"
                                       required=""
                                       data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                       data-parsley-trigger="focusout"
                                       data-parsley-id="14"
                                       aria-invalid="false">
                            </span>
                            <span class="form-field__input-wrapper_otp">
                                <input class="form-field__input form-field__input--otp"
                                       id="form-field-mobilenumber"
                                       name="text" type="number"
                                       aria-describedby="description-for-mobilenumber"
                                       data-parsley-maxnumber="1"
                                       data-parsley-errors-container="#description-for-mobilenumber"
                                       required=""
                                       data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                       data-parsley-trigger="focusout"
                                       data-parsley-id="16"
                                       aria-invalid="false">
                            </span>
                            <input class="form-field__input form-field__input--otp_main"
                                   id="form-field-mobilenumbermain"
                                   name="text" type="number"
                                   aria-describedby="description-for-mobilenumbermain"
                                   data-parsley-maxnumber="6"
                                   data-parsley-errors-container="#description-for-mobilenumbermain"
                                   data-parsley-required-message="@Translate.Text("enter_verification_code")"
                                   data-parsley-trigger="focusout"
                                   data-parsley-id="33">
                            <div id="description-for-mobilenumber" class="form-field__messages">
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column grid__column--12 grid__column--form centered">
                    <div class="button button--timer timer-button--outline"
                         data-component="m78-timer"
                         id="timerbutton"
                         timer-labels="{&quot;before&quot;:&quot;@Translate.Text("cust.resend.button.text")&quot;, &quot;after&quot;:&quot;@Translate.Text("cust.resend.button.text") (&quot;}"
                         timer-time="{&quot;seconds&quot;:@ViewBag.ValiditySeconds}">
                        <span class="m78-timer--button_text">@Translate.Text("cust.send.button.text")</span>
                        <span class="m78-timer--button_time"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/External/nml/form-submit-validate.js"></script>
<script type="text/javascript">
    docReady(function () {
        setTimeout(function () {
            //jQuery('.button--timer').trigger('start');
            jQuery('.button--timer').trigger('start.timer', [@ViewBag.ValiditySeconds])
        }, 1000);

        var _this = this,
            $field = $('.form-field--otp'),
            $input = $field.find('.form-field__input--otp'),
            i,
            $inputMain = $field.find('.form-field__input--otp_main');

        var submitting = false;
        $(".form-field__input--otp").off('keyup.verify  blur.verify').on('keyup.verify blur.verify', function () {
            setTimeout(function () {
                if (submitting === true) { return false; }
                if ($(".form-field__input--otp_main").val().length == 6) {
                    jQuery('#otpstring').val($(".form-field__input--otp_main").val());
                    submitting = true;
                    beforesendfnc();
                    jQuery('#verifyemailform').submit();
                };
            }, 50)
        });

        jQuery("#timerbutton").on("click", (resendOTP));
    });
    function resendOTP() {
        if (!jQuery("#timerbutton").hasClass("timer-button--outline")) {
            var url = "/api/Sitecore/CareerPortal/ForgotPasswordResendOTP";
            jQuery.ajax({
                type: 'POST',
                url: url,
                traditional: true,
                data: AddForgeryToken({}, "verifyemailform"),
                beforeSend: function () {
                    beforesendfnc();
                },
                complete: function () {
                    completefunc();
                },
                dataType: 'json',
                success: function (response) {
                    if (response != null && response != undefined) {
                        if (response.status) {
                            jQuery('.button--timer').attr('timer-time', '{&quot;seconds&quot;:' + response.validitySeconds + '}');
                            //jQuery('.button--timer').trigger('start',);
                            jQuery('.button--timer').trigger('start.timer', response.validitySeconds)
                        }
                        else {
                            window.location.reload();
                        }
                    }
                },
                error: function () {
                }
            });
            return false;
        }
    }
</script>

