@model DEWAXP.Feature.HR.Models.CareerPortal.TellAFriend
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Feature.HR.Models.CareerPortal
@using _scPageItemId = DEWAXP.Foundation.Content.ScPageItemId
@using DEWAXP.Foundation.Content
<div class="grid j126-career-portal" data-journey="j126-career-portal">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <!-- m26-page-title-start -->
            <div class="m26-page-title ">
                <div class="m26-page-title__links">
                </div>
                <h2 class="text__page-title">@Translate.Text("tell friend")</h2>
            </div>
            <!-- m26-page-title-end -->
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @*<p class="text__content-copy">
                    Use this option to forward interesting employment opportunities to friends
                    and families.<br />
                    Specify the name and the e-mail address of the recepient. You can also add a
                    personal comment and enter your sender information.
                    the recipent receives your message by mail together with a link to the
                    employment opportunity.
                </p>*@
            @Html.Sitecore().Placeholder("tellfriendwrap")
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, new { JobId = ViewBag.JobId }, FormMethod.Post, new { @id = "TellAFriendForm", @data_parsley_focus = "true", @data_form = "true", @class = "form", @data_submit_validate = "enabled", @novalidate = string.Empty, @autocomplete = "off" }))
            {
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
                <div class="form-field form-field--text form-field--12 ">
                    <label for="form-field-recipentname" class="form-field__label">
                        @Translate.Text("fullname label")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-recipentname"
                               name="RecipentName"
                               type="text"
                               placeholder="@Translate.Text("enter label") @Translate.Text("fullname label")"
                               aria-describedby="description-for-recipentname"
                               data-parsley-errors-container="#description-for-recipentname"
                               required=""
                               data-parsley-required-message="@Translate.Text("required field text")"
                               data-parsley-trigger="focusout">
                    </span>
                    <div id="description-for-recipentname" class="form-field__messages">
                    </div>
                </div>
                <div class="form-field form-field--text">
                    <label for="form-field-recipentemailaddress" class="form-field__label">
                        @Translate.Text("email address label")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text form-field__input--error parsley-error"
                               id="form-field-recipentemailaddress"
                               name="RecipentEmailAddress"
                               type="email"
                               placeholder="@Translate.Text("email placeholder text")"
                               aria-describedby="description-for-recipentemailaddress"
                               data-parsley-errors-container="#description-for-recipentemailaddress"
                               required=""
                               data-parsley-required-message="@Translate.Text("required field text")"
                               data-parsley-trigger="focusout"
                               data-parsley-id="21"
                               aria-invalid="true">
                    </span>
                    <div id="description-for-recipentemailaddress" class="form-field__messages">
                    </div>
                </div>
                <div class="form-field form-field--text">
                    <label for="form-field-message" class="form-field__label">
                        @Translate.Text("message label")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <textarea class="form-field__input form-field__input--text form-field__input--textarea"
                                  maxlength="500"
                                  data-textarea="message"
                                  id="form-field-message"
                                  name="SenderMessage"
                                  type="textarea"
                                  aria-describedby="description-for-message"
                                  data-parsley-errors-container="#description-for-message"
                                  required=""
                                  data-parsley-required-message="@Translate.Text("required field text")"
                                  data-parsley-id="22">
                        </textarea>
                    </span>
                    <div id="description-for-message" class="form-field__messages">
                    </div>
                </div>
                <div class="form-field form-field--text form-field--12 ">
                    <label for="form-field-sendername" class="form-field__label">
                        @Translate.Text("fullname sender label")
                        <span class="form-field__label-required aria-only">(required)</span>
                    </label>
                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-sendername"
                               name="SenderName"
                               type="text"
                               placeholder="@Translate.Text("enter label") @Translate.Text("fullname sender label")"
                               aria-describedby="description-for-sendername"
                               data-parsley-errors-container="#description-for-sendername"
                               required=""
                               data-parsley-required-message="@Translate.Text("required field text")"
                               data-parsley-trigger="focusout">
                    </span>
                    <div id="description-for-sendername" class="form-field__messages">
                    </div>
                </div>
                <div class="form-field__button">
                    <button type="submit" id="submitMessage" class="button button--primary">@Translate.Text("send button text")</button>
                    <button type="button" class="button button--primary" onclick="reset();">@Translate.Text("reset button text")</button>
                </div>
            }
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    jQuery(document).ready(function () {
        function reset() {
            jQuery("#form-field-sendername").val('');
            jQuery("#form-field-message").val('');
            jQuery("#form-field-recipentemailaddress").val('');
            jQuery("#form-field-recipentname").val('');
        }
    });
</script>

