@using Sitecore.Globalization
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GeneralServices.Models.PowerOutage.PowerOutageTrackingModel
<div class="grid" data-journey="j131-scrap-sale">
    @*@Html.Sitecore().Placeholder("j100/m26-page-title")*@

    @if (!string.IsNullOrEmpty(Model.NotificationNo) && Model.TrackingData != null && Model.TrackingData.Count > 0)
    {
        <div class="grid__row mt48">
            <div class="grid__column grid__column--12 grid__column--content">
                <div class="m40v2-status-message m40v2-status-message--success icon icon-new-success-message" data-component="m40v2-status-message">
                    <div class="m40v2-status-message__title icon--success">@Translate.Text("pwo_Requestheader")</div>
                    <div class="m40v2-status-message__text" data-notif="@Model.NotificationNo">

                        <strong>  @(Translate.Text("pwo_RequestText").Replace("{{notif}}", Model.NotificationNo))</strong>
                    </div>
                    <p>
                        @Translate.Text("pwo_RequestNote")
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <h2 class="text__section-title success-subtitle__h2">@Translate.Text("pwo_Detail")</h2>
                @{
                    var data = Model.TrackingData[0];
                }
                <div class="m42-keyvalue success-page">
                    <dl>
                        <dt class="m42-keyvalue__key--stacked">
                            <strong>
                                @Translate.Text("pwo_TypeofWork")
                            </strong>
                        </dt>
                        <dd class="m42-keyvalue__value--stacked tran-details">
                            @data.TypeOfWork
                        </dd>
                        <dt class="m42-keyvalue__key--stacked">
                            <strong>
                                @Translate.Text("pwo_RequiredPowerInterruption")
                            </strong>
                        </dt>
                        <dd class="m42-keyvalue__value--stacked tran-details">
                            @data.PowerInterruption
                        </dd>
                        <dt class="m42-keyvalue__key--stacked">
                            <strong>
                                @Translate.Text("pwo_PurposeofWork")
                            </strong>
                        </dt>
                        <dd class="m42-keyvalue__value--stacked tran-details">
                            @data.PurposeOfWork
                        </dd>
                        @*<dt class="m42-keyvalue__key--stacked">
            <strong>
                @Translate.Text("pwo_IsolationPoint")
            </strong>
        </dt>
        <dd class="m42-keyvalue__value--stacked tran-details">
            @data.IsolationPoint
        </dd>*@
                        <dt class="m42-keyvalue__key--stacked">
                            <strong>
                                @Translate.Text("pwo_DEWASubStationNumber")
                            </strong>
                        </dt>
                        <dd class="m42-keyvalue__value--stacked tran-details">
                            @data.DEWASubStationNumber
                        </dd>

                        @if (!string.IsNullOrWhiteSpace(@data.CompanyName))
                        {
                            <dt class="m42-keyvalue__key--stacked">
                                <strong>
                                    @Translate.Text("pwo_CompanyName")
                                </strong>
                            </dt>
                            <dd class="m42-keyvalue__value--stacked tran-details">
                                @data.CompanyName
                            </dd>
                        }

                        <dt class="m42-keyvalue__key--stacked">
                            <strong>
                                @Translate.Text("pwo_CustomerAuthorizedPersonName")
                            </strong>
                        </dt>
                        <dd class="m42-keyvalue__value--stacked tran-details">
                            @data.CustomerAuthorizedPersonName
                        </dd>
                        <dt class="m42-keyvalue__key--stacked">
                            <strong>
                                @Translate.Text("pwo_StartDate")
                            </strong>
                        </dt>
                        <dd class="m42-keyvalue__value--stacked tran-details">
                            @data.StartDate @data.StartTime
                        </dd>
                        <dt class="m42-keyvalue__key--stacked">
                            <strong>
                                @Translate.Text("pwo_EndDate")
                            </strong>
                        </dt>
                        <dd class="m42-keyvalue__value--stacked tran-details">
                            @data.EndDate @data.EndTime
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="grid__row noprint">
            <div class="grid__column grid__column--12 grid__column--centered grid__column--form">
                <h2 class="summary-footer__title">@Translate.Text("What's next?")</h2>
                <div class="m14-richtext mb0">
                    @*<p class="text__content-copy">
                        @Html.Raw(@Translate.Text("pwo_nextDescription"))
                    </p>*@
                    <a role="button"  class="button button--primary" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.PowerOutageTrackingPage)?n=@Model.NotificationNo">@Translate.Text("pwo_tracktext")</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="grid__row grid__column--centered mt48">
            <div class="grid__column grid__column--12 grid__column--form">
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            </div>
        </div>
    }

</div>
