@using Sitecore.Globalization
@using Sitecore.Mvc
@model DEWAXP.Feature.GeneralServices.Models.SupportKiosk.TrackRequestDetails

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="grid__column grid__column--12 grid__column--content">
        <div class="m67-confirmation-message m67-confirmation-message--error">
            <div class="m67-confirmation-message__title">
                @Sitecore.Globalization.Translate.Text("Application Details")
            </div>
            <div class="m67-confirmation-message__content">

                <div class="m67-confirmation-message__detail--wrapper">
                    <div class="m67-confirmation-message__detail--value">
                        @ViewBag.ErrorMessage
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    if (Model != null)
    {
        <div class="grid__column grid__column--12 grid__column--content">
            <div class="m67-confirmation-message m67-confirmation-message--success">
                <div class="m67-confirmation-message__title">
                    @Sitecore.Globalization.Translate.Text("Application Details")
                </div>
                <div class="m67-confirmation-message__content">

                    <div class="m67-confirmation-message__detail--wrapper">
                        <div class="m67-confirmation-message__detail--detail">
                            @Sitecore.Globalization.Translate.Text("Request Number")
                        </div>
                        <div class="m67-confirmation-message__message">
                            @Model.RequestNumber
                        </div>
                    </div>

                    <div class="m67-confirmation-message__detail--wrapper">
                        <div class="m67-confirmation-message__detail--detail">
                            @Sitecore.Globalization.Translate.Text("Request type")
                        </div>
                        <div class="m67-confirmation-message__message">
                            @Model.RequestType
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.AccountNumber))
                    {
                        <div class="m67-confirmation-message__detail--wrapper">
                            <div class="m67-confirmation-message__detail--detail">
                                @Sitecore.Globalization.Translate.Text(DictionaryKeys.Global.Account.ContractAccountNumber)
                            </div>
                            <div class="m67-confirmation-message__message">
                                @Model.AccountNumber
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.MobileNumber))
                    {
                        <div class="m67-confirmation-message__detail--wrapper">
                            <div class="m67-confirmation-message__detail--detail">
                                @Sitecore.Globalization.Translate.Text(DictionaryKeys.Global.MobileNumber)
                            </div>
                            <div class="m67-confirmation-message__message">
                                @Model.MobileNumber
                            </div>
                        </div>
                    }
                    <div class="m67-confirmation-message__detail--wrapper">
                        <div class="m67-confirmation-message__detail--detail">
                            @Sitecore.Globalization.Translate.Text("Requested On")
                        </div>
                        <div class="m67-confirmation-message__message">
                            @Model.RequestDate
                        </div>
                    </div>
                    <div class="m67-confirmation-message__detail--wrapper">
                        <div class="m67-confirmation-message__detail--detail">
                            @Sitecore.Globalization.Translate.Text("Status")
                        </div>
                        <div class="m67-confirmation-message__message   ">
                            @Model.RequestStatus
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
