@model DEWAXP.Feature.IdealHome.Models.IdealHomeConsumer.VideoGroupList
@using Sitecore.Globalization;
@using DEWAXP.Foundation.Content
<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />

<div class="grid__row">
    <div class="grid__column grid__column--12">
        <div class="m17-sectiontitle " data-component="m17-sectiontitle">
            <div class="m17-sectiontitle__colors">
                <span class="title-colors-green"></span>
                <span class="title-colors-red"></span>
                <span class="title-colors-blue"></span>
                <span class="title-colors-purple"></span>
                <span class="title-colors-brown"></span>
            </div>
            <h3 class="m17-sectiontitle__title  text__section-title">@Translate.Text("IDH_Step2") @Translate.Text("IDH_Step2Title")<span class="icon-new-success-message"></span></h3>
        </div>
    </div>
</div>


<div class="grid__row">
    <div class="grid__column grid__column--12 j143-ideal-home-videos grid__column-toggle">
        <div class="grid__column-toggle-button">
            <span class="show">
                @Translate.Text("IDH_Step3ShowResult")
            </span>
            <span class="hide">
                @Translate.Text("IDH_Step3HideResult")
            </span>
        </div>
        <div class="grid__column-toggle-content">
            @foreach (DEWAXP.Feature.IdealHome.Models.IdealHomeConsumer.VideoCategoryDataList item in Model.VideoCategoryList)
            {

                var _TotalCount = item.VideoGallery.Count();
                var _watchedCount = item.VideoGallery.Where(x => x.Watched == true).Count();

                <div class="grid__column grid__column--12">
                    <div class="j143-ideal-home-videos-section-title">
                        <h4>@item.Header</h4>
                        <div class="j143-ideal-home-videos-watched">
                            @_watchedCount/@_TotalCount @Translate.Text("IDH_Step2VideosWatched")
                        </div>
                    </div>
                </div>
                foreach (var _videoList in item.VideoGallery)
                {
                    <div class="grid__column grid__column--3">
                        <div class="m9-teaser" data-component="m9-teaser">
                            <div class="m9-teaser-image">
                                <div class="m36-videoplayer--variant m36-videoplayer--modal" data-vid=""
                                     data-iframe="<video userid='shujaat' videoItemID='@_videoList.Item.ID' class='video-js vjs-default-skin' controls='' width='640' height='360' frameborder='0' allowfullscreen data-setup='{ &quot;techOrder&quot;: [&quot;youtube&quot;, &quot;html5&quot;], &quot;sources&quot;: [{ &quot;type&quot;: &quot;video/youtube&quot;, &quot;src&quot;: &quot;@(_videoList.VideoURL)&quot;}] }' id=''></video>">
                                    <div class="m36-videoplayer--details">
                                        <div class="m36-videoplayer--length">
                                            @_videoList.VideoLength
                                        </div>
                                    </div>
                                    <div class="m36-videoplayer--image" style="background-image: url(@(_videoList.VideoBackImage.Src ?? "'~/images/hero_article.jpg'"));">
                                    </div>
                                </div>
                                @*<div class="m39-modal m39-modal--new m39-modal--video" data-component="m39-modal" id="modal_true">
                                        <button data-trigger="true" class="m39-modal__trigger" type="button" id="_0ake8m97x_trigger" aria-controls="_0ake8m97x_content">
                                            <div class="m36-videoplayer--variant"
                                                 data-iframe="<video videoItemID='@_videoList.Item.ID' class='video-js vjs-default-skin' controls='' width='100%' height='100%' data-setup='{ &quot;techOrder&quot;: [&quot;youtube&quot;, &quot;html5&quot;], &quot;sources&quot;: [{ &quot;type&quot;: &quot;video/youtube&quot;, &quot;src&quot;: &quot;@_videoList.VideoURL;}] }' id='@_videoList.Item.ID'></video>">
                                                <div class="m36-videoplayer--details">
                                                    <div class="m36-videoplayer--length">
                                                        @_videoList.VideoLength
                                                    </div>
                                                </div>
                                                <div class="m36-videoplayer--image" style="background-image: url(@(_videoList.VideoBackImage.Src ?? "'~/images/hero_article.jpg'"));">
                                                </div>
                                            </div>
                                        </button>
                                        <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="true" id="_0ake8m97x_content" aria-labelledby="_0ake8m97x_trigger">
                                            <div class="m39-modal__dialog">
                                                <div class="m39-modal__header p0">

                                                    <a data-close="true" class="m39-modal__button--close" id="_0ake8m97x_close" aria-controls="_0ake8m97x_content"></a>
                                                </div>
                                                <div class="m39-modal__content p0" style="top: 0px;">
                                                    <iframe width="100%" height="100%" src="@_videoList.VideoURL" frameborder="0" allowfullscreen=""></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m39-modal__overlay"> </div>
                                    </div>*@
                            </div>
                            <div class="teaser__content">
                                <h4 class="teaser__title">
                                    <span class="teaser__title-text">@_videoList.VideoTitle</span>
                                    @*@if (_videoList.Watched)
                                        {<span class="teaser__labal watched j106-ideal-home__video--required @(_videoList.Watched? "j106-ideal-home__video--done":   string.Empty)">@(_videoList.Watched ? Translate.Text("IDH_Step2Watched") : Translate.Text("Required"))</span>}*@
                                </h4>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
@Html.Partial("~/Views/Feature/CommonComponents/Renderings/IdealHome/VideoModelPopup.cshtml")



<form id="video-ideal-form" action="#" class="form" method="POST" novalidate="novalidate" form-skipvalidation="true">
    @Html.AntiForgeryToken()
</form>
<script src="~/Scripts/External/nml/form-submit-validate.js"></script>
<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<script src="~/Scripts/External/nml/Youtube.min.js"></script>

<script type="text/javascript">
    var _currentteaser = null;
    jQuery('.m36-videoplayer--variant').on('click', function () {
        _currentteaser = jQuery(this);

        var _vid = _currentteaser.data('vid');
        if (_vid != null) {

            var video = videojs('#' + _vid, {
                controlBar: {
                    fullscreenToggle: false,
                    progressControl: {
                        seekBar: false
                    }
                }
            }).ready(function () {
                var player = this;

            player.on('ended', function () {

                var id = $(player).attr("videoItemID");
                CallApi(function () {
                    var vidContTeaser = _currentteaser.closest('.m9-teaser').find('.teaser__title');
                    var tt = '<span class="teaser__labal watched j106-ideal-home__video--required j106-ideal-home__video--done">' +'@Translate.Text("IDH_Step2Watched")'+'</span>'
                    vidContTeaser.append(tt);
                    window.location.reload();
                }, id);


            });
        });
        }
    });

    var CallApi = function (callback, itemID) {
        var form = $('#video-ideal-form');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        //var url = "/api/IdealHomeConsumerAPI/Get?videoItemID=" + itemID;
        var url = "/api/IdealHomeConsumerAPI/VideoPost";

        jQuery.ajax(url, {
            //dataType: 'json',
            //method: 'GET',
            method: 'POST',
            //url: url,
            async: true,
            datatype: 'application/json',
            traditional: true,
            data: {
                __RequestVerificationToken: token,
                videoItemID: itemID
            },
            success: function (data) {
                console.log(data)
                if (data.Watched) {
                    return callback();
                }
            }
        });
    };

    @*$("video").each(function () {
        var video = videojs(this).ready(function () {
            var player = this,
                span = $("#" + player.id_).prev();


            player.on('ended', function () {

                var id = $(player).attr("videoItemID");
                CallApi(null, id);

                if (!(span.hasClass("j106-ideal-home__video--done"))) {
                    $(span).addClass("j106-ideal-home__video--done");
                    $(span).html("@Translate.Text("IDH_Step2Watched")");

                } else { };
            });
        });
    });*@
</script>