@model DEWAXP.Feature.GeneralServices.Models.Infrastructure_Noc.InfrastructureNocReqModel
@using DEWAXP.Foundation.Content
@if (ViewData.ModelState.IsValid)
{
    <div class="m39-modal__tabs-content">
        <div class="m39-modal__tabs-content-section tabs-content-status tab-status hidden">
            <ul class="tabs-content-status-list">
                @if (Model.statusList != null)
                {
                    foreach (var item in Model.statusList)
                    {
                        <li class="list-item-@item.color.ToLower() tabs-content-status-list-item @(item.color.ToLower().Equals("green") ? "tabs-content-status-list-item-tick" : "")">
                            @if (item.color.ToLower().Equals("green"))
                            {
                                <span class="icon-tick"></span>
                            }
                            <span class="status-title">@item.statusdescription</span>
                            <span class="status-text status-text padding p-t-10">@item.date</span>
                            @*<time datetime="2019-01-12">@item.date</time>*@
                        </li>
                    }
                }
            </ul>
        </div>

        <div class="m39-modal__tabs-content-section tabs-content-comments tab-comment">
            <div class="readonly-text">
                @*<h5>***General Comments***</h5>*@
                <p>
                    @Html.Raw(!string.IsNullOrWhiteSpace(Model.InteractionHistory) ? Model.InteractionHistory.Replace("\n", "<br />") : "")
                </p>
            </div>
        </div>
    </div>
}
else
{
    <div class="errordiv mt24">@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")</div>
}

