@using Sitecore.Globalization
@using Sitecore.Mvc
@model DEWAXP.Foundation.CustomDB.DataModel.raffel

<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @id = "raffle", data_form = "true", data_parsley_focus = "none", @data_submit_validate = "enabled", enctype = "multipart/form-data" }))
            {
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()

            <fieldset class="fieldset form-section" id="f1">
                <legend class="legend hidden">@Translate.Text("Ra.Personal Information")</legend>
                <div class="form-field form-field--text ">
                    <label for="form-field-full_name" class="form-field__label">
                        @Translate.Text("ra.Full Name")
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.name,
                    new
                    {
                        @class = "form-field__input form-field__input--text review",
                        @name = "full_name",
                        @id = "form-field-full_name",
                        @placeholder = @Translate.Text("ra.Full Name Placeholder"),
                        @aria_required = "true",
                        @required = "",
                        @data_parsley_error_message = Translate.Text("ra.errorMessage full name"),
                        @data_parsley_errors_container = "#description-for-full_name",
                        @aria_describedby = "description-for-full_name",
                        @max_length="100"
                    })

                    </span>
                    <div id="description-for-full_name" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.name, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-MobileNumber" class="form-field__label">
                        @Translate.Text("ra.MobileNumber")
                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                        <input type="tel"
                               name="mobile"
                               id="form-field-MobileNumber"
                               aria-describedby="description-for-MobileNumber"
                               required=""
                               placeholder="@Translate.Text("ra.MobileNumber Placeholder")"
                               data-parsley-error-message="@Translate.Text("ra.errorMessage MobileNumber")"
                               data-parsley-type="digits"
                               data-parsley-trigger="focusout"
                               data-parsley-mobile_number=""
                               data-parsley-errors-container="#description-for-MobileNumber"
                               class="form-field__input form-field__input--text form-field__input--prefixed review">
                    </span>
                    <div id="description-for-MobileNumber" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.mobile, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>
                <div class="form-field form-field--text ">
                    <label for="form-field-EmailAddress" class="form-field__label">
                        @Translate.Text("ra.EmailAddress")
                    </label>
                    <span class="form-field__input-wrapper">
                        @Html.TextBoxFor(x => x.email,
                new
                {
                    @class = "form-field__input form-field__input--text review",
                    @name = "EmailAddress",
                    @id = "form-field-EmailAddress",
                    @placeholder = @Translate.Text("ra.EmailAddress Placeholder"),
                    @aria_required = "true",
                    @required = "",
                    @data_parsley_error_message = Translate.Text("ra.errorMessage EmailAddress"),
                    @data_parsley_errors_container = "#description-for-EmailAddress",
                    @aria_describedby = "description-for-EmailAddress",
                    @type = "email"
                })

                    </span>
                    <div id="description-for-EmailAddress" class="form-field__messages">
                        @Html.ValidationMessageFor(x => x.email, "", new { @class = "parsley-errors-list" })
                    </div>
                </div>
                @if ((bool)ViewBag.Recaptcha)
                {
                <br />
                <div class="g-recaptcha" id="captcha" data-sitekey="@(ViewBag.SiteKey)"></div>
                <span id='errorContainer' class="parsley-errors-list"></span>
                }
            </fieldset>
                <div class="form-field__button">
                    <button type="submit" class="button button--primary button--next" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Submit")</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/External/nml/form-submit-validate.js"></script>