@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration

@model DEWAXP.Feature.ShamsDubai.Models.ShamsDubai.SubscribeModel


@if (Request.QueryString["q"] == null)
{
    @Html.Sitecore().Placeholder("shamsdubaiformattedtext")
}

<script type="text/javascript">
    function hidePnl() {



        var _ddl = document.getElementById('form-field-Type');
        var _txtOthers = document.getElementById('form-field-Others');
        var _selVal = _ddl.options[_ddl.selectedIndex].value;



        if (_selVal == 'Other') {

            _txtOthers.style.display = 'block';

        }
        else {
            _txtOthers.style.display = 'none';
        }
    }
</script>



<div class="grid">
    <div class="grid__row">

        <div class="grid__column grid__column--12 grid__column--form">

            

            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")


            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form",@id="shamsdubaiform", @data_form = "true", @data_parsley_focus = "none" }))
            {
                @Html.AntiForgeryToken()


            <fieldset class="fieldset">
                <legend class="legend-color">.</legend>
                @if (Request.QueryString["q"] == null)
                {
                    <!--Name-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-Name" class="form-field__label">
                            * @Translate.Text("Shams-Name")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <span class="form-field__input-wrapper">
                            <input type="text"
                                   value="@Model.Name"
                                   required="required"
                                   name="Name"
                                   id="form-field-Name"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   data-parsley-required-message="@Translate.Text("Please enter") @Translate.Text("Shams-Name")"
                                   @*aria-required="true"*@
                                   aria-describedby="description-for-form-field-Name"
                                   data-parsley-errors-container="#description-for-form-field-Name"
                                   data-parsley-trigger="focusout" />
                        </span>
                        <div id="description-for-form-field-Name" class="form-field__messages"></div>
                    </div>


                    <!--Customer Type-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-Type" class="form-field__label">
                            *  @Translate.Text("Shams-Type")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select id="form-field-Type" onchange="hidePnl()"
                                    data-parsley-required-message="@Translate.Text("Please enter") @Translate.Text("Shams-Type")"
                                    @*aria-required="true"*@
                                    name="SubscriberType"
                                    required="required"
                                    @*data-parsley-id="20"*@
                                    class="form-field__input form-field__input--select form-field__input--select-full"
                                    aria-describedby="description-for-form-field-Type"
                                    data-parsley-errors-container="#description-for-form-field-Type">

                                @foreach (var item in Model.CustomerTypeList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }

                            </select>
                        </span>
                        <div id="description-for-form-field-Type" class="form-field__messages"></div>
                    </div>

                    <!--Others-->
                    <div class="form-field form-field--text ">
                        <label for="form-field-Others" class="form-field__label">
                            <span class="aria-only">other</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <input type="text"
                                   value="@Model.Others"
                                   required="required"
                                   name="Others"
                                   id="form-field-Others"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   data-parsley-required-message="@Translate.Text("Please enter") @Translate.Text("Shams-Others")"
                                   @*aria-required="true"*@
                                   aria-describedby="description-for-form-field-Others"
                                   data-parsley-errors-container="#description-for-form-field-Others"
                                   data-parsley-trigger="focusout"
                                   style="display:none" />
                        </span>
                        <div id="description-for-form-field-Others" class="form-field__messages"></div>
                    </div>

                    <!-- Email Address-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-Email" class="form-field__label">
                            *   @Translate.Text("Shams-Email")
                        </label>

                        <span class="form-field__input-wrapper">
                            <input type="email"
                                   required="required"
                                   value="@Model.Email"
                                   name="Email"
                                   id="form-field-Email"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   @*aria-required="false"*@
                                   aria-describedby="description-for-form-field-EmailAddress"
                                   data-parsley-errors-container="#description-for-form-field-EmailAddress"
                                   data-parsley-trigger="focusout"
                                   data-parsley-error-message="@Translate.Text("Please enter a valid email address")" />
                        </span>
                        <div id="description-for-form-field-EmailAddress" class="form-field__messages"></div>
                    </div>
                }
                else
                {
                    <!-- Email Address-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-UnsubscribeEmail" class="form-field__label">
                            *   @Translate.Text("Shams-Email")
                        </label>

                        <span class="form-field__input-wrapper">
                            <input type="email"
                                   required="required"
                                   value="@Model.UnsubscribeEmail"
                                   name="UnsubscribeEmail"
                                   id="form-field-UnsubscribeEmail"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   @*aria-required="false"*@
                                   aria-describedby="description-for-form-field-UnsubscribeEmail"
                                   data-parsley-errors-container="#description-for-form-field-UnsubscribeEmail"
                                   data-parsley-trigger="focusout"
                                   data-parsley-error-message="@Translate.Text("Please enter a valid email address")" />
                        </span>
                        <div id="description-for-form-field-UnsubscribeEmail" class="form-field__messages"></div>
                    </div>
                }

                <input type="hidden" name="q" id="q" value="@ViewBag.QueryParamter" />
                <!--Captacha-->
                @if ((bool)ViewBag.Recaptcha)
                {
                    <br />
                    <div class="g-recaptcha" id="captcha" data-sitekey="@(ViewBag.SiteKey)"></div>
                    <span id='errorContainer' class="parsley-errors-list"></span>
                }

            </fieldset>

                <div class="form-field__button">

                    <button type="submit" class="button button--primary button--next shamsdubaisubmitbutton" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Submit")</button>

                </div>
            }

        </div>

    </div>
</div>
<script type="text/javascript">
    jQuery('.shamsdubaisubmitbutton').off('click.submit').on('click.submit', function (e) {
        require(['parsley'], function () {
            recaptchaCallback();
            if (!jQuery('#shamsdubaiform').parsley().validate()) {
                e.preventDefault();
                return false;
            }
            else {
                return true;
            }
        });
    });
    function recaptchaCallback() {
            var v = grecaptcha.getResponse();
            if (v.length == 0) {
                jQuery('#errorContainer').text('@Translate.Text("You cant leave Captcha Code empty")');
                return false;
            }
            else {
                jQuery('#errorContainer').text("");
                return true;
            }
        }
</script>