@using Sitecore.Globalization
@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc

<div class="j100-services-map" data-journey="j100-services-map" data-labels='{"loc":"<img class=m32-map--overlay-img src=/images/dewa-pin-overlay_darkgreen.png>","tel":"@Translate.Text("Phone"): ","hours":"<img class=m32-map--overlay-img src=/images/map_timings.png>","makani":"<img class=m32-map--overlay-img src=/images/makani_logo.png>","pwd":"<img class=m32-map--overlay-img src=/images/pwd_logo.png>","map":"@Translate.Text("View larger map")","nav":"@Translate.Text("Directions")", "serviceCentres":"@Translate.Text("Customer Service Centres")", "waterSupplyPoints":"@Translate.Text("Water Supply Points")", "paymentPoints":"@Translate.Text("Payments Channels")", "fastchargingPoints":"@Translate.Text("Fast EV Green Charging Stations")", "normalchargingPoints":"@Translate.Text("Normal EV Green Charging Stations")", "postOffices":"@Translate.Text("Emirates Post Office")", "ATM":"@Translate.Text("Etisalat ATM")", "ENOC":"@Translate.Text("ENOC")", "EPPCO":"@Translate.Text("EPPCO")", "cdmpoints":"@Translate.Text("ENBDCDM")"}'>
    @Html.AntiForgeryToken()
    <div class="grid">
        <div class="j100-services-map__filters--mobile">
            <div class="grid__row--tight">
                <div class="grid__column grid__column--12 grid__column--form">
                    <div data-component="m37-expander" class="m37-expander">
                        <button class="m37-expander__trigger m37-expander__trigger--themed" data-toggle="true" id="_rzlb5can3_trigger" aria-controls="_rzlb5can3_content">@Translate.Text("Location")</button>
                        <div aria-expanded="false" role="region" class="m37-expander__content" data-content="true" id="_rzlb5can3_content" aria-labelledby="_rzlb5can3_trigger">
                            <form action="#" data-form="true" class="form" method="get" novalidate="">
                                <fieldset class="fieldset ">
                                    <legend class="legend-color">.</legend>
                                    <div class="form-field form-field--text ">
                                        <label class="form-field__label" for="form-field-b6j783gxu">
                                            @Translate.Text("Search for locations of DEWA Customer Service Centres and service options")
                                            <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                                        </label>
                                        <span class="form-field__input-wrapper">
                                            <input type="text" data-parsley-errors-container="#description-for-b6j783gxu" data-parsley-error-message="@Translate.Text("Please enter a value")" required="" aria-describedby="description-for-b6j783gxu" data-parsley-excluded="" placeholder="@Translate.Text("Input address")" name="map_search_mobile" id="form-field-b6j783gxu" class="form-field__input form-field__input--text" data-parsley-trigger="focusout" autocomplete="off">
                                        </span>
                                        <div class="form-field__messages" id="description-for-b6j783gxu">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-field__button">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div data-component="m37-expander" class="m37-expander">
                        <button class="m37-expander__trigger m37-expander__trigger--themed" data-toggle="true" id="_ilfor7ogq_trigger" aria-controls="_ilfor7ogq_content">@Translate.Text("Filters")</button>
                        <div aria-expanded="false" role="region" class="m37-expander__content" data-content="true" id="_ilfor7ogq_content" aria-labelledby="_ilfor7ogq_trigger">
                            <form action="#" data-form="true" class="form" method="get" novalidate="">
                                <fieldset class="fieldset ">
                                    <legend class="legend-color">.</legend>
                                    <div class="form-field form-field--toggles">
                                        <div class="form-field__checkbox ">
                                            <label>
                                                <input type="checkbox" aria-describedby="description-for-vmrsxtmc4" value="1" name="j100_checkbox_1_1" id="form-field-checkbox_service" aria-label="form-field-checkbox_service" class="form-field__input form-field__input--checkbox">
                                                <span class="form-field__fakecheckbox focus-enabled">
                                                    @Translate.Text("Customer Service Centres")
                                                </span>
                                            </label>
                                        </div>

                                        <div class="form-field__checkbox ">
                                            <label>
                                                <input type="checkbox" aria-describedby="description-for-vmrsxtmc4" value="2" name="j100_checkbox_1_2" id="form-field-checkbox_water" aria-label="form-field-checkbox_water" class="form-field__input form-field__input--checkbox">
                                                <span class="form-field__fakecheckbox focus-enabled">
                                                    @Translate.Text("Water Supply Points")
                                                </span>
                                            </label>
                                        </div>

                                        <div class="form-field__checkbox ">
                                            <label>
                                                <input type="checkbox" aria-describedby="description-for-vmrsxtmc4" value="3" name="j100_checkbox_1_3" id="form-field-checkbox_payment" aria-label="form-field-checkbox_payment" class="form-field__input form-field__input--checkbox">
                                                <span class="form-field__fakecheckbox focus-enabled">
                                                    @Translate.Text("Payments Channels")
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-field__checkbox">
                                            <label>
                                                <input type="checkbox" aria-describedby="description-for-vmrsxtmc4" value="4" name="j100_checkbox_1_4" id="form-field-checkbox_fastcharging" aria-label="form-field-checkbox_payment" class="form-field__input form-field__input--checkbox">
                                                <span class="form-field__fakecheckbox focus-enabled">
                                                    @Translate.Text("Fast EV Green Charging Stations")
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-field__checkbox  last">
                                            <label>
                                                <input type="checkbox" aria-describedby="description-for-vmrsxtmc4" value="5" name="j100_checkbox_1_5" id="form-field-checkbox_charging" aria-label="form-field-checkbox_charging" class="form-field__input form-field__input--checkbox">
                                                <span class="form-field__fakecheckbox focus-enabled">
                                                    @Translate.Text("Normal EV Green Charging Stations")
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-field__messages" id="description-for-vmrsxtmc4">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-field__button">
                                </div>
                            </form>
                            <form action="#" data-form="true" class="form" method="get" novalidate="">
                                <fieldset class="fieldset ">
                                    <legend class="legend-color">.</legend>
                                    <div class="form-field form-field--toggles">
                                        <div class="form-field__checkbox ">
                                            <label>
                                                <input type="checkbox" aria-describedby="description-for-s3y38nkn4" value="6" name="j100_checkbox_1_6" id="form-field-checkbox_postoffice" aria-label="form-field-checkbox_postoffice" class="form-field__input form-field__input--checkbox">
                                                <span class="form-field__fakecheckbox focus-enabled">
                                                    @Translate.Text("Emirates Post Office")
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-field__checkbox ">
                                            <label>
                                                <input type="checkbox" aria-describedby="description-for-s3y38nkn4" value="7" name="j100_checkbox_1_7" id="form-field-checkbox_etisalat" aria-label="form-field-checkbox_etisalat" class="form-field__input form-field__input--checkbox">
                                                <span class="form-field__fakecheckbox focus-enabled">
                                                    @Translate.Text("Etisalat ATM")
                                                </span>
                                            </label>
                                        </div>

                                        <div class="form-field__checkbox ">
                                            <label>
                                                <input type="checkbox" aria-describedby="description-for-s3y38nkn4" value="8" name="j100_checkbox_1_8" id="form-field-checkbox _enoc" aria-label="form-field-checkbox _enoc" class="form-field__input form-field__input--checkbox">
                                                <span class="form-field__fakecheckbox focus-enabled">
                                                    @Translate.Text("ENOC")
                                                </span>
                                            </label>
                                        </div>

                                        <div class="form-field__checkbox">
                                            <label>
                                                <input type="checkbox" aria-describedby="description-for-s3y38nkn4" value="9" name="j100_checkbox_1_9" id="form-field-checkbox_eppco" aria-label="form-field-checkbox_eppco" class="form-field__input form-field__input--checkbox">
                                                <span class="form-field__fakecheckbox focus-enabled">
                                                    @Translate.Text("EPPCO")
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-field__checkbox last">
                                            <label>
                                                <input type="checkbox" aria-describedby="description-for-s3y38nkn4" value="10" name="j100_checkbox_1_10" id="form-field-checkbox_enbdcdm" aria-label="form-field-checkbox_enbdcdm" class="form-field__input form-field__input--checkbox">
                                                <span class="form-field__fakecheckbox focus-enabled">
                                                    @Translate.Text("ENBD CDM")
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-field__messages" id="description-for-s3y38nkn4">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-field__button">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="j100-services-map__filters--desktop">
            <div class="grid__row--tight">
                <div class="grid__column grid__column--12 grid__column--form">
                    <form action="#" data-form="true" class="form" method="get" novalidate="">
                        <fieldset class="fieldset ">
                            <legend class="legend-color">.</legend>
                            <div class="form-field form-field--text ">
                                <label class="form-field__label" for="form-field-mrzbmulpx">
                                    @Translate.Text("Search for locations of DEWA Customer Service Centres and service options")
                                    <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                                </label>
                                <span class="form-field__input-wrapper">
                                    <input type="text" data-parsley-errors-container="#description-for-mrzbmulpx" data-parsley-error-message="@Translate.Text("Please enter a value")" required="" aria-describedby="description-for-mrzbmulpx" data-parsley-excluded="" placeholder="@Translate.Text("Input address")" name="map_search_desktop" id="form-field-mrzbmulpx" class="form-field__input form-field__input--text" data-parsley-trigger="focusout" data-parsley-id="14" autocomplete="off">
                                </span>
                                <div class="form-field__messages" id="description-for-mrzbmulpx">
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-field__button">
                        </div>
                    </form>
                </div>
            </div>
            <div class="grid__row--tight">
                <div class="grid__column grid__column--12 grid__column--form">
                    <div data-component="m37-expander" class="m37-expander">
                        <button class="m37-expander__trigger m37-expander__trigger--themed" data-toggle="true" id="_4x19nu7ve_trigger" aria-controls="_4x19nu7ve_content">@Translate.Text("Filters")</button>
                        <div aria-expanded="false" role="region" class="m37-expander__content" data-content="true" id="_4x19nu7ve_content" aria-labelledby="_4x19nu7ve_trigger">
                            <div class="grid">
                                <div class="grid__row">
                                    <div class="grid__column grid__column-6 mapfields">
                                        <form action="#" data-form="true" class="form" method="get" novalidate="">
                                            <fieldset class="fieldset ">
                                                <legend class="legend-color">.</legend>
                                                <div class="form-field form-field--toggles">
                                                    <div class="form-field__checkbox ">
                                                        <label>
                                                            <input type="checkbox" aria-describedby="description-for-st3hrd0qx" value="1" name="j100_checkbox_1_1" id="form-field-checkbox_service" aria-label="form-field-checkbox_service" class="form-field__input form-field__input--checkbox">
                                                            <span class="form-field__fakecheckbox focus-enabled">
                                                                @Translate.Text("Customer Service Centres")
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-field__checkbox ">
                                                        <label>
                                                            <input type="checkbox" aria-describedby="description-for-st3hrd0qx" value="2" name="j100_checkbox_1_2" id="form-field-checkbox_water" aria-label="form-field-checkbox_water" class="form-field__input form-field__input--checkbox">
                                                            <span class="form-field__fakecheckbox focus-enabled">
                                                                @Translate.Text("Water Supply Points")
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-field__checkbox ">
                                                        <label>
                                                            <input type="checkbox" aria-describedby="description-for-st3hrd0qx" value="3" name="j100_checkbox_1_3" id="form-field-checkbox_payment" aria-label="form-field-checkbox_payment" class="form-field__input form-field__input--checkbox">
                                                            <span class="form-field__fakecheckbox focus-enabled">
                                                                @Translate.Text("Payments Channels")
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-field__checkbox">
                                                        <label>
                                                            <input type="checkbox" aria-describedby="description-for-st3hrd0qx" value="4" name="j100_checkbox_1_4" id="form-field-checkbox_fastcharging" aria-label="form-field-checkbox_fastcharging" class="form-field__input form-field__input--checkbox">
                                                            <span class="form-field__fakecheckbox focus-enabled">
                                                                @Translate.Text("Fast EV Green Charging Stations")
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-field__checkbox  last">
                                                        <label>
                                                            <input type="checkbox" aria-describedby="description-for-st3hrd0qx" value="5" name="j100_checkbox_1_5" id="form-field-checkbox_charging" aria-label="form-field-checkbox_charging" class="form-field__input form-field__input--checkbox">
                                                            <span class="form-field__fakecheckbox focus-enabled">
                                                                @Translate.Text("Normal EV Green Charging Stations")
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-field__messages" id="description-for-st3hrd0qx">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="form-field__button">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="grid__column grid__column-6 mapfields">
                                        <form action="#" data-form="true" class="form" method="get" novalidate="">
                                            <fieldset class="fieldset ">
                                                <legend class="legend-color">.</legend>
                                                <div class="form-field form-field--toggles">
                                                    <div class="form-field__checkbox ">
                                                        <label>
                                                            <input type="checkbox" aria-describedby="description-for-n9nlc4e5s" value="6" name="j100_checkbox_1_6" id="form-field-checkbox_postoffice" aria-label="form-field-checkbox_postoffice" class="form-field__input form-field__input--checkbox">
                                                            <span class="form-field__fakecheckbox focus-enabled">
                                                                @Translate.Text("Emirates Post Office")
                                                            </span>
                                                        </label>
                                                    </div>

                                                    <div class="form-field__checkbox ">
                                                        <label>
                                                            <input type="checkbox" aria-describedby="description-for-n9nlc4e5s" value="7" name="j100_checkbox_1_7" id="form-field-checkbox_etisalat" aria-label="form-field-checkbox_etisalat" class="form-field__input form-field__input--checkbox">
                                                            <span class="form-field__fakecheckbox focus-enabled">
                                                                @Translate.Text("Etisalat ATM")
                                                            </span>
                                                        </label>
                                                    </div>

                                                    <div class="form-field__checkbox ">
                                                        <label>
                                                            <input type="checkbox" aria-describedby="description-for-n9nlc4e5s" value="8" name="j100_checkbox_1_8" id="form-field-checkbox _enoc" aria-label="form-field-checkbox _enoc" class="form-field__input form-field__input--checkbox">
                                                            <span class="form-field__fakecheckbox focus-enabled">
                                                                @Translate.Text("ENOC")
                                                            </span>
                                                        </label>
                                                    </div>

                                                    <div class="form-field__checkbox  last">
                                                        <label>
                                                            <input type="checkbox" aria-describedby="description-for-n9nlc4e5s" value="9" name="j100_checkbox_1_9" id="form-field-checkbox_epp_co" aria-label="form-field-checkbox_epp_co" class="form-field__input form-field__input--checkbox">
                                                            <span class="form-field__fakecheckbox focus-enabled">
                                                                @Translate.Text("EPPCO")
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-field__checkbox  last">
                                                        <label>
                                                            <input type="checkbox" aria-describedby="description-for-st3hrd0qx" value="10" name="j100_checkbox_1_10" id="form-field-checkbox_cdm" aria-label="form-field-checkbox_cdm" class="form-field__input form-field__input--checkbox">
                                                            <span class="form-field__fakecheckbox focus-enabled">
                                                                @Translate.Text("ENBD CDM")
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-field__messages" id="description-for-n9nlc4e5s">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="form-field__button">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <!--m32-map-start-->
                <div class="m32-map" data-component="m32-map">
                    <div id="map"></div>

                    <div class="m32-map__overlay">
                        <div class="m32-map__button--close"></div>
                        <div class="m32-map__overlay-title">
                            <div class="m32-map__overlay-title--image"><img src="" alt="preview" /></div>
                            <div class="m32-map__overlay-title--head">
                                <div class="m32-map__overlay-title--text"></div>
                                <div class="m32-map__overlay-subtitle--text"></div>
                                <div class="m32-map__larger-map"><a target="_blank" href="#">@Translate.Text("View larger map")@*<span class="ExternalLink">opens a new window</span>*@</a></div>
                            </div>
                        </div>
                        <div class="m32-map__overlay-address"></div>
                        <div class="m32-map__rating"></div>
                        <div class="m32-map__rating-stars">
                            <div class="m32-map__rating-stars--foreground"></div>
                        </div>
                        <div class="m32-map__rating-reviews"></div>

                    </div>

                </div>
                <!--m32-map-end-->
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
		var checkbox = @Html.Sitecore().CurrentRendering.Parameters["checkbox"];
		window.check = checkbox;
</script>

