@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Feature.CommonComponents.Helpers
@using Glass.Mapper.Sc.Web.Mvc
@{
    var MapList = MapHelper.GetMapList();
}
@if (MapList != null && MapList.Count > 0)
{
    <div class="j100-services-map" data-journey="j100-services-map" data-labels='{"loc":"<img class=m32-map--overlay-img src=/images/dewa-pin-overlay_darkgreen.png>","tel":"@Translate.Text("Phone"): ","hours":"<img class=m32-map--overlay-img src=/images/map_timings.png>","makani":"<img class=m32-map--overlay-img src=/images/makani_logo.png>","apwd":"@Translate.Text("Map.POD Support Center")","pwd":"<img class=m32-map--overlay-img src=/images/pwd_logo.png>","map":"@Translate.Text("View larger map")","nav":"@Translate.Text("Directions")", "serviceCentres":"@Translate.Text("Customer Service Centres")", "waterSupplyPoints":"@Translate.Text("Water Supply Points")", "paymentPoints":"@Translate.Text("Payments Channels")", "fastchargingPoints":"@Translate.Text("Fast EV Green Charging Stations")", "normalchargingPoints":"@Translate.Text("Normal EV Green Charging Stations")", "postOffices":"@Translate.Text("Emirates Post Office")", "ATM":"@Translate.Text("Etisalat ATM")", "ENOC":"@Translate.Text("ENOC")", "EPPCO":"@Translate.Text("EPPCO")", "cdmpoints":"@Translate.Text("ENBDCDM")"}'>
        @Html.AntiForgeryToken()
        <div class="">
            <div class="j100-services-map__filters--mobile">
                <div class="grid__row--tight">
                    <div class="grid__column grid__column--12 grid__column--form">
                        <div data-component="m37-expander" class="m37-expander">
                            <button class="m37-expander__trigger m37-expander__trigger--themed m37-expander__trigger--open" data-toggle="true" id="_rzlb5can3_trigger" aria-controls="_rzlb5can3_content">@Translate.Text("Location")</button>
                            <div aria-expanded="false" role="region" class="m37-expander__content m37-expander__content--open" data-content="true" id="_rzlb5can3_content" aria-labelledby="_rzlb5can3_trigger">
                                <form action="#" data-form="true" class="form" method="get" novalidate="">
                                    <fieldset class="fieldset ">
                                        <legend class="legend-color">.</legend>
                                        <div class="form-field form-field--text ">
                                            <label class="form-field__label" for="form-field-b6j783gxu">
                                                @Translate.Text("Search for locations of DEWA Customer Service Centres and service options")
                                                <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                                            </label>
                                            <span class="form-field__input-wrapper">
                                                <input type="text" data-parsley-errors-container="#description-for-b6j783gxu"
                                                       data-parsley-error-message="@Translate.Text("Valid Address")"
                                                       aria-describedby="description-for-b6j783gxu"
                                                       data-parsley-excluded=""
                                                       placeholder="@Translate.Text("Input address")"
                                                       name="map_search_mobile"
                                                       id="form-field-b6j783gxu"
                                                       class="form-field__input form-field__input--text"
                                                       data-parsley-trigger="focusout" autocomplete="off">
                                            </span>
                                            <div class="form-field__messages" id="description-for-b6j783gxu">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-field__button">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div data-component="m37-expander" class="m37-expander">
                            <button class="m37-expander__trigger m37-expander__trigger--themed m37-expander__trigger--open" data-toggle="true" id="_ilfor7ogq_trigger" aria-controls="_ilfor7ogq_content">@Translate.Text("Filters")</button>
                            <div aria-expanded="false" role="region" class="m37-expander__content m37-expander__content--open" data-content="true" id="_ilfor7ogq_content" aria-labelledby="_ilfor7ogq_trigger">
                                <form action="#" data-form="true" class="form" method="get" novalidate="">
                                    <fieldset class="fieldset ">
                                        <legend class="legend-color">.</legend>
                                        <div class="form-field form-field--toggles">
                                            @{
                                                var mobilecount = 1;
                                            }
                                            @foreach (SelectListItem lstItem in MapList)
                                            {
                                                <div class="form-field__checkbox ">
                                                    <label>
                                                        <input type="checkbox" value="@(lstItem.Value)" name="j100_checkbox_mobile@(mobilecount)" id="form-field-checkbox_mobile@(mobilecount)" class="form-field__input form-field__input--checkbox">
                                                        <span class="form-field__fakecheckbox focus-enabled">
                                                            @Html.Raw(!string.IsNullOrEmpty(lstItem.Text) ? lstItem.Text.Trim() : "")
                                                        </span>
                                                    </label>
                                                </div>
                                                mobilecount++;
                                            }
                                        </div>
                                    </fieldset>
                                    <div class="form-field__button">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__row--tight mb0">
                <div class="j100-services-map__filters--desktop grid__column grid__column--12">
                    <div class="grid__row--tight">
                        <div class="grid__column grid__column--4">
                            <div class="j100-expander">
                                <div class="j100-expander_label">
                                    @Translate.Text("Filter")
                                </div>
                                <div class="j100-expander_input open">
                                    <svg class="j100-expander_icon" width="22px" height="17px" viewBox="0 0 22 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="j100-expander_icon" transform="translate(-148.000000, -307.000000)" fill="#535353">
                                                <g id="Group" transform="translate(135.000000, 291.000000)">
                                                    <g id="Group-8" transform="translate(12.999965, 16.000150)">
                                                        <path d="M13.0868347,13.13015 C13.8818347,13.13415 14.3998347,13.65415 14.4038347,14.45215 C14.4058347,14.82715 14.4098347,15.20315 14.4028347,15.57915 C14.3918347,16.29115 13.8588347,16.83215 13.1458347,16.83615 C11.7138347,16.84415 10.2818347,16.84315 8.84983465,16.83615 C8.12683465,16.83315 7.59683465,16.29015 7.58683465,15.56415 C7.58083465,15.17415 7.58083465,14.78315 7.58683465,14.39415 C7.59783465,13.66415 8.12283465,13.14415 8.85483465,13.13015 L11.0028347,13.13015 C11.6968347,13.13015 12.3928347,13.12715 13.0868347,13.13015 Z M16.8015347,6.56365 C17.5135347,6.56365 18.0355347,6.92865 18.1635347,7.53965 C18.2045347,7.73765 18.1925347,7.94865 18.1955347,8.15365 C18.1994168,8.45865 18.2025347,8.76265 18.1935347,9.06765 C18.1755347,9.67465 17.7185347,10.17665 17.1195347,10.25465 C16.9995347,10.26865 16.8785347,10.27465 16.7585347,10.27465 L13.8660347,10.275525 L13.8660347,10.275525 L10.9735347,10.27565 C9.03753465,10.27565 7.10253465,10.27665 5.16753465,10.27465 C4.47253465,10.27465 3.95253465,9.90265 3.82653465,9.29865 C3.78553465,9.10765 3.79753465,8.90465 3.79453465,8.70665 C3.79053465,8.40165 3.78853465,8.09665 3.79553465,7.79265 C3.81053465,7.16165 4.26753465,6.65865 4.89153465,6.58265 C4.99053465,6.56965 5.08953465,6.56365 5.18853465,6.56365 C9.05953465,6.56265 12.9305347,6.56265 16.8015347,6.56365 Z M20.6589347,0.00025 C21.4519347,0.00025 21.9769347,0.52325 21.9879347,1.31725 C21.9888235,1.38825 21.9879347,1.45925 21.9879347,1.52925 C21.9879347,1.81325 21.9899347,2.09725 21.9879347,2.38125 C21.9799347,3.19325 21.4659347,3.70725 20.6539347,3.70825 L17.9423097,3.7095 L17.9423097,3.7095 L10.9979347,3.70925 C7.77193465,3.70925 4.54593465,3.71025 1.31993465,3.70825 C0.531934653,3.70725 0.0159346531,3.19325 0.00193465314,2.40725 C0,2.25925 0.000934653142,2.10925 0.00193465314,1.96125 C0.00293465314,1.70625 -0.00606534686,1.45025 0.00793465314,1.19525 C0.0439346531,0.53225 0.554934653,0.03325 1.21893465,0.00125 L1.27193465,-3.44169138e-13 L1.27193465,-3.44169138e-13 L20.6589347,0.00025 L20.6589347,0.00025 Z" id="Combined-Shape"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    @Translate.Text("Filter your Search")
                                </div>
                            </div>
                        </div>
                        <div class="grid__column grid__column--8">
                            <form action="#" data-form="true" class="form" method="get" novalidate="">
                                <fieldset class="fieldset ">
                                    <legend class="legend-color">.</legend>
                                    <div class="form-field form-field--text ">
                                        <label class="form-field__label" for="form-field-mrzbmulpx">
                                            @Translate.Text("Search for locations of DEWA Customer Service Centres and service options")
                                            <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                                        </label>
                                        <span class="form-field__input-wrapper">
                                            <input type="text"
                                                   data-parsley-errors-container="#description-for-mrzbmulpx"
                                                   data-parsley-error-message="@Translate.Text("Valid Address")"
                                                   aria-describedby="description-for-mrzbmulpx"
                                                   data-parsley-excluded=""
                                                   placeholder="@Translate.Text("Input address")"
                                                   name="map_search_desktop"
                                                   id="form-field-mrzbmulpx"
                                                   class="form-field__input form-field__input--text pac-target-input"
                                                   data-parsley-trigger="focusout" data-parsley-id="10" autocomplete="off" aria-invalid="true">
                                        </span>
                                        <div class="form-field__messages" id="description-for-mrzbmulpx">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-field__button">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="grid__row--tight j100-filters_desktop" style="">
                        @{
                            var count = 0;
                            var totalCount = 0;
                            foreach (SelectListItem listItem in MapList)
                            {
                                count++;
                                totalCount++;
                                if (count == 1)
                                {
                                    @:<div class="grid__column grid__column--filter">
                                        @:<fieldset class="fieldset ">
                                            @:<legend class="legend-color">.</legend>
                                            @:<div class="form-field form-field--toggles">
                                            }

                                            @RenderM32Map(listItem, "desktop", totalCount)

                                            if (count == 2 || totalCount == MapList.Count)
                                            {
                                                count = 0;
                                            @:</div>
                                        @:</fieldset>
                                    @:</div>
                                }

                            }
                        }
                    </div>
                </div>
            </div>

            <div class="grid__row--tight">
                <div class="grid__column grid__column--12">
                    <!--m32-map-start-->
                    <div class="m32-map" data-component="m32-map">
                        <div id="map">
                        </div>
                        <div class="m32-map__overlay">
                            <div class="m32-map__button--close"></div>
                            <div class="m32-map__overlay-title">
                                <div class="m32-map__overlay-title--image"><img src="" alt="preview" /></div>
                                <div class="m32-map__overlay-title--head">
                                    <div class="m32-map__overlay-title--text"></div>
                                    <div class="m32-map__overlay-subtitle--text"></div>
                                    <div class="m32-map__larger-map"><a target="_blank" href="#">@Translate.Text("View larger map")@*<span class="ExternalLink">opens a new window</span>*@</a></div>
                                </div>
                            </div>
                            <div class="m32-map__overlay-address"></div>
                            <div class="m32-map__rating"></div>
                            <div class="m32-map__rating-stars">
                                <div class="m32-map__rating-stars--foreground"></div>
                            </div>
                            <div class="m32-map__rating-reviews"></div>

                        </div>
                        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_Loader.cshtml")
                    </div>
                    <!--m32-map-end-->
                    <div class="j100-services-map_legend">
                        <div class="j100-services-map_legend-item available">@Translate.Text("M32.Available")</div>
                        <div class="j100-services-map_legend-item busy">@Translate.Text("M32.Busy")</div>
                        <div class="j100-services-map_legend-item maintenance">@Translate.Text("M32.Under Maintenance")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @helper RenderM32Map(SelectListItem listItem, string mobileordesktop, int count)
    {
        <div class="form-field__checkbox ">
            <label>
                <input type="checkbox" value="@(listItem.Value)" name="j100_checkbox_@(mobileordesktop)@(count)" id="form-field-checkbox_@(mobileordesktop)@(count)" class="form-field__input form-field__input--checkbox">
                <span class="form-field__fakecheckbox focus-enabled">
                    @Html.Raw(!string.IsNullOrEmpty(listItem.Text) ? listItem.Text.Trim() : "")
                </span>
            </label>
        </div>
    }
    <script type="text/javascript">
	var checkbox = @Html.Sitecore().CurrentRendering.Parameters["checkbox"];
        window.check = checkbox;

        docReady(function () {
            //window.onload = function () {
            //    setTimeout(function () {
            //        jQuery(window).trigger('evLoad');
            //    }, 100);
            //};
            //jQuery(window).on('mapLoaded', function () {
            //    });
        });
    </script>
}
