@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@using Sitecore.Globalization
@using Sitecore.Mvc
@model DEWAXP.Feature.Dashboard.Models.Graph.GraphRenderingModel

<div class="j105-drrg">
    <div class="m66-preloader j105-drrg--loader hidden">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    <h2 class="text__section-subtitle">@Translate.Text("J100.Pleasewait")</h2>
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid graph">
    <div class="grid__row mb32">
        <div class="grid__column grid__column--12">
            @Html.AntiForgeryToken()
            <div class="m29v3-chart e-chart1" data-component="m29v3-chart" data-x-axis-categories="" data-y-axis-title-text="Electricity Per KWH" data-series='[]' data-tooltip-value-suffix="@Translate.Text("m29 KWH")" data-usagefor="Usage Per Month" data-step="1" data-step-s="2" id="dvElectricity" data-type="E" data-default-tab="2" data-x-axis-text="@Translate.Text("m29 month")" data-x-axis-monthtext="@Translate.Text("m29 month")" data-x-axis-daytext="@Translate.Text("m29 day")" data-y-axis-text="@Translate.Text("m29 KWH")">

                <div class="m29v3-chart--wrapper">
                    <input class="hidden m29v3-chart--downloadhtml" type="hidden" name="">

                    <div class="m29v3-chart--header">
                        <div class="m29v3-chart--title electricity">@Translate.Text("m29 Electricity Consumption")</div>
                        <ul class="m29v3-chart--tablist  m29v3-chart--tablist--nonev">
                            <li class="m29v3-chart--listitem consumptionmonthlytab active m29v3-chart__container--nolegend" data-selected-series="0" style="display:@(Model.IsSmartWaterMeter ? "table-cell" : "none")" data-index="2"  data-notfound-message="@Translate.Text("m29 No data available")">@Translate.Text("m29 Monthly")</li>
                            <li class="m29v3-chart--listitem month_tab" data-selected-series="0" style="display:@(Model.IsSmartElectricityMeter ? "table-cell" : "none")" data-index="1" data-notfound-message="@Translate.Text("m29 No data available")" data-outage-message="@((string)ViewBag.OutageMessage)">@Translate.Text("m29 Daily")</li>
                            @*<li class="m29v3-chart--listitem day_tab" style="display:@(Model.IsSmartElectricityMeter ? "table-cell" : "none")" data-index="0">@Translate.Text("m29 Hourly")</li>*@
                        </ul>

                        <div class="m29v3-chart--type">
                            <div class="m29v3-chart--typeitem m29v3-chart--typeitemactive icon-column" data-type="column">
                            </div>
                            <div class="m29v3-chart--typeitem  icon-line" data-type="line">
                            </div>
                        </div>
                    </div>



                    <div class="m29v3-chart--controls" data-index="0">
                        <form method="get" id="graphform" action="#" class="form" data-form="true" novalidate="">
                            @Html.AntiForgeryToken()
                            <div id="datepicker-container-1" class="form-field form-field--text">
                                @Html.AntiForgeryToken()
                                <div class="icon-pagination_active form-field__label-icon">
                                </div>
                                <label class="form-field__label form-field__label-month" for="dp_day_e1">
                                    @Translate.Text("m29 Select day")
                                </label>
                                <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                                    <input class="form-field__input form-field__input--text form-field__input--datepicker" id="dp_day_e1" name="dp_day_e1" type="text" placeholder="@Translate.Text("m29 Please select a day")" aria-describedby="description-for-1" data-parsley-errors-container="#description-for-1" data-month="" data-year="" data-el="datepicker-past" value="" data-picker-options='{"min": [2015,9,1]}' />
                                </span>
                                <div id="description-for-1" class="form-field__messages">
                                </div>
                            </div>

                            <div id="datepicker-container-1" class="form-field form-field--text">
                                <div class="icon-pagination_active form-field__label-icon">
                                </div>
                                <label class="form-field__label form-field__label-month" for="dp_day_e2">
                                    @Translate.Text("m29 Select another day")
                                </label>
                                <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                                    <input class="form-field__input form-field__input--text form-field__input--datepicker" id="dp_day_e2" name="dp_day_e2" type="text" placeholder="@Translate.Text("m29 Please select a day")" aria-describedby="description-for-1b" data-parsley-errors-container="#description-for-1b" data-el="datepicker-past" data-picker-options='{}' />
                                </span>
                                <div id="description-for-1b" class="form-field__messages">
                                </div>
                            </div>
                        </form>
                        <button class="button button--senary button--very_small icon-download m29v3-chart--download ">@Translate.Text("m29 download")</button>
                    </div>


                    <div class="m29v3-chart--controls" data-index="1">
                        <form method="get" action="#" class="form" data-form="true" novalidate="">
                            <div class="form-field form-field--text  ">
                                <div class="icon-pagination_active form-field__label-icon">
                                </div>
                                <label class="form-field__label form-field__label-month" for="dp_month_e1">
                                    @Translate.Text("m29 Select month")
                                </label>
                                <span class="form-field__input-wrapper form-field__input-wrapper--monthpicker">
                                    <input class="form-field__input form-field__input--text form-field__input--monthpicker" readonly required id="dp_month_e1" name="dp_month_e1" type="text" placeholder="@Translate.Text("m29 Please select a month")" aria-describedby="description-for-From1" data-parsley-errors-container="#description-for-From1" data-parsley-error-message="@Translate.Text("m29 Please select a month")" />
                                </span>
                                <div id="description-for-From1" class="form-field__messages">
                                </div>
                            </div>

                            <div class="form-field form-field--text  ">
                                <div class="icon-pagination_active form-field__label-icon">
                                </div>
                                <label class="form-field__label form-field__label-month" custom-index="1" for="dp_month_e2">
                                    @Translate.Text("m29 Select another month")
                                </label>
                                <span class="form-field__input-wrapper form-field__input-wrapper--monthpicker">
                                    <input class="form-field__input form-field__input--text form-field__input--monthpicker" readonly required id="dp_month_e2" name="dp_month_e2" type="text" placeholder="@Translate.Text("m29 Please select a month")" aria-describedby="description-for-second1" data-parsley-errors-container="#description-for-second1" data-parsley-error-message="@Translate.Text("m29 Please select a month")" />
                                </span>
                                <div id="description-for-second1" class="form-field__messages">
                                </div>
                            </div>
                        </form>
                        <button class="button button--senary button--very_small icon-download m29v3-chart--download ">@Translate.Text("m29 download")</button>
                    </div>

                    <div class="m29v3-chart--controls active" data-index="2">
                        <div class="form-field mt24">
                            <div class="form-field__label m29v3-chart--yearlabel">
                                @Translate.Text("m29 Select Year")
                            </div>
                            @*<div class="m29v3-chart--year m29v3-chart--year_active" style="background: #0079C1; border-color: #0079C1" data-color="#0079C1">
                                    @DateTime.Now.Year.ToString()
                                </div>
                                <div class="m29v3-chart--year" data-color="#AC631C">
                                    @DateTime.Now.AddYears(-1).Year.ToString()
                                </div>
                                <div class="m29v3-chart--year" data-color="#A58C1A">
                                    @DateTime.Now.AddYears(-2).Year.ToString()
                                </div>
                                <div class="m29v3-chart--year" data-color="#007560">
                                    @DateTime.Now.AddYears(-3).Year.ToString()
                                </div>
                                <div class="m29v3-chart--year" data-color="#007923">
                                    @DateTime.Now.AddYears(-4).Year.ToString()
                                </div>*@
                        </div>
                        <div class="m29v3-chart--year_alert icon-new-announcement">
                            @Translate.Text("You can select up to 3 years for comparison")
                        </div>
                        <button class="button button--senary button--very_small icon-download m29v3-chart--download ">@Translate.Text("m29 download")</button>
                    </div>
                    <div class="m29v3-chart__label" data-notfound-message="@Translate.Text("m29 No data available")" data-label="@Translate.Text("m29 Electricity KWH")"></div>
                    <div class="m29v3-chart__container  m29v3-chart__container--nolegend" data-chart-container="true" dir="ltr">
                    </div>
                    <div class="m29v3-chart--controls" data-index="1">
                        <div class="text_copy" style="font-size: 13px;color: #8f908f;">@Translate.Text("m29 Disclaimer")</div>
                    </div>
                    <div class="m29v3-chart__nodata-container">
                        <div class="m29v3-chart__nodata">
                            @Html.Raw(Translate.Text("m29 No data available"))
                        </div>
                    </div>

                    @*<button class="button button--senary button--small icon-bell">
                            @Translate.Text("m29 Set up smart alerts")
                        </button>*@
                </div>


            </div>
        </div>
    </div>
    <div class="grid__row mb32">
        <div class="grid__column grid__column--12">

            <div class="m29v3-chart e-chart2" data-component="m29v3-chart" data-x-axis-categories="" data-y-axis-title-text="Water Per BI" data-series='' data-tooltip-value-suffix="@Translate.Text("m29 Gallon")" data-usagefor="Usage Per Month" data-step="1" data-step-s="2" id="dvWater" data-type="W" data-default-tab="5" data-x-axis-text="@Translate.Text("m29 month")" data-x-axis-monthtext="@Translate.Text("m29 month")" data-x-axis-daytext="@Translate.Text("m29 day")" data-y-axis-text="@Translate.Text("m29 IG")">
                <div class="m29v3-chart--wrapper">
                    <input class="hidden m29v3-chart--downloadhtml" type="hidden" name="">

                    <div class="m29v3-chart--header water">
                        <div class="m29v3-chart--title electricity">@Translate.Text("m29 Water Consumption")</div>
                        <ul class="m29v3-chart--tablist  m29v3-chart--tablist--nonev">
                            <li class="m29v3-chart--listitem consumptionmonthlytab active  m29v3-chart__container--nolegend" data-selected-series="0" style="display:@(Model.IsSmartWaterMeter ? "table-cell" : "none")" data-index="5"  data-notfound-message="@Translate.Text("m29 No data available")">@Translate.Text("m29 Monthly")</li>
                            <li class="m29v3-chart--listitem month_tab" data-selected-series="0" style="display:@(Model.IsSmartWaterMeter ? "table-cell" : "none")" data-index="4" data-notfound-message="@Translate.Text("m29 No data available")" data-outage-message="@((string)ViewBag.OutageMessage)">@Translate.Text("m29 Daily")</li>
                            @*<li class="m29v3-chart--listitem day_tab" style="display:@(Model.IsSmartWaterMeter ? "table-cell" : "none")" data-index="3">@Translate.Text("m29 Hourly")</li>*@
                        </ul>

                        <div class="m29v3-chart--type">
                            <div class="m29v3-chart--typeitem m29v3-chart--typeitemactive icon-column" data-type="column">
                            </div>
                            <div class="m29v3-chart--typeitem  icon-line" data-type="line">
                            </div>
                        </div>
                    </div>

                    <div class="m29v3-chart--controls" data-index="3">
                        <form method="get" action="#" class="form" data-form="true" novalidate="">
                            <div id="datepicker-container-2" class="form-field form-field--text">
                                @Html.AntiForgeryToken()
                                <div class="icon-pagination_active form-field__label-icon">
                                </div>
                                <label class="form-field__label form-field__label-month">
                                    @Translate.Text("m29 First Period")
                                </label>
                                <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                                    <input class="form-field__input form-field__input--text form-field__input--datepicker" id="dp_day_w1" name="dp_day_w1" type="text" placeholder="@Translate.Text("m29 Please select a day")" aria-describedby="description-for-2" data-parsley-errors-container="#description-for-2" data-month="" data-year="" data-el="datepicker-past" value="" data-picker-options='{}' />
                                </span>
                                <div id="description-for-2" class="form-field__messages">
                                </div>
                            </div>

                            <div id="datepicker-container-2a" class="form-field form-field--text">
                                <div class="icon-pagination_active form-field__label-icon">
                                </div>
                                <label class="form-field__label form-field__label-month">
                                    @Translate.Text("m29 Second Period")
                                </label>
                                <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                                    <input class="form-field__input form-field__input--text form-field__input--datepicker" id="dp_day_w2" name="dp_day_w2" type="text" placeholder="@Translate.Text("m29 Please select a day")" aria-describedby="description-for-2a" data-parsley-errors-container="#description-for-2a" data-el="datepicker-past" data-picker-options='{}' />
                                </span>
                                <div id="description-for-2a" class="form-field__messages">
                                </div>
                            </div>
                        </form>
                        <button class="button button--senary button--very_small icon-download m29v3-chart--download ">@Translate.Text("m29 download")</button>
                    </div>

                    <div class="m29v3-chart--controls" data-index="4">
                        <form method="get" action="#" class="form" data-form="true" novalidate="">
                            <div class="form-field form-field--text  ">
                                <div class="icon-pagination_active form-field__label-icon">
                                </div>
                                <label class="form-field__label form-field__label-month">
                                    @Translate.Text("m29 First Period")
                                </label>
                                <span class="form-field__input-wrapper form-field__input-wrapper--monthpicker">
                                    <input class="form-field__input form-field__input--text form-field__input--monthpicker" readonly required id="dp_month_w1" name="dp_month_w1" type="text" placeholder="@Translate.Text("m29 Please select a month")" aria-describedby="description-for-From2" data-parsley-errors-container="#description-for-From2" data-parsley-error-message="@Translate.Text("m29 Please select a month")" />
                                </span>
                                <div id="description-for-From2" class="form-field__messages">
                                </div>
                            </div>

                            <div class="form-field form-field--text  ">
                                <div class="icon-pagination_active form-field__label-icon">
                                </div>
                                <label class="form-field__label form-field__label-month" custom-index="1">
                                    @Translate.Text("m29 Second Period")
                                </label>
                                <span class="form-field__input-wrapper form-field__input-wrapper--monthpicker">
                                    <input class="form-field__input form-field__input--text form-field__input--monthpicker" readonly required id="dp_month_w2" name="dp_month_w12" type="text" placeholder="@Translate.Text("m29 Please select a month")" aria-describedby="description-for-second2" data-parsley-errors-container="#description-for-second2" data-parsley-error-message="@Translate.Text("m29 Please select a month")" />
                                </span>
                                <div id="description-for-second2" class="form-field__messages">
                                </div>
                            </div>
                        </form>
                        <button class="button button--senary button--very_small icon-download m29v3-chart--download ">@Translate.Text("m29 download")</button>
                    </div>

                    <div class="m29v3-chart--controls active" data-index="5">
                        <div class="form-field mt24">
                            <div class="form-field__label m29v3-chart--yearlabel">
                                @Translate.Text("m29 Select Year")
                            </div>
                            @*<div class="m29v3-chart--year m29v3-chart--year_active" style="background: #0079C1; border-color: #0079C1" data-color="#0079C1">
                                    @DateTime.Now.Year.ToString()
                                </div>
                                <div class="m29v3-chart--year" data-color="#AC631C">
                                    @DateTime.Now.AddYears(-1).Year.ToString()
                                </div>
                                <div class="m29v3-chart--year" data-color="#A58C1A">
                                    @DateTime.Now.AddYears(-2).Year.ToString()
                                </div>
                                <div class="m29v3-chart--year" data-color="#007560">
                                    @DateTime.Now.AddYears(-3).Year.ToString()
                                </div>
                                <div class="m29v3-chart--year" data-color="#007923">
                                    @DateTime.Now.AddYears(-4).Year.ToString()
                                </div>*@
                        </div>
                        <div class="m29v3-chart--year_alert icon-new-announcement">
                            @Translate.Text("You can select up to 3 years for comparison")
                        </div>
                        <button class="button button--senary button--very_small icon-download m29v3-chart--download ">@Translate.Text("m29 download")</button>
                    </div>

                    <div class="m29v3-chart__label" data-notfound-message="@Translate.Text("m29 No data available")" data-label="@Translate.Text("m29 Water BI")"></div>
                    <div class="m29v3-chart__container m29v3-chart__container--nolegend" data-chart-container="true" dir="ltr">
                    </div>
                    <div class="m29v3-chart--controls" data-index="4">
                        <div class="text_copy" style="font-size: 13px;color: #8f908f;">@Translate.Text("m29 Disclaimer")</div>
                    </div>
                    <div class="m29v3-chart__nodata-container">
                        <div class="m29v3-chart__nodata">
                            @Html.Raw(Translate.Text("m29 No data available"))
                        </div>
                    </div>
                    @*<button class="button button--senary button--small icon-bell">
                            @Translate.Text("m29 Set up smart alerts")
                        </button>*@

                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .form-field__input-wrapper--validated:after {
        content: " ";
    }
</style>

<script type="text/javascript">
    var y_axis_label_el = ".m29v3-chart__label";
    var container_el = ".m29v3-chart__container";
    var nodata_el = "m29v3-chart-nodata";
    var tab_list_el = ".m29v3-chart--tablist--nonev li";

    var dvElectricity = "#dvElectricity";
    var dvWater = "#dvWater";

    var color1 = "#007560"; var color2 = "#ac631c"; var color3 = "#a58c1a"; var color4 = "#7a1565"; var color5 = "#0a85ab";

    var color1_W = "#007ac7"; var color2_W = "#ac631c"; var color3_W = "#a58c1a"; var color4_W = "#7a1565"; var color5_W = "#2cab83";

    var e_day_x_axis = '1:00,2:00,3:00,4:00,5:00,6:00,7:00,8:00,9:00,10:00,11:00,12:00,13:00,14:00,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00,00:00';
    var e_day_obj_default = [{ data: [], "name": "Today", "color": color1.toString() }, { data: [], name: '', color: color2.toString() }];
    var e_day_obj = JSON.parse(JSON.stringify(e_day_obj_default));

    var e_month_obj_default = [{ data: [], name: '', color: color1.toString() }, { data: [], name: '', color: color2.toString() }];
    var e_month_obj = JSON.parse(JSON.stringify(e_month_obj_default));

    var w_day_x_axis = e_day_x_axis.toString();
    var w_day_obj_default = [{ data: [], name: 'Today', color: color1_W.toString() }, { data: [], name: '', color: color2_W.toString() }];
    var w_day_obj = JSON.parse(JSON.stringify(w_day_obj_default));

    var w_month_obj_default = [{ data: [], name: '', color: color1_W.toString() }, { data: [], name: '', color: color2_W.toString() }];
    var w_month_obj = JSON.parse(JSON.stringify(w_month_obj_default));


    var e_year_obj_default = [{ data: [], name: 'Year', color: color1.toString() }, { data: [], name: '', color: color2.toString() }, { data: [], name: '', color: color3.toString() }, { data: [], name: '', color: color4.toString() }, { data: [], name: '', color: color5.toString() }]
    var e_year_obj = JSON.parse(JSON.stringify(e_year_obj_default));

    var w_year_obj_default = [{ data: [], name: 'Year', color: color1_W.toString() }, { data: [], name: '', color: color2_W.toString() }, { data: [], name: '', color: color3_W.toString() }, { data: [], name: '', color: color4_W.toString() }, { data: [], name: '', color: color5_W.toString() }]
    var w_year_obj = JSON.parse(JSON.stringify(w_year_obj_default));

    //var echart = ".e-chart1";
    var dpDay1_e = 'dp_day_e1';
    var dpDay2_e = 'dp_day_e2';
    var dpMonth1_e = 'dp_month_e1';
    var dpMonth2_e = 'dp_month_e2';

    var dpDay1_w = 'dp_day_w1';
    var dpDay2_w = 'dp_day_w2';
    var dpMonth1_w = 'dp_month_w1';
    var dpMonth2_w = 'dp_month_w2';

    var dpYear_id = '#dpYear';
    var api_url = '/api/sitecore/graph/getreadings';
    var smartmeter_api_url = '/api/sitecore/Graph/GetSmartMeterDetails';

    var dpDay_old_value = '';
    var dpMonth1_old_value = '';
    var dpMonth2_old_value = '';
    var globalaccountnumber = '';
    var consumptiongraphresponse = null;
    var tab_change = true;
    var e_dailyDataLoaded = false, e_monthlyDataLoaded = false, e_yearlyDataLoaded = false; w_dailyDataLoaded = false, w_monthlyDataLoaded = false, w_yearlyDataLoaded = false,outage=@(ViewBag.Outage?"true":"false");

    docReady(function () {
        jQuery(".m29v3-chart--tablist--nonev li").on("click", HandleTabChange);
        jQuery('div.graph').find('input[class~="form-field__input--text"]').on("change", HandleDateChange);
    });

</script>
@Scripts.Render("~/bundles/amigraph")
@*<script src="/scripts/moment/moment.min.js" type="text/javascript"></script>*@