@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel

<!--main/masthead-->
@Html.Sitecore().Placeholder("main/masthead")
<!--main/masthead-->

<div id="rs_area">
    <div class="rs_preserve">
        <!--main/header-->
        @Html.Sitecore().Placeholder("main/header")
        <!--main/header-->
        <div class="grid">
            @Html.Sitecore().Placeholder("main/page-title")

            <div class="grid j134-media" data-journey="j134-media">
                @using (Html.BeginForm("ListingV1", "Renderings", FormMethod.Post, new { @id = "listing-form" }))
                {
                    <input type="hidden" name="itemId" value="@Model.Item.ID.Guid" />
                    @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Gallery/M35 Filter.cshtml")
                    <div id="listing-children" class="parent-container"></div>

                }
            </div>
        </div>

        <div class="box box--1">
            <div class="grid">
                @Html.Sitecore().Placeholder("main/grey-box-content")
            </div>
        </div>
        <!--main/bottom-section-->
        @Html.Sitecore().Placeholder("main/bottom-section")
        <!--main/bottom-section-->
    </div>
</div>
@Html.Sitecore().Placeholder("main/rammas")
@*<div class="box box--2">
        <div class="grid">
            @Html.Sitecore().Placeholder("main/quote")
        </div>
    </div>*@

<!--main/footer-->
@Html.Sitecore().Placeholder("main/footer")
<!--main/footer-->
<script src="@Url.Content("~/Scripts/External/nml/listing.js?v=9")"></script>
@*<script src="~/Scripts/nml/article-listing.js"></script>*@