@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

@Html.Sitecore().Placeholder("main/masthead")

<div id="rs_area">
    <div id="rs_preserve">
        <div class="j1.0-corporate-partnership" data-journey="j1.0-corporate-partnership">
            @Html.Sitecore().Placeholder("j87/m41-tab-box")
            @Html.Sitecore().Placeholder("main/content")
        </div>
    </div>
</div>
@Html.Sitecore().Placeholder("main/rammas")
<div class="box box--2">
    <div class="grid">
        @Html.Sitecore().Placeholder("main/quote")
    </div>
</div>

@Html.Sitecore().Placeholder("main/footer")
