@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<!--main/masthead-->
@Html.Sitecore().Placeholder("main/masthead")
<!--main/masthead-->

<div id="rs_area">
    <div class="rs_preserve">
        <!--main/header-->
        @Html.Sitecore().Placeholder("main/header")
        <!--main/header-->s
        <div class="grid">
            @Html.Sitecore().Placeholder("main/page-title")

            @using (Html.BeginForm("Downloads", "Renderings", FormMethod.Get, new { @id = "listing-form" }))
            {
                <div class="grid__row">
                    <div class="grid__column grid__column--12 grid__column--content">
                        @Html.Action("Downloads", "Renderings", new { itemId = Model.Item.ID.Guid })
                    </div>
                </div>}
        </div>

        <div class="box box--1">
            <div class="grid">
                @Html.Sitecore().Placeholder("main/grey-box-content")
            </div>
        </div>
        <!--main/bottom-section-->
        @Html.Sitecore().Placeholder("main/bottom-section")
        <!--main/bottom-section-->
    </div>
</div>
@Html.Sitecore().Placeholder("main/rammas")
@*<div class="box box--2">
        <div class="grid">
            @Html.Sitecore().Placeholder("main/quote")
        </div>
    </div>*@

<!--main/footer-->
@Html.Sitecore().Placeholder("main/footer")
<!--main/footer-->

<script src="~/Scripts/External/nml/listing.js"></script>
