@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<!--main/masthead-->
@Html.Sitecore().Placeholder("main/masthead")
<!--main/masthead-->
<div id="rs_area" class="grid">
    <div class="rs_preserve">
        <!--main/header-->
        @Html.Sitecore().Placeholder("main/header")
        <!--main/header-->
        <!--main/content-->
        @Html.Sitecore().Placeholder("main/content")
        <!--main/content-->
        <!--main/bottom-section-->
        @Html.Sitecore().Placeholder("main/bottom-section")
        <!--main/bottom-section-->
    </div>
</div>

@Html.Sitecore().Placeholder("main/tabs")
<!--main/footer-->
@Html.Sitecore().Placeholder("main/footer")
<!--main/footer-->
