@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

@{
    var lang = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "ar" : "en";
}
<div id="mainArea">
    <div id="wr">
        <div id="rs_area">
            <div class="rs_preserve">
                @Html.Sitecore().Placeholder("main/masthead")
                @Html.Sitecore().Placeholder("main/hero")
                <div class="grid j157-investor-relations" data-journey="j157-investor-relations">
                    @Html.Sitecore().Placeholder("main/modalcountries")
                    @Html.Sitecore().Placeholder("main/content1")
                    <div class="grid__row">
                        <div class="grid__column grid__column--3">
                            @Html.Sitecore().Placeholder("main/content2")
                        </div>
                        <div class="grid__column grid__column--9">
                            @Html.Sitecore().Placeholder("main/content3")
                        </div>
                    </div>
                    @Html.Sitecore().Placeholder("main/content4")
                </div>
                @Html.Sitecore().Placeholder("main/dewanumbers")

                <div class="grid j157-investor-relations" data-journey="j157-investor-relations">
                    @Html.Sitecore().Placeholder("main/highlights")
                </div>

                <div class="box box--ipo">
                    <div class="grid j157-investor-relations" data-journey="j157-investor-relations">
                        @Html.Sitecore().Placeholder("main/investment")
                    </div>
                </div>

                <div class="grid j157-investor-relations" data-journey="j157-investor-relations">
                    @Html.Sitecore().Placeholder("main/esg")
                </div>
                @*<div class="box box--2 j157-investor-relations">
                        <div class="grid">
                            @Html.Sitecore().Placeholder("main/esg")
                        </div>
                    </div>*@
                <div class="box box--ipo">
                    <div class="grid j157-investor-relations" data-journey="j157-investor-relations">
                        @Html.Sitecore().Placeholder("main/ipotimeline")
                    </div>
                </div>

                <div class="grid j157-investor-relations" data-journey="j157-investor-relations">
                    @Html.Sitecore().Placeholder("main/subscribe")
                </div>
                <div class="box box--ipo">
                    <div class="grid j157-investor-relations" data-journey="j157-investor-relations">
                        @Html.Sitecore().Placeholder("main/resources")
                    </div>
                </div>
                <div class="grid j157-investor-relations" data-journey="j157-investor-relations">
                    @Html.Sitecore().Placeholder("main/faq")
                </div>
                <div class="box box--ipo mb0">
                    <div class="grid j157-investor-relations" data-journey="j157-investor-relations">
                        @Html.Sitecore().Placeholder("main/banklist")
                    </div>
                </div>
                @Html.Sitecore().Placeholder("main/contactus")
                @Html.Sitecore().Placeholder("main/footer")
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    docReady(function () {
        if ('@lang' == 'ar') {
            jQuery(".m12-bar--investor__list").find('a[href="' + window.location.href.toString().split(window.location.host)[1].replace("/ar-AE","") + '"]').addClass('active');
        }
        else {
            jQuery(".m12-bar--investor__list").find('a[href="' + window.location.href.toString().split(window.location.host)[1].replace("/en", "") + '"]').addClass('active');
        }
    });
</script>