@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<!--main/m12-masthead-->
@Html.Sitecore().Placeholder("main/m12-masthead")
<!--main/m12-masthead-->

@Html.Sitecore().Placeholder("main/m2-hero-image")

<div id="rs_area">
    <div class="rs_preserve">
        <!--main/header-->
        @Html.Sitecore().Placeholder("main/header")
        <!--main/header-->
        <div class="grid">
            @Html.Sitecore().Placeholder("main/m6-teasers")
        </div>

        <div class="box box--1">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column grid__column--12">
                        @Html.Sitecore().Placeholder("main/m3-carousel")
                    </div>
                </div>
                <div class="grid__row">
                    <div class="grid__column grid__column--6">
                        @Html.Sitecore().Placeholder("main/m7-teaser-1")
                    </div>
                    <div class="grid__column grid__column--6">
                        @Html.Sitecore().Placeholder("main/m7-teaser-2")
                    </div>
                </div>
            </div>
        </div>
        <!--main/bottom-section-->
        @Html.Sitecore().Placeholder("main/bottom-section")
        <!--main/bottom-section-->
        </div>
    </div>

    @*<div class="box box--2">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column grid__column--12">
                        @Html.Sitecore().Placeholder("main/m16-quote")
                    </div>
                </div>
            </div>
        </div>*@
    <!--main/m13-footer-->
    @Html.Sitecore().Placeholder("main/m13-footer")
    <!--main/m13-footer-->
