@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<!--main/m12-masthead-->
@Html.Sitecore().Placeholder("main/m12-masthead")
<!--main/m12-masthead-->
@Html.Sitecore().Placeholder("main/m1-hero")

<div id="rs_area">
    <div class="rs_preserve">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    @Html.Sitecore().Placeholder("main/m17-section-title-1")
                </div>
            </div>

            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    @Html.Sitecore().Placeholder("main/m3-carousel")
                </div>
            </div>
        </div>

        <div class="box box--1 box--padded">
            <div class="grid">
                @Html.Sitecore().Placeholder("main/m15-social-media-feeds")
            </div>
        </div>

        <div class="grid">
            <div class="grid__column grid__column--12">
                @Html.Sitecore().Placeholder("main/m17-section-title-3")
            </div>
        </div>
        <!--main/bottom-section-->
        @Html.Sitecore().Placeholder("main/bottom-section")
        <!--main/bottom-section-->
    </div>
</div>

@Html.Sitecore().Placeholder("main/m11-contact")

@*<div class="box box--2">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    @Html.Sitecore().Placeholder("main/m16-quote")
                </div>
            </div>
        </div>
    </div>*@
<!--main/m13-footer-->
@Html.Sitecore().Placeholder("main/m13-footer")
<!--main/m13-footer-->
