@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<!--main/masthead-->
@Html.Sitecore().Placeholder("main/masthead")
<!--main/masthead-->
<!--main/header-->
@Html.Sitecore().Placeholder("main/header")
<!--main/header-->

<div id="rs_area" class="grid">
    <div class="rs_preserve">
        <!--main/content-->
        @Html.Sitecore().Placeholder("main/content")
        <!--main/content-->

        <div class="box box--1">
            <div class="grid">
                @Html.Sitecore().Placeholder("main/grey-box-content")
            </div>
        </div>
        <!--main/bottom-section-->
        @Html.Sitecore().Placeholder("main/bottom-section")
        <!--main/bottom-section-->
    </div>
</div>
@Html.Sitecore().Placeholder("main/rammas")
@*<div class="box box--2">
        <div class="grid__column grid__column--12">
            @Html.Sitecore().Placeholder("main/quote")
        </div>
    </div>*@

<!--main/footer-->
@Html.Sitecore().Placeholder("main/footer")
<!--main/footer-->
