@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
<!--main/m12-masthead-->
@Html.Sitecore().Placeholder("main/m12-masthead")
<!--main/m12-masthead-->
<div id="rs_area">
    <div class="rs_preserve">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    @Html.Sitecore().Placeholder("main/m26-page-title")
                </div>
            </div>
            @using (Html.BeginForm("Downloads", "Renderings", FormMethod.Get, new { @id = "listing-form" }))
            {
                <div class="grid__row">
                    <div class="grid__column grid__column--12 grid__column--content">
                        @Html.Action("Downloads", "Renderings", new { itemId = Model.Item.ID.Guid })
                    </div>
                </div>
            }
        </div>

        <div class="box box--1">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column grid__column--12">
                        @Html.Sitecore().Placeholder("main/m17-section-title")
                    </div>
                </div>
                <div class="grid__row">
                    <div class="grid__column grid__column--4">
                        @Html.Sitecore().Placeholder("main/m9-teaser-1")
                    </div>
                    <div class="grid__column grid__column--4">
                        @Html.Sitecore().Placeholder("main/m9-teaser-2")
                    </div>
                    <div class="grid__column grid__column--4">
                        @Html.Sitecore().Placeholder("main/m9-teaser-3")
                    </div>
                </div>
            </div>
        </div>
        <!--main/bottom-section-->
        @Html.Sitecore().Placeholder("main/bottom-section")
        <!--main/bottom-section-->
    </div>
</div>

    @*<div class="box box--2">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column grid__column--12">
                        @Html.Sitecore().Placeholder("main/m16-quote")
                    </div>
                </div>
            </div>
        </div>*@
    <!--main/m13-footer-->
    @Html.Sitecore().Placeholder("main/m13-footer")
    <!--main/m13-footer-->

    <script src="~/Scripts/External/nml/listing.js"></script>
