@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
<!--main/m12-masthead-->
@Html.Sitecore().Placeholder("main/m12-masthead")
<!--main/m12-masthead-->
<div id="rs_area">
    <div class="rs_preserve">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    @Html.Sitecore().Placeholder("main/m26-page-title")
                </div>
            </div>
        </div>

        @Html.Sitecore().Placeholder("main/m25-tabs")
        <!--main/bottom-section-->
        @Html.Sitecore().Placeholder("main/bottom-section")
        <!--main/bottom-section-->
    </div>
</div>
<!--main/m13-footer-->
@Html.Sitecore().Placeholder("main/m13-footer")
<!--main/m13-footer-->
