@using Sitecore.Globalization
@using DEWAXP.Feature.SupplyManagement.Models.MaiDubai
@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Helpers
@model MaiDubaiViewModel
@{
    /**/

    var direction = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "rtl" : "ltr";
    var _linkexp = Model.isSucess == linkState.Expired ? string.Empty : "hidden";
    var _linkredeemed = Model.isSucess == linkState.Redeemed ? string.Empty : "hidden";
    var _hideOTP = string.Empty;
    if (Model.isSucess == linkState.Expired || Model.isSucess == linkState.Redeemed || Model.isSucess == linkState.Invalid)
    {
        _hideOTP = "hidden";
    }
    var _hideMobile = string.IsNullOrEmpty(Model.MaskedMobile) ? "hidden" : string.Empty;

    var _hideEmail = string.IsNullOrEmpty(Model.MaskedEmail) ? "hidden" : string.Empty;

    var _rc_cd = Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(Model.ReferenceCode));
}


<div class="grid__row mt56">
    <div class="grid__row error-html hidden" id="_erDiv">
        <div class="grid__column grid__column--12">
            <div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
                <div class="m40-status-message__title icon--error">
                    @Sitecore.Globalization.Translate.Text(DictionaryKeys.Global.SubmissionError)
                </div>
                <div class="m40-status-message__text" id="_erDivMsg" dir="@direction">

                </div>
            </div>
        </div>
    </div>
    <div class="otp--content align_left otpselectionoption">
        <form data-form id="ReferenceOTPForm">
            @Html.AntiForgeryToken()
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            @Html.HiddenFor(m => m.OtpRequestId)
            <div class="m40v2-status-message m40v2-status-message--security hidden">
                <div class="m40v2-status-message__text">
                    <div class="m40v2-status-message-security-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20"
                             height="19" viewBox="0 0 20 19" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M17.19 18.9114H2.86903C2.00115 18.9114 1.22495 18.4616 0.791793 17.7075C0.385514 17.0013 0.363382 16.1446 0.733302 15.4169L7.89299 1.31319C8.30401 0.502821 9.12289 6.10352e-05 10.0303 6.10352e-05C10.9361 6.10352e-05 11.755 0.502821 12.166 1.31319L19.3257 15.4153C19.6956 16.143 19.6735 16.9996 19.2672 17.7058C18.8341 18.4616 18.0563 18.9114 17.19 18.9114ZM10.029 13.1794C9.6844 13.1794 9.39352 13.0322 9.37771 12.8437L8.86077 6.33923C8.8086 5.68928 9.33028 5.11871 10.0274 5.11871C10.7262 5.11871 11.2463 5.68928 11.1941 6.33923L10.6772 12.8437C10.6661 13.0322 10.3752 13.1794 10.029 13.1794ZM10.0285 16.0611C10.5849 16.0611 11.0355 15.5898 11.0355 15.0076C11.0355 14.4255 10.5849 13.9542 10.0285 13.9542C9.47201 13.9542 9.02147 14.4255 9.02147 15.0076C9.02147 15.5898 9.47201 16.0611 10.0285 16.0611Z"
                                  fill="#B00020"></path>
                        </svg>
                    </div>@Translate.Text("MaiDubai.Note")
                </div>
            </div>
            <div class="otp--content-title @_hideOTP">@Translate.Text("MaiDubai.ChooseVerificationMethod")</div>
            <div class="form-field mt24 @_hideOTP">
                <fieldset class="fieldset">
                    <p class="form-field__radio @_hideMobile">
                        <label>
                            <input class="form-field__input form-field__input--radio otp_diplay_input" required="" id="otp_diplay_input_2"
                                   data-stype="m" name="otp_diplay_input" type="radio"
                                   aria-describedby="description-for-maskedvalue"
                                   data-parsley-errors-container="#description-for-maskedvalue"
                                   data-parsley-multiple="j113_radio" data-parsley-id="26"
                                   data-parsley-required-message="@Translate.Text("MaiDubai.OptionSelect")">
                            <span class="form-field__fakeradio focus-enabled mobileSpan">
                                @Translate.Text("MaiDubai.OTPMsg")&nbsp;<span style="direction: ltr; display: inline-block;">@Model.MaskedMobile</span>
                            </span>
                            <br>
                        </label>
                    </p>
                    <p class="form-field__radio @_hideEmail">
                        <label>
                            <input class="form-field__input form-field__input--radio otp_diplay_input"
                                   required="" id="otp_diplay_input_1" data-stype="e" name="otp_diplay_input"
                                   type="radio" aria-describedby="description-for-maskedvalue"
                                   data-parsley-errors-container="#description-for-maskedvalue"
                                   data-parsley-multiple="j113_radio" data-parsley-id="26"
                                   data-parsley-required-message="@Translate.Text("MaiDubai.OptionSelect")">
                            <span class="form-field__fakeradio focus-enabled emailSpan">
                                @Translate.Text("MaiDubai.OTPMsg")&nbsp;@Model.MaskedEmail
                            </span>
                        </label>
                    </p>
                    <div id="description-for-radio-maskedvalue" class="form-field__messages">
                    </div>
                </fieldset>
            </div>
            <div class="form-field form-field--toggles @_hideOTP">
                <fieldset class="fieldset">
                    <div class="form-field__checkbox">
                        <label>
                            <input class="form-field__input form-field__input--checkbox" id="form-field-checkbox_1_1"
                                   name="checkbox_1_1" type="checkbox" required="" aria-describedby="description-for-gw93jwpw7"
                                   data-parsley-errors-container="#description-for-gw93jwpw7"
                                   data-parsley-required-message="@Translate.Text("MaiDubai.AgreementRequired")"
                                   data-parsley-multiple="checkbox_1_1">
                            <span class="form-field__fakecheckbox focus-enabled">
                                @Translate.Text("MaiDubai.Agreement")
                            </span>
                        </label>
                    </div>
                    <div id="description-for-gw93jwpw7" class="form-field__messages">
                    </div>
                </fieldset>

            </div>
            <div class="form-field__button align_right @_hideOTP">
                <a href="/" class="button button--outline">@Translate.Text("MaiDubai.Cancel")</a>
                <a href="javascript:void(0)" class="button button--primary btn-SendOtpSelection">@Translate.Text("MaiDubai.Continue")</a>
            </div>
        </form>
    </div>
    <div class="otp--content otp_input_screen hidden">
        <div class="otp_input_screen hidden">
            <img class="otp_chatcheck hidden" src="/images/chatcheck.png">
            <img class="otp_mailcheck hidden" src="/images/mailcheck.png">
            <div class="otp--content-title">
                <span class="otp-title"></span>
            </div>
            <div class="otp--content-details">
                <span class="otp-message"></span>
            </div>
            <form class="form mt24 input-otp-textbox" data-form>
                <div class="form-field form-field--otp centered">
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-otpnumber" name="text" type="number"
                               aria-describedby="description-for-otpnumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-mobiotpnumber"
                               required="" autofocus=""
                               data-parsley-required-message="@Translate.Text("cust.required.field")"
                               data-parsley-trigger="focusout" data-parsley-id="6"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-otpnumber" name="text" type="number"
                               aria-describedby="description-for-otpnumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-otpnumber"
                               required="" data-parsley-required-message="@Translate.Text("cust.required.field")"
                               data-parsley-trigger="focusout" data-parsley-id="8"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-otpnumber" name="text" type="number"
                               aria-describedby="description-for-otpnumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-otpnumber"
                               required="" data-parsley-required-message="@Translate.Text("cust.required.field")"
                               data-parsley-trigger="focusout" data-parsley-id="10"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-otpnumber" name="text" type="number"
                               aria-describedby="description-for-otpnumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-otpnumber"
                               required="" data-parsley-required-message="@Translate.Text("cust.required.field")"
                               data-parsley-trigger="focusout" data-parsley-id="12"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-otpnumber" name="text" type="number"
                               aria-describedby="description-for-otpnumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-otpnumber"
                               required="" data-parsley-required-message="@Translate.Text("cust.required.field")"
                               data-parsley-trigger="focusout" data-parsley-id="14"
                               aria-invalid="false">
                    </span>
                    <span class="form-field__input-wrapper_otp">
                        <input class="form-field__input form-field__input--otp"
                               id="form-field-otpnumber" name="text" type="number"
                               aria-describedby="description-for-otpnumber"
                               data-parsley-maxnumber="1"
                               data-parsley-errors-container="#description-for-otpnumber"
                               required="" data-parsley-required-message="@Translate.Text("cust.required.field")"
                               data-parsley-trigger="focusout" data-parsley-id="16"
                               aria-invalid="false">
                    </span>
                    <input class="form-field__input form-field__input--otp_main"
                           id="form-field-otpnumbermain" name="text" type="number"
                           aria-describedby="description-for-otpnumber"
                           data-parsley-maxnumber="6"
                           data-parsley-errors-container="#description-for-otpnumber"
                           data-parsley-required-message="@Translate.Text("cust.required.field")"
                           data-parsley-trigger="focusout" data-parsley-id="33">
                    <div id="description-for-otpnumber" class="form-field__messages"></div>
                </div>
                <div class="form-field mt0 otp_inputdisplay_screen_error red hidden">
                </div>
                <div class="form-field">
                    <div class="button button--timer timer-button--outline"
                         data-component="m78-timer" id="timerbutton"
                         timer-labels="{&quot;before&quot;:&quot;@Translate.Text("cust.resend.button.text")&quot;, &quot;after&quot;:&quot;@Translate.Text("cust.resend.button.text") (&quot;}"
                         timer-time="{&quot;seconds&quot;:180}">
                        <span class="m78-timer--button_text">@Translate.Text("cust.send.button.text")</span>
                        <span class="m78-timer--button_time"></span>
                    </div>
                </div>
                <div class="form-field"><span id="notmytext"></span> @Html.Raw(Translate.Text("Contact Customer Care Center"))</div>
            </form>
        </div>
    </div>
    <div class="otp--content hidden result_success">
        <img src="/images/gift.png" class="tooltipstered">
        <div class="otp--content-title">@Translate.Text("MaiDubai.GreatNews")</div>
        <div class="otp--content-details">
            @Html.Raw(@Translate.Text("MaiDubai.GreatNewsMsg").Replace("{0}", Model.ReferenceCode))
        </div><div class="form-field__button">
            <a href="/" class="button button--primary">@Translate.Text("MaiDubai.Homepage")</a>
        </div>
    </div>
    <div class="otp--content @_linkredeemed result_redeemed">
        <img src="/images/gift.png" class="tooltipstered">
        <div class="otp--content-title">@Translate.Text("MaiDubai.GiftRedeemed")</div>
        <div class="otp--content-details">
            @Translate.Text("MaiDubai.GiftRedeemedMsg").Replace("{0}", Model.ReferenceCode)
        </div><div class="form-field__button">
            <a href="/" class="button button--primary">@Translate.Text("MaiDubai.Homepage")</a>
        </div>
    </div>
    <div class="otp--content @_linkexp result_expired">
        <img src="/images/linkbrake.png" class="tooltipstered">
        <div class="otp--content-title">@Translate.Text("MaiDubai.LinkExpired")</div>
        <div class="otp--content-details">
            @Translate.Text("MaiDubai.LinkExpiredMsg")
        </div><div class="form-field__button">
            <a href="/" class="button button--outline">@Translate.Text("MaiDubai.Homepage")</a>
            @*<a href="/about-us/support-and-points-of-interest/contact-us" class="button button--primary">@Translate.Text("MaiDubai.ContactUs")</a>*@

        </div>
    </div>

</div>

<script src="~/Scripts/External/nml/form-submit-validate.js"></script>
<script type="text/javascript">
 ///////////////////OTP Verification Script Start//////////////////////////////
    docReady(function () {
        var $confirmBtn = jQuery(".email-verify");
        var verifystep = null;



        function sendOTPs() {

            $("._erDivMsg").html('');
            $('_erDiv').hide();

            $('.adjustHieght').addClass('otp_scrap_select');

            verifystep = null;
            //$("#OtpRequestId").val('');
            //$(".otp_inputdisplay_screen_error").html('');
            //$(".otp_inputdisplay_screen_error").hide();
            ////$('input[name="otp_diplay_input"]').prop('checked', false);
            //$(".otp-title").html('');
            //$(".otp-message").html('');
            //$(".otp-message").removeClass("red");


            var userName = '';

            if ($('#otp_diplay_input_1').is(':checked')) {

                CrudOtp(GetMaskedValueData(userName, "S"), function (rdata) {

                    var title = '@Html.Raw(Translate.Text("cust.email.otp.screen.title"))';
                    var msg = '@Html.Raw(Translate.Text("cust.email.otp.screen.msg"))';
                    $(".m66-preloader-fullpage").fadeOut();
                    // $(".otp_inputdisplay_screen").hide();
                    //$(".otp--modalcontent-text").hide();
                    $(".otp-title").html(title);
                    $(".otp_mailcheck").show();
                    $(".otp_chatcheck").hide();
                    $("#notmytext").html('@Translate.Text("cust.not.my.emailaddress")');
                    $(".otpselectionoption").hide();

                    if (rdata.status && rdata.data.otprequestid != null) {
                        isVerify = "1";
                        refNum = rdata.data.otprequestid;
                        $(".otp-message").html(msg.replace("{0}", rdata.data.description));
                        //$("#ReferenceId").val(rdata.data.referencenumber);
                        $(".otp_input_screen").show();
                        $(".otp_inputdisplay_screen_error").hide();

                        resetTimer();
                      //  $(".optpopuptrigger").trigger('click');
                    }
                    else {
                       // $(".optpopuptrigger").trigger('click');
                        $(".otp_input_screen").hide();
                       // $(".otp_inputdisplay_screen").show();
                       // $(".otp_inputdisplay_screen_error").show();
                        //$(".otp--modalcontent-text").show();
                        //$(".otp_inputdisplay_screen_error").html(rdata.desc);
                        $("._erDivMsg").html(rdata.desc);
                        $('_erDiv').show();
                    }
                });

            }
            else if ($('#otp_diplay_input_2').is(':checked')) {

                CrudOtp(GetMaskedValueData(userName, "S"), function (rdata) {

                    var title = '@Html.Raw(Translate.Text("cust.mobile.otp.screen.title"))';
                    var msg = '@Html.Raw(Translate.Text("cust.mobile.otp.screen.msg"))';
                    $(".m66-preloader-fullpage").fadeOut();
                    //$(".otp_inputdisplay_screen").hide();
                    //$(".otp--modalcontent-text").hide();
                    $(".otp-title").html(title);
                    $("#notmytext").html('@Translate.Text("cust.not.my.mobilenumber")');
                    $(".otpselectionoption").hide();
                    if (rdata.status && rdata.data.otprequestid != null) {
                        isVerify = "2";
                        refNum = rdata.data.otprequestid;
                        $(".otp_chatcheck").show();
                        $(".otp_mailcheck").hide();
                        // console.log(msg);
                        //<span style="direction:ltr">80062438224</span>
                        $(".otp-message").html(msg.replace("{0}", '<span style="direction:ltr; display: inline-block;">' + rdata.data.description + '</span>'));
                        //$("#ReferenceId").val(rdata.data.referencenumber);
                        $(".otp_input_screen").show();
                        $(".otp_inputdisplay_screen_error").hide();
                        //$(".otp_inputdisplay_screen_success").show();

                        resetTimer();
                        //$(".optpopuptrigger").trigger('click');
                    }
                    else {
                       // $(".optpopuptrigger").trigger('click');
                        $(".otp_input_screen").hide();
                      // $(".otp_inputdisplay_screen").show();
                       // $(".otp_inputdisplay_screen_error").show();
                       // $(".otp_inputdisplay_screen_success").hide();
                        //$(".otp--modalcontent-text").show();
                        $("._erDivMsg").html(rdata.desc);
                        $('_erDiv').show();
                    }
                });
            }

        }


        AddCustomForgeryToken = function (data, elementId) {
            data.__RequestVerificationToken = $(elementId + ' input[name=__RequestVerificationToken]').val();
            return data;
        };

        function GetMaskedValue(requestData, onSuccess) {

            var _postUrl = '@Url.Content("~/api/sitecore/ScrapSale/GetMaskedEmailNMobile")';
            requestData = AddCustomForgeryToken(requestData, "#ForgetPasswordFrom");
            $.ajax({
                url: _postUrl,
                type: 'POST',
                data: requestData,
                beforeSend: function () {
                    $(".m39-modal__button--close").trigger('click');
                    $(".m66-preloader-fullpage").show();
                    //$(".otp_inputdisplay_screen").hide();
                   //$(".otp_input_screen").hide();
                    $(".otp_inputdisplay_screen_error").hide();
                    $(".otp_inputdisplay_screen_success").hide();
                },
                success: onSuccess,
                error: function (er) {
                    console.log(er);
                },
                complete: function (x) {
                    $(".m66-preloader-fullpage").fadeOut();
                   // console.log(x);
                }
            });
        }

        var isVerify = "0";
        var refNum = '';
        var actOTP = '';

        function GetMaskedValueData(pUserId,_mode) {

            var referenceNumber = '';
            var _emailId = '';
            var _mobileN = '';

            if ($('#otp_diplay_input_1').is(':checked'))
                _emailId = '@Model.MaskedEmail';

            if ($('#otp_diplay_input_2').is(':checked'))
                _mobileN = '@Model.MaskedMobile';

            referenceNumber = '@Model.ReferenceCode';

            var requestData = {
                email: _emailId,
                mobile: _mobileN,
                mode: _mode,
                reqId: referenceNumber,
                prtype: 'MDRM',
                Otp: actOTP

            }

            return requestData;
        }



        function resetTimer() {
            $("#otpform").find('.form-field__input--otp').attr('disabled', false);
            $("#otpform").find('.form-field--otp').removeClass('form-field-disabled');
            setTimeout(function () {
                jQuery('.form-field--otp').find('.form-field__input--otp')[0].focus()
            }, 500);
            setTimeout(function () {
                jQuery('.button--timer').trigger('start.timer');
            }, 500);
        }



        setTimeout(function () {
            $(".form-field__input--otp").on('keyup blur', function () {
                var otp = jQuery(".form-field__input--otp_main").val();
                var userName = '';
                if (otp.length >= 6 && isVerify != "0") {
                    actOTP = otp;
                    $(".form-field__input--otp").val('');
                    CrudOtp(GetMaskedValueData(userName, 'V'), function (rdata) {
                        $(".m66-preloader-fullpage").fadeOut();
                        if (rdata.status) {

                            var _ec_dt = '@_rc_cd';

                            if (_ec_dt == rdata.data.otprequestid) {
                                $(".otp-message").removeClass("red");
                                $(".otp_input_screen").hide();
                                //$(".m39-modal__button--close").trigger('click');
                                //$('#OtpRequestId').val(actOTP);

                                $(".result_success").show();

                            }
                            else {

                                $(".otp_inputdisplay_screen_error").html('@Translate.Text("j145 iit")');
                                $(".otp_inputdisplay_screen_error").show();
                            }

                        }
                        else {
                           // $(".optpopuptrigger").trigger('click');
                            //$(".otp-message").addClass("red");
                           // $(".otp_input_screen").show();
                           // $(".otp_inputdisplay_screen_success").hide();
                            //$(".otp--modalcontent-text").show();
                            $(".otp_inputdisplay_screen_error").html(rdata.desc);
                            $(".otp_inputdisplay_screen_error").show();
                        }
                    });
                }
            });
        }, 500);



        function show_Load() {
            if (jQuery('.m66-preloader-fullpage').length > 1) {
                jQuery('.m66-preloader-fullpage').eq(1).show();
            }
            else {
                jQuery('.m66-preloader-fullpage').show();
            }
        }

        function CrudOtp(requestData, onSuccess) {
            var _postUrl = '@Url.Content("~/api/sitecore/GeneralRequest/CrudOtp")';
              requestData = AddCustomForgeryToken(requestData, "#ReferenceOTPForm");
            $.ajax({
                url: _postUrl,
                type: 'POST',
                data: requestData,
                beforeSend: function () {
                   // $(".m39-modal__button--close").trigger('click');
                    show_Load();
                    //$(".otp_inputdisplay_screen").hide();
                    //$(".otp_input_screen").hide();
                    $(".otp_inputdisplay_screen_error").hide();
                    $(".otp_inputdisplay_screen_success").hide();
                },
                success: onSuccess,
                error: function (er) {
                    console.log(er);
                },
                complete: function (x) {
                    $(".m66-preloader-fullpage").fadeOut();
                    //console.log(x);
                }
            });
        }



        jQuery("#timerbutton").on("click", function () {

               if (!jQuery("#timerbutton").hasClass("timer-button--outline")) {

                   sendOTPs();


            }
        });


        $(document).on('click', '.btn-SendOtpSelection', function (e) {

            var error = 0;

            $("#ReferenceOTPForm").find('.form-field__input').not(':hidden').each(function () {

                ////////enable this after popup is fixed////////////
                jQuery(this).parsley().validate();

                if (!jQuery(this).parsley().isValid()) {
                    error++;
                }
            });
            if (error == 0) {

                sendOTPs();
            }


        });


    });


</script>
