@using System.Net.Configuration
@using Sitecore.Globalization
@model DEWAXP.Feature.GeneralServices.Models.RoadWorks

<div class="grid j92-roadwork-locations" data-journey="j92-roadwork-locations" data-locations='{
   "GetRoadWorkNotif": {
      "Item": @Html.Raw(Model.DataLocations)
  }
}'
	 data-labels='{
	"streetLabel": "@Translate.Text("Street"):",
	"cityLabel": "@Translate.Text("Roadwork City"):",
	"disruptionLabel": "@Translate.Text("Disruption"):",
	"startLabel": "@Translate.Text("Start date"):",
	"endLabel": "@Translate.Text("End date"):"
}'>

	@if (!string.IsNullOrWhiteSpace(Model.Message) && !Model.Succeeded)
	{
		<div class="grid__row">
			<div class="grid__column grid__column--12 grid__column--content grid__column--centered">
				<p>@Model.Message</p>
			</div>
		</div>
	}

				<div class="grid__row grid__row--hidden">
					<div class="grid__column grid__column--12 grid__column--form">

						<h3 class="text__section-subtitle">@Translate.Text("Roadwork Details")</h3>
						<!-- m42-key-value-start -->
						<div class="m42-keyvalue">
							<dl></dl>
						</div>
						<!-- m42-key-value-end -->
					</div>
				</div>

				<div class="grid__row">
					<div class="grid__column grid__column--12">
						<!--m32-map-start-->
						<div class="m32-map" data-component="m32-map">
							<div id="map"></div>
						</div>
						<!--m32-map-end-->
					</div>

				</div>

			</div>
