@model DEWAXP.Feature.CommonComponents.Models.IdealHomeConsumer.VideoModelSet
<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />

@if (Model != null && Model.Children != null)
{
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m17-sectiontitle " data-component="m17-sectiontitle">
                <div class="m17-sectiontitle__colors">
                    <span class="title-colors-green"></span>
                    <span class="title-colors-red"></span>
                    <span class="title-colors-blue"></span>
                    <span class="title-colors-purple"></span>
                    <span class="title-colors-brown"></span>
                </div>
                <h3 class="m17-sectiontitle__title  text__section-title"> @Model.Header</h3>
            </div>
        </div>
    </div>
    <div class="grid__row j143-ideal-home-videos">
        @foreach (DEWAXP.Feature.CommonComponents.Models.IdealHomeConsumer.VideoModelItem item in Model.Children)
        {
            <div class="grid__column grid__column--3">

                <div class="m9-teaser" data-component="m9-teaser">
                    <div class="m9-teaser-image">
                        @*<div class="m36-videoplayer--variant m36-videoplayer--modal" data-vid=""
                            data-iframe="<video userid='shujaat' class='video-js vjs-default-skin' controls='' width='640' height='360' frameborder='0' allowfullscreen data-setup='{ &quot;techOrder&quot;: [&quot;youtube&quot;, &quot;html5&quot;], &quot;sources&quot;: [{ &quot;type&quot;: &quot;video/youtube&quot;, &quot;src&quot;: &quot;@item.VURL;}] }' id=''></video>">*@
                        <div class="m36-videoplayer--variant m36-videoplayer--modal" data-vid=""
                             data-iframe="<video userid='shujaat' class='video-js vjs-default-skin' controls='' width='640' height='360' frameborder='0' allowfullscreen data-setup='{ &quot;techOrder&quot;: [&quot;youtube&quot;, &quot;html5&quot;], &quot;sources&quot;: [{ &quot;type&quot;: &quot;video/youtube&quot;, &quot;src&quot;: &quot;@(item.VURL)&quot;}] }' id=''></video>">
                            <div class="m36-videoplayer--details">
                                <div class="m36-videoplayer--length">
                                    @item.VLength
                                </div>
                            </div>
                            <div class="m36-videoplayer--image" style="background-image: url(@(item.VBackImage != null ? item.VBackImage.Src : "'~/images/hero_article.jpg'"));">
                            </div>
                        </div>
                        @*<div class="m39-modal m39-modal--new m39-modal--video" data-component="m39-modal" id="modal_true">
                                <button data-trigger="true" class="m39-modal__trigger" type="button" id="_0ake8m97x_trigger" aria-controls="_0ake8m97x_content">
                                    <div class="m36-videoplayer--variant" data-iframe="<iframe width='100%' height='100%' src='@item.VURL' frameborder='0' allowfullscreen=''></iframe>">
                                        <div class="m36-videoplayer--details">
                                            <div class="m36-videoplayer--length">
                                                @item.VLength
                                            </div>
                                        </div>
                                        <div class="m36-videoplayer--image" style="background-image: url(@(item.VBackImage.Src ?? "'~/images/hero_article.jpg'"));">
                                        </div>
                                    </div>
                                </button>
                                <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="true" id="_0ake8m97x_content" aria-labelledby="_0ake8m97x_trigger">
                                    <div class="m39-modal__dialog">
                                        <div class="m39-modal__header p0">
                                            <a data-close="true" class="m39-modal__button--close" id="_0ake8m97x_close" aria-controls="_0ake8m97x_content"></a>
                                        </div>
                                        <div class="m39-modal__content p0" style="top: 0px;">
                                            <iframe width="100%" height="100%" src="@item.VURL" frameborder="0" allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="m39-modal__overlay"> </div>
                            </div>*@
                    </div>
                    <div class="teaser__content">
                        <h4 class="teaser__title">
                            <span class="teaser__title-text">@item.VTitle</span>
                        </h4>
                    </div>
                </div>
            </div>
        }
        @Html.Partial("~/Views/Feature/CommonComponents/Renderings/IdealHome/VideoModelPopup.cshtml")
    </div>
}

<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<script src="~/Scripts/External/nml/Youtube.min.js"></script>

<script type="text/javascript">
    jQuery('.m36-videoplayer--variant').on('click', function () {
        var _vid = jQuery(this).data('vid');
        if (_vid != null) {
            videojs('#' + _vid, {
                controlBar: {
                    fullscreenToggle: false,
                    progressControl: {
                        seekBar: false
                    }
                }
            });
        }
    });
</script>
