@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M6TeaserSet
@using Sitecore.Globalization
@{
    var index = 0;
}
@if (Model != null && Model.Children != null)
{
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m17-sectiontitle " data-component="m17-sectiontitle">
                <div class="m17-sectiontitle__colors">
                    <span class="title-colors-green"></span>
                    <span class="title-colors-red"></span>
                    <span class="title-colors-blue"></span>
                    <span class="title-colors-purple"></span>
                    <span class="title-colors-brown"></span>
                </div>
                <h3 class="m17-sectiontitle__title  text__section-title"> @Model.Header</h3>
            </div>
        </div>
    </div>
    <div class="grid__row j143-ideal-home-teaser">
        @{index = 0;
            foreach (var item in Model.Children)
            {
                <div class="grid__column grid__column--3">
                    <div class="m9-teaser" data-component="m9-teaser">
                        <a href="@item.Link.Url" class="teaser__link" target="_blank" data-index="@(index)">
                            <div class="m9-teaser-image tooltipstered" style="background-image: url(@(item.Image != null ? item.Image.Src : "'~/images/article_teaser_image1.png'"));"></div>
                            <div class="teaser__content">
                                <h4 class="teaser__title">@item.Header</h4>
                            </div>
                        </a>
                    </div>
                </div>
                index++;
            }
        }
    </div>
}

