@model DEWAXP.Feature.CommonComponents.Models.IdealHomeConsumer.AccordionSet
@using Sitecore.Mvc

@if (Model != null && Model.Children != null)
{
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m17-sectiontitle " data-component="m17-sectiontitle">
                <div class="m17-sectiontitle__colors">
                    <span class="title-colors-green"></span>
                    <span class="title-colors-red"></span>
                    <span class="title-colors-blue"></span>
                    <span class="title-colors-purple"></span>
                    <span class="title-colors-brown"></span>
                </div>
                <h3 class="m17-sectiontitle__title  text__section-title"> @Model.Header</h3>
            </div>
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m93-tabs-content" data-component="m93-tabs-content" data-selected-tab-id="m93-tab-5" data-helper="toggle-menu">
                <div class="m93-tabs-content__menu" data-m93-tabs-content-menu="true">
                    <div aria-role="tablist" class="m93-tabs-content__menu-item">
                        @foreach (DEWAXP.Feature.CommonComponents.Models.IdealHomeConsumer.AccordionItem item in Model.Children)
                        {
                            <div class="m93-tabs-content__menu-item-panel">
                                <a class="m93-tabs-content__tab m93-tabs-content__tab--active icon-close"  data-m93-tabs-content-tab="true">
                                    <span class="m93-tabs-content__menu-item-panel-image">
                                        <img alt="" src="@(item.Image != null ? item.Image.Src : "'~/images/article_teaser_image1.png'")">
                                    </span>
                                    <span class="m93-tabs-content__menu-item-panel-text">@item.Title</span>
                                </a>
                                <div class="m93-panel-container">
                                    @Html.Raw(item.Content)
                                    @if (item.Module)
                                    {
                                        @Html.Sitecore().Placeholder(item.ModulePlaceholder)
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
