@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.M6TeaserSet
@using Sitecore.Globalization
@{
    var index = 0;
    int teasercount = 0;
}
@if (Model != null && Model.Children != null)
{
    teasercount = Model.Children.Count();
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m17-sectiontitle " data-component="m17-sectiontitle">
                <div class="m17-sectiontitle__colors">
                    <span class="title-colors-green"></span>
                    <span class="title-colors-red"></span>
                    <span class="title-colors-blue"></span>
                    <span class="title-colors-purple"></span>
                    <span class="title-colors-brown"></span>
                </div>
                <h3 class="m17-sectiontitle__title  text__section-title"> @Model.Header</h3>
            </div>
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__row grid__row-5col j143-m6-teaser">
            @{index = 0;
                foreach (var item in Model.Children)
                {
                    <div class="grid__column grid__column--3">
                        <a href="#" class="m6-teaser teaser__link modal_trigger" data-index="@(index)">
                            <div class="m6-teaser__icon-image">
                                <img alt="" src="@(item.Image != null ? item.Image.Src : "'~/images/article_teaser_image1.png'")">
                            </div>
                            <div class="m6-teaser__content">
                                <h2 class="m6-teaser__title">@item.Header</h2>
                            </div>
                        </a>
                    </div>
                    index++;
                }
            }
        </div>
    </div>

    <div class="m39-modal m39-modal-ideal-home" data-component="m39-modal" id="modal_true">
        <button data-trigger="true" class="m39-modal__trigger button button--primary button--fullwidth hidden" type="button" id="_xcetvlagg_trigger" aria-controls="_xcetvlagg_content"></button>
        <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="false" id="_xcetvlagg_content" aria-labelledby="_xcetvlagg_trigger">
            <div class="m39-modal__dialog">
                <div class="m39-modal__header">
                    <button data-close="true" class="m39-modal__button--close" id="_xcetvlagg_close" aria-controls="_xcetvlagg_content">@Translate.Text("Close")</button>
                </div>
                <div class="m39-modal__content">
                    <div class="m33-thumbnail-gallery" data-component="m33-thumbnail-gallery">
                        <div class="m33-thumbnail-gallery__main-carousel-container">
                            <div class="m33-thumbnail-gallery__main-carousel">
                                @{index = 0;
                                    int maxCount = Model.Children.Count() - 1;
                                    foreach (var item in Model.Children)
                                    {
                                        DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.Teaser nextItem = null;
                                        if (index == maxCount)
                                        {
                                            nextItem = Model.Children.ToList()[0];
                                        }
                                        else
                                        {
                                            nextItem = Model.Children.ToList()[index + 1];

                                        }
                                        <div class="m33-thumbnail-gallery__main-carousel-slide" data-index="@(index)">
                                            <div class="m33-thumbnail-gallery__main-carousel-slide-inner">
                                                <div class="m39-modal-ideal-home_teaser-gallery-content">
                                                    <div class="m39-modal-ideal-home_teaser-gallery-content-img"><img src="@(item.Image != null ? item.Image.Src : "'~/images/article_teaser_image1.png'")"></div>
                                                    <div class="m39-modal-ideal-home_teaser-gallery-content-text">
                                                        <div class="m14-richtext">
                                                            <h4>@item.Header</h4>
                                                            @Html.Raw(item.Description)
                                                        </div>
                                                        <p class="end-link"><a href="#" role="link" class="button button--text button--next m39-modal-ideal-home_teaser-gallery-content-next">@Translate.Text("Next"): @nextItem.Header</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        index++;
                                    }
                                }
                            </div>
                            <div role="button" aria-required="false" data-role="none" class="m33-thumbnail-gallery__main-carousel-button--prev"></div>
                            <div role="button" aria-required="false" data-role="none" class="m33-thumbnail-gallery__main-carousel-button--next"></div>
                        </div>
                        <div class="m33-thumbnail-gallery__thumb-carousel-container">
                            <div class="m33-thumbnail-gallery__thumb-carousel" data-of-value="of">
                                @for (int i = 0; i < teasercount; i++)
                                {
                                    <div class="m33-thumbnail-gallery__thumb-carousel-slide" data-index="@i"></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m39-modal__overlay"> </div>
    </div>
}