@model DEWAXP.Feature.Events.Models.Emirati.EmiratiRegModel
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization

@{
    string imageUrl = string.Empty, bannerImage = string.Empty, footerImg = string.Empty, isVirtualEvent="true";
    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;

    imageUrl = "/images/EW/headerimg.png";
    bannerImage = "/images/EW/mainimg.png";
    footerImg = "/images/EW/footerimg.png";
    if (!ViewBag.isVirtualEvent)
    {
        isVirtualEvent = "false";
    }
}


<div class="grid j01-register" data-journey="j01-register" isVirtualEvent="@isVirtualEvent">
    <div class="grid__row mb24">
        <div class="grid__column grid__column--12 grid__column--form">
            <img class="j01-register--headerimg" src="@imageUrl">
        </div>
    </div>

    <div class="grid__row mb24">
        <div class="grid__column grid__column--6">
            <img class="j01-register--mainimg" src="@bannerImage">
        </div>

        <div class="grid__column grid__column--6">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @id = "EWForm", @data_parsley_focus = "true", @data_form = "true", @class = "form", @data_submit_validate = "enabled", @novalidate = string.Empty, @autocomplete = "off" }))
            {
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()
            <div class="j01-register--form_wrapper">

                @{
                    ModelState ms;

                }

                @if (!ViewData.ModelState.IsValid && ViewData.ModelState.TryGetValue(ViewData.TemplateInfo.HtmlFieldPrefix, out ms))
                {
                    <div class="j01-register--error red icon icon-notif-triangle">
                        @Html.ValidationSummary(true)
                    </div>

                }
                <div class="j01-register--form_group active" style="display:block;">
                    <div class="form-field form-field--text">
                        <label for="form-field-name" class="form-field__label">
                            <span class="aria-only">   @Translate.Text("FullName")</span>

                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(x => x.Name, new
                       {
                           @class = "form-field__input form-field__input--text",
                           @type = "text",
                           @id = "form-field-name",
                           @placeholder = Translate.Text("Full Name placeholder"),
                           //@aria_required = "true",
                           @required = "required",
						   @data_parsley_fullname = "",
                           @data_parsley_error_message = Translate.Text("Full Name ErrorMessage"),
                           @data_parsley_errors_container = "#description-for-name",
                           @aria_describedby = "description-for-name",
                           @tabindex = "1",
                           @maxlength = "100"
                       })
                        </span>
                        <div id="description-for-login-name" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "parsley-errors-list" })

                        </div>
                    </div>
                    <div class="form-field form-field--text">
                        <label for="form-field-designation" class="form-field__label">
                            <span class="aria-only"> @Translate.Text("Designation")</span>

                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(x => x.Designation, new
                       {
                           @class = "form-field__input form-field__input--text",
                           @type = "text",
                           @id = "form-field-designation",
                           @placeholder = Translate.Text("Designation Placeholder"),
                           //@aria_required = "true",
                           @required = "required",
						   @data_parsley_fullname = "",
                           @data_parsley_error_message = Translate.Text("Designation ErrorMessage"),
                           @data_parsley_errors_container = "#description-for-designation",
                           @aria_describedby = "description-for-designation",
                           @tabindex = "2",
                           @maxlength = "100"
                       })
                        </span>
                        <div id="description-for-designation" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.Designation, "", new { @class = "parsley-errors-list" })

                        </div>
                    </div>
                    <div class="form-field form-field--text ">
                        <label for="form-field-EmailAddress" class="form-field__label">
                            <span class="aria-only"> @Translate.Text("Email Address")</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(x => x.EmailAddress,
                     new
                     {
                         @class = "form-field__input form-field__input--text",
                         @name = "EmailAddress",
                         @id = "form-field-EmailAddress",
                         @placeholder = @Translate.Text("Email Address placeholder"),
                         @required = "",
                         @data_parsley_error_message = Translate.Text("Email Address ErrorMessage"),
                         @data_parsley_errors_container = "#description-for-EmailAddress",
                         @aria_describedby = "description-for-EmailAddress",
                         @type = "email",
                         @tabindex = "3",
                     })

                        </span>
                        <div id="description-for-EmailAddress" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.EmailAddress, "", new { @class = "parsley-errors-list" })
                        </div>
                    </div>
                    <div class="form-field form-field--text">
                        <label for="form-field-prno" class="form-field__label">
                            <span class="aria-only"> @Translate.Text("PR Number")</span>

                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.TextBoxFor(x => x.PrNo, new
                       {
                           @class = "form-field__input form-field__input--text number",
                           @type = "number",
                           @id = "form-field-prno",
                           @placeholder = Translate.Text("PR Number Placeholder"),
                           //@aria_required = "true",
                           @required = "required",
                           @data_parsley_error_message = Translate.Text("PR Number ErrorMessage"),
                           @data_parsley_errors_container = "#description-for-prno",
                           @aria_describedby = "description-for-prno",
                           @tabindex = "4",
                           @maxlength = "10"
                       })
                        </span>
                        <div id="description-for-prno" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.PrNo, "", new { @class = "parsley-errors-list" })

                        </div>
                    </div>
                    <div class="form-field form-field--toggles">
                        <fieldset class="fieldset">
                            <legend class="form-field__label">
                                <span class="aria-only">أوافق على الشروط والأحكام</span>
                            </legend>
                            <div class="form-field__checkbox">
                                <label>

                                    <input class="form-field__input form-field__input--checkbox" id="form-field-tc" name="Tc" type="checkbox" data-parsley-error-message="@Translate.Text("field is required.")" value="True" aria-describedby="description-for-tc" data-parsley-errors-container="#description-for-tc" data-parsley-multiple="checkbox_1_1" data-parsley-id="45" required="" tabindex="5">
                                    <span class="form-field__fakecheckbox focus-enabled">
                                        أوافق على الشروط والأحكام
                                    </span>
                                </label>
                            </div>
                            <div id="description-for-tc" class="form-field__messages">
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="j01-register--form_group">
                    <fieldset class="fieldset form-field__radio--toggle">
                        <legend class="form-field__label">
                            يوم العرأة الإماراتية يرجى اختيار الطريقة التي تفضلون حضور المنتدى من خلالها:
                        </legend>
                        <p class="form-field__radio form-field--6">
                            <label>
                                <input class="form-field__input form-field__input--radio" id="form-field-radio_1_1" name="Entrytype" type="radio" value="Online" @(isVirtualEvent == "true" ? "checked='true'" : "") aria-describedby="description-for-prsweqiiy" data-parsley-errors-container="#description-for-prsweqiiy" data-parsley-multiple="radios_group1" data-parsley-id="35" required="" data-parsley-error-message="@Translate.Text("field is required.")" toggle-target=".submit1">
                                <span class="form-field__fakeradio focus-enabled">
                                    حضور المنتدى افتراضيا عبر رابط مباشر
                                </span>
                            </label>
                        </p>
                        <p class="form-field__radio form-field--6">
                            <label>
                                <input class="form-field__input form-field__input--radio" id="form-field-radio_1_2" name="Entrytype" type="radio" value="Offline" @(isVirtualEvent != "true" ? "checked='true'" : "") aria-describedby="description-for-prsweqiiy" data-parsley-errors-container="#description-for-prsweqiiy" data-parsley-multiple="radios_group1" required="" data-parsley-error-message="@Translate.Text("field is required.")" toggle-target="#next1">
                                <span class="form-field__fakeradio focus-enabled">
                                    حضور المنتدى فعليا في مبنى أكاديمية هيئة كهرباء ومياه دبي
                                </span>
                            </label>
                        </p>
                        <div id="description-for-prsweqiiy" class="form-field__messages">
                            <p class="form-field__description">
                                <br>
                                ملاحظة:
                                <br>
                                يُطلب من جميع الحاضرين للمنتدى فعلياً تقديم شهادة التطعيم الخاصة بهم أو نتيجة فحص PCR ساري المفعول لمدة 48 ساعة قبل يوم 24 أغسطس 2022.
                            </p>
                        </div>
                    </fieldset>
                </div>

                <div class="j01-register--form_group last">
                    <fieldset class="fieldset">
                        <legend class="form-field__label">
                            <span class="aria-only">يوم العرأة الإماراتية يرجى اختيار الطريقة التي تفضلون حضور المنتدى من خلالها:</span>
                        </legend>
                        <p class="form-field__radio">
                            <label>
                                <input class="form-field__input form-field__input--radio" id="form-field-radio_2_1" name="ProofType" type="radio" value="vacc" aria-describedby="description-for-dkeier7e" data-parsley-errors-container="#description-for-dkeier7e" data-parsley-multiple="radios_group2" data-parsley-id="36" required="" data-parsley-error-message="@Translate.Text("field is required.")">
                                <span class="form-field__fakeradio focus-enabled">
                                    هل ستقدم شهادة التطعيم الخاصة بك؟
                                </span>
                            </label>
                        </p>
                        <p class="form-field__radio">
                            <label>
                                <input class="form-field__input form-field__input--radio" id="form-field-radio_2_2" name="ProofType" type="radio" value="rtpcr" aria-describedby="description-for-dkeier7e" data-parsley-errors-container="#description-for-dkeier7e" data-parsley-multiple="radios_group2" required="" data-parsley-error-message="@Translate.Text("field is required.")">
                                <span class="form-field__fakeradio focus-enabled">
                                    هل ستقدم نتيجة سلبية لفحص PCR قبل 48 ساعة من الحدث؟
                                </span>
                            </label>
                        </p>
                        <div id="description-for-dkeier7e" class="form-field__messages">
                        </div>
                    </fieldset>

                </div>
                @if ((bool)ViewBag.Recaptcha)
                {
                    <br />
                    <div class="captcha">
                        <div class="g-recaptcha" id="captcha" data-sitekey="@(ViewBag.SiteKey)"></div>
                        <span id='errorContainer' class="parsley-errors-list"></span>
                    </div>
                }
                <div class="form-field__button">
                    <div class="button button--primary j01-register--next" id="next1">@Translate.Text("Next")</div>
                    <button class="button button--primary button--submit hidden submit1" id="submit1" data-submission-text="@Translate.Text("Submitting")">@Translate.Text("Submit")</button>
                </div>


            </div>
            }
        </div>
    </div>

    @*<div class="grid__row">
        <div class="grid__column grid__column--12  grid__column--content">
            <img class="j01-register--footerimg" src="@footerImg">
        </div>
    </div>*@
</div>
<script>
   
    var v = @(isVirtualEvent == "true" ? "true" : "false");
	document.querySelector(".number").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});
    jQuery(document).ready(function () {

        if (v) {
            jQuery('.captcha').show();
        }
        else {
            jQuery('.captcha').hide();
        }
        jQuery('input:radio[name=Entrytype]').change(function () {
            if (jQuery("input[name='Entrytype']:checked").val() == 'Online') {
                jQuery('.captcha').show();
            }
            if (jQuery("input[name='Entrytype']:checked").val() == 'Offline') {
                jQuery('.captcha').hide();
            }
            
       });
    
    });
   
    
</script>



