@using Sitecore.Globalization
@model DEWAXP.Feature.CommonComponents.Models.Renderings.DownloadListing

@if (Model.Children.Any())
{
    <div id="listing-children">
        @foreach (var child in Model.Children)
        {
            @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Generic/M10 Download.cshtml", child)
        }
    </div>

	if (Model.Pagination.CanLoadMore)
	{
		<p>
			<button type="submit" class="button button--fullwidth" id="loadmore">@Translate.Text("More documents")</button>
			<input type="hidden" name="page" value="@Model.Pagination.CurrentPage" id="page-value" />
		</p>
	}

	<input type="hidden" name="itemId" value="@Model.Id" />
}

else
{
	<p>@Translate.Text("There are no downloads")</p>
}

