@using System.Linq
@using System.Net.Configuration
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@model DEWAXP.Feature.CommonComponents.Models.Renderings.LatestUpdateListing

@if (Model != null && Model.Children.Any())
{
    if (Model.ShowFirstDetail)
    {
        <h2 class="teaser__title">@Model.Children.First().Header</h2>
        @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Generic/LatestUpdateDetails.cshtml", Model.Children.First())
    }
    <div id="listing-holder">
        <div id="listing-children">
            @foreach (var child in Model.Children)
            {
                <div class="m8-teaser">
                    <div class="m8-teaser__content">
                        <h2 class="teaser__title"><a href="@child.Url" class="link" title="@child.Header">@child.Header</a></h2>
                        @if (child.PublishDate != DateTime.MinValue)
                        {
                            <p class="teaser__date">@child.PublishDate.ToString("d MMMM yyyy", global::Sitecore.Context.Language.CultureInfo)</p>
                        }
                        <p class="teaser__copy">@child.Summary</p>
                    </div>
                </div>

            }
        </div>



        <input type="hidden" name="itemId" value="@Model.Id" />
    </div>
}

else
{

}
