@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Links
@using Sitecore.Mvc
@using DEWAXP.Feature.CommonComponents.Models.RenderingParameters
@model DEWAXP.Feature.CommonComponents.Models.Renderings.SectionTitle

@{
    string id = Html.Sitecore().CurrentRendering.Parameters["id"] != null ? Html.Sitecore().CurrentRendering.Parameters["id"] : string.Empty;
    string extracssClass = Html.Sitecore().CurrentRendering.Parameters["extracssClass"] != null ? Html.Sitecore().CurrentRendering.Parameters["extracssClass"] : string.Empty;
}
@if (Model != null && Model.Id != Guid.Empty)
{

    var parameters = Html.Glass().GetRenderingParameters<FormattedTextSettings>();
    if (parameters.DisplayRaw)
    {
        if (!string.IsNullOrWhiteSpace(Model.Header))
        {
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    <div class="m17-sectiontitle" data-component="m17-sectiontitle" id="@id">
                        <h3 class="m17-sectiontitle__title  text__section-title">@Model.Header</h3>
                    </div>
                </div>
            </div>
        }

    }
    else
    {
        <div class="grid__row @Html.Raw(extracssClass)">
            <div class="grid__column grid__column--12">
                @if (!string.IsNullOrWhiteSpace(Model.Header))
                {
                    <div class="m17-sectiontitle" data-component="m17-sectiontitle" id="@id">
                        <h3 class="m17-sectiontitle__title  text__section-title">@Model.Header</h3>
                    </div>
                }
            </div>
        </div>
    }
}