@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Globalization
@using DEWAXP.Foundation.ORM.Models
@model PageBase

@{ 
    string hasinfo = Html.Sitecore().CurrentRendering.Parameters["m38_tracker_hasinfo"] != null ? Html.Sitecore().CurrentRendering.Parameters["m38_tracker_hasinfo"] : "false";
    string Info = Html.Sitecore().CurrentRendering.Parameters["m38_tracker_hasinfotext"]!=null ? Html.Sitecore().CurrentRendering.Parameters["m38_tracker_hasinfotext"]: Model.Header;
}
<div class="m38-step-tracker" data-component="m38-step-tracker" data-total-steps="@Html.Sitecore().CurrentRendering.Parameters["m38_total_step_value"]" data-current-step="@Html.Sitecore().CurrentRendering.Parameters["m38_current_step_value"]" data-hasInfo="@hasinfo" data-labels='{"conjunction":"@Translate.Text("of")"}'>
	<div class="m38-step-tracker__progressbar" data-m38-progressbar="true" role="progressbar" aria-valuetext="@Info">
	</div>
</div>
