@using DEWAXP.Feature.CommonComponents.Models.RenderingParameters
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model DEWAXP.Feature.CommonComponents.Models.Renderings.M78Timer

@if (Model != null)
{
<div class="m2-hero-image m2-hero-timer" data-component="m2-hero-image">
    <div class="m2-hero-image__image" style="background-image:url('@(Model.BackgroundImage != null && !string.IsNullOrWhiteSpace(Model.BackgroundImage.Src)?Model.BackgroundImage.Src: "")')"></div>
    <div class="m2-hero-image__inner" data-alt="Earth Hour 2020">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    <div class="m78-timer" data-component="m78-timer"
                         data-enddate="@Model.EndDate"
                         data-startdate="@Model.StartDate"
                         data-unitColor='{"seconds":"@Model.SecondsColor", "minutes":"@Model.MinutesColor", "hours":"@Model.HoursColor", "days":"@Model.DaysColor" }'>
                        @if (!string.IsNullOrWhiteSpace(Model.DaysText))
                        {
                        <div class="m78-timer--wrapper" unit="days">
                            <div class="m78-timer--digit">

                            </div>
                            <div class="m78-timer--clock">

                            </div>
                            <div class="m78-timer--text">
                                @Model.DaysText
                            </div>
                        </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.HoursText))
                        {
                        <div class="m78-timer--wrapper" unit="hours">
                            <div class="m78-timer--digit">

                            </div>
                            <div class="m78-timer--clock">

                            </div>
                            <div class="m78-timer--text">
                                 @Model.HoursText
                            </div>
                        </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.MinutesText))
                        {
                        <div class="m78-timer--wrapper" unit="minutes">
                            <div class="m78-timer--digit">

                            </div>
                            <div class="m78-timer--clock">

                            </div>
                            <div class="m78-timer--text">
                                 @Model.MinutesText
                            </div>
                        </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.SecondsText))
                        {
                        <div class="m78-timer--wrapper" unit="seconds">
                            <div class="m78-timer--digit">

                            </div>
                            <div class="m78-timer--clock">

                            </div>
                            <div class="m78-timer--text">
                                 @Model.SecondsText
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
}

