@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Feature.CommonComponents.Models.Renderings
@model RadioButtoncomponent

<div class="grid">
    @Html.Sitecore().Placeholder("j26/m26-page-title")
</div>
@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_form = "true", @data_parsley_focus = "none", @class = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.datasourceid)
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="form-field">
                <fieldset class="fieldset">
                    <legend class="legend-color">.</legend>
                    <div class="form-field">
                        <fieldset class="fieldset">
                            <legend class="legend-color">.</legend>
                            @{
                                int i = 0, added = 0;
                            }
                            @foreach (RadioButtoncomponentItem item in Model.Children)
                            {
                                if (item.URLLink != null)
                                {
                                    if ((item.Hideifloggedin && !Model.IsLoggedIn) || !item.Hideifloggedin)
                                    {
                                        <p class="form-field__radio ">
                                            <label>
                                                <input class="form-field__input form-field__input--radio" id="form-field-radio_1_@i"
                                                       aria-label="form-field-radio_1_@i"
                                                       name="radios_group1"
                                                       type="radio"
                                                       value="@i"
                                                       @(added == 0 ? "checked=checked" : string.Empty)
                                                       aria-describedby="description-for-qiwuv2ro1"
                                                       data-parsley-errors-container="#description-for-qiwuv2ro1">

                                                <span class="form-field__fakeradio focus-enabled">
                                                    <strong>@item.Title</strong>
                                                </span><br />
                                                <span class="form-field__description align-radio-desc">
                                                    @item.Description
                                                </span>
                                            </label>
                                        </p>
                                        added++;
                                    }
                                    i++;
                                }
                            }
                            <div id="description-for-qiwuv2ro1" class="form-field__messages">
                            </div>
                        </fieldset>
                    </div>
                </fieldset>
                <div class="form-field__button">
                    <button type="submit" id="" class="button button--primary button--next">@Model.ButtonText</button>
                </div>
            </div>
        </div>
    </div>
}