@using Sitecore.Globalization


<div id="j69-dashboardEV--map">
    <div class="j153-ev-map"
         data-evmapload="false"
         data-labels='{"loc":"<img class=m32-map--overlay-img src=/images/dewa-pin-overlay_darkgreen.png>","tel":"@Translate.Text("Phone"): ","hours":"<img class=m32-map--overlay-img src=/images/map_timings.png>","makani":"<img class=m32-map--overlay-img src=/images/makani_logo.png>","apwd":"@Translate.Text("Map.POD Support Center")","pwd":"<img class=m32-map--overlay-img src=/images/pwd_logo.png>","map":"@Translate.Text("View larger map")","nav":"@Translate.Text("Directions")", "serviceCentres":"@Translate.Text("Customer Service Centres")", "waterSupplyPoints":"@Translate.Text("Water Supply Points")", "paymentPoints":"@Translate.Text("Payments Channels")", "fastchargingPoints":"@Translate.Text("Fast EV Green Charging Stations")", "normalchargingPoints":"@Translate.Text("Normal EV Green Charging Stations")", "postOffices":"@Translate.Text("Emirates Post Office")", "ATM":"@Translate.Text("Etisalat ATM")", "ENOC":"@Translate.Text("ENOC")", "EPPCO":"@Translate.Text("EPPCO")", "cdmpoints":"@Translate.Text("ENBDCDM")"}'>
        @Html.AntiForgeryToken()
        <div class="grid">
            <div class="grid__row--tight">
                <div class="grid__column grid__column--12">
                    <!--m32-map-start-->
                    <div class="m32-map">

                        <div class="j153-ev-map_controls">
                            <div class="j153-ev-map_search-wrapper">
                                <select name="search" class="j153-ev-map_search-input"></select>
                            </div>
                            <div class="j153-ev-map_cbox-wrapper">
                                <div class="j153-ev-map_cbox">
                                    <label class="j153-ev-map_cbox-label" for="evgcharger1">
                                        <img src="/images/dewa-pin-_evcharging.png" class="tooltipstered">
                                        <input type="checkbox" name="" id="evgcharger1" class="j153-ev-map_cbox-input form-field__input--checkbox" value="2" checked="">
                                        <span class="j153-ev-map_cbox-desc  form-field__fakecheckbox">
                                            @Translate.Text("EV Green Charger - Public")
                                            <span class="j153-ev-map_cbox-loc"><span data-location-count="evgcharger"></span>@Translate.Text("Locations")</span>
                                        </span>
                                    </label>

                                </div>
                                <div class="j153-ev-map_cbox">
                                    <label class="j153-ev-map_cbox-label" for="evgcharger2">
                                        <img src="/images/dewa-pin-_fastevcharging.png" class="tooltipstered">
                                        <input type="checkbox" name="" id="evgcharger2" class="j153-ev-map_cbox-input  form-field__input--checkbox" value="1">
                                        <span class="j153-ev-map_cbox-desc  form-field__fakecheckbox">
                                            @Translate.Text("EV Green Fast Charger - Public")
                                            <span class="j153-ev-map_cbox-loc"><span data-location-count="evgfcharger"></span>@Translate.Text("Locations")</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="m32-map__overlay">
                            <div class="m32-map__button--close"></div>
                            <div class="m32-map__overlay-title">
                                <div class="m32-map__overlay-title--image"><img src="" alt="preview" /></div>
                                <div class="m32-map__overlay-title--head">
                                    <div class="m32-map__overlay-title--text"></div>
                                    <div class="m32-map__overlay-subtitle--text"></div>
                                    <div class="m32-map__larger-map"><a target="_blank" rel="noreferrer" href="#">@Translate.Text("View larger map")</a></div>
                                </div>
                            </div>
                            <div class="m32-map__overlay-address"></div>
                            <div class="m32-map__rating"></div>
                            <div class="m32-map__rating-stars">
                                <div class="m32-map__rating-stars--foreground"></div>
                            </div>
                            <div class="m32-map__rating-reviews"></div>

                        </div>

                        <div id="map"></div>

                        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_Loader.cshtml")

                        <div class="j153-ev-map_legend">
                            <div class="j153-ev-map_legend-item available">@Translate.Text("M32.Available")</div>
                            <div class="j153-ev-map_legend-item busy">@Translate.Text("M32.Busy")</div>
                            <div class="j153-ev-map_legend-item maintenance">@Translate.Text("M32.Under Maintenance")</div>
                        </div>
                    </div>
                    <!--m32-map-end-->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var checkbox = 2;
    window.check = checkbox;
</script>
