
@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc

<div class="evconsumptiongraph">
    <div class="grid__row mb32">
        <div class="grid__column grid__column--12">
            @Html.AntiForgeryToken()
            <div class="m29v3-chart m29v3-chart--EV"
                 data-cookie-id="1"
                 data-component="m29v3-chart"
                 data-x-axis-categories="JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC, JAN"
                 data-y-axis-title-text="@Translate.Text("m29 KWH")"
                 data-series="[]"
                 data-tooltip-value-suffix="@Translate.Text("m29 KWH")"
                 data-usagefor="Usage Per Month"
                 data-step="1"
                 data-legend="Showing: "
                 data-step-s="2"
                 data-default-tab="2"
                 data-x-axis-text="@Translate.Text("m29 month")"
                 data-x-axis-monthtext="@Translate.Text("m29 month")"
                 data-x-axis-daytext="@Translate.Text("m29 day")"
                 data-y-axis-text="@Translate.Text("m29 KWH")"
                 id="dvEV">
                <div class="m29v3-chart--wrapper">

                    <div class="m29v3-chart--header">
                        <div class="m29v3-chart--titlewrapper">
                            <div class="m29v3-chart--title electricity">@Translate.Text("EV_Dashboard_Consumption_Graph")</div>
                            <div id="selectevcardsdiv"></div>

                        </div>

                        <ul class="m29v3-chart--tablist m29v3-chart--tablist--ev">
                            <li class="m29v3-chart--listitem m29v3-chart--listitem--ev active m29v3-chart__container--nolegend" data-x-axis-title-text="Month" data-index="1" data-selected-series="0">@Translate.Text("m29 Monthly")</li>
                            <li class="m29v3-chart--listitem m29v3-chart--listitem--ev month_tab" data-selected-series="0" data-index="2">@Translate.Text("m29 Daily")</li>
                        </ul>

                        <div class="m29v3-chart--type">
                            <div class="m29v3-chart--typeitem m29v3-chart--typeitemactive icon-column" data-type="column">
                            </div>
                            <div class="m29v3-chart--typeitem icon-line" data-type="line">
                            </div>
                        </div>
                    </div>

                    <div class="m29v3-chart--controls" data-index="1">
                        <div class="form-field mt24">
                            <div class="form-field__label m29v3-chart--yearlabel">
                                @Translate.Text("m29 Select Year")
                            </div>
                        </div>
                        <div class="m29v3-chart--year_alert icon-new-announcement">
                            @Translate.Text("You can select up to 3 years for comparison")
                        </div>
                    </div>
                    <div class="m29v3-chart--controls" data-index="2">
                        <form method="get" action="#" class="form" data-form="true" novalidate="">
                            <div class="form-field form-field--text  ">
                                <div class="icon-pagination_active form-field__label-icon">
                                </div>
                                <div class="form-field__label form-field__label-month">
                                    @Translate.Text("m29 Select month")
                                    <label class="form-field__label aria-only" for="dp_month_ev1">@Translate.Text("m29 Select month")</label>
                                </div>
                                <span class="form-field__input-wrapper form-field__input-wrapper--monthpicker">
                                    <input class="form-field__input form-field__input--text form-field__input--monthpicker"
                                           readonly
                                           required
                                           id="dp_month_ev1"
                                           name="dp_month_ev1"
                                           type="text"
                                           placeholder="@Translate.Text("m29 Please select a month")"
                                           aria-describedby="description-for-Fromev1"
                                           data-parsley-errors-container="#description-for-Fromev1"
                                           data-parsley-error-message="@Translate.Text("m29 Please select a month")" />
                                </span>
                                <div id="description-for-Fromev1" class="form-field__messages">
                                </div>
                            </div>

                            <div class="form-field form-field--text  ">
                                <div class="icon-pagination_active form-field__label-icon">
                                </div>
                                <div class="form-field__label form-field__label-month" custom-index="1">
                                    @Translate.Text("m29 Select another month")
                                    <label class="form-field__label aria-only" for="dp_month_ev2">@Translate.Text("m29 Select another month")</label>
                                </div>
                                <span class="form-field__input-wrapper form-field__input-wrapper--monthpicker">
                                    <input class="form-field__input form-field__input--text form-field__input--monthpicker"
                                           readonly required id="dp_month_ev2"
                                           name="dp_month_ev2" type="text"
                                           placeholder="@Translate.Text("m29 Please select a month")"
                                           aria-describedby="description-for-secondev1"
                                           data-parsley-errors-container="#description-for-secondev1"
                                           data-parsley-error-message="@Translate.Text("m29 Please select a month")" />
                                </span>
                                <div id="description-for-secondev1" class="form-field__messages">
                                </div>
                            </div>
                        </form>
                        <button class="button button--senary button--very_small icon-download m29v3-chart--download ">@Translate.Text("m29 download")</button>
                    </div>
                    <div class="m29v3-chart__container m29v3-chart__container--nolegend" data-chart-container="true">
                    </div>
                    <div class="m29v3-chart__nodata-container">
                        <div class="m29v3-chart__nodata">
                            @Html.Raw(Translate.Text("m29 No data available1"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .form-field__input-wrapper--validated:after {
        content: " ";
    }
</style>
<script id="evcards-select-template" type="text/x-handlebars-template">
    <div class="form-field form-field--select form-field--select-single m29v3-chart--filter">
        <label for="form-field-cardno" class="form-field__label">
            @Translate.Text("EV_Dashboard_Card_Number")
        </label>
        <span class="form-field__input-wrapper form-field__input-wrapper--select">
            <select class="form-field__input form-field__input--select form-field__input--select-full"
                    id="form-field-evlistcards"
                    name="select"
                    aria-describedby="description-for-evlistcards"
                    data-parsley-errors-container="#description-for-evlistcards">
                {{#each this}}
                {{#if @@first}}
                <option data-activationdate="{{cardactivationdate}}" data-deactivationdate="{{deactivationdate}}" value="{{cardnumber}}" selected="selected">{{serialnumber}}</option>
                {{else}}
                <option data-activationdate="{{cardactivationdate}}" data-deactivationdate="{{deactivationdate}}" value="{{cardnumber}}">{{serialnumber}}</option>
                {{/if}}
                {{/each}}
            </select>
        </span>
        <div id="description-for-cardno" class="form-field__messages">
        </div>
    </div>
</script>
<script>
    var nodata_ev_el = "m29v3-chart-nodata";
    var dvEV = "#dvEV";
    var dpMonth1_ev = 'dp_month_ev1';
    var dpMonth2_ev = 'dp_month_ev2';
    var evcolor1 = "#007560"; var evcolor2 = "#ac631c"; var evcolor3 = "#a58c1a"; var evcolor4 = "#7a1565"; var evcolor5 = "#0a85ab";
    var ev_monthlyDataLoaded = false;
    var ev_YearDataLoaded = false;
    var ev_year_obj_default = [{ data: [], name: 'Year', color: evcolor1.toString() }, { data: [], name: '', color: evcolor2.toString() }, { data: [], name: '', color: evcolor3.toString() }, { data: [], name: '', color: evcolor4.toString() }, { data: [], name: '', color: evcolor5.toString() }]
    var ev_year_obj = JSON.parse(JSON.stringify(ev_year_obj_default));

    var ev_month_obj_default = [{ data: [], name: 'Month', color: evcolor1.toString() }, { data: [], name: '', color: evcolor2.toString() }];
    var ev_month_obj = JSON.parse(JSON.stringify(ev_month_obj_default));

    docReady(function () {
        jQuery('.m29v3-chart--tablist--ev li').off().on("click", HandleEVTabChange);
        jQuery('div.evconsumptiongraph').find('input[class~="form-field__input--text"]').off().on("change", HandleEVDateChange);
    });

</script>
@Scripts.Render("~/bundles/evconsumption")
@*<script src="/scripts/moment/moment.min.js" type="text/javascript"></script>*@