
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization;
@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content

<div class="j69-dashboard2">
@Html.Sitecore().Placeholder("greetings")

    <div class="grid">
        <div class="grid__row mb0 grid__row-tight_gutter">
            <div class="grid__column grid__column--12" "=" ">
                <div class="m26-page-title ">
                    <div class="m26-page-title__links">
                        <p class="m26-page-title__backlink">
                            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)" class="button button--text button--back link">@Translate.Text("Back")</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid__row mt24 grid__row-tight_gutter">
            <div class="grid__column grid__column--6">
                <!-- m43-account-selector-start -->
                <form id="form-account-selector" method="GET" form-skipvalidation="true">
                    @Html.AntiForgeryToken()
                    @Html.Sitecore().Placeholder("j69/account-selector")
                </form>
                <!-- m42-account-selector-end -->
            </div>
        </div>
    </div>
    </div>
<div class="box--news j69-dashboard2">
    <div class="grid">
        @Html.Sitecore().Placeholder("component")
    </div>
</div>
