@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@using Glass.Mapper.Sc
@using Sitecore.Data.Items

<div class="grid__row mb32">
    <div class="grid__column grid__column--12" id="listofcardsdiv">
        <div class="j69-dashboard--card">
            <div class="j69-dashboard--card_header">
                <div class="j69-dashboard--card_title">
                    @Translate.Text("EV_Dashboard_Manage_My_Cards")
                </div>
            </div>
            <div data-component="m100-ev-card">
                <div id="listofcard-placeholder" class="listofcard-placeholder"></div>
                <div class="m39-modal m39-modal--ev_cardtitle" data-component="m39-modal" id="modal_true">
                    <button data-trigger="true" class="m39-modal__trigger"
                            type="button" id="_wflekw4ac_trigger"
                            aria-controls="_wflekw4ac_content">
                        <span class="aria-only">@Translate.Text("EV_Dashboard_Card_Title_Change")</span>
                    </button>
                    <div data-content="true" class="m39-modal__container" role="dialog"
                         aria-expanded="true" id="_wflekw4ac_content" aria-labelledby="_wflekw4ac_trigger">
                        <div class="m39-modal__dialog ">
                            <div class="m39-modal__header">
                                <div class="m39-modal__title">@Translate.Text("EV_Dashboard_Rename_EV_Card")</div>
                                <button data-close="true" class="m39-modal__button--close renameclose"
                                        id="_wflekw4ac_close" aria-controls="_wflekw4ac_content">
                                    <span class="aria-only">@Translate.Text("Close")</span>
                                </button>
                            </div>
                            <div class="m39-modal__content" style="top: 60px;">
                                <form method="get" action="#" class="form" data-form="true" novalidate="">
                                    <div class="form-field form-field--text">
                                        <label for="form-field-evrenametext" class="form-field__label">
                                            @Translate.Text("EV_Dashboard_Enter_New_card_Name")
                                        </label>
                                        <span class="form-field__input-wrapper">
                                            <input class="form-field__input form-field__input--text form-field__input--cardtitle"
                                                   id="form-field-evrenametext"
                                                   name="text"
                                                   type="text"
                                                   placeholder="Enter new card's name"
                                                   aria-describedby="description-for-evrenametext"
                                                   data-parsley-errors-container="#description-for-evrenametext"
                                                   data-parsley-trigger="focusout"
                                                   data-parsley-id="12"
                                                   oninput="javascript: if (this.value.length > 0) { this.value = this.value.replace(/^ +/, ''); } if (this.value.length > 25) { this.value = this.value.trim(); this.value = this.value.slice(0, 25); }">
                                        </span>
                                        <div id="description-for-evrenametext" class="form-field__messages">
                                        </div>
                                    </div>
                                    <div class="form-field__button align_left">
                                        <button class="button button--primary evrenamebutton" data-cardid="" data-modal="">@Translate.Text("Submit")</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="m39-modal__overlay" style="display: block;"> </div>
                </div>
            </div>
            <span class="">@Translate.Text("EV_Dashboard_Listof_Cards_Disclaimer")</span>
        </div>
    </div>
</div>
<script id="listofcards-item-template" type="text/x-handlebars-template">
    {{#each_upto this 3}}
    <div class="m100-ev-card" style="background-image: url('/images/ev_card_bg.png');">
        <div class="m100-ev-card--ratiodiv"></div>
        <div class="m100-ev-card--header">
            <div class="m100-ev-card--name">
                {{contractaccountname}}
            </div>
            <div class="m100-ev-card--actions icon-b-new-dots-menu">
                @*@Translate.Text("EV_Dashboard_Card_Actions")*@
            </div>
            <div class="m100-ev-card--actions_box">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EV_DeActivateLandingPage)?c={{cardnumber}}" class="m100-ev-card--actions_link icon-new-bin">@Translate.Text("EV_Dashboard_Deactive_EV_Card")</a>
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EV_ReplaceLandingPage)?c={{cardnumber}}" class="m100-ev-card--actions_link icon-b-ev-reactivate">@Translate.Text("EV_Dashboard_Replace_EV_Card")</a>
                @*<a data-cardid="{{cardnumber}}" class="m100-ev-card--actions_link evbookmark icon-b-bookmark-off">
                        {{#bookmarked bookmarkflag}}
                        @Translate.Text("EV_Dashboard_Remove_Bookmark_EV_Card")
                        {{else}}
                        @Translate.Text("EV_Dashboard_Bookmark_EV_Card")
                        {{/bookmarked}}
                    </a>*@
                <a class="m100-ev-card--actions_link icon-Leave_Feedback evrename" data-cardid="{{cardnumber}}" data-card-title="{{nickname}}">@Translate.Text("EV_Dashboard_Rename_EV_Card")</a>
            </div>
        </div>

        <div class="m100-ev-card--title">
            <div class="m100-ev-card--title_title">
                @Translate.Text("EV_Dashboard_Card_Title")
            </div>
            <div class="m100-ev-card--title_name">
                {{nickname}}
            </div>
        </div>
        {{#bookmarked bookmarkflag}}
        <div data-cardid="{{cardnumber}}" class="m100-ev-card--bookmark evbookmark icon-b-bookmark-on">
        </div>
        {{else}}
        <div data-cardid="{{cardnumber}}" class="m100-ev-card--bookmark evbookmark icon-b-bookmark-off">
        </div>
        {{/bookmarked}}
        <div class="m100-ev-card--footer">
            <div class="m100-ev-card--detail">
                <div class="m100-ev-card--detail_key">
                    @Translate.Text("EV_Dashboard_Card_Number")
                </div>
                <div class="m100-ev-card--detail_value">
                    {{serialnumber}}
                </div>
            </div>
            <div class="m100-ev-card--detail">
                <div class="m100-ev-card--detail_key">
                    @Translate.Text("EV_Dashboard_EV_Number")
                </div>
                <div class="m100-ev-card--detail_value">
                    {{platenumber}}
                </div>
            </div>
        </div>
    </div>
    {{/each_upto}}
    <div class="m100-ev-card--buttons">
        <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EV_ApplyCardLandingPage)" class="button button--outline button--fullwidth-mobile">@Translate.Text("EV_Dashboard_Request_New_Card")</a>
        <div class="m39-modal m39-modal--nofocus" data-component="m39-modal" id="modal_true">
            <button data-trigger="true" class="button button--primary button--fullwidth-mobile" type="button" id="_iopsvk8sl_trigger" aria-controls="_iopsvk8sl_content">@Translate.Text("View All")</button>
            <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="true" id="_iopsvk8sl_content" aria-labelledby="_iopsvk8sl_trigger">
                <div class="m39-modal__dialog ">
                    <div class="m39-modal__header">
                        <div class="j69-dashboard--card_filter">
                            <label for="form-field-listofcardmodal" class="form-field__label aria-only">
                                @Translate.Text("Select")
                            </label>
                            <span class="form-field__input-wrapper">
                                <input class="form-field__input form-field__input--text"
                                       id="form-field-listofcardmodal" name="text"
                                       type="text" placeholder="@Translate.Text("EV_Dashboard_Search_card_number")"
                                       aria-describedby="description-for-listofcardmodal"
                                       data-parsley-errors-container="#description-for-listofcardmodal"
                                       required="" data-parsley-required-message="This field is required"
                                       data-parsley-trigger="focusout" data-parsley-id="12"
                                       aria-invalid="true">
                                <ul class="parsley-errors-list filled" id="parsley-id-12"></ul>
                                <button type="submit" id="listofcardsearchbutton" class="icon-search"><span class="aria-only">@Translate.Text("Submit")</span></button>
                            </span>
                        </div>
                        <button data-close="true" class="m39-modal__button--close viewallclose" id="_iopsvk8sl_close" aria-controls="_iopsvk8sl_content">@Translate.Text("Close")</button>
                    </div>
                    <div class="m39-modal__content" style="top: 100px;">
                        <div class="m100-table">
                            <table class="m100-table__content-table">
                                <thead class="m100-table__content-table-header">
                                    <tr class="m100-table__content-table-row">
                                        <th class="m100-table__content-table-cell--header">@Translate.Text("EV_Dashboard_Card_Holder")</th>
                                        <th class="m100-table__content-table-cell--header">@Translate.Text("EV_Dashboard_Card_Number")</th>
                                        <th class="m100-table__content-table-cell--header">@Translate.Text("EV_Dashboard_EV_Number")</th>
                                        <th class="m100-table__content-table-cell--header"><span class="aria-only">@Translate.Text("Bookmark")</span></th>
                                        <th class="m100-table__content-table-cell--header"><span class="aria-only">@Translate.Text("Actions")</span></th>
                                    </tr>
                                </thead>
                                <tbody id="modallistofcards" class="m100-table__content-table-body"></tbody>
                            </table>
                        </div>
                        <div id="evlistpagination-list">

                        </div>
                    </div>
                </div>
            </div>
            <div class="m39-modal__overlay" style="display: block;"> </div>
        </div>
    </div>
</script>
<script id="listofcards-modal-template" type="text/x-handlebars-template">
    {{#each this}}
    <tr class="m100-table__content-table-row">
        <td class="m100-table__content-table-cell">
            {{#if nickname}}
            {{nickname}}
            {{else}}
            {{contractaccountname}}
            {{/if}}
        </td>
        <td class="m100-table__content-table-cell">
            <strong class="green">{{serialnumber}}</strong>
        </td>
        <td class="m100-table__content-table-cell">
            <span class="border-1 radius-3 padding p-l-5 p-r-5">{{platenumber}}</span>
        </td>
        <td class="m100-table__content-table-cell">
            {{#bookmarked bookmarkflag}}
            <div data-cardid="{{cardnumber}}" data-modal="true" class="evbookmark icon-b-bookmark-on">
            </div>
            {{else}}
            <div data-cardid="{{cardnumber}}" data-modal="true" class="evbookmark icon-b-bookmark-off">
            </div>
            {{/bookmarked}}
            @*{{#bookmarked bookmarkflag}}
                <span class=" icon-b-bookmark-on">
                </span>
                {{else}}
                <span class="icon-b-bookmark-off">
                </span>
                {{/bookmarked}}*@
        </td>
        <td class="m100-table__content-table-cell">
            <div class="m100-ev-card--actions icon-b-new-dots-menu">
            </div>
            <div class="m100-ev-card--actions_box">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EV_DeActivateLandingPage)?c={{cardnumber}}" class="m100-ev-card--actions_link icon-new-bin">@Translate.Text("EV_Dashboard_Deactive_EV_Card")</a>
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EV_ReplaceLandingPage)?c={{cardnumber}}" class="m100-ev-card--actions_link icon-b-ev-reactivate">@Translate.Text("EV_Dashboard_Replace_EV_Card")</a>
                @*<a data-cardid="{{cardnumber}}" data-modal="true" class="m100-ev-card--actions_link evbookmark icon-b-bookmark-off">
                        {{#bookmarked bookmarkflag}}
                        @Translate.Text("EV_Dashboard_Remove_Bookmark_EV_Card")
                        {{else}}
                        @Translate.Text("EV_Dashboard_Bookmark_EV_Card")
                        {{/bookmarked}}
                    </a>*@
                <a class="m100-ev-card--actions_link icon-Leave_Feedback evrename" data-cardid="{{cardnumber}}" data-modal="true" data-card-title="{{nickname}}">@Translate.Text("EV_Dashboard_Rename_EV_Card")</a>
            </div>
        </td>
    </tr>
    {{/each}}
</script>
<script id="listofcards-pagination-template" type="text/x-handlebars-template">
    <div class="m34-pagination">
        <div class="m34-pagination__content">
            {{#if previouspage}}
            <a onclick="evlistofcardsselection({{firstpagenumber}})" class="pagination--first" role="button" aria-label="@Translate.Text(" First")">
                <span role="button" aria-label="Prev" class="button button--text button--back m34-pagination__button--prev"></span>
                <span role="button" aria-label="Prev" class="button button--text button--back m34-pagination__button--prev second"></span>
            </a>
            {{/if}}
            {{#if previouspage}}
            <a onclick="evlistofcardsselection({{previouspagenumber}})" role="button" aria-label="@Translate.Text(" Previous")" class="button button--text button--back m34-pagination__button--prev pagination--prev">@Translate.Text("Previous")</a>
            {{/if}}
            <ul class="m34-pagination__page-list">
                {{#pagenumbers}}
                {{#ifCond ../page this}}
                <li data-index="{{this}}" class="m34-pagination__page-list-item  m34-pagination__page-list-item--active">
                    <a onclick="evlistofcardsselection({{this}})" role="button" aria-label="" class="button button--text button--icon-none m34-pagination__button--page">{{this}}</a>
                </li>
                {{else}}
                <li data-index="{{this}}" class="m34-pagination__page-list-item">
                    <a onclick="evlistofcardsselection({{this}})" role="button" aria-label="" class="button button--text button--icon-none m34-pagination__button--page">{{this}}</a>
                </li>
                {{/ifCond}}
                {{/pagenumbers}}
            </ul>
            {{#if nextpage}}
            <a onclick="evlistofcardsselection({{nextpagenumber}})" role="button" aria-label="@Translate.Text(" Next")" class="button button--text button--next m34-pagination__button--next pagination--next">@Translate.Text("Next")</a>
            {{/if}}
            {{#if nextpage}}
            <a onclick="evlistofcardsselection({{lastpagenumber}})" class="pagination--last" role="button" aria-label="@Translate.Text(" Last")">
                <span aria-label="Next" class="button button--text button--next m34-pagination__button--next"></span>
                <span aria-label="Next" class="button button--text button--next m34-pagination__button--next second"></span>
            </a>
            {{/if}}
        </div>
    </div>
</script>
<script id="listofcards-error-template" type="text/x-handlebars-template">
    <div id="listofcardserror">
        {{this}}
    </div>
</script>
@Scripts.Render("~/bundles/listofevcards")
