@model DEWAXP.Feature.IdealHome.Models.IdealHomeConsumer.User
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
<style>
    .user-widget {
        z-index: 9;
    }

    .user-widget__name {
        padding: 0 8px;
    }

    @@media screen and (min-width: 1025px) {
        .dashboard__header {
            top: 90px;
        }
    }

    @@media screen and (max-width: 1024px) {
        .dashboard__header {
            top: unset;
        }
    }
</style>

<div class="grid">

    <div class="dashboard__header">

        <div class="dashboard__user-widget">
            <div class="user-widget">


                <img src="~/images/IdealHome/profile-icon.png" class="user-widget__image" width="54" height="54" alt="@Model.FullName">

                <p>
                    <strong class="user-widget__name">@Model.FullName</strong>
                </p>



                <ul class="user-widget__links">
                    <li class="user-widget__link-item">
                        <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.IDEALHOMWCONSUMER_USER_PROFILE)" class="user-widget__link user-widget__link--profile">@Translate.Text("J106.MyProfile")</a>
                    </li>
                    <li class="user-widget__link-item">

                        <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.IDEALHOMECONSUMER_LOGOFF)" class="user-widget__link">@Translate.Text("P106.LogOff")</a>

                    </li>
                </ul>



            </div>


        </div>



    </div>

</div>