@using System.Globalization
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@model DEWAXP.Feature.CommonComponents.Models.Footer.Footer

@if (Model != null)
{
	<footer class="m13-footer m13-footer--nobg" data-component="m13-footer">
		<div class="m13-supplementary">
			<div class="m13-supplementary__wrapper">
				<div class="m13-supplementary__content">
					<p class="text__content-subcopy" style="text-align: center">@Html.Glass().Editable(x => x.Note)</p>
					<p class="text__content-subcopy" style="text-align: center">@Html.Glass().Editable(x => x.Subnote)</p>
					<p class="text__content-subcopy m13-footer-updated" style="text-align: center">@Translate.Text("Page last updated on") @Model.Updated.ToString("d MMMM yyyy", global::Sitecore.Context.Language.CultureInfo)</p>
				</div>
			</div>
		</div>
	</footer>
}

<script>
    var url = "@Request.Url.Scheme://@Request.Url.Host@Request.QueryString["item"]";
    $("#notfoundurl").text(url);
</script>

