@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Links
@model DEWAXP.Feature.CommonComponents.Models.Renderings.M60CarouselSlide

<footer class="m13-footer scene_element scene_element--fadeinup" data-component="m13-footer">

    <div class="m13-footer--wrapper">

        <img src="@Model.Image.Src" alt="" height="80">
        <div class="m13-footer--intro">
            <div class="m13-footer--intro-ideas">@Model.Header</div>
            <div class="m13-footer--intro-esuggest">@Model.Subheader</div>
        </div>
        <div class="m13-footer--submit--wrapper">
            <a href="@(Model.ButtonLink != null ? @LinkManager.GetItemUrl(Model.ButtonLink) : "#")" class="button m13-footer--submit--button">@Model.ButtonText</a>
        </div>
    </div>
</footer>