@using System.Globalization
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc

@model DEWAXP.Feature.CommonComponents.Models.Renderings.Teasers.QuickImageLinksSection
<footer>
    <div class="m18-quick-tools flex-center" data-component="m18-quick-tools">
        <div class="m18-quick-tools--container">
            <div class="m18-quick-tools--wrapper">

                <div class="m18-quick-tools--panelouter">
                    <div class="m18-quick-tools--panel m18-quick-tools--panel--2">
                        <div class="m18-quick-tools--content">
                            @foreach (var quickImageItem in Model.QuickM7Teaser)
                            {
                                if (quickImageItem != null && quickImageItem.Link != null && quickImageItem.Image != null)
                                {
                                    if (!quickImageItem.OpenInNewTab)
                                    {
                                        <div class="m7-teaser m7-teaser--variant" data-iframeContent="@(quickImageItem.Link.Url)">
                                            <div class="m7-teaser__image">
                                                <div class="m7-teaser__image-item_wrapper">
                                                    @Html.Glass().RenderImage(quickImageItem, x => x.Image, new { @class = "m7-teaser__image-item", @alt = quickImageItem.Image.Alt, title = quickImageItem.Image.Title }, true, false)
                                                </div>
                                            </div>
                                            <div class="m7-teaser__content">
                                                <div>
                                                    @if (!string.IsNullOrWhiteSpace(quickImageItem.Header))
                                                    {
                                                        <h3 class="teaser__title">@Html.Glass().Editable(quickImageItem, x => x.Header)</h3>
                                                    }
                                                    @if (!string.IsNullOrWhiteSpace(quickImageItem.Subheader))
                                                    {
                                                        <p class="m7-teaser__copy teaser__copy">@Html.Raw(Html.Glass().Editable(quickImageItem, x => x.Subheader))</p>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <a class="m7-teaser m7-teaser--variant" href="@(quickImageItem.Link.Url)" target="_blank">
                                            <div class="m7-teaser__image">
                                                <div class="m7-teaser__image-item_wrapper">
                                                    @Html.Glass().RenderImage(quickImageItem, x => x.Image, new { @class = "m7-teaser__image-item", @alt = quickImageItem.Image.Alt, title = quickImageItem.Image.Title }, true, false)
                                                </div>
                                            </div>
                                            <div class="m7-teaser__content">
                                                <div>
                                                    @if (!string.IsNullOrWhiteSpace(quickImageItem.Header))
                                                    {
                                                        <h3 class="teaser__title">@Html.Glass().Editable(quickImageItem, x => x.Header)</h3>
                                                    }
                                                    @if (!string.IsNullOrWhiteSpace(quickImageItem.Subheader))
                                                    {
                                                        <p class="m7-teaser__copy teaser__copy">@Html.Raw(Html.Glass().Editable(quickImageItem, x => x.Subheader))</p>
                                                    }

                                                </div>
                                            </div>
                                        </a>
                                    }

                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
