@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization

@model DEWAXP.Feature.CommonComponents.Models.Renderings.Header

@if (Model != null)
{
    <ul class="skip-content">
        <li><a href="#rs_area">@Translate.Text("Skip to the content")</a></li>
        <li><a href="#nav">@Translate.Text("Skip to the Navigation")</a></li>
    </ul>
    <header class="m12-masthead" data-component="m12-masthead" data-idletime="600000000">
        <div class="m12-main">
            <div class="m12-main__logos">

                <div class="skip-content"><a class="skip-main" href="#main">@Translate.Text("Skip to the content")</a></div>

                <div class="m12-logo m12-logo--government">
                    @using (Html.Glass().BeginRenderLink(Model, x => x.GovernmentLink))
                    {
                        @Html.Glass().RenderImage(Model, x => x.GovernmentImage, new { @alt = Model.GovernmentImage.Alt, title = Model.GovernmentImage.Title, @class = "m12-logo-image--government" }, true, false)
                    }
                </div>
                @if (Model.YearofImage != null && !string.IsNullOrWhiteSpace(Model.YearofImage.Src))
                {
                    <div class="m12-logo m12-logo--yoi">
                        @using (Html.Glass().BeginRenderLink(Model, x => x.YearofLink))
                        {
                            @Html.Glass().RenderImage(Model, x => x.YearofImage, new { @alt = Model.YearofImage.Alt, title = Model.YearofImage.Title, @class = "m12-logo-image--yoi" }, true, false)
                        }
                    </div>
                }

                <div class="m12-logo m12-logo--dewa">
                    @using (Html.Glass().BeginRenderLink(Model, x => x.DewaLink))
                    {
                        @Html.Glass().RenderImage(Model, x => x.DewaImage, new { @alt = Model.DewaImage.Alt, title = Model.DewaImage.Title, @class = "m12-logo-image--dewa" }, true, false)
                    }
                </div>

            </div>
        </div>
    </header>

}
