@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
            <div class="m40-status-message__title icon--success">@Translate.Text("submission successful text")</div>
            <div class="m40-status-message__text">@Translate.Text("password changed text")</div>
        </div>
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <h2 class="text__section-title text__section-title--centered">@Translate.Text("whats next link text")</h2> <div class="links-list">
            <div class="form-field__button centered">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)" class="button button--primary">@Translate.Text("return home link text")</a>
                <a href="@Url.Action("Logout", "Account")" class="button button--primary">@Translate.Text("log out link text")</a>
            </div>
        </div>
    </div>
</div>
