@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@model DEWAXP.Foundation.Content.Models.AccountModel.ForgotUsernameModel

<div class="grid">
	<div class="grid__row">
		<div class="grid__column grid__column--12">
			@Html.Sitecore().Placeholder("j7/m26-page-title")
		</div>
	</div>

	<div class="grid__row">
		<div class="grid__column grid__column--12 grid__column--form">
			@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_form = "true", @data_parsley_focus = "none", @class = "form", @data_submit_validate = "enabled" }))
			{
				@Html.Sitecore().FormHandler()
				@Html.AntiForgeryToken()
				@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
				<fieldset class="fieldset">
                    <legend class="legend-color">.</legend>
					<div class="form-field form-field--text">
						<label for="form-field-businesspartnernumber" class="form-field__label">
							@Translate.Text(DictionaryKeys.Global.Account.BusinessPartnerLabel)
							
						</label>
						<span class="form-field__input-wrapper">
							@Html.TextBoxFor(x => x.BusinessPartnerNumber, new
                       {
                           @class = "form-field__input form-field__input--text",
                           @id = "form-field-businesspartnernumber",
                           @placeholder = Translate.Text(DictionaryKeys.Global.Account.BusinessPartnerLabel),
                           @type = "number", @lang="en",
                           @required = "required",
                           @data_parsley_error_message = Translate.Text("register business partner validation message"),
                           @data_parsley_errors_container = "#description-for-businesspartnernumber",
                           @data_parsley_bpn = "",
                           @aria_describedby = "description-for-businesspartnernumber",
                           @data_parsley_pattern=@"[\d]{8}"
                       })
						</span>
						<div id="description-for-businesspartnernumber" class="form-field__messages">
							<p class="form-field__description">
								<a class="link" href=@Translate.Text("understand your bill url")>@Translate.Text("How to find this number")</a>
							</p>
							@Html.ValidationMessageFor(x => x.BusinessPartnerNumber, "", new { @class = "parsley-errors-list" })
						</div>
					</div>
					<div class="form-field form-field--text">
						<label for="form-field-email" class="form-field__label">
							@Translate.Text("email label")
							
						</label>
						<span class="form-field__input-wrapper">
							@Html.TextBoxFor(x => x.Email, new
							{
								@class = "form-field__input form-field__input--text",
								@id = "form-field-email",
								@placeholder = Translate.Text("J106.EnterEmailAddress"),
								@required = "required",
								@type = "email",
								@data_parsley_error_message = Translate.Text("email validation message"),
								@data_parsley_errors_container = "#description-for-email",
								@aria_describedby = "description-for-email"
							})
						</span>
						<div id="description-for-email" class="form-field__messages">
							@Html.ValidationMessageFor(x => x.Email, "", new { @class = "parsley-errors-list" })
						</div>
					</div>
				</fieldset>
				<div class="form-field__button">
					<button class="button button--primary button--fullwidth" type="submit" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("send recovery email button text")</button>
				</div>
			}
			<p class="help-text">
				@Translate.Text("help text") <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.CUSTOMER_SERVICES_FAQ)?id=m25-tab-13" class="link">@Translate.Text("help section text")</a>
			</p>
		</div>
	</div>
</div>
<script src="~/scripts/External/nml/form-submit-validate.js"></script>
