
@model DEWAXP.Foundation.Content.Models.AccountModel.LoginModel
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization

<div class="j07-customer-login">
    <div class="grid">
        <div class="grid__row mt24">
            <div class="grid__column grid__column--12 p0">
                <div class="m17-sectiontitle m17-sectiontitle__title--green" data-component="m17-sectiontitle">
                    <h3 class="m17-sectiontitle__title  text__section-title">@Translate.Text("Welcome to DEWA")</h3>
                </div>
            </div>
        </div>
        <div class="grid__row">
            <!-- start pre logged content -->
            <div class="grid__column grid__column--3">
                <h2 class="m12-subsection__title">@Translate.Text("I am a")</h2>
                <ul class="links-list">
                    @*<li class="links-list__item"><a href="#" class="links-list__link active">Individual</a></li>
        <li class="links-list__item"><a href="#" class="links-list__link">Business</a></li>
        <li class="links-list__item"><a href="#" class="links-list__link">Partner/Supplier</a></li>
        <li class="links-list__item"><a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J8_GOVT_LOGIN_PAGE)" class="links-list__link">@Translate.Text("Government")</a></li>*@
                    <li class="links-list__item"><a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J7_LOGIN_PAGE)" class="links-list__link">@Translate.Text("Individual")</a></li>
                    <li class="links-list__item"><a href="https://crm.dewa.gov.ae/irj/portal/anonymous" class="links-list__link">@Translate.Text("Contractors & Consultants")</a></li>
                    <li class="links-list__item"><a href="https://srm.dewa.gov.ae/irj/portal/anonymous" class="links-list__link">@Translate.Text("Suppliers")</a></li>
                    @*<li class="links-list__item"><a href="https://e-services.dewa.gov.ae/partners/login.aspx" class="links-list__link">@Translate.Text("Partners")</a></li>*@

                    @*<li class="links-list__item"><a href="https://careers.dewa.gov.ae/irj/portal/anonymous/onbp?lang=en" class="links-list__link">@Translate.Text("Careers")</a></li>*@
                    <li class="links-list__item"><a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.CAREER_POTAL_LOGIN)" class="links-list__link">@Translate.Text("Careers")</a></li>
                    <li class="links-list__item"><a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J8_GOVT_LOGIN_PAGE)" class="links-list__link active">@Translate.Text("Government")</a></li>
                    <li class="links-list__item"><a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EXPO_LOGIN_PAGE)" class="links-list__link">@Translate.Text("Expo2020login")</a></li>
                    <li class="links-list__item"><a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.MISCELLANEOUS_LOGIN)" class="links-list__link">@Translate.Text("SS_MiscellaneousTitle")</a></li>
                </ul>
            </div>
            <div class="grid__column grid__column--5">
                <div class="m12-subsection_login-wrapper">
                    <h2 class="m12-subsection__title mobile-hide">@Translate.Text("Government Login")</h2>
                    <div class="m12-myaccount__login-form">
                        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, new { returnUrl = ViewBag.ReturnUrl, channelId = Request.QueryString["channelId"], conversationId = Request.QueryString["conversationId"], surl = Request.QueryString["surl"], activityId = Request.QueryString["activityId"], fromId = Request.QueryString["fromId"], fromName = Request.QueryString["fromName"], toId = Request.QueryString["toId"], toName = Request.QueryString["toName"], languageCode = Request.QueryString["languageCode"], loginType = Request.QueryString["loginType"] }, FormMethod.Post, new { @id = "govForm", @data_parsley_focus = "true", @data_form = "true", @class = "form", @data_submit_validate = "enabled", @novalidate = string.Empty, @autocomplete = "off" }))
                        {
                            @Html.Sitecore().FormHandler()
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="loginattempt" value="@ViewBag.loginattempt" />
                            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

                            <div class="form-field form-field--text">
                                <label for="form-field-login-govt-username" class="form-field__label">
                                    @Translate.Text("username label")
                                </label>
                                <span class="form-field__input-wrapper">
                                    @Html.TextBoxFor(x => x.Username, new
                               {
                                   @class = "form-field__input form-field__input--text",
                                   @type = "text",
                                   @id = "form-field-login-govt-username",
                                   @placeholder = Translate.Text("username label"),
                                   @required = "required",
                                   @data_parsley_error_message = Translate.Text("generic validation message"),
                                   @data_parsley_errors_container = "#description-for-login-govt-username",
                                   @aria_describedby = "description-for-login-govt-username",
                                   @tabindex = "1"
                               })
                                </span>
                                <div id="description-for-login-govt-username" class="form-field__messages">
                                    @Html.ValidationMessageFor(x => x.Username, "", new { @class = "parsley-errors-list" })
                                    <p class="form-field__helplink">
                                        <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J7_FORGOT_USERNAME)">@Translate.Text("forgot username link text")</a>
                                    </p>
                                </div>
                            </div>
                            <div class="form-field form-field--text mt0">
                                <label for="form-field-login-govt-password" class="form-field__label">
                                    @Translate.Text("login password label")
                                </label>
                                <span class="form-field__input-wrapper">
                                    @Html.PasswordFor(x => x.Password, new
                               {
                                   @class = "form-field__input form-field__input--text",
                                   @id = "form-field-login-govt-password",
                                   @placeholder = Translate.Text("login password label"),
                                   @type = "password",
                                   @autocomplete="off",
                                   @required = "required",
                                   @data_parsley_errors_container = "#description-for-login-govt-password",
                                   @aria_describedby = "description-for-login-govt-password",
                                   @data_parsley_error_message = Translate.Text("login password validation message"),
                                   @data_parsley_password = "#form-field-login-govt-username",
                                   @tabindex = "1"
                               })
                                </span>
                                <div id="description-for-login-govt-password" class="form-field__messages">
                                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "parsley-errors-list" })
                                    <p class="form-field__helplink">
                                        <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J7_FORGOT_PASSWORD)">@Translate.Text("forgot password link text")</a>
                                    </p>
                                </div>
                            </div>
                            <div class="form-field form-field--toggles mt0">
                                <fieldset class="fieldset">
                                    <legend class="form-field__label aria-only">
                                        @Translate.Text("header.rememberme")
                                        <span class="form-field__label-optional">(optional)</span>
                                    </legend>
                                    <div class="form-field__checkbox  last  first">
                                        <label for="rememberme">
                                            <input class="form-field__input form-field__input--checkbox" id="rememberme" name="checkbox_rememberme1" type="checkbox" value="1" aria-describedby="description-for-jpjw6rpk1" data-parsley-errors-container="#description-for-jpjw6rpk1">
                                            <span class="form-field__fakecheckbox focus-enabled">
                                                @Translate.Text("header.rememberme")
                                            </span>
                                        </label>
                                    </div>
                                    <div id="description-for-jpjw6rpk1" class="form-field__messages">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-field__button">
                                <button id="loginButton" type="submit" class="button button--primary" data-submission-text="@Translate.Text("Logging in")...">@Translate.Text("login button text")</button>
                            </div>

                        }
                    </div>
                    @Html.Sitecore().Placeholder("loginsession")
                </div>
            </div>
            <!-- end pre logged content -->
        </div>

    </div>
</div>

<script>
    docReady(function () {
        setTimeout(function () {

            try {
                var uid = readCookie("gvtuid");;
                if (uid != null && uid != undefined && uid != "") {
                    jQuery("#form-field-login-govt-username").val(window.atob(uid));
                    jQuery("#rememberme").prop("checked", true);
                }
            } catch (e) {
                console.log(e);
            }

            jQuery("#govForm").submit(function () {
                try {
                    var isRemember = jQuery("#rememberme").prop("checked");
                    if (isRemember) {
                        var v = jQuery("#form-field-login-govt-username").val();
                        if (v != null && v != undefined && v != "") {
                            createCookie("gvtuid", window.btoa(v), 7);
                        }
                      
                    } else {
                        eraseCookie("gvtuid");
                    }
                } catch (e) {
                    console.log(e);
                }
                return true;
            })

        }, 100);
    });
</script>
<script src="~/scripts/External/nml/form-submit-validate.js"></script>