@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@model DEWAXP.Foundation.Content.Models.AccountModel.SetNewPasswordModel


<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @data_form = "true", @data_parsley_focus = "none", @data_submit_validate = "enabled", @novalidate="true" }))
		{
            @Html.Sitecore().FormHandler()
            @Html.AntiForgeryToken()

            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            if (ViewBag.reseterror!=true)
            {
                <fieldset class="fieldset">
                    <legend class="legend-color">.</legend>
                    @Html.HiddenFor(x => x.SessionToken)
                    @Html.HiddenFor(x => x.Username)

                    <div class="form-field form-field--text">
                        <label for="form-field-password" class="form-field__label">
                            @Translate.Text("password label")
                        </label>

                        <span class="form-field__input-wrapper">
                            @Html.PasswordFor(x => x.Password, new
						{
							@class = "form-field__input form-field__input--text",
							@id = "form-field-password",
							@placeholder = Translate.Text("password label"),
                            @required = "required",
                            @type = "password",
                            @data_parsley_error_message = Translate.Text("login password validation message alphanumeric"),
							@data_parsley_errors_container = "#description-for-set-password",
                            @data_parsley_password = "",
							@aria_describedby = "description-for-set-password",
                            @autocomplete = "off"
						})
                        </span>

                        <div id="description-for-set-password" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.Password, string.Empty, new {@class = "parsley-errors-list"})
                        </div>
                    </div>

                    <div class="form-field form-field--text">
                        <label for="form-field-confirm_password" class="form-field__label">
                            @Translate.Text("confirm password label")
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.PasswordFor(x => x.ConfirmPassword, new
						{
							@class = "form-field__input form-field__input--text",
							@id = "form-field-confirm_password",
							@placeholder = Translate.Text("confirm password label"),
                            @required = "required",
                            @type = "password",
							@data_parsley_errors_container = "#description-for-confirm_password",
							@aria_describedby = "description-for-confirm_password",
							@data_parsley_error_message = Translate.Text("Password mismatch error"),
							@data_parsley_equalto = "#form-field-password",
                            @autocomplete = "off"
						})
                        </span>

                        <div id="description-for-confirm_password" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, string.Empty, new {@class = "parsley-errors-list"})
                        </div>
                    </div>
                </fieldset>

                <div class="form-field__button">
                    <button class="button button--primary button--fullwidth" type="submit" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("save and login button text")</button>
                </div>
            }
		}
    </div>
</div>
<script src="~/scripts/External/nml/form-submit-validate.js"></script>
