@using Sitecore.Mvc
@using Sitecore.Resources.Media
@using Sitecore.Globalization
@model DEWAXP.Feature.CommonComponents.Models.Renderings.CarouselSet

@if (Model != null && Model.Children != null)
{
<div class="grid__column grid__column--6">
    <div class="j157-ir-resources-title">
        @Model.Header
    </div>
    <ul class="j157-ir-resources-ul">
        @foreach (var item in Model.Children)
        {
            <li class="j157-ir-resources-li">
                <div class="j157-ir-resources-link">
                    @item.DownloadButtonText
                    <div class="j157-ir-resources-linklist">
                        @if (item.FileMediaItem != null)
                        {
                        <a href="@(item.FileMediaItem != null ? MediaManager.GetMediaUrl(item.FileMediaItem) : "#")" target="_blank">@Translate.Text("lang.en")</a>
                        }
                        @if (item.FileMediaItemAR != null)
                        {
                        <a href="@(item.FileMediaItemAR != null ? MediaManager.GetMediaUrl(item.FileMediaItemAR) : "#")" target="_blank">@Translate.Text("lang.ar")</a>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
}

