@using Sitecore.Globalization
@model DEWAXP.Feature.CommonComponents.Models.Renderings.J157BankContainer

@if (Model != null && Model.BankList!= null && Model.BankList.Count() >0)
{
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="j157-ir-banks-desc">
                @Model.Description
            </div>

            <div class="j157-ir-banks-list">
                @foreach (var teaser in Model.BankList)
                {
                    <div class="m60-teaser" data-component="m60-teaser">
                        <div class="teaser__link ">
                            <div class="m60-teaser-image" data-alt="@(teaser.BackgroundImage != null && !string.IsNullOrWhiteSpace(teaser.BackgroundImage.Src)?teaser.BackgroundImage.Alt: "")" style="background-image:url('@(teaser.BackgroundImage != null && !string.IsNullOrWhiteSpace(teaser.BackgroundImage.Src)?teaser.BackgroundImage.Src: "")')"></div>
                            <div class="teaser__content">
                                <h2 class="teaser__title">@teaser.Title</h2>
                                @if (teaser.LeadingBank)
                                {
                                <div class="j157-ir-banks-leading green">@teaser.LeadingBankText</div>
                                }
                                <div class="teaser__viewdetails"
                                     data-leading="@(teaser.LeadingBank?teaser.LeadingBankText:string.Empty)"
                                     data-name="@teaser.BankName"
                                     data-address="@teaser.BankAddress"
                                     data-pobox="@teaser.Pobox"
                                     data-tel="@teaser.Telephone"
                                     data-fax="@teaser.Fax"
                                     data-email="@teaser.Email"
                                     data-website="@(teaser.Website != null && !string.IsNullOrWhiteSpace(teaser.Website.Url)?teaser.Website.Url: "")"
                                     data-imgurl="@(teaser.Image != null && !string.IsNullOrWhiteSpace(teaser.Image.Src)?teaser.Image.Src: "")" data-labels='{"pobox":"@Translate.Text("bank.pobox")", "tel":"@Translate.Text("bank.tel")", "fax":"@Translate.Text("bank.fax")", "email":"@Translate.Text("bank.email")", "website":"@Translate.Text("bank.website")"}'>
                                    @Translate.Text("bank.viewdetails")
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="j157-ir-banks-mainslider_wrapper clear_both">
                    <div class="j157-ir-banks-mainslider">
                    </div>
                </div>
            </div>
        </div>
    </div>
}