@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Globalization
@model RenderingModel
@{ 
    string strElectricity = Translate.Text("m105.DEWA");
    string strWater = Translate.Text("m105.EMPOWER");
    string strSustainability = Translate.Text("m105.IPPs");
    string strInnovation = Translate.Text("m105.Others");
    string vlLegend1chart1 = Translate.Text("m105.legend1chart1");
    string vlLegend2chart1 = Translate.Text("m105.legend2chart1");
    string vlLegend3chart1 = Translate.Text("m105.legend3chart1");
    string vlLegend4chart1 = Translate.Text("m105.legend4chart1");
    string vlLegend1chart2 = Translate.Text("m105.legend1chart2");
    string vlLegend2chart2 = Translate.Text("m105.legend2chart2");
    string vlLegend3chart2 = Translate.Text("m105.legend3chart2");
    string vlLegend4chart2 = Translate.Text("m105.legend4chart2");
    string clrElectricity = "#19B460";
    string clrWater = "#22369C";
    string clrSustainability = "#465DD8";
    string clrInnovation = "#EFCF27";
}
<div class="grid__row">
    <div class="grid__column grid__column--12">
        <div class="m105-text-chart" data-component="m105-text-chart">
            <div class="m105-text-chart--graphpanel notext">
                <div class="m105-text-chart--graphwrapper solo">
                    <div class="m105-text-chart--graphcontainer">
                        <div class="m105-text-chart--graphtitle">
                            <strong>@Translate.Text("m105.Revenue1")</strong>
                            <br> @Translate.Text("m105.Revenueamt1")
                        </div>
                        <div class="m105-text-chart--graph" data-chart105-container
                             data-series='[{"name":"2021 Revenue", "data":[{"name":"@strElectricity", "color":"@clrElectricity", "y":"@vlLegend1chart1"}, {"name":"@strWater", "color":"@clrWater", "y":"@vlLegend2chart1"}, {"name":"@strSustainability", "color":"@clrSustainability", "y":"@vlLegend3chart1"}, {"name":"@strInnovation", "color":"@clrInnovation", "y":"@vlLegend4chart1"}]}]'>

                        </div>
                        <div class="m105-text-chart--footercolumn">
                            <div class="m105-text-chart--footeritem">
                                <div class="m105-text-chart--footeritem_inner">
                                    @Translate.Text("m105.Footertext1")
                                </div>
                            </div>
                            <div class="m105-text-chart--footeritem">
                                <div class="m105-text-chart--footeritem_inner">
                                    <strong>@Translate.Text("m105.Footertext2")</strong><br>
                                    @Translate.Text("m105.Footertext3")
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    @*<div class="m105-text-chart--graphcontainer">
                        <div class="m105-text-chart--graphtitle">
                            <strong>@Translate.Text("m105.Revenue2")</strong>
                            <br>@Translate.Text("m105.Revenueamt2")
                        </div>
                        <div class="m105-text-chart--graph" data-chart105-container
                             data-series='[{"name":"2021 EBITDA", "data":[{"name":"@strElectricity", "color":"@clrElectricity", "y":"@vlLegend1chart2"}, {"name":"@strWater", "color":"@clrWater", "y":"@vlLegend2chart2"}, {"name":"@strSustainability", "color":"@clrSustainability", "y":"@vlLegend3chart2"}, {"name":"@strInnovation", "color":"@clrInnovation", "y":"@vlLegend4chart2"}]}]'>
                        </div>
                        <div class="m105-text-chart--footercolumn">
                            <div class="m105-text-chart--footeritem">
                                <div class="m105-text-chart--footeritem_inner">
                                    <strong>@Translate.Text("m105.Footertext2")</strong><br>
                                    @Translate.Text("m105.Footertext3")
                                </div>
                            </div>
                            <div class="m105-text-chart--footeritem">
                                <div class="m105-text-chart--footeritem_inner">
                                    <strong>@Translate.Text("m105.Footertext4")</strong><br>
                                    @Translate.Text("m105.Footertext5")
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
                <div class="m105-text-chart--legend">
                    <div class="m105-text-chart--legenditem">
                        <div class="m105-text-chart--legendmark" style="background-color:@clrElectricity;"></div>@strElectricity
                    </div>
                    <div class="m105-text-chart--legenditem">
                        <div class="m105-text-chart--legendmark" style="background-color:@clrWater;"></div>@strWater
                    </div>
                    <div class="m105-text-chart--legenditem">
                        <div class="m105-text-chart--legendmark" style="background-color:@clrSustainability;"></div>@strSustainability
                    </div>
                    <div class="m105-text-chart--legenditem">
                        <div class="m105-text-chart--legendmark" style="background-color:@clrInnovation;"></div>@strInnovation
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>