@using Sitecore.Globalization
@model DEWAXP.Feature.Bills.Models.Premise.SuccessModel
@*<style>
        .m31-search {
            display: none;
        }
    </style>*@
<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">
                    @Translate.Text("JO.OwnerSuccess")
                </h1>
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            </div>
        </div>
    </div>
    @if (Model != null)
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">

                <div class="m40-status-message m40-status-message--success  icon icon-new-success-message"
                     data-component="m40-status-message">
                    <div class="m40-status-message__title">
                        <strong>@Translate.Text("JO.SubmissionSuccessful")</strong>
                    </div>
                    <div class="m40-status-message__text green">
                        @Translate.Text("JO.ReferenceNumber") @Model.ReferenceNumber
                    </div>
                    <div class="m40-status-message__text green  mb24">
                        @Translate.Text("JO.RequestReview")
                    </div>
                </div>
                <dl>


                    <dt class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">
                        @Translate.Text("JO.SubmittedDate")
                    </dt>
                    <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd"
                        data-acc-detail=""><strong>@Model.Date </strong></dd>

                    <dt class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">
                        @Translate.Text("JO.RequestNumber")
                    </dt>

                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd"
                            data-acc-detail=""><strong>@Model.ReferenceNumber</strong></dd>
                        <dt class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">
                            @Translate.Text("JO.RequesterName")
                        </dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd"
                                data-acc-detail=""><strong>@Model.Name</strong></dd>
                            </dl>
                            <div class="success_next" style="background: rgba(34,34,34,.05);padding: 15px;border-radius: 10px; margin-top:40px;">
                                <h2 class="text__section-title">@Translate.Text("JO.WhatsNext")</h2>
                                <div class="m14-richtext mb0">
                                    <p class="text__content-copy">
                                        @Translate.Text("JO.ApplicationProcessed")
                                        <br> @Translate.Text("JO.UponCompletion")
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                }
</div>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>