@using Sitecore.Globalization
@using DEWAXP.Feature.Bills.Models.PremiseNumberSearch
@using Sitecore.Mvc
@model PremiseNumSearchModel

<div class="j105-drrg">
    <div class="m66-preloader j105-drrg--loader hidden">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    <h2 class="text__section-subtitle">@Translate.Text("J100.Pleasewait")</h2>
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            @Html.Sitecore().Placeholder("j82/m26-page-title")
            @*<div class="m26-page-title title_message">
            <div class="m26-page-title__links">
            </div>
            <h2 class="text__page-title">@Translate.Text("PNS_Title")</h2>
        </div>*@
        </div>
    </div>


    <div class="grid__row">
        <div class="grid__column grid__column--12" id="divIdtrackpremiseNo">
            <div class="j133-owner-tracking-system" data-journey="j133-owner-tracking-system">
                @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName,
            FormMethod.Post, new
            {
                @class = "form ",
                @id = "IdPremisetrackingform",
                data_form = "true",
                data_parsley_focus = "none",
                @data_submit_validate = "enabled",
                enctype = "multipart/form-data",
                @autocomplete = "off"
            }))
                {
                    @Html.AntiForgeryToken()
                    @*@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")*@
                    @Html.HiddenFor(x => x.gisxyValue, new { id = "gisxyValue", name = "gisxyValue", @value = "" })
                    <div class="form--single_line">
                        <div class="form-field form-field--select form-field--select-single">
                            <label for="form-field-searchType" class="form-field__label hidden">
                                Select
                            </label>

                            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                                <select class="form-field__input form-field__input--select form-field__input--select-full optsearchType"
                                        id="form-field-searchType"
                                        name="selectedSearchType"
                                        aria-describedby="description-for-searchType"
                                        data-parsley-errors-container="#description-for-searchType"
                                        data-parsley-trigger="change"
                                        data-parsley-id="28"
                                        @*data-parsley-required-message="@Translate.Text("PVCC_Selectdesignation")"*@
                                        required="">
                                    @*<option value="" selected>@Translate.Text("PVCC_Selectdesignation")</option>*@
                                    @{
                                        if (Model.SearchOptions != null)
                                        {
                                            foreach (var item in Model.SearchOptions)
                                            {
                                                if (!string.IsNullOrWhiteSpace(Model.selectedSearchType) && item.key == Model.selectedSearchType)
                                                {
                                                    <option value="@item.key" data-dummy="@item.dummy" selected>@item.value</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.key" data-dummy="@item.dummy">@item.value</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </span>
                            <div id="description-for-searchType" class="form-field__messages">
                            </div>
                        </div>
                        <div class="form-field form-field--text" id="divsearchText" style="@(Model.selectedSearchType == "GP" ? "display:none" : "")">
                            <label for="form-field-search" class="form-field__label hidden">
                                Text Field
                            </label>
                            <span class="form-field__input-wrapper">
                                <input class="form-field__input form-field__input--text"
                                       id="form-field-search"
                                       name="SearchText"
                                       value="@Model.SearchText"
                                       type="text"
                                       required=""
                                       placeholder="@Translate.Text("PNS_SearchText")"
                                       aria-describedby="description-for-search"
                                       maxlength="30"
                                       data-parsley-required-message="@Translate.Text("PNS_SearchText")"
                                       data-parsley-errors-container="#description-for-search"
                                       data-parsley-trigger="focusout" />
                            </span>
                            <div id="description-for-search" class="form-field__messages">
                            </div>
                        </div>
                        <div class="form-field" id="gisref" style="@(Model.selectedSearchType != "GP" ? "display:none" : "")">
                            <div class="m39-modal j133-owner-tracking-system-map" data-component="m39-modal" id="modal_true">
                                <button data-trigger="true" class="button button--primary button--fullwidth-mobile form-field__button">@Translate.Text("PNS_GoogleMaps")</button>
                                <span class="j133-owner-tracking-system-map_address icon-location">@Translate.Text("PNS_ClickMaps")</span>
                                <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="false">
                                    <div class="m39-modal__dialog ">
                                        <div class="m39-modal__header">
                                            <button data-close="true" class="m39-modal__button--close">@Translate.Text("Close")</button>
                                        </div>
                                        <div class="m39-modal__content">
                                            <div class="j133-owner-tracking-system-map_map" id="j133map">
                                            </div>
                                        </div>
                                        <div class="m39-modal__footer"><div class="button button--primary" data-close="true">@Translate.Text("Confirm Pin")</div></div>
                                    </div>
                                </div>
                                <div class="m39-modal__overlay"></div>
                            </div>
                            <span class="j133-owner-tracking-system-map_latlng hidden" data-latlng=""></span>
                        </div>
                    </div>
                    if (Model.IsLoggedIn != true)
                    {
                        <div class="form-field clear_both">
                            @if ((bool)ViewBag.Recaptcha)
                            {
                                <div class="g-recaptcha" id="captchaac_form" data-callback="recaptchaCallback" data-sitekey="@(ViewBag.SiteKey)"></div>
                                <span id='errorContainer' class="parsley-errors-list"></span>
                            }
                        </div>
                    }
                    <div class="@(Model.IsLoggedIn != true ? "mt12" : "")">
                        <button class="button button--primary button--fullwidth-mobile" id="btnSearch" type="submit" data-submission-text="@Translate.Text("PNS_Searching")...">@Translate.Text("PNS_Search")</button>
                        @if (Model.PremiseFilterSeachResultList != null && Model.PremiseFilterSeachResultList.Count > 0)
                        {
                            // Download result in excel files
                            <div class="form-field__button floatRight mt0" data-label="@Translate.Text("SS_Download")">
                                <a href="javascript:void(0)" data-pnsstid="@Model.selectedSearchType" data-pnstid="@(Model.SearchText)" class="button button--primary button--fullwidth-mobile pnssearch-downloadbtn">@Translate.Text("SS_Download")</a>
                            </div>
                        }
                    </div>
                }
                <div class="m23-table m23-table--green mt0" id="PremisetrackingList" data-component="m23-table">
                    @{ Html.RenderPartial("~/Views/Feature/Bills/PremiseNumberSearch/PremiseNoTrackingList.cshtml", Model); }
                </div>
                <br />
                @if (Model.PremiseFilterSeachResultList != null && Model.PremiseFilterSeachResultList.Count > 0)
                {
                    <div class="m14-richtext">
                        <p>
                            <strong>@Translate.Text("PNS_DisclaimerTitle")</strong> @Translate.Text("PNS_DisclaimerDesc")
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    docReady(function () {
        jQuery('#form-field-search').prop("placeholder", $("#form-field-searchType :selected").data("dummy"));

        require(['parsley'], function () {

        var $gisxyValue = jQuery('#gisxyValue');
        jQuery('#IdPremisetrackingform').submit(function (e) {

            //initail setup
            jQuery('.j105-drrg--loader').hide();
            $('body').removeClass('unscrollable');


            try {
                    ///validation
                if (!jQuery('#IdPremisetrackingform').parsley().validate() || !recaptchaCallback()) {
                        e.preventDefault();
                        return false;
                    }
                    else {
                        SetLatLangPos();
                        jQuery('.j105-drrg--loader').show();
                        jQuery('.j105-drrg--loader').css('top', $(window).scrollTop());
                        $('body').removeClass('unscrollable').addClass('unscrollable');
                        return true;
                    }
            } catch (e) {
                console.log(e);
                jQuery('.j105-drrg--loader').hide();
                $('body').removeClass('unscrollable');
            }
            return false;
        });


         // Set Latitude and Langitude position.
        function SetLatLangPos() {
            var pos = jQuery(".j133-owner-tracking-system-map_latlng").data("latlng");
            if (pos != null && pos != "") {
                var latlng = pos.lat + ',' + pos.lng;
                $gisxyValue.val(latlng);
            }
        }

        // Dropdown change function.
        jQuery('#form-field-searchType').on('change', function () {
            var val = jQuery('select[name="selectedSearchType"] option:selected').val();
            if (val != null && val != "" && val == "GP") {
                jQuery('#gisref').show();
                jQuery('#divsearchText').hide();
            }
            else {
                jQuery('#form-field-search').val('');
                jQuery('#form-field-search').prop("placeholder",$("#form-field-searchType :selected").data("dummy"));
                jQuery('#gisref').hide();
                jQuery('#divsearchText').show();
            }
        })
    });

    });

    //recaptcha callback function
            function recaptchaCallback() {
                if (jQuery("#captchaac_form").length > 0) {

                    var v = grecaptcha.getResponse();
                    if (v.length == 0) {
                        jQuery('#errorContainer').text('@Translate.Text("FG_Capatcha_Valid")');
                        return false;
                    }
                    else {
                        jQuery('#errorContainer').text("");
                        return true;
                    }
                }
                return true;
        }
</script>