
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Resources.Media
@using Sitecore.Mvc.Configuration
@model DEWAXP.Feature.Events.Models.HRQHSEConference.HRQHSEConferenceModel



<div class="grid">
    <div class="grid__row">



        <div class="grid__column grid__column--12 grid__column--form">


            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

            @{var Nationalities = DEWAXP.Foundation.Helpers.Extensions.FormExtensions.GetNationalities(null, false);
            }

            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @data_form = "true", @data_parsley_focus = "none" }))
            {
                @Html.AntiForgeryToken()

                <fieldset class="fieldset">

                    <legend class="display-section-legend">@Translate.Text("User Information")</legend>

                    <!-- Title-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-Title" class="form-field__label">
                            @Translate.Text("Title")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select id="form-field-Title"
                                    data-parsley-required-message="@Translate.Text("Please enter")"
                                    @*aria-required="true"*@
                                    name="Title"
                                    required="required"
                                    data-parsley-id="20"
                                    class="form-field__input form-field__input--select form-field__input--select-full"
                                    aria-describedby="description-for-Title">

                                @foreach (var item in Model.TitleList)
                                {
                                    <option value="@item.Value">@item.Text</option>
}

                            </select>
                        </span>
                        <div id="description-for-form-field-Title" class="form-field__messages"></div>
                    </div>


                    <!--First Name-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-FirstName" class="form-field__label">
                            @Translate.Text("First Name")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <span class="form-field__input-wrapper">
                            <input type="text"
                                   value="@Model.FirstName"
                                   required="required"
                                   name="FirstName"
                                   id="form-field-FirstName"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   data-parsley-required-message="@Translate.Text("Please enter")&nbsp @Translate.Text("First Name")"
                                   @*aria-required="true"*@
                                   aria-describedby="description-for-form-field-FirstName"
                                   data-parsley-trigger="focusout" />
                        </span>
                        <div id="description-for-form-field-FirstName" class="form-field__messages"></div>
                    </div>

                    <!--Middle Name-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-MiddleName" class="form-field__label">
                            @Translate.Text("Middle Name")
                            <span class="form-field__label-optional">(@Translate.Text("optional"))</span>
                        </label>

                        <span class="form-field__input-wrapper">
                            <input type="text"
                                   value="@Model.MiddleName"
                                   name="MiddleName"
                                   id="form-field-MiddleName"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   data-parsley-required-message="@Translate.Text("Please enter")&nbsp @Translate.Text("Middle Name") "
                                   aria-required="true"
                                   aria-describedby="description-for-form-field-MiddleName"
                                   data-parsley-trigger="focusout" />
                        </span>
                        <div id="description-for-form-field-MiddleName" class="form-field__messages"></div>
                    </div>

                    <!--Last Name-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-LastName" class="form-field__label">
                            @Translate.Text("Last Name")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <span class="form-field__input-wrapper">
                            <input type="text"
                                   value="@Model.LastName"
                                   required="required"
                                   name="LastName"
                                   id="form-field-LastName"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   data-parsley-required-message="@Translate.Text("Please enter")&nbsp @Translate.Text("Last Name")"
                                   @*aria-required=" true"*@
                                   aria-describedby="description-for-form-field-LastName"
                                   data-parsley-trigger="focusout" />
                        </span>
                        <div id="description-for-form-field-LastName" class="form-field__messages"></div>
                    </div>

                    <!--Gender-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-SourceType" class="form-field__label">
                            @Translate.Text("Gender")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <div id="description-for-form-field-SourceType" class="form-field__messages"></div>


                        <label class="field-content field-content--radio">

                            <input id="RdbGrp_Source" name="Gender" type="radio" value="Male" data-id="Male" checked="checked" />
                            <span class="form-field__fakeradio focus-enabled">@Translate.Text("Male")</span>
                        </label>
                        <label class="field-content field-content--radio">
                            <input id="RdbGrp_Source" name="Gender" type="radio" value="Female" data-id="Female" />
                            <span class="form-field__fakeradio focus-enabled">@Translate.Text("Female")</span>
                        </label>

                    </div>

                    <!--Nationality-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-Nationality" class="form-field__label">
                            @Translate.Text("Nationality")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select id="form-field-Nationality"
                                    data-parsley-required-message="@Translate.Text("Please enter")&nbsp @Translate.Text("Nationality")"
                                    @*aria-required="true"*@
                                    name="Nationality"
                                    required="required"
                                    data-parsley-id="20"
                                    class="form-field__input form-field__input--select form-field__input--select-full"
                                    aria-describedby="description-for-Nationality">

                                @{    foreach (var item in Nationalities)
                                    {

                                        <option value="@item.Value">@item.Text</option>
}
                                }
                            </select>
                        </span>
                        <div id="description-for-form-field-Nationality" class="form-field__messages"></div>
                    </div>


                    <!-- Email Address (optional)-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-EmailAddress" class="form-field__label">
                            @Translate.Text("Email Address")
                        </label>

                        <span class="form-field__input-wrapper">
                            <input type="email"
                                   required="required"
                                   value="@Model.EmailAddress"
                                   name="EmailAddress"
                                   id="form-field-EmailAddress"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   @*aria-required="false"*@
                                   aria-describedby="description-for-form-field-EmailAddress"
                                   data-parsley-trigger="focusout"
                                   data-parsley-error-message="@Translate.Text("Please enter a valid email address")" />
                        </span>
                        <div id="description-for-form-field-EmailAddress" class="form-field__messages"></div>
                    </div>

                    <!-- Telephone Number-->
                    <div class="form-field form-field--text ">
                        <label for="form-field-TelephoneNumber" class="form-field__label">
                            @Translate.Text("Telephone Number")
                            <span class="form-field__label-required aria-only">@Translate.Text("optional")</span>
                        </label>

                        <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                            <input type="tel"
                                   name="TelephoneNumber"
                                   value="@Model.TelephoneNumber"
                                   id="form-field-TelephoneNumber"
                                   class="form-field__input form-field__input--text form-field__input--prefixed keep-ltr"
                                   aria-describedby="description-for-telephonenumber"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   data-parsley-type="digits"
                                   data-parsley-telephone_number=""
                                   data-parsley-error-message="@Translate.Text("Please enter a valid UAE tel number")"
                                   data-parsley-required-message="@Translate.Text("Please enter")&nbsp  @Translate.Text("Telephone Number")"
                                   data-parsley-errors-container="#description-for-telephone-number" />

                        </span>

                        <div id="description-for-telephone-number" class="form-field__messages">
                        </div>
                    </div>

                    <!-- Mobile Number-->
                    <div class="form-field form-field--text ">
                        <label for="form-field-MobileNumber" class="form-field__label">
                            @Translate.Text("Mobile Number")
                            <span class="form-field__label-required aria-only">@Translate.Text("generic required label")</span>
                        </label>

                        <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                            <input type="tel"
                                   name="MobileNumber"
                                   value="@Model.MobileNumber"
                                   id="form-field-MobileNumber"
                                   class="form-field__input form-field__input--text form-field__input--prefixed keep-ltr"
                                   aria-describedby="description-for-mobilenumber"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   data-parsley-type="digits"
                                   data-parsley-mobile_number=""
                                   data-parsley-error-message="@Translate.Text("Please enter a valid UAE mobile number")"
                                   data-parsley-required-message="@Translate.Text("Please enter")&nbsp @Translate.Text("mobile number")"
                                   data-parsley-errors-container="#description-for-mobile-number" required />

                        </span>

                        <div id="description-for-mobile-number" class="form-field__messages">

                        </div>
                    </div>


                    <!-- Fax Number-->
                    <div class="form-field form-field--text ">
                        <label for="form-field-faxnumber" class="form-field__label">
                            @Translate.Text("Fax Number")
                            <span class="form-field__label-optional">(@Translate.Text("optional"))</span>
                        </label>

                        <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                            <input id="form-field-faxnumber"
                                   type="tel"
                                   name="faxNumber"
                                   value="@Model.FaxNumber"
                                   aria-describedby="description-for-faxnumber"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   data-parsley-error-message="@Translate.Text("Please enter a valid UAE fax number")"
                                   data-parsley-type="digits"
                                   data-parsley-trigger="focusout"
                                   data-parsley-telephone_number=""
                                   data-parsley-errors-container="#description-for-faxnumber"
                                   class="form-field__input form-field__input--text form-field__input--prefixed" />
                        </span>
                        <div id="description-for-faxnumber" class="form-field__messages">
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    @*<legend class="display-section-legend">@Translate.Text("Plate Details")</legend>*@
                    <legend class="legend-color">.</legend>
                    <!-- Plate Code-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-PlateCode" class="form-field__label">
                            @Translate.Text("PlateCode")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select id="form-field-PlateCode"
                                    required="required"
                                    data-parsley-required-message="@Translate.Text("Please select") @Translate.Text("PlateCode")"
                                    @*aria-required="true"*@
                                    name="PlateCode"
                                    data-parsley-id="20"
                                    class="form-field__input form-field__input--select form-field__input--select-full"
                                    aria-describedby="description-for-PlateCode">
                                <option value="" selected>@Translate.Text("Please select")</option>
                                <option value="A">A</option>
                                <option value="AA">AA</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                                <option value="H">H</option>
                                <option value="I">I</option>
                                <option value="J">J</option>
                                <option value="K">K</option>
                                <option value="L">L</option>
                                <option value="M">M</option>
                                <option value="N">N</option>
                                <option value="O">O</option>
                                <option value="P">P</option>
                                <option value="Q">Q</option>
                                <option value="R">R</option>
                                <option value="S">S</option>
                                <option value="T">T</option>
                                <option value="U">U</option>
                                <option value="V">V</option>
                                <option value="W">W</option>
                                <option value="WHITE">WHITE</option>
                                <option value="X">X</option>
                                <option value="Y">Y</option>
                                <option value="Z">Z</option>
                            </select>
                        </span>
                        <div id="description-for-form-field-PlateCode" class="form-field__messages"></div>
                    </div>


                    <!--Plate City-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-PlateCity" class="form-field__label">
                            @Translate.Text("PlateCity")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select id="form-field-PlateCity"
                                    data-parsley-required-message="@Translate.Text("Please select") @Translate.Text("PlateCity")"
                                    required="required"
                                    @*aria-required="true"*@
                                    name="PlateCity"
                                    data-parsley-id="20"
                                    class="form-field__input form-field__input--select form-field__input--select-full"
                                    aria-describedby="description-for-PlateCity">
                                <option value="" selected>@Translate.Text("Please select")</option>
                                <option value="@Translate.Text("ADB")">@Translate.Text("ADB")</option>
                                <option value="@Translate.Text("AFJ")">@Translate.Text("AFJ")</option>
                                <option value="@Translate.Text("AJM")">@Translate.Text("AJM")</option>
                                <option value="@Translate.Text("AL")">@Translate.Text("AL")</option>
                                <option value="@Translate.Text("DXB")">@Translate.Text("DXB")</option>
                                <option value="@Translate.Text("MSF")">@Translate.Text("MSF")</option>
                                <option value="@Translate.Text("RAK")">@Translate.Text("RAK")</option>
                                <option value="@Translate.Text("SHA")">@Translate.Text("SHA")</option>
                                <option value="@Translate.Text("UAQ")">@Translate.Text("UAQ")</option>


                            </select>
                        </span>
                        <div id="description-for-form-field-Country" class="form-field__messages"></div>
                    </div>


                    <!--Plate Number-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-PlateNumber" class="form-field__label">
                            @Translate.Text("PlateNumber")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <span class="form-field__input-wrapper">
                            <input value="@Model.PlateNumber"
                                   data-parsley-required-message="@Translate.Text("Please enter")&nbsp @Translate.Text("PlateNumber")"
                                   data-parsley-error-message="@Translate.Text("Please enter")&nbsp @Translate.Text("PlateNumber")"
                                   required="required"
                                   data-max-length="5"
                                   minlength="1"
                                   type="number"
                                   data-parsley-max_number
                                   name="PlateNumber"
                                   id="form-field-PlateNumber"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   @*aria-required="false"*@
                                   aria-describedby="description-for-form-field-PlateNumber"
                                   data-parsley-trigger="focusout" />
                        </span>
                        <div id="description-for-form-field-PlateNumber" class="form-field__messages"></div>
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <legend class="display-section-legend">@Translate.Text("Company Details")</legend>
                    <!-- Industry (optional)-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-Industry" class="form-field__label">
                            @Translate.Text("Industry")
                            <span class="form-field__label-optional">(@Translate.Text("optional"))</span>
                        </label>

                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select id="form-field-Industry"
                                    data-parsley-required-message="@Translate.Text("Please enter")&nbsp @Translate.Text("Industry")"
                                    aria-required="true"
                                    name="Industry"
                                    data-parsley-id="20"
                                    class="form-field__input form-field__input--select form-field__input--select-full"
                                    aria-describedby="description-for-Industry">
                                <option value="" selected>@Translate.Text("Select from dropdown")</option>
                                @foreach (var item in Model.IndustryList)
                                {
                                    <option value="@item.Value">@item.Text</option>
}

                            </select>
                        </span>
                        <div id="description-for-form-field-Industry" class="form-field__messages"></div>
                    </div>

                    <!--Company-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-Company" class="form-field__label">
                            @Translate.Text("Company")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <span class="form-field__input-wrapper">
                            <input type="text"
                                   value="@Model.Company"
                                   required="required"
                                   name="Company"
                                   id="form-field-Company"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   data-parsley-required-message="@Translate.Text("Please enter")&nbsp @Translate.Text("Company")"
                                   @*aria-required="true"*@
                                   aria-describedby="description-for-form-field-Company"
                                   data-parsley-trigger="focusout" />
                        </span>
                        <div id="description-for-form-field-Company" class="form-field__messages"></div>
                    </div>

                    <!--Job Title-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-JobTitle" class="form-field__label">
                            @Translate.Text("Job Title")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <span class="form-field__input-wrapper">
                            <input type="text"
                                   value="@Model.JobTitle"
                                   required="required"
                                   name="JobTitle"
                                   id="form-field-JobTitle"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   data-parsley-required-message="@Translate.Text("Please enter")&nbsp @Translate.Text("Job Title")"
                                   @*aria-required="true"*@
                                   aria-describedby="description-for-form-field-JobTitle"
                                   data-parsley-trigger="focusout" />
                        </span>
                        <div id="description-for-form-field-JobTitle" class="form-field__messages"></div>
                    </div>

                    <!--Department-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-Department" class="form-field__label">
                            @Translate.Text("Department")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <span class="form-field__input-wrapper">
                            <input type="text"
                                   value="@Model.Department"
                                   required="required"
                                   name="Department"
                                   id="form-field-Department"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   data-parsley-required-message="@Translate.Text("Please enter")&nbsp @Translate.Text("Department")"
                                   @*aria-required="true"*@
                                   aria-describedby="description-for-form-field-Department"
                                   data-parsley-trigger="focusout" />
                        </span>
                        <div id="description-for-form-field-Department" class="form-field__messages"></div>
                    </div>

                    <!--CompanyWebsite-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-CompanyWebsite" class="form-field__label">
                            @Translate.Text("Company Website")
                            <span class="form-field__label-optional">(@Translate.Text("optional"))</span>
                        </label>

                        <span class="form-field__input-wrapper">
                            <input type="text"
                                   value="@Model.CompanyWebsite"
                                   name="CompanyWebsite"
                                   id="form-field-CompanyWebsite"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   data-parsley-required-message="@Translate.Text("Please enter")&nbsp @Translate.Text("Company Website")"
                                   aria-required="true"
                                   aria-describedby="description-for-form-field-CompanyWebsite"
                                   data-parsley-trigger="focusout" />
                        </span>
                        <div id="description-for-form-field-CompanyWebsite" class="form-field__messages"></div>
                    </div>

                    <!-- Country-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-Country" class="form-field__label">
                            @Translate.Text("Country")
                            <span class="form-field__label-optional"></span>
                        </label>

                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select id="form-field-Country"
                                    data-parsley-required-message="@Translate.Text("Please enter")&nbsp @Translate.Text("Country") "
                                    aria-required="true"
                                    name="Country"
                                    data-parsley-id="20"
                                    class="form-field__input form-field__input--select form-field__input--select-full"
                                    aria-describedby="description-for-Country">

                                @{    foreach (var item in Nationalities)
                                    {
                                        <option value="@item.Value">@item.Text</option>
}

                                }
                            </select>
                        </span>
                        <div id="description-for-form-field-Country" class="form-field__messages"></div>
                    </div>


                    <!-- PO Box (optional)-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-POBox" class="form-field__label">
                            @Translate.Text("PoBox")
                            <span class="form-field__label-optional">(@Translate.Text("optional"))</span>
                        </label>

                        <span class="form-field__input-wrapper">
                            <input type="text"
                                   value="@Model.POBOX"
                                   name="POBox"
                                   id="form-field-POBox"
                                   class="form-field__input form-field__input--text"
                                   placeholder="@Translate.Text("Please enter a value")"
                                   aria-required="false"
                                   aria-describedby="description-for-form-field-POBox"
                                   data-parsley-trigger="focusout" />
                        </span>
                        <div id="description-for-form-field-POBox" class="form-field__messages"></div>
                    </div>




                    <!-- Address (optional)-->
                    <div class="form-field form-field--text ">

                        <label for="form-field-Address" class="form-field__label">
                            @Translate.Text("Address")
                            <span class="form-field__label-optional">(@Translate.Text("optional"))</span>
                        </label>

                        <span class="form-field__input-wrapper">
                            <textarea name="Address" maxlength="255" class="form-field__input form-field__input--text" id="form-field-Address" placeholder="@Translate.Text("Please enter")" data-parsley-required-message="@Translate.Text("Please enter")&nbsp @Translate.Text("Address")" aria-required="true" aria-describedby="description-for-form-field-Address" data-parsley-trigger="focusout">@Model.Address</textarea>
                        </span>
                        <div id="description-for-form-field-Address" class="form-field__messages"></div>
                    </div>

                    <!-- Agreement-->
                    @*<div class="form-field">
                            <div class="form-field__checkbox ">
                                <label>
                                    <input class="form-field__input form-field__input--checkbox" id="IsInterested" name="IsInterested" type="checkbox" value="true" aria-describedby="description-for-sendcoords">

                                    <span class="form-field__fakecheckbox focus-enabled">@Translate.Text("Agreement")</span>
                                </label>
                            </div>
                        </div>*@



                </fieldset>

                <div class="form-field__button">
                    <button type="submit" class="button button--primary button--next" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Submit")</button>
                </div>        }

        </div>


    </div>
</div>
<script>

    var lang = "@Sitecore.Context.Language";

    if (lang == "en") {
        $('#form-field-Country').val("Utd.Arab Emir.");
        $('#form-field-Nationality').val("Utd.Arab Emir.");
    }
    else {
        $('#form-field-Country').val("الإمارات العربية المتحدة");
        $('#form-field-Nationality').val("الإمارات العربية المتحدة");
    }

</script>
