@model DEWAXP.Feature.DRRG.Models.AuthorizationLetterModel
@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
<div class="grid">
    @Html.Sitecore().Placeholder("pagetitle")
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @id = "authorizationletterform", @class = "form", data_form = "true", @data_submit_validate = "enabled", @novalidate = "novalidate", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionErrorV2.cshtml")
                <div class="grid__row error-html">
                    <div class="grid__column grid__column--12">
                        <div class="m40v2-status-message m40v2-status-message--error icon icon-caution" data-component="m40v2-status-message">
                            <div class="m40v2-status-message__title icon--error">
                                @Sitecore.Globalization.Translate.Text("Authorization Letter Not Submitted")
                            </div>
                            <div class="m40v2-status-message__text">
                                @Html.Raw(Sitecore.Globalization.Translate.Text("Authorization Letter description"))
                            </div>
                        </div>
                    </div>
                </div>
                <fieldset class="fieldset">
                    <legend class="legend-color">.</legend>
                    <div class="form-field form-field--upload">
                        <div class="form-field__input-wrapper">
                            <div class="form-field__preview-wrapper">
                                <img src="/images/preview_pdf@2x.png"
                                     data-src="/images/preview_pdf@2x.png"
                                     data-success="/images/upload_success@2x.png"
                                     class="form-field__preview tooltipstered"
                                     aria-hidden="true"
                                     role="presentation"
                                     alt="alt text"
                                     data-uploader-image="AuthorizationLetter">
                            </div>
                            <div class="form-field__uploader-details">
                                <label for="form-field-AuthorizationLetter" class="form-field__label">
                                    @Sitecore.Globalization.Translate.Text("Authorization letter")
                                    <span class="form-field__label-required aria-only">(required)</span>
                                </label>
                                <div>
                                    <label>
                                        <input class="form-field__input form-field__input--upload"
                                               id="form-field-AuthorizationLetter" name="AuthorizationLetter" type="file"
                                               aria-describedby="description-for-AuthorizationLetter"
                                               required=""
                                               data-parsley-errors-container="#description-for-AuthorizationLetter"
                                               data-parsley-required-message="This field is required"
                                               data-uploader-field="AuthorizationLetter"
                                               accept="application/pdf"
                                               data-accepts="&quot;pdf&quot;"
                                               data-size="2048000" data-parsley-trigger="focusout" data-parsley-id="24">
                                        <span class="button button--primary button--next button--small focus-enabled" data-uploader-button="upload-choose">@Translate.Text("Choose")</span>
                                    </label>
                                </div>
                                <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("DRRG.fileformat")</p>
                                <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("DRRG.filesizehigh")</p>
                                <p class="form-field__input--upload-filename" data-uploader-filename="AuthorizationLetter"></p>
                                <p>
                                    <button class="button button--text button--remove hidden" data-uploader-remove="AuthorizationLetter">@Translate.Text("Remove")</button>
                                </p>
                            </div>
                        </div>
                        <div id="description-for-AuthorizationLetter" class="form-field__messages">
                            <p class="form-field__description">@Translate.Text("Authorization Formats")</p>
                        </div>
                    </div>
                </fieldset>
                <div class="form-field__button">
                    <button class="button button--primary" id="btSubmit" data-submission-text="@Translate.Text("Submitting")..." type="submit">@Translate.Text("Submit")</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/External/nml/form-submit-validate.js"></script>