@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
<div class="j01-drrg-registration" data-journey="j01-drrg-registration">
    <div class="grid">
        @Html.Sitecore().Placeholder("pagetitle")

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--content">
                <div class="m40v2-status-message m40v2-status-message--success  icon icon-new-success-message " data-component="m40v2-status-message">
                    <div class="m40v2-status-message__title">@Sitecore.Globalization.Translate.Text("Submission successful")</div>
                    <div class="m40v2-status-message__text">Your Authorization Letter for Application (Ref. @ViewBag.manufacturecode) has been successfully submitted for our review, we will get back to you shortly.</div>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--content grid__column--centered">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DRRG_DASHBOARD)" class="button button--primary button--next" role="button">@Translate.Text("login button text")</a>
            </div>
        </div>

    </div>
</div>