@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
<div class="j01-drrg-registration" data-journey="j01-drrg-registration">
    <div class="grid">
        @Html.Sitecore().Placeholder("pagetitle")

        <div class="grid__row error-html">
            <div class="grid__column grid__column--12 grid__column--content">
                <div class="m40v2-status-message m40v2-status-message--error icon icon-caution" data-component="m40v2-status-message">
                    <div class="m40v2-status-message__title icon--error">
                        @Sitecore.Globalization.Translate.Text("New User Registration Application Under Evaluation")
                    </div>
                    <div class="m40v2-status-message__text">
                        @Sitecore.Globalization.Translate.Text("DRRG Pending Evaluation text 1").Replace("{refno}", ViewBag.RefNo)
                    </div>
                    <div class="m40v2-status-message__text">
                        @Sitecore.Globalization.Translate.Text("DRRG Pending Evaluation text 2")
                    </div>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--content grid__column--centered">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DRRG_LOGOUT)" class="button button--primary button--next" role="button">@Translate.Text("logout")</a>
            </div>
        </div>

    </div>
</div>