@model DEWAXP.Feature.HappinessIndicator.Models.HappinessIndicator.HappinessIndicatorModel

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
	</head>
	<body>
		<form action="@Model.PostUrl" method="post">
			<input type="hidden" name="json_payload" value="@Model.JsonPayload" />
			<input type="hidden" name="client_id" value="@Model.ClientId" />
			<input type="hidden" name="signature" value="@Model.Signature" />
			<input type="hidden" name="lang" value="@Model.Lang" />
			<input type="hidden" name="timestamp" value="@Model.Timestamp" />
			<input type="hidden" name="random" value="@Model.Random" />
			<input type="hidden" name="nonce" value="@Model.Nonce" />
		</form>
	</body>
</html>
<script type="text/javascript">
	document.forms[0].submit();
</script>
