@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Links
@model DEWAXP.Feature.SupplyManagement.Models.MoveIn.MoveInPageTitle

<div class="grid__row">
	<div class="grid__column grid__column--12">
		<div class="m26-page-title">            
			@if (!string.IsNullOrEmpty(Model.PageLink) || Model.ShowShareLink)
			{
			<div class="m26-page-title__links">
				@if (!string.IsNullOrEmpty(Model.PageLink))
				{
					<p class="m26-page-title__backlink">
						<a class="button button--text button--back" href="@LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(new Sitecore.Data.ID(Model.PageLink)))">@Model.PageLinkText</a>
					</p>
				}
				
				@if (Model.ShowShareLink)
                {
                    @Html.Partial("~/Views/Feature/CommonComponents/Renderings/Share/M30 Share.cshtml")
					
				}
			</div>

			}
			
			@if (Model.PublishDate != DateTime.MinValue)
			{
				<div class="text__content-subcopy">@Html.Glass().Editable(x => x.PublishDate, x => x.PublishDate.ToString("d MMMM yyyy", global::Sitecore.Context.Language.CultureInfo))</div>
			}
			<h2 class="text__page-title">@Html.Glass().Editable(x => x.Header)</h2>
			@if (!string.IsNullOrEmpty(Model.Subheader))
            {
				<p class="text-page__intro">@Html.Glass().Editable(x => x.Subheader)</p>
			}
		</div>
	</div>
</div>


