@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@model DEWAXP.Foundation.Content.Models.SupplyManagement.Movein.MoveInViewModelv3

@Html.Sitecore().Placeholder("j25/page-title")

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Sitecore().Placeholder("step-tracker")
        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
    </div>
</div>

@using(Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_parsley_focus = "true", @data_form = "true", @class = "form", @data_submit_validate = "enabled" }))
{
    @Html.Sitecore().FormHandler()
    @Html.AntiForgeryToken()
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form m14-richtext">
        <p>@Translate.Text("movein.payment channels title text")</p>
        @if(Model.PayChannelList != null)
        {
            <ol>
            @foreach (var paychannel in Model.PayChannelList)
            {
                <li>@paychannel.Text</li>
            }
                </ol>
                <br />
        }
        
        @Html.Sitecore().Placeholder("paylaterdescription")
        <br/>
        @if (Model.messagepaychannel != null && Model.messagepaychannel.Length > 0)
                                        {
                                            foreach (var txt in Model.messagepaychannel)
                                            {
                                                <p class="text__content-copy">@txt</p>
                                            }
                                        }
        <br />
        <p>@Translate.Text("movein.payment channels bottom text")</p>
        <div class="form-field__button">
            <button type="submit" class="button button--primary button--next" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("movein.contact.continue")</button>
        </div>
    </div>
</div>
}
<script src="~/scripts/External/nml/form-submit-validate.js"></script>


