@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@model DEWAXP.Foundation.Content.Models.Payment.ReraPaymentModel

@Html.Sitecore().Placeholder("j25/page-title")

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Sitecore().Placeholder("step-tracker")
        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
    </div>
</div>

@using(Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @data_parsley_focus = "true", @data_form = "true", @class = "form", @data_submit_validate = "enabled" }))
{
    @Html.Sitecore().FormHandler()
    @Html.AntiForgeryToken()
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <p>@Translate.Text("movein.paylaterreview.title")</p>
        <br />
        <h2 class="centered">
            <strong>
                @Model.Total.ToString("0,0.00") @Translate.Text("AED")
            </strong>
        </h2>
        <div class="form-field__button">
            <button type="submit" class="button--submit button button--primary button--next" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Confirm")</button>
        </div>
    </div>
</div>
}
<script src="~/scripts/External/nml/form-submit-validate.js"></script>


