@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
<div class="grid">
    @Html.Sitecore().Placeholder("j89/m26-page-title")
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
                <div class="m40-status-message__title icon--error">@Sitecore.Globalization.Translate.Text("Submission Failed")</div>
                <div class="m40-status-message__text"><strong>@Sitecore.Globalization.Translate.Text("Error"): </strong>@(Html.Raw(ViewBag.Message))</div>
            </div>
            <br />
            <div class="grid__row">
                <div class="grid__column grid__column--12 grid__column--centered">
                    <a class="button button--primary button--next" href="javascript:window.history.back();" role="button" aria-label="Go Back">@Sitecore.Globalization.Translate.Text("Go Back")</a>
                </div>
            </div>
        </div>
    </div>
</div>

