@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Glass.Mapper
@using DEWAXP.Foundation.Content
@using System.Linq;
@model DEWAXP.Feature.Events.Models.HappinEX.SurveyPageModel

@{
    var direction = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "rtl" : "ltr";
    string surveyType = Model.SurveyID == "PRE20200715A-34" ? "-34" : "";
}

@if (Model.ShowError)
{

    <div class="grid__row error-html">
        <div class="grid__column grid__column--12">
            <div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
                <div class="m40-status-message__title icon--error">@Sitecore.Globalization.Translate.Text(DictionaryKeys.Global.SubmissionError)</div>
                <div class="m40-status-message__text" dir="@direction">@Translate.Text("j120 Invalid Survey Context")</div>
            </div>
        </div>
    </div>


}
else
{



    <form class="j132-happinex form" id="j132-happinexform" data-journey="j132-happinex" data-form="true" method="post" action="" novalidate="">
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Key)
        @Html.HiddenFor(model => model.TrackingID)
        @Html.HiddenFor(model => model.SurveyID)
        <div class="grid j132-happinex--screen">
            <div class="grid__row mb0">
                <div class="grid__column grid__column--12 grid__column--content j132-happinex--scroll">
                    <div class="j132-happinex--intro j132-happinex--panel j132-happinex--panel--active">
                        <div class="j132-happinex--panel_cover">
                        </div>
                        <div class="m14-richtext">
                            @Html.Raw(Translate.Text("IntroText" + surveyType))
                        </div>
                        <div class="button button--primary mt48 j132-happinex--start">@Translate.Text("StartSurveyBtn")</div>
                    </div>

                    @if (Model.SurveyID != "PRE20200715A-34")
                    {
                        <div class="j132-happinex--panel">
                            <div class="j132-happinex--panel_cover">
                            </div>
                            <div class="button button--text button--back j132-happinex--back">@Translate.Text("Back")</div>
                            <div class="m14-richtext">
                                <h4>@Html.Raw(Translate.Text("j120 Happinex Title"))</h4>
                            </div>
                            <fieldset class="fieldset j132-happinex--radios form-field__radio--toggle mb0 mt24">
                                <legend class="legend-color">.</legend>
                                <p class="form-field__radio">
                                    <label>
                                        <input class="form-field__input form-field__input--radio" toggle-target="" id="form-field-radio_1_1" aria-label="form-field-radio_1_1" name="radios_group2" type="radio" value="DEWA Website" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group2" data-parsley-id="12">
                                        <span class="form-field__fakeradio focus-enabled">
                                            @Html.Raw(@Translate.Text("j120 DEWA Website"))
                                        </span>
                                    </label>
                                </p>
                                <p class="form-field__radio">
                                    <label>
                                        <input class="form-field__input form-field__input--radio" toggle-target="" id="form-field-radio_1_2" aria-label="form-field-radio_1_2" name="radios_group2" type="radio" value="DEWA Smart Application" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group2">
                                        <span class="form-field__fakeradio focus-enabled">
                                            @Html.Raw(@Translate.Text("j120 DEWA Smart Application"))
                                        </span>
                                    </label>
                                </p>
                                <p class="form-field__radio">
                                    <label>
                                        <input class="form-field__input form-field__input--radio" toggle-target="" id="form-field-radio_1_3" aria-label="form-field-radio_1_3" name="radios_group2" type="radio" value="DEWA Customer Call Center" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group2">
                                        <span class="form-field__fakeradio focus-enabled">
                                            @Html.Raw(@Translate.Text("j120 DEWA Customer Call Center"))
                                        </span>
                                    </label>
                                </p>
                                <p class="form-field__radio">
                                    <label>
                                        <input class="form-field__input form-field__input--radio" toggle-target="" id="form-field-radio_1_4" aria-label="form-field-radio_1_4" name="radios_group2" type="radio" value="By calling Technical Inquiry Desk (04-3229999)" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group2">
                                        <span class="form-field__fakeradio focus-enabled">
                                            @Html.Raw(@Translate.Text("j120 By Calling Technical Inquiry Desk"))
                                        </span>
                                    </label>
                                </p>
                                <p class="form-field__radio">
                                    <label>
                                        <input class="form-field__input form-field__input--radio" toggle-target="" id="form-field-radio_1_5" aria-label="form-field-radio_1_5" name="radios_group2" type="radio" value="DEWA Happiness Centers" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group2">
                                        <span class="form-field__fakeradio focus-enabled">
                                            @Html.Raw(@Translate.Text("j120 DEWA Happiness Centers"))
                                        </span>
                                    </label>
                                </p>
                                <p class="form-field__radio">
                                    <label>
                                        <input class="form-field__input form-field__input--radio" toggle-target="" id="form-field-radio_1_6" aria-label="form-field-radio_1_6" name="radios_group2" type="radio" value="Rammas" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group2">
                                        <span class="form-field__fakeradio focus-enabled">
                                            @Html.Raw(@Translate.Text("j120 Rammas"))
                                        </span>
                                    </label>
                                </p>
                                @*<p class="form-field__radio">
                                        <label>
                                            <input class="form-field__input form-field__input--radio" toggle-target="" id="form-field-radio_1_7" name="radios_group2" type="radio" value="Friend" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group2">
                                            <span class="form-field__fakeradio focus-enabled">
                                                @Translate.Text("j120 Friend")
                                            </span>
                                        </label>
                                    </p>*@
                                <p class="form-field__radio">
                                    <label>

                                        <input class="form-field__input form-field__input--radio" toggle-target=".others_text" id="form-field-radio_1_7" aria-label="form-field-radio_1_7" name="radios_group2" type="radio" value="Others" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group2">
                                        <span class="form-field__fakeradio focus-enabled">
                                            @Html.Raw(@Translate.Text("j120 Others"))
                                        </span>
                                    </label>
                                </p>
                            </fieldset>
                            <div class="form-field form-field--text hidden others_text">
                                <span class="form-field__input-wrapper">
                                    <input class="form-field__input form-field__input--text txtSourceOtherDetail" id="form-field-rjngjyddg" aria-label="form-field-rjngjyddg" name="text_required" type="text"
                                           placeholder="@Translate.Text("j120 Please specify")" aria-describedby="description-for-rjngjyddg" data-parsley-errors-container="#description-for-rjngjyddg"
                                           required="" data-parsley-required-message="@Translate.Text("j120 Others Required")" data-parsley-trigger="focusout" data-parsley-id="4">

                                    @*<input class="form-field__input form-field__input--text" id="form-field-ym24cutyf" name="text" type="text" placeholder="Please specfy" aria-describedby="description-for-ym24cutyf" data-parsley-errors-container="#description-for-ym24cutyf" required="" data-parsley-required-message="This field is required" data-parsley-trigger="focusout" data-parsley-id="4">*@
                                </span>
                                <div id="description-for-ym24cutyf" class="form-field__messages">
                                </div>
                            </div>
                            <div class="button button--primary mt12 j132-happinex--start hidden">@Translate.Text("j120 Next")</div>
                        </div>
                    }



                    <div class="j132-happinex--panel">
                        <div class="j132-happinex--panel_cover">
                        </div>
                        <div class="button button--text button--back j132-happinex--back">@Translate.Text("Back")</div>
                        <div class="m14-richtext">
                            <h4>@(Model.SurveyID == "PRE20200715A-34" ? @Translate.Text("j120 Please rate your overall Happiness1 -34") : @Translate.Text("j120 Please rate your overall Happiness1"))</h4>
                        </div>
                        <div class="j132-happinex--emoticon_wrapper">
                            <div class="j132-happinex--emoticon j132-happinex--start" data-mood="@Translate.Text("Happy")">
                                <div class="j132-happinex--emoticon_icon icon-happy"></div>
                                <input type="checkbox" name="" class="j132-happinex--emoticon-cbox">
                                <div class="m14-richtext">
                                    <h4 class="centered">@Translate.Text("Happy")</h4>
                                </div>
                            </div>
                            <div class="j132-happinex--emoticon j132-happinex--start" data-mood="@Translate.Text("Neutral")">
                                <div class="j132-happinex--emoticon_icon icon-neutral"></div>
                                <input type="checkbox" name="" class="j132-happinex--emoticon-cbox">
                                <div class="m14-richtext">
                                    <h4 class="centered">@Translate.Text("Neutral")</h4>
                                </div>
                            </div>
                            <div class="j132-happinex--emoticon j132-happinex--start" data-mood="@Translate.Text("Unhappy")">
                                <div class="j132-happinex--emoticon_icon  icon-sad"></div>
                                <input type="checkbox" name="" class="j132-happinex--emoticon-cbox">
                                <div class="m14-richtext">
                                    <h4 class="centered">@Translate.Text("Unhappy")</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    @{
                        int Icount = 0;
                        foreach (var s in Model.Survey.QuestionsWhenHappy)
                        {
                            List<DEWAXP.Feature.Events.Models.HappinEX.SurveyQuestion> childList = null;
                            if (s.SubQuestions != null)
                            {
                                childList = s.SubQuestions.ToList();
                            }

                            if (childList == null || (childList != null && childList.Count == 0))
                            {

                                <div class="j132-happinex--panel happinex-custom">
                                    <div class="j132-happinex--panel_cover">
                                    </div>
                                    <div class="button button--text button--back j132-happinex--back">@Translate.Text("Back")</div>
                                    @if (Icount == 0)
                                    {
                                        <div class="m14-richtext">
                                            <h4>@Html.Raw(@Translate.Text("HappinexSurveyNote"))</h4>
                                            <br />
                                        </div>

                                    }

                                    <div class="m14-richtext">
                                        <h4 class="survey-qus" data-itemid="@(s.MainQuestion.Id)">@Html.Raw(s.MainQuestion.Title)</h4>
                                    </div>
                                    <div class="m76-range-slider mt48 mb0" data-component="m76-range-slider">
                                        <div class="range-container">
                                            <div class="range-container-bg">
                                                <input id="rangeslider" aria-label="rangeslider" data-range-slider="" class="range blue slider" type="range" data-snap='0,1,2,3,4,5' min="0" value="0" max="5" step="1" list="ticks">
                                            </div>
                                        </div>
                                        <div class="ticks-container" data-range-ticks="">
                                            <div class="sliderticks">
                                                <span data-option="0" class="ticks"></span>
                                                <span data-option="1" class="ticks"><span class="ticks-inner-text">1<br>@Translate.Text("Totally dissatisfied")</span><span class="rangeslider_click"></span></span>
                                                <span data-option="2" class="ticks"><span class="ticks-inner-text">2<br>@Translate.Text("Dissatisfied") </span><span class="rangeslider_click"></span></span>
                                                <span data-option="3" class="ticks"><span class="ticks-inner-text">3<br>@Translate.Text("Average") </span><span class="rangeslider_click"></span></span>
                                                <span data-option="4" class="ticks"><span class="ticks-inner-text">4<br>@Translate.Text("Satisfied")</span><span class="rangeslider_click"></span></span>
                                                <span data-option="5" class="ticks"><span class="ticks-inner-text">5<br>@Translate.Text("Totally Satisfied")</span><span class="rangeslider_click"></span></span>
                                                @*<span data-option="6" class="ticks"><span class="ticks-inner-text"><br>@Translate.Text("I don't know")</span><span class="rangeslider_click"></span></span>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field form-field--text form-field--textarea mt48 hidden">
                                        <label for="form-field-9xqmn7pbk" class="form-field__label">
                                            @Translate.Text("DescriptionLabel")
                                        </label>
                                        <span class="form-field__input-wrapper">
                                            <textarea class="comment-textarea form-field__input form-field__input--text form-field__input--textarea" data-textarea="9xqmn7pbk" id="form-field-9xqmn7pbk" name="textarea" type="textarea" placeholder="@Translate.Text("CommentsSuggestionsPlaceholder")" aria-describedby="description-for-9xqmn7pbk" data-parsley-errors-container="#description-for-9xqmn7pbk"></textarea>
                                        </span>
                                        <div id="description-for-9xqmn7pbk" class="form-field__messages">
                                        </div>
                                    </div>
                                    <div class="button button--primary mt12 j132-happinex--start hidden">@Translate.Text("j120 Next")</div>
                                </div>
                            }
                            else
                            {
                                string targetId = "experience" + Guid.NewGuid();
                                <div class="j132-happinex--panel happinex-custom">
                                    <div class="j132-happinex--panel_cover">
                                    </div>
                                    <div class="button button--text button--back j132-happinex--back">@Translate.Text("Back")</div>
                                    <div class="m14-richtext">
                                        <h4 class="survey-qus" data-itemid="@(s.MainQuestion.Id)">@Html.Raw(s.MainQuestion.Title)</h4>
                                    </div>
                                    <fieldset class="fieldset j132-happinex--radios mb0 mt24 custom-radiobtn">
                                        <legend class="legend-color">.</legend>
                                        <p class="form-field__radio">
                                            <label>
                                                <input class="form-field__input form-field__input--radio j132-happinex--branching d-radiabtn" panel-targets="@(targetId)" toggle-target="" id="form-field-radio_1_1" aria-label="form-field-radio_1_1" name="radios_group2" type="radio" value="@Translate.Text("Yes")" aria-describedby="description-for-q5fgq3876" data-parsley-errors-container="#description-for-q5fgq3876" data-parsley-multiple="radios_group2" data-parsley-id="12">
                                                <span class="form-field__fakeradio focus-enabled">
                                                    @Translate.Text("Yes")
                                                </span>
                                            </label>
                                        </p>
                                        <p class="form-field__radio">
                                            <label>
                                                <input class="form-field__input form-field__input--radio j132-happinex--notbranching d-radiabtn" panel-targets="@(targetId)" toggle-target="" id="form-field-radio_1_2" aria-label="form-field-radio_1_2" name="radios_group2" type="radio" value="@Translate.Text("No")" aria-describedby="description-for-q5fgq3876" data-parsley-errors-container="#description-for-q5fgq3876" data-parsley-multiple="radios_group2">
                                                <span class="form-field__fakeradio focus-enabled">
                                                    @Translate.Text("No")
                                                </span>
                                            </label>
                                        </p>
                                        <input type="hidden" class="decisionvalue" value="" />
                                    </fieldset>
                                </div>

                                foreach (DEWAXP.Feature.Events.Models.HappinEX.SurveyQuestion child in childList)
                                {
                                    <div class="j132-happinex--panel happinex-custom" panel-tag="@(targetId)">
                                        <div class="j132-happinex--panel_cover">
                                        </div>
                                        <div class="button button--text button--back j132-happinex--back">@Translate.Text("Back")</div>
                                        <div class="m14-richtext">
                                            <h4 class="survey-qus">@Html.Raw(child.Title)</h4>
                                        </div>
                                        <div class="m76-range-slider mt48 mb0" data-component="m76-range-slider">
                                            <div class="range-container">
                                                <div class="range-container-bg">
                                                    <input id="rangeslider" aria-label="rangeslider" data-range-slider="" class="range blue slider" type="range" data-snap='0,1,2,3,4,5' min="0" value="0" max="5" step="1" list="ticks">
                                                </div>
                                            </div>
                                            <div class="ticks-container" data-range-ticks="">
                                                <div class="sliderticks">
                                                    <span data-option="0" class="ticks"></span>
                                                    <span data-option="1" class="ticks"><span class="ticks-inner-text">1<br>@Translate.Text("Totally dissatisfied")</span><span class="rangeslider_click"></span></span>
                                                    <span data-option="2" class="ticks"><span class="ticks-inner-text">2<br>@Translate.Text("Dissatisfied") </span><span class="rangeslider_click"></span></span>
                                                    <span data-option="3" class="ticks"><span class="ticks-inner-text">3<br>@Translate.Text("Average") </span><span class="rangeslider_click"></span></span>
                                                    <span data-option="4" class="ticks"><span class="ticks-inner-text">4<br>@Translate.Text("Satisfied")</span><span class="rangeslider_click"></span></span>
                                                    <span data-option="5" class="ticks"><span class="ticks-inner-text">5<br>@Translate.Text("Totally Satisfied")</span><span class="rangeslider_click"></span></span>
                                                    @*<span data-option="6" class="ticks"><span class="ticks-inner-text"><br>@Translate.Text("I don't know")</span><span class="rangeslider_click"></span></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-field form-field--text form-field--textarea mt48 hidden">
                                            <label for="form-field-9xqmn7pbk" class="form-field__label">
                                                @Translate.Text("DescriptionLabel")
                                            </label>
                                            <span class="form-field__input-wrapper">
                                                <textarea class="comment-textarea form-field__input form-field__input--text form-field__input--textarea" data-textarea="9xqmn7pbk" id="form-field-9xqmn7pbk" name="textarea" type="textarea" placeholder="@Translate.Text("CommentsSuggestionsPlaceholder")" aria-describedby="description-for-9xqmn7pbk" data-parsley-errors-container="#description-for-9xqmn7pbk"></textarea>
                                            </span>
                                            <div id="description-for-9xqmn7pbk" class="form-field__messages">
                                            </div>
                                        </div>
                                        <div class="button button--primary mt12 j132-happinex--start hidden">@Translate.Text("j120 Next")</div>
                                    </div>
                                }


                            }

                            Icount++;
                        }
                    }

                    <div class="j132-happinex--panel">
                        <div class="j132-happinex--panel_cover">
                        </div>
                        <div class="button button--text button--back j132-happinex--back">@Translate.Text("Back")</div>
                        <div class="form-field form-field--text form-field--textarea">
                            <label for="DetailComment" class="form-field__label">
                                <strong>@Translate.Text("j120 Comments and Suggestions")</strong>
                            </label>
                            <span class="form-field__input-wrapper">
                                <textarea class="form-field__input form-field__input--text form-field__input--textarea" data-textarea="9xqmn763f" id="DetailComment" name="textarea" type="textarea" placeholder="@Translate.Text("CommentsSuggestionsPlaceholder")" aria-describedby="description-for-9xqmn763f" data-parsley-errors-container="#description-for-9xqmn763f"></textarea>
                            </span>
                            <div id="description-for-9xqmn763f" class="form-field__messages">
                            </div>
                        </div>
                        <div class="form-field">
                            <a class="button button--primary" id="btnSurveySubmit">@Translate.Text("Submit")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid j132-happinex--tracker">
            <div class="grid__row mb0">
                <div class="grid__column grid__column--12 grid__column--content">
                    <div class="j132-happinex--trackerbar">
                        <div class="j132-happinex--trackergreenbar"></div>
                    </div>
                    <div class="j132-happinex--trackernum">
                        <span>0</span>%
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="grid__row success-section" style="display:none">
        <div class="grid__column grid__column--12 grid__column--content">

            <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title">@Translate.Text("SuccessTitle")</div>
                <div class="m40-status-message__text">
                    @Translate.Text("SuccessSubTitle")
                </div>

            </div>

        </div>
    </div>

    <script type="text/javascript">

        docReady(function () {
            jQuery("#btnSurveySubmit").on("click", function () {


                var aft = jQuery("input[name='__RequestVerificationToken']").val();
                var key = jQuery("#Key").val();
                var tid = jQuery("#TrackingID").val();
                var sid = jQuery("#SurveyID").val();
                var djson = PrepareSurveyJson();

                jQuery.ajax({

                    type: "POST",
                    url: "@Url.Action("Survey")",
                    data: { __RequestVerificationToken: aft, Key: key, SurveyJson: JSON.stringify(djson), tracking_id: tid, survey_id: sid },
                    success: function (response) {
                        //the user will always see submission message
                        //console.log(response);

                        $("#j132-happinexform").hide();
                        $(".success-section").show();
                    }

                });

            });

            $(".d-radiabtn").on("click", function () {

                var _v = $(this).val();

                $(this).closest(".custom-radiobtn").find(".decisionvalue").val(_v);

            });
        });


        function PrepareSurveyJson() {


            var dataJson =  {
                "sid": jQuery("#SurveyID").val(),
                "tid": jQuery("#TrackingID").val(),
                "technical_discussion": false,
                "discussion_mode": "",
                "source": $("input[name='radios_group2']:checked").val(),
                "sourceDetails": $(".txtSourceOtherDetail").val(),
                "mood": $(".j132-happinex--emoticon_active").data("mood"),
                "DetailComment": $("#DetailComment").val(),
                "ServiceFeedbacks": []
            };

            $.each($(".happinex-custom"), function (key, obj) {
                var _qus = $(obj).find(".survey-qus").text();
                var _itemid = $(obj).find(".survey-qus").data("itemid")
                var _rating = $(obj).find(".ticks-active").data("option");
                var _comment = $(obj).find(".comment-textarea").val();
                var _descision = "";

                var rdbtn = $(obj).find(".custom-radiobtn");
                if (rdbtn != null && rdbtn.length > 0) {
                    _descision = $(rdbtn).find(".decisionvalue").val();
                }



                var d = {
                    "SurveyService": _qus,
                    "QusScId": _itemid,
                    "Rating": _rating,
                    "Comment": _comment,
                    "Descision": _descision
                };
                if (_descision != "" || _rating != undefined) {
                    dataJson.ServiceFeedbacks.push(d);
                }
            })


            console.log(dataJson);

            return dataJson;
        };

    </script>
}


