@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Glass.Mapper
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.Events.Models.HappinEX.SurveyPageModel

@{
    var direction = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "rtl" : "ltr";
}




@if (Model.ShowError)
{

    <div class="grid__row error-html">
        <div class="grid__column grid__column--12">
            <div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
                <div class="m40-status-message__title icon--error">@Sitecore.Globalization.Translate.Text(DictionaryKeys.Global.SubmissionError)</div>
                <div class="m40-status-message__text" dir="@direction">@Translate.Text("j120 Invalid Survey Context")</div>
            </div>
        </div>
    </div>
}
else
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Key)
    @Html.HiddenFor(model => model.TrackingID)
    @Html.HiddenFor(model => model.SurveyID)

    <div class="j120-smart-response" data-journey="j120-smart-response">
        <div class="box box--7 mb0">
            <div class="grid">

                <div class="grid__row">

                    <div class="grid__column grid__column--12">

                        <div class="j120-smart-response--window">
                            <button class="j120-smart-response--happinex_back j120-smart-response--back j120-smart-response--button hidden">@Translate.Text("j120 Back")</button>
                            <button class="j120-smart-response--smiley_back j120-smart-response--back j120-smart-response--button hidden">@Translate.Text("j120 Back")</button>
                            <div class="j120-smart-response--content j120-smart-response--happinEX">
                                <div class="j120-smart-response--content-content">
                                    <div class="j120-smart-response--happinEX-main">
                                        <p class="j120-smart-response--happinEX__subtitle">@Translate.Text("j120 Happinex Title")</p>

                                        <fieldset class="fieldset j120-smart-response--happinEX-radios">
                                            <legend class="legend-color">.</legend>
                                            <p class="form-field__radio">
                                                <label>
                                                    <input class="form-field__input form-field__input--radio" id="form-field-radio_1_1" aria-label="form-field-radio_1_1" name="radios_group1" type="radio" value="1" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group1" data-parsley-id="35" checked="">
                                                    <span class="form-field__fakeradio focus-enabled">
                                                        @Translate.Text("j120 DEWA Website")
                                                    </span>
                                                </label>
                                            </p>
                                            <p class="form-field__radio">
                                                <label>
                                                    <input class="form-field__input form-field__input--radio" id="form-field-radio_1_2" aria-label="form-field-radio_1_2" name="radios_group1" type="radio" value="2" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group1">
                                                    <span class="form-field__fakeradio focus-enabled">
                                                        @Translate.Text("j120 DEWA Smart Application")
                                                    </span>
                                                </label>
                                            </p>
                                            <p class="form-field__radio">
                                                <label>
                                                    <input class="form-field__input form-field__input--radio" id="form-field-radio_1_3" aria-label="form-field-radio_1_3" name="radios_group1" type="radio" value="3" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group1">
                                                    <span class="form-field__fakeradio focus-enabled">
                                                        @Translate.Text("j120 DEWA Customer Call Center")
                                                    </span>
                                                </label>
                                            </p>
                                            <p class="form-field__radio">
                                                <label>
                                                    <input class="form-field__input form-field__input--radio" id="form-field-radio_1_4" aria-label="form-field-radio_1_4" name="radios_group1" type="radio" value="4" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group1">
                                                    <span class="form-field__fakeradio focus-enabled">
                                                        @Translate.Text("j120 By Calling Technical Inquiry Desk")
                                                    </span>
                                                </label>
                                            </p>
                                            <p class="form-field__radio">
                                                <label>
                                                    <input class="form-field__input form-field__input--radio" id="form-field-radio_1_5" aria-label="form-field-radio_1_4" name="radios_group1" type="radio" value="5" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group1">
                                                    <span class="form-field__fakeradio focus-enabled">
                                                        @Translate.Text("j120 DEWA Happiness Centers")
                                                    </span>
                                                </label>
                                            </p>
                                            <p class="form-field__radio">
                                                <label>
                                                    <input class="form-field__input form-field__input--radio" id="form-field-radio_1_6" aria-label="form-field-radio_1_6" name="radios_group1" type="radio" value="6" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group1">
                                                    <span class="form-field__fakeradio focus-enabled">
                                                        @Translate.Text("j120 Rammas")
                                                    </span>
                                                </label>
                                            </p>
                                            <p class="form-field__radio">
                                                <label>
                                                    <input class="form-field__input form-field__input--radio" id="form-field-radio_1_7" aria-label="form-field-radio_1_7" name="radios_group1" type="radio" value="7" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group1">
                                                    <span class="form-field__fakeradio focus-enabled">
                                                        @Translate.Text("j120 Friend")
                                                    </span>
                                                </label>
                                            </p>
                                            <p class="form-field__radio">
                                                <label>
                                                    <input class="form-field__input form-field__input--radio" id="form-field-radio_1_8" aria-label="form-field-radio_1_8" name="radios_group1" type="radio" value="others" aria-describedby="description-for-q5fgq3g6b" data-parsley-errors-container="#description-for-q5fgq3g6b" data-parsley-multiple="radios_group1">
                                                    <span class="form-field__fakeradio focus-enabled">
                                                        @Translate.Text("j120 Others")
                                                    </span>
                                                </label>
                                            </p>
                                            <div id="description-for-q5fgq3g6b" class="form-field__messages">
                                            </div>
                                        </fieldset>

                                        <div class="form-field form-field--text form-field--happinEX-hidden">
                                            <span class="form-field__input-wrapper">
                                                <input class="form-field__input form-field__input--text" id="form-field-rjngjyddg" aria-label="form-field-rjngjyddg" name="text_required" type="text"
                                                       placeholder="@Translate.Text("j120 Please specify")" aria-describedby="description-for-rjngjyddg" data-parsley-errors-container="#description-for-rjngjyddg"
                                                       required="" data-parsley-required-message="@Translate.Text("j120 Field Required")" data-parsley-trigger="focusout" data-parsley-id="4">
                                            </span>
                                            <div id="description-for-rjngjyddg" class="form-field__messages">
                                            </div>
                                        </div>

                                        <div class="form-field__button mb12">
                                            <button class="button button--primary button--next">@Translate.Text("j120 Next")</button>
                                        </div>
                                    </div>

                                    <div class="j120-smart-response--happinEX-initial  j120-smart-response--happinEX-main">
                                        <p class="j120-smart-response--happinEX__subtitle">@Translate.Text("j120 Please rate your overall Happiness1")</p>

                                        <div class="j120-smart-response--happinEX_rxn__wrapper">
                                            <div class="j120-smart-response--happinEX_rxn">
                                                <img class="j120-smart-response--rammas_icon" alt="" src="../../images/smiley.png">
                                                <input name="j120-smart-response--happinEX_rxnBox" class="hidden j120-smart-response--happinEX_rxnBox" type="checkbox" value="happy">
                                            </div>
                                            <div class="j120-smart-response--happinEX_rxn">
                                                <img class="j120-smart-response--rammas_icon" alt="" src="../../images/neutral.png">
                                                <input name="j120-smart-response--happinEX_rxnBox" class="hidden j120-smart-response--happinEX_rxnBox" type="checkbox" value="neutral">
                                            </div>
                                            <div class="j120-smart-response--happinEX_rxn">
                                                <img class="j120-smart-response--rammas_icon" alt="" src="../../images/sad.png">
                                                <input name="j120-smart-response--happinEX_rxnBox" class="hidden j120-smart-response--happinEX_rxnBox" type="checkbox" value="sad">
                                            </div>
                                        </div>
                                    </div>

                                    <div data-reaction="happy" class="j120-smart-response--happinEX-form__wrapper hidden">
                                        <div class="j120-smart-response--happinEX-fieldset__wrapper">
                                            <p class="j120-smart-response--happinEX__subtitle">@Translate.Text("j120 What made you happy detail")</p>

                                            <div class="j120-smart-response--happinEX_improve--suggestwrapper">
                                                @foreach (var s in Model.Survey.QuestionsWhenHappy)
                                                {
                                                    <div class="j120-smart-response--happinEX_improve--suggest">
                                                        @s.MainQuestion.Title
                                                        <input name="j120-smart-response--happinEX_improveBox" class="hidden j120-smart-response--happinEX_improveBox" type="checkbox" value="@s.MainQuestion.Id">
                                                    </div>

                                                }

                                            </div>
                                            <div class="form-field__button mb12">
                                                <button class="button button--primary button--next disabled" data-min="1" data-max="@Model.Survey.QuestionsWhenHappy.Count()">@Translate.Text("j120 Next")</button>
                                            </div>
                                        </div>

                                        <div class="j120-smart-response--happinEX-fieldset__wrapper" data-set="Comments Section">
                                            <p class="j120-smart-response--happinEX__subtitle">@Translate.Text("j120 Comments and Suggestions")</p>

                                            <div class="form-field form-field--text form-field--textarea">
                                                <span class="form-field__input-wrapper">
                                                    <textarea class="form-field__input form-field__input--text form-field__input--textarea" data-textarea="l66b3tza1" id="form-field-l66b3tza1" name="textarea"
                                                              type="textarea" aria-describedby="description-for-l66b3tza1" data-parsley-errors-container="#description-for-l66b3tza1"
                                                              data-parsley-id="17"></textarea>
                                                </span>
                                                <div id="description-for-l66b3tza1" class="form-field__messages">
                                                </div>
                                            </div>

                                            <div class="form-field__button mb12">
                                                <button type="button" id="btnHappy" class="button button--primary button--next" data-submit="true" data-min="0" data-max="0">@Translate.Text("j120 Submit")</button>
                                            </div>
                                        </div>

                                        <div class="j120-smart-response--happinEX-fieldset__wrapper" data-set="Status Message">

                                            <div class="m40v2--status-message m40v2--status-message--success  icon icon-new-success-message " data-component="m40v2--status-message">
                                                <div class="m40v2--status-message__title">@Translate.Text("j120 Submission Successful Title")</div>
                                                <div class="m40v2--status-message__text">@Translate.Text("j120 Submission Successful Detail") </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-reaction="neutral" class="j120-smart-response--happinEX-form__wrapper hidden">
                                        <div class="j120-smart-response--happinEX-fieldset__wrapper">
                                            <p class="j120-smart-response--happinEX__subtitle">@Translate.Text("j120 How can we improve detail")</p>
                                            <p class="j120-smart-response--happinEX__subtitle">&#40;@Translate.Text("J120 You can choose up to")&#41;</p>
                                            <div class="j120-smart-response--happinEX_improve--suggestwrapper level1">
                                                @foreach (var q in Model.Survey.QuestionsWhenNeutral)
                                                {
                                                    <div class="j120-smart-response--happinEX_improve--suggest j120-smart-response--happinEX_improve--suggestMain">
                                                        @q.MainQuestion.Title
                                                        <input name="j120-smart-response--happinEX_improveBox" class="hidden j120-smart-response--happinEX_improveBox" type="checkbox" value="@q.MainQuestion.Id">
                                                    </div>
                                                }
                                            </div>
                                            <div class="form-field__messages hidden j120-form-field__messages-max">
                                                <ul class="parsley-errors-list filled" id="parsley-id-8">
                                                    <li class="parsley-required">@Translate.Text("j120 You can only select up to")</li>
                                                </ul>
                                            </div>
                                            <div class="form-field__button mb12">
                                                <button class="button button--primary button--next disabled" disabled="" data-min="1" data-max="3">@Translate.Text("j120 Next")</button>
                                            </div>
                                        </div>

                                        @foreach (var s in Model.Survey.QuestionsWhenNeutral)
                                        {

                                            <div class="j120-smart-response--happinEX-fieldset__wrapper" data-set="@s.MainQuestion.Id">
                                                <p class="j120-smart-response--happinEX__subtitle">@Html.Raw(s.GetHeading)</p>

                                                <div class="j120-smart-response--happinEX_improve--suggestwrapper">
                                                    @foreach (var sq in s.SubQuestions)
                                                    {
                                                        <div class="j120-smart-response--happinEX_improve--suggest">
                                                            @sq.Title
                                                            <input name="j120-smart-response--happinEX_improveBox" class="hidden j120-smart-response--happinEX_improveBox" type="checkbox" value="@sq.Id">
                                                        </div>
                                                    }
                                                </div>

                                                <div class="form-field form-field--text form-field--textarea">
                                                    <label class="form-field__label">
                                                        @Translate.Text("j120 Other Comments")
                                                    </label>
                                                    <span class="form-field__input-wrapper">
                                                        <textarea class="form-field__input form-field__input--text form-field__input--textarea" data-textarea="l66b3tza2" id="form-field-l66b3tza2" name="textarea" type="textarea" aria-describedby="description-for-l66b3tza2" data-parsley-errors-container="#description-for-l66b3tza2" data-parsley-id="17"></textarea>
                                                    </span>
                                                    <div id="description-for-l66b3tza2" class="form-field__messages">
                                                    </div>
                                                </div>
                                                <div class="form-field__button mb12">
                                                    <button class="button button--primary button--next" data-min="1" data-max="@s.SubQuestions.Count()">@Translate.Text("j120 Next")</button>
                                                </div>
                                            </div>
                                        }

                                        <div class="j120-smart-response--happinEX-fieldset__wrapper" data-set="Comments Section">
                                            <p class="j120-smart-response--happinEX__subtitle">@Translate.Text("j120 Comments and Suggestions")</p>

                                            <div class="form-field form-field--text form-field--textarea">
                                                <span class="form-field__input-wrapper">
                                                    <textarea class="form-field__input form-field__input--text form-field__input--textarea" data-textarea="l66b3tza3" id="form-field-l66b3tza3" name="textarea" type="textarea" aria-describedby="description-for-l66b3tza3" data-parsley-errors-container="#description-for-l66b3tza3" data-parsley-id="17"></textarea>
                                                </span>
                                                <div id="description-for-l66b3tza3" class="form-field__messages">
                                                </div>
                                            </div>

                                            <div class="form-field__button mb12">
                                                <button id="btnNeutral" type="button" class="button button--primary button--next" data-submit="true" data-min="0" data-max="0">@Translate.Text("j120 Submit")</button>
                                            </div>
                                        </div>

                                        <div class="j120-smart-response--happinEX-fieldset__wrapper" data-set="Status Message">

                                            <div class="m40v2--status-message m40v2--status-message--success  icon icon-new-success-message " data-component="m40v2--status-message">
                                                <div class="m40v2--status-message__title">@Translate.Text("j120 Submission Successful Title")</div>
                                                <div class="m40v2--status-message__text">@Translate.Text("j120 Submission Successful Detail") </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div data-reaction="sad" class="j120-smart-response--happinEX-form__wrapper hidden">
                                        <div class="j120-smart-response--happinEX-fieldset__wrapper">
                                            <p class="j120-smart-response--happinEX__subtitle">@Translate.Text("j120 What made you unhappy detail")</p>
                                            <p class="j120-smart-response--happinEX__subtitle">&#40;@Translate.Text("J120 You can choose up to")&#41;</p>
                                            <div class="j120-smart-response--happinEX_improve--suggestwrapper level1">
                                                @foreach (var q in Model.Survey.QuestionsWhenSad)
                                                {

                                                    <div class="j120-smart-response--happinEX_improve--suggest j120-smart-response--happinEX_improve--suggestMain">
                                                        @q.MainQuestion.Title
                                                        <input name="j120-smart-response--happinEX_improveBox" class="hidden j120-smart-response--happinEX_improveBox" type="checkbox" value="@q.MainQuestion.Id">
                                                    </div>
                                                }
                                                <div class="form-field__messages hidden j120-form-field__messages-max">
                                                    <ul class="parsley-errors-list filled" id="parsley-id-8">
                                                        <li class="parsley-required">@Translate.Text("j120 You can only select up to")</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="form-field__button mb12">
                                                <button class="button button--primary button--next disabled" disabled="" data-min="1" data-max="3">@Translate.Text("j120 Next")</button>
                                            </div>
                                        </div>
                                        @foreach (var s in Model.Survey.QuestionsWhenSad)
                                        {
                                            <div class="j120-smart-response--happinEX-fieldset__wrapper" data-set="@s.MainQuestion.Id">
                                                <p class="j120-smart-response--happinEX__subtitle">@Html.Raw(s.GetHeading)</p>

                                                <div class="j120-smart-response--happinEX_improve--suggestwrapper">
                                                    @foreach (var sq in s.SubQuestions)
                                                    {
                                                        <div class="j120-smart-response--happinEX_improve--suggest">
                                                            @sq.Title
                                                            <input name="j120-smart-response--happinEX_improveBox" class="hidden j120-smart-response--happinEX_improveBox" type="checkbox" value="@sq.Id">
                                                        </div>
                                                    }
                                                </div>

                                                <div class="form-field form-field--text form-field--textarea">
                                                    <label class="form-field__label" for="form-field-l66b3tza2">
                                                        @Translate.Text("j120 Other Comments")
                                                    </label>
                                                    <span class="form-field__input-wrapper">
                                                        <textarea class="form-field__input form-field__input--text form-field__input--textarea" data-textarea="l66b3tza2" id="form-field-l66b3tza2" name="textarea" type="textarea" aria-describedby="description-for-l66b3tza2" data-parsley-errors-container="#description-for-l66b3tza2" data-parsley-id="17"></textarea>
                                                    </span>
                                                    <div id="description-for-l66b3tza2" class="form-field__messages">
                                                    </div>
                                                </div>
                                                <div class="form-field__button mb12">
                                                    <button class="button button--primary button--next" data-min="1" data-max="@s.SubQuestions.Count()">@Translate.Text("j120 Next")</button>
                                                </div>
                                            </div>
                                        }

                                        <div class="j120-smart-response--happinEX-fieldset__wrapper" data-set="Comments Section">
                                            <p class="j120-smart-response--happinEX__subtitle">@Translate.Text("j120 Comments and Suggestions")</p>

                                            <div class="form-field form-field--text form-field--textarea">
                                                <span class="form-field__input-wrapper">
                                                    <textarea class="form-field__input form-field__input--text form-field__input--textarea" data-textarea="l66b3tza3" id="form-field-l66b3tza3" aria-label="form-field-l66b3tza3" name="textarea" type="textarea" aria-describedby="description-for-l66b3tza3" data-parsley-errors-container="#description-for-l66b3tza3" data-parsley-id="17"></textarea>
                                                </span>
                                                <div id="description-for-l66b3tza3" class="form-field__messages">
                                                </div>
                                            </div>

                                            <div class="form-field__button mb12">
                                                <button type="button" id="btnSad" class="button button--primary button--next" data-submit="true" data-min="0" data-max="0">@Translate.Text("j120 Submit")</button>
                                            </div>
                                        </div>
                                        <div class="j120-smart-response--happinEX-fieldset__wrapper" data-set="Status Message">

                                            <div class="m40v2--status-message m40v2--status-message--success  icon icon-new-success-message " data-component="m40v2--status-message">
                                                <div class="m40v2--status-message__title">@Translate.Text("j120 Submission Successful Title")</div>
                                                <div class="m40v2--status-message__text">@Translate.Text("j120 Submission Successful Detail") </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var css_mood_click = ".j120-smart-response--happinEX_rxn";
    var css_mood_val = ".j120-smart-response--happinEX_rxnBox";
    var css_comments_sel = '[data-set="Comments Section"]';
    var css_comments_field = ".form-field__input--textarea";
    var css_checkbox_class = ".j120-smart-response--happinEX_improveBox:checkbox:checked";

    var j120_journey = {sid:"@Model.SurveyID", tid:"@Model.TrackingID", technical_discussion: false, discussion_mode: "", source: "", mood: "", reasons: [], input: '' };

    jQuery(function ($) {
        $(document).on("click", css_mood_click, function () {

            j120_journey.mood = $(this).find(css_mood_val).val();

            //printJson();
        });

        $('#btnHappy').on('click', function (e) {
            var root_div = "[data-reaction='happy']";

            jQuery(document).find(root_div).find(css_checkbox_class).each(function () {

                var reason = { label: $(this).val(), reasons: [], suggestion: '' };
                j120_journey.reasons.push(reason);
            });

            $(root_div).find(css_comments_field).each(function () {
                j120_journey.input = $(this).val();
            });

            //printJson();
            submitForm();
        });

        $('#btnNeutral').on('click', function (e) {
            var div_fltr = "[data-reaction='neutral']";
            jQuery(document).find(div_fltr).find('.level1').find(css_checkbox_class).each(function () {
                var sr = $(this).val();

                var reason = { label: sr, reasons: [], suggestion: '' };

                $(div_fltr).find("[data-set='" + sr + "']").find(css_checkbox_class).each(function () {

                    reason.reasons.push($(this).val());
                });

                $(div_fltr).find("[data-set='" + sr + "']").find(css_comments_field).each(function () {

                    reason.suggestion = $(this).val();
                });

                j120_journey.reasons.push(reason);
            });


            $(document).find(div_fltr).find(css_comments_sel).find(css_comments_field).each(function () {
                //console.log('Overall Comments: '+ $(this).val());
                j120_journey.input = $(this).val();
            });

            //printJson();
            submitForm();
        });

        $('#btnSad').on('click', function (e) {
            var div_fltr = "[data-reaction='sad']";
            jQuery(document).find(div_fltr).find('.level1').find(css_checkbox_class).each(function () {
                var sr = $(this).val();

                var reason = { label: sr, reasons: [], suggestion: '' };

                $(div_fltr).find("[data-set='" + sr + "']").find(css_checkbox_class).each(function () {
                    reason.reasons.push($(this).val());
                });

                $(div_fltr).find("[data-set='" + sr + "']").find(css_comments_field).each(function () {
                    reason.suggestion = $(this).val();
                });
                j120_journey.reasons.push(reason);
            });

            $(document).find(div_fltr).find(css_comments_sel).find(css_comments_field).each(function () {

                j120_journey.input = $(this).val();
            });

            //printJson();
            submitForm();
        });

    });

    function submitForm() {
        var source_val = $("input[name='radios_group1']:checked").val();
        if (source_val === 'others') {
            j120_journey.source = $('#form-field-rjngjyddg').val().text();
        } else {
            j120_journey.source = source_val;
        }

        var aft = jQuery("input[name='__RequestVerificationToken']").val();
        var key = jQuery("#Key").val();
        var tid = jQuery("#TrackingID").val();
        var sid = jQuery("#SurveyID").val();

        //console.log(JSON.stringify(j120_journey));
        //return;
        jQuery.ajax({

            type: "POST",
            url: "@Url.Action("Survey")",
            data: { __RequestVerificationToken: aft, Key: key, SurveyJson: JSON.stringify(j120_journey), tracking_id:tid, survey_id:sid },
            success: function (response) {
                //the user will always see submission message
                //console.log(response);
            }

        });


    }
    function printJson() {
        console.log(JSON.stringify(j120_journey));
    }
</script>