@using Sitecore.Globalization
@using Sitecore.Mvc
@model DEWAXP.Foundation.Content.Models.Common.ListDataSources
@if (Model != null && Model.Items != null && Model.Items.Count() > 0)
{
    string WapperExtracssClass = Html.Sitecore().CurrentRendering.Parameters["WapperExtracssClass"] != null ? Html.Sitecore().CurrentRendering.Parameters["WapperExtracssClass"] : string.Empty;

    <div class="m12-bar--investor__wrapper @WapperExtracssClass">
        <div class="m12-bar--investor__innerwrapper">
            <div class="m12-bar--investor__title">@Translate.Text("Header Investor title")</div>
            <div class="m12-bar--investor__list">
                @foreach (var item in Model.Items)
                {
                    <a href="@item.Value" class="m12-bar--investor__link">
                        @item.Text
                    </a>
                }
            </div>
            <button class="m12-bar--investor__toggle">
                <span class="aria-only">@Translate.Text("Toggle Investor Menu")</span>
            </button>
        </div>
    </div>
    <script type="text/javascript">
        jQuery('.m12-bar__breadcrumbs').hide();
    </script>
}