@using Sitecore.Globalization
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers
@using System.Linq;
@using DEWAXP.Feature.CommonComponents.Models.Renderings

@model DEWAXP.Feature.CommonComponents.Models.Renderings.M108Folder

<div class="box box--ipo mb0">
    <div class="grid j157-investor-relations" data-journey="j157-investor-relations">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                    <h3 class="m17-sectiontitle__title  text__section-title">@Model.Title</h3>
                    <a class="m17-sectiontitle__cta button button--text button--nextNEW" href="@(Model.URL != null && !string.IsNullOrWhiteSpace(Model.URL.Url) ? Model.URL.Url : string.Empty)">@(Model.URL != null && !string.IsNullOrWhiteSpace(Model.URL.Text) ? Model.URL.Text : string.Empty)</a>
                </div>
            </div>
        </div>
        <div class="grid__row ">
            <div class="grid__column grid__column--12 ">
                @if (Model.ListItems != null)
                {
                    foreach (M108ListContainer calendarItem in Model.ListItems)
                    {
                        <div class="m108-add-to-calendar" data-component="m108-add-to-calendar">
                            <div class="m108-atc--date">
                                <div class="m108-atc--datedd">
                                    @calendarItem.StartDate.Day
                                </div>
                                <div class="m108-atc--datemmyy">
                                    @calendarItem.StartDate.ToString("MMM") @calendarItem.StartDate.Year
                                </div>
                            </div>
                            <div class="m108-atc--content">
                                <div class="m108-atc--title">
                                    @calendarItem.Subject
                                </div>
                                <div class="m108-atc--link" data-ics_entry='{"subject":"@calendarItem.Subject","description":"@calendarItem.Description","location":"@calendarItem.Location","begin":"@calendarItem.StartDate","end":"@calendarItem.EndDate"}' data-dl_name="">
                                    @Translate.Text("AddToCalendar")
                                    <div class="m108-atc--linklist">
                                        @foreach (ATCItems item in calendarItem.RenderLinkItems)
                                        {
                                            <div class="m108-atc--linkitem">
                                                <a href="@(item.ICSType ? "#" : "")" class="m108-atc--linkitem_link @(item.ICSType ? "m108-atc--ICS" : "")" data-client="@item.Title.ToLower()" target="_blank">
                                                    <img src="@(item.LinkImage != null && !string.IsNullOrWhiteSpace(item.LinkImage.Src) ? item.LinkImage.Src : string.Empty)">
                                                    @item.Title
                                                </a>
                                            </div>
                                        }

                                        @*<div class="m108-atc--linkitem">
                                            <a href="" class="m108-atc--linkitem_link" data-client="yahoo" target="_blank">
                                                <img src="../../images/yahoo.png">
                                                Yahoo
                                            </a>
                                        </div>
                                        <div class="m108-atc--linkitem">
                                            <a href="#" class="m108-atc--linkitem_link m108-atc--ICS">
                                                <img src="../../images/outlook.png">
                                                Outlook
                                            </a>
                                        </div>
                                        <div class="m108-atc--linkitem">
                                            <a href="#" class="m108-atc--linkitem_link m108-atc--ICS">
                                                <img src="../../images/apple.png">
                                                Apple
                                            </a>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>