@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.SupplyManagement.Models.MoveIn.ReraAccountDetailsViewModel

<div class="grid">


    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title">
                <h2 class="text__page-title">@Translate.Text(DictionaryKeys.ReraMoveIn.PageTitle)</h2>

            </div>
        </div>
    </div>

    @if (Model==null || Model.ResponseCode == 0)
    {
        <div class="grid__row">
                <div class="grid__column grid__column--12 grid__column--content">
                    @Html.Raw( Translate.Text(DictionaryKeys.ReraMoveIn.UrlInactive, @LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J7_LOGIN_PAGE)))
                </div>
        </div>
    }
    else
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--content">
                <!-- m42-key-value--start -->
                <div class="m42-keyvalue">
                    <dl>

                        <dt class="m42-keyvalue__key">@Translate.Text("business partner label")</dt>
                        <dd class="m42-keyvalue__value ">@Model.BusinessPartner</dd>

                        <dt class="m42-keyvalue__key">@Translate.Text(DictionaryKeys.Global.Account.CustomerName)</dt>
                        <dd class="m42-keyvalue__value ">@Model.CustomerName</dd>

                        <dt class="m42-keyvalue__key">@Translate.Text(DictionaryKeys.Global.Account.ContractAccountNumber)</dt>
                        <dd class="m42-keyvalue__value ">@Model.ContractAccount</dd>

                        <dt class="m42-keyvalue__key">@Translate.Text(DictionaryKeys.ReraMoveIn.SecurityDeposit)</dt>
                        <dd class="m42-keyvalue__value " data-numeric-format="0,0.00" data-currency="@Translate.Text("AED")">0.00</dd>
                    </dl>
                </div>
                <!-- m42-key-value--end -->
            </div>
        </div>

        <div class="grid__row noprint">

            <div class="grid__column grid__column--12 grid__column--centered grid__column--content">


                <div class="m14-richtext">

                    <p class="">
                        @Translate.Text(DictionaryKeys.ReraMoveIn.CannotProceed)
                    </p>

                </div>
                <div class="form-field__button">
                    <button type="submit" class="button button--primary button disabled" disabled="">
                        @Translate.Text("Pay")

                    </button>
                </div>

            </div>

        </div>
    }
                





            </div>
