@using DEWAXP.Foundation.Content.Models.Bills
@using DEWAXP.Foundation.Content
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Links
@model PaymentReceiptDetailModel

<div class="grid__row">
    <div class="grid__column grid__column--12 receipt-heading">
        <div class="m26-page-title title_message">
            <div class="m26-page-title__links noprint">
                <p class="m26-page-title__backlink">
                    <a class="button button--text button--back" href="@LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(SitecoreItemIdentifiers.J1_VIEW_PAST_BILLS))">@Translate.Text("TH.Back to Transaction History")</a>
                </p>
            </div>
            <h2 class="text__page-title">@Model.Description</h2>
        </div>
    </div>
</div>

<div class="grid">
    <div class="grid__row mb24">
        <div class="grid__column grid__column--12 grid__column--form">
            <!-- m42-key-value-start -->
            <div class="m42-keyvalue">
                @if (Model.IstransactionId)
                {
                    <dl>
                        @if (!string.IsNullOrWhiteSpace(Model.Dewatransactionid))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">
                                @Translate.Text("TH.Receipt ID")
                                <span class="floatRight">:</span>
                            </dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.Dewatransactionid</dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.SDGTransactionId))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.DEG Transaction ID")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.SDGTransactionId</dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.PaymentTypetext))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Sourceofpayment")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.PaymentTypetext</dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.PaymentType))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Paymenttype")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.PaymentType</dd>
                        }
                        @if (Model.Date != null && Model.Date.Ticks > 0)
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Payment Date")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.FormattedDateTime</dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Channel))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Channel")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.Channel</dd>
                        }
                        else
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Channel")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">--</dd>
                        }
                        @if (Model.Amount > 0)
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Total amount")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@((Model.Amount+Model.SuqiaAmount).ToString("N2")) @Translate.Text("AED")</dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.DewaTransactionReference))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.DEWA reference")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.DewaTransactionReference</dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.TotalAccount))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Number of accounts")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.TotalAccount</dd>
                        }
                        <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Status")<span class="floatRight">:</span></dt>
                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Translate.Text("TH.Success")</dd>
                    </dl>
                }
                else if (Model.Isdocumentnumber)
                {
                    <dl>
                        @if (!string.IsNullOrWhiteSpace(Model.DocumentNumber))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Payment Document Number")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.DocumentNumber</dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.PaymentType))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Payment Type")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.PaymentType</dd>
                        }
                        @if (Model.Date != null && Model.Date.Ticks > 0)
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Payment Date")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.FormattedDateTime</dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Channel))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Channel")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Model.Channel</dd>
                        }
                        else
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Channel")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">--</dd>
                        }
                        @if (Model.Amount > 0)
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Total amount")<span class="floatRight">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@((Model.Amount+Model.SuqiaAmount).ToString("N2")) @Translate.Text("AED")</dd>
                        }
                        @*<dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("TH.Status")</dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@Translate.Text("TH.Success")</dd>*@
                    </dl>
                }
            </div>
            <!-- m42-key-value-end -->
        </div>
    </div>
    @if (Model.ReceiptAccounts != null && Model.ReceiptAccounts.Count > 0)
    {
        <div class="grid__row mb0">
            <div class="grid__column grid__column--12 grid__column--form">
                <h3 class="text__section-subtitle">@Translate.Text("TH.Details")</h3>

                <div id="receiptsaccounts">
                    @Html.Partial("~/Views/Feature/Bills/Bill/_Receiptspartial.cshtml", Model)
                </div>
            </div>
            @if (Model.Totalpage > 1)
            {
                <div id="loadmorediv" class="grid__column grid__column--12 grid__column--form grid__column--centered">
                    <div role="button" id="receiptsloadmore" class="button mt12">@Translate.Text("TH.Loadmore")</div>
                </div>
            }
        </div>
    }
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SuqiaSuccessPayment.cshtml", Model.SuqiaAmount)
            @Html.Sitecore().Placeholder("content-transreciept-placeholder")
            <div data-component="m40-status-message">
                <input class="hidden noprint" id="pagecount" count="1" />
                @Html.HiddenFor(m => m.Totalpage, new { @class = "noprint" })
                <p><button class="button button--text button--printer noprint" data-print="page">@Translate.Text("TH.Print this page")</button>
            </div>
        </div>
    </div>
</div>
<div class="receipt-footer hidden">
    <ul class="m13-share-menu m13-footer--medialinks_list">
        <li class="m13-footer--medialinks_item twitter">
            <a href="https://twitter.com/dewaofficial" target="_blank" title="@Translate.Text("Twitter")">
                @Translate.Text("Twitter")
            </a>
        </li>
        <li class="m13-footer--medialinks_item facebook">
            <a href="https://www.facebook.com/dewaofficial" target="_blank" title="@Translate.Text("Facebook")">
                @Translate.Text("Facebook")
            </a>
        </li>
        <li class="m13-footer--medialinks_item instagram ">
            <a href="https://instagram.com/dewaofficial" target="_blank" title="@Translate.Text("Instagram")">
                @Translate.Text("Instagram")
            </a>
        </li>
        @*<li class="m13-footer--medialinks_item snapchat ">
            <a href="https://instagram.com/dewaofficial" target="_blank" title="@Translate.Text("Snapchat")">
                @Translate.Text("Snapchat")
            </a>
        </li>*@
        <li class="m13-footer--medialinks_item youtube">
            <a href="https://www.youtube.com/user/DEWAVIDEOGALLERY/videos" target="_blank" title="@Translate.Text("YouTube")">
                @Translate.Text("YouTube")
            </a>
        </li>
    </ul>
    <p>@Translate.Text("TH.DEWA Subject")<a href="" class="link">@Translate.Text("TH.disclaimer")</a></p>
</div>
<script type="text/javascript">
    docReady(function () {
        jQuery('body').addClass('receipt-body');
        jQuery('.m12-logo--yoz').addClass('noprint');
        jQuery('.m12-logo--expo').addClass('noprint');
        if (jQuery('html').attr('dir') == 'rtl') {
            jQuery('.m42-keyvalue__key').each(function () {
                jQuery(this).addClass('m42-keyvalue__key-ar')
            });
            jQuery('.m42-keyvalue__value').each(function () {
                jQuery(this).addClass('m42-keyvalue__value-ar')
            });
        };
        jQuery("#receiptsloadmore").click(function () {
            var pagecount = getPageCount();
            jQuery.ajax({
                url: '/api/sitecore/Bill/ReceiptsLoadmore',
                type: 'GET',
                cache: false,
                data: {
                    page: pagecount
                },
                beforeSend: function () {
                    var totalcount = parseInt(jQuery('input[name="Totalpage"]').val());
                    if (totalcount <= pagecount) {
                        jQuery('#loadmorediv').hide();
                    }
                },
                success: function (result) {
                    jQuery('#receiptsaccounts').append(result);
                }, error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }

                }
            });
        });
        function getPageCount() {
            var countval = jQuery('#pagecount').attr('count');
            var count = 1;
            if (countval != "") {
                count = parseInt(countval) + 1;
                jQuery('#pagecount').attr('count', count);
            }
            return count;
        }
    });


</script>
