@using DEWAXP.Foundation.Content.Models.Bills
@using Sitecore.Globalization
@using Sitecore.Mvc
@model PaymentReceiptDetailModel

    @foreach (var receiptaccount in Model.ReceiptAccounts)
    {
        <div class="m44-bill-selector__account_confirmation--detail-new">
            <span class="m44-bill-selector__account m44-bill-selector__account--confirm-new">
                <span class="m44-bill-selector__header">
                    <span class="m44-bill-selector__name-new">
                        <span class="inline-block">@receiptaccount.name</span>
                    </span>
                    <span class="m44-bill-selector__details-new">
                        @Translate.Text("TH.Amount") @receiptaccount.amount.ToString("N2") @Translate.Text("AED")
                    </span>
                    <div class="m44-bill-selector__confirmation-details-new">
                        <span title="Account">@Translate.Text("TH.Account")</span><span>@receiptaccount.contractaccountnumber</span>
                    </div>
                </span>
            </span>
        </div>
    }
