@using DEWAXP.Foundation.Helpers.Extensions
@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Foundation.Content.Models.Bills.RequestCollectiveAccountWorkflowState

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
            <div class="m40-status-message__title icon--success">@Translate.Text("submission successful text")</div>
            <div class="m40-status-message__text"><p>@Translate.Text("submission text")<p>@Translate.Text("reference number text") <strong>@Model.NotificationNumber</strong></p></div>
            @*<p><button class="button button--text button--printer noprint" data-print="page">@Translate.Text("Print this page")</button></p>*@
        </div>
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <!-- m42-key-value-start -->
        <div class="m42-keyvalue success-page">
            <dl>
                <dt class="m42-keyvalue__key--stacked">@Translate.Text("business partner label")</dt>
                <dd class="m42-keyvalue__value--stacked tran-details ">@Model.BusinessPartnerNumber</dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text("category label")</dt>
                <dd class="m42-keyvalue__value--stacked tran-details">@Model.SelectedCategoryValue</dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text("contact name label")</dt>
                <dd class="m42-keyvalue__value--stacked tran-details">@Model.ContactName</dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text(DictionaryKeys.Registration.MobileNumberLabel)</dt>
                <dd class="m42-keyvalue__value--stacked tran-details"> @Model.Mobile.AddMobileNumberZeroPrefix() </dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text("email address label")</dt>
                <dd class="m42-keyvalue__value--stacked tran-details">@Model.EmailAddress</dd>

                <dt class="m42-keyvalue__key--stacked">@Translate.Text("supporting documentation label")</dt>
                <dd class="m42-keyvalue__value--stacked tran-details">
                    @Model.OfficialLetterFileName
                    <br />
                    @Model.TradeLicenceFileName
                    @*<div class="m42-keyvalue__value-img-container">
                            <img src='/content/j11_doc_thumbnail.png' width='120' height='168' alt=@Translate.Text("attachment alternate text") /><br />
                            @Translate.Text("official letter pdf label")
                        </div>*@
                    @*<div class="m42-keyvalue__value-img-container">
                            <img src='/content/j11_doc_thumbnail.png' width='120' height='168'
                                 alt=@Translate.Text("attachment alternate text") /><br />
                            @Translate.Text("trade licence pdf label")
                        </div>*@
                </dd>
            </dl>
        </div>
        <!-- m42-key-value-end -->
    </div>
</div>

<div class="grid__row noprint">
    <div class="grid__column grid__column--12 grid__column--centered grid__column--form">
        <h2 class="text__section-title--centered">@Translate.Text("whats next link text")</h2>
        <p class="text__content-small">@Translate.Text("request reviewed text")</p>
    </div>
</div>

<div class="grid__row noprint">
    <div class="grid__column grid__column--12 grid__column--centered grid__column--form">
        <a class="button button--primary button--next" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)">@Translate.Text("Dashboard")</a>
    </div>
</div>

