@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
@Html.Sitecore().Placeholder("j94/m26-page-title")

@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

<div class="grid__row">
	<div class="grid__column grid__column--12 grid__column--content">
		<div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
			<div class="m40-status-message__title">@Translate.Text("Submission Failed")</div>
			<div class="m40-status-message__text">@Translate.Text(ViewBag.Message)</div>
		</div>
	</div>
</div>
<div class="grid__row">
	<div class="grid__column grid__column--12">
		<ul class="summary-footer__buttons">
			<li class="summary-footer__button">
				<a role="button" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)" class="button button--primary button--next">@Translate.Text("Dashboard")</a>
			</li>
		</ul>
	</div>
</div>

