@using Sitecore.Globalization;
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.ScrapSale.Models.ScrapSale.SetDewaScrapeAccountRegistrationModel


<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">

        @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @id = "AccountRegistrationStep2From", data_form = "true", data_parsley_focus = "none", @data_submit_validate = "enabled", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            <input id="ConsumerNo" type="hidden" name="ConsumerNo" value="@Model.ConsumerNo" />
            <input id="MaskedEmail" type="hidden" name="MaskedEmail" value="@Model.MaskedEmail" />
            <input id="MaskedMobile" type="hidden" name="MaskedEmail" value="@Model.MaskedMobile" />
            <input id="SendBY" type="hidden" name="SendBY" value="@Model.SendBY" />
            @*<input id="OtpTrigger" type="hidden" name="OtpTrigger" value="@Model.OtpTrigger" />*@
            <input id="OtpNumber" type="hidden" name="OtpNumber" value="@Model.OtpNumber" />


            <div class="form-field form-field--text">
                <label for="form-field-ConsumerNo" class="form-field__label form-field__label--readonly">
                    @Translate.Text("SS_S3_ConsumerNo")
                </label>
                <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                    <input class="form-field__input form-field__input--readonly" readonly="" id="form-field-ConsumerNo" name="bp" type="number" value="@Model.ConsumerNo" aria-describedby="description-for-vbqji1dh6" data-parsley-errors-container="#description-for-vbqji1dh6" data-parsley-trigger="focusout">
                </div>
                <div id="description-for-vbqji1dh6" class="form-field__messages">
                </div>
            </div>
            <div class="form-field form-field--text">
                <label for="form-field-vbqji1vl1" class="form-field__label form-field__label--readonly">
                    @Html.Raw(Model.SendBY == "e" ? Translate.Text("SS_S2_EmailTitle") : Translate.Text("SS_S2_MobileTitle"))
                </label>
                <div class="form-field__input-wrapper form-field__input-wrapper--readonly">
                    <input class="form-field__input form-field__input--readonly" readonly="" id="form-field-vbqji1vl1" name="email" type="text" value="@(Model.SendBY == "e" ? Model.MaskedEmail : Model.MaskedMobile)" aria-describedby="description-for-vbqji1vl1" data-parsley-errors-container="#description-for-vbqji1vl1" data-parsley-trigger="focusout">
                </div>
                <div id="description-for-vbqji1vl1" class="form-field__messages">
                </div>
            </div>
            <div class="form-field form-field--text">
                <label for="form-field-username" class="form-field__label">
                    @Translate.Text("username label")
                </label>
                <span class="form-field__input-wrapper">

                    @Html.TextBoxFor(m => m.UserName, new
               {
                   @class = "form-field__input form-field__input--text",
                   @id = "form-field-username",
                   @type = "text",
                   @placeholder = Translate.Text("sc_username_placeholder"),
                   @aria_describedby = "description-for-username",
                   @data_parsley_errors_container = "#description-for-username",
                   @required = "",
                   //@data_parsley_required_message = "This field is required",
                   @data_parsley_username = "",
                   @data_parsley_username_message = Translate.Text("register username validation message"),
                   @data_parsley_trigger = "focusout",
                   @data_parsley_id = "8"
               })
                </span>
                <div id="description-for-description-for-username" class="form-field__messages">
                    @Html.ValidationMessageFor(x => x.UserName, string.Empty, new { @class = "parsley-errors-list" })
                </div>
            </div>
            <div class="form-field form-field--text">
                <label for="form-field-password" class="form-field__label">
                    @Translate.Text("password label")
                </label>
                <span class="form-field__input-wrapper">

                    @Html.PasswordFor(x => x.Password, new
               {
                   @class = "form-field__input form-field__input--text",
                   @id = "form-field-password",
                   @placeholder = Translate.Text("sc_password_placeholder"),
                   @required = "required",
                   @type = "password",
                   @data_parsley_error_message = Translate.Text("login password validation message alphanumeric"),
                   @data_parsley_errors_container = "#description-for-set-password",
                   @data_parsley_password = "",
                   @aria_describedby = "description-for-set-password",
                   @autocomplete = "off"
               })
                </span>
                <div id="description-for-set-password" class="form-field__messages">
                    @Html.ValidationMessageFor(x => x.Password, string.Empty, new { @class = "parsley-errors-list" })
                </div>
            </div>
            <div class="form-field form-field--text    ">
                <label for="form-field-confirm_password" class="form-field__label">
                    @Translate.Text("confirm password label")
                </label>
                <span class="form-field__input-wrapper">
                    @Html.PasswordFor(x => x.ConfirmedPassword, new
               {
                   @class = "form-field__input form-field__input--text",
                   @id = "form-field-confirm_password",
                   @placeholder = Translate.Text("sc_password_placeholder"),
                   @required = "required",
                   @type = "password",
                   @data_parsley_errors_container = "#description-for-confirm_password",
                   @aria_describedby = "description-for-confirm_password",
                   @data_parsley_error_message = Translate.Text("Password mismatch error"),
                   @data_parsley_equalto = "#form-field-password",
                   @autocomplete = "off"
               })
                </span>
                <div id="description-for-confirm_password" class="form-field__messages">
                    @Html.ValidationMessageFor(x => x.ConfirmedPassword, string.Empty, new { @class = "parsley-errors-list" })
                </div>
            </div>

            <div class="form-field__button">
                <button type="submit" class="button button--primary button--fullwidth-mobile">@Translate.Text("SS_CreateBtnText")</button>
            </div>
        }

    </div>
</div>