@using Sitecore.Globalization;
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">

        <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
            <div class="m40-status-message__title">@Translate.Text("SS_S3_SuccessTitle")</div>
            <div class="m40-status-message__text">
                @Translate.Text("SS_S3_SuccessSubTitle")
            </div>
            @*<p>
                    <button class="button button--text button--printer noprint" data-print="page">Print this page</button>
                </p>*@
        </div>

    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--centered grid__column--form">
        <h2 class="text__section-title">@Translate.Text("SS_S3_BottomTitle")</h2>
        <div class="m14-richtext mb0">
            <p class="text__content-copy">
                @Translate.Text("SS_S3_bottomSubtitle")
            </p>
        </div>
        <ul class="summary-footer__buttons">
            <li class="summary-footer__button">
                <a role="button" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCRAPESALE_PORTAL_LOGINPAGE)" class="button button--primary">@Translate.Text("Login")</a>
            </li>
        </ul>
    </div>

</div>
