@using Sitecore.Globalization;
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.ScrapSale.Models.ScrapSale.AccountRegistrationStep2Model

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">

        @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @id = "AccountRegistrationStep2From", data_form = "true", data_parsley_focus = "none", @data_submit_validate = "enabled", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
            <input id="ConsumerNo" type="hidden" name="ConsumerNo" value="@Model.ConsumerNo" />
            <input id="MaskedEmail" type="hidden" name="MaskedEmail" value="@Model.MaskedEmail" />
            <input id="MaskedMobile" type="hidden" name="MaskedMobile" value="@Model.MaskedMobile" />

            if (!string.IsNullOrWhiteSpace(Model.MaskedEmail) || !string.IsNullOrWhiteSpace(Model.MaskedMobile))
            {

                <div class="form-field">
                    <fieldset class="fieldset">
                        <legend class="legend-color">.</legend>
                        @if (!string.IsNullOrWhiteSpace(Model.MaskedEmail))
                        {
                            <p class="form-field__radio ">
                                <label for="form-field-SendBYEmail">
                                    <input class="form-field__input form-field__input--radio" id="form-field-SendBYEmail" name="SendBY" type="radio" value="e" aria-describedby="description-for-v2xhvhp5r" data-parsley-errors-container="#description-for-v2xhvhp5r" data-parsley-multiple="radios_group1" data-parsley-id="35">
                                    <span class="form-field__fakeradio focus-enabled">
                                        @Translate.Text("SS_S1_Email") : @Model.MaskedEmail
                                    </span>
                                </label>
                            </p>

                        }

                        @if (!string.IsNullOrWhiteSpace(Model.MaskedMobile))
                        {

                            <p class="form-field__radio ">
                                <label for="form-field-SendBYMobile">
                                    <input class="form-field__input form-field__input--radio" id="form-field-SendBYMobile" name="SendBY" type="radio" value="m" aria-describedby="description-for-v2xhvhp5r" data-parsley-errors-container="#description-for-v2xhvhp5r" checked="" data-parsley-multiple="radios_group1">
                                    <span class="form-field__fakeradio focus-enabled">
                                        @Translate.Text("SS_S1_MobileNumber"): @Model.MaskedMobile
                                    </span>
                                </label>
                            </p>
                        }
                        <div id="description-for-v2xhvhp5r" class="form-field__messages">
                        </div>
                    </fieldset>
                </div>
                <div class="form-field__button">
                    <button type="submit" class="button button--primary button--fullwidth-mobile">@Translate.Text("SS_S1_SubmitBtn")</button>
                </div>
            }

        }
    </div>
</div>