@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.ScrapSale.Models.ScrapSale.ChangePasswordModel

<div class="grid">

    @Html.Sitecore().Placeholder("j7/m26-page-title")


    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="j171-masar-tab-content">
                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @id = "UpdatePasswordForm", @data_form = "true", @data_parsley_focus = "none", @data_submit_validate = "enabled", @novalidate = "true" }))
                {
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()

                <div id="errorDiv" class="grid__row error-html">
                    <div class="grid__column grid__column--12">
                        <div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
                            <div class="m40-status-message__title icon--error">
                                @Sitecore.Globalization.Translate.Text(DictionaryKeys.Global.SubmissionError)
                            </div>
                            <div class="m40-status-message__text" id="errorMessage">
                            </div>
                        </div>
                    </div>
                </div>

                <fieldset class="fieldset">
                    <legend class="legend-color">.</legend>

                    @Html.HiddenFor(x => x.Type)

                    <div class="form-field form-field--text form-field--password">
                        <label for="form-field-OldPassword" class="form-field__label">
                            @Translate.Text("Masar.oldpassword")
                            <span role="link" class="button button--text form-field__label-password-visibility button--show">
                                <span class="show icon-b-show">@Translate.Text("Show")</span>
                                <span class="hide icon-b-hide">@Translate.Text("Hide")</span>
                            </span>
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.PasswordFor(x => x.OldPassword, new
                       {
                           @class = "form-field__input form-field__input--text form-field__input--password",
                           @id = "form-field-OldPassword",
                           @placeholder = Translate.Text("password label"),
                           @required = "required",
                           @type = "password",
                           @data_parsley_error_message = Translate.Text("login password validation message alphanumeric"),
                           @data_parsley_errors_container = "#description-for-set-OldPassword",
                           @data_parsley_password = "",
                           @aria_describedby = "description-for-set-OldPassword",
                           @autocomplete = "off"
                       })
                        </span>

                        <div id="description-for-set-OldPassword" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.OldPassword, string.Empty, new { @class = "parsley-errors-list" })
                        </div>
                    </div>

                    <div class="form-field form-field--text form-field--password">
                        <label for="form-field-password" class="form-field__label">
                            @Translate.Text("Masar.newpassword")
                            <span role="link" class="button button--text form-field__label-password-visibility button--show">
                                <span class="show icon-b-show">@Translate.Text("Show")</span>
                                <span class="hide icon-b-hide">@Translate.Text("Hide")</span>
                            </span>
                        </label>

                        <span class="form-field__input-wrapper">
                            @Html.PasswordFor(x => x.Password, new
                       {
                           @class = "form-field__input form-field__input--text form-field__input--password",
                           @id = "form-field-password",
                           @placeholder = Translate.Text("password label"),
                           @required = "required",
                           @type = "password",
                           //@data_parsley_error_message = Translate.Text("login password validation message alphanumeric"),
                           @data_parsley_dewapassword_message = "",
                           @data_parsley_errors_container = "#description-for-set-password",
                           @data_parsley_dewapassword = "",
                           @aria_describedby = "description-for-set-password",
                           @autocomplete = "off"
                       })
                        </span>
                        <div class="form-field__messages-password">
                            <ul class="form-field__messages-password-list">
                                <li class="form-field__messages-password-list-item message-lowercase"><span>@Translate.Text("Pwd.lowercase")</span></li>
                                <li class="form-field__messages-password-list-item message-special"><span>@Translate.Text("Pwd.special")</span></li>
                                <li class="form-field__messages-password-list-item message-uppercase"><span>@Translate.Text("Pwd.uppercase")</span></li>
                                <li class="form-field__messages-password-list-item message-number"><span>@Translate.Text("Pwd.number")</span></li>
                                <li class="form-field__messages-password-list-item message-minimum"><span>@Translate.Text("Pwd.minimum")</span></li>
                            </ul>
                        </div>
                        <div id="description-for-set-password" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.Password, string.Empty, new { @class = "parsley-errors-list" })
                        </div>
                    </div>

                    <div class="form-field form-field--text form-field--password">
                        <label for="form-field-confirm_password" class="form-field__label">
                            @Translate.Text("confirm password label")
                            <span role="link" class="button button--text form-field__label-password-visibility button--show">
                                <span class="show icon-b-show">@Translate.Text("Show")</span>
                                <span class="hide icon-b-hide">@Translate.Text("Hide")</span>
                            </span>
                        </label>
                        <span class="form-field__input-wrapper">
                            @Html.PasswordFor(x => x.ConfirmPassword, new
                        {
                            @class = "form-field__input form-field__input--text form-field__input--password",
                            @id = "form-field-confirm_password",
                            @placeholder = Translate.Text("confirm password label"),
                            @required = "required",
                            @type = "password",
                            @data_parsley_errors_container = "#description-for-confirm_password",
                            @aria_describedby = "description-for-confirm_password",
                            @data_parsley_error_message = Translate.Text("Password mismatch error"),
                            @data_parsley_equalto = "#form-field-password",
                            @autocomplete = "off"
                        })
                        </span>
                        <div id="description-for-confirm_password" class="form-field__messages">
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, string.Empty, new { @class = "parsley-errors-list" })
                        </div>
                    </div>
                </fieldset>

                <div class="form-field__button">
                    <button class="button button--primary button--fullwidth" type="button" onclick="updatePassword()" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Submit")</button>
                </div>
                }
            </div>
        </div>
    </div>

    <div class="m39-modal m39-modal--new" data-component="m39-modal" id="modal_true">
        <button data-trigger="true" class="m39-modal__trigger passwordModal"
                id="_yaghe8fl2_trigger" type="button"
                aria-controls="_yaghe8fl2_content">
        </button>
        <div data-content="true" class="m39-modal__container" role="dialog"
             aria-expanded="true" id="_yaghe8fl2_content"
             aria-labelledby="_yaghe8fl2_trigger">
            <div class="m39-modal__dialog">
                <div class="m39-modal__header">
                    <a data-close="true" class="m39-modal__button--close"
                       id="_yaghe8fl2_close"
                       aria-controls="_yaghe8fl2_content">@Translate.Text("Masar.Close")</a>
                </div>
                <div class="m39-modal__content text-center">
                    @Html.Partial("~/Views/Feature/ScrapSale/ScrapSale/SetPasswordSuccessful.cshtml");
                </div>
            </div>
        </div>
        <div class="m39-modal__overlay"> </div>
    </div>

</div>
<script type="text/javascript">
    if (!jQuery(".scrapsalemargin").hasClass("mt56")) {
        jQuery(".scrapsalemargin").addClass("mt56");
    }
    jQuery(".m26-page-title").addClass("align_left");

    setErrorMessage(false, "");

    AddCustomForgeryToken = function (data, elementId) {
        data.__RequestVerificationToken = $(elementId + ' input[name=__RequestVerificationToken]').val();
        return data;
    };

    function updatePassword() {

        //if ($("ul.form-field__messages-password-list li:not(.valid)").length == 0) {

            if (jQuery('#UpdatePasswordForm').parsley().validate()) {
                var _postUrl = '@Url.Content("~/api/sitecore/ScrapSale/UpdatePassword")';
                var requestData = AddCustomForgeryToken(jQuery('#UpdatePasswordForm').serialize(), "#UpdatePasswordForm");
                $.ajax({
                    url: _postUrl,
                    type: 'POST',
                    data: requestData,
                    beforeSend: function () {
                        $(".m66-preloader-fullpage").show();
                        setErrorMessage(false, "");
                    },
                    success: function (er) {
                        if (er.status) {
                            jQuery('#UpdatePasswordForm')[0].reset();
                            setTimeout(function () {
                                jQuery(".passwordModal").trigger('click');
                            }, 100);
                        } else {
                            setErrorMessage(true, er.desc);
                        }
                    },
                    error: function (er) {
                        console.log(er)
                        setErrorMessage(true, er.desc);
                    },
                    complete: function (x) {
                        $(".m66-preloader-fullpage").fadeOut();
                        console.log(x);
                    }
                });
            }
        //}
    }

    function setErrorMessage(isError, message) {
        if (isError) {
            jQuery("#errorDiv").show();
        }
        else {
            jQuery("#errorDiv").hide();
        }
        jQuery("#errorMessage").text(message);
    }

    $(document).ready(function () {
        setTimeout(function () {
            window.scrollTo(0, 0);
        }, 200);
    });



</script>
<script src="~/Scripts/External/nml/form-submit-validate.js"></script>
