@using Sitecore.Globalization;
@using DEWAXP.Foundation.Integration.CustomerSmartSalesSvc
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model IList<openTender>

<div class="m23-table" data-component="m23-table">
    <table class="m23-table__content-table">
        <thead class="m23-table__content-table-header">
            <tr class="m23-table__content-table-row" tabindex="0">
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("SS_SlNo")</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("SS_TenderNo")</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("SS_Description")</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("SS_Status")</th>
                <th class="m23-table__content-table-cell--header center-text">@Html.Raw(@Translate.Text("SS_Fee"))</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("SS_FloatingDate")</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("SS_ClosingDate")</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("SS_Advertisement")</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("SS_TenderDocment")</th>
            </tr>
        </thead>
        <tbody class="m23-table__content-table-body">

            @if (Model != null)
            {
                foreach (openTender item in Model)
                {
                    <tr class="m23-table__content-table-row" tabindex="0">
                        <td class="m23-table__content-table-cell m23-table__content-table-cell--center" data-label="@Translate.Text("SS_SlNo")">
                            @(item.serialNumber)
                        </td>
                        <td data-label="@Translate.Text("SS_TenderNo")" class="m23-table__content-table-cell">
                            @(item.transactionNumber)
                        </td>
                        <td class="m23-table__content-table-cell" data-label="@Translate.Text("SS_Description")">
                            @(item.transactionDescription)
                        </td>
                        <td class="m23-table__content-table-cell" data-label="@Translate.Text("SS_Status")">
                            @(item.type)
                        </td>
                        <td class="m23-table__content-table-cell" data-label="@Translate.Text("SS_Fee")">
                            @(item.tenderFeeAmount)
                        </td>
                        <td class="m23-table__content-table-cell" data-label="@Translate.Text("SS_FloatingDate")">
                            @(item.floatingDate)
                        </td>
                        <td class="m23-table__content-table-cell" data-label="@Translate.Text("SS_ClosingDate")">
                            @(item.closingDate)
                        </td>
                        <td class="m23-table__content-table-cell center-text" data-label="@Translate.Text("SS_Advertisement")">
                            <a href="javascript:void(0)" class="button button--primary button--very_small advt-downloadbtn" data-tid="@(item.transactionNumber)"> @Translate.Text("SS_Download") </a>
                        </td>
                        <td class="m23-table__content-table-cell center-text" data-label="@Translate.Text("SS_TenderDocment")">
                            @{
                                long dif = DateTime.Now.Subtract(Convert.ToDateTime(DateHelper.CustomDateFormate(item.closingDate + " 23:59:59", "dd.MM.yyyy HH:mm:ss", "MM-dd-yyyy HH:mm:ss"))).Ticks;
                                if (dif < 0)
                                {

                                    <a href="@string.Format("{0}?t={1}",LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCRAPESALE_TENDER_PUCHASE), item.transactionNumber)" class="button button--primary button--very_small">@Translate.Text("SS_Purchase")</a>
                                }
                                else
                                {
                                    <span>@Translate.Text("SS_TenderclosedText")</span>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div style="display:none">

    <form id="scrap-advt-form" action="/api/sitecore/ScrapSale/DownloadTenderAdvertisement" method="post">
        @Html.AntiForgeryToken();
        <input type="hidden" name="tno" id="tno" value="" />
    </form>
</div>


<script>
    setTimeout(function () {

        $(".advt-downloadbtn").on("click", function () {
            // alert();
            $("#tno").val($(this).data("tid"))
            $("#scrap-advt-form").submit();

        });
    }, 500);

</script>