@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
<div class="grid">
    @*<div class="grid__row">
            <div class="grid__column grid__column--12">
                @Html.Sitecore().Placeholder("j7/m26-page-title")
            </div>
        </div>*@
    <div class="grid__row mt56">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title icon--success">
                    @Translate.Text("submission successful text")
                </div>
                <div class="m40-status-message__text">
                    @Translate.Text("password changed text")
                </div>
            </div>
        </div>
    </div>
    <div class="grid__row noprint">
        <div class="grid__column grid__column--12 grid__column--centered grid__column--form">
            @*<h2 class="text__section-title">@Translate.Text("WhatNext")</h2>
            @Html.Sitecore().Placeholder("whatsnextdescription")*@
            <div class="button-container--single">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.MISCELLANEOUS_LOGIN)" class="button button--primary" role="button">@Translate.Text(DictionaryKeys.Global.Login.LoginLabel)</a>
            </div>
        </div>
    </div>
    <script src="~/scripts/External/nml/form-submit-validate.js"></script>
</div>
