@using Sitecore.Globalization;
@using DEWAXP.Foundation.Integration.CustomerSmartSalesSvc
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model IList<openTender>

<div class="m23-table" data-component="m23-table">
    <table class="m23-table__content-table">
        <thead class="m23-table__content-table-header">
            <tr class="m23-table__content-table-row" tabindex="0">
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("SS_SlNo")</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("SS_TenderNo")</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("SS_Description")</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("SS_FloatingDate")</th>
                <th class="m23-table__content-table-cell--header center-text">@Translate.Text("SS_ClosingDate")</th>
            </tr>
        </thead>
        <tbody class="m23-table__content-table-body">

            @if (Model != null)
            {
                foreach (openTender item in Model)
                {
                    <tr class="m23-table__content-table-row" tabindex="0">
                        <td class="m23-table__content-table-cell m23-table__content-table-cell--center" data-label="@Translate.Text("SS_SlNo")">
                            @(item.serialNumber)
                        </td>
                        <td data-label="@Translate.Text("SS_TenderNo")" class="m23-table__content-table-cell">
                            <a class="link" href="@string.Format("{0}?t={1}",@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCRAPESALE_TENDER_OPENING_RESULTS_LIST),item.transactionNumber)">@item.transactionNumber</a>
                        </td>
                        <td class="m23-table__content-table-cell" data-label="@Translate.Text("SS_Description")">
                            @(item.transactionDescription)
                        </td>
                        <td class="m23-table__content-table-cell" data-label="@Translate.Text("SS_FloatingDate")">
                            @DEWAXP.Foundation.Content.Helpers.DateHelper.GetFormatedDate(item.floatingDate)
                        </td>
                        <td class="m23-table__content-table-cell" data-label="@Translate.Text("SS_ClosingDate")">
                            @DEWAXP.Foundation.Content.Helpers.DateHelper.GetFormatedDate(item.closingDate)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>