@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
            <div class="m40-status-message__title icon--success">@Translate.Text("submission successful text")</div>
            <div class="m40-status-message__text">@Translate.Text("reference number text") @ViewBag.ReferenceNumber<br />@Translate.Text("This can be used to track your request")</div>
            <p><button class="button button--text button--printer noprint" data-print="page">@Translate.Text("Print this page")</button></p>
        </div>
        <div class="form-field__button noprint">
            <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.HOME)" class="button button--primary button--next">@Translate.Text("Home button text")</a>
        </div>
    </div>
</div>
