@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.Bills.Models.ChangeCustomerCategory.ChangeCustomerCategoryModel

@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

<div class="grid__row">
	@Html.Sitecore().Placeholder("j88/aside-text")

	<div class="grid__column grid__column--6">
		<!-- form -->
		@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new {@data_form = "true", @data_parsley_focus = "none", @class = "form", @data_submit_validate = "enabled", @novalidate = "true", encType = "multipart/form-data"}))
		{
			@Html.Sitecore().FormHandler()
			@Html.AntiForgeryToken()

			@Html.HiddenFor(x => x.ContractAccountNumber)
			@Html.HiddenFor(x => x.PremiseNumber)
			@Html.HiddenFor(x => x.BusinessPartnerNumber)

			<fieldset class="fieldset ">
				<legend class="legend">@Translate.Text("Application Details")</legend>

				<div class="form-field form-field--text">
					<label for="form-field-canumber" class="form-field__label form-field__label--readonly">
						@Translate.Text(DictionaryKeys.Global.Account.ContractAccountNumber)
					</label>

					<div class="form-field__input-wrapper form-field__input-wrapper--readonly">
						@Html.TextBoxFor(x => x.ContractAccountNumber, new
						{
							@class = "form-field__input form-field__input--readonly",
							@readonly = "readonly",
							@id = "form-field-canumber",
							@type = "text",
							@aria_describedby = "description-for-canumber"
						})
					</div>

					<div id="description-for-canumber" class="form-field__messages"></div>
				</div>

				<div class="form-field form-field--text ">
					<label for="form-field-mobile-number" class="form-field__label">
						@Translate.Text("mobile number label")
						<span class="form-field__label-required aria-only">@Translate.Text("generic required label")</span>
					</label>

					<span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--mobile-number">
                        <input class="form-field__input form-field__input--text form-field__input--prefixed"
                               name="Mobile"
                               id="form-field-mobile-number"
                               type="number" lang="en"
                               placeholder="@Translate.Text("Mobile number placeholder")"
                               aria-describedby="description-for-mobile-number"
                               required="required"
                               data-parsley-error-message="@Translate.Text("uae mobile number validation message")"
                               data-parsley-errors-container="#description-for-mobile-number"
                               data-parsley-mobile_number="">
					</span>

					<div id="description-for-mobile-number" class="form-field__messages"></div>
				</div>

				<div class="form-field form-field--text form-field--textarea">
					<label for="form-field-description" class="form-field__label">
						@Translate.Text("Description")
						<span class="form-field__label-required aria-only">@Translate.Text("generic required label")</span>
					</label>

					<span class="form-field__input-wrapper">
						@Html.TextAreaFor(x => x.Description, new
						{
							@class = "form-field__input form-field__input--text form-field__input--textarea",
							@type = "textarea",
							@id = "form-field-description",
							@required = "required",
							@placeholder = Translate.Text(DictionaryKeys.Global.EnterYourMessage),
							@data_parsley_error_message = Translate.Text(DictionaryKeys.Global.EnterDescription),
							@data_parsley_errors_container = "#description-for-description",
							@aria_describedby = "description-for-description",
							@maxlength = "500",
							@data_textarea = "description"
						})
					</span>

					<div id="description-for-description" class="form-field__messages">
						<p class="form-field__charcount">@Translate.Text("Max") <span data-charcount="description">0</span>/500 @Translate.Text("Characters")</p>
					</div>
				</div>
				@Html.Sitecore().Placeholder("j88/id-uploader")
			</fieldset>
    <div class="form-field__description form-field form-field--text ">
        <br />
        
        @Translate.Text(DictionaryKeys.ChangeCustomerCategory.MunicipalityComplaints)
    </div>
			<div class="form-field__button">
				<button type="submit" class="button button--primary">@Translate.Text("Submit")</button>
			</div>
		}
	</div>
</div>
