@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model List<DEWAXP.Foundation.CustomDB.DRRGDataModel.DRRG_Manufacturer_Details>
@{
    var firstModule = "";
}
<div class="j105-drrg">
    <div class="m66-preloader m66-preloader-fullpage j105-drrg--loader hidden">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    <h2 class="text__section-subtitle">@Translate.Text("J100.Pleasewait")</h2>
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="j02-drrg-dashboard" data-journey="j02-drrg-dashboard">
    <div class="grid">
        @Html.Sitecore().Placeholder("pagetitle")

        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="'-richtext">
                    <p>
                        <strong>Equipment meeting eligibility requirements for DEWA Distributed Renewable Resources Generation programme (Shams Dubai)</strong><br>
                        Non exhaustive list of eligible equipment based on manufacturers' submissions reviewed by DEWA as of below date. Any other equipment meeting the eligibility requirement will be accepted by DEWA in design phase, provided that proof of compliance will be provided.
                    </p>

                    <p>
                        <strong>Disclaimer for Customers</strong><br>
                        Please note that the information presented in this document provides an overview of the manufacturers and equipment that meet the required standards based on type-test certification. However, this does not constitute an endorsement or warranty of any kind, whether expressed, implied or statutory, including but not limited to warranties of title, merchantability, satisfactory quality, fitness for particular purpose, warranty for performance, professional advice, professional financial guidance, and shall not be relied upon as the only source of information for purchasing, contracting, investment decisions or for executing other binding agreements.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid__row mb24">
            <div class="grid__column grid__column--12">
                <form method="get" action="#" class="form mb24" data-form="true" novalidate="">
                    <div class="form-field">
                        <fieldset class="fieldset">
                            <legend class="form-field__label">
                                <span class="aria-only">Equipment Type</span>
                            </legend>
                            <p class="form-field__radio form-field__radio--inline">
                                <label>
                                    <input isclear="true" class="form-field__input form-field__input--radio" id="form-field-radio_1_1" name="radios_group2" type="radio" value="1" aria-describedby="description-for-kahsjdba73" data-parsley-errors-container="#description-for-kahsjdba73" data-parsley-multiple="radios_group2" data-parsley-id="7" required="" checked="">
                                    <span class="form-field__fakeradio focus-enabled">
                                        @Translate.Text("DRRG_PVModule")
                                    </span>
                                </label>
                            </p>
                            <p class="form-field__radio form-field__radio--inline">
                                <label>
                                    <input isclear="true" class="form-field__input form-field__input--radio" id="form-field-radio_1_3" name="radios_group2" type="radio" value="3" aria-describedby="description-for-kahsjdba73" data-parsley-errors-container="#description-for-kahsjdba73" data-parsley-multiple="radios_group3" required="">
                                    <span class="form-field__fakeradio focus-enabled">
                                        @Translate.Text("DRRG_PVInverter")
                                    </span>
                                </label>
                            </p>
                            <p class="form-field__radio form-field__radio--inline">
                                <label>
                                    <input isclear="true" class="form-field__input form-field__input--radio" id="form-field-radio_1_2" name="radios_group2" type="radio" value="2" aria-describedby="description-for-kahsjdba73" data-parsley-errors-container="#description-for-kahsjdba73" data-parsley-multiple="radios_group2" required="">
                                    <span class="form-field__fakeradio focus-enabled">
                                        @Translate.Text("DRRG_InterfaceProtection")
                                    </span>
                                </label>
                            </p>

                            <div id="description-for-kahsjdba73" class="form-field__messages">
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="m25-tabs" data-component="m25-tabs" data-helper="toggle-menu" data-toggle-breakpoint='m' data-selected-tab-id="m25-tab-0" id="pvmodule">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--4">
                    <div class="m25-tabs__menu" data-m25-tabs-menu="true">
                        <ul aria-role="tablist">
                            @if (Model != null && Model.Count > 0)
                            {
                                var count = 0;
                                foreach (var item in Model)
                                {
                                    <li onclick="assignManufactererCode('@item.Manufacturer_Code')">
                                        <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DRRG__EVALUATOR_Details)?id=@item.Manufacturer_Code" aria-role="tab" aria-controls="m25-panel" class="m25-tabs__tab link" data-m25-tabs-tab="true" id="m25-tab">@item.Manufacturer_Name</a>
                                    </li>
                                    if (count == 0)
                                    {
                                        firstModule = item.Manufacturer_Code;
                                    }
                                    count++;
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="m25-tabs__body grid__column grid__column--8">
                    <div class="m15-tabs--mobile">
                        <div class="form-field form-field--select form-field--select-single">
                            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                                <select class="m25-tabs--select-mobile form-field__input form-field__input--select">
                                </select>
                            </span>
                        </div>
                        <div class="m25-tabs--container-mobile">
                        </div>
                    </div>
                    <div class="toggle-menu__item">
                        <div class="toggle-menu__trigger" data-toggle-trigger="true">
                            <h2 class="m25-tabs__title toggle-menu__title icon-share">Canadian Solar Inc.</h2>
                        </div>
                        <div aria-labelledby="m25-tab" aria-role="tabpanel" id="m25-panel" class="m25-tabs__content toggle-menu__content" data-m25-tabs-content="true" data-toggle-content="true">
                            <div class="m23-table m23-table--variant2 j02-drrg--table" data-component="m23-table">
                                <h3 class="m23-table__title "></h3>
                                <div id="table_body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var _globalModuleName = null;
    var _globalManuCode = null;

    _globalModuleName = 'pv';

    _globalManuCode = '@firstModule';

    handleList();

    jQuery('input[type=radio][name=radios_group2]').change(function () {
        if (this.value == '1') {
            _globalModuleName = 'pv';
        }
        else if (this.value == '2') {
            _globalModuleName = 'ip';
        }
        else if (this.value == '3') {
            _globalModuleName = 'iv';
        }
        else {
            _globalModuleName = 'pv';
        }
        handleList();
    });

    function assignManufactererCode(code) {
        if (code || code != null || code != undefined) {
            _globalManuCode = code;
        }
        handleList();
    }

    function handleList() {
        $.ajax({
            url: "/api/Sitecore/DRRGEvaluator/GetDRRGModulesByManufacturer",
            Type: 'get',
            data: { manuCode: _globalManuCode, type: _globalModuleName },
            success: function (data) {
                jQuery('#table_body').html("");
                jQuery('#table_body').html(data);
            }
        });
    }
</script>