@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.DRRG.Models.EvaluatorDashboardViewModel
<div class="m79-dashboard-tools" data-component="m79-dashboard-tools" data-details='[{"submitted":"@Model.Submittedcount"},{"updated":"@Model.Updatedcount"},{"rejected":"@Model.Rejectedcount"},{"equipment":"@Model.Equipmentcount"}]'>
    <div class="m79-dashboard-tools--wrapper">

        <div class="m79-dashboard-tools--greeting_wrapper" data-greeting='{"morning":"@(Translate.Text("Good morning"))", "afternoon":"@(Translate.Text("Good afternoon"))", "evening":"@(Translate.Text("Good evening"))"}'>
            <span class="m79-dashboard-tools--greeting"></span> <strong>@Model.Name</strong>
        </div>
    </div>
</div>
<div class="grid">
    <div class="grid__row mb24 grid__row-tight_gutter">
        <div class="grid__column grid__column--6">
            <!-- m43-account-selector-start -->
            <div class="m43-accountsel" data-component="m43-account-selector">
                <div class="m43-accountsel-hidden" style="">
                    <button class="m43-accountsel__selected m43-accountsel__selected--dropdown1"
                            data-accountselector="acc-sel-1" data-preventsubmit="true" aria-haspopup="true" aria-expanded="false"
                            type="button" id="_xp7xlywm5_trigger" aria-controls="_xp7xlywm5_content">
                        <span class="m43-accountsel__account" data-acc-detail="wrapper">
                            @*<img src='' class="m43-accountsel__image tooltipstered" alt="" role="presentation" data-acc-detail="acc_image">*@
                            <div class="m43-accountsel__header">
                                <div class="m43-accountsel__secondarydetails m43-accountsel__nickname">
                                    <span class="inline-block" dir="ltr">
                                        <strong>@Model.Name</strong>
                                    </span>
                                </div>
                                <span class="m43-accountsel__name">
                                    <span class="inline-block" dir="ltr">@Model.RoleName</span>
                                </span>
                            </div>
                        </span>
                    </button>
                </div>
            </div>
            <!-- m42-account-selector-end -->
        </div>
        <div class="grid__column grid__column--6">
            <div class="m80-my-consumption1" data-component="m80-my-consumption" data-rate="70">
                <div class="m80-my-consumption--incidents">
                    <a class="link" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.LOG_OF_APPLICATION)">
                        <div class="m80-my-consumption--incidents_inner">
                            <img src="~/images/DRRG/drrg-applications.png" class="tooltipstered">
                            <div class="m80-my-consumption--incidentstext">
                                @Translate.Text("DRRG_LogofSubmittedApplications")
                            </div>
                        </div>
                    </a>
                </div>
                <div class="m80-my-consumption--incidents">
                    <a class="link" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.Eligible_List_APPLICATION)">
                        <div class="m80-my-consumption--incidents_inner">
                            <img src="~/images/DRRG/drrg-equipment.png" class="tooltipstered">
                            <div class="m80-my-consumption--incidentstext">
                                @Translate.Text("DRRG_ListofEligibleEquipment")
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="j02-drrg-evaluator">
    <div class="box--news">
        <div class="grid">
            @Html.Sitecore().Placeholder("pagetitle")
            @if (!string.IsNullOrWhiteSpace(Model.Role) && Model.Role.Equals(DEWAXP.Foundation.Content.Roles.DRRGSchemaManager))
            {
                @Html.Sitecore().Placeholder("m1teaserschema")
            }
            else
            {
                @Html.Sitecore().Placeholder("m1teaser")
            }
        </div>
    </div>
</div>