@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
<div class="j04-drrg-evaluator">
    <div class="grid">
        @Html.Sitecore().Placeholder("pagetitle")
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <div class="m40v2-status-message m40v2-status-message--success  icon icon-new-success-message " data-component="m40v2-status-message">
                    <div class="m40v2-status-message__title">@Translate.Text("Submission Successful")</div>
                    <div class="m40v2-status-message__text">@Html.Raw(string.Format(Translate.Text("Evaluator Registration Description"), (string)ViewBag.Referenceid))</div>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <h2 class="text__section-title">@Translate.Text("Other Details")</h2>
                <div class="m42-keyvalue">
                    <dl>
                        <dt class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">@Translate.Text("Request Reference Number")</dt>
                        <dd class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd green">@((string)ViewBag.Referenceid)</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--content grid__column--centered">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.DRRG__EVALUATOR_LOGIN)" class="button button--primary">@Translate.Text("Back to Home")</a>
            </div>
        </div>
    </div>

</div>