@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using System.Web.Mvc
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GatePass.Models.WorkPermit.PoDetailsListModel

@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

<div class="form-field form-field--account-details">
    <!-- m43-account-selector-start -->
    <div class="m43-accountsel" data-component="m43-account-selector">
        <div class="m43-accountsel-hidden">
            <p class="m43-accountsel__labelstyle">
                @Translate.Text("Epass.SelectContract")
            </p>
            <button class="m43-accountsel__selected m43-accountsel__selected--dropdown" data-accountselector="acc-sel-1" data-preventsubmit="true" aria-haspopup="true" aria-expanded="false" type="button" id="_jn8ng36eb_trigger" aria-controls="_jn8ng36eb_content">
                <span class="m43-accountsel__account" data-acc-detail="wrapper">

                    <span class="m43-accountsel__header">
                        <span class="m43-accountsel__name" data-acc-detail="acc_name">
                            <span class="inline-block" dir="ltr" id="selectedAccName"></span>
                        </span>
                        <span class="m43-accountsel__details">
                            <abbr style="text-decoration: none;" title="Contract #"></abbr> <span dir="rtl" data-acc-detail="acc_number" id="selectedAccNumber"></span><span class="aria-only"> | </span>
                        </span>
                    </span>
                </span>
                <span class="m43-accountsel__message m43-accountsel__message--multiselected hidden" data-acc-multiselected=" accounts selected" aria-hidden="true"></span>
            </button>

            <div class="m39-modal" data-component="m39-modal" id="modal_acc-sel-1">
                <div data-content="acc-sel-1" class="m39-modal__container" role="dialog" aria-expanded="false" id="_jn8ng36eb_content" aria-labelledby="_jn8ng36eb_trigger">
                    <div class="m39-modal__dialog m39-modal__dialog--account">
                        <div class="m39-modal__header">
                            <div class="m39-modal__title">
                                @Translate.Text("Epass.ChooseAcc")
                            </div>
                            <a data-close="acc-sel-1" class="m39-modal__button--close" id="_jn8ng36eb_close" aria-controls="_jn8ng36eb_content">
                                @Translate.Text("Epass.Close")
                            </a>
                            <!-- m49-list-filter-start -->
                            <!-- ideally data-filter-list will match a container id for all list items to filter -->
                            <div class="m49-list-filter" data-component="m49-list-filter" data-filter-list=".m39-modal__content">
                                <input class="m49-list-filter--input" id="m49-list-filter--input" name="m49-list-filter--input" placeholder="@Translate.Text("Epass.SearchByAccountNumber")" type="search" data-parsley-id="17">
                                <button class="m49-list-filter--button" title="Filter results" type="button" role="search" aria-label="Filter results">
                                    <span class="aria-only">
                                        @Translate.Text("Epass.Filter")
                                    </span>
                                </button>
                            </div>
                            <!-- m49-list-filter-end -->
                        </div>
                        <div class="m39-modal__content">
                            <div class="m43-accountsel__group">
                                <div class="m43-accountsel__accounts-list" data-accounts="true">
                                    <div class="form-field">
                                        <fieldset class="fieldset polistContent">
                                            <legend class="legend-color">.</legend>
                                            @Html.Partial("~/Views/Feature/GatePass/WorkPermit/_POList.cshtml", Model)
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="m49-no-matches">
                                @Translate.Text("Epass.Nomatchfound")
                            </div>
                        </div>
                        <div class="m39-modal__footer">
                            <span class="pager_update" data-pager-update="true"></span>
                            <span class="reset_update" data-reset-update="true"></span>
                            <p class="m39-modal__accsel-error hidden" data-modal="errormessage" aria-hidden="true" tabindex="0" data-min-error="@Translate.Text("Epass.Selectatleast1")" data-max-error="@Translate.Text("Epass.Selectatleast2")">
                                @Translate.Text("Epass.Selectatleast1")
                            </p>
                            <button class="button button--primary" data-accountupdate="true" data-modal-confirm="true">@Translate.Text("Epass.Choose")</button>
                        </div>
                    </div>
                </div>
                <div class="m39-modal__overlay"> </div>
            </div>
        </div>
    </div>
    <!-- m42-account-selector-end -->
</div>

