@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GatePass.Models.WorkPermit.WorkPermitPass


<div class="j113-epass" data-journey="j113-epass">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12" id="main-skip">
                <div class="m26-page-title title_message">
                    <div class="m26-page-title__links">
                    </div>
                    <h2 class="text__page-title">
                        @Translate.Text("wp.Applypermit")
                    </h2>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--content">
                <div class="m40-status-message m40-status-message--success  icon icon-new-success-message " data-component="m40-status-message">
                    <div class="m40-status-message__title">
                        @Translate.Text("Epass.Submissionsuccess")
                    </div>
                    <div class="m14-richtext">
                        <p class="">
                            @Translate.Text("Epass.Referencenumber"): <strong>@Model.ReferenceNumber</strong>
                        </p>
                    </div>
                    @*<div class="m40-status-message__title">
                            @Translate.Text("Epass.Referencenumber"): <strong>@Model.ReferenceNumber</strong>
                        </div>*@
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--content grid__column--centered">
                <div class="m14-richtext">
                    <h3>
                        @Translate.Text("Epass.Whatsnext")
                    </h3>
                    <br />
                </div>
            </div>
        </div>

        <div class="grid__row">

            <div class="grid__column grid__column--12 grid__column--centered">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.WORKPERMIT_PAGE)" class="button button--next mb12">
                    @Translate.Text("Epass.Applyanotherpass")
                </a>
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EPASS_DASHBOARD)" class="button button--primary button--next mb12" style="margin: 0 25px 12px;">@Translate.Text("Epass.Gotodashboard")</a>
            </div>
        </div>
    </div>
</div>

