@using DEWAXP.Foundation.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GatePass.Models.WorkPermit.WorkPermitPass

<div id="mainepassdiv">
    <div class="j113-epass j113-epass--allow_view" data-journey="j113-epass">
        <div class="j113-epass">
            <div class="m66-preloader j113-epass--loader hidden">
                <div class="grid">
                    <div class="grid__row">
                        <div class="grid__column grid__column--12">
                            <h2 class="text__section-subtitle">@Translate.Text("Epass.Pleasewait")</h2>
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    <div class="m26-page-title title_message">
                        <div class="m26-page-title__links">
                            <p class="m26-page-title__backlink">
                                <a class="button button--text button--back" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.WP_PASSRENEWAL)?passNumber=@Model.GroupPassid">@Translate.Text("Back")</a>
                            </p>
                        </div>
                        <h2 class="text__page-title">@Translate.Text("Review Information")</h2>
                    </div>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column grid__column--4">
                    <div class="j113-epass--records_wrapper--desktop">
                        <div class="j113-epass--records_heading">
                            <span class="j113-epass--records_count" id="epassrecordcount"></span>@Translate.Text("Epass.Recordavailable")
                        </div>
                        <div class="j113-epass--records_list_wrapper" id="multilist-placeholder">
                        </div>
                    </div>
                    <div class="j113-epass--records_wrapper--mobile">
                        <div class="j113-epass--records_heading">
                            <span class="j113-epass--records_count"></span> @Translate.Text("Epass.Recordavailable")
                        </div>
                        <div class="form-field form-field--select form-field--select-single">
                            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                                <select class="j113-epass--select-mobile form-field__input form-field__input--select form-field__input--select3"></select>
                            </span>
                        </div>
                    </div>
                    <div class="form-field__button hidden" id="finalsubmitbutton">
                        <button id="finalsubmitbuttontrigger" class="button button--primary" data-submission-text="@Translate.Text("Submitting")..." data-finalsubmit="true" type="submit">@Translate.Text("Submit")</button>
                    </div>
                </div>
                @Html.HiddenFor(x => x.PONumber)
                <div id="reviewform">
                    @if (!Model.allpasssubmitted)
                    {
                        @Html.Partial("/Views/Feature/GatePass/WorkPermit/_RenewalReviewForm.cshtml", Model)
                    }
                    else
                    {
                        @Html.Partial("/Views/Feature/GatePass/WorkPermit/_ReviewFormAllSubmitted.cshtml")
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m39-modal  j113-epass_modal--confirm" data-component="m39-modal" id="successmodal">
    <a data-trigger="true" class="m12-tools__link m39-modal__trigger m39-modal__triggerApprove hidden" id="successmodal_trigger" aria-controls="successmodal_content"></a>
    <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="false" id="successmodal_content" aria-labelledby="successmodal_trigger">
        <div class="m39-modal__dialog">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form static-form", @id = "form-successmessage", data_form = "true", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="m39-modal__header">
                    <div class="m39-modal__title">
                        @Translate.Text("Epass.SuccessMess")
                    </div>
                    <a data-close="true" class="m39-modal__button--close" id="success_close" aria-controls="success_content"></a>
                </div>
                <div class="m39-modal__content">
                    <div class="grid__row">
                        <span id="successmodalmessage">@Translate.Text("Epass.savethepass")</span>
                    </div>
                </div>
                <div class="m39-modal__footer">
                    <div class="button button--primary m39-m12-no" id="successfullysubmittedokbtn">
                        @Translate.Text("Epass.Ok")
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="m39-modal__overlay"> </div>
</div>



<script id="epass-records-item-template" type="text/x-handlebars-template">
    {{#results}}
    <button class="j113-epass--records_item {{donerecords}}"
            data-full_name="{{customername}}"
            data-nationality="{{nationality}}"
            data-profession="{{profession}}"
            data-emiratesid="{{emiratesid}}"
            data-eidexpdate="{{formatDate eiddate "short"}}"
            data-passport="{{passportnumber}}"
            data-visaexpdate="{{formatDate visaexpDate "short"}}"
            data-visa="{{visanumber}}"
            data-mobilenumber="{{mobilenumber}}"
            data-emailaddress="{{email}}"
            data-passportexpdate="{{formatDate passportexpDate "short"}}"
            data-icavalid="false"
            data-id="{{id}}">
        <div class="j113-epass--records_details">
            <div class="j113-epass--records_name">{{customername}}</div>
            {{#if emiratesid}}
            <div class="j113-epass--records_eid">
                @Translate.Text("Epass.EmiratesID") {{emiratesid}}
            </div>
            {{/if}}
        </div>
        {{#if registeredefolderid}}
        <div class="j113-epass--records_status">
            @Translate.Text("Epass.Submitted")
        </div>
        {{else}}
        <div class="j113-epass--records_status">
            @Translate.Text("Epass.Documentrequired")
        </div>
        {{/if}}

    </button>
    {{/results}}

</script>

<script type="text/javascript">
    var $epassid;
    var $icavalid;
    var $emiratesid;
    var $emiratesidexpirydate;
    var $fullname;
    var $visa;
    var $visaexpiry;
    var $passport;
    var $passportexpiry;
    var $nationality;
    var $eidattachment;
    var $passportattachment;
    var $visaattachment;
    var $dlattachment;
    var $platenumberid;
    var $platecodeid;
    var $platecategoryid;
    var $plateemiratesid;
    var onlydxb;
    var $profession;
    docReady(function () {
        loadvalidations();
        var DateFormats = {
            short: "DD MMMM YYYY",
            long: "dddd DD.MM.YYYY HH:mm"
        };
        multipasslist();
        iswithcarFunc();
        Handlebars.registerHelper("formatDate", function (datetime, format) {
            if (datetime == null) {
                return "";
            }
            if (moment) {
                moment.locale("en");
                format = DateFormats[format] || format;
                var date = moment(datetime).format(format);
                if ($('html').attr('lang') == 'ar-AE') {
                    var monthsFullAR = ['يناير', 'فبراير', 'مارس', 'أبريل', 'مايو', 'يونيو', 'يوليو', 'أغسطس', 'سبتمبر', 'أكتوبر', 'نوفمبر', 'ديسمبر'],
                        monthsShortEN = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                    $(monthsShortEN).each(function () {
                        if ((date).includes(this.toString())) {
                            date = date.replace(this.toString(), (monthsFullAR[monthsShortEN.indexOf(this.toString())]).toString())
                        }
                    });
                };
                return date;
                //return moment(datetime).format(format);
            }
            else {
                return datetime;
            }
        });
        multipasssubmit();

    });
    function loadvalidations() {
        $epassid = jQuery("#form-field-epassid");
        $icavalid = jQuery("#form-field-icavalid");
        $emiratesid = jQuery("#form-field-EmiratesID");
        $emiratesidexpirydate = jQuery("#form-field-EmiratesIDExpiry");
        $fullname = jQuery("#form-field-fullname");
        $profession = jQuery("#form-field-profession");
        $visa = jQuery("#form-field-visa");
        $visaexpiry = jQuery("#form-field-visaexpiry");
        $passport = jQuery("#form-field-Passportnumber");
        $passportexpiry = jQuery("#form-field-Passportexpiry");
        $nationality = jQuery("#form-field-nationality");
        $eidattachment = jQuery("#eiddocumentdiv");
        $passportattachment = jQuery("#passportdocumentdiv");
        $visaattachment = jQuery("#visadocumentdiv");
        $dlattachment = jQuery("#drivinglicensedocumentdiv");
        $platenumberid = jQuery("#form-field-PlateNumber");
        $platecodeid = jQuery("#form-field-PlateCode");
        $platecategoryid = jQuery("#form-field-categorycode");
        $plateemiratesid = jQuery("#form-field-emirates");
        onlydxb = ".onlydxb";
        jQuery("#finalsubmitbuttontrigger").on('click', function () {
            if ($(this).prop('disabled', true)) {
                event.preventDefault();
                event.stopPropagation();
                multipassfinalsubmit();
            }
        });
            jQuery("#successfullysubmittedokbtn").off('click.nextentry').on('click.nextentry', function () {
                $('.j113-epass--records_item').not('.j113-epass--records_item--done').each(function (index) {
                    if (index == 0) {
                        $(this).click();
                        return false;
                    };
                });
            });
        $plateemiratesid.change(function () {
            OnEmrtChange();
        });
        function OnEmrtChange() {
            var selVal = $plateemiratesid.val();
            $(".ct_platenumber").attr("data-parsley-type", "alphanum");
            if (selVal === "DXB") {
                $(onlydxb).show();
                $(".ct_platenumber").attr("data-parsley-type", "number");
            } else {
                $(onlydxb).hide();
            }
        }
        jQuery("#form-field-EmiratesIDExpiry").on("change", function (event) {
            event.preventDefault();
            event.stopPropagation();
            checkIDValidation();
        });
        $emiratesid.on('focusout', function (event) {
            event.preventDefault();
            event.stopPropagation();
            checkIDValidation();
        });
        jQuery("#form-field-emirates").on("change", function (event) {
            event.preventDefault();
            event.stopPropagation();checkRTAValidation();
        });
        $platenumberid.on('focusout', function (event) {
            event.preventDefault();
            event.stopPropagation();
            checkRTAValidation();
        });
        $platecodeid.on('focusout', function (event) {
            event.preventDefault();
            event.stopPropagation();
            checkRTAValidation();
        });
        $platecategoryid.change(function (event) {
            event.preventDefault();
            event.stopPropagation();
            checkRTAValidation();
        });
        jQuery(window).off('loadICAdetails').on('loadICAdetails', function () {
            //checkIDValidation();
        });
    }
    function iswithcarFunc() {
        var iswithcar = jQuery("#form-field-checkbox_iswithcar");
        var withcar = jQuery(".withcar");
        iswithcar.on('change', function () {
            withcar.hide();
            if ($(this).is(':checked')) {
                withcar.show();
                iswithcar.attr('value', 'True');

            } else { iswithcar.attr('value', 'False'); }
        });
    }
    function multipasssubmit() {
        setTimeout(function () {
            jQuery("#multilistepass").submit(function (event) {
                event.preventDefault();
                event.stopPropagation();
            })
            jQuery(window).off('j113MultipassSubmit').on('j113MultipassSubmit', function (event) {
                event.preventDefault();
                event.stopPropagation();
                    multipassprocess();
                return false;
            });
        }, 250)
    }
    function transform(results) {
        var r = {
            id: results.ID,
            customername: results.CustomerName,
            nationality: results.Nationality,
            profession: results.Profession,
            emiratesid: results.EmiratesID,
            eiddate: results.EidDate,
            visanumber: results.Visanumber,
            mobilenumber: results.Phonenumber,
            email: results.Emailid,
            visaexpDate: results.VisaexpDate,
            passportnumber: results.Passportnumber,
            passportexpDate: results.PassportexpDate,
            passissuedate: results.Passissuedate,
            passexpirydate: results.Passexpirydate,
            fromtime: results.FromTime,
            totime: results.ToTime,
            registeredefolderid: results.registeredefolderid,
            donerecords: results.registeredefolderid == null || results.registeredefolderid == "" ? "" : "j113-epass--records_item--done"
        }

        return r;
    }
    function renderMultiList(context) {
        var array = $.grep(context.results(), function (n, i) {
            return (n.registeredefolderid == "" || n.registeredefolderid == null);
        });
        if (array.length < 1) {
            jQuery('#finalsubmitbutton').show();
        }
        var markup = jQuery('#epass-records-item-template').html();
        var template = Handlebars.compile(markup);

        var rendering = template(context);
        jQuery('#multilist-placeholder').html(rendering);

        window.initComponents('multilist-placeholder');
    }
    function multipasslist() {
        var url = "/api/WorkPermit/PassedWorkPermitrecords";
        jQuery.ajax({
            type: 'POST',
            url: url,
            traditional: true,
            data: {

            },
            beforeSend: function () {
                window.attachSpinner('#multilist-placeholder', { minHeight: 100 });
            },
            complete: function () {
                // window.detachSpinner('#refund-list-wrapper');
            },
            dataType: 'json',
            success: function (response) {
                //console.log(response);
                var context = {
                    results: function () {
                        return _.map(response.Result, transform);
                    }
                };
                renderMultiList(context);
                jQuery(window).trigger('listbinding');
                jQuery('#epassrecordcount').html(response.Result.length);
                jQuery('.j113-epass--records_list_wrapper').find('.j113-epass--records_item:first-child').click();
            },
            error: function () {
            }
        });
        return false;
    }
    function multipassprocess() {
        var multipassform = jQuery('#multilistepass');
        var token = jQuery('input[name="__RequestVerificationToken"]', multipassform).val();
        var data1 = new FormData();
        //var photofiles = jQuery("#form-field-applicantphoto").get(0).files;
        var emiratesidfiles = jQuery("#form-field-emiratesidfile").get(0).files;
        var visafiles = jQuery("#form-field-visafile").get(0).files;
        var passportfiles = jQuery("#form-field-passportfile").get(0).files;
        var drivinglicensefiles = jQuery("#form-field-drivinglicense").get(0).files;
        //var vehicleregistrationfiles = jQuery("#form-field-vehicleno").get(0).files;
        data1.append("__RequestVerificationToken", token);
        data1.append("Serialnumber", jQuery('#form-field-epassid').val());
        data1.append("FullName", jQuery('#form-field-fullname').val());
        data1.append("Nationality", jQuery('#form-field-nationality option:selected').val());
        data1.append("ProfessionLevel", jQuery('#form-field-profession').val());
        data1.append("VisaNumber", jQuery('#form-field-visa').val());
        data1.append("EmiratesID", $("#form-field-EmiratesID").val());
        data1.append("EmiratesIDExpiry", $("#form-field-EmiratesIDExpiry").val());
        data1.append("VisaExpiry", $("#form-field-visaexpiry").val());
        data1.append("PassportExpiry", $("#form-field-Passportexpiry").val());
        data1.append("PassportNumber", jQuery('#form-field-Passportnumber').val());
        data1.append("Mobilenumber", jQuery('#form-field-MobilePhone').val());
        data1.append("Emailaddress", jQuery('#form-field-EmailAddress').val());
        data1.append("PlateCode", $("#form-field-PlateCode").val());
        data1.append("PlateNumber", $("#form-field-PlateNumber").val());
        data1.append("withcar", $("#form-field-checkbox_iswithcar").val());
        data1.append("EmirateOrCountry", jQuery('#form-field-emirates option:selected').val());
        ///if (photofiles.length > 0) { data1.append("SinglePass_Photo", photofiles[0]); }
        if (emiratesidfiles.length > 0) { data1.append("SinglePass_EmiratesID", emiratesidfiles[0]); }
        if (visafiles.length > 0) { data1.append("SinglePass_Visa", visafiles[0]); }
        if (passportfiles.length > 0) { data1.append("SinglePass_Passport", passportfiles[0]); }
        if (drivinglicensefiles.length > 0) { data1.append("DrivingLicense", drivinglicensefiles[0]); }
        //if (vehicleregistrationfiles.length > 0) { data1.append("SinglePass_VehicleRegistration", vehicleregistrationfiles[0]); }
        var url = "/api/Sitecore/WorkPermit/RenewalMultipass";
        jQuery.ajax({
            type: 'POST',
            url: url,
            traditional: true,
            data: data1,
            beforeSend: function () {
                epassbeforesendfunc();
            },
            complete: function () {
                epasscompletefunc();
                window.initComponents('reviewform');
            },
            dataType: 'json',
            cache: false,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.status) {
                    jQuery('#reviewform').html('');
                    jQuery('#reviewform').html(response.result);
                    jQuery('.j113-epass--multi_attachment').parsley();
                    jQuery(window).trigger('reinit_forms');
                    jQuery(window).trigger('j113_epass_reinit');
                    loadvalidations();
                    iswithcarFunc();
                    multipasslist();
                    multipasssubmit();


                    jQuery(window).trigger("resize");
                    jQuery('.m13-footer-back-to-top__link').trigger('click');
                    jQuery('#successmodal').find('.m39-modal__trigger').trigger('click');
                    if(response.completed != null && response.completed)
                    {
                        jQuery('#finalsubmitbutton').show();
                    }
                }
                else {
                    jQuery('#Errormessage').html(response.Message);
                    jQuery('#epasssubmitbutton').find('.button').prop('disabled', false)
                    jQuery('#epasssubmitbutton').find('.button').text('@Translate.Text("Epass.Save")')
                }
            },
            error: function (response) {
            }
        });
    }

    function multipassfinalsubmit() {
        var url = "/api/Sitecore/WorkPermit/RenewalMultipassSubmit";
        var data = new FormData();
        var multipassform = jQuery('#multilistepass');
        var token = jQuery('input[name="__RequestVerificationToken"]').val();
        data.append("__RequestVerificationToken", token);
        jQuery.ajax({
            type: 'POST',
            url: url,
            traditional: true,
            data: data,
            beforeSend: function () {
                epassbeforesendfunc();
            },
            complete: function () {
                epasscompletefunc();
                window.initComponents('reviewform');
            },
            dataType: 'json',
            cache: false,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.status) {
                    jQuery('#mainepassdiv').html('');
                    jQuery('#mainepassdiv').html(response.result);
                    @*multipasslist();
                    jQuery(window).trigger("resize");
                    jQuery('.m13-footer-back-to-top__link').trigger('click');
                    jQuery('#successmodal').find('.m39-modal__trigger').trigger('click');
                    if(response.completed != null && response.completed)
                    {
                        jQuery('#successfullysubmittedokbtn').removeClass('m39-m12-no');
                        jQuery('#successfullysubmittedokbtn').addClass('allrecordssubmitted');
                        jQuery('#successmodalmessage').html('@Translate.Text("Epass.Successfullysubmit")');

                        jQuery(".allrecordssubmitted").on('click', function (event) {
                            event.preventDefault();
                            window.location = "@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.WORKPERMIT_PAGE)";
                        });
                    }*@
                }
                else {
                    jQuery('#Errormessage').html(response.Message);
                    jQuery('#epasssubmitbutton').html('');
                    jQuery('#epasssubmitbutton').html('<button class="button button--primary button--next" type="submit" >@Translate.Text("Epass.Save")</button>');
                }
                //console.log(response);
            },
            error: function (response) {
                //console.log(response);
            }
        })
    }
    function epassbeforesendfunc() {
        jQuery('#Errormessage').html('');
        jQuery('.j113-epass--loader').show();
        jQuery('.j113-epass--loader').css('top', $(window).scrollTop());
        $('body').removeClass('unscrollable').addClass('unscrollable');
    }
    function epasscompletefunc() {
        jQuery('.j113-epass--loader').hide();
        $('body').removeClass('unscrollable');
    }
    function checkIDValidation() {
        setTimeout(function () {
            var $mainvalue = jQuery("#multilist-placeholder").find('.j113-epass--records_item[data-id=' + jQuery("#form-field-epassid").val() + ']');
            if ($mainvalue != null) {
                var icavalue = $mainvalue.attr("data-icavalid");
                var eidvalue = $mainvalue.attr("data-emiratesid");
                var eidexpiryvalue = $mainvalue.attr("data-eidexpdate");

                if (icavalue != "" && icavalue != undefined && icavalue != "true") {
                    if (jQuery($emiratesid).parsley().isValid()) {
                        if (eidvalue != "" && eidvalue != undefined && eidexpiryvalue != "" && eidexpiryvalue != undefined) {
                            Icadetails(eidvalue, eidexpiryvalue, "", "", "", "", true, epassbeforesendfunc, epasscompletefunc, successfunc, errorfunc);
                        }
                    }
                }
            }
        }, 250);
    }
    function checkRTAValidation() {
        var selVal = jQuery("#form-field-emirates option:selected").val();
        if (selVal === "DXB") {
            if (jQuery($platenumberid).parsley().isValid()) {
                if ($platenumberid.val() != "" && $platenumberid.val() != undefined && jQuery("#form-field-categorycode option:selected").val() != "") {
                    var response = Icadetails("", "", jQuery("#form-field-categorycode option:selected").val(), $platecodeid.val(), $platenumberid.val(), jQuery("#form-field-emirates option:selected").val(), false, epassbeforesendfunc, epasscompletefunc, successrtafunc, errorrtafunc);
                }
            }
        }
        else {
            errorrtafunc();
        }
    }
    function ICAreadonly() {
        if ($mainvalue.data().icavalid == 'true') {
            $fullname.addClass('disabled');
            $fullname.prop('disabled', true);
            $visa.addClass('disabled');
            $visa.prop('disabled', true);
            $visaexpiry.addClass('disabled');
            $visaexpiry.prop('disabled', true);
            $passport.addClass('disabled');
            $passport.prop('disabled', true);
            $passportexpiry.addClass('disabled');
            $passportexpiry.prop('disabled', true);
            $nationality.addClass('disabled');
            $nationality.prop('disabled', true);
        } else {
            $fullname.removeClass('disabled');
            $fullname.prop('disabled', false);
            $visa.removeClass('disabled');
            $visa.prop('disabled', false);
            $visaexpiry.removeClass('disabled');
            $visaexpiry.prop('disabled', false);
            $passport.removeClass('disabled');
            $passport.prop('disabled', false);
            $passportexpiry.removeClass('disabled');
            $passportexpiry.prop('disabled', false);
            $nationality.removeClass('disabled');
            $nationality.prop('disabled', false);
        }
    }
    function successfunc(response) {
        if (response != null && response.result != null && response.result.icadetails != null) {
            $eidattachment.hide();
            $icavalid.val("true");
            var $mainvalue = jQuery("#multilist-placeholder").find('.j113-epass--records_item[data-id=' + jQuery("#form-field-epassid").val() + ']');
            var isPpExpired = true, isVisaExpired = true;
            var today = new Date();
            if (response.result.icadetails.formatpassportexpirydate != null && response.result.icadetails.formatpassportexpirydate != "") {
                var ppExpiry = new Date(response.result.icadetails.passportexpirydate);
                isPpExpired = today > ppExpiry;
            }
            if (response.result.icadetails.formatvisaexpirydate != null && response.result.icadetails.formatvisaexpirydate != "") {
                var vExpiry = new Date(response.result.icadetails.visaexpirydate);
                isVisaExpired = today > vExpiry;
            }
            if ($mainvalue != null) {
                $mainvalue.data().full_name = response.result.icadetails.fullname;
                $mainvalue.data().profession = response.result.icadetails.profession;
                $mainvalue.find('.j113-epass--records_name').html(response.result.icadetails.fullname);
                $mainvalue.data().visa = !isVisaExpired?response.result.icadetails.formatvisanumber:"";
                $mainvalue.data().passport = !isPpExpired ? response.result.icadetails.passportnumber :"";
                $mainvalue.data().passportexpdate = !isPpExpired? response.result.icadetails.formatpassportexpirydate:"";
                $mainvalue.data().visaexpdate = !isVisaExpired?  response.result.icadetails.formatvisaexpirydate:"";
                $mainvalue.data().nationality =  response.result.icadetails.nationality;
                $mainvalue.data().icavalid=  "true";
            }
            $profession.val(response.result.icadetails.profession);
            if (response.result.icadetails.fullname != null && response.result.icadetails.fullname != "") {
                $fullname.val(response.result.icadetails.fullname);
                $fullname.addClass('disabled');
                $fullname.prop('disabled', true);
            }
            else {
                $fullname.removeClass('disabled');
                $fullname.prop('disabled', false);
            }
            //$fullname.attr('readonly', true);


            if (response.result.icadetails.passportnumber != null && response.result.icadetails.passportnumber != "" && response.result.icadetails.passportnumber != undefined && !isPpExpired) {
                $passportattachment.hide();
                $passport.val(response.result.icadetails.passportnumber);
                $passportexpiry.val(response.result.icadetails.formatpassportexpirydate);
                $passport.addClass('disabled');
                $passport.prop('disabled', true);
                $passportexpiry.addClass('disabled');
                $passportexpiry.prop('disabled', true);
            }
            else {
                $passport.removeClass('disabled');
                $passport.prop('disabled', false);
                $passportexpiry.removeClass('disabled');
                $passportexpiry.prop('disabled', false);
                $passportattachment.show();
            }
            if (response.result.icadetails.formatvisanumber != null && response.result.icadetails.formatvisanumber != "" && response.result.icadetails.formatvisanumber != undefined && !isVisaExpired) {
                $visaattachment.hide();
                $visa.val(response.result.icadetails.formatvisanumber);
                $visaexpiry.val(response.result.icadetails.formatvisaexpirydate);
                $visa.addClass('disabled');
                $visa.prop('disabled', true);
                $visaexpiry.addClass('disabled');
                $visaexpiry.prop('disabled', true);
            }
            else {
                $visa.removeClass('disabled');
                $visa.prop('disabled', false);
                $visaexpiry.removeClass('disabled');
                $visaexpiry.prop('disabled', false);
                $visaattachment.show();
            }
            if (response.result.icadetails.nationality != null && response.result.icadetails.nationality != "") {
                $nationality.val(response.result.icadetails.nationality);
                jQuery("#form-field-nationality").trigger('change');
                $nationality.addClass('disabled');
                $nationality.prop('disabled', true);
            }
            else {
                $nationality.removeClass('disabled');
                $nationality.prop('disabled', false);
            }

        }
        else {
            errorfunc();
        }
    }
    function errorfunc() {
        $visaattachment.show();
        $passportattachment.show();
        $eidattachment.show();
    }
    function successrtafunc(response) {
        if (response != null && response.result != null && response.result.rtadetails != null) {
            $dlattachment.hide();
        }
        else {
            errorrtafunc();
        }
    }
    function errorrtafunc() {
        $dlattachment.show();
    }
</script>





