@using DEWAXP.Feature.Account.Models.CustomerRegistration
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@model ConfirmVerificationMethodModel
<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            @Html.Sitecore().Placeholder("j9/m26-page-title")
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
            @Html.Sitecore().Placeholder("j9/m38-step-tracker")
            @Html.Sitecore().Placeholder("j9/confirm verification method intro")
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @data_form = "true", @data_parsley_focus = "none", @data_submit_validate = "enabled" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
                <p class="text__content-copy--small text__content-copy--small-grey">@Translate.Text("confirm verification text")</p>
                if (Model.SelectedMethod == VerificationMethods.Email)
                {
                    <p class="text__content-copy--small text__content-copy--small-grey">
                        <strong>@Translate.Text("email label"): <span class="verification--value">@Model.Email</span></strong>
                    </p>
                }
                else if (Model.SelectedMethod == VerificationMethods.Mobile)
                {
                    <p class="text__content-copy--small text__content-copy--small-grey">
                        <strong>@Translate.Text(DictionaryKeys.Registration.MobileNumberLabel): <span class="verification--value" dir="ltr">@Model.Mobile</span></strong>
                    </p>
                }
                <div class="form-field__button">
                    <button type="submit" class="button button--primary" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Next")</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/scripts/External/nml/form-submit-validate.js"></script>
