@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@using Sitecore.Globalization
@using Sitecore.Mvc

<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            @Html.Sitecore().Placeholder("j9/m26-page-title")
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
            @Html.Sitecore().Placeholder("j9/m38-step-tracker")
        </div>
    </div>

    <div class="grid__row">
        <div class="grid__column grid__column--12 ">
            <div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
                <div class="m40-status-message__title icon--error">@Translate.Text("error title")</div>
                <div class="m40-status-message__text">@Translate.Text("error message text")</div>
            </div>
        </div>
    </div>

    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
            <p class="text__content-copy--small text__content-copy--small-grey">
                @Html.Sitecore().Placeholder("j9/amend details text")
            </p>
        </div>
    </div>

    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
            <a role="button" aria-label="Homepage" class="button button--primary" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.HOME)">@Translate.Text("Home button text")</a>
        </div>
    </div>
</div>

