@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.Account.Models.CustomerRegistration.BusinessPartnerNumberModel

<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
            @Html.Sitecore().Placeholder("j9/m38-step-tracker")
            <p class="intro-text">@Translate.Text("register intro text") </p>
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", @data_form = "true", @data_parsley_focus = "none", @data_submit_validate = "enabled" }))
            {
                @Html.Sitecore().FormHandler()
                @Html.AntiForgeryToken()
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

                <fieldset class="fieldset ">
                    <legend class="legend-color">.</legend>
                    <div class="form-field form-field--text ">
                        <label for="form-field-business-partner-number" class="form-field__label">
                            @Translate.Text("register business partner number label")
                            <span class="form-field__label-required aria-only">@Translate.Text("generic required label")</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <input id="form-field-business-partner-number"
                                   name="BusinessPartnerNumber"
                                   type="number" lang="en"
                                   class="form-field__input form-field__input--text"
                                   required="required"
                                   @*aria-required="true"*@
                                   aria-describedby="description-for-business-partner-number"
                                   placeholder="@Translate.Text("business partner number placeholder text")"
                                   data-parsley-twonum=""
                                   value="@Model.BusinessPartnerNumber"
                                   data-parsley-error-message="@Translate.Text("register business partner validation message")"
                                   data-parsley-errors-container="#description-for-business-partner-number" />
                        </span>
                        <div id="description-for-business-partner-number" class="form-field__messages">
                            <p class="form-field__description">
                                @Translate.Text("register business partner number help text")

                                <br /><a class="link" href=@Translate.Text("understand your bill url")>
                                    @Translate.Text("understand your bill text")
                                </a>
                            </p>
                            @Html.ValidationMessageFor(x => x.BusinessPartnerNumber, "", new { @class = "parsley-errors-list" })
                        </div>
                    </div>
                </fieldset>
                <div class="form-field__button">
                    <button type="submit" class="button button--primary button--next" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("register button text")</button>
                </div>
            }
        </div>
    </div>

    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
            <a role="button" aria-label="" class="" href="#"><span class="ExternalLink">.</span></a>
        </div>
    </div>
</div>

<script src="~/scripts/External/nml/form-submit-validate.js"></script>
