@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@model string
@{
    var lang = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "ar" : "en";
    var PaymentList = DEWAXP.Foundation.Helpers.PaymentHelper.UAEPGSList(Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "ar" : "en", HttpContext.Current.Request.Headers["User-Agent"]);
}
<style type="text/css">
    .form-field__radio.disabled {
        opacity: 0.5;
    }
</style>
<div class="m39-modal" data-component="m39-modal" id="modal_true">
    <button data-trigger="true" class="m39-modal__trigger hidden btnmodaltrigger" type="button"></button>
    <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="true" id="divnoqodimodel_content" aria-labelledby="divnoqodimodel_trigger">
        <div class="m39-modal__dialog  m39-modal__dialog--payment m39-modal__dialog--payment_2">
            <div class="m39-modal__header">
                <div class="m39-modal__title">@Translate.Text("PM_Paymethod")</div>
                <button data-close="true" class="m39-modal__button--close" id="divnoqodimodel_close" aria-controls="divnoqodimodel_content">@Translate.Text("Close")</button>
                @*<div class="m39-modal__subtitle">@Translate.Text("PM_TypePaymethod")</div>*@
            </div>
            <div class="m39-modal__content" style="top: 120px;">
                <div class="m39-model__payment-option-list first">
                    <div class="form-field" id="divPaymentAmountVal" data-value="">
                        <fieldset class="fieldset" style="margin-top:2px">
                            <legend class="legend-color">.</legend>
                            <p class="form-field__radio">
                                <label>
                                    <input class="form-field__input form-field__input--radio"
                                           id="form-field-radio_1_5"
                                           name="paymentMethod"
                                           type="radio"
                                           value="5"
                                           checked="checked"
                                           aria-describedby="description-for-paymentMethod"
                                           data-parsley-errors-container="#description-for-paymentMethod"
                                           data-input="radio">
                                    <span class="form-field__fakeradio form-field__fakeradio--right focus-enabled">
                                        <span class="payment-option-wrapper align_left">
                                            <span class="flex-center">
                                                <img src="/images/Noqodi/CreditCard_logo-01@2x.png" alt="@Translate.Text("Credit / Debit Card")" class="" style="width: auto; height: 24px; margin: 0 8px;">
                                                <span class="payment-option-name">
                                                    @Translate.Text("Credit / Debit Card")
                                                </span>
                                            </span>
                                            <span class="payment-option-text enbdtext p0">
                                                @Translate.Text("VAT Charges ENBD")
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </p>

                            <p class="form-field__radio" id="netbanking">
                                <label>
                                    <input class="form-field__input form-field__input--radio"
                                           id="form-field-radio_1_6"
                                           name="paymentMethod"
                                           type="radio"
                                           value="6"
                                           aria-describedby="description-for-paymentMethod"
                                           data-parsley-errors-container="#description-for-paymentMethod"
                                           data-input="radio">
                                    <span class="form-field__fakeradio form-field__fakeradio--right focus-enabled mt24">
                                        <span class="payment-option-wrapper align_left">
                                            <span class="flex-center">
                                                <img src="/images/Noqodi/NetBanking_logo-01@2x.png" alt="@Translate.Text("PM_PaythrouNetbanking")" class="" style="width: auto; height: 24px; margin: 0 8px;">
                                                <span class="payment-option-name">
                                                    @Translate.Text("PM_PaythrouNetbanking")
                                                </span>
                                            </span>
                                            @*<span class="payment-option-text">
                                            @Translate.Text("PM_VatAdditicharges")
                                        </span>*@
                                        </span>
                                    </span>
                                </label>
                            </p>
                            <p class="form-field__radio">
                                <label>
                                    <input class="form-field__input form-field__input--radio"
                                           id="form-field-radio_1_3"
                                           name="paymentMethod"
                                           type="radio"
                                           value="3"
                                           aria-describedby="description-for-paymentMethod"
                                           data-parsley-errors-container="#description-for-paymentMethod"
                                           data-input="radio">
                                    <span class="form-field__fakeradio form-field__fakeradio--right focus-enabled mt24">
                                        <span class="payment-option-wrapper align_left">
                                            <span class="flex-center">
                                                <img src="/images/Noqodi/noqodi-@(lang)-2x.png" alt="@Translate.Text("PM_PaythrouNetbanking")" class="" style="width: auto; height: 24px; margin: 0 8px;">
                                                <span class="payment-option-name">
                                                    @Translate.Text("PM_PaythrouNetbanking")
                                                </span>
                                            </span>
                                            <span class="payment-option-text p0">
                                                @Translate.Text("PM_VatAdditicharges")
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </p>
                            <p class="form-field__radio">
                                <label>
                                    <input class="form-field__input form-field__input--radio"
                                           id="form-field-radio_1_4"
                                           name="paymentMethod"
                                           type="radio"
                                           value="4"
                                           aria-describedby="description-for-paymentMethod"
                                           data-parsley-errors-container="#description-for-paymentMethod"
                                           data-input="radio">
                                    <span class="form-field__fakeradio form-field__fakeradio--right focus-enabled mt24">
                                        <span class="payment-option-wrapper align_left">
                                            <span class="flex-center">
                                                <img src="/images/Noqodi/noqodi-@(lang)-2x.png" alt="@Translate.Text(" PM_PaythrouNoqoewallet")" class="" style="width: auto; height: 24px; margin: 0 8px;">
                                                <span class="payment-option-name">
                                                    @Translate.Text("PM_PaythrouNoqoewallet")
                                                </span>
                                            </span>
                                            <span class="payment-option-text p0">
                                                @Translate.Text("PM_VatChargesNoqoewallet")
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </p>
                        </fieldset>
                        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SuqiaDonation.cshtml")
                    </div>
                </div>
                <div class="m39-model__payment-option-list second" style="display: none; height: 100%;">
                    <div class="button button--text button--back" id="backtofirst">
                        @Translate.Text("Back")
                    </div>
                    @*<p class="mt0 mb12">@Translate.Text("Banking Notes")</p>*@
                    <div class="form-field form-field--text mb24">
                        <label class="form-field__label" for="form-field-mrzbmulpx">
                            <span class="aria-only">@Translate.Text("Search")</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <input type="text" data-parsley-errors-container="#description-for-mrzbmulpx"
                                   data-parsley-error-message="Enter a value"
                                   aria-describedby="description-for-mrzbmulpx"
                                   data-parsley-excluded=""
                                   placeholder="@Translate.Text("Search")" name="map_search_desktop"
                                   id="form-field-mrzbmulpx"
                                   class="form-field__input form-field__input--text pac-target-input"
                                   data-parsley-trigger="focusout"
                                   data-parsley-id="10"
                                   autocomplete="off" aria-invalid="true">
                        </span>
                        <div class="form-field__messages" id="description-for-mrzbmulpx">
                        </div>
                    </div>
                    <div class="payment-banklist">
                        @if (PaymentList != null && PaymentList.Count > 0)
                        {
                            foreach (var bank in PaymentList)
                            {
                                <a href="javascript:void(0)" data-burl="@bank.Url" data-bkey="@bank.Bankkey" class="flex-center mb24 paymentbankkey">
                                    <span class="payment-banklist-icon" style="background-image: url('@bank.Imagelink');"></span>
                                    <span class="payment-option-name payment-banklist-title">@bank.Bankname</span>
                                </a>
                            }

                            <input type="hidden" name="bankkey" class="bankkey" />
                        }
                        <p class="payment-option--noresult @((PaymentList != null && PaymentList.Count > 0)?"hidden":string.Empty)">@Translate.Text("Payment No Match Found")</p>
                    </div>

                </div>
            </div>
            @*<div class="m39-modal__footer">
                <p class="m39-modal__accsel-error hidden" data-modal="errormessage" aria-hidden="true" tabindex="0" data-min-error="@Translate.Text(" PM_Selectatleast")">@Translate.Text("PM_Selectatleast")</p>
                <button class="button button--primary button--pay" type="submit">
                    @Translate.Text("easypay.pay"):
                    <span id="continue-button" name="continue-button" data-amount="@Model" data-numeric-format="0,0.00" data-currency="@Translate.Text(" AED")">@Model</span>
                </button>
            </div>*@

            <div class="m39-modal__footer">

                <div class="payment-modal-bottom">
                    <div class="m42-keyvalue m42-keyvalue-payment">
                        <dl>
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary m42-keyvalue--justified-dt">Total Amount </dt>
                            <dd id="continue-button" class="m42-keyvalue__value m42-keyvalue__value--secondary m42-keyvalue--justified-dd"
                                data-amount="@Model" data-numeric-format="0,0.00" data-currency="@Translate.Text(" AED")" data-acc-detail="">@Model</dd>
                            </dl>
                        </div>
                    </div>
                    <p class="m39-modal__accsel-error hidden" data-modal="errormessage" aria-hidden="true" tabindex="0" data-min-error="@Translate.Text(" PM_Selectatleast")">@Translate.Text("PM_Selectatleast")</p>
                    <button class="button button--primary button--pay mb12" type="submit">@Translate.Text("easypay.pay")</button>
                </div>
            </div>
    </div>
</div>


<script type="text/javascript">
    $('#netbanking').on('click', function () {
        if ($('#netbanking').hasClass("disabled") != true) {
        $('.m39-model__payment-option-list.first').fadeOut();
        $(this).closest('.m39-modal').find('.m39-modal__footer').fadeOut();
        setTimeout(function () {

                $('#form-field-mrzbmulpx').val('');
                $('#form-field-mrzbmulpx').trigger('keyup');
                $('.m39-model__payment-option-list.second').fadeIn();
        }, 400);
        }
    });

    $('#backtofirst').on('click', function () {
        $('.m39-model__payment-option-list.second').fadeOut();
       // $('#netbanking').find('input').prop('checked', false);
        var total = jQuery('#divPaymentAmountVal').data('value');
        setPaymentMethod(total);

        $(this).closest('.m39-modal').find('.m39-modal__footer').fadeIn();
        setTimeout(function () {
            $('.m39-model__payment-option-list.first').fadeIn();
        }, 400);
        jQuery(this).closest('.form').off('submit.temp');
    });

    setTimeout(function () {
        jQuery('#backtofirst').closest('.m39-modal').find('.m39-modal__trigger').on('click', function () {
            $('#backtofirst').click();
        });
    }, 100)

    jQuery('#form-field-mrzbmulpx').on('keydown', function (event) {
        jQuery(this).closest('.form').on('submit.temp', function (e) {
            //e.preventDefault()
        });
        setTimeout(function () {
            jQuery(this).closest('.form').off('submit.temp');
        }, 500)
    });

    $('#form-field-mrzbmulpx').off('keyup.j155').on('keyup.j155', function () {
        if ($(this).val().length != 0) {
            //console.log($(this).val());
            var input, filter, files, a, i, txtValue, results;

            input = $(this);
            filter = input.val().toUpperCase();
            files = $('.m39-model__payment-option-list.second').find('.flex-center');
            results = 0;

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < files.length; i++) {
                a = $(files[i]).find('.payment-option-name').text();
                txtValue = a;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    $(files[i]).show();

                    results++;
                } else {
                    $(files[i]).hide();
                }
            };

            if (results == 0) {
                $('.payment-option--noresult').show();
            } else {
                $('.payment-option--noresult').hide();
            }
        } else {
            $('.m39-model__payment-option-list.second').find('.flex-center').each(function () {
                $(this).show();
            });
        };
    })

    function setPaymentMethod(total) {
        jQuery(".button--pay").show();
        if (numeral(total) > @PaymentConstants.EasyMaximumAllowedPaymentAmount) {
            jQuery('#form-field-radio_1_5').attr("disabled", true);
            jQuery('#form-field-radio_1_5').closest('.form-field__radio').addClass('disabled');

            jQuery('#form-field-radio_1_6').attr("disabled", true);
            jQuery('#form-field-radio_1_6').closest('.form-field__radio').addClass('disabled');

            if (!($('#form-field-radio_1_3').prop('checked') || $('#form-field-radio_1_4').prop('checked'))) {
                jQuery('input[name="paymentMethod"]:radio').each(function () {
                    jQuery(this).attr("checked", false);
                    jQuery(this).prop('checked', false);
                    jQuery(this).removeAttr("checked");

                    if (jQuery(this).attr('id') == 'form-field-radio_1_3') {
                        jQuery('#form-field-radio_1_3').prop("checked", true);
                    }
                });
            }

            jQuery('.enbdtext').show();
        }

        else if (numeral(total) > @PaymentConstants.MinimumAllowedPaymendAmount) {
            jQuery('#form-field-radio_1_5').attr("disabled", true);
            jQuery('#form-field-radio_1_5').closest('.form-field__radio').addClass('disabled');


            jQuery('#form-field-radio_1_6').attr("disabled", false);
            jQuery('#form-field-radio_1_6').closest('.form-field__radio').removeClass('disabled');
            if (!($('#form-field-radio_1_3').prop('checked') || $('#form-field-radio_1_4').prop('checked'))) {
                jQuery('input[name="paymentMethod"]:radio').each(function () {
                    jQuery(this).attr("checked", false);
                    jQuery(this).prop('checked', false);
                    jQuery(this).removeAttr("checked");

                    if (jQuery(this).attr('id') == 'form-field-radio_1_6') {
                        jQuery('#form-field-radio_1_6').prop("checked", true);
                        jQuery(".button--pay").hide();
                    }
                });
            }

            jQuery('.enbdtext').show();
        }

        else {
            jQuery('#form-field-radio_1_5').removeAttr("disabled");
            jQuery('#form-field-radio_1_5').closest('.form-field__radio').removeClass('disabled');
            if (!($('#form-field-radio_1_3').prop('checked') || $('#form-field-radio_1_4').prop('checked'))) {
                jQuery('input[name="paymentMethod"]:radio').each(function () {
                    jQuery(this).attr("checked", false);
                    jQuery(this).prop('checked', false);
                    jQuery(this).removeAttr("checked");

                    if (jQuery(this).attr('id') == 'form-field-radio_1_5') {
                        jQuery('#form-field-radio_1_5').prop("checked", true);
                    }
                });
            }

            jQuery('.enbdtext').hide();
        }
    }

    jQuery('.paymentbankkey').on('click', function () {
        var bkey = jQuery(this).data("bkey");
        jQuery(".bankkey").val(bkey);
        jQuery(".button--pay").trigger("click");
    })

    jQuery("input[name='paymentMethod']").on("change", function () {
        jQuery(".button--pay").show();
        if ($(this).val() == 6) {
            jQuery(".button--pay").hide();
        }
    })
</script>


