@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Helpers
@{
    ModelState ms;
    var direction = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "rtl" : "ltr";
}

@if (!ViewData.ModelState.IsValid && ViewData.ModelState.TryGetValue(ViewData.TemplateInfo.HtmlFieldPrefix, out ms))
{
    <div class="grid__row error-html">
        <div class="grid__column grid__column--12">
            <div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
                <div class="m40-status-message__title icon--error">
                    @Sitecore.Globalization.Translate.Text(DictionaryKeys.Global.SubmissionError)
                </div>
                <div class="m40-status-message__text" dir="@direction">
                    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(true).ToHtmlString()))
                    @*@Html.ValidationSummary(true)*@
                </div>
            </div>
        </div>
    </div>
}
else if (!ViewData.ModelState.IsValid && ViewData.ModelState.TryGetValue("accountlock", out ms))
{
    <div class="grid__row error-html">
        <div class="grid__column grid__column--12">
            <div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
                <div class="m40-status-message__title icon--error">
                    @Sitecore.Globalization.Translate.Text("Account Locked")
                </div>
                <div class="m40-status-message__text" dir="@direction">
                    @Html.Raw(string.Format(Sitecore.Globalization.Translate.Text("Account_Locked_ErrorMessage"), LinkHelper.GetItemUrl(SitecoreItemIdentifiers.ACCOUNT_UNLOCK)))
                    @*@Html.ValidationSummary(true)*@
                </div>
            </div>
        </div>
    </div>
}
else if (!ViewData.ModelState.IsValid && ViewData.ModelState.TryGetValue("jobseeker_accountlock", out ms))
{
    <div class="grid__row error-html">
        <div class="grid__column grid__column--12">
            <div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
                <div class="m40-status-message__title icon--error">
                    @Sitecore.Globalization.Translate.Text("Account Locked")
                </div>
                <div class="m40-status-message__text" dir="@direction">
                    @Html.Raw(string.Format(Sitecore.Globalization.Translate.Text("Account_Locked_ErrorMessage"), LinkHelper.GetItemUrl(SitecoreItemIdentifiers.CAREER_PORTAL_ACCOUNT_UNLOCK)))
                    @*@Html.ValidationSummary(true)*@
                </div>
            </div>
        </div>
    </div>
}