@using Sitecore.Globalization
@{
    var List = DEWAXP.Foundation.Content.Utils.PaymentPopupHelper.GetSuqiaDonationList();
    var cnt = 1;
}
@if (List != null && List.Count > 0)
{
    <div class="m39-modal__suqia--donation">
        <div class="m39-modal__suqia--donation-title">
            <img src="/images/suqia-donation-logo.png" class="m39-modal__suqia--donation-img">
            <div class="m39-modal__suqia--donation-title-txt">
                <div class="m39-modal__suqia--donation-title-txt-large"><strong>@Translate.Text("Donate to UAE Water Aid Foundation")</strong></div>
                <div class="m39-modal__suqia--donation-title-txt-small">@Translate.Text("Transform lives with clean water")</div>
            </div>
        </div>
        <div class="m39-modal__suqia--donation-list">
            <div class="m39-modal__suqia--donation-list-items">
                @foreach (var list in List)
                {
                    <div class="form-field__checkbox @(!string.IsNullOrWhiteSpace(list.Value)&& list.Value.Equals("other")?"form-field__checkbox_custom-enter":string.Empty)  @(cnt.Equals(1)?"first":string.Empty) @(cnt.Equals(List.Count)?"last":string.Empty)">
                        <label>
                            <input class="form-field__input form-field__input--checkbox"
                                   id="form-field-checkbox_1_@cnt"
                                   name="SuqiaDonation" type="checkbox" value="@list.Value" aria-describedby="description-for-admtnwz95"
                                   data-parsley-errors-container="#description-for-admtnwz95">

                            <div class="form-field__fakecheckbox_donation focus-enabled" data-value="@list.Value">
                                @if (!string.IsNullOrWhiteSpace(list.Value) && list.Value.Equals("other"))
                                {
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="edit-svg">
                                        <path d="M11.8491 1.98283C12.0503 2.18399 12.0503 2.51014 11.8491 2.7113L10.7747 3.7857L8.7143 1.72527L9.7887 0.650872C9.98986 0.449709 10.316 0.44971 10.5172 0.650872L11.8491 1.98283Z"></path>
                                        <path d="M10.0463 4.51417L7.98583 2.45374L0.966971 9.4726C0.910425 9.52914 0.867821 9.59808 0.842533 9.67394L0.0136622 12.1606C-0.0534528 12.3619 0.1381 12.5535 0.339445 12.4863L2.82606 11.6575C2.90192 11.6322 2.97086 11.5896 3.0274 11.533L10.0463 4.51417Z"></path>
                                    </svg>
                                }
                                @list.Text
                            </div>
                        </label>
                    </div>
                    cnt++;
                }
            </div>
            <div class="m39-modal__suqia--donation-input hidden">
                <div class="form-field form-field--text ">
                    <label for="form-field-SuqiaDonationAmt" class="form-field__label">
                        @Translate.Text("Amount to Donate")
                    </label>
                    <span class="form-field__input-wrapper form-field__input-wrapper--prefixed form-field__input-wrapper--currency">
                        <input class="form-field__input form-field__input--text form-field__input--prefixed"
                               name="SuqiaDonationAmt"
                               id="form-field-SuqiaDonationAmt" type="number" aria-describedby="description-for-SuqiaDonationAmt"
                               required="required" value="0" min="1" max="999999999" step="any"
                               data-parsley-max-message="Payment amount cannot exceed 500,000.00 AED"
                               data-parsley-errors-container="#description-for-SuqiaDonationAmt" data-parsley-currency=""
                               data-input-truncate="9" data-parsley-min="1" data-parsley-max="999999999"
                               data-parsley-trigger="focusout"
                               data-parsley-required-message="@Translate.Text("Enter Amount to Donate")"
                               data-parsley-currency-message="@Translate.Text("Enter Amount to Donate")"
                               data-parsley-min-message="@Translate.Text("Enter Amount to Donate")" data-parsley-range-message=""
                               lang="en" data-parsley-id="6" aria-invalid="false">
                    </span>
                    <div id="description-for-SuqiaDonationAmt" class="form-field__messages">

                    </div>
                </div>
            </div>
            <div class="m39-modal__suqia--donation-info">
                <a href="https://www.suqia.ae/" target="_blank" title="@Translate.Text("Donate to UAE Water Aid Foundation")" class="m39-modal__suqia--donation-info-icon">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M9 0C4.03636 0 0 4.03636 0 9C0 13.9636 4.03636 18 9 18C13.9636 18 18 13.9636 18 9C18 4.03636 13.9636 0 9 0ZM9.00014 3.81839C8.40014 3.81839 7.90923 4.30929 7.90923 4.90929C7.90923 5.50929 8.40014 6.0002 9.00014 6.0002C9.60014 6.0002 10.0911 5.50929 10.0911 4.90929C10.0911 4.30929 9.60014 3.81839 9.00014 3.81839ZM8.18115 8.4549C8.18115 8.0049 8.54933 7.63672 8.99933 7.63672C9.44934 7.63672 9.81752 8.0049 9.81752 8.4549V13.364C9.81752 13.814 9.44934 14.1822 8.99933 14.1822C8.54933 14.1822 8.18115 13.814 8.18115 13.364V8.4549Z">
                        </path>
                    </svg>@Translate.Text("Donate to UAE Water Aid Foundation")
                </a>
            </div>
        </div>
    </div>
    <script>
        var currency = '@Translate.Text("AED")';
        jQuery('.m39-modal__suqia--donation-list-items').find('.form-field__input--checkbox').prop('checked', false);
        jQuery('.form-field__fakecheckbox_donation').on('click', function () {
            var totalamounttopay = numeral(jQuery("#continue-button").attr("data-amount"));
            var $clickedCheckbox = jQuery(this);
            var newamounttopay;
            if (jQuery(this).prev("input").is(':checked')) {
                newamounttopay = 0;
            }
            else {
                if ($clickedCheckbox.attr('data-value') === "other") {
                    newamounttopay = numeral(parseFloat(jQuery('input[name="SuqiaDonationAmt"]').val()));
                }
                else {
                    newamounttopay = numeral(parseFloat($clickedCheckbox.html().replace(currency, "")));
                }
            }
            var totalpaymentamount = totalamounttopay.add(newamounttopay)._value;
            jQuery("#continue-button").html(numeral(parseFloat(totalpaymentamount)).format('0,0.00') + " " + currency);
            setPaymentMethod(totalpaymentamount);
            jQuery('.form-field__fakecheckbox_donation').not($clickedCheckbox).each(function () {
                jQuery(this).closest('.form-field__checkbox').find('.form-field__input--checkbox').prop('checked', false);
            });
            if ($clickedCheckbox.closest('.form-field__checkbox').hasClass('form-field__checkbox_custom-enter') && !jQuery('.m39-modal__suqia--donation-input').is(':visible')) {
                jQuery('.m39-modal__suqia--donation-input').show();
            } else {
                jQuery('.m39-modal__suqia--donation-input').hide();
            }

            $clickedCheckbox.focus();
        });
        jQuery('#form-field-SuqiaDonationAmt').on('focusout keyup', function () {
            var value = jQuery(this).val();
            var totalpaymentamount;
            if (value != "" && parseFloat(value) > 0) {
                var totalamounttopay = numeral(jQuery("#continue-button").attr("data-amount"));
                var newamounttopay = numeral(parseFloat(jQuery('input[name="SuqiaDonationAmt"]').val()));
                totalpaymentamount = totalamounttopay.add(newamounttopay)._value;
                jQuery("#continue-button").html(numeral(parseFloat(totalpaymentamount)).format('0,0.00') + " " + currency);
                }
            else {
                totalpaymentamount = jQuery("#continue-button").attr("data-amount");
                jQuery("#continue-button").html(numeral(totalpaymentamount).format('0,0.00') + " " + currency);
            }

            setPaymentMethod(totalpaymentamount);
        });
    </script>
}