@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content 
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <div class="m4-login" data-component="m4-login">
            <div class="m4-login_title">
                @Translate.Text("Epass.Epass Supplier Header")
            </div>
            @*<div class="m4-login_subtitle">
                @Translate.Text("Epass.logindescription")
            </div>*@

            <div class="m4-login_card-wrapper">
                @*<a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EPASS_SUPPLIERGENERATIONLANDINGPAGE)" class="m4-login_card active">
                    <div class="icon icon-supplier"></div>
                    <div class="m4-login_card-title">
                        @Translate.Text("epass.generationdivisionpage")
                    </div>
                </a>*@
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EPASS_SUPPLIERBSHRLANDINGPAGE)" class="m4-login_card">
                    <div class="icon icon-visitor"></div>
                    <div class="m4-login_card-title">
                        @Translate.Text("Epass.bshrpage")
                    </div>
                </a>
            </div>
        </div>
    </div>
</div> 