@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Feature.GatePass.Models.ePass
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GatePass.Models.ePass.SubPasses.MaterialPass
@{ var nowmax = DateHelper.DubaiNow().AddMonths(-1).AddDays(2);
    var DEWAStoreLocation = EpassHelper.GetSelectListItems(DataSources.MaterialPasslocations);
    DateTime nowoneyear = DateHelper.DubaiNow().AddMonths(-1).AddDays(30);
}

<div class="j112-material-pass"
     data-journey="j112-material-pass"
     data-max-material="5"
     data-editlabel="@Translate.Text("Epass.Edit")"
     data-removelabel="@Translate.Text("Epass.Remove")"
     data-eithertext="@Translate.Text("Epass.AtleastoneofInwardorOutwardshouldhaveavalue")"
     data-labels='{"material":"@Translate.Text("Epass.Material")","desc":"@Translate.Text("Epass.Description")","quantity":"@Translate.Text("Epass.Quantity")","action":"@Translate.Text("Epass.Action")"}'>
    <div class="grid">
        <div class="j113-epass">
            <div class="m66-preloader j113-epass--loader hidden">
                <div class="grid">
                    <div class="grid__row">
                        <div class="grid__column grid__column--12">
                            <h2 class="text__section-subtitle">@Translate.Text("Epass.Pleasewait")</h2>
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Sitecore().Placeholder("pagetitle")
        <div class="grid__row">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "ePassForm", @data_form = "true", @enctype = "multipart/form-data", @data_submit_validate = "enabled", @id = "materialinoutform" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
                @Html.HiddenFor(x => x.MaterialInformation)
                @Html.HiddenFor(m => m.PassType)
                @Html.HiddenFor(m => m.SubPassNumber)
                <div class="grid__column grid__column--12 grid__column--form">
                    <div class="form-field form-field--text ">
                        <label for="form-field-passnumber" class="form-field__label">
                            @Translate.Text("Epass.Passnumber")
                            <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <input maxlength="20"
                                   data-parsley-maxlength="20"
                                   value="@Model.PassNumber"
                                   class="form-field__input form-field__input--text"
                                   id="form-field-passnumber"
                                   name="PassNumber"
                                   required="required"
                                   type="text"
                                   placeholder="@Translate.Text("Epass.Passnumber")"
                                   data-parsley-required-message="@Translate.Text("Epass.Passnumbererror")"
                                   aria-describedby="description-for-passnumber"
                                   data-parsley-errors-container="#description-for-passnumber"
                                   data-parsley-trigger="focusout"
                                   data-parsley-id="29">
                        </span>
                        <div id="description-for-passnumber" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field form-field--text  ">
                        <label for="form-field-contractorname" class="form-field__label">
                            @Translate.Text("Epass.Contractor Name")
                        </label>
                        <span class="form-field__input-wrapper">
                            <input class="form-field__input form-field__input--text"
                                   id="form-field-contractorname"
                                   name="Contractorname" type="text"
                                   value="@Model.Contractorname"
                                   placeholder="@Translate.Text("Epass.Contractor Name")"
                                   aria-describedby="description-for-contractorname"
                                   data-parsley-errors-container="#description-for-contractorname"
                                   required="" data-parsley-required-message="@Translate.Text("Epass.contractornameerror")"
                                   data-parsley-trigger="focusout" data-parsley-id="4">
                        </span>
                        <div id="description-for-contractorname" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field form-field--text form-field--textarea">
                        <label for="form-field-projectdetails" class="form-field__label">
                            @Translate.Text("Epass.Project Details")
                        </label>
                        <span class="form-field__input-wrapper">
                            <textarea class="form-field__input form-field__input--text form-field__input--textarea"
                                      maxlength="500"
                                      data-textarea="projectdetails"
                                      id="form-field-projectdetails"
                                      name="ProjectDetails"
                                      value="@Model.ProjectDetails"
                                      type="textarea"
                                      placeholder="@Translate.Text("Epass.Project Details")"
                                      aria-describedby="description-for-projectdetails"
                                      data-parsley-errors-container="#description-for-projectdetails"
                                      required=""
                                      data-parsley-required-message="@Translate.Text("Epass.Projectdetailserror")"
                                      data-parsley-id="22"></textarea>
                        </span>
                        <div id="description-for-projectdetails" class="form-field__messages">
                            <p class="form-field__charcount">@Translate.Text("Max") <span data-charcount="projectdetails">0</span>/500 @Translate.Text("Characters")</p>
                        </div>
                    </div>

                    <div class="form-field form-field--select form-field--select-single">
                        <label for="form-field-materialMode" class="form-field__label">
                            @Translate.Text("Epass.Mode of material movement")
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select class="form-field__input form-field__input--select form-field__input--select-full form-field__input--select--toggle"
                                    id="form-field-materialMode"
                                    name="MaterialMode"
                                    aria-describedby="description-for-materialMode"
                                    data-parsley-errors-container="#description-for-materialMode"
                                    data-parsley-trigger="change"
                                    data-parsley-id="28">
                                <option value="1" selected="" toggle-target="#outward">@Translate.Text("Epass.Outward")</option>
                                <option value="2" toggle-target=".inward">@Translate.Text("Epass.Inward")</option>
                            </select>
                        </span>
                        <div id="description-for-materialMode" class="form-field__messages">
                        </div>
                    </div>

                    <div class="form-field inward">

                        <div class="form-field form-field--select form-field--select-single">
                            <label for="form-field-Inwardmaterialcategory" class="form-field__label">
                                @Translate.Text("Epass.Inward Material Category")
                            </label>
                            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                                <select class="form-field__input form-field__input--select form-field__input--select-full form-field__input--select--toggle"
                                        id="form-field-Inwardmaterialcategory"
                                        name="Inwardmaterialcategory"
                                        data-parsley-required-message="@Translate.Text("Epass.inwardselecterror")"
                                        aria-describedby="description-for-Inwardmaterialcategory"
                                        data-parsley-errors-container="#description-for-Inwardmaterialcategory"
                                        required="">
                                    <option value="" selected toggle-target="">@Translate.Text("Epass.Choose an option")</option>
                                    <option value="1" toggle-target=".dewa_store">@Translate.Text("Epass.DEWA Store")</option>
                                    <option value="2" toggle-target=".contractor_site">@Translate.Text("Epass.Contractor Site")</option>
                                </select>
                            </span>
                            <div id="description-for-Inwardmaterialcategory" class="form-field__messages">
                            </div>
                        </div>

                        <div class="form-field form-field--text dewa_store">
                            <label for="form-field-lponumber" class="form-field__label">
                                @Translate.Text("Epass.LPO Number")
                            </label>
                            <span class="form-field__input-wrapper">
                                <input class="form-field__input form-field__input--text"
                                       id="form-field-lponumber"
                                       name="Lponumber"
                                       type="text"
                                       placeholder="@Translate.Text("Epass.LPO Number")"
                                       aria-describedby="description-for-lponumber"
                                       data-parsley-errors-container="#description-for-lponumber"
                                       required=""
                                       data-parsley-required-message="@Translate.Text("Epass.lponumbererror")"
                                       data-parsley-trigger="focusout"
                                       data-parsley-id="4">
                            </span>
                            <div id="description-for-lponumber" class="form-field__messages">
                            </div>
                        </div>

                        <div class="form-field form-field--text dewa_store">
                            <label for="form-field-deliverynotenumber" class="form-field__label">
                                @Translate.Text("Epass.Delivery Note Number")
                            </label>
                            <span class="form-field__input-wrapper">
                                <input class="form-field__input form-field__input--text"
                                       id="form-field-deliverynotenumber"
                                       name="DeliveryNoteNumber"
                                       type="number"
                                       placeholder="@Translate.Text("Epass.Delivery Note Number")"
                                       aria-describedby="description-for-deliverynotenumber"
                                       data-parsley-errors-container="#description-for-deliverynotenumber"
                                       required=""
                                       data-parsley-required-message="@Translate.Text("Epass.deliverynoteerror")"
                                       data-parsley-trigger="focusout"
                                       data-parsley-id="4">
                            </span>
                            <div id="description-for-deliverynotenumber" class="form-field__messages">
                            </div>
                        </div>


                        <div class="form-field form-field--upload dewa_store">
                            <div class="form-field__input-wrapper">
                                <div class="form-field__preview-wrapper">
                                    <img src="/images/preview@2x.png"
                                         data-src="/images/preview@2x.png"
                                         class="form-field__preview"
                                         aria-hidden="true"
                                         role="presentation"
                                         alt=""
                                         data-uploader-image="LPOAttachment">
                                </div>
                                <div class="form-field__uploader-details">
                                    <label for="form-field-LPOAttachment" class="form-field__label">
                                        @Translate.Text("epass.Lpoattachment")
                                        <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                                    </label>
                                    <div>
                                        <label>
                                            @Html.TextBoxFor(m => m.LPOAttachment,
                                        new
                                        {
                                            @type = "file",
                                            @class = "form-field__input form-field__input--upload",
                                            @id = "form-field-LPOAttachment",
                                            @name = "LPOAttachment",
                                            @aria_describedby = "description-for-LPOAttachment",
                                            @data_parsley_error_message = @Translate.Text("Please select a file"),
                                            @data_parsley_required_message = @Translate.Text("Epass.LPOAttachmentrequiredmessage"),
                                            @data_parsley_errors_container = "#errors-for-LPOAttachment",
                                            @data_uploader_field = "LPOAttachment",
                                            @data_accepts = "\"jpg\",\"bmp\",\"gif\",\"png\",\"jpeg\",\"pdf\"",
                                            @accept = "image/png,image/x-png,image/jpeg,image/jpg,image/bmp,image/gif,application/pdf",
                                            @data_size = @AttachmentValidation.maximumFileSize,
                                            @data_parsley_id = "16"
                                        })

                                            <span class="button button--primary  button--small focus-enabled">@Translate.Text("Choose")</span>
                                        </label>
                                    </div>
                                    <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("Epass.Uploadformat")</p>
                                    <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("Epass.Uploadfilesize")</p>
                                    <p class="form-field__input--upload-filename" data-uploader-filename="LPOAttachment"></p>
                                    <p>
                                        <button class="button button--text button--remove hidden" data-uploader-remove="LPOAttachment">@Translate.Text("Remove")</button>
                                    </p>
                                </div>
                            </div>
                            <div id="description-for-LPOAttachment" class="form-field__messages">
                                <div id="errors-for-LPOAttachment">
                                    @Html.ValidationMessageFor(x => x.LPOAttachment, "", new { @class = "parsley-errors-list" })
                                </div>
                                <p class="form-field__description">@Translate.Text("Epass.Indoc")</p>
                            </div>
                        </div>

                        <div class="form-field form-field--upload dewa_store">
                            <div class="form-field__input-wrapper">
                                <div class="form-field__preview-wrapper">
                                    <img src="/images/preview@2x.png"
                                         data-src="/images/preview@2x.png"
                                         class="form-field__preview"
                                         aria-hidden="true"
                                         role="presentation"
                                         alt=""
                                         data-uploader-image="DeliveryNoteattachment">
                                </div>
                                <div class="form-field__uploader-details">
                                    <label for="form-field-DeliveryNoteattachment" class="form-field__label">
                                        @Translate.Text("epass.DeliveryNoteattachment")
                                        <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                                    </label>
                                    <div>
                                        <label>
                                            @Html.TextBoxFor(m => m.DeliveryNoteattachment,
                                        new
                                        {
                                            @type = "file",
                                            @class = "form-field__input form-field__input--upload",
                                            @id = "form-field-DeliveryNoteattachment",
                                            @name = "DeliveryNoteattachment",
                                            @aria_describedby = "description-for-DeliveryNoteattachment",
                                            @data_parsley_error_message = @Translate.Text("Please select a file"),
                                            @data_parsley_required_message = @Translate.Text("Epass.DeliveryNoteattachmentrequiredmessage"),
                                            @data_parsley_errors_container = "#errors-for-DeliveryNoteattachment",
                                            @data_uploader_field = "DeliveryNoteattachment",
                                            @data_accepts = "\"jpg\",\"bmp\",\"gif\",\"png\",\"jpeg\",\"pdf\"",
                                            @accept = "image/png,image/x-png,image/jpeg,image/jpg,image/bmp,image/gif,application/pdf",
                                            @data_size = @AttachmentValidation.maximumFileSize,
                                            @data_parsley_id = "16"
                                        })

                                            <span class="button button--primary  button--small focus-enabled">@Translate.Text("Choose")</span>
                                        </label>
                                    </div>
                                    <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("Epass.Uploadformat")</p>
                                    <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("Epass.Uploadfilesize")</p>
                                    <p class="form-field__input--upload-filename" data-uploader-filename="DeliveryNoteattachment"></p>
                                    <p>
                                        <button class="button button--text button--remove hidden" data-uploader-remove="DeliveryNoteattachment">@Translate.Text("Remove")</button>
                                    </p>
                                </div>
                            </div>
                            <div id="description-for-DeliveryNoteattachment" class="form-field__messages">
                                <div id="errors-for-DeliveryNoteattachment">
                                    @Html.ValidationMessageFor(x => x.DeliveryNoteattachment, "", new { @class = "parsley-errors-list" })
                                </div>
                                <p class="form-field__description">@Translate.Text("Epass.Indoc")</p>
                            </div>
                        </div>


                        <div class="form-field form-field--select form-field--select-single dewa_store">
                            <label for="form-field-storelocation" class="form-field__label">
                                @Translate.Text("Epass.Store Location")
                            </label>
                            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                                <select class="form-field__input form-field__input--select form-field__input--select-full"
                                        id="form-field-storelocation"
                                        name="Storelocation"
                                        aria-describedby="description-for-storelocation"
                                        data-parsley-errors-container="#description-for-storelocation"
                                        data-parsley-required-message="@Translate.Text("Epass.storelocationerror")" ,
                                        required="">
                                    <option value="" selected>@Translate.Text("Epass.storelocationerror")</option>
                                    @foreach (var item in DEWAStoreLocation)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </span>
                            <div id="description-for-storelocation" class="form-field__messages">
                            </div>
                        </div>


                        <div class="form-field form-field--upload contractor_site">
                            <div class="form-field__input-wrapper">
                                <div class="form-field__preview-wrapper">
                                    <img src="/images/preview@2x.png"
                                         data-src="/images/preview@2x.png"
                                         class="form-field__preview"
                                         aria-hidden="true"
                                         role="presentation"
                                         alt=""
                                         data-uploader-image="ContractorSiteAttachment">
                                </div>
                                <div class="form-field__uploader-details">
                                    <label for="form-field-ContractorSiteAttachment" class="form-field__label">
                                        @Translate.Text("epass.ContractorSiteAttachment")
                                        <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                                    </label>
                                    <div>
                                        <label>
                                            @Html.TextBoxFor(m => m.ContractorSiteAttachment,
                                        new
                                        {
                                            @type = "file",
                                            @class = "form-field__input form-field__input--upload",
                                            @id = "form-field-ContractorSiteAttachment",
                                            @name = "ContractorSiteAttachment",
                                            @aria_describedby = "description-for-ContractorSiteAttachment",
                                            @data_parsley_error_message = @Translate.Text("Please select a file"),
                                            @data_parsley_required_message = @Translate.Text("Epass.ContractorSiteAttachmentrequiredmessage"),
                                            @data_parsley_errors_container = "#errors-for-ContractorSiteAttachment",
                                            @data_uploader_field = "ContractorSiteAttachment",
                                            @data_accepts = "\"jpg\",\"bmp\",\"gif\",\"png\",\"jpeg\",\"pdf\"",
                                            @accept = "image/png,image/x-png,image/jpeg,image/jpg,image/bmp,image/gif,application/pdf",
                                            @data_size = @AttachmentValidation.maximumFileSize,
                                            @data_parsley_id = "16"
                                        })

                                            <span class="button button--primary  button--small focus-enabled">@Translate.Text("Choose")</span>
                                        </label>
                                    </div>
                                    <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("Epass.Uploadformat")</p>
                                    <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("Epass.Uploadfilesize")</p>
                                    <p class="form-field__input--upload-filename" data-uploader-filename="ContractorSiteAttachment"></p>
                                    <p>
                                        <button class="button button--text button--remove hidden" data-uploader-remove="ContractorSiteAttachment">@Translate.Text("Remove")</button>
                                    </p>
                                </div>
                            </div>
                            <div id="description-for-ContractorSiteAttachment" class="form-field__messages">
                                <div id="errors-for-ContractorSiteAttachment">
                                    @Html.ValidationMessageFor(x => x.ContractorSiteAttachment, "", new { @class = "parsley-errors-list" })
                                </div>
                                <p class="form-field__description">@Translate.Text("Epass.Indoc")</p>
                            </div>
                        </div>

                    </div>


                    <div id="datepicker-container-StartDate" class="form-field form-field--text relative ">
                        <label for="form-field-StartDate" class="form-field__label">
                            @Translate.Text("Epass.Startdate")
                            <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                            <input value="@Model.StartDate"
                                   class="form-field__input form-field__input--text form-field__input--datepicker-binded  form-field__input--datepicker"
                                   id="form-field-StartDate"
                                   name="StartDate"
                                   type="text"
                                   placeholder="@Translate.Text("Epass.Startdate")"
                                   aria-describedby="description-for-StartDate"
                                   data-parsley-errors-container="#description-for-StartDate"
                                   required=""
                                   data-parsley-required-message="@Translate.Text("Epass.StartdateRequired")"
                                   data-el="datepicker-future"
                                   data-parsley-trigger="focusout"
                                   data-parsley-id="46"
                                   data-bindingID="passbinding"
                                   aria-haspopup="true"
                                   aria-expanded="false"
                                   aria-readonly="false"
                                   data-el-to=".enddate"
                                   data-el-to_min="0"
                                   data-el-to_max="365"
                                   data-picker-options='{&quot;selectMonths&quot;: true , &quot;selectYears&quot;: 36 , &quot;format&quot;: &quot;yyyy/mm/dd&quot; , &quot;max&quot;: [@nowoneyear.Year,@nowoneyear.Month,@nowoneyear.Day] }' />
                        </span>
                        <div id="description-for-StartDate" class="form-field__messages">
                        </div>
                    </div>


                    <div id="datepicker-container-EndDate" class="form-field form-field--text relative ">
                        <label for="form-field-EndDate" class="form-field__label">
                            @Translate.Text("Epass.Enddate")
                            <span class="form-field__label-required aria-only">@Translate.Text("Epass.Required")</span>
                        </label>
                        <span class="form-field__input-wrapper form-field__input-wrapper--datepicker">
                            <input value="@Model.EndDate"
                                   class="form-field__input form-field__input--text enddate  form-field__input--datepicker"
                                   id="form-field-EndDate"
                                   name="EndDate"
                                   type="text"
                                   placeholder="@Translate.Text("Epass.Enddate")"
                                   aria-describedby="description-for-EndDate"
                                   data-parsley-errors-container="#description-for-EndDate"
                                   required=""
                                   data-parsley-required-message="@Translate.Text("Epass.EnddateRequired")"
                                   data-el="datepicker-future"
                                   data-parsley-trigger="focusout"
                                   data-parsley-id="46"
                                   readonly=""
                                   data-bindingID="passbinding"
                                   aria-haspopup="true"
                                   aria-expanded="false"
                                   aria-readonly="false"
                                   data-picker-options='{&quot;selectMonths&quot;: true , &quot;selectYears&quot;: 36 , &quot;format&quot;: &quot;yyyy/mm/dd&quot; , &quot;max&quot;: [@nowoneyear.Year,@nowoneyear.Month,@nowoneyear.Day] }' />
                        </span>
                        <div id="description-for-EndDate" class="form-field__messages">
                        </div>
                    </div>


                    <div class="form-field j112-material--header">
                        <div class="j112-material--title">
                            @Translate.Text("Epass.Material Information")
                        </div>
                        <div role="button" class="button button--very_small button--greenoutline j112-material--trigger" tabindex="0">
                            @Translate.Text("Epass.Add materials")
                        </div>
                    </div>
                    <div class="j112-material--placeholder">
                        @Translate.Text("Epass.No Entry Available")
                    </div>
                    <div class="errormessage hidden red">@Translate.Text("Add atleast 1 material")</div>
                </div>

                <div class="j113-epass grid__column grid__column--12">
                    <table class="j113-epass--table j112-material-table">
                        <thead class="j113-epass--table_header">
                            <tr>
                                <th class="j113-epass--table_cell">@Translate.Text("Epass.Serialno")</th>
                                <th class="j113-epass--table_cell">@Translate.Text("Epass.Material")</th>
                                <th class="j113-epass--table_cell">@Translate.Text("Epass.Description")</th>
                                <th class="j113-epass--table_cell">@Translate.Text("Epass.Quantity")</th>
                                <th class="j113-epass--table_cell">@Translate.Text("Epass.Action")</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <div class="j112-material-tableMobile">

                    </div>

                    <div class="mt12 red j112-material-pass--limit hidden">
                        @Translate.Text("Epass.Maximum material count 5 exceeded")
                    </div>

                    <div class="form-field__button">
                        <button class="button button--primary">@Translate.Text("Epass.Submit")</button>
                    </div>
                </div>
            }
            <div class="m39-modal m39-modal--new m39-modal--form" data-component="m39-modal" id="modal_true">
                <button data-trigger="true" class="m39-modal__trigger hidden"></button>
                <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="false">
                    <div class="m39-modal__dialog">
                        <div class="m39-modal__header">
                            <div class="m39-modal__title">@Translate.Text("Epass.Add Materials")</div>
                            <a data-close="true" class="m39-modal__button--close">@Translate.Text("Epass.Close")</a>
                            <div class="m39-modal__subtitle">@Translate.Text("Epass.Passnumber")</div>
                        </div>
                        <div class="m39-modal__content" data-form="true">
                            <div class="form-field form-field--text  ">
                                <label for="form-field-5srwega8aj" class="form-field__label">
                                    @Translate.Text("Epass.Material Name")
                                </label>
                                <span class="form-field__input-wrapper">
                                    <input class="form-field__input form-field__input--text" id="form-field-5srwega8aj"
                                           name="material-name" type="text" placeholder="@Translate.Text("Epass.Material Name")"
                                           aria-describedby="description-for-5srwega8aj"
                                           data-parsley-errors-container="#description-for-5srwega8aj"
                                           required="" data-parsley-required-message="@Translate.Text("Epass.Materialnameerror")" data-parsley-trigger="focusout" data-parsley-id="4">
                                </span>
                                <div id="description-for-5srwega8aj" class="form-field__messages">
                                </div>
                            </div>
                            <div class="form-field form-field--text form-field--textarea">
                                <label for="form-field-yr73463gei" class="form-field__label">
                                    @Translate.Text("Epass.Material Description")
                                </label>
                                <span class="form-field__input-wrapper">
                                    <textarea class="form-field__input form-field__input--text form-field__input--textarea" maxlength="500"
                                              data-textarea="yr73463gei" id="form-field-yr73463gei"
                                              name="material-desc" type="textarea" placeholder="@Translate.Text("Epass.Material Description")"
                                              aria-describedby="description-for-yr73463gei" data-parsley-errors-container="#description-for-yr73463gei"
                                              required="" data-parsley-required-message="@Translate.Text("Epass.Materialdescerror")" data-parsley-id="22"></textarea>
                                </span>
                                <div id="description-for-yr73463gei" class="form-field__messages">
                                </div>
                            </div>
                            <div class="form-field form-field--either">
                                <div class="form-field form-field--text">
                                    <label for="form-field-ustha73h" class="form-field__label">
                                        @Translate.Text("Epass.Quantity")
                                    </label>
                                    <span class="form-field__input-wrapper">
                                        <input class="form-field__input form-field__input--text" id="form-field-ustha73h" name="material-quantity" type="text"
                                               placeholder="@Translate.Text("Epass.Quantity")" aria-describedby="description-for-ustha73h"
                                               data-parsley-errors-container="#description-for-ustha73h"
                                               data-parsley-required-message="@Translate.Text("Epass.Quanityerror")" data-parsley-trigger="focusout" data-parsley-id="4" data-parsley-maxnumber="6">
                                    </span>
                                    <div id="description-for-ustha73h" class="form-field__messages">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m39-modal__footer">
                            <button class="button button--primary j112-material-tableUpdate">@Translate.Text("Epass.Done")</button>
                        </div>
                    </div>
                </div>
                <div class="m39-modal__overlay"> </div>
            </div>
        </div>

    </div>
</div>
<script src="~/Scripts/External/nml/form-submit-validate.js"></script>
<script type="text/javascript">
    docReady(function () {
        require(['parsley'], function () {
            jQuery("#materialinoutform").submit(function (e) {
                e.preventDefault();
                //appending json for managing data.
                var arrayitems = CreateJsonFromTable();
                if (arrayitems.length > 0) {
                    jQuery(".errormessage").hide();
                    $("#MaterialInformation").val(JSON.stringify(arrayitems));

                    var isValid = jQuery(this).parsley().isValid();
                    if (isValid) {
                        $(this).submit();
                    }
                }
                jQuery(".errormessage").show();
                //return isValid;
                return false;
            });
        });

    });
    function CreateJsonFromTable() {
        var arrayList = [];
        $.each($(".j113-epass--table_row"), function (i, tr) {

            if ($(tr).find(".j113-epass--table_cell").length > 0) {
                var row = {};
                row.MaterialName = $(this).find('.j113-epass--table_cell[data-material]').html();
                row.SerialNo = $(this).find('.j113-epass--table_cell[data-serial]').html();
                row.Description = $(this).find('.j113-epass--table_cell[data-description]').html();
                row.Quantity = $(this).find('.j113-epass--table_cell[data-quantity]').html();
                arrayList.push(row);
            }
        });
        return arrayList;
    }


</script>