@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
<div class="grid__row">
    <div class="grid__column grid__column--12">


        <div class="m17-sectiontitle " data-component="m17-sectiontitle">
            <h3 class="m17-sectiontitle__title  text__section-title">@Translate.Text("Epass.QuickSer")</h3>
            <a class="m17-sectiontitle__cta button button--outline button--next" href="epass-services">@Translate.Text("Epass.Showall") </a>
        </div>

    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--3">
        <a href="/en/customer/my-account/bills-and-payments/view-and-pay-bill" target="" data-target="Custom" title="" class="m6-teaser teaser__link">
            <div class="m6-teaser__content icon icon-new-bill">
                <h2 class="m6-teaser__title">
                    @Translate.Text("Epass.Permanentpass")
                </h2>
                <p class="m6-teaser__text teaser__copy">@Translate.Text("Epass.ApplyPermanent")</p>
            </div>
        </a>
    </div>
    <div class="grid__column grid__column--3">
        <a href="/en/customer/services/payment-services/easy-pay" target="" data-target="" title="" class="m6-teaser teaser__link">
            <div class="m6-teaser__content icon icon-new-easypay">
                <h2 class="m6-teaser__title">
                    @Translate.Text("Epass.Temporarypass")
                </h2>
                <p class="m6-teaser__text teaser__copy">@Translate.Text("Epass.ApplyPermanent")</p>
            </div>
        </a>
    </div>
    <div class="grid__column grid__column--3">
        <a href="/en/customer/my-account/bills-and-payments/pay-for-a-friend" target="" data-target="Active Browser" title="" class="m6-teaser teaser__link">
            <div class="m6-teaser__content icon icon-new-pay-friend">
                <h2 class="m6-teaser__title">
                    @Translate.Text("Epass.Vehiclepass")
                </h2>
                <p class="m6-teaser__text teaser__copy">@Translate.Text("Epass.ApplyPermanent")</p>
            </div>
        </a>
    </div>
    <div class="grid__column grid__column--3">
        <a href="/en/customer/services/payment-services/bill-enquiry" target="" data-target="Custom" title="" class="m6-teaser teaser__link">
            <div class="m6-teaser__content icon icon-new-bill-enquiry">
                <h2 class="m6-teaser__title">
                    @Translate.Text("Epass.InOutword")
                </h2>
                <p class="m6-teaser__text teaser__copy">@Translate.Text("Epass.ApplyPermanent")</p>
            </div>
        </a>
    </div>
</div>
