@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        <div class="m4-login" data-component="m4-login">
            <div class="m4-login_title">
                @Translate.Text("Epass.welcometodewa")
            </div>
            <div class="m4-login_subtitle">
                @Translate.Text("Epass.logindescription")
            </div>

            <div class="m4-login_card-wrapper">
                <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EPASS_SUPPLIERSELECTIONPAGE)" class="m4-login_card active">
                    <div class="icon icon-supplier"></div>
                    <div class="m4-login_card-title">
                        @Translate.Text("Epass.loginsupplier")
                    </div>
                </a>
                @*<a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.EPASS_VISITORLANDINGPAGE)" class="m4-login_card">
                    <div class="icon icon-visitor"></div>
                    <div class="m4-login_card-title">
                        @Translate.Text("Epass.loginvisitor")
                    </div>
                </a>*@
            </div>
            @*<div class="centered mt56">
                    <button class="button button--primary button--next m4-login--next">
                        @Translate.Text("Next")
                    </button>
                </div>*@
        </div>
    </div>
</div> 