@using System.Globalization
@using Sitecore.Globalization
@using DEWAXP.Feature.CommonComponents.Helpers
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <div class="m35-filter">
            <div class="m35-filter__label">
                @Translate.Text("newslisting.sort")
            </div>
            <div class="m35-filter__column--stick">
                <div class="m35-filter__column--left">
                    <label for="form-field-months" class="form-field__label">
                        <span class="aria-only">@Translate.Text("month")</span>
                    </label>
                    <div class="form-field form-field--select form-field--select-single">
                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select class="form-field__input form-field__input--select form-field__input--select-full form-filter"
                                    id="form-field-months"
                                    name="month"
                                    aria-describedby="description-for-months"
                                    data-parsley-errors-container="#description-for-months"
                                    title="@Translate.Text("newslisting.allmonths")">
                                <option value="" selected="">@Translate.Text("newslisting.allmonths")</option>
                                @foreach (var item in NewsHelper.GetMonthsList())
                                {
                                    <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                                }
                            </select>
                        </span>
                        <div id="description-for-months" class="form-field__messages"></div>
                    </div>
                </div>
                <div class="m35-filter__column--right">
                    <label for="form-field-years" class="form-field__label">
                        <span class="aria-only">@Translate.Text("years")</span>
                    </label>
                    <div class="form-field form-field--select form-field--select-single">
                        <span class="form-field__input-wrapper form-field__input-wrapper--select">
                            <select class="form-field__input form-field__input--select form-field__input--select-full form-filter" id="form-field-years" name="year" aria-describedby="description-for-years" data-parsley-errors-container="#description-for-" title="@Translate.Text("newslisting.allyears")">
                                <option value="" selected>@Translate.Text("newslisting.allyears")</option>
                                @for (var i = DateTime.UtcNow.Year; i >= 2008; i--)
                                {
                                    if (i == @DateTime.UtcNow.Year)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </span>
                        <div id="description-for-years" class="form-field__messages"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
