@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc

<div class="grid">
    @Html.Sitecore().Placeholder("j26/m26-page-title")
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title icon--success" style="font-size:1.5em;">
                    @Translate.Text("Authentication Successful")
                </div>
                <div class="m40-status-message__text">
                    <p>@Translate.Text("Login Successful for Rammas")</p>
                    <p>@Translate.Text("Rammas Magic Number") </p>
                    <p style="font-size:1.5em;font-weight:bold">@Session["MagicNumber"]</p>
                </div>
            </div>
        </div>

    </div>
</div>



