@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using DEWAXP.Foundation.Helpers;
@model DEWAXP.Foundation.Content.Models.RammasLogin.RammasExportChat
<div class="box box--7">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m55-rammas" data-labels='{"FL":"","SL":"@Translate.Text("rammas.SL")","TL":"@Translate.Text("rammas.TL")","src":"/images/rammas_icon.png"}' data-component="m55-rammas" data-title="@Translate.Text("Rammas")">
                    <div class="wc-message-wrapper list hide m55-rammas--loading">
                        <div class="wc-message wc-message-from-bot">
                            <div class="wc-message-content">
                                <svg class="wc-message-callout">
                                    <path class="point-left" d="m0,6 l6 6 v-12 z"></path>
                                    <path class="point-right" d="m6,6 l-6 6 v-12 z"></path>
                                </svg>
                                <div>
                                    <div class="format-markdown">
                                        <img class="m55-rammas--loading-icon" alt="" src="../../images/rammas_loading.gif">
                                    </div>
                                    <!-- react-empty: 101 -->
                                </div>
                            </div>
                        </div>
                        <div class="wc-message-from wc-message-from-bot"><span><!-- react-text: 104 -->RammasBotP2_UAT<!-- /react-text --></span></div>
                    </div>

                    <div id="BotChatGoesHere"></div>
                    <input type="text" name="cid" id="cid" />
                    <script src="~/Content/botchat.js?v=0.1"></script>
                    <script>
                        const botconnection = new BotChat.DirectLine({ secret: '@Translate.Text("Rammas Secret ID")' });
                        BotChat.App({
                            botConnection: botconnection,
                            //directLine: { secret: '@Translate.Text("Rammas Secret ID")' },
                            user: { id: '@Translate.Text("Rammas User ID")' },
                            bot: { id: '@Translate.Text("Rammas Bot")' },
                            resize: 'detect'
                        }, document.getElementById("BotChatGoesHere"));

                        botconnection.postActivity({ type: 'message', text: '@Translate.Text("Rammas Hi")', from: { id: '@Translate.Text("Rammas User ID")' } }).subscribe();
                    </script>
                    <div class="m39-modal m39-modal--new m55-rammas--shareModal m39-modal--nofocus" data-component="m39-modal" id="modal_true">
                        <button data-trigger="true" class="m39-modal__trigger"></button>
                        <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="false">
                            <div class="m39-modal__dialog">
                                <div class="j105-drrg">
                                    <div class="m66-preloader j105-drrg--loader fromloader" id="ldrmsg" style="display:none;">
                                        <div class="grid">
                                            <div class="grid__row">
                                                <div class="grid__column grid__column--12">
                                                    <h2 class="text__section-subtitle">@Translate.Text("Rammas Please Wait")</h2>
                                                    <div class="loader"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="m39-modal__header">
                                    <div class="m55-rammas--disclaimer_prev icon-new-arrow-right"></div>
                                    <div class="m39-modal__title">@Translate.Text("Rammas Export Chat")</div>
                                    <a data-close="true" class="m39-modal__button--close"></a>
                                </div>
                                <div class="m39-modal__content msgcontent" style="overflow:auto !important;display: none">
                                    <div class="m40v2-status-message m40v2-status-message--success icon icon-new-success-message hidden msgcontent" id="message" data-component="m40v2-status-message">
                                        <div class="m40v2-status-message__title" id="message-text" data-errormsg="@Translate.Text("Rammas Error")" data-successmsg="@Translate.Text("Rammas Success Message")"></div>
                                    </div>
                                </div>
                                <form action="POST" class="form rammasExportChat" data-parsley-focus="true" data-form="true">

                                    @Html.AntiForgeryToken()

                                    <div class="m39-modal__content" style="overflow:auto !important">
                                        <div class="m55-rammas--disclaimer_content m55-rammas--disclaimer_contentactive">


                                            <fieldset class="fieldset">
                                                <legend class="legend-color">.</legend>
                                                <div class="form-field form-field--text ">
                                                    <label for="form-field-EmailAddress" class="form-field__label">
                                                        @Translate.Text("Rammas Email Label")
                                                    </label>
                                                    <span class="form-field__input-wrapper">
                                                        @Html.TextBoxFor(x => x.EmailAddress,
                            new
                            {
                                @class = "form-field__input form-field__input--text",
                                @id = "form-field-EmailAddress",
                                @placeholder = @Translate.Text("Rammas Email Placeholder"),
                                @required = "required",
                                @data_parsley_error_message = Translate.Text("Rammas Enter Valid Email Address"),
                                @data_parsley_required_message=Translate.Text("Rammas Field Required"),
                                @data_parsley_errors_container = "#description-for-EmailAddress",
                                @aria_describedby = "description-for-EmailAddress",
                                @type = "email",
                                @autocomplete = "off"
                            })

                                                    </span>
                                                    <div id="description-for-EmailAddress" class="form-field__messages">
                                                        @Html.ValidationMessageFor(x => x.EmailAddress, "", new { @class = "parsley-errors-list" })
                                                    </div>
                                                </div>

                                                <div class="form-field form-field--text ">
                                                    <label for="form-field-Subject" class="form-field__label">
                                                        @Translate.Text("Rammas Email Subject")
                                                    </label>
                                                    <span class="form-field__input-wrapper">
                                                        @Html.TextBoxFor(x => x.Subject,
                            new
                            {
                                @class = "form-field__input form-field__input--text",
                                @id = "form-field-Subject",
                                @placeholder = @Translate.Text("Rammas Email Subject Placeholder"),
                                @required = "required",
                                @data_parsley_maxlength = "100",
                                @maxlength = "100",
                                @data_parsley_required_message = Translate.Text("Rammas Field Required"),
                                @data_parsley_error_message = Translate.Text("Rammas Subject Validation Error Message"),
                                @data_parsley_errors_container = "#description-for-Subject",
                                @aria_describedby = "description-for-Subject"
                            })

                                                    </span>
                                                    <div id="description-for-Subject" class="form-field__messages">
                                                        @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "parsley-errors-list" })
                                                    </div>
                                                </div>

                                                @Html.TextAreaFor(x => x.Chat, new { @class = "hidden m55-rammas--share-html_container", id = "form-field-Chat" })


                                            </fieldset>

                                            <div class="m55-rammas--shareModal_clone">

                                            </div>

                                            <div id="description-for-recaptcha" class="form-field__messages form-field__messages-recaptcha centered"><ul class="parsley-errors-list filled" id="parsley-id-6"><li class="parsley-custom-error-message">@Translate.Text("Rammas Captcha Error")</li></ul></div>

                                            <div class="recaptcha_check" data-checked="false"></div>
                                            <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="@ReCaptchaHelper.RecaptchaSiteKey()"></div>
                                        </div>
                                        <div class="m55-rammas--disclaimer_content">
                                            <div class="m14-richtext">
                                                <h4>@Translate.Text("Rammas Disclaimer Heading")</h4>
                                            </div>
                                            <div class="m55-rammas--disclaimer_text" style="margin-top:8px;">
                                                @Html.Raw(Translate.Text("Rammas Disclaimer Text"))

                                            </div>
                                            <div class="form-field form-field--toggles mt24">
                                                <div class="form-field__checkbox">
                                                    <label>
                                                        <input class="form-field__input form-field__input--checkbox" id="form-field-checkbox_1_1" aria-label="form-field-checkbox_1_1"  name="checkbox_1_1" type="checkbox" value="1" aria-describedby="description-for-d6fapsvnv" data-parsley-errors-container="#description-for-d6fapsvnv" data-parsley-multiple="checkbox_1_1" data-parsley-id="45" required="" data-parsley-error-message="@Translate.Text("Rammas Agree Validation Error Message")">
                                                        <span class="form-field__fakecheckbox focus-enabled">
                                                            <strong>
                                                                @Html.Raw(Translate.Text("Rammas Agreement Text"))
                                                            </strong>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div id="description-for-d6fapsvnv" class="form-field__messages">
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="m39-modal__footer">
                                        <div class="button button--primary button--next m55-rammas--disclaimer_next">
                                            @Translate.Text("Next")
                                        </div>
                                        <button class="button button--primary hidden" type="submit" id="ExportSubmit" data-modal-confirm="true" data-submission-text="@Translate.Text("Rammas Sending Chat")...">@Translate.Text("Rammas Send Chat")</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="m39-modal__overlay"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="m55-rammas--input-bg">
        <div class="m55-rammas--controls">-->
            @*<div class="m55-rammas--mute icon-unmute" data-alt="@Translate.Text("Rammas Toggle Mute")"></div>*@
            @*<div class="m55-rammas--share icon-export" data-alt="@Translate.Text("Rammas Share")"></div>*@
        <!--</div>-->
        @*<div class="m55-rammas--input-bg--wrapper">
                <div class="m55-rammas--close-button icon-cancel">@Translate.Text("Close")</div>
            </div>*@
    <!--</div>-->

    <div class="rammas_disclaimer hidden">
        <h3>@Html.Raw(Translate.Text("Rammas Disclaimer Header"))</h3>
        @*@Html.Raw(Translate.Text("Rammas Disclaimer"))*@
        @Html.Raw(Translate.Text("Rammas Disclaimer Text"))
    </div>

</div>
<style type="text/css">
    .g-recaptcha div {
        margin: auto;
        padding-top: 15px;
    }
</style>
<script type="text/javascript" src="~/Scripts/External/nml/form-submit-validate.js"></script>
<script type="text/javascript">
    var form = ".rammasExportChat";
    var root_id = "#modal_true";

    function recaptchaCallback() {
        jQuery("#description-for-recaptcha").hide();
        if (grecaptcha && grecaptcha.getResponse().length == 0) {
            jQuery("#description-for-recaptcha").show();
            jQuery(".recaptcha_check").attr("data-checked", "false");
            return false;
        } else {
            jQuery(".recaptcha_check").attr("data-checked", "true");
            return true;
        }

    };

    $(function () {

        $(".m55-rammas--welcome_icon").click();

        require(['parsley'], function () {

            function validateSRForm() {
                var isValid = true;
                jQuery(form).find('.form, input, select, textarea').each(function (i, o) {
                    if (isValid) {
                        isValid = jQuery(o).parsley().isValid();
                        jQuery(o).trigger('focusout');
                        if (jQuery(o).prop("type") != "file") {
                            jQuery(o).trigger('change');
                        }

                    }
                });
                return isValid;
            }
            var _postUrl = '@Url.Content("~/api/sitecore/Rammas/ChatEmail")';
            var msgContainer = jQuery("#message");
            var msgText = jQuery("#message-text");
            var msgcontent = jQuery(".msgcontent");
            var rammasExportChat = jQuery(".rammasExportChat");
            var _EmailAddress = $("#form-field-EmailAddress");
            var _Subject = $("#form-field-Subject");
            var _Chat = $("#form-field-Chat");
            //var _EmailAddress = $("#form-field-EmailAddress");

            /*
              data: postData, beforeSend: function (jqXHR) {
                xhrPool.push(jqXHR);
                window.attachSpinner(root_id, { bgColor: '#000', opacity: 0.3, minHeight: 250, zIndex:1000});
            },
            complete: function () {
                window.detachSpinner(root_id);
            }
             */
            var formElement = document.getElementsByClassName("rammasExportChat");
                //We set our own custom submit function
            jQuery(".m66-preloader").removeClass("hidden");
            jQuery(form).on("submit", function (e) {
                    //Prevent the default behavior of a form
                e.preventDefault();

                var _encodeChat = encodeURIComponent(_Chat.val());
                    //Get the values from the form
                    var fd = new FormData();
                        fd.append("EmailAddress", _EmailAddress.val());
                        fd.append("Subject", _Subject.val());
                        fd.append("Chat", _encodeChat);
                    fd.append("captcha", grecaptcha.getResponse());
                    //console.log(fd);
                    //Our AJAX POST
                jQuery(".fromloader").removeClass("hidden");
                $.ajax({
                    type: "POST",
                    url: _postUrl,
                    data: fd,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        //console.log(data);
                        //console.log("OUR FORM SUBMITTED CORRECTLY");


                        msgcontent.show();
                        rammasExportChat.hide();
                        if (data.success) {
                            msgContainer.addClass("m40v2-status-message--success");
                            msgContainer.removeClass("m40v2-status-message--error");
                            msgContainer.addClass("icon-new-success-message");
                            msgContainer.removeClass("icon-new-annicon-new-announcement");
                            msgText.text(msgText.data("successmsg"));
                            _EmailAddress.val("");
                            _Subject.val("");
                        } else {
                            msgContainer.removeClass("m40v2-status-message--success");
                            msgContainer.addClass("m40v2-status-message--error");
                            msgContainer.removeClass("icon-new-success-message");
                            msgContainer.addClass("icon-new-annicon-new-announcement");
                            msgText.text(msgText.data("errormsg"));
                        }
                        jQuery("#message").removeClass("hidden");
                        //jQuery(".fromloader").hide();


                        grecaptcha.reset();
                        jQuery("#ldrmsg").delay(4000).css("display", "none");
                        //jQuery(".fromloader").delay(4000).addClass("hidden");
                        //jQuery("#ExportSubmit").attr("disabled", true);
                        //jQuery("#ldrmsg").css("display", "none");


                    },
                    complete: function () {
                    }
            })
                });



            AddCustomForgeryToken = function (data, elementId) {
                data.__RequestVerificationToken = $(elementId + ' input[name=__RequestVerificationToken]').val();
                return data;
            };

            jQuery(".m55-rammas--share").click(function () {
                rammasExportChat.show();
                msgcontent.hide();
                grecaptcha.reset();
            })

            jQuery(".m55-rammas--disclaimer_next").click(function () {
               return recaptchaCallback();
            });
        });
    });
</script>


