@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@using DEWAXP.Feature.SupplyManagement.Models.Complaints
@model ReferenceNumber

<div class="grid">
    @Html.Sitecore().Placeholder("j22/m26-page-title")
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title icon--success">
                    @Translate.Text("Submission Successful")
                </div>
                <div class="m40-status-message__text">
                    <p>@Translate.Text("Your complaint has been logged successfully")</p>
                    <p>
                        @Translate.Text("Your complaint number is"):
                        @if (string.IsNullOrEmpty(Model.Value))
                        {
                            <strong>N/A</strong>
                        }

                        else
                        {
                            <strong>@Model.Value</strong>
                        }
                    </p>
                </div>
                <p><button class="button button--text button--printer noprint" data-print="page">@Translate.Text("Print this page")</button></p>
            </div>
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--centered">
            <a class="button button--primary button--next" href="@LinkHelper.GetItemUrl(Model.CtaUrl)" role="button" aria-label="Track your complaints">@Translate.Text(Model.CtaText)</a>
        </div>
    </div>
</div>
