@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Helpers

<div class="grid__row">
    <div class="grid__column grid__column--12 ">
        <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
            <div class="m40-status-message__title icon--success">@Translate.Text("Submission Successful")</div>

            <div class="m40-status-message__text">@Translate.Text("Your reference is"): @ViewBag.Code</div>


            <p><button data-print="page" class="button button--text button--printer noprint">@Translate.Text("Print this page")</button></p>

        </div>
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
        <h2 class="text__section-title">@Translate.Text("WhatNext")</h2>
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form grid__column--centered">
        <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)" class="button button--primary" aria-label="@Translate.Text("Dashboard")" role="button">@Translate.Text("Dashboard")</a>
    </div>
</div>