@using Sitecore.Mvc
@using System.Web.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@using DEWAXP.Foundation.Helpers
@model DEWAXP.Feature.Events.Models.EnergyAudit.EnergyAuditViewModel

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Sitecore().Placeholder("step-tracker")
    </div>
</div>

@Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">

        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form", data_form = "true" }))
        {
            @Html.Sitecore().FormHandler()
            @Html.AntiForgeryToken()

            <fieldset class="fieldset">
                <legend class="legend">@Translate.Text("J85.BuildingInfo")</legend>

                <div class="form-field form-field--text ">
                    <label class="form-field__label" for="form-field-ca-number">
                        @Translate.Text(DictionaryKeys.Global.Account.ContractAccountNumber)
                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                    </label>

                    <span class="form-field__input-wrapper">
                        <input class="form-field__input form-field__input--text"
                               id="form-field-ca-number"
                               name="InitialBuilding.ContractAccountNumber"
                               placeholder="@Translate.Text(DictionaryKeys.Global.Account.ContractAccountNumber)"
                               @*aria-required="true"*@
                               required="required"
                               data-parsley-error-message="@Translate.Text(DictionaryKeys.BuildingAudit.ContractAccountNumberValidationMessage)"
                               data-parsley-errors-container="#description-for-ca-number"
                               aria-describedby="description-for-ca-number"
                               data-parsley-id="8"
                               type="number" lang="en"
                               data-parsley-account_number="" value="@Model.InitialBuilding.ContractAccountNumber" />
                    </span>
                    <div class="form-field__messages" id="description-for-ca-number"></div>
                </div>

                <div class="form-field form-field--text ">
                    <label class="form-field__label" for="form-field-building-name">
                        @Translate.Text("J85.BuildingName")
                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                    </label>

                    <span class="form-field__input-wrapper">
                        <input type="text"
                               class="form-field__input form-field__input--text"
                               id="form-field-building-name"
                               name="InitialBuilding.BuildingName"
                               placeholder="@Translate.Text("Please enter a value")"
                               required="required"
                               @*aria-required="true"*@
                               aria-describedby="description-for-building-name"
                               data-parsley-errors-container="#description-for-building-name"
                               data-parsley-error-message="@Translate.Text("Please enter a value")"
                               data-parsley-trigger="focusout" value="@Model.InitialBuilding.BuildingName" />
                    </span>

                    <div class="form-field__messages" id="description-for-building-name"></div>
                </div>

                <div class="form-field form-field--text ">
                    <label class="form-field__label" for="form-field-floor-area">
                        @Translate.Text("J85.FloorArea")
                        <span class="form-field__label-optional">(@Translate.Text("optional"))</span>
                    </label>

                    <span class="form-field__input-wrapper">
                        <input type="number" lang="en"
                               class="form-field__input form-field__input--text"
                               id="form-field-floor-area"
                               name="InitialBuilding.FloorArea"
                               placeholder="@Translate.Text("Please enter a value")"
                               aria-required="false"
                               min="0"
                               max="1000000"
                               aria-describedby="description-for-floor-area"
                               data-parsley-errors-container="#description-for-floor-area"
                               data-parsley-error-message="@Translate.Text("J85.PosNumberVal")"
                               data-parsley-grossfloorarea="" value="@Model.InitialBuilding.FloorArea" />
                    </span>
                    <div class="form-field__messages" id="description-for-floor-area"></div>
                </div>


                <div class="form-field form-field--text ">
                    <label class="form-field__label" for="form-field-num-buildings">
                        @Translate.Text("J85.NumBuildings")
                        <span class="form-field__label-required aria-only">(@Translate.Text("required"))</span>
                    </label>

                    <span class="form-field__input-wrapper">
                        <input type="number" lang="en"
                               class="form-field__input form-field__input--text"
                               id="form-field-num-buildings"
                               name="InitialBuilding.NumberOfBuildingsToBeAudited"
                               placeholder="@Translate.Text("J85.PosNumberVal")"
                               required="required"
                               @*aria-required="true"*@
                               aria-describedby="description-for-num-buildings"
                               min="1"
                               max="50"
                               data-input-truncate="2"
                               data-parsley-errors-container="#description-for-num-buildings"
                               data-parsley-error-message="@Translate.Text("J85.PosNumberVal")"
                               data-parsley-trigger="focusout" value="@(Model.InitialBuilding.NumberOfBuildingsToBeAudited>0?Model.InitialBuilding.NumberOfBuildingsToBeAudited:1)" />
                    </span>

                    <div class="form-field__messages" id="description-for-num-buildings">
                        <p class="form-field__description">@Translate.Text("J85.MaxBuildings")</p>
                    </div>
                </div>

            </fieldset>

            <div class="form-field__button">
                <button class="button button--primary" type="submit">@Translate.Text("J85.AddBuilding")</button>
            </div>
        }
    </div>
</div>