@using Sitecore.Globalization;
@using Sitecore.Mvc

@model DEWAXP.Feature.CommonComponents.Models.Renderings.YoutubeVideoPlaylist


<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            @Html.Sitecore().Placeholder("j15/m26-page-title")

            <!-- m47-new-video-gallery-start -->
            <div class="m47-new-video-gallery" data-component="m47-new-video-gallery" data-video='@Model.ToJson()'>
                @if (!string.IsNullOrWhiteSpace(Model.Title))
                {

                    <div class="m47-new-video-gallery__title-bar">
                        <h2 class="m47-new-video-gallery__title">@Model.Title</h2>
                    </div>
                }

                <div class="m47-new-video-gallery--main">

                    <div class="m47-new-video-gallery--player">
                        <iframe class="m47-new-video-gallery__videoplayer--inner" id="currentVideo" type="text/html" src="" title="" frameborder="0" allowfullscreen></iframe>
                    </div>

                    <div class="m47-new-video-gallery--playlistToggle icon-open">
                        @Translate.Text("YT Other Videos")
                    </div>
                    <div class="m47-new-video-gallery--playlist">
                    </div>

                    <div class="m47-new-video-gallery--playerdetails">
                        <div class="m47-new-video-gallery--playertitle">
                        </div>

                        <div class="m47-new-video-gallery--playerpub">
                            @Translate.Text("YT Published on") <span></span>
                        </div>

                        <div class="m47-new-video-gallery--playerlen">
                            <span></span>
                        </div>

                        <div class="m47-new-video-gallery--playerdesc">
                        </div>

                    </div>

                </div>

            </div>
            <!-- m47-new-video-gallery-end -->

        </div>
    </div>
</div>