@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model DEWAXP.Feature.CommonComponents.Models.Renderings.YoutubeVideoPlaylist

<div class="m9-teaser">
    <a href="@Model.VideoPlaylistPageLink" class="teaser__link">
        @if (Model.ImageLink != null)
        {
            <div class="m9-teaser-image" style="background-image: url('@Model.ImageLink')"></div>
        }
        <div class="teaser__content">
            @*@if (Model.PublishDate != null && Model.PublishDate > DateTime.MinValue)
                {
                    <h6 class="teaser__date">@Model.PublishDate.ToString("dd MMM yyyy",Sitecore.Context.Language.CultureInfo)</h6>
                }*@
            <h3 class="teaser__title">@Model.Title</h3>
            <p class="teaser__copy">@Model.Description</p>
        </div>
    </a>
</div>
	
