@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization;
@model DEWAXP.Feature.CommonComponents.Models.Renderings.VideoPlayerModalPopup

@{string altext = Translate.Text("YoutubeAltTagText");
}

@if (Model != null)
{
    <div class="m36-videoplayer--variant" data-title="@Html.Glass().Editable(Model, x => x.ModalPopupTitle)" data-iframe='@Html.Raw(Model.ModalPopupHtml)'>
        <div class="m36-videoplayer--details">
            <div class="m36-videoplayer--date">
                @(Model.VideoDate.ToString("dd MMM yyyy", Sitecore.Context.Culture))
            </div>
            <div class="m36-videoplayer--title">
                @Html.Glass().Editable(Model, x => x.VideoTitle)
            </div>
            @if (!string.IsNullOrWhiteSpace(altext))
            {
                <div class="m36-videoplayer--description">
                    @Translate.Text("YoutubeAltTagText")
                </div>
            }
            <div class="button button--primary button--fullwidth-mobile m36-videoplayer--play">
               @Translate.Text("WatchNow")
            </div>
        </div>
        @if (Model.VideoPreviewImage != null)
        {
            <div class="m36-videoplayer--image" style="background-image: url('@Model.VideoPreviewImage.Src');">
            </div>
        }
    </div>
}
