@using DEWAXP.Foundation.Helpers.Extensions
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using System.Linq
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GeneralServices.Models.VillaCostExemption.ApplicationViewModel
@{
    var Nationalities = DEWAXP.Foundation.Helpers.Extensions.FormExtensions.GetNationalities(null, false);

}

<div class="j105-drrg">
    <div class="m66-preloader j105-drrg--loader hidden">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    <h2 class="text__section-subtitle">@Translate.Text("J100.Pleasewait")</h2>
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="j153-villa-exemption" data-journey="j153-villa-exemption">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m26-page-title title_message">
                    <div class="m26-page-title__links">
                        <p class="m26-page-title__backlink">
                            <a href="@DEWAXP.Foundation.Helpers.LinkHelper.GetItemUrl(SitecoreItemIdentifiers.HH_VILLA_EDITAPPLICATION_STEP2)?n=@Model.ApplicationReferenceNumber" class="button button--text button--back">@Translate.Text("VE_Back")</a>
                        </p>
                    </div>
                    <h1 class="text__page-title">@Translate.Text("VE_New_Application_Heading")</h1>
                    @*<p class="text-page__intro"></p>*@
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <div class="m38-step-tracker" data-component="m38-step-tracker" data-total-steps="3" data-current-step="3" data-labels='{"conjunction":"@Translate.Text("of")"}' data-hasInfo="true">
                    <div class="m38-steptracker__info-wrapper"></div>
                    <div class="m38-step-tracker__progressbar" data-m38-progressbar="true" role="progressbar" aria-valuetext=""></div>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--content mt56">
                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @id = "veform", @class = "form", data_form = "true", encType = "multipart/form-data", @data_submit_validate = "enabled" }))
                {
                    @Html.Sitecore().FormHandler()
                    @Html.AntiForgeryToken()
                    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
                    @Html.HiddenFor(x => x.OwnersJson)
                    @Html.HiddenFor(x => x.Stage)
                    @Html.HiddenFor(x => x.IsSubmit)
                    @Html.HiddenFor(x => x.ApplicationNumber)
                    @Html.HiddenFor(x => x.ApplicationReferenceNumber)
                    @Html.HiddenFor(x => x.AapplicationSequenceNumber)
                    @Html.HiddenFor(x => x.EstimateNumber)
                    @Html.HiddenFor(x => x.BusinessPartner)
                    @Html.HiddenFor(x => x.OwnerType)
                    @Html.HiddenFor(x => x.Status)
                    <fieldset class="fieldset">
                        <div class="form-field form-field--text form-field--textarea">
                            <label for="form-field-3q115b55p" class="form-field__label">
                                @Translate.Text("VE_Customer_Comments")
                                <span class="form-field__label-required aria-only">(required)</span>

                            </label>

                            <span class="form-field__input-wrapper">
                                <textarea class="form-field__input form-field__input--text form-field__input--textarea"
                                          maxlength="500" data-textarea="customercomments"
                                          id="form-field-3q115b55p"
                                          name="CustomerComments"
                                          type="textarea"
                                          placeholder="@Translate.Text("VE_Your_Comments")"
                                          aria-describedby="description-for-3q115b55p"
                                          data-parsley-errors-container="#description-for-3q115b55p">@Model.CustomerComments</textarea>
                            </span>
                            <div id="description-for-3q115b55p" class="form-field__messages">
                                <p class="form-field__charcount">@Translate.Text("Max") <span data-charcount="customercomments">0</span>/500 @Translate.Text("Characters")</p>
                                <!--<p class="form-field__description">Help text appearing below field</p>-->
                            </div>
                        </div>

                        <div class="form-field__checkbox first">
                            <label for="form-field-3q115b55p" class="form-field__label mb12">
                                @Translate.Text("VE_Acknowledgement_Undertaking")
                            </label>
                            <label>
                                <input class="form-field__input form-field__input--checkbox"
                                       id="form-field-checkbox_1_1"
                                       name="checkbox_1_1"
                                       type="checkbox"
                                       value="1"
                                       required=""
                                       data-parsley-required-message="@Translate.Text("VE_RequiredMessage")"
                                       aria-describedby="description-for-1"
                                       data-parsley-errors-container="#description-for-1">

                                <span class="form-field__fakecheckbox focus-enabled">
                                    @Translate.Text("VE_Undertaking_1")
                                </span>
                            </label>
                        </div>
                        <div id="description-for-1" class="form-field__messages">
                        </div>
                        <div class="form-field__checkbox  ">
                            <label>
                                <input class="form-field__input form-field__input--checkbox"
                                       id="form-field-checkbox_1_2"
                                       name="checkbox_1_2"
                                       type="checkbox"
                                       value="2"
                                       required=""
                                       data-parsley-required-message="@Translate.Text("VE_RequiredMessage")"
                                       aria-describedby="description-for-2"
                                       data-parsley-errors-container="#description-for-2">

                                <span class="form-field__fakecheckbox focus-enabled">
                                    @Translate.Text("VE_Undertaking_2")
                                </span>
                            </label>
                        </div>
                        <div id="description-for-2" class="form-field__messages">
                        </div>
                        <div class="form-field__checkbox">
                            <label>
                                <input class="form-field__input form-field__input--checkbox"
                                       id="form-field-checkbox_1_3"
                                       name="checkbox_1_3"
                                       type="checkbox"
                                       value="3"
                                       required=""
                                       data-parsley-required-message="@Translate.Text("VE_RequiredMessage")"
                                       aria-describedby="description-for-akvklel3v"
                                       data-parsley-errors-container="#description-for-akvklel3v">

                                <span class="form-field__fakecheckbox focus-enabled">
                                    @Translate.Text("VE_Undertaking_3")
                                </span>
                            </label>

                        </div>
                        <div id="description-for-akvklel3v" class="form-field__messages">
                        </div>

                        <div class="form-field__checkbox last ">
                            <label>
                                <input class="form-field__input form-field__input--checkbox"
                                       id="form-field-checkbox_1_4"
                                       name="checkbox_1_4"
                                       type="checkbox"
                                       value="4"
                                       required=""
                                       data-parsley-required-message="@Translate.Text("VE_RequiredMessage")"
                                       aria-describedby="description-for-4"
                                       data-parsley-errors-container="#description-for-4">

                                <span class="form-field__fakecheckbox focus-enabled">
                                    @Translate.Text("VE_Undertaking_4")
                                </span>
                            </label>

                        </div>
                        <div id="description-for-4" class="form-field__messages">
                        </div>
                    </fieldset>
                    <div class="form-field__button">
                        <button type="button" class="button button--quaternary" data-submission-text="@Translate.Text("Saving")..." id="btSave">@Translate.Text("Save")</button>
                        <button type="submit" class="button button--primary" data-submission-text="@Translate.Text("Submitting")..." id="btSubmit">@Translate.Text("Submit")</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
         steptrackerwithinpage(3, 3, "@Translate.Text("VE_Step3_Title")", "true");
        /*$('#veform').on('submit', function (e) {
            //e.preventDefault();
            console.log("Form submit event occured: " + e.target);
            if (confirm("Do you want to submit?"))
                return true;
            else return false;
        });*/
        $('#btSave').on('click', function (e) {
            e.preventDefault();
            $('input[name="IsSubmit"]').val("0");
            $("#form-field-checkbox_1_1").attr('required', false);
            $("#form-field-checkbox_1_2").attr('required', false);
            $("#form-field-checkbox_1_3").attr('required', false);
            $("#form-field-checkbox_1_4").attr('required', false);
           //console.log("Form Save button clicked ");
            e.preventDefault();
            if (jQuery("#veform").parsley().validate()) {
                jQuery('.j105-drrg--loader').show();
                jQuery('.j105-drrg--loader').css('top', $(window).scrollTop());
                $('body').removeClass('unscrollable').addClass('unscrollable');
                $("#veform").submit();
                return true;
            }
            return false;
        });
        $('#btSubmit').on('click', function (e) {
            e.preventDefault();
            $('input[name="IsSubmit"]').val("1");
            $("#form-field-checkbox_1_1").attr('required', true);
            $("#form-field-checkbox_1_2").attr('required', true);
            $("#form-field-checkbox_1_3").attr('required', true);
            $("#form-field-checkbox_1_4").attr('required', true);
            //console.log("Form Submit button clicked ");
            if (jQuery("#veform").parsley().validate()) {
                jQuery('.j105-drrg--loader').show();
                jQuery('.j105-drrg--loader').css('top', $(window).scrollTop());
                $('body').removeClass('unscrollable').addClass('unscrollable');
                $("#veform").submit();
                return true;
            }
            return false;
        });
    });
</script>