@using DEWAXP.Foundation.Helpers.Extensions
@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using System.Linq
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.GeneralServices.Models.VillaCostExemption.ApplicationViewModel

<div class="j153-villa-exemption" data-journey="j153-villa-exemption">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m26-page-title title_message">
                    <div class="m26-page-title__links">
                        <p class="m26-page-title__backlink">
                            <a href="@DEWAXP.Foundation.Helpers.LinkHelper.GetItemUrl("{CD2176C7-8C63-489E-8DFC-43F6B2722FF3}")" class="button button--text button--back">Back</a>
                        </p>
                    </div>
                    <h1 class="text__page-title">@Translate.Text("VE New Application Heading")</h1>
                    <p class="text-page__intro"></p>
                </div>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <div class="m38-step-tracker" data-component="m38-step-tracker" data-total-steps="3" data-current-step="2" data-labels='{"conjunction":"@Translate.Text("of")"}' data-hasInfo="true">
                    <div class="m38-steptracker__info-wrapper"></div>
                    <div class="m38-step-tracker__progressbar" data-m38-progressbar="true" role="progressbar" aria-valuetext=""></div>
                </div>
            </div>
        </div>
        <div class="grid__row">

            <div class="grid__column grid__column--12 grid__column--form">
                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @id = "veform", @class = "form", data_form = "true", encType = "multipart/form-data", @data_submit_validate = "enabled" }))
                {
                    @Html.Sitecore().FormHandler()
                    @Html.AntiForgeryToken()
                    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
                    @Html.HiddenFor(x => x.OwnersJson)
                    @Html.HiddenFor(x => x.Stage)
                    @Html.HiddenFor(x => x.ApplicationReferenceNumber)

                    <fieldset class="fieldset ">
                        <legend class="legend">@Translate.Text("VE_Documents")</legend>
                        <label for="form-field-6ckws2kd9" class="form-field__label">
                            @Translate.Text("VE_ConstructionContractSigned")
                            <span class="form-field__label-required aria-only">@Translate.Text("VE_Required")</span>
                        </label>
                        <div class="form-field form-field--upload">
                            <div class="form-field__input-wrapper">
                                <div class="form-field__preview-wrapper">
                                    <img src="/images/preview_pdf@2x.png" data-src="/images/preview_pdf@2x.png" data-success="/images/upload_success@2x.png" class="form-field__preview tooltipstered" aria-hidden="true" role="presentation" alt="" data-uploader-image="ConstructionContractSigned">
                                </div>
                                <div class="form-field__uploader-details">
                                    <label for="form-field-ConstructionContractSigned" class="form-field__label">
                                        <span class="form-field__label-required aria-only">@Translate.Text("VE_Required")</span>
                                    </label>
                                    <div>
                                        <label>
                                            <input class="form-field__input form-field__input--upload"
                                                   id="form-field-ConstructionContractSigned"
                                                   name="Attachlist[0].ConstructionContractSigned"
                                                   type="file"
                                                   aria-describedby="description-for-ConstructionContractSigned"
                                                   data-parsley-errors-container="#description-for-ConstructionContractSigned"
                                                   required=""
                                                   data-parsley-required-message="@Translate.Text("VE_File1RequiredField")"
                                                   data-uploader-field="ConstructionContractSigned"
                                                   accept=""
                                                   data-accepts='"jpg","bmp","png","jpeg","pdf"'
                                                   data-size="15048000"
                                                   data-parsley-trigger="focusout"
                                                   data-parsley-id="16">

                                            <span class="button button--primary button--next button--small focus-enabled" data-uploader-button="upload-choose">@Translate.Text("VE_Choose")</span>
                                        </label>
                                    </div>
                                    <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("VE_UploadFormat_Error")</p>
                                    <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("VE_FileSize_Error")</p>
                                    <p class="form-field__input--upload-filename" data-uploader-filename="ConstructionContractSigned"></p>
                                    <p><button class="button button--text button--remove hidden" data-uploader-remove="ConstructionContractSigned">@Translate.Text("VE_Remove")</button></p>
                                </div>
                            </div>
                            <div id="description-for-ConstructionContractSigned" class="form-field__messages">
                                <p class="form-field__description">@Translate.Text("VE_UploadFile_Desc")</p>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="fieldset ">
                        <legend class="legend">@Translate.Text("VE_Documents")</legend>
                        <label for="form-field-ConstructionContract_02" class="form-field__label">
                            @Translate.Text("VE_Construction2")
                            <span class="form-field__label-required aria-only">@Translate.Text("VE_Required")</span>
                        </label>
                        <div class="form-field form-field--upload">
                            <div class="form-field__input-wrapper">
                                <div class="form-field__preview-wrapper">
                                    <img src="/images/preview_pdf@2x.png" data-src="/images/preview_pdf@2x.png" data-success="/images/upload_success@2x.png" class="form-field__preview tooltipstered" aria-hidden="true" role="presentation" alt="" data-uploader-image="ConstructionContract_02">
                                </div>
                                <div class="form-field__uploader-details">
                                    <label for="form-field-ConstructionContract_02" class="form-field__label">
                                        <span class="form-field__label-required aria-only">@Translate.Text("VE_Required")</span>
                                    </label>
                                    <div>
                                        <label>
                                            <input class="form-field__input form-field__input--upload"
                                                   id="form-field-ConstructionContract_02"
                                                   name="Attachlist[0].ConstructionContract_02"
                                                   type="file"
                                                   aria-describedby="description-for-ConstructionContract_02"
                                                   data-parsley-errors-container="#description-for-ConstructionContract_02"
                                                   required=""
                                                   data-parsley-required-message="@Translate.Text("VE_File1RequiredField")"
                                                   data-uploader-field="ConstructionContract_02"
                                                   accept=""
                                                   data-accepts='"jpg","bmp","png","jpeg","pdf"'
                                                   data-size="15048000"
                                                   data-parsley-trigger="focusout"
                                                   data-parsley-id="16">

                                            <span class="button button--primary button--next button--small focus-enabled" data-uploader-button="upload-choose">@Translate.Text("VE_Choose")</span>
                                        </label>
                                    </div>
                                    <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("VE_UploadFormat_Error")</p>
                                    <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("VE_FileSize_Error")</p>
                                    <p class="form-field__input--upload-filename" data-uploader-filename="ConstructionContract_02"></p>
                                    <p><button class="button button--text button--remove hidden" data-uploader-remove="ConstructionContract_02">@Translate.Text("VE_Remove")</button></p>
                                </div>
                            </div>
                            <div id="description-for-ConstructionContract_02" class="form-field__messages">
                                <p class="form-field__description">@Translate.Text("VE_UploadFile_Desc")</p>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="fieldset ">
                        <legend class="legend">@Translate.Text("VE_Documents")</legend>
                        <label for="form-field-ConstructionContract_03" class="form-field__label">
                            @Translate.Text("VE_Construction3")
                            <span class="form-field__label-required aria-only">@Translate.Text("VE_Required")</span>
                        </label>
                        <div class="form-field form-field--upload">
                            <div class="form-field__input-wrapper">
                                <div class="form-field__preview-wrapper">
                                    <img src="/images/preview_pdf@2x.png" data-src="/images/preview_pdf@2x.png" data-success="/images/upload_success@2x.png" class="form-field__preview tooltipstered" aria-hidden="true" role="presentation" alt="" data-uploader-image="ConstructionContract_03">
                                </div>
                                <div class="form-field__uploader-details">
                                    <label for="form-field-ConstructionContract_03" class="form-field__label">
                                        <span class="form-field__label-required aria-only">@Translate.Text("VE_Required")</span>
                                    </label>
                                    <div>
                                        <label>
                                            <input class="form-field__input form-field__input--upload"
                                                   id="form-field-ConstructionContract_03"
                                                   name="Attachlist[0].ConstructionContract_03"
                                                   type="file"
                                                   aria-describedby="description-for-ConstructionContract_03"
                                                   data-parsley-errors-container="#description-for-ConstructionContract_03"
                                                   required=""
                                                   data-parsley-required-message="@Translate.Text("VE_File1RequiredField")"
                                                   data-uploader-field="ConstructionContract_03"
                                                   accept=""
                                                   data-accepts='"jpg","bmp","png","jpeg","pdf"'
                                                   data-size="15048000"
                                                   data-parsley-trigger="focusout"
                                                   data-parsley-id="16">

                                            <span class="button button--primary button--next button--small focus-enabled" data-uploader-button="upload-choose">@Translate.Text("VE_Choose")</span>
                                        </label>
                                    </div>
                                    <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("VE_UploadFormat_Error")</p>
                                    <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("VE_FileSize_Error")</p>
                                    <p class="form-field__input--upload-filename" data-uploader-filename="ConstructionContract_03"></p>
                                    <p><button class="button button--text button--remove hidden" data-uploader-remove="ConstructionContract_03">@Translate.Text("VE_Remove")</button></p>
                                </div>
                            </div>
                            <div id="description-for-ConstructionContract_03" class="form-field__messages">
                                <p class="form-field__description">@Translate.Text("VE_UploadFile_Desc")</p>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="fieldset ">
                        <legend class="legend">@Translate.Text("VE_Documents")</legend>
                        <label for="form-field-ConstructionContract_04" class="form-field__label">
                            @Translate.Text("VE_Construction4")
                            <span class="form-field__label-required aria-only">@Translate.Text("VE_Required")</span>
                        </label>
                        <div class="form-field form-field--upload">
                            <div class="form-field__input-wrapper">
                                <div class="form-field__preview-wrapper">
                                    <img src="/images/preview_pdf@2x.png" data-src="/images/preview_pdf@2x.png" data-success="/images/upload_success@2x.png" class="form-field__preview tooltipstered" aria-hidden="true" role="presentation" alt="" data-uploader-image="ConstructionContract_04">
                                </div>
                                <div class="form-field__uploader-details">
                                    <label for="form-field-ConstructionContract_04" class="form-field__label">
                                        <span class="form-field__label-required aria-only">@Translate.Text("VE_Required")</span>
                                    </label>
                                    <div>
                                        <label>
                                            <input class="form-field__input form-field__input--upload"
                                                   id="form-field-ConstructionContract_04"
                                                   name="Attachlist[0].ConstructionContract_04"
                                                   type="file"
                                                   aria-describedby="description-for-ConstructionContract_04"
                                                   data-parsley-errors-container="#description-for-ConstructionContract_04"
                                                   required=""
                                                   data-parsley-required-message="@Translate.Text("VE_File1RequiredField")"
                                                   data-uploader-field="ConstructionContract_04"
                                                   accept=""
                                                   data-accepts='"jpg","bmp","png","jpeg","pdf"'
                                                   data-size="15048000"
                                                   data-parsley-trigger="focusout"
                                                   data-parsley-id="16">

                                            <span class="button button--primary button--next button--small focus-enabled" data-uploader-button="upload-choose">@Translate.Text("VE_Choose")</span>
                                        </label>
                                    </div>
                                    <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("VE_UploadFormat_Error")</p>
                                    <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("VE_FileSize_Error")</p>
                                    <p class="form-field__input--upload-filename" data-uploader-filename="ConstructionContract_04"></p>
                                    <p><button class="button button--text button--remove hidden" data-uploader-remove="ConstructionContract_04">@Translate.Text("VE_Remove")</button></p>
                                </div>
                            </div>
                            <div id="description-for-ConstructionContract_04" class="form-field__messages">
                                <p class="form-field__description">@Translate.Text("VE_UploadFile_Desc")</p>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="fieldset ">
                        <legend class="legend">@Translate.Text("VE_Documents")</legend>
                        <label for="form-field-CompletionLetter" class="form-field__label">
                            @Translate.Text("VE_CompletionLetter")
                            <span class="form-field__label-required aria-only">@Translate.Text("VE_Required")</span>
                        </label>
                        <div class="form-field form-field--upload">
                            <div class="form-field__input-wrapper">
                                <div class="form-field__preview-wrapper">
                                    <img src="/images/preview_pdf@2x.png" data-src="/images/preview_pdf@2x.png" data-success="/images/upload_success@2x.png" class="form-field__preview tooltipstered" aria-hidden="true" role="presentation" alt="" data-uploader-image="CompletionLetter">
                                </div>
                                <div class="form-field__uploader-details">
                                    <label for="form-field-CompletionLetter" class="form-field__label">
                                        <span class="form-field__label-required aria-only">@Translate.Text("VE_Required")</span>
                                    </label>
                                    <div>
                                        <label>
                                            <input class="form-field__input form-field__input--upload"
                                                   id="form-field-CompletionLetter"
                                                   name="Attachlist[0].CompletionLetter"
                                                   type="file"
                                                   aria-describedby="description-for-CompletionLetter"
                                                   data-parsley-errors-container="#description-for-CompletionLetter"
                                                   required=""
                                                   data-parsley-required-message="@Translate.Text("VE_File1RequiredField")"
                                                   data-uploader-field="CompletionLetter"
                                                   accept=""
                                                   data-accepts='"jpg","bmp","png","jpeg","pdf"'
                                                   data-size="15048000"
                                                   data-parsley-trigger="focusout"
                                                   data-parsley-id="16">

                                            <span class="button button--primary button--next button--small focus-enabled" data-uploader-button="upload-choose">@Translate.Text("VE_Choose")</span>
                                        </label>
                                    </div>
                                    <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("VE_UploadFormat_Error")</p>
                                    <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("VE_FileSize_Error")</p>
                                    <p class="form-field__input--upload-filename" data-uploader-filename="CompletionLetter"></p>
                                    <p><button class="button button--text button--remove hidden" data-uploader-remove="CompletionLetter">@Translate.Text("VE_Remove")</button></p>
                                </div>
                            </div>
                            <div id="description-for-CompletionLetter" class="form-field__messages">
                                <p class="form-field__description">@Translate.Text("VE_UploadFile_Desc")</p>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-field__button">
                        <button type="button" class="button button--quaternary" id="btBack">@Translate.Text("back")</button>
                        <button type="submit" class="button button--primary button--next" data-submission-text="@Translate.Text("VE_Saving")...">@Translate.Text("VE_SaveNext")</button>

                    </div>
                }
            </div>
        </div>
    </div>
</div>