@using Sitecore.ExperienceForms.Mvc.Constants
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.ExperienceForms.Mvc.Models
@model Sitecore.ExperienceForms.Mvc.Models.FormViewModel
<div class="grid__row">

    <div class="grid__column grid__column--12 grid__column--form wffm formbuilder">
        @{
            using (Html.BeginRenderRouteForm(Model, IsPost))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden(AttributeNames.FormItemId, Model.ItemId)
                @Html.ValidationSummary(true)
                @Html.RenderFields(Model)
                <input type="hidden" data-sc-fxb-condition value='@Html.RenderConditions(Model)' />
            }
        }
    </div>
</div>