@using Sitecore.Globalization;
@using DEWAXP.Feature.GeneralServices.Models.OwnerTracking


@model TrackOwnerModel

<h3 class="m23-table__title "></h3>
<table class="m23-table__content-table">
    <thead class="m23-table__content-table-header">
        <tr class="m23-table__content-table-row">
            <th class="m23-table__content-table-cell--header">@Translate.Text("OTS_applicationNumber")</th>
            <th class="m23-table__content-table-cell--header">@Translate.Text("OTS_applicationType")</th>
            @if (ViewBag.IsLoggedIn)
            {
                <th class="m23-table__content-table-cell--header">@Translate.Text("OTS_projectArea")</th>
            }
            <th class="m23-table__content-table-cell--header">@Translate.Text("OTS_status")</th>
            <th class="m23-table__content-table-cell--header">@Translate.Text("OTS_dateApplied")</th>
            @if (!ViewBag.IsLoggedIn)
            {
                <th class="m23-table__content-table-cell--header">@Translate.Text("OTS_powerDate")</th>
            }
            <th class="m23-table__content-table-cell--header">@Translate.Text("OTS_plotNo")</th>
            <th class="m23-table__content-table-cell--header">
                @if (ViewBag.IsLoggedIn)
                {
                    @Translate.Text("OTS_actions")
                }
                else
                {
                    @Translate.Text("OTS_details")
                }
            </th>
            @if (ViewBag.IsLoggedIn)
            {
                <th class="m23-table__content-table-cell--header"><span class="aria-only">hide</span></th>
            }
        </tr>
    </thead>
    <tbody class="m23-table__content-table-body">
        @if (Model.TrackResultList != null)
        {
            foreach (TrackResult item in Model.TrackResultList)
            {

                <tr class="m23-table__content-table-row">
                    <td data-label="" class="m23-table__content-table-cell" data-code="@item.ApplicationTypeCode">
                        @item.ApplicationNumber
                    </td>
                    <td data-label="" class="m23-table__content-table-cell">
                        @item.ApplicationType
                    </td>
                    @if (ViewBag.IsLoggedIn)
                    {
                        <td data-label="" class="m23-table__content-table-cell">
                            @item.ProjectArea
                        </td>
                    }
                    <td data-label="" class="m23-table__content-table-cell bold" style="color:@item.ColorCode">
                        @item.Status
                    </td>
                    <td data-label="" class="m23-table__content-table-cell">
                        @item.DateApplied
                    </td>
                    @if (!ViewBag.IsLoggedIn)
                    {
                        <td data-label="" class="m23-table__content-table-cell">
                            @item.PowerRequirementDate
                        </td>
                    }
                    <td data-label="" class="m23-table__content-table-cell">
                        @item.PlotNo
                    </td>
                    <td data-label="" class="m23-table__content-table-cell">
                        <button class="button button--primary button--very_small applicationdetail" type="button" data-appNo="@item.ApplicationNumber" data-noc="@item.NOCNumber" data-processtype="@item.ApplicationTypeCode">
                            @Translate.Text("OTS_viewDetails")
                        </button>
                    </td>
                    @if (ViewBag.IsLoggedIn)
                    {
                        <td data-label="" class="m23-table__content-table-cell">
                            <button class="button button--primary button--very_small statusdetail" type="button" data-appNo="@item.ApplicationNumber" data-noc="@item.NOCNumber" data-processtype="@item.ApplicationTypeCode">
                                @Translate.Text("OTS_viewStatus")
                            </button>
                        </td>
                    }


                </tr>
            }
        }

    </tbody>
</table>
@if (Model.TrackResultList != null && Model.TrackResultList.Count > 0)
{
    <div class="centered mt24">
        <button class="button button--primary m23-table--load" data-increment="10">
            @Translate.Text("OTS_loadmore")
        </button>
    </div>
}
else
{
    <div class="centered mt24">
        <span class="">
            @Translate.Text("OTS_nofound")
        </span>
    </div>

}