@using Sitecore.Globalization;
@using DEWAXP.Feature.GeneralServices.Models.OwnerTracking

@model TrackOwnerStatusModel


<div class="m14-richtext centered">
    <h3 class="green"><strong>@(Model.OwnerStatusResults != null ? Model.OwnerStatusResults[0].StatusDescription : "")</strong></h3>
    <p class="mt0">@(Model.OwnerStatusResults != null ? Model.OwnerStatusResults[0].DateDescription : "")</p>

    <div class="m39-modal__content--separator">
        @Translate.Text("OTS_previousHistory")
    </div>

    <div class="m70-status-tracker m70-status-tracker-vertical">
        @foreach (OwnerStatus item in Model.OwnerStatusResults)
        {
            <div class="m70-status-tracker--item">
                <div class="m70-status-tracker--item_inner">
                    <div class="m70-status-tracker--item_title">
                        <div class="m70-status-tracker--item_icon icon-pagination_active" style="color: @item.ColorCode;"></div>
                        @item.StatusDescription
                    </div>
                    <div class="m70-status-tracker--item_desc">
                        @item.DateDescription
                    </div>
                </div>
            </div>
        }
    </div>
</div>