@using DEWAXP.Feature.GeneralServices.Models.OwnerTracking
@using Sitecore.Globalization
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model TrackOwnerOrderModel

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <!-- m26-page-title-start -->
        <div class="m26-page-title title_message">
            <div class="m26-page-title__links">
                <p class="m26-page-title__backlink">
                    <a class="button button--text button--back" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.OWNERTRACKING_DASHBOARD)?s=1">@Translate.Text("OTS_back")</a>
                </p>
            </div>
            <h2 class="text__page-title">@Translate.Text("OTS_applicationdetails")</h2>
        </div>
        <!-- m26-page-title-end -->
    </div>
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <!-- m42-key-value-start -->
        <div class="m42-keyvalue" id="applicationDetails">
            @if (Model.ApplicationType.ToLower().Equals(OwnerTrackerApplicationTypes.YBNE.ToString().ToLower()))
            {
                Html.RenderPartial("~/Views/Feature/GeneralServices/OwnerTracking/Modules/_ElectricityNOC.cshtml", Model);
            }
            else if (Model.ApplicationType.ToLower().Equals(OwnerTrackerApplicationTypes.YBNW.ToString().ToLower()))
            {
                Html.RenderPartial("~/Views/Feature/GeneralServices/OwnerTracking/Modules/_WaterNOC.cshtml", Model);
            }
            else if (Model.ApplicationType.ToLower().Equals(OwnerTrackerApplicationTypes.YBPE.ToString().ToLower()))
            {
                Html.RenderPartial("~/Views/Feature/GeneralServices/OwnerTracking/Modules/_BuildingPermitElectricity.cshtml", Model);
            }
            else if (Model.ApplicationType.ToLower().Equals(OwnerTrackerApplicationTypes.YDA5.ToString().ToLower()))
            {
                Html.RenderPartial("~/Views/Feature/GeneralServices/OwnerTracking/Modules/_GettingElectricity.cshtml", Model);
            }
            else if (Model.ApplicationType.ToLower().Equals(OwnerTrackerApplicationTypes.YAPW.ToString().ToLower()))
            {
                Html.RenderPartial("~/Views/Feature/GeneralServices/OwnerTracking/Modules/_GettingWater.cshtml", Model);
            }
            else if (Model.ApplicationType.ToLower().Equals(OwnerTrackerApplicationTypes.YLVI.ToString().ToLower()))
            {
                Html.RenderPartial("~/Views/Feature/GeneralServices/OwnerTracking/Modules/_OneStepElectricity.cshtml", Model);
            }

        </div>

    </div>
    @if (!ViewBag.IsLoggedIn)
    {
        <div class="centered mt24">
            <a class="button button--primary" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J7_LOGIN_PAGE)?returnUrl=@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.OWNERTRACKING_DASHBOARD)">
                @Translate.Text("OTS_loginmoredetails")
            </a>
        </div>
    }
    else
    {
        <div class="centered mt24">
            <a class="button button--primary" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.OWNERTRACKING_DASHBOARD)">
                @Translate.Text("OTS_dashboard")
            </a>
        </div>
    }
</div>
