@using DEWAXP.Foundation.Helpers
@using Sitecore.Mvc
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content.Models
@using DEWAXP.Foundation.Content
@model DEWAXP.Foundation.Content.Models.MoveOut.ConfirmModel
<div class="grid__row">
    <div class="grid__column grid__column--12">
        @Html.Sitecore().Placeholder("j98/m26-page-title")
    </div>
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        @if (Model.IsSuccess)
        {
            <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                <div class="m40-status-message__title">@Translate.Text("Update Successful")</div>
                <div class="m40-status-message__text">@Translate.Text("Your request to set primary account has now been updated")</div>
            </div>
        }
        else
        {
            <div class="m40-status-message m40-status-message--error icon icon-caution" data-component="m40-status-message">
                <div class="m40-status-message__title">@Translate.Text("Update Error")</div>
                <div class="m40-status-message__text">@Model.Message</div>
            </div>
        }
    </div>
</div>

@if (Model.IsSuccess)
{
    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SelectedAccount.cshtml", new SelectedAccountViewModel(Model.Account))
        </div>
    </div>
}

<div class="grid__row">
    <div class="grid__column grid__column--12">
        <h2 class="summary-footer__title">@Translate.Text("What's next?")</h2>
        <ul class="summary-footer__buttons">
            <li class="summary-footer__button summary-footer__button--stacked">
                <a role="button" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J69_CUSTOMER_DASHBOARD)" class="button button--primary button--next">@Translate.Text("Dashboard")</a>
            </li>

        </ul>
    </div>
</div>