@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Content.Models
@using DEWAXP.Foundation.Content
@model SelectedAccount


<div class="grid__row">
    <div class="grid__column grid__column--12">
        @Html.Sitecore().Placeholder("j98/m26-page-title")
    </div>

    @if (ViewData != null && ViewData["RegistrationSuccessful"] != null && ViewData["RegistrationSuccessful"].ToString() == "True")
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--content">
                <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                    <div class="m40-status-message__title">@Translate.Text("Registration Successful Message")</div>
                </div>
            </div>
        </div>
    }
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Sitecore().Placeholder("j98/m99-intro-text")
    </div>
</div>

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

        @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form form--inline", @data_form = "true" }))
        {
            @Html.Sitecore().FormHandler()
            @Html.AntiForgeryToken()
            <fieldset class="fieldset ">
                <legend class="legend-color">.</legend>
                <div class="form-field form-field--account-details">
                    @Html.Sitecore().Placeholder("j98/m43-account-selector")
                </div>
            </fieldset>
            <div class="form-field__button">
                <button class="button button--primary">@Sitecore.Globalization.Translate.Text("Update")</button>
            </div>
        }
    </div>
</div>
