@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@model DEWAXP.Feature.Builder.Models.ConnectionCalculator.ConnectionCalculatorModel

<div class="grid">
    @Html.Sitecore().Placeholder("j100/m26-page-title")

    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="text-block">
                @Html.Glass().Editable(x => x.Intro)
            </div>
        </div>
    </div>

    <form id="cost-form" method="POST" action="#" data-form="true" novalidate="novalidate">
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <fieldset class="fieldset ">
                    <legend class="legend-color">.</legend>
                    <div class="form-field form-field--text ">
                        <label for="form-field-existingload" class="form-field__label">
                            @Translate.Text("Existing Load")
                            <span class="form-field__label-required aria-only">@Translate.Text("required")</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <input class="form-field__input form-field__input--text"
                                   id="form-field-existingload"
                                   name="ExistingLoad"
                                   data-parsley-type="number"
                                   lang="en"
                                   maxlength="6"
                                   data-parsley-maxlength="6"
                                   data-parsley-trigger="focusout"
                                   placeholder=""
                                   @*aria-required="true"*@
                                   aria-describedby="description-for-existingload"
                                   data-parsley-errors-container="#description-for-existingload"
                                   required="required"
                                   data-parsley-required-message="@Translate.Text("Please enter a value")" />
                        </span>
                        <div id="description-for-existingload" class="form-field__messages"></div>
                    </div>
                    <div class="form-field form-field--text ">
                        <label for="form-field-proposedload" class="form-field__label">
                            @Translate.Text("Proposed Load")
                            <span class="form-field__label-required aria-only">@Translate.Text("required")</span>
                        </label>
                        <span class="form-field__input-wrapper">
                            <input class="form-field__input form-field__input--text"
                                   data-parsley-min="1"
                                   data-parsley-min-message="@Translate.Text("Check Zero")"
                                   id="form-field-proposedload"
                                   name="ProposedLoad"
                                   data-parsley-type="number"
                                   lang="en"
                                   data-parsley-trigger="focusout"
                                   maxlength="6"
                                   data-parsley-maxlength="6"
                                   placeholder=""
                                   @*aria-required="true"*@
                                   aria-describedby="description-for-proposedload"
                                   data-parsley-errors-container="#description-for-proposedload"
                                   required="required"
                                   data-parsley-required-message="@Translate.Text("Please enter a value")">
                        </span>
                        <div id="description-for-proposedload" class="form-field__messages"></div>
                    </div>
                </fieldset>
                <div class="form-field__button">
                    <button name="btnSubmit" type="submit" class="button button--primary button--next" data-submission-text="@Translate.Text("Calculate")...">@Translate.Text("Calculate")</button>
                </div>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div id="cost-calculator-placeholder" class="ajax-placeholder"></div>
            </div>
        </div>
    </form>
</div>
<script id="cost-calculator-template" type="text/x-handlebars-template">
    <div class="grid__column grid__column--12">
        <!-- m23-table-start -->
        <div class="m23-table m23-table--asymetric-40" data-component="m23-table">
            <h3 class="m23-table__title "></h3>
            <table class="m23-table__content-table">
                <thead class="m23-table__content-table-header">
                    <tr class="m23-table__content-table-row">
                        <th class="m23-table__content-table-cell--header no-wrap" rowspan="2">@Translate.Text("Sl No")</th>
                        <th class="m23-table__content-table-cell--header" colspan="2">@Translate.Text("Total Connected Load Slabs")</th>
                        <th class="m23-table__content-table-cell--header">@Translate.Text("Slab Unit Rates")</th>
                    </tr>
                    <tr class="m23-table__content-table-row">
                        <th class="m23-table__content-table-cell--header">@Translate.Text("From")</th>
                        <th class="m23-table__content-table-cell--header">@Translate.Text("To")</th>
                        <th class="m23-table__content-table-cell--header">@Translate.Text("AED KW")</th>
                        <th class="m23-table__content-table-cell--header">@Translate.Text("Quantity")</th>
                        <th class="m23-table__content-table-cell--header">@Translate.Text("Slab Total")</th>
                    </tr>
                </thead>
                <tbody class="m23-table__content-table-body">
                    {{#each details}}
                    <tr class="m23-table__content-table-row">
                        <td data-label="Sl No" class="m23-table__content-table-cell m23-table__content-table-cell--center">
                            {{SerialNo}}
                        </td>

                        {{#if_eq ToLoad FromLoad}}
                        {{/if_eq}}
                        @*<td data-label="ToLoad" class="m23-table__content-table-cell">
                            {{ToLoad}}
                        </td>*@
                        <td data-label="AED/KW" class="m23-table__content-table-cell">
                            {{UnitValue}}
                        </td>
                        <td data-label="Quantity" class="m23-table__content-table-cell">
                            {{Quantity}}
                        </td>
                        <td data-label="Total Value" class="m23-table__content-table-cell">
                            {{TotalValue}}
                        </td>
                    </tr>
                    {{/each}}
                    <tr class="m23-table__content-table-row">
                        <td data-label="" class="m23-table__content-table-cell align_right" colspan="4">
                            @Translate.Text("Total")
                        </td>
                        <td data-label="" class="m23-table__content-table-cell align_right" colspan="2">
                            {{totalCalc}}

                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div class="form-field form-field--text align_right">
                <label for="form-field-TotalCalc" class="form-field__label form-field__label--readonly">
                </label>
            </div>
            <br />
            <!-- m23-table-end -->
            <p>
                @Html.Sitecore().Placeholder("j87/m14-formattedtext")
            </p>
        </div>
    </div>
</script>
<script>
    docReady(function () {

        Handlebars.registerHelper("Load", function (ToLoad, FromLoad) {
            if (ToLoad == 999999) return ">" + FromLoad;
            else return ToLoad;
        })


        Handlebars.registerHelper('if_eq', function (ToLoad,FromLoad) {
            if (ToLoad == 999999) {

                return '<td data-label="To" align="center" colspan="2" class="m23-table__content-table-cell">' + '>' + parseInt(FromLoad-1) + '</td>';
            } else {
                return '<td data-label="From"   class="m23-table__content-table-cell">' + FromLoad + '</td>' + '<td data-label="From"  class="m23-table__content-table-cell">' + ToLoad + '</td>';

            }
        });

        jQuery('form#cost-form').on('submit', function (e) {
            var theform = jQuery('form#cost-form');
            if (theform.parsley().validate()) {
                CallApi();
            }
            e.preventDefault();
            return false;
        });
    });

    function render(context) {
        var markup = jQuery('#cost-calculator-template').html();
        var template = Handlebars.compile(markup);
        var rendering = template(context);
        jQuery('#cost-calculator-placeholder').html(rendering);
    }

    @functions{
        public string TokenHeaderValue()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }

    function CallApi() {


        var existingLoad = $("#form-field-existingload").val();
        var proposedLoad = $("#form-field-proposedload").val();

        jQuery('#cost-calculator-placeholder').empty();

        var params = "el=" + existingLoad + "&pl=" + proposedLoad;
        var url = '/api/connectioncost/Get?' + params;

        jQuery.ajax(url, {
            beforeSend: function () {
                window.attachSpinner('#cost-calculator-placeholder', { zIndex: 1, bgColor: "#fff", bgPosition: "top center" });
            },
            complete: function () {
                window.detachSpinner('#cost-calculator-placeholder', { zIndex: 1, bgColor: "#fff", bgPosition: "top center" });
            },
            dataType: 'json',
            headers: {
                'RequestVerificationToken': '@TokenHeaderValue()'
            },
            method: 'GET',
            success:function(response) {
                var context = {
                    details: response.LoadDetails,
                    totalCalc: response.TotalCalculation
                };
                render(context);
            }
        });
        return false;
    }

</script>