@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@model List<DEWAXP.Foundation.Content.Models.MoveOut.MoveoutReviewV3>

@{
    var isIBAN = 0;
    var selectedMobile = (Model != null && Model.Count > 0) ? Model[0].Mobile : string.Empty;
    var selectedEmail = (Model != null && Model.Count > 0) ? Model[0].Email : string.Empty;
    var selectedMaskedMobile = (Model != null && Model.Count > 0) ? Model[0].MaskedMobile : string.Empty;
    var selectedMaskedEmail = (Model != null && Model.Count > 0) ? Model[0].MaskedEmail : string.Empty;
}
@Html.Sitecore().Placeholder("j18/m26-page-title")

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form">
        @Html.Sitecore().Placeholder("j18/m38-step-tracker")
        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
    </div>
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--form m14-richtext">
        <h2>@Translate.Text("Review Summary")</h2>
        @Html.Sitecore().Placeholder("j18/m14-formatted-text")
    </div>
</div>
@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @id = "confirmmoveout", @data_parsley_focus = "true", @data_form = "true", @class = "form", @data_submit_validate = "enabled" }))
{
    @Html.Sitecore().FormHandler()
    @Html.AntiForgeryToken()
    <input type="hidden" id="otprequestid" name="otprequestid" value="" />
    var i = 0;

    <div class="grid__row">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="m42-keyvalue">
                @foreach (var refund in Model)
                {
                    if (refund.RefundFlag == "N")
                    {
                        i++;
                    }
                    if (refund.RefundFlag == "I")
                    {
                        isIBAN++;
                    }

                    <dl class="mb24">
                        @if (string.IsNullOrWhiteSpace(refund.ReceivingCountry))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("J85.CustName")<span class="floatRight mobile-hide">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@(!string.IsNullOrWhiteSpace(refund.CustomerName) ? refund.CustomerName : Translate.Text("updateiban.firstnamedash"))</dd>
                        }
                        else
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("updateiban.firstname")<span class="floatRight mobile-hide">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@(!string.IsNullOrWhiteSpace(refund.CustomerFirstName) ? refund.CustomerFirstName : Translate.Text("updateiban.firstnamedash"))</dd>
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("updateiban.lastname")<span class="floatRight mobile-hide">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@(!string.IsNullOrWhiteSpace(refund.CustomerLastName) ? refund.CustomerLastName : Translate.Text("updateiban.lastnamedash"))</dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(refund.RefundThrough))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("updateiban.refundthrough")<span class="floatRight mobile-hide">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@refund.RefundThrough</dd>
                        }

                        @if (!string.IsNullOrWhiteSpace(refund.IBANNumber))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("updateiban.ibannumber")<span class="floatRight mobile-hide">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@refund.IBANNumber</dd>
                        }

                        @if (!string.IsNullOrWhiteSpace(refund.AccountNumber))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("MoveOut.Account number")<span class="floatRight mobile-hide">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@refund.AccountNumber</dd>
                        }

                        @if (!string.IsNullOrWhiteSpace(refund.ReceivingCountry))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("updateiban.country")<span class="floatRight mobile-hide">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@refund.ReceivingCountry</dd>
                        }

                        @if (!string.IsNullOrWhiteSpace(refund.ReceivingState))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("updateiban.state")<span class="floatRight mobile-hide">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@refund.ReceivingState</dd>
                        }

                        @if (!string.IsNullOrWhiteSpace(refund.ReceivingCity))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("updateiban.city")<span class="floatRight mobile-hide">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@refund.ReceivingCity</dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(refund.ReceivingCurrency))
                        {
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("updateiban.currency")<span class="floatRight mobile-hide">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@refund.ReceivingCurrency</dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(refund.DisconnectionDate))
                        {
                            var DisconnectionDateReview = refund.DisconnectionDate.Replace("يناير", "January").Replace("فبراير", "February").Replace("مارس", "March").Replace("أبريل", "April").Replace("مايو", "May").Replace("يونيو", "June").Replace("يوليو", "July").Replace("أغسطس", "August").Replace("سبتمبر", "September").Replace("أكتوبر", "October").Replace("نوفمبر", "November").Replace("ديسمبر", "December").Replace("يناير", "Jan").Replace("فبراير", "Feb").Replace("مارس", "Mar").Replace("أبريل", "Apr").Replace("مايو", "May").Replace("يونيو", "June").Replace("يوليو", "July").Replace("أغسطس", "Aug").Replace("سبتمبر", "Sept").Replace("أكتوبر", "Oct").Replace("نوفمبر", "Nov").Replace("ديسمبر", "Dec");
                            DateTime dateResult;
                            DateTime? DiconnectionDateTime = DateTime.MinValue;
                            if (DateTime.TryParse(DisconnectionDateReview, Sitecore.Context.Culture, System.Globalization.DateTimeStyles.None, out dateResult))
                            {
                                DiconnectionDateTime = dateResult;
                            }
                            var timeFromInput = DateTime.ParseExact(refund.DisconnectionTime, "H:m:s", null, System.Globalization.DateTimeStyles.None);

                            string timeIn12HourFormatForDisplay = timeFromInput.ToString("hh:mm tt", Sitecore.Context.Culture).Replace("ص", "صباحاً").Replace("م", "مساءً");
                            <dt class="m42-keyvalue__key m42-keyvalue__key--secondary">@Translate.Text("MoveOut.Disconnection Date")<span class="floatRight mobile-hide">:</span></dt>
                            <dd class="m42-keyvalue__value m42-keyvalue__value--secondary">@DiconnectionDateTime.Value.ToString("dd MMM yyyy", Sitecore.Context.Culture) @timeIn12HourFormatForDisplay</dd>
                        }
                    </dl>
                    <hr />
                }
            </div>
            <div class="form-field__button">
                <button type="button" id="btnConfirm" class="button--submit button button--primary button--next" data-submission-text="@Translate.Text("Submitting")...">@Translate.Text("Verify Text")</button>
            </div>
            @if (Model.Where(x => !string.IsNullOrWhiteSpace(x.RefundThrough)).Any() && i != Model.Count)
            {
                <p class="centered"><span class="red">*</span>@Translate.Text("Moveoutreview.westernuniontext")</p>
            }
        </div>
    </div>
}
@*//OTP Verification modal popup*@
<div class="m39-modal m39-modal--profile m39-modal--nofocus" data-component="m39-modal" id="modal_true">
    <button data-trigger="true" class="m39-modal__trigger optpopuptrigger hidden">OTP Trigger</button>
    <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="false">
        <div class="m39-modal__dialog otp">
            <div class="m39-modal__header">
                <button data-close="true" class="m39-modal__button--close">
                    <span class="aria-only">@Translate.Text("Close")</span>
                </button>
            </div>
            <div class="m39-modal__content flex-center">
                <div class="otp--modalcontent">
                    <div class="otp_inputdisplay_screen hidden">
                        <img class="otp_chatcheck hidden" src="/images/chatcheck.png">
                        <img class="otp_mailcheck hidden" src="/images/mailcheck.png">
                        <div class="otp--modalcontent-title">
                            <span class="otp-title"></span>
                        </div>
                        <div class="otp--modalcontent-details">
                            <span class="otp_inputdisplay_screen_error red">
                            </span>
                        </div>
                        <div class="otp--modalcontent-text hidden">
                            @Html.Raw(Translate.Text("cust.care.info.note"))
                        </div>
                    </div>
                    <div class="otpselectionoption hidden">
                        <form class="form mt24 " data-form>
                            <div class="form-field">
                                <span>@Translate.Text("refund.VerifyOtpSubtitle")</span>
                                <fieldset class="fieldset">
                                    <legend class="form-field__label">
                                        <span class="form-field__label-required aria-only">.</span>
                                    </legend>
                                    <div class=" grid__column grid__column--12  grid__column--form align_left mt24 mb24 ">
                                        @if (!string.IsNullOrWhiteSpace(selectedMaskedEmail))
                                        {
                                            <p class="form-field__radio">
                                                <label>
                                                    <input class="form-field__input form-field__input--radio otp_diplay_input" id="otp_diplay_input_1" data-stype="e" name="otp_diplay_input" type="radio" value="@(selectedMaskedEmail)" aria-describedby="description-for-maskedvalue" data-parsley-errors-container="#description-for-maskedvalue" data-parsley-multiple="j113_radio" data-parsley-id="26">
                                                    <span class="form-field__fakeradio focus-enabled">
                                                        @(selectedMaskedEmail)
                                                    </span>
                                                    <br>
                                                </label>
                                            </p>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(selectedMaskedMobile))
                                        {
                                            <p class="form-field__radio">
                                                <label>
                                                    <input class="form-field__input form-field__input--radio otp_diplay_input" id="otp_diplay_input_2" data-stype="m" name="otp_diplay_input" type="radio" value="@(selectedMaskedMobile)" aria-describedby="description-for-maskedvalue" data-parsley-errors-container="#description-for-maskedvalue" data-parsley-multiple="j113_radio" data-parsley-id="26">
                                                    <span dir="ltr" class="form-field__fakeradio focus-enabled">
                                                        @(selectedMaskedMobile)
                                                    </span>
                                                    <br>
                                                </label>
                                            </p>
                                        }
                                    </div>
                                    <div id="description-for-radio-maskedvalue" class="form-field__messages">
                                    </div>
                                </fieldset>
                                <div class="form-field">
                                    <a href="javascript:void(0)" class="button button--primary mt0 btn-SendOtp">@Translate.Text("cust.SendOTP")</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="otp_input_screen hidden">
                        <img class="otp_chatcheck hidden" src="/images/chatcheck.png">
                        <img class="otp_mailcheck hidden" src="/images/mailcheck.png">
                        <div class="otp--modalcontent-title">
                            <span class="otp-title"></span>
                        </div>
                        <div class="otp--modalcontent-details">
                            <span class="otp-message"></span>
                        </div>
                        <form id="otpform" class="form1 mt24 input-otp-textbox" method="post" data-form>
                            @Html.AntiForgeryToken()
                            <div class="form-field form-field--otp centered">
                                <span class="form-field__input-wrapper_otp">
                                    <input class="form-field__input form-field__input--otp"
                                           id="form-field-otpnumber" name="text" type="number"
                                           aria-describedby="description-for-otpnumber"
                                           data-parsley-maxnumber="1"
                                           data-parsley-errors-container="#description-for-mobiotpnumber"
                                           required="" autofocus=""
                                           data-parsley-required-message="@Translate.Text("cust.required.field")"
                                           data-parsley-trigger="focusout" data-parsley-id="6"
                                           aria-invalid="false">
                                </span>
                                <span class="form-field__input-wrapper_otp">
                                    <input class="form-field__input form-field__input--otp"
                                           id="form-field-otpnumber" name="text" type="number"
                                           aria-describedby="description-for-otpnumber"
                                           data-parsley-maxnumber="1"
                                           data-parsley-errors-container="#description-for-otpnumber"
                                           required="" data-parsley-required-message="@Translate.Text("cust.required.field")"
                                           data-parsley-trigger="focusout" data-parsley-id="8"
                                           aria-invalid="false">
                                </span>
                                <span class="form-field__input-wrapper_otp">
                                    <input class="form-field__input form-field__input--otp"
                                           id="form-field-otpnumber" name="text" type="number"
                                           aria-describedby="description-for-otpnumber"
                                           data-parsley-maxnumber="1"
                                           data-parsley-errors-container="#description-for-otpnumber"
                                           required="" data-parsley-required-message="@Translate.Text("cust.required.field")"
                                           data-parsley-trigger="focusout" data-parsley-id="10"
                                           aria-invalid="false">
                                </span>
                                <span class="form-field__input-wrapper_otp">
                                    <input class="form-field__input form-field__input--otp"
                                           id="form-field-otpnumber" name="text" type="number"
                                           aria-describedby="description-for-otpnumber"
                                           data-parsley-maxnumber="1"
                                           data-parsley-errors-container="#description-for-otpnumber"
                                           required="" data-parsley-required-message="@Translate.Text("cust.required.field")"
                                           data-parsley-trigger="focusout" data-parsley-id="12"
                                           aria-invalid="false">
                                </span>
                                <span class="form-field__input-wrapper_otp">
                                    <input class="form-field__input form-field__input--otp"
                                           id="form-field-otpnumber" name="text" type="number"
                                           aria-describedby="description-for-otpnumber"
                                           data-parsley-maxnumber="1"
                                           data-parsley-errors-container="#description-for-otpnumber"
                                           required="" data-parsley-required-message="@Translate.Text("cust.required.field")"
                                           data-parsley-trigger="focusout" data-parsley-id="14"
                                           aria-invalid="false">
                                </span>
                                <span class="form-field__input-wrapper_otp">
                                    <input class="form-field__input form-field__input--otp"
                                           id="form-field-otpnumber" name="text" type="number"
                                           aria-describedby="description-for-otpnumber"
                                           data-parsley-maxnumber="1"
                                           data-parsley-errors-container="#description-for-otpnumber"
                                           required="" data-parsley-required-message="@Translate.Text("cust.required.field")"
                                           data-parsley-trigger="focusout" data-parsley-id="16"
                                           aria-invalid="false">
                                </span>
                                <input class="form-field__input form-field__input--otp_main"
                                       id="form-field-otpnumbermain" name="text" type="number"
                                       aria-describedby="description-for-otpnumber"
                                       data-parsley-maxnumber="6"
                                       data-parsley-errors-container="#description-for-otpnumber"
                                       data-parsley-required-message="@Translate.Text("cust.required.field")"
                                       data-parsley-trigger="focusout" data-parsley-id="33" />
                                <div id="description-for-otpnumber" class="form-field__messages"></div>
                            </div>
                            <div class="form-field mt0 otp_inputdisplay_screen_error red hidden">
                            </div>
                            <div class="form-field">
                                <div class="button button--timer timer-button--outline"
                                     data-component="m78-timer" id="timerbutton"
                                     timer-labels="{&quot;before&quot;:&quot;@Translate.Text("cust.resend.button.text")&quot;, &quot;after&quot;:&quot;@Translate.Text("cust.resend.button.text") (&quot;}"
                                     timer-time="{&quot;seconds&quot;:300}">
                                    <span class="m78-timer--button_text">@Translate.Text("cust.send.button.text")</span>
                                    <span class="m78-timer--button_time"></span>
                                </div>
                            </div>
                            <div class="form-field"><span id="notmytext"></span> @Html.Raw(Translate.Text("Contact Customer Care Center"))</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m39-modal__overlay"> </div>
</div>
<script type="text/javascript">
        docReady(function () {
            $('.m38-step-tracker').attr('data-total-steps', "3");
            $('.m38-step-tracker').attr('data-current-step', "3");
            $('.m38-step-tracker__progressbar').attr('aria-valuetext', '@Translate.Text("moveout.step3.info")');
            $('.m38-step-tracker').attr('data-hasInfo', "true");
        });
</script>
<script type="text/javascript">
    docReady(function () {
        var $confirmBtn = jQuery("#btnConfirm");
        var verifystep = null;
        var selectedOption = '@(isIBAN>0 ? "I" : "")';

        $confirmBtn.on('click', function (e) {
            $(".otp_inputdisplay_screen_error").html('');
            $(".otp_inputdisplay_screen_error").hide();
            $('input[name="otp_diplay_input"]').prop('checked', false);
            $(".otp-title").html('');
            $(".otp-message").html('');
            $(".otp-message").removeClass("red");
            verifystep = null;
            $("#OtpRequestId").val('');
            if (selectedOption == 'I-disabled') {
                jQuery(".otpselectionoption").hide();
                CrudOtp(GetReadRequestData("e"), function (rdata) {
                    e.preventDefault();
                    e.stopPropagation();
                    var title = '@Html.Raw(Translate.Text("cust.email.otp.screen.title"))';
                    var msg = '@Html.Raw(Translate.Text("cust.email.otp.screen.msg"))';
                    $(".m66-preloader-fullpage").fadeOut();
                    $(".otp_inputdisplay_screen").hide();
                    //$(".otp--modalcontent-text").hide();
                    $(".otp-title").html(title);
                    $(".otp_mailcheck").show();
                    $(".otp_chatcheck").hide();
                    $("#notmytext").html('@Translate.Text("cust.not.my.emailaddress")');
                    if (rdata.status) {
                        $(".otp-message").html(msg.replace("{0}", '@selectedMaskedEmail'));
                        $("#otprequestid").val(rdata.data.otprequestid);
                        $(".otp_input_screen").show();
                        $(".otp_inputdisplay_screen_error").hide();

                        resetTimer();
                        $(".optpopuptrigger").trigger('click');
                    }
                    else {
                        $(".optpopuptrigger").trigger('click');
                        $(".otp_input_screen").hide();
                        $(".otp_inputdisplay_screen").show();
                        $(".otp_inputdisplay_screen_error").show();
                        //$(".otp--modalcontent-text").show();
                        $(".otp_inputdisplay_screen_error").html(rdata.desc);
                    }
                });
            }
            else {
                $(".optpopuptrigger").trigger('click');
                $(".otpselectionoption").show();
                $(".otp_input_screen").hide();
            }
        });
        jQuery(".btn-SendOtp").on("click", function () {
            var selected = $("input[type='radio'][name='otp_diplay_input']:checked");
            if (selected.length == 0) {
                return false;
            }
            CrudOtp(fnSendOtpRequestData(), function (rdata) {
                $(".otp-message").removeClass("red");
                if ($(selected).attr("data-stype") == 'e') {
                    var title = '@Html.Raw(Translate.Text("cust.email.otp.screen.title"))';
                    $(".otp-title").html(title);
                }
                else {
                    var title = '@Html.Raw(Translate.Text("cust.mobile.otp.screen.title"))';
                    $(".otp-title").html(title);
                }

                $(".m66-preloader-fullpage").fadeOut();
                $(".otp_inputdisplay_screen").hide();

                if (rdata.status) {
                    $(".otp-message").removeClass("red");
                    if ($(selected).attr("data-stype") == 'm') {
                        $(".otp_chatcheck").show();
                        $(".otp_mailcheck").hide();
                        var msg = '@Html.Raw(Translate.Text("cust.mobile.otp.screen.msg"))';
                        $(".otp-message").html(msg.replace("{0}", '@selectedMaskedMobile'));
                        $("#notmytext").html('@Translate.Text("cust.not.my.mobilenumber")');
                    }
                    else {
                        $(".otp_mailcheck").show();
                        $(".otp_chatcheck").hide();
                        var msg = '@Html.Raw(Translate.Text("cust.email.otp.screen.msg"))';
                        $(".otp-message").html(msg.replace("{0}", '@selectedMaskedEmail'));
                        $("#notmytext").html('@Translate.Text("cust.not.my.emailaddress")');
                    }
                    $(".otp_input_screen").show();
                    $("#otprequestid").val(rdata.data.otprequestid);
                    jQuery(".otpselectionoption").hide();

                    resetTimer();
                    $(".optpopuptrigger").trigger('click');
                }
                else {
                    $(".optpopuptrigger").trigger('click');
                    //$(".otp-message").addClass("red");
                    $(".otp_inputdisplay_screen").show();
                    $(".otp_inputdisplay_screen_error").show();
                    $(".otpselectionoption").show();
                    // $(".otp--modalcontent-text").show();
                    $(".otp_inputdisplay_screen_error").html(rdata.desc);

                }
            });
        });
        setTimeout(function () {
            $(".form-field__input--otp").on('keyup blur', function () {
            var otp = jQuery(".form-field__input--otp_main").val();
            if (otp.length >= 6) {
                $(".form-field__input--otp").val('');
                CrudOtp(fnVerifyOtpData(otp), function (rdata) {
                    $(".m66-preloader-fullpage").fadeOut();
                    if (rdata.status) {
                        $(".otp-message").removeClass("red");
                        $(".otp_input_screen").hide();
                        $(".m39-modal__button--close").trigger('click');


                        // if (selectedOption == "I" && verifystep == null) {
                        //     verifystep = 1;
                        //     CrudOtp(GetReadRequestData("m"), function (rsdata) {
                        //         var title = '@Html.Raw(Translate.Text("cust.mobile.otp.screen.title"))';
                        //         var msg = '@Html.Raw(Translate.Text("cust.mobile.otp.screen.msg"))';
                        //         $(".m66-preloader-fullpage").fadeOut();
                        //         $(".otp_inputdisplay_screen").hide();
                        //         //$(".otp--modalcontent-text").hide();
                        //         $(".otp-title").html(title);
                        //         $("#notmytext").html('@Translate.Text("cust.not.my.mobilenumber")');
                        //         if (rsdata.status) {
                        //             $(".otp_mailcheck").hide();
                        //             $(".otp_chatcheck").show();
                        //             $(".otp-message").html(msg.replace("{0}", '@selectedMaskedMobile'));
                        //             $("#otprequestid").val(rsdata.data.otprequestid);
                        //             $(".otp_input_screen").show();
                        //             $(".otp_inputdisplay_screen_error").hide();
                        //             $(".otp_inputdisplay_screen_success").show();

                        //             resetTimer();
                        //             $(".optpopuptrigger").trigger('click');
                        //         }
                        //         else {
                        //             $(".optpopuptrigger").trigger('click');
                        //             $(".otp_input_screen").hide();
                        //             $(".otp_inputdisplay_screen").show();
                        //             $(".otp_inputdisplay_screen_error").show();
                        //             $(".otp_inputdisplay_screen_success").hide();
                        //             //$(".otp--modalcontent-text").show();
                        //             $(".otp_inputdisplay_screen_error").html(rsdata.desc);
                        //         }
                        //     });
                        // }
                        // else {
                        //     jQuery('#confirmmoveout').submit();
                        //     $("#btnConfirm").html('@Translate.Text("Submitting")...');
                        //     $("#btnConfirm").attr('disabled', true);
                        //     $(".m66-preloader-fullpage").show();
                        // }


                        jQuery('#confirmmoveout').submit();
                            $("#btnConfirm").html('@Translate.Text("Submitting")...');
                            $("#btnConfirm").attr('disabled', true);
                            $(".m66-preloader-fullpage").show();
                    }
                    else {
                        $(".optpopuptrigger").trigger('click');
                        //$(".otp-message").addClass("red");
                        $(".otp_input_screen").show();
                        $(".otp_inputdisplay_screen_error").show();
                        $(".otp_inputdisplay_screen_success").hide();
                        //$(".otp--modalcontent-text").show();
                        $(".otp_inputdisplay_screen_error").html(rdata.desc);
                    }
                });
            }
        });
        }, 500);

        jQuery("#timerbutton").on("click", function () {
            if (!jQuery("#timerbutton").hasClass("timer-button--outline")) {

                CrudOtp(fnSendOtpRequestData(), function (rdata) {
                    $(".m66-preloader-fullpage").fadeOut();
                    $(".otp_inputdisplay_screen").hide();



                        var selected = $("input[type='radio'][name='otp_diplay_input']:checked");
                        if ($(selected).attr("data-stype") == 'e') {
                            var title = '@Html.Raw(Translate.Text("cust.email.otp.screen.title"))';
                            var msg = '@Html.Raw(Translate.Text("cust.email.otp.screen.msg"))';
                            $(".otp_mailcheck").show();
                            $(".otp_chatcheck").hide();
                            $(".otp-message").html(msg.replace("{0}", '@selectedMaskedEmail'));
                            $(".otp-title").html(title);
                        }
                        else {
                            var title = '@Html.Raw(Translate.Text("cust.mobile.otp.screen.title"))';
                            var msg = '@Html.Raw(Translate.Text("cust.mobile.otp.screen.msg"))';
                            $(".otp-message").html(msg.replace("{0}", '@selectedMaskedMobile'));
                            $(".otp-title").html(title);
                            $(".otp_mailcheck").hide();
                            $(".otp_chatcheck").show();
                        }

                    // if (selectedOption != 'I') {
                    //     var selected = $("input[type='radio'][name='otp_diplay_input']:checked");
                    //     if ($(selected).attr("data-stype") == 'e') {
                    //         var title = '@Html.Raw(Translate.Text("cust.email.otp.screen.title"))';
                    //         var msg = '@Html.Raw(Translate.Text("cust.email.otp.screen.msg"))';
                    //         $(".otp_mailcheck").show();
                    //         $(".otp_chatcheck").hide();
                    //         $(".otp-message").html(msg.replace("{0}", '@selectedMaskedEmail'));
                    //         $(".otp-title").html(title);
                    //     }
                    //     else {
                    //         var title = '@Html.Raw(Translate.Text("cust.mobile.otp.screen.title"))';
                    //         var msg = '@Html.Raw(Translate.Text("cust.mobile.otp.screen.msg"))';
                    //         $(".otp-message").html(msg.replace("{0}", '@selectedMaskedMobile'));
                    //         $(".otp-title").html(title);
                    //         $(".otp_mailcheck").hide();
                    //         $(".otp_chatcheck").show();
                    //     }
                    // }
                    // else {
                    //     if (verifystep == null) {
                    //         var title = '@Html.Raw(Translate.Text("cust.email.otp.screen.title"))';
                    //         var msg = '@Html.Raw(Translate.Text("cust.email.otp.screen.msg"))';
                    //         $(".otp_mailcheck").show();
                    //         $(".otp_chatcheck").hide();
                    //         $(".otp-message").html(msg.replace("{0}", '@selectedMaskedEmail'));
                    //         $(".otp-title").html(title);
                    //     }
                    //     else {
                    //         var title = '@Html.Raw(Translate.Text("cust.mobile.otp.screen.title"))';
                    //         var msg = '@Html.Raw(Translate.Text("cust.mobile.otp.screen.msg"))';
                    //         $(".otp-message").html(msg.replace("{0}", '@selectedMaskedMobile'));
                    //         $(".otp-title").html(title);
                    //         $(".otp_mailcheck").hide();
                    //         $(".otp_chatcheck").show();
                    //     }
                    // }

                    if (rdata.status) {
                        $("#otprequestid").val(rdata.data.otprequestid);
                        $(".otp-message").removeClass("red");
                        $(".input-otp-textbox").show();
                        $(".otp_input_screen").show();

                        resetTimer();
                        $(".optpopuptrigger").trigger('click');
                    } else {
                        $(".optpopuptrigger").trigger('click');
                        $(".otp_input_screen").hide();
                        $(".otp_inputdisplay_screen").show();
                        $(".otp_inputdisplay_screen_error").show();
                        $(".otp_inputdisplay_screen_error").html(rdata.desc);
                    }
                });
            }
        });
        //$('#timerbutton').on('DOMNodeInserted', function () {
        //    if ($(this).hasClass('button--primary')) {
        //        $(this).closest('form').find('.form-field__input--otp').attr('disabled', true);
        //        $(this).closest('form').find('.form-field--otp').addClass('form-field-disabled');
        //    }
        //});
        function GetReadRequestData(type) {
            var mobile = null;
            var email = null;
            var bpno = null;
            var option = null
            var type = type;
            var otp = null;
            var prtype = "MOUT";

            var requestData = {
                mobile: mobile,
                email: email,
                bpno: bpno,
                option: option,
                type: type,
                Otp: otp,
                prtype: prtype
            }
            requestData.mode = "S";
            if (verifystep != null)
                requestData.reqId = jQuery("#otprequestid").val();
            return requestData;
        }
        function fnVerifyOtpData(otp) {
            var requestData = GetReadRequestData();
            // if (selectedOption == "I" && verifystep == null) {
            //     requestData.type = "e";
            // }
            // else if (selectedOption == "I" && verifystep == 1) {
            //     requestData.type = "m";
            // }
            // else {
            //     var selected = $("input[type='radio'][name='otp_diplay_input']:checked");
            //     requestData.type = $(selected).attr("data-stype");
            // }

            var selected = $("input[type='radio'][name='otp_diplay_input']:checked");
            requestData.type = $(selected).attr("data-stype");
            requestData.Otp = otp;
            requestData.mode = "V";
            requestData.reqId = jQuery("#otprequestid").val();
            return requestData;
        }
        function fnSendOtpRequestData(inputtype) {
            var requestData = GetReadRequestData();
            // if (selectedOption != 'I') {
            //     var selected = $("input[type='radio'][name='otp_diplay_input']:checked");
            //     requestData.type = $(selected).attr("data-stype");
            // }
            // else {
            //     if (verifystep == null) {
            //         requestData.type = "e";
            //         requestData.reqId = "";
            //     }
            //     else {
            //         requestData.type = "m";
            //         requestData.reqId = jQuery("#otprequestid").val();
            //     }
            // }

            var selected = $("input[type='radio'][name='otp_diplay_input']:checked");
            requestData.type = $(selected).attr("data-stype");

            if(requestData.type == "m")
            {
            requestData.reqId = jQuery("#otprequestid").val();
            }else{
            requestData.reqId = "";
            }
            requestData.mode = "S";
            return requestData;
        }
        AddCustomForgeryToken = function (data, elementId) {
            data.__RequestVerificationToken = $(elementId + ' input[name=__RequestVerificationToken]').val();
            return data;
        };
        function CrudOtp(requestData, onSuccess) {
            var _postUrl = '@Url.Content("~/api/sitecore/MoveOut/CrudOtp")';
            requestData = AddCustomForgeryToken(requestData, "#otpform");
            $.ajax({
                url: _postUrl,
                type: 'POST',
                data: requestData,
                beforeSend: function () {
                    $(".m39-modal__button--close").trigger('click');
                    $(".m66-preloader-fullpage").show();
                    $(".otp_inputdisplay_screen").hide();
                    $(".otp_input_screen").hide();
                    $(".otp_inputdisplay_screen_error").hide();
                    $(".otp_inputdisplay_screen_success").hide();
                },
                success: onSuccess,
                error: function (er) {
                    console.log(er);
                },
                complete: function (x) {
                    $(".m66-preloader-fullpage").fadeOut();
                    console.log(x);
                }
            });
        }
        //jQuery(".m39-modal__button--close").on("click", function () {
        //    jQuery('#timerbutton').addClass('stopped');
        //});
        function resetTimer() {
            $("#otpform").find('.form-field__input--otp').attr('disabled', false);
            $("#otpform").find('.form-field--otp').removeClass('form-field-disabled');
            setTimeout(function () {
                jQuery('.form-field--otp').find('.form-field__input--otp')[0].focus()
            }, 500);
            setTimeout(function () {
                jQuery('.button--timer').trigger('start.timer');
            }, 500);
        }
    });
</script>
<script src="~/scripts/External/nml/form-submit-validate.js"></script>
