@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model DEWAXP.Foundation.Content.Models.MoveOut.ConfirmModel

@Html.Sitecore().Placeholder("j18/m26-page-title")
@{ var failedNotification = false; }
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
            <div class="m40-status-message__title">@Translate.Text("Submission Successful")</div>
            <div class="m40-status-message__text">
                @Translate.Text("Demolish Final bill successful")
                @foreach (var notification in Model.Notifications)
                {
                    if (!string.IsNullOrWhiteSpace(notification.NotificationNumber))
                    {
                        <br>@Translate.Text("Noticiation number") <text>:</text><strong> @notification.NotificationNumber</strong>
                    }
                    else
                    {
                        failedNotification = true;
                    }
                }
            </div>
            <p>
                @Model.AdditionalInformation
            </p>
            @if (!failedNotification)
            {
                <p>
                    <button class="button button--text button--printer noprint" data-print="page">@Translate.Text("Print this page")</button>
                </p>
            }
        </div>
        @*<p>@Translate.Text("Reference Number") <text>:</text> @Model.ReferenceNumbers[0]</p>*@<p><text></text></p>
    </div>
</div>
<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--centered">
        <a role="button" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.J22_TRACK_COMPLAINTS)" class="button button--primary button--next" data-submission-text="@Translate.Text(" Submitting")...">@Translate.Text("Track Request")</a>
    </div>
</div>

