@using Sitecore.Globalization;
@using DEWAXP.Foundation.Integration.CustomerSmartSalesSvc
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.ScrapSale.Models.ScrapSale.ProfileUpdateModel

@{ 
    var direction = Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft ? "rtl" : "ltr";
}

<div class="grid">
    <div class="grid__row mt48">
        <div class="grid__column grid__column--12 grid__column--content">
            @if (Model.IsSuccess)
            {
                <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">                  
                    <div class="m40-status-message__title">@Translate.Text("SS_SuccessMessage")</div>
                    <div class="m40-status-message__text" dir="@direction">
                        @Translate.Text("SS_UP_SuccessMessage").Replace("{0}", Model.ApplicationNO)
                    </div>
                    </div>
                    <p class="mt12 centered">
                        <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCRAPESALE_TRACKAPPLICATION)?appno=@Model.ApplicationNO" class="button button--primary button--next" role="button">@Translate.Text("SS_TrackApplication")</a>
                    </p>
                    }
                    else
                    {
                    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
                    }
                </div>
    </div>
</div>
