@using Sitecore.Globalization;
@using DEWAXP.Foundation.Integration.CustomerSmartSalesSvc
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.ScrapSale.Models.ScrapSale.TenderBidingStep5Model

@{

    var src1 = Model.TenderBond_AttachmentFileBinary1 != null ? "data:image;base64," + Convert.ToBase64String(Model.TenderBond_AttachmentFileBinary1) : "/images/preview@2x.png";
    var srctxt1 = !string.IsNullOrWhiteSpace(Model.TenderBond_AttachmentFileName1) ? Model.TenderBond_AttachmentFileName1 : "";
    var src2 = Model.TenderBond_AttachmentFileBinary2 != null ? "data:image;base64," + Convert.ToBase64String(Model.TenderBond_AttachmentFileBinary2) : "/images/preview@2x.png";
    var srctxt2 = !string.IsNullOrWhiteSpace(Model.TenderBond_AttachmentFileName2) ? Model.TenderBond_AttachmentFileName2 : "";
    var src3 = Model.TenderBond_AttachmentFileBinary3 != null ? "data:image;base64," + Convert.ToBase64String(Model.TenderBond_AttachmentFileBinary3) : "/images/preview@2x.png";
    var srctxt3 = !string.IsNullOrWhiteSpace(Model.TenderBond_AttachmentFileName3) ? Model.TenderBond_AttachmentFileName3 : "";
}
<div class="grid">
    <div class="grid__row mb12">
        <div class="grid__column grid__column--12">
            <!-- m26-page-title-start -->
            <div class="m26-page-title ">
                <div class="m26-page-title__links">
                    <p class="m26-page-title__backlink">
                        <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCRAPESALE_TENDER_PUCHASE_BIDITEM_STEP3)" class="button button--text button--back">@Translate.Text("Back")</a>
                    </p>
                </div>
                <h2 class="text__page-title">
                    @Translate.Text("SS_BD_Header") @Model.TenderNumber
                </h2>
                <p class="text-page__intro">
                    @if (Sitecore.Context.Language.CultureInfo.TextInfo.IsRightToLeft)
                    {
                        @Model.TenderARDescription
                    }
                    else
                    {
                        @Model.TenderEndDescription
                    }
                </p>
            </div>
            <!-- m26-page-title-end -->
        </div>
    </div>
    <div class="grid__row mb12">
        <div class="grid__column grid__column--12 grid__column--form">
            <div class="m38-step-tracker" data-component="m38-step-tracker" data-total-steps="7" data-current-step="5" data-labels='{"conjunction":"@Translate.Text("of")"}' data-hasInfo="false">
                <div class="m38-steptracker__info-wrapper">@Translate.Text("SS_BD_Step5")</div>
                <div class="m38-step-tracker__progressbar" data-m38-progressbar="true" role="progressbar" aria-valuetext="">
                </div>
            </div>
        </div>
    </div>
    <div class="grid__row mb12">
        <div class="grid__column grid__column--12 grid__column--form">
            @*<h3 class="text__section-title">Documents requirements to process the submission</h3>*@
            @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName,
         FormMethod.Post, new
         {
             @class = "form",
             @id = "IdTenderbidActionStep5",
             data_form = "true",
             data_parsley_focus = "none",
             @data_submit_validate = "enabled",
             enctype = "multipart/form-data",
             @autocomplete = "off"
         }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

                <div id="description-for-TenderBond_AttachedDocumentall" style="overflow: hidden; max-height: 20px;" class="form-field__messages">
                </div>
                <fieldset class="fieldset">
                    <legend class="legend">@Translate.Text("SS_BD_EMDAttach1")</legend>
                    <div class="form-field form-field--upload">
                        <div class="form-field__input-wrapper">
                            <div class="form-field__preview-wrapper">
                                <img src="@src1"
                                     data-src="/images/preview@2x.png"
                                     data-success="/images/preview@2x.png"
                                     class="form-field__preview"
                                     aria-hidden="true"
                                     role="presentation"
                                     alt="@srctxt1"
                                     data-uploader-image="TenderBond_AttachedDocument1">
                            </div>
                            <div class="form-field__uploader-details">
                                <label for="form-field-TenderBond_AttachedDocument1" class="form-field__label">
                                    <strong class="form-field__label-description"></strong>
                                </label>
                                <div>
                                    <label>
                                        <input class="form-field__input form-field__input--upload"
                                               id="form-field-TenderBond_AttachedDocument1"
                                               name="TenderBond_AttachedDocument1"
                                               type="file"
                                               @((src1 == null) ? "required=\"=\"" : "")
                                               aria-describedby="description-for-TenderBond_AttachedDocument1"
                                               data-parsley-errors-container="#description-for-TenderBond_AttachedDocumentall"
                                               data-parsley-required-message="@Translate.Text("SS_BD_EMDAttachReq1")"
                                               data-uploader-field="TenderBond_AttachedDocument1"
                                               accept="image/x-png,,image/jpg,,image/jpeg,,image/bmp,,application/pdf" data-accepts='"jpg", "bmp","png","jpeg","pdf"' data-size="10048000">

                                        <span class="button button--primary button--next button--small focus-enabled" data-uploader-button="upload-choose">@Translate.Text("Choose")</span>


                                    </label>
                                </div>
                                <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                                <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                                <p class="form-field__input--upload-filename" data-uploader-filename="TenderBond_AttachedDocument1" @(!string.IsNullOrWhiteSpace(srctxt1) ? "style=display:block !important" : "")>@srctxt1</p>
                                <p><button class="button button--text button--remove hidden" data-removeindex="1" data-uploader-remove="TenderBond_AttachedDocument1" @(!string.IsNullOrWhiteSpace(srctxt1) ? "style=display:block !important" : "")>@Translate.Text("Remove")</button></p>
                                @Html.HiddenFor(m => m.TenderBond_AttachmentRemove1, new { id = "flagremove1" })
                            </div>

                        </div>

                        <div id="description-for-TenderBond_AttachedDocument1" class="form-field__messages">
                            <p class="form-field__description">@Translate.Text("SS_BD_FileUploaderNote")</p>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset">
                    <legend class="legend">@Translate.Text("SS_BD_EMDAttach2")</legend>
                    <div class="form-field form-field--upload">
                        <div class="form-field__input-wrapper">
                            <div class="form-field__preview-wrapper">
                                <img src="@src2"
                                     data-src="/images/preview@2x.png"
                                     data-success="/images/preview@2x.png"
                                     class="form-field__preview"
                                     aria-hidden="true"
                                     role="presentation"
                                     alt="@srctxt2"
                                     data-uploader-image="TenderBond_AttachedDocument2">
                            </div>
                            <div class="form-field__uploader-details">
                                <label for="form-field-TenderBond_AttachedDocument2" class="form-field__label">
                                    <strong class="form-field__label-description"></strong>
                                </label>
                                <div>
                                    <label>
                                        <input class="form-field__input form-field__input--upload"
                                               id="form-field-TenderBond_AttachedDocument2"
                                               name="TenderBond_AttachedDocument2"
                                               type="file"
                                               @((src2 == null) ? "required=\"=\"" : "")
                                               aria-describedby="description-for-TenderBond_AttachedDocument2"
                                               data-parsley-errors-container="#description-for-TenderBond_AttachedDocumentall"
                                               data-parsley-required-message="@Translate.Text("SS_BD_EMDAttachReq2")"
                                               data-uploader-field="TenderBond_AttachedDocument2"
                                               accept="image/x-png,,image/jpg,,image/jpeg,,image/bmp,,application/pdf" data-accepts='"jpg", "bmp","png","jpeg","pdf"' data-size="10048000">

                                        <span class="button button--primary button--next button--small focus-enabled" data-uploader-button="upload-choose">@Translate.Text("Choose")</span>


                                    </label>
                                </div>
                                <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                                <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                                <p class="form-field__input--upload-filename" data-uploader-filename="TenderBond_AttachedDocument2" @(!string.IsNullOrWhiteSpace(srctxt2) ? "style=display:block !important" : "")>@srctxt2</p>
                                <p><button class="button button--text button--remove hidden" data-removeindex="2" data-uploader-remove="TenderBond_AttachedDocument2" @(!string.IsNullOrWhiteSpace(srctxt2) ? "style=display:block !important" : "")>@Translate.Text("Remove")</button></p>
                                @Html.HiddenFor(m => m.TenderBond_AttachmentRemove2, new { id = "flagremove2" })
                            </div>

                        </div>

                        <div id="description-for-TenderBond_AttachedDocument2" class="form-field__messages">
                            <p class="form-field__description">@Translate.Text("SS_BD_FileUploaderNote")</p>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <legend class="legend">@Translate.Text("SS_BD_EMDAttach3")</legend>
                    <div class="form-field form-field--upload">
                        <div class="form-field__input-wrapper">
                            <div class="form-field__preview-wrapper">

                                <img src="@src3"
                                     data-src="/images/preview@2x.png"
                                     data-success="/images/preview@2x.png"
                                     class="form-field__preview"
                                     aria-hidden="true"
                                     role="presentation"
                                     alt="@srctxt3"
                                     data-uploader-image="TenderBond_AttachedDocument3">

                            </div>
                            <div class="form-field__uploader-details">
                                <label for="form-field-TenderBond_AttachedDocument3" class="form-field__label">
                                    <strong class="form-field__label-description"></strong>
                                </label>
                                <div>
                                    <label>
                                        <input class="form-field__input form-field__input--upload"
                                               id="form-field-TenderBond_AttachedDocument3"
                                               name="TenderBond_AttachedDocument3"
                                               type="file"
                                               @((src3 == null) ? "required=\"=\"" : "")
                                               aria-describedby="description-for-TenderBond_AttachedDocument3"
                                               data-parsley-errors-container="#description-for-TenderBond_AttachedDocumentall"
                                               data-parsley-required-message="@Translate.Text("SS_BD_EMDAttachReq3")"
                                               data-uploader-field="TenderBond_AttachedDocument3"
                                               accept="image/x-png,,image/jpg,,image/jpeg,,image/bmp,,application/pdf" data-accepts='"jpg", "bmp","png","jpeg","pdf"' data-size="10048000">

                                        <span class="button button--primary button--next button--small focus-enabled" data-uploader-button="upload-choose">@Translate.Text("Choose")</span>
                                    </label>
                                </div>
                                <p class="form-field__input--upload-format-error-message" data-uploader-format-error="error-message">@Translate.Text("invalid file type validation message")</p>
                                <p class="form-field__input--upload-size-error-message" data-uploader-size-error="error-message">@Translate.Text("file too large validation message")</p>

                                <p class="form-field__input--upload-filename" data-uploader-filename="TenderBond_AttachedDocument3" @(!string.IsNullOrWhiteSpace(srctxt3) ? "style=display:block !important" : "")>@srctxt3</p>
                                <p><button class="button button--text button--remove hidden" data-removeindex="3" data-uploader-remove="TenderBond_AttachedDocument3" @(!string.IsNullOrWhiteSpace(srctxt3) ? "style=display:block !important" : "")>@Translate.Text("Remove")</button></p>
                                @Html.HiddenFor(m => m.TenderBond_AttachmentRemove3, new { id = "flagremove3" })
                            </div>

                        </div>

                        <div id="description-for-TenderBond_AttachedDocument3" class="form-field__messages">
                            <p class="form-field__description">@Translate.Text("SS_BD_FileUploaderNote")</p>
                        </div>
                    </div>
                </fieldset>

                <div class="form-field__button">
                    <button type="submit" class="button button--primary button--fullwidth-mobile mb12" data-submission-text="@Translate.Text("Continue")...">@Translate.Text("Next")</button>
                    @if (Model.BidStatus == "1")
                    {
                        <a href="javascript:void(0)" data-tid="@(Model.TenderBidRefNumber)" class="button button--primary button--fullwidth-mobile mb12 doc-downloadbtn">@Translate.Text("SS_Download")</a>
                    }
                </div>
            }
        </div>
    </div>
</div>
<div style="display:none">
    <form id="scrap-doc-form" action="/api/sitecore/ScrapSale/DownloadBIDItemAttachment" method="post">
        @Html.AntiForgeryToken();
        <input type="hidden" name="bidrefno" id="bidrefno" class="bidrefno" value="" />
    </form>
</div>
<script type="text/javascript">
    docReady(function () {
        var i = 0;
        jQuery('.form-field__input--upload').each(function () {

            if (jQuery(this).closest(".form-field--upload").find(".form-field__preview").attr("src") != "/images/preview@2x.png") { //&& jQuery(this).closest(".form-field--upload").find(".form-field__preview").attr("src") != "/images/preview@2x.png") {
                i++;
                jQuery(this).attr('required', false);
                jQuery('#description-for-TenderBond_AttachedDocumentall').html('');
            }
            else {
                if (i != 0) {
                    jQuery(this).attr('required', false);
                    jQuery('#description-for-TenderBond_AttachedDocumentall').html('');
                }
                //else {
                //    jQuery(this).attr('required', true);
                //}
            }

        });
        if (i == 0) {
            jQuery('.form-field__input--upload').each(function () {
                jQuery(this).attr('required', true);
            });
        }
        setTimeout(function () {
            $(".doc-downloadbtn").on("click", function () {
                $(".bidrefno").val($(this).data("tid"))
                $("#scrap-doc-form").submit();

            });
        }, 500);

        // Attachment require atleast one
        jQuery('.form-field__input--upload').each(function () {
            jQuery(this).off('change.upload').on('change.upload', function () {
                if (jQuery(this).val().length > 0) {
                    jQuery('.form-field__input--upload').each(function () {
                        jQuery(this).attr('required', false);
                        jQuery('#description-for-TenderBond_AttachedDocumentall').html('');
                    });
                } else {
                    var j = 0;
                    jQuery('.form-field__input--upload').each(function () {

                        if (jQuery(this).closest(".form-field--upload").find(".form-field__preview").attr("src") != "/images/preview@2x.png") { //&& jQuery(this).closest(".form-field--upload").find(".form-field__preview").attr("src") != "/images/preview@2x.png") {
                            j++;
                            jQuery(this).attr('required', false);
                            jQuery('#description-for-TenderBond_AttachedDocumentall').html('');
                        }
                        else {
                            if (j != 0) {
                                jQuery(this).attr('required', false);
                                jQuery('#description-for-TenderBond_AttachedDocumentall').html('');
                            }
                            //else {
                            //    jQuery(this).attr('required', true);
                            //}
                        }

                    });
                    if (j == 0) {
                        jQuery('.form-field__input--upload').each(function () {
                            jQuery(this).attr('required', true);
                        });
                    }
                    //jQuery('.form-field__input--upload').each(function () {
                    //    jQuery(this).attr('required', true);
                    //});
                }
            });
        });

        // file remove function
        jQuery('.button--remove').each(function () {
            jQuery(this).off('click.remove').on('click.remove', function () {
                var $this = jQuery(this);

                setTimeout(function () {
                    var $index = $this.attr('data-removeindex');
                    if ($index == 1) {
                        jQuery("#flagremove1").val(true);
                    }
                    if ($index == 2) {
                        jQuery("#flagremove2").val(true);
                    }
                    if ($index == 3) {
                        jQuery("#flagremove3").val(true);
                    }
                    $this.closest('.form-field__input-wrapper').find('.form-field__input--upload').change();

                }, 100)
            });
        });
    })
</script>
<script src="~/Scripts/External/nml/form-submit-validate.js"></script>

