@using DEWAXP.Foundation.Integration.Enums
@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using Sitecore.Mvc
@using DEWAXP.Foundation.Content
@model DEWAXP.Feature.ScrapSale.Models.ScrapSale.TenderBidingConfirm


@if (Model.confirmSuccess)
{
    <div class="grid">
        <div class="grid__row mt48">
            <div class="grid__column grid__column--12 grid__column--content">
                <div class="m40-status-message m40-status-message--success icon icon-new-success-message" data-component="m40-status-message">
                    <div class="m40-status-message__title">@Translate.Text("SS_BD_SubmissionSuccess")</div>
                    <div class="m40-status-message__text">
                        <strong>@Html.Raw(string.Format("{0}<br/>{1}", Translate.Text("SS_BD_ReferenceNumber"), Model.confirmReferenceNumber))</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--content">
                <div class="success-summery">
                    <h2 class="summery-title">@Translate.Text("SS_BD_BidReferenceNumber")</h2>
                    <h2 class="summery-value">@Model.confirmBidReferenceNumber</h2>
                </div>
                <div class="success-summery">
                    <h2 class="summery-title">@Translate.Text("SS_BD_TenderNumber")</h2>
                    <h2 class="summery-value">@Model.confirmTenderNumber</h2>
                </div>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--centered grid__column--form">
                <div class="m17-sectiontitle">
                    <h2 class="text__section-title"><strong>@Translate.Text("SS_BD_Whatbext")</strong></h2>
                    <div class="m14-richtext mb0">
                        <p class="text__content-copy">
                            @Html.Raw(@Translate.Text("SS_BD_SubmitDesc"))
                        </p>
                        <div class="form-field__button">
                            <a role="button" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCRAPESALE_PORTAL_DASHBOARD)" class="button button--primary">
                                @Translate.Text("SS_BD_Dashboard")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
}

