@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Globalization
@using DEWAXP.Foundation.Helpers
@using DEWAXP.Foundation.Content
@model DEWAXP.Foundation.Content.Models.ScrapSale.TenderBiddingPaymentModel

<div class="grid__row">
    <div class="grid__column grid__column--12 grid__column--content">
        <!-- m26-page-title-start -->
        <div class="m26-page-title ">
            <div class="m26-page-title__links">
                <p class="m26-page-title__backlink">
                    <a class="button button--text button--back" href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCRAPESALE_PORTAL_DASHBOARD)">@Translate.Text("SS_BD_Dashboard")</a>
                </p>
            </div>
        </div>
        <!-- m26-page-title-end -->
        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")

        @if (Model != null)
        {
            if (Model.IsOnline)
            {
                <p style="display:none;">
                    Tender No: @(Model.TenderBidRefNumber) <br />
                    Epay No: @(Model.Epnumber)<br />
                    Ept ype: @(Model.Eptype)<br />
                    Refrence No: @(Model.ReferenceNo)<br />
                    Deg TransactionId: @(Model.DegTransactionId)<br />
                    Dewa TransactionId: @(Model.DewaTransactionId)<br />
                    Receipt: @(Model.ReceiptIdentifiers)<br />
                </p>
            }
        }
    </div>
</div>
@if (Model != null && !Model.IsJustPaid && !Model.IsError)
{
    <div class="m66-preloader">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    <h2 class="text__section-subtitle"> @Translate.Text("RedirectingToPayment")</h2>
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
    using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "ScrapeSaleForm", @style = "position:static;", @data_parsley_focus = "true", @data_form = "true", @class = "form", @data_submit_validate = "enabled", @novalidate = string.Empty, @autocomplete = "off" }))
    {
        @Html.Sitecore().FormHandler()
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.TenderBidRefNumber)
        @Html.HiddenFor(m => m.tenderFeeAmount)
        @Html.HiddenFor(m => m.TenderNumber)
        @Html.HiddenFor(m => m.TenderEndDescription)
        @Html.HiddenFor(m => m.TenderARDescription)
        <div class="m39-modal m39-modal--new j131-scrap-sales_modal" data-component="m39-modal" id="modal_true">
            <button data-trigger="true" class="m39-modal__trigger paymentBtn" id="_vl45qzjg1_trigger" type="button" aria-controls="_vl45qzjg1_content"></button>
            <div data-content="true" class="m39-modal__container" role="dialog" aria-expanded="true" id="_vl45qzjg1_content" aria-labelledby="_vl45qzjg1_trigger">
                <div class="m39-modal__dialog">
                    <div class="m39-modal__header">
                        <div class="m39-modal__title">@Translate.Text("SS_BD_Pay_PurchaseTender"): @Model.TenderBidRefNumber</div>
                        <a href="@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCRAPESALE_TENDER_PUCHASE_BIDITEM_STEP3)" class="m39-modal__button--close" id="_vl45qz455_close" aria-controls="_vl45qz455_content">@Translate.Text("TH.Close")</a>
                        <span class="aria-only" data-close></span>
                        <div class="m39-modal__subtitle">@Translate.Text("SS_BD_Pay_PurchaseSubtitle")</div>
                    </div>

                    <div class="m39-modal__content padding p-t-5">
                        <input name="transactionNumber" id="transactionNumber" type="hidden" value="@Model.TenderBidRefNumber" />
                        <div class="form-field" style="margin-top:1px">
                            <fieldset class="fieldset">
                                <legend class="legend-color">.</legend>
                                <div class="form-field">
                                    <fieldset class="fieldset">
                                        <legend class="legend-color">.</legend>
                                        <p class="form-field__radio ">
                                            <label>
                                                <input class="form-field__input form-field__input--radio" id="form-field-radio_tp_1_1" aria-label="form-field-radio_tp_1_1" name="IsOnline" type="radio" value="true" checked="checked" aria-describedby="description-for-qiwuv2ro1" data-parsley-errors-container="#description-for-qiwuv2ro1" data-parsley-multiple="radios_group1" data-parsley-id="7">
                                                <span class="form-field__fakeradio focus-enabled">
                                                    <strong>@Translate.Text("SS_BD_P_PayOnline")</strong>
                                                </span>
                                                <br>
                                                <span class="form-field__description align-radio-desc">
                                                    @Html.Raw(Translate.Text("SS_BD_P_PayOnlineDescription"))
                                                </span>
                                            </label>
                                        </p>
                                        <p class="form-field__radio mt24">
                                            <label>
                                                <input class="form-field__input form-field__input--radio" id="form-field-radio_tp_1_2" aria-label="form-field-radio_tp_1_1" name="IsOnline" type="radio" value="false" aria-describedby="description-for-qiwuv2ro1" data-parsley-errors-container="#description-for-qiwuv2ro1" data-parsley-multiple="radios_group1">
                                                <span class="form-field__fakeradio focus-enabled">
                                                    <strong>@Translate.Text("SS_BD_P_PayOffline")</strong>
                                                </span>
                                                <br>
                                                <span class="form-field__description align-radio-desc">
                                                    @Html.Raw(Translate.Text("SS_BD_P_PayOfflineDescription"))
                                                </span>
                                            </label>
                                        </p>
                                        <div id="description-for-qiwuv2ro1"></div>
                                    </fieldset>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="m39-modal__footer">
                        <button id="actualsubmit" type="submit" class="aria-only">@Translate.Text("Continue")</button>
                        <div id="submit1" class="button button--primary button--next">@Translate.Text("Continue")</div>
                    </div>
                </div>
            </div>
            <div class="m39-modal__overlay"></div>
        </div>
        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_PaymentPopup.cshtml", Model.tenderFeeAmount)
    }
<script>
            docReady(function () {
                setTimeout(function () {
                    try {
                        jQuery(".paymentBtn").click();
                    } catch (e) {
                        jQuery(".paymentBtn").click();
                    }


                }, 200)

            jQuery('.m39-model__payment-option-list.first').prepend('<div class="button button--text button--back" id="backtofirstmodal">@Translate.Text("Back")</div>')

            jQuery('#submit1').on('click', function () {
                if (jQuery('#form-field-radio_tp_1_1').prop('checked')) {
                    jQuery(this).closest('.m39-modal').find('[data-close]').click();
                    setTimeout(function () {
                        var total = numeral('@Model.tenderFeeAmount');
                        jQuery('#divPaymentAmountVal').attr('data-value', total);
                        jQuery('#divPaymentAmountVal').data('value', total);

                        if (numeral(total) > 0) {
                            //Set payment method based on paid amount
                            setPaymentMethod(total);
                            jQuery('.btnmodaltrigger').trigger('click');
                        }
                    }, 400);
                } else {
                    jQuery('#actualsubmit').click();
                }
            });

            jQuery('#backtofirstmodal').on('click', function () {
                jQuery(this).closest('.m39-modal').find('[data-close]').off('click.custom');
                jQuery(this).closest('.m39-modal').find('[data-close]').click();
                setTimeout(function () {
                    jQuery('.paymentBtn').click();
                    jQuery('.btnmodaltrigger').closest('.m39-modal').find('[data-close]').off('click.custom').on('click.custom', function () {
                        window.location.href = '@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCRAPESALE_TENDER_PUCHASE_BIDITEM_STEP3)';
                    });
                }, 400);
            });

            jQuery('.btnmodaltrigger').closest('.m39-modal').find('[data-close]').off('click.custom').on('click.custom', function () {
                window.location.href = '@LinkHelper.GetItemUrl(SitecoreItemIdentifiers.SCRAPESALE_TENDER_PUCHASE_BIDITEM_STEP3)';
            });
                jQuery('.btnmodaltrigger').closest('.m39-modal').addClass('m39-modal--nofocus');
            })
</script>
}

