@using DEWAXP.Foundation.Integration.Enums
@using DEWAXP.Foundation.Helpers
@using Sitecore.Globalization
@using DEWAXP.Foundation.Content
@using Sitecore.Mvc

@model DEWAXP.Foundation.Content.Models.Payment.PaymentCompletionModel
.
@{
    string timeFix = "";
    if (@Language.Current.Name.ToLowerInvariant() == "ar-ae")
    {
        timeFix = "\u200F";
    }
}
@{
    var dir = Sitecore.Context.Culture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
}
<div class="grid">
    <div class="grid__row noprint">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h2 class="text__page-title">@Translate.Text("EasyPay")</h2>
            </div>
        </div>
    </div>

    @if (Model.Succeeded)
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12 grid__column--form">
                <div data-component="m40-status-message" class="m40-status-message m40-status-message--success ">
                    <div class="m40-status-message__title icon--success">@Translate.Text("easypay.completed")</div>
                    <div class="m40-status-message__text">@Html.Raw(Translate.Text("easypay.successfully")) </div>
                </div>
            </div>
        </div>

        <div class="grid" data-journey="j131-scrap-sale">
            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    <!-- m26-page-title-start -->
                    <div class="m26-page-title ">
                        @*<div class="m26-page-title__links">
                                <p class="m26-page-title__backlink">
                                    <a href="" class="button button--text button--back">Back</a>
                                </p>
                            </div>*@
                        <h2 class="text__page-title">Bidding for Tender 123456</h2>
                    </div>
                    <!-- m26-page-title-end -->
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column grid__column--12 grid__column--form">
                    <div class="m40-status-message m40-status-message--success" data-component="m40-status-message">
                        <div class="m40-status-message__title">Payment Successful</div>
                        <div class="m40-status-message__text">
                            <p>Reference Number</p>
                            <p>0001234567</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="success-summery">
                    <h2 class="summery-title">Earnest Money Deposit Paid</h2>
                    <h2 class="summery-value">1234566787878</h2>
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Partial("~/Views/Feature/CommonComponents/Shared/_SubmissionError.cshtml")
    }

</div>
